<div id="accordion-product" role="tablist" aria-multiselectable="true">
        <div class="card row benefits">
          <div class="card-header col-md-12 col-xs-12" role="tab" id="headingOne1">
            <h5 class="mb-0">
              <button id="clickOne1">
                Benefits<i style="display:none" class="fa fa-sort-desc" aria-hidden="true"></i>
                <i class="fa fa-sort-asc" aria-hidden="true"></i>
              </button>
            </h5>
          </div>

          <div id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1">
            {% if product.handle == "claraprep" %}
            <div class="card-block">
              <div class="bnef-desc col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                <p class="text-center">Our uniquely formulated, ultra soothing, hydrating cream cleanser purifies the skin from daily debris and buildup, while preserving the skin’s natural moisture and vitality. It’s the perfect preparation for maximizing the benefits of skincare treatments.</p>
                <h4 class="text-center">ParabenS- & oil-free</h4>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
                <p>Myristic Acid and Glycerin for deep cleansing, hydration and toning</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
                <p>Conditioning moisturizers help attract and retain vital moisture in the skin</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
                <p>Botanical ingredients help soothe and nourish skin to keep it healthy</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-4.png' | asset_url }}" />
                <p>Cleansing that leaves skin fresh, hydrated and protected</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "clarafuse" %}
            <div class="card-block">
              <div class="bnef-desc col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                <p class="text-center">Clarafuse is made of medical grade silicone trusted by dermatologists and medical professionals to safely and effectively heal and normalize damaged skin affected by stretch marks or scars. Clarafuse’s proprietary blend of soft, high quality, medical grade silicone ofers breathability, flexibility, and comfort.</p>
                <h4 class="text-center">non-invasive, safe and painless</h4>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
                <p>Comfortable and easy to use, discreet enough to be worn under clothes</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
                <p>Reusable up to 30 times</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
                <p>Versatile shape that can be worn almost anywhere on the body</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-4.png' | asset_url }}" />
                <p>Developed by dermatologists for scientifically proven results</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "claraline" %}
            <div class="card-block">
              <div class="bnef-desc col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                <p class="text-center">An healing, soothing and cell renewal formulation with proven ingredients that reduce the appearance of stretch marks, promote cell reneval and stimulate collagen, in addition to smoothing and softening skin. </p>
                <h4 class="text-center">potent peptides and antioxidants </h4>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
                <p>Peptides stimulate collagen production helping skin heal itself.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
                <p>Provides intense hydration through the use of Hyaluronic acid, ginger and glycerin.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
                <p>Botanical ingredients help heal and nourish skin to keep it healthy</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-4.png' | asset_url }}" />
                <p>Antioxidants improve skin’s health and rejuvenate its appearance</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "claratone" %}
            <div class="card-block">
              <div class="bnef-desc col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                <p class="text-center">Helps skincare products penetrate deeper and faster into the stratum corneum of the dermis, helps stimulate the skin in order to improve its natural absorption rate.  </p>
              </div>
              <div class="benefits-item text-center claratone-first col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
                <p>Dramatically improves the absorption and efficacy of serums or creams</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
                <p>Improves skin’s firmness, tone and texture</p>
              </div>
              <div class="benefits-item text-center col-md-offset-0 col-md-3 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
                <p>Gentle pulsations are more effective than manual massaging</p>
              </div>

            </div>
            {% endif %}

            {% if product.handle == "claralips" %}
            <div class="card-block">
              <div class="bnef-desc col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                <p class="text-center">An ultra-hydrating, plumping lip serum that increases lip circulation, hydrates, and soothes. With proven, natural ingredients and vitamins, lips are left looking healthy, full, and supple.</p>
                <h4 class="text-center">POTENT PEPTIDES AND NATURAL HYDRATORS</h4>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
                <p>Peptides stimulate collagen production, as well as increase cell turnover, for healthy, plump lips.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
                <p>Infuses intense hydration into lips to keep them moisturized and protected.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
                <p>Can be worn alone for a natural sheen, or atop lipstick or lip gloss for a shiny boost.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-4.png' | asset_url }}" />
                <p>Advanced dispenser applies the exact amount of serum for no waste.</p>
              </div>
            </div>
            {% endif %}

            {% if product.handle == "clarasome" %}
            <div class="card-block">
              <div class="bnef-desc col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
                <p class="text-center">A light, hydrating moisturizer featuring advanced skin conditioning ingredients to restore radiance and glow. Skin is left healthy, hydrated, and supple. </p>
                {%comment%}<h4 class="text-center">potent peptides and antioxidants </h4>{%endcomment%}
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
                <p>Proven active ingredients like Hyaluronic Acid and glycerin to effect noticeable change in skin.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
                <p>Effective, lightweight hydrators moisturize skin without the heaviness associated with many moisturizers.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
                <p>Imparts a youthful glow after application, with or without makeup.</p>
              </div>
              <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
                <img alt="" src="{{ 'icon-4.png' | asset_url }}" />
                <p>Complements Dermaclara Silicone Fusion Treatment and improves skin’s condition.</p>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
        <div class="card row howtouse">
          <div class="card-header col-md-12 col-xs-12" role="tab" id="headingTwo2">
            <h5 class="mb-0">
              <button id="clickTwo2">
                How to use<i style="display:none" class="fa fa-sort-desc" aria-hidden="true"></i>
                <i class="fa fa-sort-asc" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div style="display:block;" id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
            {% if product.handle == "claraprep" %}
            <div class="card-block">
              <div class="left-howtouse col-lg-offset-1 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-7">
                <ul class="">
                  <li><span>01</span>Pump once or twice into wet hands and create a lather on skin using small, upward circles.</li>
                  <li><span>02</span>Rinse thoroughly and pat dry.</li>
                </ul>
              </div>

              <div class="right-howtouse col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
                <h3>PRO TIP:</h3>
                <p>All you need is one or two pumps to create a luxurious, cleansing lather.</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "clarafuse" %}
            <div class="card-block">
              <div class="left-howtouse col-lg-offset-1 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-7">
                <ul class="">
                  <li><span>01</span>After cleansing with <i>claraprep</i>, gently peel <i>clarafuse</i> from its plastic backing.</li>
                  <li><span>02</span>Apply carefully to dry, clean skin.</li>
                  <li><span>03</span>Use for up to 9 hours, then peel off using one hand to hold the skin taut, and the other hand to peel. Place in storage tray until next treatment.</li>
                </ul>
              </div>

              <div class="right-howtouse col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
                <h3>PRO TIP:</h3>
                <p>If you find <i>clarafuse</i> extra sticky, wet your hands before handling.</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "claraline" %}
            <div class="card-block">
              <div class="left-howtouse col-lg-offset-1 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-7">
                <ul class="">
                  <li><span>01</span>After treating skin with <i>clarafuse</i>, pump serum several times fingertips or palms of hand and apply to skin in small, upward circles.</li>
                  <li><span>02</span>Use <i>claratone</i> serum applicator to enhance absorption and results.</li>
                </ul>
              </div>

              <div class="right-howtouse col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
                <h3>PRO TIP:</h3>
                <p>The active ingredients in <i>claraline</i> work best when skin has been just treated with <i>clarafuse</i>.</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "claralips" %}
            <div class="card-block">
              <div class="left-howtouse col-lg-offset-1 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-7">
                <ul class="">
                  <li><span>01</span>Twist dispenser until <i>claralips</i>  lip serum appears.</li>
                  <li><span>02</span>Apply to dry, clean lips or on top of lipstick or lip gloss.</li>
                </ul>
              </div>

              <div class="right-howtouse col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
                <h3>PRO TIP:</h3>
                <p>After washing your face at night, apply <i>claralips</i> lip serum as a nighttime lip treatment, and wake up to soft, healthy lips.</p>
              </div>
            </div>
            {% endif %}
            {% if product.handle == "claratone" %}
            <div class="card-block">
              <div class="left-howtouse col-lg-offset-1 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-7">
                <ul class="">
                  <li><span>01</span>Apply claraline serum to <i>claratone</i> applicator surface, then gently place on skin and move in small, upward circles until serum is absorbed.</li>
                </ul>
              </div>

              <div class="right-howtouse col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
                <h3>PRO TIP:</h3>
                <p>Micropulsation enhances the anti-aging ingredients in <i>claraline</i>. Don’t skip this step!</p>
              </div>
            </div>
            {% endif %}

            {% if product.handle == "clarasome" %}
            <div class="card-block">
              <div class="left-howtouse col-lg-offset-1 col-lg-6 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-7">
                <ul class="">
                  <li><span>01</span>Wash skin with Dermaclara <i>claraprep</i> and pat dry.</li>
                  <li><span>02</span>Apply a pea-sized amount to entire face or to skin treated with Silicone Fusion Treatment.</li>
                </ul>
              </div>

              {%comment%}
              <div class="right-howtouse col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4">
                <h3>PRO TIP:</h3>
                <p>The active ingredients in <i>claraline</i> work best when skin has been just treated with <i>clarafuse</i>.</p>
              </div>
              {%endcomment%}
            </div>
            {% endif %}
          </div>
        </div>

        {% if product.handle == "claraprep" %}
        <div class="card row ingredients">
          <div class="card-header col-md-12 col-xs-12" role="tab" id="headingThree3">
            <h5 class="mb-0">
              <button id="clickThree3">
                Ingredients<i class="fa fa-sort-desc" aria-hidden="true"></i>
                <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3">
            <div class="card-block">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
                <p>Water, Myristic Acid, Glycerin, Cocamidopropyl Betaine, Stearic Acid, Sodium Methyl Cocoyl, Taurate, Potassium Hydroxide, Glycol Distearate, Dimethicone, Propylene Glycol, Polysorbate 20, Titanium Dioxide, Potassium Sorbate, Menthol, Magnesium Chloride, Magnesium Nitrate, Methylchloroisothiazolinone, Methylisothiazolinone, Fragrance, Disodium EDTA</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if product.handle == "claraline" %}
        <div class="card row ingredients">
          <div class="card-header col-md-12 col-xs-12" role="tab" id="headingThree3">
            <h5 class="mb-0">
              <button id="clickThree3">
                Ingredients<i class="fa fa-sort-desc" aria-hidden="true"></i>
                <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3">
            <div class="card-block">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
                <p>Water, Butylene Glycol, Acetyl Hexapeptide-8 (and) Phenoxyethanol (and) Potassium Sorbate, Niacinamide, Sodium Ascorbyl Phosphate, Glycerin, Phenoxyethanol, Benzoic Acid, Ethylhexylglycerin, Glycereth-2 Cocoate, Sodium Hyaluronate Acid Powder, Potassium Hydroxide, Citric acid Carbomer, Arnica Montana Flower Extract, Chamomilla Recutita (Matricaria) Flower Extract, Cucumis Sativus (Cucumber) Fruit Extract, Sambucus Nigra Flower Extract, Glycyrrhiza Glabra (Licorice) Root Extract, Prunus Armeniaca (Apricot) Fruit Extract, Zingiber Officinale (GInger) Root Extract, Prunus Amygdalus Dulcis (Sweet Almond) Fruit Extract, Passiflora Incarnata Fruit Extract, Curcuma Longa (Turmeric) Root Extract, Camellia Sinensis Leaf Extract, Centella Asiatica Extract, Phyllanthus Emblica Extract, Ocimum Teniflora (Tulsi) Extract, Fragrance, Aloe Barbadensis Leaf Juice</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if product.handle == "claralips" %}
        <div class="card row ingredients">
          <div class="card-header col-md-12 col-xs-12" role="tab" id="headingThree3">
            <h5 class="mb-0">
              <button id="clickThree3">
                Ingredients<i class="fa fa-sort-desc" aria-hidden="true"></i>
                <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
              </button>
            </h5>
          </div>
          <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3">
            <div class="card-block">
              <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
                <p>Water, Butylene Glycol, Acetyl Hexapeptide-8 (and) Phenoxyethanol (and) Potassium Sorbate, Niacinamide, Sodium Ascorbyl Phosphate, Glycerin, Phenoxyethanol, Benzoic Acid, Ethylhexylglycerin, Glycereth-2 Cocoate, Sodium Hyaluronate Acid Powder, Potassium Hydroxide, Citric acid Carbomer, Arnica Montana Flower Extract, Chamomilla Recutita (Matricaria) Flower Extract, Cucumis Sativus (Cucumber) Fruit Extract, Sambucus Nigra Flower Extract, Glycyrrhiza Glabra (Licorice) Root Extract, Prunus Armeniaca (Apricot) Fruit Extract, Zingiber Officinale (GInger) Root Extract, Prunus Amygdalus Dulcis (Sweet Almond) Fruit Extract, Passiflora Incarnata Fruit Extract, Curcuma Longa (Turmeric) Root Extract, Camellia Sinensis Leaf Extract, Centella Asiatica Extract, Phyllanthus Emblica Extract, Ocimum Teniflora (Tulsi) Extract, Fragrance, Aloe Barbadensis Leaf Juice</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>