<?xml version="1.0" encoding="UTF-8"?>
<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
  <title>Fill 1</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Clinical-Results" transform="translate(-119.000000, -2012.000000)" fill="#5FC8C8">
      <path d="M119,2017.26033 C119.082194,2017.25742 119.164353,2017.252 119.246512,2017.252 C122.133791,2017.25154 125.021069,2017.25161 127.908348,2017.25161 L128.11018,2017.25161 C126.718985,2015.85419 125.330965,2014.45997 123.956885,2013.07975 C124.346681,2012.68777 124.694551,2012.33791 125.030598,2012 C127.019775,2013.99865 129.017846,2016.00627 131,2017.99787 C129.016611,2019.99022 127.015293,2022.00053 125.024775,2024 C124.696104,2023.67074 124.347599,2023.32159 123.981978,2022.95528 C125.355246,2021.57591 126.742453,2020.18253 128.160118,2018.75857 L127.925852,2018.75857 C125.032715,2018.75857 122.139543,2018.75864 119.246406,2018.75818 C119.164283,2018.75814 119.082124,2018.75233 119,2018.74924 L119,2017.26033 Z" id="Fill-1"></path>
    </g>
  </g>
</svg>