<div id="before-after-results" class="results-video-titles">
  <div class="container">
    <h1 class="text-center">Real Results Don't Lie</h1>
    <div class="row">
      {% for i in (1..4) %}
      {% capture show_slide %}results_before_after_{{ i }}{% endcapture %}
      {% capture image %}results_before_after_{{ i }}.png{% endcapture %}
      {% capture text_for_img %}text_for_img_{{ i }}{% endcapture %}
      {% if settings[show_slide] %}
      <div class="be-after-item col-md-6">
        <img class="img-fans1 lazyOwl" src="{{ image | asset_url }}" alt/>
        <h3 class="text-center">{{ settings[text_for_img] }}</h3>
      </div>
      {% endif %}
      {% endfor %}  
    </div>
  </div>

  <style>
   
    #before-after-results h1 {
      margin-bottom: 60px;
    }
    #before-after-results .be-after-item {
      margin-bottom: 50px;
    }
    #before-after-results .be-after-item h3 {
      font-size: 24px;
      line-height: 34px;
      margin: 25px 0 10px;
    }
    #results-new #before-after-results .item-before{
      text-align: center;
    }
    #results-new #before-after-results h2{
      border-bottom: 1px solid #bdbdbd;
      border-top: 1px solid #bdbdbd;
      color: #444037;
      font-family: "Crimson Text",serif;
      font-size: 35px;
      margin-bottom: 30px;
      margin-top: 49px;
      padding: 30px 0;
      text-align: center;
      text-transform: none;
    }
    #results-new #before-after-results .owl-buttons div{
      background-color: transparent;
      background-image: url({{ 'arrow-small.png' | asset_url }});
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 20px auto;
      height: 30px;
      margin: 0;
      opacity: 0.55;
      overflow: hidden;
      padding: 0;
      position: absolute;
      text-indent: -9999px;
      top: 36.5%;
      width: 25px;
    }
    #results-new #before-after-results .owl-buttons div.owl-prev{
      left: -60px;
      transform: rotate(180deg);
    }
    #results-new #before-after-results .owl-buttons div.owl-next{
      right: -60px;
    }
    #results-new #before-after-results .owl-pagination .owl-page{
      border: 1px solid #bebebe;
      border-radius: 20px;
      margin: 0 8px;
      padding: 2px;
    }
    #results-new #before-after-results .owl-pagination .owl-page.active span{
      background: #ff4365 none repeat scroll 0 0;
    }
    #results-new #before-after-results .owl-pagination .owl-page span{
      background: transparent none repeat scroll 0 0;
      height: 9px;
      margin: 0;
      padding: 0;
      width: 9px;
    }
    #results-new #before-after-results .owl-controls{
      margin-bottom: 50px !important; 
      margin-top: 40px !important;
    }


  </style>