<div class="pl-50 sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="follow-social">
    {%comment%}
    <img alt="" src="{{ 'hererit.png' | asset_url }}" />
    <h3 class="sidebar-title">Hererit</h3>
    <p>Lorem ipsum dolor volti amet lorem consttur aipiscing elitccv proin tredim ipsum moeum tincidunt fringilla urna sed lorem Tincidunt fermentum quisque imperdiet.</p>
    {%endcomment%}
    {% include 'social-links' %}
  </div>
  <div class="newsletter-subscribe">
    <h3 class="sidebar-title">Newsletter</h3>

    {% comment %}
    {% if settings.newsletter_form_action != blank %}
    {% assign form_action = settings.newsletter_form_action %}
    {% else %}
    {% assign form_action = '#' %}
    {% endif %}
    <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="">
      <input type="name" value="{% if customer %}{{ customer.name }}{% endif %}" placeholder="Name" name="Nmae" id="name" aria-label="{{ 'general.newsletter_form.newsletter_name' | t }}" autocorrect="off" autocapitalize="off" required>
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" required>
      <input type="button" class="btn" name="subscribe" id="subscribe" value="Sign up">
      <p class="response-subscribe-messages" style="display:none;font-size: 11px;color: #ff0000;"></p>
    </form>
    {% endcomment %}

    <form action="https://dermaclara.us3.list-manage.com/subscribe/post-json?u=79d7e73d019263b0357439940&amp;id=10b04f8fa7&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <div class="mc-field-group">
          <input type="text" value="" name="NAME" class="required name" id="mce-NAME" placeholder="Name">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
        </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_79d7e73d019263b0357439940_10b04f8fa7" tabindex="-1" value=""></div>
        <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn">

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>   
      </div>
    </form>

    <script>
      $(document).ready( function () {
        // I only have one form on the page but you can be more specific if need be.
        var $form = $('form#mc-embedded-subscribe-form');

        if ( $form.length > 0 ) {
          $('form input[type="submit"]#mc-embedded-subscribe').bind('click', function ( event ) {
            if ( event ) event.preventDefault();
            // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
            var email = $('#mce-EMAIL').val();
            var name = $('#mce-NAME').val();
            console.log(email);
            $('.required').each(function(){
              if($(this).val() === ''){
                $(this).css('border','1px solid #E38065');
              }
              else{
                $(this).css('border','1px solid #ddd');
              }
            });
            if ( isValidEmail(email) && name != '' ) { 
              register($form); 
              $('#mce-error-response').hide().text('');
            }else{
              $('#mce-error-response').show().text('Please validate your name & your email address!');
            }
          });
        }
      });

      function register($form) {
        jQuery.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize(),
          cache       : false,
          dataType    : 'json',
          contentType: "application/json; charset=utf-8",
          error       : function(err) { $('#mce-error-response').show().text("Could not connect to the registration server. Please try again later."); },
          success     : function(data) {
            if (data.result != "success") {
              // Something went wrong, do something to notify the user. maybe alert(data.msg);
              $('#mce-error-response').show().text(data.msg); 
              if (data.msg.indexOf("is already subscribed") >= 0)
              {
                var text_msg = data.msg.split('is already subscribed to list Dermaclara'); 
                $('#mce-error-response').show().html('<a style="text-decoration: underline;cursor: pointer;">'+ text_msg[0]+'</a> is already subscribed');
              }
              else
              {
                $('#mce-error-response').show().text(data.msg);
              }
            } else {
              // It worked, carry on...
              $('#mce-success-response').show().text("Thanks for subscribing.");
              $('#mc-embedded-subscribe').hide();
              $('#mc-field-group-wrapp').hide();
              $('#mc-embedded-subscribe-form')[0].reset();
            }
          }
        });
      }

      function isValidEmail(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
        return true;
      };
    </script>
  </div>

  <h3 class="sidebar-title">Categories</h3>
  <ul class="categories-wrapp">
    <li>{% include 'arrow-right' %} <span>{{ blog.title }}</span><a href="{{ blog.url }}" class="number">( {{ blog.articles_count }} )</a></li>
  </ul>

  <h3 class="sidebar-title">Popular Posts</h3>
  <ul class="most-popular">
    {% for article in blogs[blog.handle].articles limit:4 %}
    <li class="article">
      <div class="image-thumb">

        {% if article.image %}
        <a class="post_thumbnail" href="{{ article.url }}">
          <img class="fade-in lazyload" data-src="{{ article.image | img_url: 'master' }}" />
        </a>
        {% else %}

        {% if article.content contains '</iframe>' %}
        {% assign my_video_url = article.content | escape %}
        {% if my_video_url contains 'iframe' %}
        {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
        {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
        {% assign my_video_url = my_video_url[0] %}
        <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
        {% endif %} 
        {% else %}
        <a class="post_thumbnail" href="{{ article.url }}">
          {% assign my_image_url=article.content | escape %}
          {% if my_image_url contains '&lt;img' %}
          {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
          {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
          {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
          {% assign my_image_url = my_image_url | remove: 'http:' %}
          {% assign my_image_url = my_image_url | remove: 'https:' %}
          <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
          {% else %}
          <img class="fade-in lazyload" data-src="{{ 'no-image.png' |asset_url }}" />
          {% endif %}
        </a>
        {% endif %}

        {% endif %}
      </div>
      <h3>
        <a href="{{ article.url }}">{{ article.title }}</a>
        <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
        <a class="readmore" href="{{ article.url }}">Read more</a>
      </h3>
    </li>
    {% endfor %}
  </ul>

  <h3 class="sidebar-title">Instagram</h3>
  <div id="blog-instagram">
    <div class="container">
      {% assign link = '{{link}}' %}
      {% assign url = '{{image}}' %}
      {% assign caption = '{{caption}}' %}
      <div id="instafeed" class="row">
      </div>
      <script type="text/javascript">

        $(document).ready(function() {  
          var userFeed = new Instafeed({
            get: 'user',
            limit: 6,
            userId: 2209962577,
            accessToken: '2209962577.1677ed0.3de4a1095e304899badfbdd599f50a5d',
            resolution: 'standard_resolution',
            template: '<div class="ins-item col-xs-6 col-sm-6 col-md-6 col-lg-6"><a target="_blank" href="{{link}}" rel="gallery1" title="{{ caption }}"><span class="wrapper-img"><span class="wrapper-img-chill"><img class="instagram-image fade-in lazyload" data-src="{{ url }}" /></span></span></a></div>'
          });
          userFeed.run();
        });
      </script>
    </div>
  </div>

</div>
