
<div id="results-text-wrapp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="results-text-group">

          <div class="results-text">
            <h1>87<sup>%</sup></h1>
            <p>smoother <span>skin</span></p>
          </div>
          <div class="results-text">
            <h1>85<sup>%</sup></h1>
            <p>stretch marks <span>visibly improved</span></p>
          </div>
          <div class="results-text">
            <h1>90<sup>%</sup></h1>
            <p>prefer to use over surgery <span>or laser treatments</span></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{% include 'popup-pdf' %}

<script>
  $(document).ready(function(){
    {% for i in (1..23) %}
    $("#testimonial-player-{{i}}").on("finish", function(){
      $("#popup-testimonial-player-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-testimonial-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#testimonial-player-{{i}}").attr('src',$("#testimonial-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#testimonial-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#testimonial-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }
    }
  });
  {% endfor %}
  });
</script>