{% if page.handle == 'espanol-wrinkles' %}
<div class="results-text-group">
  <div class="results-text">
    <p style="text-align: center;color: #ff4365!important;font-weight:600;"><b style="font-size: 48px;">3</b> de <b style="font-size: 48px;"> 4</b><span>mujeres informan<sup>*</sup></span></p>
  </div>
  <div class="results-text">
    <p>una piel más suave</p>
  </div>
  <div class="results-text">
    <p>prefiere sobre <span>cirugía o láser</span></p>
  </div>
  <div class="results-text">
    <p>fácil de aplicar</p>
  </div>
</div>
{% elsif page.handle == 'espanol' %}
<div class="results-text-group">
  <div class="results-text">
    <p>prefiero <strong>clarafuse</strong> <span>sobre cirugía o láser</span></p>
  </div>
  <div class="results-text">
    <p>estrías visiblemente<span>mejoradas</span></p>
  </div> 
  <div class="results-text">
    <p>piel mas <span>suave</span></p>
  </div>
  <div class="results-text">
    <p><strong>clarafuse</strong> es <span>comodo y facil</span></p>
  </div>
</div>
{% else %}
<div class="results-text-group">
  <div class="results-text">
    <p>prefer <strong>clarafuse</strong> over <span>surgery or laser</span></p>
  </div>
  <div class="results-text">
    <p>stretch marks <span>visibly improved</span></p>
  </div>
  <div class="results-text">
    <p>smoother <span>skin</span></p>
  </div>
  <div class="results-text">
    <p><strong>clarafuse</strong> is <span>comfortable and easy</span></p>
  </div>
</div>
{% endif %}