
    <!-- candyrack-script -->
    <script>
        CANDYRACK_DOCUMENT_LISTENER = true;
    </script>
    <script defer src="https://candyrack.ds-cdn.com/static/main.js?shop={{shop.permanent_domain}}"></script>
    <!-- / candyrack-script -->
    