<div class="site-nav__dropdown" id="cart-dropdown">
  {% if cart.item_count > 0 %}

  <div class="dropd-wrapp">
    {% for item in cart.items %}
    {% assign item_title = item.url %}
    <div class="cart-item-dropd item-{{item.id}}">
      <div class="h-img">
        <a href="{{ item.product.url }}">
          {% if item.product.handle == 'advanced-silicone-fusion-treatment-5' or item.product.handle == 'basic-silicone-fusion-treatment' %}
          <img class="item-img hmak-lazy" hmak-src="{{ item.product.images[1].src | img_url: 'compact' }}" alt="{{ item.title | escape }}">
          {% else %}
          <img class="item-img hmak-lazy" hmak-src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}">
          {% endif %}
        </a>
      </div>

      <div class="h-detail">
        <a href="{{ item.product.url }}">{{ item.product.title }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span></a>
        <p class="meta-text">{{item.product.metafields.featured.text}}</p>
        <p class="price">{{ item.price | money }} x {{ item.quantity }}</p>
        <a href="javascript:void(0);" class="ajaxcart__remove" data-id="{{item.id}}">Remove</a>
      </div>
    </div>
    {% endfor %}

    <div class="check-out-btn">
      <h3>Subtotal: <span class="wh-original-cart-total"><span class='wh-original-price'>{{ cart.total_price | money }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></h3>
      <button type="button" id="checkout" class="btn" onClick="location.href='/checkout'">Checkout</button>
    </div>

  </div>
  {% else %}
  <p>Your cart is empty!</p>
  {% endif %}
</div>

{% if cart.item_count > 0 %}
<script>
  $(document).ready(function(){
    $('#cart-dropdown .ajaxcart__remove').click(function(){
      var item_id = $(this).attr('data-id');    
      $.ajax({
        type: 'POST',
        url: '/cart/change.js',
        data:	{quantity: 0, id: item_id},
        dataType: 'json',
        success: function(){
          $.getJSON("/cart.js", function (results) {
            if(results.item_count == 0){
              $('#cart-dropdown').html("<p>Your cart is empty!</p");
              $('.cart.external span').remove();
            }else{
              $('#cart-dropdown .item-'+item_id).remove();
              $('.cart.external span').text('('+results.item_count+')');
              $('.check-out-btn h3').html('Subtotal: '+ Shopify.formatMoney(results.total_price, ''));
            }
          });
        }
      });
    });
  });
</script>
{% endif %}