<div class="site-nav__dropdown" id="account-dropdown">
  <h5>{{ customer.name }}</h5>
  <ul>
    <li><a href="/account">My Details</a></li>
    <li><a href="/account#account-order">Order History</a></li>
    <li><a href="/account/logout">Sign out</a></li>
  </ul>
</div>