{% assign index = 0 %}
{% if settings.show_promo_image_1 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_2 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_3 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_4 %}{% assign index = index | plus: 1 %}{% endif %}
{% case index %}
{% when 1 %}
{% assign promo_image_width = 'one-whole' %}
{% when 2 %}
{% assign promo_image_width = 'one-half' %}
{% when 3 %}
{% assign promo_image_width = 'small--one-whole one-third' %}
{% when 4 %}
{% assign promo_image_width = 'small--one-whole medium--one-half one-quarter' %}
{% endcase %}
{% unless index == 0 %}

<section id="promo-img" class="promo-images wrinkle">
  <div class="promo-mb">

  </div>
  <div class="caption-promo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Revolucionaria Tecnología de Fusión de Silicona
            <img class="top-clinically" src="{{ 'dermatologist_approved.png' | asset_url }}" alt="">
          </h1>
          <p class="hero-text">Está demostrado que <i>Clarafuse</i> trata las líneas y arrugas de manera indolora y en la comodidad de su propio hogar — sin inyecciones, tratamientos con láser, productos químicos, o cirugía.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-0 col-md-6 col-xs-offset-0 col-xs-12">
          <div class="clarafuse-hero clarafuse-hero-wrinkles">
            <img class="clarafuse-img" src="{{ 'hero-image-prod-wrinkles.png' | asset_url }}" alt="" />
          </div>
        </div>
        <div class="col-md-5 col-xs-12">
          <div class="slide-video-popup">
            <img class="video-img" src="{{ 'video-top.jpg' | asset_url }}" alt="" />
            <div class="slide-video-play">
              <a class="play-button no-scroll open-slide-video-popup" href="#slide-video-popup"><img class="" src="{{ 'btn-play.png' | asset_url }}" alt="" /></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="learn-more-button align-center">
            <a class="shop-now-top" href="/pages/wrinkles/#home-results">Más información</a>
            <a class="arrow-btn" href="/pages/espanol-wrinkles/#home-results"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden">
    <div class="popup-vimeo-wrapper" id="slide-video-popup">
      <div class="video-container">
        <iframe id="slide-player-popup" link-src="{{settings.promo_slide_video_link}}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup" width="" height="" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
 
  
  
</section>
<script>
  $(document).ready(function(){
    $("#slide-player-popup").on("finish", function(){
      $("#slide-video-popup .mfp-close").trigger("click");
    });
    $("#slide-player-popup").on("pause", function(){
      //$("#slide-video-popup .mfp-close").trigger("click");
    });
    $('.open-slide-video-popup').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#slide-player-popup").attr('src',$("#slide-player-popup").attr('link-src'));
          setTimeout(function(){$("#slide-player-popup").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#slide-player-popup").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });
  
  
</script>
{% endunless %}
