<section id="packages" class="packages-wrinkles">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h2 class="section-title text-center">Pruebe Hoy Sin Compromiso</h2>
      </div>
    </div>

    {% assign prod = all_products.avanzado-tratamiento-de-fusion-de-silicona-para-las-arrugas %}
    {% assign variant = prod.variants.first %}
    {% if prod.available %}
    {% assign sold_out = false %}
    {%else%}
    {% assign sold_out = true %}
    {% endif %}
    
    <div id="shop" class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="packages-advance packages-subbox">
          <div id="packages-advance-desktop" class="packages-inside">
            <div class="packages-inside-wr">
              <div id="packages-advance-slider">
                <img {% unless sold_out %}style="cursor:pointer;"{% endunless %} class="show-dk" src="{{ prod.images[0].src | img_url: 'master' }}" alt="" {% unless sold_out %}onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)"{% endunless %}/>
                <img {% unless sold_out %}style="cursor:pointer;"{% endunless %} class="show-750" src="{{ prod.images[0].src | img_url: 'master' }}" alt="" {% unless sold_out %}onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)"{% endunless %}/>
                <div class="free-giff">
                  <h3>Obsequio
                    <span>con la compra</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div id="packages-advance-details">
          <div class="include-kit ">
            <h3 class="text-center title">{{prod.title}}</h3>
            <div class="price-addtobag">
              <p>
                <span class="inc-det-l">{{prod.price | money | remove:".00" | remove:" "}}</span> 
                <span class="inc-det-pre inc-det-r">({{prod.compare_at_price | money | remove:".00" | remove:" "}} valor)</span>
              </p>
            </div>
            <label>El juego incluye:</label>
            <ul class="includes-details wrinkles-includes-details {% if sold_out %}out-of{% endif %}">
              <li>5-piezas de <span> <a class="open-popup-product no-scroll" href="#popup-product-7735099465">clarafuse</a></span> <span class="inc-det-pre">({{all_products.clarafuse-for-chest.price|times:1|money|remove:".00"|remove:" "}})</span></li>
              <li><span><a class="open-popup-product no-scroll" href="#popup-product-{{all_products.claralips.id}}">claralips</a></span> suero de colágeno para labios <span class="inc-det-pre">({{all_products.claralips.price|money|remove:".00"|remove:" "}})</span></li>
              <li><span><a class="open-popup-product no-scroll" href="#popup-product-{{all_products.exfoliator.id}}">exfoliator</a></span> de Silicona <span class="inc-det-pre">({{all_products.exfoliator.price|money|remove:".00"|remove:" "}})</span></li>

            </ul>
          </div>
          <div id="gifts-wrapp">
            {% assign produ = all_products.clarasome %}
            <h3 class="">Regalo especial</h3>
            <p>¡Un valor de {{produ.price | money | remove:".00" | remove:" "}}!</p>
            <ul>
              <li>Gel Bloqueador de Humedad <a class="open-popup-product no-scroll" href="#popup-product-{{all_products.clarasome.id}}">clarasome</a> </li>
            </ul>
          </div>
          
          {% if sold_out %}
          <div class="notification">
            <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
          </div>
          {% endif %}
          
          <div class="price-addtobag">
            {% if sold_out %}
            <a href="javascript:void(0)" class="notify-me btn open-extra-popup-product-wrinkles open-popup-product no-scroll" onclick="addNotifyOpenPopup('{{prod.title}}','{{prod.variants[0].sku}}')">NOTIFY ME</a>
            <a href="#popup-notify-me" class="notify-me-popup btn open-extra-popup-product-wrinkles open-popup-product no-scroll hidden">NOTIFY ME</a>
            {% else %}
            <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product-2"></a>
            <a class="btn addtocart-wrinkles" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)">Añadir AL CARRITO</a>
            <p class="response-message-{{prod.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Agregado al carrito! Ver  <a href="/cart">carrito</a></p>
            {% endif %}
          </div>
        </div>  
      </div>
    </div>
    
    <script>
      $(document).ready(function() {
        $('.addtocart-wrinkles').click(function(e){
          snaptr('track', 'ADD_CART', {'currency': '{{shop.currency}}', 'price': {{prod.price | money_without_currency}} , 'item_category': '{{prod.title}}','item_ids':
          ['{{prod.id}}'], 'payment_info_available': 1});
          });
      });
    </script>

    <!------------------------------------------------------------------------------------------------------------------------>

    <div class="row">
      <div class="regime-timer col-lg-12 col-md-12 col-sm-12 col-xs-12 pay-multi control-clock">
        <span class="timer-message"><span class="want-it-snoo text-bold">¿LO QUIERE antes?</span> Ordene dentro de los próximos <span id="dynamic-timer"><span class="dynamic-minus">3</span> minutos <span class="dynamic-seconds">33</span> segundos</span> y reciba el <span class="text-bold free-shipping">Envío Gratuito</span> al momento de la compra.</span>
      </div>
    </div>

    {% if settings.show_individual_products %}
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h3 class="shopfor-title">shop for <br><a id="click-show-bag" href="#home-products" onclick="$('.prod-details').addClass('show-bag');$('.video-buy .prod-buy').show();$.cookie('show_addtocart_btn', '1', { expires: 0.04, path: '/' });"><span>individual products</span></a></h3>
      </div>
    </div>
    {% endif %}

  </div>
  <style>

    #espanol-wrinkles #packages-advance-slider .free-giff h3 {
      font-size:12px;     
      letter-spacing: 2px;
    }
    
    #espanol-wrinkles #packages h3.title {
      font-size: 18px;
      line-height: 26px;
    }
    
    #espanol-wrinkles #packages-advance-details .include-kit label{
      font-size: 16px;
    }
    
    #espanol-wrinkles #gifts-wrapp {
   	  max-width: 275px;
    }
    
    @media screen and (min-width: 1200px){
      #packages-advance-details ul.includes-details li, #packages-advance-details ul.free-gifts-details li {
        font-size: 17px !important ;
      }
      #espanol-wrinkles #packages-advance-details ul.includes-details li, 
      #espanol-wrinkles #packages-advance-details ul.free-gifts-details li {
        font-size: 14px !important ;
      }
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      .packages-wrinkles #gifts-wrapp {
        max-width: 222px !important ;
      }
    }

    @media screen and (max-width: 1199px) and (min-width: 992px) {
      #packages-advance-details ul.includes-details li, #packages-advance-details ul.free-gifts-details li {
        font-size: 12px !important ;
      }
    }

    @media screen and (max-width: 991px) and (min-width: 480px)  { 
      #packages-advance-details .wrinkles-includes-details,ul.wrinkles-includes-details li {
        max-width: 250px !important ;
      }
    }
    @media screen and (max-width: 479px) {
      #packages-advance-details .wrinkles-includes-details,ul.wrinkles-includes-details li {
        max-width: 256px !important ;
      }

    }
  </style>

</section>


{% include 'popup-products-espanol-wrinkles' %}