{% unless grid_item_width %}
{% assign grid_item_width = 'large--one-third medium-down--one-half' %}
{% endunless %}

{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

{% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
{% assign free_gift = product.description | split:'[free-gift]' | last | split:'[/free-gift]' | first %}


<div id="product-id-{{product.id}}" class="product-item col-md-6 col-sm-12 col-xs-12">
  <div class="product-image text-center">
    <a class="product-title" href="javascript:void(0);" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">{{ product.title }}</a>
    {% comment %}<p class="meta-text">{{product.metafields.featured.text}}</p>{% endcomment %}
    <a href="javascript:void(0);" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">
      {% assign featured_image = product.featured_image %}
      {% assign featured_image = product.images[1] %}      
      <img class="hmak-lazy" hmak-src="{{ featured_image.src | img_url: '2048x2048' }}" alt="{{ featured_image.alt | escape }}">
    </a>

    <div class="set-include">
      <p>El juego incluye {{ include_content }} {% if product.handle contains "avanzado" %}<span style="text-transform:uppercase;color: #ff4365;font-weight: 600;">regalo especial de NAVIDAD:</span> {{ free_gift }}{% endif %}</p>

    </div>

    {% if product.handle contains 'avanzado' %}
    <div class="seal-bestbang">Vacaciones especiales</div>
    <div class="arrow-cir">arrow</div>
    {% endif %}

    <div class="product-detail">

      <h4 class="price">
        {% capture price %}
        {{ product.price | money | remove: '.00' }}{% endcapture %}
        {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
        {% if on_sale %}
        <span class="cost-price">({{ product.compare_at_price | money | remove: '.00' }} valor)</span>
        {% endif %}
      </h4>
      {% comment %}
      <div class="reviews_count">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {% endcomment %}

      {% if sold_out %}
      <div class="notification">
        <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
      </div>
      {% endif %}

      <div class="price-addtobag">
        {% if sold_out %}
        <a href="javascript:void(0)" class="notify-me btn open-extra-popup-product open-popup-product no-scroll" onclick="addNotifyOpenPopup('{{product.title}}','{{product.variants[0].sku}}')">NOTIFY ME</a>
        <a href="#popup-notify-me" class="notify-me-popup btn open-extra-popup-product open-popup-product no-scroll hidden">NOTIFY ME</a>
        {% else %}
        <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product"></a>

        <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">Añadir a la cesta</a>

        <p class="response-message-{{product.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Agregado al carrito! Ver  <a href="/cart">carrito</a></p>
        {% endif %}
      </div>
      {% comment %}<a class="learn-more btn" href="{{ product.url | within: collection }}">Learn More</a>{% endcomment %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#product-id-{{product.id}} .addtocart').click(function(e){
     
  });
</script>