<section id="packages" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h2 class="section-title text-center">Pruébelo hoy sin compromiso</h2>
      </div>
    </div>

    <div class="row">
      {% for product in collections.espanol-collection-1.products %}
      {% include 'espanol-product-grid-item' %}
      {% endfor %}
    </div>

    {% comment %}
    <div class="row">
      <div class="col-md-12 text-center">
        <a class="shop-btn" href="/collections/shopping-page">Shop Now</a>
      </div>
    </div>
    {% endcomment %}

    <div class="row">
      <div class="regime-timer col-lg-12 col-md-12 col-sm-12 col-xs-12 pay-multi control-clock">
        <span class="timer-message"><span class="want-it-snoo text-bold">¿LO QUIERE antes?</span> Ordene dentro de los próximos <span id="dynamic-timer"><span class="dynamic-minus">3</span> minutos <span class="dynamic-seconds">33</span> segundos</span> y reciba el <span class="text-bold free-shipping">Envío Gratuito</span> al momento de la compra.</span>
      </div>
    </div>
    

  </div>
</section>

{% include 'popup-products-espanol' %}

