<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <h3>Línea Profesional</h3>
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <button data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            value sets<i class="fa fa-sort-desc" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          {% for product in collections.espanol-collection.products %}

          {% unless current_collection == blank %}
          {% assign current_collection = collection %}
          {% endunless %}

          {% assign on_sale = false %}
          {% assign sale_text = 'products.product.sale' | t %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% assign sold_out_text = 'products.product.sold_out' | t %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}

          <div class="product-item">
            <div class="product-image">
              <a href="javascript:void(0);" onclick="addProductToCartandOpenPopupForSidebar({{product.variants[0].id}},1);">
                <img class="hmak-lazy" hmak-src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
              </a>
              {% if product.handle contains 'avanzado' %}
              <div class="best-value">best-value</div>
              {% endif %}
            </div>
            <div class="product-detail">
              <a class="product-title" href="javascript:void(0)" onclick="addProductToCartandOpenPopupForSidebar({{product.variants[0].id}},1);">{{ product.title }}</a>
              <p class="meta-text">{{product.metafields.featured.text}}</p>
              {% if product.handle contains 'avanzado' %}
              <p class="free-purchase">Tiempo Limitado de Bonificación</p>
              {% endif %}
            </div>
          </div>

          {% endfor %}    
        </div>
      </div>
    </div>
    
    {% comment %}   
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <button class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            products<i class="fa fa-sort-desc" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          {% for product in collections.collection-new.products %}

          {% unless current_collection == blank %}
          {% assign current_collection = collection %}
          {% endunless %}

          {% assign on_sale = false %}
          {% assign sale_text = 'products.product.sale' | t %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% assign sold_out_text = 'products.product.sold_out' | t %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}

          <div class="product-item col-md-12 col-sm-12 col-xs-12">
            <div class="product-detail">
              {% if product.handle == 'claralips' %}
              <a class="product-title" target="_blank"href="https://www.claralips.com/">{{ product.title }}</a>
              {% else %}
              <a class="product-title" href="{{ product.url }}">{{ product.title }}</a>
              {% endif %}
              
              <p class="meta-text">{{product.metafields.featured.elements}}</p>
            </div>
          </div>

          {% endfor %}    
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a href="/pages/results">results</a>
        </h5>
      </div>
    </div>
    {% endcomment %}   
  </div>
  <a class="btn" href="/collections/shopping-page">aprende más</a>
  <button id="closeLeftPush" class="close-btn">close</button>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <div class="line-wrapp">
    <div class="line-item">
      <h3 class="show-tablet-mb">Profesional Línea</h3>
      <div class="line-img">
        <img class="hmak-lazy" hmak-src="{{ 'professional.jpg' | asset_url }}" alt="" />
      </div>
      <div class="line-text">
        <h3>Profesional Línea</h3>
        <p class="price">starting at $330</p>
        <ul>
          <li>- available at spas and skincare professional offices</li>
          <li>- a customized solution for wrinkles, and stretch marks</li>
        </ul>
        <a href="/pages/find-a-professional" class="find-btn"><i class="fa fa-map-marker" aria-hidden="true"></i> find a professional</a>
      </div>
      <a href="/pages/find-a-professional" class="find-btn show-tablet-mb"><i class="fa fa-map-marker" aria-hidden="true"></i> find a professional</a>

    </div>
    <div class="line-solid"></div>
    <div class="line-item two">
      <h3 class="show-tablet-mb">Prescriptiva Línea</h3>
      <div class="line-img">
        <img class="hmak-lazy" hmak-src="{{ 'prescriptive-line.jpg' | asset_url }}" alt="" />
      </div>
      <div class="line-text">
        <h3>Prescriptiva Línea</h3>
        <p class="price">starting at $2,150</p>
        <ul>
          <li>- available at medical professional offices</li>
          <li>- a customized solution for wrinkles, stretch marks, and scars</li>

        </ul>
        <a href="/pages/find-a-prescriptive" class="find-btn"><i class="fa fa-map-marker" aria-hidden="true"></i> find a doctor</a>
      </div>
      <a href="/pages/find-a-prescriptive" class="find-btn show-tablet-mb"><i class="fa fa-map-marker" aria-hidden="true"></i> find a doctor</a>

    </div>
  </div>
  <a class="btn" href="/pages/resellers">become a partner</a>
  <button id="closeRightPush" class="close-btn">close</button>
</nav>