<section id="home-clinically-tested" class="one-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">Clínicamente probada</h2>
      </div>
    </div>
    <div class="row">
      <div class="clinically-tested-img col-lg-push-8 col-lg-4 col-md-push-9 col-md-3 col-sm-push-0 col-sm-12 col-xs-push-0 col-xs-12">
        <img class="hmak-lazy" hmak-src="{{ 'clinically-proven.png' | asset_url }}" alt="" />
      </div>
      <div class="clinically-tested-text col-lg-pull-4 col-lg-8 col-md-pull-3 col-md-9 col-sm-push-0 col-sm-12 col-xs-push-0 col-xs-12">
        <p>Nuestra revolucionaria y clínicamente probada <em>tecnología de Fusión de Silicona</em> - fue desarrollada por científicos respetados para ofrecer una solución avanzada e innovadora para las estrías, con dramáticos resultados comprobados científicamente.</p> 
        {% comment %}<a href="/#results-text-wrapp">See Clinical Study</a> {% endcomment %}
      </div>
    </div>
  </div>

  <div id="results-text-wrapp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="stats-boder">
            <h3 class="gold-title text-center">3 de cada 4 mujeres reportadas<sup>*</sup>:</h3>
            {% include 'clinical-trial-text' %}
            <p class="small-text text-center">*Estadísticas anteriores son extractos de un <a href="https://cdn.shopify.com/s/files/1/1009/6506/files/Dermaclara_Clinical_Summary.pdf?8230256516384632150" class="document-popup" target="_blank" data-fancybox-type="iframe">Estudio Clínico Independiente</a> realizado de conformidad con la Conferencia Internacional de Armonización Directriz Tripartita sobre la Buena Práctica Clínica.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="line"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="testimonials-title text-center">Escuche por qué estas mujeres aman <em>Clarafuse</em></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
          <div id="video-testimonials">
            {% for i in (1..23) %}
            {% capture show_slide %}testimonial_img_{{ i }}{% endcapture %}
            {% capture image %}testimonial_img_{{ i }}.jpg{% endcapture %}
            {% capture testimonial_link %}testimonial_{{ i }}_link{% endcapture %}
            {% if settings[show_slide] %}
            <div class="item">
              <div class="tes-img-wrapp">
                <a class="open-popup-testimonial-{{i}} no-scroll" href="#popup-testimonial-player-{{i}}">
                  <img class="tes-img tes-img-{{i}} hmak-lazy" hmak-src="{{ image | asset_url }}" alt="" />
                </a>
                <a class="no-scroll play-button open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
                  play
                </a>

              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="say-text-bt col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
          <p>Opiniones individuales y resultados pueden variar.</p>
        </div>
      </div>

      <div class="hidden">
        {% for i in (1..23) %}
        {% capture testimonial_link %}testimonial_{{ i }}_link{% endcapture %}
        <div class="popup-vimeo-wrapper" id="popup-testimonial-player-{{i}}">
          <div class="video-container">
            <iframe id="testimonial-player-{{i}}" link-src="{{ settings[testimonial_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>
  </div>

</section>
{% include 'popup-pdf' %}

<script>
  $(document).ready(function(){
    {% for i in (1..23) %}
    $("#testimonial-player-{{i}}").on("finish", function(){
      $("#popup-testimonial-player-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-testimonial-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#testimonial-player-{{i}}").attr('src',$("#testimonial-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#testimonial-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#testimonial-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }
    }
  });
  {% endfor %}
  });
</script>


{% comment %}
<section id="home-clinically-tested" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">CLINICALLY TESTED <span>FOR CAPTIVATING RESULTS!</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="clinically-tested-text col-lg-offset-1 col-lg-7 col-md-offset-0 col-md-7 col-sm-offset-0 col-sm-8 col-xs-12">
        <p>While conducting extensive scar treatment research, we discovered that the closed, breathable microclimate (occlusion) that our medical grade silicone dermapads create when placed on the skin did more than just help the reduction of scars. It also worked to reduce the appearance of fine lines and wrinkles with each application.</p> 
        <p>Dermaclara set out to create an entire anti-aging system designed to work together to keep your skin healthy, nourished, and radiant as you age.</p>
      </div>
      <div class="clinically-tested-img col-lg-4 col-md-5 col-sm-4 col-xs-12">
        <img class="" src="{{ 'clinically-icon.png' | asset_url }}" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
        <div id="owl-clinically" class="owl-carousel owl-theme">
          <div class="item">
            <h5>There was statistically significant improvement in appearance of fine lines and wrinkles of the forehead, eyes, mouth, and chest areas post 60-minute application.*</h5>
          </div>
          <div class="item">
            <h5>More than 80% of users experienced visible improvements in fine lines and wrinkles around the forehead, eyes, and chest post 60-minute application.*</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="clinically-tested-bt col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10">
        <p>*Above statistics are extracts from an <a href="https://cdn.shopify.com/s/files/1/1009/6506/files/Dermaclara_Clinical_Summary.pdf?8230256516384632150" class="document-popup" target="_blank" data-fancybox-type="iframe">Independent Clinical Study</a> conducted in accordance with the International Conference of Harmonization Tripartite Guideline on Good Clinical Practice.</p>
      </div>
    </div>


  </div>
</section>
{% include 'popup-pdf' %}

<script>

  $(document).ready(function() {

    $("#owl-clinically").owlCarousel({

      autoPlay: true,
      slideSpeed: 400,
      navigation : false, // Show next and prev buttons
      pagination:false,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true

      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

    });

  });

</script>
{% endcomment %}
