<section id="home-silicone-fusion" class="">
  <div class="container">
    <div class="row m90">
      <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">Presentando Clarafuse
          <span>El Revolucionario Tratamiento de Fusión de Silicona</span></h2>
        <p class="fusion-text"><i>Clarafuse</i> es un avanzado tratamiento de silicona que efectivamente reduce la apariencia de las estrías dondequiera que aparezcan en el cuerpo. Esta flexible tecnología de Fusión de Silicona de 1,5 mm se adhiere a la piel, y está diseñada con una versátil forma de corazón que puede aplicarse en casi cualquier parte del cuerpo, incluyendo el estómago, las caderas, los muslos, el pecho, los brazos y las piernas.</p>
        {% if page.handle == 'espanol' %}
        <img class="hmak-lazy" hmak-src="{{ 'espanol-illustrations-all-sizes1.png' | asset_url }}" alt="" />
        <img class="hmak-lazy" hmak-src="{{ 'espanol-illustrations-all-sizes2.png' | asset_url }}" alt="" />
        {% else %}
        <img class="hmak-lazy" hmak-src="{{ 'illustrations-all-sizes1.png' | asset_url }}" alt="" />
        <img class="hmak-lazy" hmak-src="{{ 'illustrations-all-sizes2.png' | asset_url }}" alt="" />
        {% endif %}
      </div>
    </div>

    <div class="row hidden-991">
      <div class="fusion-item col-lg-offset-1 col-lg-4 col-md-offset-0 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>Todos los tonos de piel</h3>
        <p>Aunque algunos grupos étnicos son más susceptibles a las estrías que otros, los estudios muestran que más del 80% de las personas de cada tono y tipo de piel experimentan estrías. Con esto en mente, la tecnología de Fusión de Silicona de Dermaclara ha sido clínicamente probada para la seguridad y la eficacia en todos los tonos de piel, con resultados mensurables vistos en todos. Si su piel es pálida, oscura o en algún lugar intermedio, <i>clarafuse</i> puede funcionar para usted.</p>
      </div>
      <div class="fusion-item col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>Seguro PARA TODAS LAS ESTRÍAS</h3>
        <p>Las estrías no son todas iguales. La diferencia en color, longitud, anchura y ubicación de las estrías existen de persona a persona. Pero la tecnología de Fusión de Silicona de Dermaclara es segura para el uso en cada estría, ya sea púrpura, plateada, o en su abdomen o en las caderas. Sin productos químicos irritantes, <i>clarafuse</i> puede usarse de forma segura e indolora en las estrías de cualquier parte del cuerpo.</p>
      </div>
    </div>
    <div class="row hidden-991">
      <div class="fusion-item col-lg-offset-1 col-lg-4 col-md-offset-0 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>ajuste versátil</h3>
        <p>El tratamiento de Fusión de Silicona <i>clarafuse</i> está diseñado con una forma versátil de corazón que puede aplicarse casi en cualquier parte de su cuerpo, incluyendo el estómago, las caderas, los muslos, el pecho, los brazos y las piernas.</p>
      </div>
      <div class="fusion-item col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>Reutilizable</h3>
        <p><i>Clarafuse</i> puede reutilizase hasta 30 veces. Después de cada uso, simplemente lave con agua tibio y seque al aire en la bandeja de almacenamiento.</p>
      </div>
    </div>


    <div id="accordion-product" class="fusion-wrapp hidden-992" role="tablist" aria-multiselectable="true">
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingOne11">
          <h5 class="mb-0">
            <button id="clickOne11">
              Todos los tonos de piel <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>

        <div style="display: none;" id="collapseOne11" role="tabpanel" aria-labelledby="headingOne11">
          <div class="card-block">
            <p>Aunque algunos grupos étnicos son más susceptibles a las estrías que otros, los estudios muestran que más del 80% de las personas de cada tono y tipo de piel experimentan estrías. Con esto en mente, la tecnología de Fusión de Silicona de Dermaclara ha sido clínicamente probada para la seguridad y la eficacia en todos los tonos de piel, con resultados mensurables vistos en todos. Si su piel es pálida, oscura o en algún lugar intermedio, <i>clarafuse</i> puede funcionar para usted.</p>
          </div>

        </div>
      </div>
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingTwo22">
          <h5 class="mb-0">
            <button id="clickTwo22">
              Seguro PARA TODAS LAS ESTRÍAS <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo22">
          <div class="card-block">
            <p>Las estrías no son todas iguales. La diferencia en color, longitud, anchura y ubicación de las estrías existen de persona a persona. Pero la tecnología de Fusión de Silicona de Dermaclara es segura para el uso en cada estría, ya sea púrpura, plateada, o en su abdomen o en las caderas. Sin productos químicos irritantes, <i>clarafuse</i> puede usarse de forma segura e indolora en las estrías de cualquier parte del cuerpo.</p>
          </div>
        </div>
      </div>
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingThree33">
          <h5 class="mb-0">
            <button id="clickThree33">
              ajuste versátil <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseThree33" class="collapse" role="tabpanel" aria-labelledby="headingThree33">
          <div class="card-block">
            <p>El tratamiento de Fusión de Silicona <i>clarafuse</i> está diseñado con una forma versátil de corazón que puede aplicarse casi en cualquier parte de su cuerpo, incluyendo el estómago, las caderas, los muslos, el pecho, los brazos y las piernas.</p>
          </div>
        </div>
      </div>
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingFour44">
          <h5 class="mb-0">
            <button id="clickFour44">
              Reutilizable <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFour44" class="collapse" role="tabpanel" aria-labelledby="headingFour44">
          <div class="card-block">
            <p><i>Clarafuse</i> puede reutilizase hasta 30 veces. Después de cada uso, simplemente lave con agua tibio y seque al aire en la bandeja de almacenamiento.</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>

<style>
  #home-silicone-fusion .text-center img.hmak-lazy{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  #home-silicone-fusion .text-center p.fusion-text i{
    font-weight: bold;
    color: #1d1d25;
  }
  #clickOne11 i.fa-sort-desc,
  #clickTwo22 i.fa-sort-desc,
  #clickThree33 i.fa-sort-desc,
  #clickFour44 i.fa-sort-desc {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }



  @media screen and (max-width: 480px) { 
    #Science .video-play-cap {
      margin-top: 25px !important;
    }
  }
  @media screen and (max-width: 380px) { 
    #home-silicone-fusion .text-center img.hmak-lazy {
      margin-bottom: 15px;
    }
  }

</style>

<script>

  $("#clickOne11").click(function(){ 
    $("#collapseOne11").toggle();
    $("#clickOne11 i.fa-sort-desc").toggle();
    $("#clickOne11 i.fa-sort-asc").toggle();
  });

  $("#clickTwo22").click(function(){
    $("#collapseTwo22").toggle();
    $("#clickTwo22 i.fa-sort-desc").toggle();
    $("#clickTwo22 i.fa-sort-asc").toggle();
  });

  $("#clickThree33").click(function(){
    $("#collapseThree33").toggle();
    $("#clickThree33 i.fa-sort-desc").toggle();
    $("#clickThree33 i.fa-sort-asc").toggle();
  });

  $("#clickFour44").click(function(){
    $("#collapseFour44").toggle();
    $("#clickFour44 i.fa-sort-desc").toggle();
    $("#clickFour44 i.fa-sort-asc").toggle();
  });


</script>