<section id="philantropy" class="">
  <div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="derma-cares-title section-title text-center">Filantropía Organizacional</h2>
      </div>
    </div>
    
    <div class="row derma-cares">
      <div class="derma-cares-img col-md-push-7 col-md-5 col-sm-push-0 col-md-12">
        <img class="hmak-lazy" hmak-src="{{ 'logo-cares.png' | asset_url }}" alt="" />
      </div>
      <div class="derma-cares-text col-md-pull-5 col-md-7 col-sm-push-0 col-md-12">
        <p>Una mujer muere cada dos minutos a causa de complicaciones durante el parto, que es la principal causa prevenible de muerte en las mujeres del mundo en desarrollo. Esta es la razón por la cual Dermaclara apoya a <em>Every Mother Counts</em> — una organización 501(c)(3) mundialmente reconocida sin fines de lucro dedicada a hacer que el embarazo y el parto sea seguro para todas las mujeres en todo el mundo. <em>Every Mother Counts</em> ayuda a las mujeres a tener acceso a los cuidados de maternidad esenciales y Dermaclara se enorgullece de ayudar a mujeres y niños en todo el mundo.</p> 
      </div>
    </div>
  </div>
</section>

<div id="home-review">
  <div class="container">
    {% include 'home-review' %}
  </div>
</div>

<script>
  $(document).ready(function(){
    {% for i in (1..2) %}
    $("#seenon-player-{{i}}").on("finish", function(){
      $("#popup-video-seenon-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-seenon-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#seenon-player-{{i}}").attr('src',$("#seenon-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#seenon-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#seenon-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }}
  });
  {% endfor %}
  });
</script>