<section id="home-howitwork" class="two wrinkles">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title a text-center">Cómo Funciona la Tecnología de Fusión de Silicona</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img class="banner show-dk dk-show" src="{{ 'espanol-science-img.png' | asset_url }}" alt="" />
        <img class="banner show-750" src="{{ 'espanol-science-img-768.png' | asset_url }}" alt="" />
        <img class="banner show-480" src="{{ 'espanol-science-img-640.png' | asset_url }}" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
        <p class="how-content">
          <i>Clarafuse</i> crea un microclima transpirable y cerrado cuando se coloca sobre la piel. Permite que el oxígeno pase a través, haciendo que la piel respire mientras bloquea la humedad. La humedad es elaborada a partir de las capas cutáneas inferiores a las capas externas y la producción de colágeno se fomenta, activa y normaliza. Este entorno único ayuda a la piel a curarse, reparando las líneas finas, arrugas, estrías, y más con cada aplicación. Después de una sola aplicación, la piel muestra un marcado aumento en la hidratación y reparación y una reducción de la rugosidad y profundidad de las arrugas. Además de los efectos hidratantes de <i>clarafuse</i>, también ayuda a mantener la piel plana mientras lo usa, lo que evita la formación de nuevas líneas.
        </p>
      </div>
    </div>
  </div>
</section>