<section id="guatantees" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title text-center">Apoyamos A Nuestros Clientes</h2>
      </div>

    </div>
    <div class="row three-day-money-back">
      <div class="guatantees-img col-lg-offset-2 col-lg-2 col-md-offset-1 col-md-3 col-xs-4 col-sm-4">
        <img class="" src="{{ 'guarantee-icon.png' | asset_url }}" alt="" />
      </div>
      <div class="guatantees-text col-lg-7 col-md-7 col-xs-8 col-sm-8">
        <p>
          Dermaclara está diseñado para hacerte feliz, y respaldamos esto con nuestra <b>garantía de devolución de dinero de 60 días</b>. Si usted no está satisfecho con los resultados, simplemente devuelva el producto dentro de 60 días y le daremos un reembolso. Sin hacer preguntas. 
        </p>
      </div>
    </div>
    <div id="lifetime" class="row lifetime-satisfaction">
      <div class="guatantees-img bg-top-video-mb col-lg-3 col-md-3 col-xs-4 col-sm-4">
        <img class="" src="{{ 'saticfaction-icon.png' | asset_url }}" alt="" />
      </div>
      <div class="guatantees-text col-lg-offset-2 col-lg-6 col-md-offset-1 col-md-6 col-xs-8 col-sm-8">       
        <p><b>Garantía de Satisfacción de por Vida.</b></p>
        <p>Creemos que Dermaclara le da resultados reales sin tener que recurrir a las inyecciones faciales. </p>
      </div>
      <div class="guatantees-img bg-top-video-tablet col-lg-3 col-md-3 col-xs-4 col-sm-4">
        <img class="" src="{{ 'saticfaction-icon.png' | asset_url }}" alt="" />
      </div>
    </div>

    <div class="row learnmore-link">
      <div class="learnmore-wrapp col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-8 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <p><a target="_blank" href="/pages/product-offer-warranty-return">Haga clic aquí</a> para obtener más información.</p>
      </div>
    </div>

  </div>
</section>
