<section id="new-silicone-fusion" class="">
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title"><span>clarafuse,</span>
          El Revolucionario Tratamiento de Fusión de Silicona<sup>TM</sup></h2>
        <p class="fusion-text"><strong>Clarafuse</strong> es un tratamiento avanzado de fusión de silicona desarrollado por dermatólogos para reducir efectivamente la aparición de estrías y cicatrices. <strong>Clarafuse</strong> está hecho de una mezcla de silicona de calidad médica de alta calidad que se adhiere a la piel. Al usarlo durante al menos una hora al día, reduce visiblemente la aparición de estrías y cicatrices.</p>
      </div>
    </div>
    <div class="row">
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'happy-face-icon-gold.png' | asset_url }}" />
        <p>100% indoloro, no invasivo, sin sustancias químicas, porque una piel suave y saludable no debe requerir procedimientos dolorosos.</p>
      </div>
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'finger-snap-icon-gold.png' | asset_url }}" />
        <p>Cómodo y fácil de usar, lo suficientemente discreto para ser usado debajo de la ropa, o en altura, mientras duerme.</p>
      </div>
    </div>
    <div class="row">
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'repeat-icon-gold.png' | asset_url }}" />
        <p>Hecho de alta calidad, grado médico, material, puede ser reutilizado hasta 30 veces.</p>
      </div>
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'heart-icon-gold.png' | asset_url }}" />
        <p>Forma versátil, flexible y suave, se puede usar en casi cualquier parte del cuerpo.</p>
      </div>
    </div>
  </div>
</section>