<section id="home-silicone-fusion" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">Aprobado Dermatológicamente y Clínicamente para Tratar Líneas de Expresión</h2>
        <p class="fusion-text">
          La Tecnología de Fusión de Silicona es un medio confiable, seguro y eficaz para suavizar, reparar y normalizar el envejecimiento o la piel dañada. Trabaja para restaurar la belleza, la juventud y lo natural de la piel, y al mismo tiempo, impide la formación de arrugas en el futuro. ¡<i>Clarafuse</i> está diseñado para resultados visibles, y ofrece flexibilidad y transpiración para un máximo confort! 
          <br/><br/>
          El Tratamiento de Fusión de Silicona <i>Clarafuse</i> es hipoalergénico, y se adhiere perfectamente a la piel, suavizando naturalmente las líneas finas y arrugas. Es eficaz y clínicamente probado para reducir las arrugas alrededor de los ojos, la frente, la boca y el cuello. Utilice <i>Clarafuse</i> durante un mínimo de una hora diaria para resultados sorprendentes. También puede dormir en la noche con el tratamiento. Para obtener resultados óptimos, utilice el suero intensificador péptido de <i>claraline</i> y el gel para bloquear la humedad de <i>clarasome</i> para mantener la piel hidratada y nutrida.
          <br/><br/>
          <i>Clarafuse</i> es reutilizable hasta 30 veces. No debe utilizarse sobre heridas abiertas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="silicone-img">
          <img class="" src="{{ 'clarafuse-body-wrinkles.jpg' | asset_url }}" alt="" />
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="silicone-text text-left">          
          {{ pages['clarafuse-body-espanol-wrinkles'].content }}
        </div>
      </div>
    </div>

    <style>
      .container h2.section-title {
      font-size: 45px;
      }
    </style>
    
    
    
  </div>
</section>