<section id="rumor-has-it" class=" index-as-seen-on ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title text-center">Tal y como se ve</h2>
        <p>Waiting for Josh to give us media.</p>
      </div>
    </div>
    {% comment %}
    <div class="row">
      <div class="logo-br elle-logo col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img class="hmak-lazy" hmak-src="{{ 'elle-logo.png' | asset_url }}" alt="elle-logo" />
        <img class="hmak-lazy" hmak-src="{{ 'Cosmopolitan_logo.png' | asset_url }}" alt="Cosmopolitan_logo" />
        <img class="hmak-lazy" hmak-src="{{ 'oprah-logo.png' | asset_url }}" alt="oprah-logo" />
        <img class="hmak-lazy" hmak-src="{{ 'fast-company.png' | asset_url }}" alt="fast-company" />
      </div>
    </div>
    {% endcomment %}
    <div class="row">
      {% assign number_video = 0 %}
      {% for i in (1..2) %}
      {% capture video_seenon_show %}video_seenon_show_{{ i }}{% endcapture %}
      {% if settings[video_seenon_show] %}
      {% assign number_video = number_video | plus:1%}
      {% endif %}
      {% endfor %}
      {% for i in (1..2) %}
      {% capture video_seenon_img %}video_seenon_img_{{ i }}.jpg{% endcapture %}
      {% capture video_seenon_link %}video_seenon_link_{{ i }}{% endcapture %}
      {% capture video_seenon_show %}video_seenon_show_{{ i }}{% endcapture %}
      {% if settings[video_seenon_show] %}
      <div class="{% if number_video == 1 %}col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10{% else %} {% cycle 'col-md-offset-1 col-sm-offset-0 col-xs-offset-1', 'col-md-offset-0 col-sm-offset-0 col-xs-offset-1' %} col-md-5 col-sm-6 col-xs-10{% endif %}">
        <div id="video-seenon">
          <a class="no-scroll video-seenon-img open-popup-seenon-{{i}}" href="#popup-video-seenon-{{i}}">
            <img class="tes-img tes-img-{{i}} hmak-lazy" hmak-src="{{ video_seenon_img | asset_url }}" alt="" />
          </a>
          <a class="no-scroll play-button open-popup-seenon-{{i}}" href="#popup-video-seenon-{{i}}">
            <i class="fa fa-play" aria-hidden="true"></i>
            <span>Watch the video</span>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div class="row">
      <div class="logo-bottom-row col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <a target="_blank" href="http://dailymom.com/shine/dermaclara-love-the-skin-youre-in/"><img class="hmak-lazy DailyMom" hmak-src="{{ 'DailyMom.png' | asset_url }}" alt="DailyMom" /></a>
        <a href="https://www.emmaclairefashions.com/blogs/news/dermaclara-review" target="_blank"><img class="hmak-lazy Emma_Claire" hmak-src="{{ 'Emma_Claire_Logo.png' | asset_url }}" alt="Emma Claire" /></a>
        <a target="_blank" href="https://www.plus-model-mag.com/2017/11/winter-wonder-skin/"><img class="hmak-lazy Plus_Model" hmak-src="{{ 'plusmodel-logo.png' | asset_url }}" alt="Plus Model" /></a>
      </div>
    </div>

    <div class="hidden">
      {% for i in (1..2) %}
      {% capture video_seenon_link %}video_seenon_link_{{ i }}{% endcapture %}
      <div class="popup-vimeo-wrapper" id="popup-video-seenon-{{i}}">
        <div class="video-container">
          <iframe id="seenon-player-{{i}}" link-src="{{ settings[video_seenon_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

