<style>

  .fb-page, 
  .fb-page span, 
  .fb-page span iframe[style] { 
  }

</style>

<h3 class="sidebar-title">like us on <span style="display:block;">facebook</span></h3>
<div id="fb-root"></div>

<div id="container" style="width:100%;text-align: center;">  
  <div class="fb-page" data-href="https://www.facebook.com/Dermaclara/" data-tabs="timeline" data-height="210px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Dermaclara/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Dermaclara/">Dermaclara</a></blockquote></div>
</div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

