{% unless template contains 'blog' or template contains 'article' %}
<footer class="site-footer small--text-center" role="contentinfo">
  
  {% unless template contains 'index'%}
  {% include 'section-shop-now' %}
  {% endunless %}
  
  {% include 'section-newsletter' %}
  {% unless template contains 'cart' or template contains 'blog' or template contains 'article' %}
  <div id="footer-top" class="contact-footer">
    <div class="container">
      <div class="row">
        {% if settings.footer_contact_enable %}
        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="rte">{{ settings.footer_contact_text }}</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endunless %}
  <div id="footer-top" class="">
    <div class="container">
      <div class="row align-items-center">
        {% comment %}Calculate the number of footer columns shown{% endcomment %}
        {% assign num_footer_columns = 0 %}
        {% if settings.footer_blog_enable %}{% assign num_footer_columns = num_footer_columns | plus: 1 %}{% endif %}
        {% if settings.footer_quicklinks_enable %}{% assign num_footer_columns = num_footer_columns | plus: 1 %}{% endif %}
        {% if settings.footer_second_menu_enable %}{% assign num_footer_columns = num_footer_columns | plus: 1 %}{% endif %}
        {% if settings.footer_social_enable %}{% assign num_footer_columns = num_footer_columns | plus: 1 %}{% endif %}
        {% if settings.footer_contact_enable %}{% assign num_footer_columns = num_footer_columns | plus: 1 %}{% endif %}
        {% if settings.footer_newsletter_enable %}{% assign num_footer_columns = num_footer_columns | plus: 1 %}{% endif %}

        {% case num_footer_columns %}
        {% when 0 %}
        {% when 1 %}
        {% assign footer_column_width = 'text-center' %}
        {% when 2 %}
        {% assign footer_column_width = 'col-md-6 col-sm-6' %}
        {% when 3 %}
        {% assign footer_column_width = 'col-md-4 col-sm-4 col-xs-4' %}
        {% when 4 %}
        {% assign footer_column_width = 'col-md-3 col-sm-3' %}
        {% when 5 %}
        {% assign footer_column_width = 'col-md-2 col-sm-2' %}
        {% when 6 %}
        {% assign footer_column_width = 'col-md-2 col-sm-2' %}
        {% endcase %}

        {% if settings.footer_quicklinks_enable %}
        <div class="text-left col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <ul class="foot-left-link site-footer__links{% if num_footer_columns == 1 %} inline-list{% endif %}">
            {% for link in linklists[settings.footer_quicklinks_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
          <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
            {% if settings.logo_use_image %}
            <a href="/" class="logo-wrapper center-text" itemprop="url">
              <img class="logo-normal" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
            {% endif %}
          </h1>
        </div>

        {% if settings.footer_second_menu_enable %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <ul class="site-footer__links center-text">
            {% for link in linklists[settings.footer_second_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if settings.footer_social_enable %}
        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 center-text">
          {% include 'social-links' %}
          {% comment %}
          <h4>GET THE APP:</h4>
          <ul class="foot-app-link site-footer__links{% if num_footer_columns == 1 %} inline-list{% endif %}">
            <li><a class="app-store-link" target="_blank" href="https://itunes.apple.com/us/app/dermaclara/id1149994533?l=vi&ls=1&mt=8"><i class="fa fa-apple" aria-hidden="true"></i> App Store</a></li>
            <li><a class="google-play-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.dermaclara"><i class="fa fa-android" aria-hidden="true"></i> Google Play</a></li>
            <li class="approved-logo"><a class="shopperlink" href="http://www.shopperapproved.com/reviews/Dermaclara.com/"><img class="shopperapproved" src="//www.shopperapproved.com/seals/16399-r.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a><script type="text/javascript">(function() { var js = window.document.createElement("script"); js.src = '//www.shopperapproved.com/seals/certificate.js'; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); })();</script></li>
          </ul>
          {% endcomment %}
        </div>
        {% endif %}

        {% if settings.footer_blog_enable %}
        <div class="grid__item {{ footer_column_width }} site-footer__links article">
          <h4><a href="/blogs/{{ settings.footer_blog }}">{{ 'layout.footer.blog_title' | t }}</a></h4>
          {% assign article = blogs[settings.footer_blog].articles.first %}
          <p class="h5">{{ article.title | link_to: article.url }}</p>
          {% if article.image %}
          {% assign image_alt = article.title | escape %}
          <p>{{ article | img_url: 'large' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
          {% endif %}
          {% if article.excerpt.size > 0 %}
          <div class="clearfix">
            {{ article.excerpt }}
          </div>
          {% else %}
          <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
          {% endif %}
        </div>
        {% endif %}
      </div>

    </div>
  </div>


  <div id="footer-bottom">
    <div class="container">
      <div class="row align-items-end">
        <div class="copyright-wrapp col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <p class="copyright site-footer__links"> &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }} All Rights Reserved</p>
          <ul>
          {%comment%}  {% for link in linklists.footer-one.links %}
            <li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}{%endcomment%}  
            <li><a href="https://www.iubenda.com/terms-and-conditions/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
            <li><a href="https://www.iubenda.com/privacy-policy/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
          </ul>
        </div>
        <!-- {% if settings.footer_show_methods_of_payment %}
        {% unless shop.enabled_payment_types == empty %}
        <div class="payment-wrapp text-center col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <img class="fade-in lazyload" data-src="{{ 'payment-icon.png' | asset_img_url: '240x' }}">
          {%comment%}
          <ul class="inline-list payment-icons text-center">
            {% for type in shop.enabled_payment_types %}
            <li>
              <img class="fade-in lazyload" data-src="{{ type | payment_type_img_url }}">
            </li>
            {% endfor %}
          </ul>
          {%endcomment%}
        </div>
        {% endunless %}
        {% endif %}-->
      </div>
    </div>
  </div>
</footer>
{% endunless %}
{% if template contains 'blog' or template contains 'article' %}
<footer class="footer-blog">
  <div id="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="copyright-wrapp col-md-5 col-sm-12 col-xs-12">
          <p class="copyright site-footer__links"> &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }} All Rights Reserved</p>
          <a href="https://www.iubenda.com/terms-and-conditions/18844471" class="iubenda-white no-brand iubenda-embed" title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          <ul>
           {%comment%}  {% for link in linklists[mainMenu].links %}
            <li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            {% for link in linklists.footer-one.links %}
            <li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %} {%endcomment%}  
            <li><a href="https://www.iubenda.com/terms-and-conditions/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
            <li><a href="https://www.iubenda.com/privacy-policy/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
          </ul>
        </div>
        {% if settings.footer_social_enable %}
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
          {% include 'social-links' %}
        </div>
        {% endif %}
        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
          {% if settings.logo_use_image %}
          <a class="site-footer__logo" href="/" class="logo-wrapper" itemprop="url">
            <img class="logo-normal fade-in lazyload" data-src="{{ 'logo-white.png' | asset_img_url: '255x' }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% endif %}