<script>
  {% if product %}
  var fcProductId = {{product.id}};
  {% endif %}
  {% if product.collections.size > 0 %}
  var fcCollectionIds = [{% for cl in product.collections %}{{cl.id}}{% unless foorloop.last %},{% endunless %}{% endfor %}];;
  {% endif %}
</script>