<div class="container contact-page contact-page-new">
  <div class="row">
    <div class="section-header ct-center">
      <h1 class="section-header__title page-title-default col-lg-12 col-md-12 col-sm-12 col-xs-12">Join the Dermaclara Referral Network <br>
        and Unlock the Benefits</h1>
    </div>
  </div>

  <div class="row">
    <div class="section-text ct-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
      {{ page.content }}
    </div>
  </div>
  <div class="row">
    <p class="text-form col-lg-12 col-md-12 col-sm-12 col-xs-12">Start growing your clientele and earn more revenue today.</p>
    
    {% form 'contact' %}

    {% if form.posted_successfully? %}
    {%comment%} 
    <p class="note form-success col-lg-12 col-md-12 col-sm-12 col-xs-12">
     {{ 'contact.form.post_success' | t }}
      {%endcomment%}
      <script>
        
          setTimeout(function(){ 
            $('.open-popup-net').click(); 
          }, 1000);
        
      </script>
      
    </p>
    {% endif %}

    {{ form.errors | default_errors }}
    <div class="row">
      <div class="wrap-input-left col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="input-wrapp">
          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>First Name</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormName" name="contact[first-name]" textplaceholder="First Name" placeholder="First Name" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
        </div>
      </div>
      <div class="wrap-input-right col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="input-wrapp">
          <label for="ContactFormSubject" class="label--hidden">Last Name</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Last Name</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormLastName" name="contact[last-name]" textplaceholder="Last Name" placeholder="Last Name" autocapitalize="words" value="">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="wrap-input-left col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">

        <div class="input-wrapp">
          <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Email</span> - Please fill in the required field</label>
          <input class="required" type="email" id="ContactFormEmail" name="contact[email]" textplaceholder="Email" placeholder="Email" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
        </div>
      </div>
      <div class="wrap-input-right col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">

        <div class="input-wrapp">
          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Phone Number</span> - Please fill in the required field</label>
          <input class="required" type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" textplaceholder="{{ 'contact.form.phone' | t }}" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="wrap-input-left col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="input-wrapp">
          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Business Name</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormName" name="contact[first-name]" textplaceholder="Business Name" placeholder="Business Name" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
        </div>
      </div>
      <div class="wrap-input-right col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">

        <div class="input-wrapp">
          <label for="ContactFormSubject" class="label--hidden">Website</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Website</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormLastName" name="contact[last-name]" textplaceholder="Website" placeholder="Website" autocapitalize="words" value="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="FormMessage col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="input-wrapp">
          <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Your Message</span> - Please fill in the required field</label>
          <textarea class="required" rows="10" id="ContactFormMessage" name="contact[body]" textplaceholder="Your Message" placeholder="Your Message">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
      </div>

    </div>

    <div class="ct-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12 captcha-wrapper-contact">
      <label>Are you a robot?</label>
      <input type="text" disabled="disabled" id="question-captcha-contact">
      <span>=</span>
      <input type="text" id="answer-captcha-contact">
      <span class="respond-captcha-contact"></span>
    </div>

    <div class="ct-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12">
      <input type="button" id="submitButton" class="btn button btn-normal" value="JOIN THE DERMACLARA NETWORK">
    </div>
    {% endform %}
  </div>

</div>
<div class="hidden">
{% include 'pop-up-networks' %}
                  </div>
<style>
  input#question-captcha-contact {
    display: inline-block;
    margin: 0 auto 20px;
    text-align: center;
    background: transparent;
  }

  .respond-captcha-contact {
    color: #ff0000;
    display: block!important;
    font-size: 12px;
    margin: 0!important;
  }

  .captcha-wrapper-contact {
    display: block;
    text-align: center;
    padding-top: 25px;
  }

  .captcha-wrapper-contact label {
    color: #1d1d25;
    display: block;
    font-family: "crimson text",serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
  }

  .captcha-wrapper-contact input {
    display: inline-block;
    float: none;
    max-width: 100px;
    text-align: center;
  }

  .captcha-wrapper-contact span {
    display: inline-block;
    float: none;
    margin: 0 10px;
    text-align: center;
  }
  label.error{
    display:block;
    text-align: left;
    color: red;
    font-weight: normal;
    font-size: 12px;
  }
</style>
<script>
  $(document).ready(function() {
    var n1 = Math.round(Math.random() * 10 + 1);
    var n2 = Math.round(Math.random() * 10 + 1);
    $("#question-captcha-contact").val(n1 + " + " + n2);
    $("#submitButton").click(function() {
      if (eval($("#question-captcha-contact").val()) != $("#answer-captcha-contact").val()) {
        $('.respond-captcha-contact').text('That CAPTCHA was incorrect.');
      }
      else{
        $('.respond-captcha-contact').text('');
        var error = false;
        $('.required').each(function(){
          if($(this).val() === ''){
            error = true;
            $(this).attr('placeholder','');
            $(this).prev().show();
          }
          else{
            $(this).attr('placeholder',$(this).attr('textplaceholder'));
            $(this).prev().hide();
          }
        });
        if(error){

        }else{          
          $('form.contact-form').submit();
        }
      }
    });

    $(".required").focus(function(){
      $(this).prev().hide();
      $(this).attr('placeholder',$(this).attr('textplaceholder'));
    });
  });
</script>