<div id="form-resellers" class="container contact-page contact-page-new">
  <div class="row">
    <div class="section-header ct-center">
      <h1 class="section-header__title page-title-default col-lg-12 col-md-12 col-sm-12 col-xs-12">Contact Dermaclara Today to Get Started</h1>
    </div>
  </div>
  <div class="row">
    {% form 'contact' %}

    {% if form.posted_successfully? %}
    {%comment%} 
    <p class="note form-success col-lg-12 col-md-12 col-sm-12 col-xs-12">
      {{ 'contact.form.post_success' | t }}
      {%endcomment%}
      <script>

        setTimeout(function(){ 
          $('.open-popup-net').click(); 
        }, 1000);

      </script>

    </p>
    {% endif %}

    {{ form.errors | default_errors }}
    <div class="row">
      <div class="wrap-input-full col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="input-wrapp">
          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Full Name</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormName" name="contact[full-name]" textplaceholder="Full Name" placeholder="Full Name*" autocapitalize="words" value="" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="wrap-input-full col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="input-wrapp">
          <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Email</span> - Please fill in the required field</label>
          <input class="required" type="email" id="ContactFormEmail" name="contact[email]" textplaceholder="Email" placeholder="Email*" autocorrect="off" autocapitalize="off" value="" required>
        </div>
      </div>
      <div class="wrap-input-full col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="input-wrapp">
          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Phone Number</span> - Please fill in the required field</label>
          <input class="required" type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" textplaceholder="{{ 'contact.form.phone' | t }}" placeholder="Phone Number*" pattern="[0-9\-]*" value="">
        </div>
      </div>
      <div class="wrap-input-full col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="input-wrapp">
          <label for="ContactFormBusinessName" class="label--hidden">Business Name</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Business Name</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormBusinessName" name="contact[business-name]" textplaceholder="Business Name" placeholder="Business Name*" autocapitalize="words" value="" required>
        </div>
      </div>
      <div class="wrap-input-full col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="input-wrapp">
          <label for="ContactFormBusinessAddress" class="label--hidden">Business Address</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Business Address</span> - Please fill in the required field</label>
          <input class="required" type="text" id="ContactFormBusinessAddress" name="contact[business-address]" textplaceholder="Business Address" placeholder="Business Address*" autocapitalize="words" value="" required>
        </div>
      </div>
      
      <div style="display:none;" class="wrap-input-full col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="input-wrapp">
          <label for="ContactFormSource" class="label--hidden">Source</label>
          <input type="text" id="ContactFormSource" name="contact[source]" textplaceholder="Resellers" placeholder="Resellers" autocapitalize="words" value="Resellers">
        </div>
      </div>
      
    </div>

    <div class="ct-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12 captcha-wrapper-contact">
      <label>Are you a robot?</label>
      <input type="text" disabled="disabled" id="question-captcha-contact">
      <span>=</span>
      <input type="text" id="answer-captcha-contact">
      <span class="respond-captcha-contact"></span>
    </div>

    <div class="ct-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12">
      <input type="button" id="submitButton" class="btn button btn-normal" value="SEND">
    </div>
    {% endform %}
  </div>

</div>
<div class="hidden">
  {% include 'pop-up-networks' %}
</div>
<style>
  input#question-captcha-contact {
    display: inline-block;
    margin: 0 auto 20px;
    text-align: center;
    background: transparent;
  }

  .respond-captcha-contact {
    color: #ff0000;
    display: block!important;
    font-size: 12px;
    margin: 0!important;
  }

  .captcha-wrapper-contact {
    display: block;
    text-align: center;
    padding-top: 25px;
  }

  .captcha-wrapper-contact label {
    color: #1d1d25;
    display: block;
    font-family: "crimson text",serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
  }

  .captcha-wrapper-contact input {
    display: inline-block;
    float: none;
    max-width: 100px;
    text-align: center;
  }

  .captcha-wrapper-contact span {
    display: inline-block;
    float: none;
    margin: 0 10px;
    text-align: center;
  }
  label.error{
    display:block;
    text-align: left;
    color: red;
    font-weight: normal;
    font-size: 12px;
  }
</style>
<script>
  $(document).ready(function() {
    var n1 = Math.round(Math.random() * 10 + 1);
    var n2 = Math.round(Math.random() * 10 + 1);
    $("#form-new #question-captcha-contact").val(n1 + " + " + n2);
    $("#form-new #submitButton").click(function() {
      if (eval($("#form-new #question-captcha-contact").val()) != $("#form-new #answer-captcha-contact").val()) {
        $('#form-new .respond-captcha-contact').text('That CAPTCHA was incorrect.');
      }
      else{
        $('#form-new .respond-captcha-contact').text('');
        var error = false;
        $('#form-new .required').each(function(){
          if($(this).val() === ''){
            error = true;
            $(this).attr('placeholder','');
            $(this).prev().show();
          }
          else{
            $(this).attr('placeholder',$(this).attr('textplaceholder'));
            $(this).prev().hide();
          }
        });
        if(error){

        }else{          
          $('#form-new form.contact-form').submit();
        }
      }
    });
    
    // For Popup
    
    $("#popup-form #question-captcha-contact").val(n1 + " + " + n2);
    $("#popup-form #submitButton").click(function() {
      if (eval($("#popup-form #question-captcha-contact").val()) != $("#popup-form #answer-captcha-contact").val()) {
        $('#popup-form .respond-captcha-contact').text('That CAPTCHA was incorrect.');
      }
      else{
        $('#popup-form .respond-captcha-contact').text('');
        var error = false;
        $('#popup-form .required').each(function(){
          if($(this).val() === ''){
            error = true;
            $(this).attr('placeholder','');
            $(this).prev().show();
          }
          else{
            $(this).attr('placeholder',$(this).attr('textplaceholder'));
            $(this).prev().hide();
          }
        });
        if(error){

        }else{          
          $('#popup-form form.contact-form').submit();
        }
      }
    });

    $("#form-new .required,#popup-form .required").focus(function(){
      $(this).prev().hide();
      $(this).attr('placeholder',$(this).attr('textplaceholder'));
    });
  });
</script>