<div class="row guarantees-xl">
  <div class="col-lg-push-6 col-lg-5 col-md-push-6 col-md-6 col-sm-push-1 col-sm-10 col-xs-push-1 col-xs-10">
    <h3 class="satisfaction">Satisfaction Guarantee</h3>
    <h4>Your hapiness is important to us</h4>
    <p>We offer a <b>60-Day Money Back Guarantee</b> on all dermaclara products. We want you to love your dermaclara purchase, so if you are not totally satisfied, we'll gladly accept your returns within 60 days of shipping date. No questions asked.</p>
    <a href="/pages/product-offer-warranty-return/#60-Day-Money-Back" target="_blank">Learn more</a>
  </div>
  <div class="col-lg-pull-4 col-lg-4 col-md-push-0 col-md-pull-5 col-md-5 col-sm-pull-1 col-sm-push-1 col-sm-10 col-xs-pull-0 col-xs-push-1 col-xs-10">
    <h3 class="secure-payment">Secure Payment</h3>
    <h4>Shop with a peace of mind!</h4>
    <p>We offer a safe and secure checkout process where your personal information is respected and kept private</p>
  </div>
</div>