
{% if blog.handle == 'news' %}

<header id="header" class="site-header" role="banner">
  {% section 'top-bar' %}
  <div id="main-menu" class="container">
    <div class="row align-items-center">
      <div class="logo-wrapp col-lg-3 col-md-8 col-sm-8 col-xs-8 col-8">
        <div class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% if settings.logo_use_image %}
          <a href="{% if page.handle contains "clarafuse" or page.handle == 'smarterchaos' %}#{%else%}/{%endif%}" class="logo-wrapper" itemprop="url">
            <img class="logo-normal" src="{{ 'logo.png' | asset_img_url: '250x' }}" alt="{{ shop.name }}" itemprop="logo">
<!--             <img class="logo-opt" src="{{ 'logo-opt.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"> -->
          </a>
          {% endif %}
        </div>
      </div>
      <div class="mainmenu-wrapp col-lg-9 col-md-9 col-sm-8 col-xs-8 col-8">
        <ul class="privacy__links" style="font-weight: 700">
            {% for link in linklists['blog-nav-menu'].links %}
          <li {% if link.links != blank %}class="has-dropdown"{% endif %}><a class="{% if link.links != blank %}has-dropdown-btn {% endif %}{{ link.title }}{% if link.active %}active{% endif %}" {% if page.handle contains 'espanol' or page.handle contains 'acne' or page.handle == 'smarterchaos' and link.handle == 'shop' %}href="/collections/shopping-page"{%elsif link.handle == 'shop'%}href="/collections/shopping-page"{% else %}href="{{ link.url }}"{% endif %}>{{ link.title }}</a>
            {% if link.links != blank %}
              <ul class="dropdown-list">
                {% for child_link in link.links %}
                  <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
          {% endfor %}
            <li id="cart-target" class="site-nav--has-dropdown toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
              <a href="/cart" class="cart external" title="Shopping Cart">
                {% include 'icon-cart' %}
                {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
              </a>
              {% comment %}
              {% include 'dropdown-cart' %}
              {% endcomment %}
            </li>
          </ul>
      </div>
      <div id="menu-icon" style="text-align: right;" class="mobile-show col-sm-4 col-xs-4 col-4">
        {% comment %}
        <a class="Shop Now" href="{%if page.handle contains "wrinkles" or template contains 'index' %}{%else%}/{%endif%}#packages" onclick="if($('#cd-menu-trigger-mobile').hasClass('is-clicked')){$('#cd-menu-trigger-mobile').trigger('click');}">Shop Now</a>
        {% endcomment %}
        <a href="/cart" class="cart external" title="Shopping Cart">
          <i class="fa fa-shopping-cart"></i>
          {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
        </a>
        <a id="cd-menu-trigger-mobile" href="#0">{% include 'icon-menu' %}{% include 'icon-close' %}</a>
      </div>
    </div>
  </div>
  <div id="menu-mobile" class="container">
    {% include 'menu-mobile' %}
  </div>
</header>
<div id="sticky-anchor"></div>
{% else %}

<header id="header" class="site-header" role="banner">
  {% section 'top-bar' %}
  <div id="main-menu" class="container">
    <div class="row align-items-center">
      <div class="logo-wrapp col-lg-3 col-md-8 col-sm-8 col-xs-8 col-8">
        <div class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% if settings.logo_use_image %}
          <a href="{% if page.handle contains "clarafuse" or page.handle == 'smarterchaos' %}#{%else%}/{%endif%}" class="logo-wrapper" itemprop="url">
            <img class="logo-normal" src="{{ 'logo.png' | asset_img_url: '250x' }}" alt="{{ shop.name }}" itemprop="logo">
<!--             <img class="logo-opt" src="{{ 'logo-opt.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"> -->
          </a>
          {% endif %}
        </div>
      </div>
      <div class="mainmenu-wrapp col-lg-9 col-md-9 col-sm-8 col-xs-8 col-8">
        <ul class="privacy__links">
            {% for link in linklists['nav-menu'].links %}
          <li {% if link.links != blank %}class="has-dropdown"{% endif %}><a class="{% if link.links != blank %}has-dropdown-btn {% endif %}{{ link.title }}{% if link.active %}active{% endif %}" {% if page.handle contains 'espanol' or page.handle contains 'acne' or page.handle == 'smarterchaos' and link.handle == 'shop' %}href="/collections/shopping-page"{%elsif link.handle == 'shop'%}href="/collections/shopping-page"{% else %}href="{{ link.url }}"{% endif %}>{{ link.title }}</a>
            {% if link.links != blank %}
              <ul class="dropdown-list">
                {% for child_link in link.links %}
                  <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
          {% endfor %}
          <li id="head-search">
              <a href="/search">{% include 'icon-search' %}</a>
            </li>
            <li id="cart-target" class="site-nav--has-dropdown toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
              <a href="/cart" class="cart external" title="Shopping Cart">
                {% include 'icon-cart' %}
                {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
              </a>
              {% comment %}
              {% include 'dropdown-cart' %}
              {% endcomment %}
            </li>
          </ul>
      </div>
      <div id="menu-icon" style="text-align: right;" class="mobile-show col-sm-4 col-xs-4 col-4">
        {% comment %}
        <a class="Shop Now" href="{%if page.handle contains "wrinkles" or template contains 'index' %}{%else%}/{%endif%}#packages" onclick="if($('#cd-menu-trigger-mobile').hasClass('is-clicked')){$('#cd-menu-trigger-mobile').trigger('click');}">Shop Now</a>
        {% endcomment %}
        <a href="/cart" class="cart external" title="Shopping Cart">
          <i class="fa fa-shopping-cart"></i>
          {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
        </a>
        <a class="icon-search-mobile hidden-992" href="/search">{% include 'icon-search' %}</a>
        <a id="cd-menu-trigger-mobile" href="#0">{% include 'icon-menu' %}{% include 'icon-close' %}</a>
      </div>
    </div>
  </div>
  <div id="menu-mobile" class="container">
    {% include 'menu-mobile' %}
  </div>
</header>

{% endif %}



  