<style>

  .spr-container{
    border:none;
  }

  .spr-reviews {
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .spr-review.item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .spr-header {
    border-top:1px solid #ececec;
    margin-bottom: -6px;
    padding-top: 24px;
  }

  .spr-header-title{
    display: inline-block;
    width: 25%;
    font-size:36px;
  }

  .spr-summary{
    display: inline-block;
  }

  .spr-summary-actions-togglereviews{
    color: #91908c;
  }

  .spr-summary-actions .spr-summary-actions-newreview{
    color: #91908c;
    border: 1px solid #444037;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
    margin-top: -15px;
  }

  .spr-summary-actions .spr-summary-actions-newreview:hover,
  .spr-summary-actions .spr-summary-actions-newreview:focus{
    text-decoration:none;
  }

  .spr-review-header{
    width: 15%;
    text-align: left;
  }

  .spr-review-content{
    width: 85%;
    margin: 0;
  }

  .spr-review-content-body{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: #91908c;
    font-size:16px;
  }

  .spr-review-header-title{
    font-size: 20px;
    font-family: proxima-nova-condensed, sans-serif;
    letter-spacing: 1px;
    font-style:italic;
  }

  .spr-review-header-byline {
    font-style: normal;
    margin: 0;
  }

  .spr-review-header-byline strong{
    font-size: 14px;
  }

  .spr-pagination div{
    text-align:right;
  }

  .spr-pagination div span{
    padding: 0 10px;
  }

  .spr-pagination .spr-pagination-prev,
  .spr-pagination .spr-pagination-next{
    position:inherit;
  }

  .spr-pagination-prev a,
  .spr-pagination-next a,
  .spr-pagination-page a{
    color: #91908c;

  }

  .spr-pagination-page.is-active a{
    color: #444037;
    font-weight:bold;
  }

  .spr-form-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    font-size:20px;
  }

  .spr-form-label{
    font-family: 'Open Sans', sans-serif;
    color:#444037;
    font-size:14px;
    position:relative;
  }

  .spr-form-label:after{
    position:absolute;
    content:'*';
    color:red;
  }

  .spr-form-actions .spr-button{
    background: #c8a557 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    letter-spacing: 4px;
    line-height: 48px;
    max-width: 300px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    border: medium none;
  }

  .spr-form-actions .spr-button:focus,
  .spr-form-actions .spr-button:hover{
    background: #040f00 none repeat scroll 0 0;
  }

  @media screen and (max-width: 1200px) {

    .spr-header-title{
      width: 30%;
      font-size: 30px;
    }



    .spr-summary-actions .spr-summary-actions-newreview{
      margin-top:-12px;
    }

    .spr-review-header{
      width: 20%;
    }

    .spr-review-content{
      width: 80%;
    }

  }

  @media screen and (max-width: 991px) {

    .spr-review-header {
      margin: 0 0 15px;
    }

    .spr-review-header,
    .spr-review-content,
    .spr-header-title,
    .spr-summary{
      width: 100%;
    }

    .spr-review-content{
      padding-left:0;
    }

    .spr-summary-actions .spr-summary-actions-newreview{
      margin-top: -7px;
      padding: 7px 15px;
      font-size:13px;
    }
  }

  @media screen and (max-width: 640px) {
    .spr-header-title,
    .spr-summary{
      text-align:left;
    }

    .spr-summary-actions .spr-summary-actions-newreview{
      display:block;
      float:left;
      margin-top: 15px;
    }

    .spr-summary-caption,
    .spr-summary-starrating {
      display: inline-block;
      float: left;
    }

    .spr-summary-starrating {
      margin: 0 10px 0 0;
    }

    .spr-summary-caption .spr-summary-actions-togglereviews{
      line-height: 26px;
    }

    .spr-summary-actions{
      display: inline-block;
      width:100%;
    }
  }

</style>
{% if page.handle == 'espanol' %}
<div id="shopify-product-reviews" >
  <style scoped="">
    .spr-icon {
      color: #e5ab2d;
    }
    a.spr-icon:hover {
      color: #5c4412;
    }.spr-container {
      padding: 0;
      border-color: #ececec;}
    .spr-review, .spr-form {
      border-color: #ececec;
    }
  </style>

  <div class="spr-container">
    <div class="spr-header">
      <h2 class="spr-header-title">Lo que dicen las personas</h2>
      <div class="spr-summary" itemscope="" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating">
        <meta itemprop="itemreviewed" content="Claraline">

        <span class="spr-starrating spr-summary-starrating">
          <meta itemprop="bestRating" content="5">
          <meta itemprop="worstRating" content="1">
          <meta itemprop="reviewCount" content="10">
          <meta itemprop="ratingValue" content="4.8">
          <i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i>
        </span>
        <span class="spr-summary-caption"><span class="spr-summary-actions-togglereviews">Basado en 4 comentarios</span>
        </span>
      </div>
    </div>
    <div class="spr-content">
      <div class="spr-reviews" id="reviews_7735098697">
        <div class="spr-review item" id="spr-review-44377860">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Milagro</h3>
            <span class="spr-review-header-byline"><strong>Violeta N.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">¡¡Me encanta y funciona!! ¡¡Al menos para mí!! ¡¡Yo no la uso regularmente pero mis estrías están prácticamente desapareciendo!! ¡¡Es un milagro!! ¡¡Muchas gracias!!</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377859">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Paquete Dermaclara</h3>
            <span class="spr-review-header-byline"><strong>Lesley F.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Disfruté mucho de los productos.</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377858">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Gran producto</h3>
            <span class="spr-review-header-byline"><strong>Simone R.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Un gran producto, pero deseo que haya algunos cupones u ofertas.</p>
          </div>
        </div>

        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">¡Funciona genial!</h3>
            <span class="spr-review-header-byline"><strong>Deborah S.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Me encanta la línea Dermaclara. ¡Los productos son de una gran calidad y huelen genial! Me encanta la forma en que se siente y funciona de verdad. Lo recomiendo realmente</p>
          </div>
        </div>

        {%comment%}
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Hire me :)</h3>
            <span class="spr-review-header-byline"><strong>Marquita M</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">I could be a spokesperson for Dermaclara, I have used all their products and I have recommended it to dozens of people who have also used it.</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">So far, so good!</h3>
            <span class="spr-review-header-byline"><strong>Strebel S</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">I have used a few products from this company, it's been a good experience so far wohoo.</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Makes the Mrs. Happy</h3>
            <span class="spr-review-header-byline"><strong>Graig</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">My wife loves when I get her pretty much anything from Dermaclara. Happy wife = happy life! </p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Nothing beats this</h3>
            <span class="spr-review-header-byline"><strong>Millicent</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Dermaclara has one of the most trusted products for anti-aging. Nothing gets close to their Silicone Fusion technology. Clarafuse was my first and favourite product.</p></div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">They go everywhere with me</h3>
            <span class="spr-review-header-byline"><strong>Rima</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">These products are everything! I cannot and will not go anywhere without Claralips and Claraprep. A good cleanser and lip serum are all I need for as my daily beauty supplies. In time I may need to try the products for wrinkles but now right now. </p>
          </div>
        </div>
        {%endcomment%}
      </div>
    </div>
  </div>
</div>
{% else %}

<div id="shopify-product-reviews" >
  <style scoped="">
    .spr-icon {
      color: #e5ab2d;
    }
    a.spr-icon:hover {
      color: #5c4412;
    }.spr-container {
      padding: 0;
      border-color: #ececec;}
    .spr-review, .spr-form {
      border-color: #ececec;
    }
  </style>

  <div class="spr-container">
    <div class="spr-header">
      <h2 class="spr-header-title">What people say</h2>
      <div class="spr-summary" itemscope="" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating">
        <meta itemprop="itemreviewed" content="Claraline">

        <span class="spr-starrating spr-summary-starrating">
          <meta itemprop="bestRating" content="5">
          <meta itemprop="worstRating" content="1">
          <meta itemprop="reviewCount" content="10">
          <meta itemprop="ratingValue" content="4.8">
          <i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i>
        </span>
        <span class="spr-summary-caption"><span class="spr-summary-actions-togglereviews">Based on 4 reviews</span>
        </span>
      </div>
    </div>
    <div class="spr-content">
      <div class="spr-reviews" id="reviews_7735098697">
        <div class="spr-review item" id="spr-review-44377860">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Miracle</h3>
            <span class="spr-review-header-byline"><strong>Violet N.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">I love it and it works!! At least for me!! I don't use it religiously but my stretch marks are pretty much fading away!! They're miracle workers!! Thank you!!</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377859">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Dermaclara Pack</h3>
            <span class="spr-review-header-byline"><strong>Lesley F.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Enjoyed the products very much.</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377858">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Great Product</h3>
            <span class="spr-review-header-byline"><strong>Simone R.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Great product, but I wish there were some coupons or deals.</p>
          </div>
        </div>

        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Works Great!</h3>
            <span class="spr-review-header-byline"><strong>Deborah S.</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">I absolutely love the Dermaclara Line. The products are great quality and smell great! I love the way it feels and it really works. I highly recommend</p>
          </div>
        </div>

        {%comment%}
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Hire me :)</h3>
            <span class="spr-review-header-byline"><strong>Marquita M</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">I could be a spokesperson for Dermaclara, I have used all their products and I have recommended it to dozens of people who have also used it.</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">So far, so good!</h3>
            <span class="spr-review-header-byline"><strong>Strebel S</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">I have used a few products from this company, it's been a good experience so far wohoo.</p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Makes the Mrs. Happy</h3>
            <span class="spr-review-header-byline"><strong>Graig</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">My wife loves when I get her pretty much anything from Dermaclara. Happy wife = happy life! </p>
          </div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Nothing beats this</h3>
            <span class="spr-review-header-byline"><strong>Millicent</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">Dermaclara has one of the most trusted products for anti-aging. Nothing gets close to their Silicone Fusion technology. Clarafuse was my first and favourite product.</p></div>
        </div>
        <div class="spr-review item" id="spr-review-44377857">
          <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">They go everywhere with me</h3>
            <span class="spr-review-header-byline"><strong>Rima</strong></span>
          </div>
          <div class="spr-review-content">
            <p class="spr-review-content-body">These products are everything! I cannot and will not go anywhere without Claralips and Claraprep. A good cleanser and lip serum are all I need for as my daily beauty supplies. In time I may need to try the products for wrinkles but now right now. </p>
          </div>
        </div>
        {%endcomment%}
      </div>
    </div>
  </div>
</div>
{% endif %}