<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
  <title>iconmonstr-info-7 (1)</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="derma_simpleproduct" transform="translate(-1254.000000, -442.000000)" fill="#B6D9D6" fill-rule="nonzero">
      <g id="Group-5" transform="translate(117.000000, 171.000000)">
        <g id="iconmonstr-info-7-(1)" transform="translate(1137.000000, 271.000000)">
          <path d="M12,0 C5.373,0 0,5.373 0,12 C0,18.627 5.373,24 12,24 C18.627,24 24,18.627 24,12 C24,5.373 18.627,0 12,0 Z M9.967,16.01 C10.531,14.221 11.599,12.078 11.788,11.536 C12.061,10.749 11.577,10.4 10.048,11.745 L9.708,11.105 C11.452,9.208 15.043,8.779 13.821,11.718 C13.058,13.553 12.512,14.792 12.2,15.748 C11.745,17.141 12.894,16.576 14.019,15.537 C14.172,15.787 14.222,15.868 14.375,16.156 C11.877,18.534 9.104,18.744 9.967,16.01 L9.967,16.01 Z M14.709,7.841 C14.177,8.294 13.389,8.284 12.948,7.819 C12.507,7.354 12.581,6.611 13.112,6.158 C13.644,5.705 14.432,5.716 14.873,6.18 C15.312,6.646 15.24,7.389 14.709,7.841 Z" id="Shape"></path>
        </g>
      </g>
    </g>
  </g>
</svg>