
<?xml version="1.0" encoding="UTF-8"?>
<svg width="92px" height="92px" viewBox="0 0 92 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
    <title>Group 6</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 7.1875e-05 91.9999641 7.1875e-05 91.9999641 92 0 92"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons" transform="translate(-1186.000000, -1944.000000)">
            <g id="Group-6" transform="translate(1186.000000, 1944.000000)">
                <g id="Group-3">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-2"></g>
                    <path d="M5.71402656,46.0122906 C5.71726094,68.1833922 23.7731594,86.2788219 45.8996984,86.2856519 C68.2415031,86.2924781 86.2607453,68.2928219 86.2855677,45.9427516 C86.3103391,23.8246578 68.2256906,5.74054844 46.0553078,5.71392537 C23.8017297,5.68736094 5.71079219,23.7588922 5.71402656,46.0122906 M43.8437141,7.1875e-05 L48.1562141,7.1875e-05 C48.5364328,0.06511875 48.9153937,0.140767188 49.2972297,0.193415625 C51.3381203,0.474985937 53.4081203,0.619814062 55.4168469,1.050525 C66.4667297,3.42024375 75.4764406,9.10807187 82.4035734,18.0214703 C87.3282688,24.3583297 90.3507922,31.5381031 91.4610813,39.5020328 C91.6623313,40.9461812 91.8215344,42.3962594 91.9999641,43.8438219 L91.9999641,48.1563219 C91.9349172,48.5336656 91.8580109,48.9095719 91.8068,49.2887125 C91.5347531,51.3013922 91.4001672,53.3428219 90.9793391,55.3231578 C88.7824797,65.6542906 83.6482687,74.2737203 75.5909016,81.1011266 C68.9052688,86.7663141 61.196675,90.2296109 52.5062687,91.4613687 C51.0597844,91.6662125 49.6064719,91.8216422 48.1562141,92.0000719 L43.8437141,92.0000719 C43.4935031,91.9361031 43.1452688,91.8345797 42.7927219,91.814275 C39.1306906,91.6049391 35.5529328,90.9192516 32.0747219,89.7841656 C22.2222766,86.5688375 14.2820656,80.7254 8.32129219,72.2430719 C4.14194063,66.295775 1.5361125,59.7075328 0.538128125,52.4977516 C0.338135938,51.0534234 0.178214063,49.603525 -3.59375e-05,48.1563219 L-3.59375e-05,43.8438219 C0.0650109375,43.4664781 0.141557813,43.0907516 0.19276875,42.7116109 C0.464635937,40.6991109 0.595448438,38.6566031 1.02022969,36.6773453 C3.40432344,25.568525 9.10365156,16.5016734 18.0862297,9.54776719 C24.4094328,4.6529 31.5631516,1.65014219 39.4938391,0.538954687 C40.9405031,0.336267187 42.3936359,0.178501562 43.8437141,7.1875e-05" id="Fill-1" fill="#556BAB" mask=""></path>
                </g>
                <path d="M38.7525505,52.6967911 C45.979425,43.9231049 52.9467122,35.4643147 59.9401802,26.9736758 C62.0786026,28.8288613 64.1754529,30.6479828 66.341643,32.5275231 C57.4363361,43.3368707 48.5572102,54.1142134 39.6106487,64.9736758 C34.5106135,60.0202697 29.4584973,55.1135437 24.341643,50.1440572 C26.2528471,48.069834 28.1407264,46.0207463 30.1677611,43.8206896 C33.0270304,46.7769962 35.8410782,49.6866227 38.7525505,52.6967911" id="Fill-4" fill="#556BAB"></path>
            </g>
        </g>
    </g>
</svg>