<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
  <title>Group 11</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="derma_simpleproduct" transform="translate(-1141.000000, -382.000000)">
      <g id="Group-5" transform="translate(117.000000, 171.000000)">
        <g id="Group-11" transform="translate(1024.000000, 211.000000)">
          <rect id="Rectangle" fill="#5FC8C8" x="0" y="0" width="20" height="20" rx="10"></rect>
          <text id="?" font-family="Poppins-Regular, Poppins" font-size="14" font-weight="normal" fill="#FFFFFF">
            <tspan x="6" y="16">?</tspan>
          </text>
        </g>
      </g>
    </g>
  </g>
</svg>