<?xml version="1.0" encoding="UTF-8"?>
<svg width="93px" height="92px" viewBox="0 0 93 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
  <title>Group 7</title>
  <desc>Created with Sketch.</desc>
  <defs>
    <polygon id="path-1" points="0 0.148144909 49.1978232 0.148144909 49.1978232 86.433164 0 86.433164"></polygon>
    <polygon id="path-3" points="0.0192096585 0.0875532901 49.2162709 0.0875532901 49.2162709 86.3525243 0.0192096585 86.3525243"></polygon>
  </defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Icons" transform="translate(-425.000000, -1944.000000)">
      <g id="Group-7" transform="translate(425.000000, 1944.000000)">
        <g id="Group-3" transform="translate(0.000000, 3.832743)">
          <mask id="mask-2" fill="white">
            <use xlink:href="#path-1"></use>
          </mask>
          <g id="Clip-2"></g>
          <path d="M17.250425,6.83486906 C15.0979955,6.65490878 12.9453793,6.47457514 10.7929498,6.2951749 C8.06629022,6.06798438 5.33701708,5.86804925 2.61390441,5.60445598 C0.929483649,5.44129697 -0.12059579,4.25512723 0.0110141666,2.79416338 C0.159238713,1.1487589 1.42530782,0.0339012313 3.13661062,0.157483914 C7.35428969,0.461960281 11.5687952,0.811800079 15.7844208,1.14558533 C19.0700026,1.40600503 22.3568913,1.64981014 25.6398597,1.93991209 C27.398206,2.0952305 28.2645916,3.14101628 28.1378353,4.9755284 C27.9044843,8.35650417 27.6173693,11.7341197 27.3517225,15.113042 C27.0520998,18.9258104 26.7323156,22.7368987 26.4610684,26.551534 C26.3608209,27.9632141 25.939109,29.1202616 24.4955064,29.6285934 C22.5568264,30.3110984 20.7736515,28.9735305 20.9101152,26.900067 C21.1488799,23.2698724 21.4419688,19.6434114 21.7104157,16.0152702 C21.8496796,14.1294209 21.9846498,12.2435716 22.1435152,10.0597797 C20.8488839,11.2313883 19.6834357,12.1942878 18.6225288,13.2611685 C12.1053158,19.8132909 8.26883887,27.6887933 7.10824441,36.8555668 C5.00883225,53.4371145 14.4640275,70.3171648 29.6818721,77.2598234 C34.9341361,79.656058 40.4173242,80.9236205 46.1906143,80.9781313 C48.5052694,80.9997863 49.8788667,83.1010653 48.8530557,84.997182 C48.3156017,85.9908839 47.4508963,86.437611 46.3212909,86.433164 C37.9128148,86.3997148 30.0753952,84.2545659 22.9542698,79.7992422 C12.0340037,72.966912 5.02918046,63.2434564 2.38708725,50.6102073 C-0.263033232,37.9388754 2.34153714,26.2377236 9.61275387,15.5614492 C11.6348802,12.5926646 14.0193539,9.93246339 16.7159579,7.55620363 C16.9196266,7.37680339 17.1591381,7.23847292 17.3818483,7.08091434 C17.338165,6.99896147 17.2941083,6.91682193 17.250425,6.83486906" id="Fill-1" fill="#E38065" mask="url(#mask-2)"></path>
        </g>
        <g id="Group-6" transform="translate(43.683305, 0.099127)">
          <mask id="mask-4" fill="white">
            <use xlink:href="#path-3"></use>
          </mask>
          <g id="Clip-5"></g>
          <path d="M31.9781578,79.6857776 C35.66473,79.9887605 39.3513023,80.29081 43.0376878,80.5954731 C44.2770616,80.6979608 45.5196089,80.7761801 46.754129,80.9210444 C48.3011527,81.1024981 49.3222966,82.3297376 49.2074879,83.793315 C49.0947327,85.2288902 47.8736536,86.3971386 46.3822608,86.3512151 C44.8301967,86.3036115 43.2814929,86.133172 41.7318557,86.0107094 C35.7184941,85.5350467 29.7041991,85.0709583 23.692891,84.5714005 C21.9980162,84.4306432 21.1094156,83.4078191 21.2281446,81.7036102 C21.5434484,77.174921 21.9115829,72.6499653 22.2623561,68.1237029 C22.4835729,65.2717805 22.7260712,62.4213515 22.9306734,59.5681223 C23.0662036,57.6783527 24.1440985,56.6097919 25.8759362,56.71788 C27.4826977,56.8181276 28.4299161,58.1108921 28.2899055,59.9526848 C27.8795811,65.3462661 27.4841912,70.7407809 27.0671463,76.3453115 C27.6820728,75.8515408 28.1905913,75.4792994 28.6589734,75.0618811 C36.0707608,68.4587949 40.6756158,60.2922571 41.9581128,50.4258041 C44.3730155,31.8475186 34.130214,14.7712668 16.642331,8.04422455 C12.3109633,6.37828518 7.79739521,5.55819648 3.15016364,5.54998252 C1.96866093,5.54774235 1.00352125,5.17699431 0.394941877,4.13699563 C-0.676419171,2.30547041 0.666935787,0.09367642 2.86155514,0.0875083187 C8.23142804,0.0725814908 13.4644639,0.939340395 18.4572416,2.91031617 C32.7663241,8.55909016 42.2484014,18.7542881 46.2618517,33.6159457 C49.8728182,46.9878906 47.3632684,59.480569 39.6171357,70.9270883 C37.6043434,73.9014733 35.2161361,76.5603678 32.5210256,78.9388677 C32.3156767,79.1201348 32.099127,79.2887075 31.887991,79.4632541 L31.9781578,79.6857776 Z" id="Fill-4" fill="#E38065" mask="url(#mask-4)"></path>
        </g>
      </g>
    </g>
  </g>
</svg>