<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="22.5px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
    <title>Style</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-1286.000000, -75.000000)" fill="#556BAB">
            <g id="Group-4" transform="translate(107.000000, 69.000000)">
                <path d="M1203.99422,15.2307692 L1202.34104,8.61923077 C1201.95403,7.07954298 1200.56734,6 1198.97688,6 L1191.02312,6 C1189.43266,6 1188.04597,7.07954298 1187.65896,8.61923077 L1186.00578,15.2307692 L1179,15.2307692 L1183.54335,33.3807692 C1183.93036,34.920457 1185.31706,36 1186.90751,36 L1203.09249,36 C1204.68294,36 1206.06964,34.920457 1206.45665,33.3807692 L1211,15.2307692 L1203.99422,15.2307692 Z M1193.84393,26.7692308 L1193.84393,33.6923077 L1191.33526,33.6923077 L1190.0289,26.7692308 L1193.84393,26.7692308 Z M1189.60116,24.4615385 L1188.2948,17.5384615 L1193.84393,17.5384615 L1193.84393,24.4615385 L1189.60116,24.4615385 Z M1196.15607,26.7692308 L1199.9711,26.7692308 L1198.66474,33.6923077 L1196.15607,33.6923077 L1196.15607,26.7692308 Z M1196.15607,24.4615385 L1196.15607,17.5384615 L1201.7052,17.5384615 L1200.39884,24.4615385 L1196.15607,24.4615385 Z M1204.05202,17.5384615 L1208.04046,17.5384615 L1206.30636,24.4615385 L1202.74566,24.4615385 L1204.05202,17.5384615 Z M1189.90173,9.18461538 C1190.03216,8.65709621 1190.51364,8.29186889 1191.0578,8.30769231 L1199.01156,8.30769231 C1199.55572,8.29186889 1200.03721,8.65709621 1200.16763,9.18461538 L1201.61272,15.2307692 L1188.38728,15.2307692 L1189.90173,9.18461538 Z M1185.94798,17.5384615 L1187.25434,24.4615385 L1183.69364,24.4615385 L1181.95954,17.5384615 L1185.94798,17.5384615 Z M1185.75145,32.8153846 L1184.27168,26.7692308 L1187.73988,26.7692308 L1189.03468,33.6923077 L1186.90751,33.6923077 C1186.36336,33.7081311 1185.88187,33.3429038 1185.75145,32.8153846 L1185.75145,32.8153846 Z M1204.17919,32.8153846 C1204.05499,33.3178556 1203.61077,33.6763206 1203.09249,33.6923077 L1201.02312,33.6923077 L1202.31792,26.7692308 L1205.78613,26.7692308 L1204.17919,32.8153846 Z" id="Style"></path>
            </g>
        </g>
    </g>
</svg>