<?xml version="1.0" encoding="UTF-8"?>
<svg class="icon-close" width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
  <title>Group</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Menu-2" transform="translate(-285.000000, -17.000000)" fill="#556BAB">
      <g id="Group" transform="translate(284.751281, 17.000000)">
        <rect id="Rectangle-Copy-2" transform="translate(8.748719, 9.000000) rotate(-310.000000) translate(-8.748719, -9.000000) " x="-1.75128065" y="8" width="21" height="2"></rect>
        <rect id="Rectangle-Copy-7" transform="translate(8.500000, 9.000000) rotate(-45.000000) translate(-8.500000, -9.000000) " x="-2" y="8" width="21" height="2"></rect>
      </g>
    </g>
  </g>
</svg>