<?xml version="1.0" encoding="UTF-8"?>
<svg width="93px" height="93px" viewBox="0 0 93 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
  <title>Group 4</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Sciences-Copy" transform="translate(-384.000000, -406.000000)" fill="#FFFFFF">
      <g id="Group-4" transform="translate(385.000000, 407.000000)">
        <circle id="Oval" stroke="#FFFFFF" fill-opacity="0.5" cx="45.5" cy="45.5" r="45.5"></circle>
        <polygon id="Triangle" transform="translate(46.000000, 46.000000) rotate(-270.000000) translate(-46.000000, -46.000000) " points="46 32 60 60 32 60"></polygon>
      </g>
    </g>
  </g>
</svg>