<?xml version="1.0" encoding="UTF-8"?>
<svg class="icon-menu" width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
  <title>Group 4</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Home_mobile" transform="translate(-283.000000, -19.000000)" fill="#556BAB">
      <g id="Group-3" transform="translate(10.000000, 5.000000)">
        <g id="Group-4" transform="translate(273.000000, 14.000000)">
          <rect id="Rectangle" x="0" y="0" width="21" height="3"></rect>
          <rect id="Rectangle-Copy" x="0" y="7" width="21" height="3"></rect>
          <rect id="Rectangle-Copy-2" x="0" y="14" width="21" height="3"></rect>
        </g>
      </g>
    </g>
  </g>
</svg>