<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
    <title>Style</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-1225.000000, -74.000000)" fill="#556BAB">
            <g id="Group-4" transform="translate(107.000000, 69.000000)">
                <path d="M1150,35.3622481 L1138.46654,23.8287837 C1142.35308,19.069734 1141.82627,12.0993061 1137.26861,7.9784476 C1132.71094,3.85758907 1125.72285,4.03333946 1121.37809,8.37809348 C1117.03334,12.7228475 1116.85759,19.7109446 1120.97845,24.2686085 C1125.09931,28.8262724 1132.06973,29.3530792 1136.82878,25.4665357 L1148.36225,37 L1150,35.3622481 Z M1120.34746,16.5742347 C1120.34746,11.4784295 1124.47843,7.34746319 1129.57423,7.34746319 C1134.67004,7.34746319 1138.80101,11.4784295 1138.80101,16.5742347 C1138.80101,21.6700398 1134.67004,25.8010061 1129.57423,25.8010061 C1127.12714,25.8010061 1124.78028,24.8289026 1123.04992,23.0985473 C1121.31957,21.368192 1120.34746,19.0213266 1120.34746,16.5742347 L1120.34746,16.5742347 Z" id="Style"></path>
            </g>
        </g>
    </g>
</svg>