<section id="rumor-has-it" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title text-center">As Seen On</h2>
        <p>Waiting for Josh to give us media.</p>
      </div>
    </div>
    <div class="row">
      <div class="logo-br elle-logo col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img class="fade-in lazyload" data-src="{{ 'elle-logo-white.png' | asset_url }}" alt="elle-logo" />
        <img class="fade-in lazyload" data-src="{{ 'Cosmopolitan_logo-white.png' | asset_url }}" alt="Cosmopolitan_logo" />
        <img class="fade-in lazyload" data-src="{{ 'oprah-logo-white.png' | asset_url }}" alt="oprah-logo" />
        <img class="fade-in lazyload" data-src="{{ 'fast-company-white.png' | asset_url }}" alt="fast-company" />
      </div>
    </div>
    <div class="row">
      {% assign number_video = 0 %}
      {% for i in (1..2) %}
      {% capture video_seenon_show %}video_seenon_show_{{ i }}{% endcapture %}
      {% if settings[video_seenon_show] %}
      {% assign number_video = number_video | plus:1%}
      {% endif %}
      {% endfor %}
      {% for i in (1..2) %}
      {% capture video_seenon_img %}video_seenon_img_{{ i }}.jpg{% endcapture %}
      {% capture video_seenon_link %}video_seenon_link_{{ i }}{% endcapture %}
      {% capture video_seenon_show %}video_seenon_show_{{ i }}{% endcapture %}
      {% if settings[video_seenon_show] %}
      <div class="{% if number_video == 1 %}col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10{% else %} {% cycle 'col-md-offset-1 col-sm-offset-0 col-xs-offset-1', 'col-md-offset-0 col-sm-offset-0 col-xs-offset-1' %} col-md-5 col-sm-6 col-xs-10{% endif %}">
        <div id="video-seenon">
          <a class="no-scroll video-seenon-img open-popup-seenon-{{i}}" href="#popup-video-seenon-{{i}}">
            <img class="tes-img tes-img-{{i}}" src="{{ video_seenon_img | asset_url }}" alt="" />
          </a>
          <a class="no-scroll play-button open-popup-seenon-{{i}}" href="#popup-video-seenon-{{i}}">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div class="hidden">
      {% for i in (1..2) %}
      {% capture video_seenon_link %}video_seenon_link_{{ i }}{% endcapture %}
      <div class="popup-vimeo-wrapper" id="popup-video-seenon-{{i}}">
        <div class="video-container">
          <iframe id="seenon-player-{{i}}" link-src="{{ settings[video_seenon_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    {% for i in (1..2) %}
    $("#seenon-player-{{i}}").on("finish", function(){
      $("#popup-video-seenon-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-seenon-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#seenon-player-{{i}}").attr('src',$("#seenon-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#seenon-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#seenon-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }}
  });
  {% endfor %}
  });
</script>