<section id="home-howitwork" class="two wrinkles">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title a text-center">How Silicone Fusion <span>Technology Works</span></h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img class="banner show-dk dk-show" src="{{ 'how-it-works-banner.png' | asset_url }}" alt="" />
        <img class="banner show-750" src="{{ 'how-it-works-banner.png' | asset_url }}" alt="" />
        <img class="banner show-480" src="{{ 'how-it-works-banner-480.png' | asset_url }}" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
        <p class="how-content">
          <i>Clarafuse</i> creates a closed, breathable microclimate when placed on the skin. It allows oxygen to pass through, letting skin breathe while locking in moisture. Moisture is drawn up from lower skin layers to the outside layers and collagen production is encouraged, activated, and normalized. This unique environment helps the skin heal itself, repairing fine lines, wrinkles, stretch marks, and more with each application. After only one application, the skin shows a marked increase in hydration and photodamage repair, and a reduction in roughness and wrinkle depth. In addition to <i>clarafuse’s</i> hydrating effects, it also helps to keep the skin flat while you are wearing it, which keeps new lines from forming.
        </p>
      </div>
    </div>
  </div>
</section>