
<section id="home-products-new" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="text-center section-title">innovative <span>technology</span> in a 3-step system</h2>
      </div>
    </div>

    <!-- Purify -->
    <div class="row">
      <div class="collec-wrapp">
        <div class="collec-title col-xs-offset-0 col-sm-push-1 col-xs-10 col-xs-push-0 col-xs-12 hidden-992">
          <h4 class="colle-step">Step 1</h4>
          <h1 class="colle-title">{{ collections.purify.title }}</h1>
        </div>
        <div id="purify-sync1" class="collec-sync1 owl-carousel">
          <div class="item">

            <div class="collec-img col-md-push-6 col-md-offset-0 col-md-6 col-xs-offset-1 col-xs-push-0 col-xs-10">
              {% if settings.use_image_purify %}
              <img class="fade-in lazyload" data-src="{{ 'image_purify.png' | asset_url }}" alt="{{ collections.purify.alt | escape }}">
              {% else %}
              <img class="fade-in lazyload" data-src="{{ collections.purify.image | img_url: 'grande' }}" alt="{{ collections.purify.alt | escape }}">
              {% endif %}
            </div>
            <div class="collec-text col-md-pull-6 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-push-0 col-xs-12">
              <div class="collec-title hidden-991">
                <h4 class="colle-step">Step 1</h4>
                <h1 class="colle-title">{{ collections.purify.title }}</h1>
              </div>
              <div class="product-detail">
                <p class="colle-description">{{ collections.purify.description }}</p>
                <ul>
                  <label>The products:</label>
                  <li><span>claraprep</span> hydrating cream cleanser</li>
                  <li><span>clarapulse</span> facial pore-refining and massaging device</li>
                  <li>gentle silicone skin <span>exfoliator</span></li>
                </ul>
              </div>
            </div>

          </div>

          {% for product in collections.purify.products %}
          {% unless product.handle contains '-kit' %}
          <div class="item">
            <div class="collec-img col-md-push-6 col-md-offset-0 col-md-6 col-xs-offset-1 col-xs-push-0 col-xs-10">
              <img class="fade-in lazyload" data-src="{{ product.images[1].src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
            </div>
            <div class="collec-text col-md-pull-6 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-push-0 col-xs-12">
              <div class="collec-title hidden-991">
                <h4 class="colle-step">Step 1</h4>
                <h1 class="colle-title">{{ collections.purify.title }}</h1>
              </div>
              <div class="product-detail">
                <h3 class="">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
                <p class="colle-description">{{ product.description  }}</p>
              </div>       
            </div>

          </div>
          {% endunless %}
          {% endfor %}
        </div>

        <div id="purify-sync2" class="collec-sync2 owl-carousel col-md-push-6">
          <div class="item">
            {% if settings.use_image_purify %}
            <img class="fade-in lazyload" data-src="{{ 'image_purify.png' | asset_url }}" alt="{{ collections.purify.alt | escape }}">
            {% else %}
            <img class="fade-in lazyload" data-src="{{ collections.purify.image | img_url: 'grande' }}" alt="{{ collections.purify.alt | escape }}">
            {% endif %}
          </div>
          {% for product in collections.purify.products %}
          {% unless product.handle contains '-kit' %}
          <div class="item">
            <img class="fade-in lazyload" data-src="{{ product.images[1].src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
          {% endunless %}
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- End Purify -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="line"></div>
      </div>
    </div>

    <!-- Repair -->
    <div class="row">
      <div class="collec-wrapp">
        <div class="collec-title col-xs-offset-0 col-sm-push-1 col-xs-10 col-xs-push-0 col-xs-12 hidden-992">
          <h4 class="colle-step">Step 2</h4>
          <h1 class="colle-title">{{ collections.repair.title }}</h1>
        </div>
        <div id="repair-sync1" class="collec-sync1 owl-carousel">
          <div class="item">
            <div class="collec-img col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-10">
              {% if settings.use_image_repair %}
              <img class="fade-in lazyload" data-src="{{ 'image_repair.png' | asset_url }}" alt="{{ collections.repair.alt | escape }}">
              {% else %}
              <img class="fade-in lazyload" data-src="{{ collections.repair.image | img_url: 'grande' }}" alt="{{ collections.repair.alt | escape }}">
              {% endif %}
            </div>
            <div class="collec-text col-md-offset-0 col-md-6 col-xs-offset-0 col-xs-12">
              <div class="collec-title hidden-991">
                <h4 class="colle-step">Step 2</h4>
                <h1 class="colle-title">{{ collections.repair.title }}</h1>
              </div>
              <div class="product-detail">
                <p class="colle-description">{{ collections.repair.description }}</p>
                <ul>
                  <label>The products:</label>
                  <li><span>clarafuse</span> clinically proven Silicone Fusion anti-aging treatment for face and chest</li>
                  <li><span>claraline</span> peptide-infused serum for day and night</li>
                  <li><span>claratone</span> stimulating serum applicator</li>
                </ul>
              </div>
            </div>

          </div>

          {% for product in collections.repair.products %}
          {% unless product.handle contains '-kit' %}
          <div class="item">
            <div class="collec-img col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-10">

              <img class="fade-in lazyload" data-src="{{ product.images[1].src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
            </div>
            <div class="collec-text col-md-offset-0 col-md-6 col-xs-offset-0 col-xs-12">
              <div class="collec-title hidden-991">
                <h4 class="colle-step">Step 2</h4>
                <h1 class="colle-title">{{ collections.repair.title }}</h1>
              </div>
              <div class="product-detail">
                <h3 class="">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
                <p class="colle-description">{{ product.description  }}</p>
              </div>       
            </div>

          </div>
          {% endunless %}
          {% endfor %}
        </div>

        <div id="repair-sync2" class="collec-sync2 owl-carousel col-lg-push-1 col-md-push-1">
          <div class="item">
            {% if settings.use_image_repair %}
            <img class="fade-in lazyload" data-src="{{ 'image_repair.png' | asset_url }}" alt="{{ collections.repair.alt | escape }}">
            {% else %}
            <img class="fade-in lazyload" data-src="{{ collections.repair.image | img_url: 'grande' }}" alt="{{ collections.repair.alt | escape }}">
            {% endif %}
          </div>
          {% for product in collections.repair.products %}
          {% unless product.handle contains '-kit' %}
          <div class="item">
            <img class="fade-in lazyload" data-src="{{ product.images[1].src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
          {% endunless %}
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- End Repair -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="line"></div>
      </div>
    </div>

    <!-- Nourish -->
    <div class="row">
      <div class="collec-wrapp">
        <div class="collec-title col-xs-offset-0 col-sm-push-1 col-xs-10 col-xs-push-0 col-xs-12 hidden-992">
          <h4 class="colle-step">Step 3</h4>
          <h1 class="colle-title">{{ collections.nourish.title }}</h1>
        </div>
        <div id="nourish-sync1" class="collec-sync1 owl-carousel">
          <div class="item">
            <div class="collec-img col-md-push-6 col-md-offset-0 col-md-6 col-xs-offset-1 col-xs-push-0 col-xs-10">
              {% if settings.use_image_nourish %}
              <img class="fade-in lazyload" data-src="{{ 'image_nourish.png' | asset_url }}" alt="{{ collections.nourish.alt | escape }}">
              {% else %}
              <img class="fade-in lazyload" data-src="{{ collections.nourish.image | img_url: 'grande' }}" alt="{{ collections.nourish.alt | escape }}">
              {% endif %}
            </div>
            <div class="collec-text col-md-pull-6 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-push-0 col-xs-12">
              <div class="collec-title hidden-991">
                <h4 class="colle-step">Step 3</h4>
                <h1 class="colle-title">{{ collections.nourish.title }}</h1>
              </div>
              <div class="product-detail">
                <p class="colle-description">{{ collections.nourish.description }}</p>
                <ul>
                  <label>The products:</label>
                  <li><span>clarasome </span>radiance restoring moisturizer</li>
                  <li><span>claralips </span>collagen-infused lip serum</li>
                </ul>
              </div>
            </div>

          </div>

          {% for product in collections.nourish.products %}
          {% unless product.handle contains '-kit' %}
          <div class="item">
            <div class="collec-img col-md-push-6 col-md-offset-0 col-md-6 col-xs-offset-1 col-xs-push-0 col-xs-10">

              <img class="fade-in lazyload" data-src="{{ product.images[1].src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
            </div>
            <div class="collec-text col-md-pull-6 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-push-0 col-xs-12">
              <div class="collec-title hidden-991">
                <h4 class="colle-step">Step 3</h4>
                <h1 class="colle-title">{{ collections.nourish.title }}</h1>
              </div>
              <div class="product-detail">
                <h3 class="">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
                <p class="colle-description">{{ product.description  }}</p>
              </div>       
            </div>

          </div>
          {% endunless %}
          {% endfor %}
        </div>

        <div id="nourish-sync2" class="collec-sync2 owl-carousel col-md-push-6">
          <div class="item">
            {% if settings.use_image_nourish %}
            <img class="fade-in lazyload" data-src="{{ 'image_nourish.png' | asset_url }}" alt="{{ collections.nourish.alt | escape }}">
            {% else %}
            <img class="fade-in lazyload" data-src="{{ collections.nourish.image | img_url: 'grande' }}" alt="{{ collections.nourish.alt | escape }}">
            {% endif %}
          </div>
          {% for product in collections.nourish.products %}
          {% unless product.handle contains '-kit' %}
          <div class="item">
            <img class="fade-in lazyload" data-src="{{ product.images[1].src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
          {% endunless %}
          {% endfor %}

        </div>
      </div>
    </div>
    <!-- End Nourish -->

  </div>
</section>


<script>


  $(document).ready(function() {

    var sync1 = $("#purify-sync1");
    var sync2 = $("#purify-sync2");

    sync1.owlCarousel({
      singleItem : true,
      slideSpeed : 1000,
      navigation: true,
      pagination:true,
      afterAction : syncPosition,
      responsiveRefreshRate : 200,
    });

    sync2.owlCarousel({
      items : 4,
      itemsDesktop      : [1199,4],
      itemsDesktopSmall     : [979,4],
      itemsTablet       : [768,4],
      itemsMobile       : [479,4],
      pagination:false,
      responsiveRefreshRate : 100,
      afterInit : function(el){
        el.find(".owl-item").eq(0).addClass("synced");
      }
    });

    function syncPosition(el){
      var current = this.currentItem;
      $("#purify-sync2")
      .find(".owl-item")
      .removeClass("synced")
      .eq(current)
      .addClass("synced")
      if($("#purify-sync2").data("owlCarousel") !== undefined){
        center(current)
      }
    }

    $("#purify-sync2").on("click", ".owl-item", function(e){
      e.preventDefault();
      var number = $(this).data("owlItem");
      sync1.trigger("owl.goTo",number);
    });

    function center(number){
      var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
      var num = number;
      var found = false;
      for(var i in sync2visible){
        if(num === sync2visible[i]){
          var found = true;
        }
      }

      if(found===false){
        if(num>sync2visible[sync2visible.length-1]){
          sync2.trigger("owl.goTo", num - sync2visible.length+2)
        }else{
          if(num - 1 === -1){
            num = 0;
          }
          sync2.trigger("owl.goTo", num);
        }
      } else if(num === sync2visible[sync2visible.length-1]){
        sync2.trigger("owl.goTo", sync2visible[1])
      } else if(num === sync2visible[0]){
        sync2.trigger("owl.goTo", num-1)
      }

    }

  });

  $(document).ready(function() {
    var sync1 = $("#repair-sync1");
    var sync2 = $("#repair-sync2");
    sync1.owlCarousel({
      singleItem : true,
      slideSpeed : 1000,
      navigation: true,
      pagination:true,
      afterAction : syncPosition,
      responsiveRefreshRate : 200,
    });
    sync2.owlCarousel({
      items : 4,
      itemsDesktop      : [1199,4],
      itemsDesktopSmall     : [979,4],
      itemsTablet       : [768,4],
      itemsMobile       : [479,4],
      pagination:false,
      responsiveRefreshRate : 100,
      afterInit : function(el){
        el.find(".owl-item").eq(0).addClass("synced");
      }
    });
    function syncPosition(el){
      var current = this.currentItem;
      $("#repair-sync2")
      .find(".owl-item")
      .removeClass("synced")
      .eq(current)
      .addClass("synced")
      if($("#repair-sync2").data("owlCarousel") !== undefined){
        center(current)
      }
    }

    $("#repair-sync2").on("click", ".owl-item", function(e){
      e.preventDefault();
      var number = $(this).data("owlItem");
      sync1.trigger("owl.goTo",number);
    });
    function center(number){
      var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
      var num = number;
      var found = false;
      for(var i in sync2visible){
        if(num === sync2visible[i]){
          var found = true;
        }
      }
      if(found===false){
        if(num>sync2visible[sync2visible.length-1]){
          sync2.trigger("owl.goTo", num - sync2visible.length+2)
        }else{
          if(num - 1 === -1){
            num = 0;
          }
          sync2.trigger("owl.goTo", num);
        }
      } else if(num === sync2visible[sync2visible.length-1]){
        sync2.trigger("owl.goTo", sync2visible[1])
      } else if(num === sync2visible[0]){
        sync2.trigger("owl.goTo", num-1)
      }
    }
  });
  $(document).ready(function() {
    var sync1 = $("#nourish-sync1");
    var sync2 = $("#nourish-sync2");
    sync1.owlCarousel({
      singleItem : true,
      slideSpeed : 1000,
      navigation: true,
      pagination:true,
      afterAction : syncPosition,
      responsiveRefreshRate : 200,
    });

    sync2.owlCarousel({
      items : 4,
      itemsDesktop      : [1199,4],
      itemsDesktopSmall     : [991,3],
      itemsTablet       : [768,3],
      itemsMobile       : [479,3],
      pagination:false,
      responsiveRefreshRate : 100,
      afterInit : function(el){
        el.find(".owl-item").eq(0).addClass("synced");
      }
    });
    function syncPosition(el){
      var current = this.currentItem;
      $("#nourish-sync2")
      .find(".owl-item")
      .removeClass("synced")
      .eq(current)
      .addClass("synced")
      if($("#nourish-sync2").data("owlCarousel") !== undefined){
        center(current)
      }
    }
    $("#nourish-sync2").on("click", ".owl-item", function(e){
      e.preventDefault();
      var number = $(this).data("owlItem");
      sync1.trigger("owl.goTo",number);
    });
    function center(number){
      var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
      var num = number;
      var found = false;
      for(var i in sync2visible){
        if(num === sync2visible[i]){
          var found = true;
        }
      }
      if(found===false){
        if(num>sync2visible[sync2visible.length-1]){
          sync2.trigger("owl.goTo", num - sync2visible.length+2)
        }else{
          if(num - 1 === -1){
            num = 0;
          }
          sync2.trigger("owl.goTo", num);
        }
      } else if(num === sync2visible[sync2visible.length-1]){
        sync2.trigger("owl.goTo", sync2visible[1])
      } else if(num === sync2visible[0]){
        sync2.trigger("owl.goTo", num-1)
      }
    }
  });
</script>