<style>
  #page-faq section { 
    display: none;
    padding: 0;
    border-top: none;
  }

  #page-faq section#content0{
    display: block;
  }

  #page-faq input {
    display: none;
  }

  #page-faq li label {
    font-size: 16px;
  }

  #page-faq input:checked + label {
    color: #e38065 !important;
  }

  #page-faq .content-tab .content-p {
    display: none;
  }

  #page-faq .content-tab .content-p-two {
    display: none;
    font-size: 14px;
  }

  #page-faq .content-tab .pointer-open,
  #page-faq .content-tab .pointer-open-two {
    cursor:pointer;
  }

  #page-faq .content-tab .pointer-open-two { 
    font-size: 26px;
    font-style: italic;
    text-decoration: underline;
  }
</style>


<div id="page-faq" class="container">

  <div class="row">
    <header class="section-header section-header__title col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>Do you have questions? <span>We have the answers!</span></h1>
    </header>   
  </div>

  <div class="row">
    <div id="tab-page-title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav-faq">
        <li>
          <input id="tab0" type="radio" name="tabs">
          <label for="tab0" tab="content0">About the Company</label>
        </li>

        <li>
          <input id="tab1" type="radio" name="tabs">
          <label for="tab1" tab="content1">About our Products</label>
        </li>

        <li>
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2" tab="content2"><i class="font-cri" style="font-weight: 600;">Clarafuse</i> Patches</label>
        </li>
        <li>
          <input id="tab3" type="radio" name="tabs">
          <label for="tab3" tab="content3">Policies & Warranties</label>
        </li>
        <li>
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4" tab="content4">Orders</label>
        </li>
      </ul>
    </div>
  </div>

  <section id="content0" class="row content-tab">
    <div id="about-stretch-marks" class="page-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul>
        <li>
          <h3 class="pointer-open open">What is Dermaclara Beauty? <i class="fa fa-chevron-down"></i></h3>
          <div class="content-p" style="display:block;" >
            Dermaclara Beauty is a groundbreaking line of skincare that addresses both wrinkles and stretch marks using medical grade silicone patches and complementary skincare that smoothes, plumps, and prevents. Designed for both face and body, our <i class="font-cri">clarafuse</i> silicone patches utilize Silicone Fusion™ technology, and can be applied easily and discreetly. <i class="font-cri">Clarafuse</i> patches firm, plump, and erase wrinkles and stretch marks. Each patch is reusable up to 30 times.
          </div>
        </li>

        <li>
          <h3 class="pointer-open">Why was Dermaclara Beauty created? <i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Meet two millennial women on a mission. After suffering from stretch marks and greeting milestone birthdays like 30, Thao Tran and Elizabeth Sanders decided to do something about aging just for millennials (and those who feel like millennials). With Silicone Fusion™ technology developed by Dermaclara Beauty, this beauty brand is dedicated to helping you keep your youth longer. Dermaclara Beauty uses the same advanced technology doctors use to reduce the appearance of stretch marks to fight wrinkles today’s way—quick, easy, and fun.   
          </div>
        </li>

      </ul>
    </div>
  </section>

  <section id="content1" class="row content-tab">
    <div id="about-the-products" class="page-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul>
        <li>
          <h3 class="pointer-open">What is Silicone Fusion™ technology?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Dermaclara developed this patented, proprietary system of stretch mark and wrinkle  reduction utilizing occlusion, which is a microclimate created between skin and silicone. It stimulates collagen production, encourages hydration, and promotes healing, making the appearance of stretch marks blends into the surrounding skin and making wrinkles flatten and diminish. It is clinically and customer proven to work!
            {%comment%}
            <p>Our lineup is made in the U.S.A. and features powerful anti-aging ingredients and we do not test on animals. 
            </p>
            <h3 class="pointer-open-two">claraprep<i class="fa fa-plus-square-o"></i></h3>
            <div class="content-p-two">
              Ingredients:
              Water, Myristic Acid, Glycerin, Cocamidopropyl Betaine, Stearic Acid, Sodium Methyl Cocoyl, Taurate, Potassium Hydroxide, Glycol Distearate, Dimethicone, Propylene Glycol, Polysorbate 20, Titanium Dioxide, Potassium Sorbate, Menthol, Magnesium Chloride, Magnesium
              Nitrate, Methylchloroisothiazolinone, Methylisothiazolinone, Fragrance, Disodium EDTA
            </div>
            <h3 class="pointer-open-two">claraline<i class="fa fa-plus-square-o"></i></h3>
            <div class="content-p-two">
              Ingredients:
              Water, Butylene Glycol, Acetyl Hexapeptide-8 (and) Phenoxyethanol (and) Potassium Sorbate, Niacinamide, Sodium Ascorbyl Phosphate, Glycerin, Phenoxyethanol, Benzoic Acid, Ethylhexylglycerin, Glycereth-2 Cocoate,
              Sodium
              Hyaluronate Acid Powder, Potassium Hydroxide, Citric acid
              Carbomer,
              Arnica Montana Flower Extract, Chamomilla Recutita (Matricaria) Flower Extract, Cucumis Sativus (Cucumber) Fruit Extract, Sambucus Nigra Flower Extract, Glycyrrhiza Glabra (Licorice) Root Extract, Prunus Armeniaca (Apricot) Fruit Extract, Zingiber Officinale
              (GInger) Root Extract, Prunus Amygdalus Dulcis (Sweet Almond) Fruit Extract, Passiflora Incarnata Fruit Extract, Curcuma Longa (Turmeric) Root Extract, Camellia Sinensis Leaf Extract, Centella Asiatica Extract, Phyllanthus Emblica Extract, Ocimum Teniflora
              (Tulsi) Extract, Fragrance, Aloe Barbadensis Leaf Juice
            </div>
            <h3 class="pointer-open-two">claralips<i class="fa fa-plus-square-o"></i></h3>
            <div class="content-p-two">
              Ingredients:
              Polybutene, Caprylic Capric Triglycerides, Ricinus Communis, Ozokerite, Tribehenin, Butyrospermum Parkii (Shea) Butter, Cetyl Alcohol, Lauryl Laurate, Cetearyl Ethylhexanoate (and) Sorbitan Isostearate (and) Portulaca Pilosa Extract (and) Sucrose Cocoate (and)
              Palmitoyl Tripeptide-38, Flavor, Sodium Ascorbyl Phosphate, Sodium Hyaluronate Acid Powder
            </div>
            <h3 class="pointer-open-two">clarasome<i class="fa fa-plus-square-o"></i></h3>
            <div class="content-p-two">
              Ingredients:
              Water, Aloe Barbadensis Leaf, Juice, Cyclopentasiloxane,
              Sweet Almond Oil, Glycerin, Ammonium, Acryloyldimethyltaurate/VP Copolymer, Phenoxyethanol, Benzoic Acid, Ethylhexylglycerin, Glycereth-2 Cocoate, Sorbitol, Sodium Hyaluronate Acid Powder, Fragrance, Disodium EDTA
            </div>
            <h3 class="pointer-open-two">clarafuse<i class="fa fa-plus-square-o"></i></h3>
            <div class="content-p-two">
              100% Medical Grade Silicone
            </div>
            {%endcomment%}
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Are all of Dermaclara Beauty products safe?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Yes. All of our products are dermatologist approved and allergy tested. Dermaclara Beauty <i class="font-cri">clarafuse</i> patches are made of medical grade silicone, which has been used by doctors and surgeons to heal scars. We recommend you refrain from using our products if you are allergic to silicone or get irritated from adhesives such as band-aids.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Are Dermaclara Beauty products a permanent solution to wrinkles and stretch marks?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            When using Dermaclara Beauty <i class="font-cri">clarafuse</i> patches, you’ll notice visible improvement in your wrinkles and stretch marks even after just one hour, but over time, results will be cumulative which will give skin a plump and healthy look. Use them for wrinkle prevention, too! While applied, the flattening effect of the patch also helps keeps the skin in its place and prevents wrinkles from forming.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How do <italic style="font-style: italic;">clarafuse</italic> patches work?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            When a silicone patch is placed on the skin, a microclimate environment is created between the skin and the silicone, called Dermaclara Beauty. It is this unique environment that helps skin heal itself. Moisture is drawn up from lower skin layers to the outside layers, causing the skin to plump, fill in, and smooth itself. To read more about the science behind <i class="font-cri">clarafuse</i>, click <a href="/pages/science">here</a>.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">What results can I expect to see with the Dermaclara Beauty system?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Our <i class="font-cri">clarafuse</i> patches are clinically proven to significantly reduce the appearance of fine lines and wrinkles within the first hour of use. But great skincare is more than a single noninvasive product – it needs a regimen of complementary products and a best practice routine. That’s why we developed the Dermaclara Beauty skincare line. Depending on your age, condition of your skin and general nutrition, most users see a visible, sustainable change using clarafuse within 30 days of use. We recommend wearing <i class="font-cri">clarafuse</i> for at least an hour each day. Once you’ve gotten your desired results, reduce usage to 2-3 sessions per week for maintenance care. If you stop wearing <i class="font-cri">clarafuse</i> too soon, results may diminish. Continual use will help maintain your results. We recommend you replace <i class="font-cri">clarafuse</i> patches every 30 days (this may differ depending on skin type, condition, and frequency of use).
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Is Dermaclara Beauty cruelty free?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Yes, Dermaclara Beauty does not test on animals.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Can I use these products while pregnant or breastfeeding?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            If you are pregnant or breastfeeding, we recommend that you check with your doctor prior to use.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">What about the rest of my skin care routine?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Always wear <i class="font-cri">clarafuse</i> patches on clean, dry skin, free from any product. To enhance your results, we recommend you use the rest of the Dermaclara Beauty skincare line. Created by our youth scientists, our skincare targets the the key signs of wrinkles and stretch marks: dryness, hyperpigmentation, wrinkles, laxity, and rough texture.
            <ul>
              <li>- <i class="font-cri">claraprep</i> cream cleanser cleanses with a blend of nourishing ingredients to effectively remove pollutants and excess oil while maintaining the skin’s moisture balance.</li>
              <li>- <i class="font-cri">claraline</i> peptide serum treats aging skin with a blend of active peptides to reduce the key signs of aging.</li>
              <li>- <i class="font-cri">clarasome</i> moisturizer hydrates with a cooling gel formulation that restores moisture without any residue and heaviness.</li>
              <li>- <i class="font-cri">claralips</i> collagen-infused lip serum treats lips with proven collagen and exfoliating ingredients to both exfoliate and nourish while boosting lip volume.</li>
            </ul>
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Who can use Dermaclara Beauty?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Although we have designed our brand for millenials and young moms, our customers span from 20-70. Our products can be used to prevent AND treat wrinkles and stretch marks.
          </div>
        </li>
      </ul>
    </div>
  </section>


  <section id="content2" class="row content-tab">
    <div id="about-dermaclara" class="page-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul>
        <li>
          <h3 class="pointer-open">How do I apply my Dermaclara Beauty clarafuse patch?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Check out our <a class="no-scroll open-slide-video-popup" href="#slide-video-popup">how to videos</a> for detailed instructions! Our patches should be applied to clean, dry skin to desired area on face or body. First cleanse with <i class="font-cri">claraprep</i> cleanser, apply patch, wear from 1-9 hours, then slowly remove. Apply <i class="font-cri">claraline</i> serum or <i class="font-cri">clarasome</i> moisturizer. Rinse patch, then store in storage tray.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">What are the patches made of?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Our patches are made of 100% medical grade silicone.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How do I know if I need new patches?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Our clarafuse patches are reusable up to 30 times with proper care. When the patches starts to lose adhesiveness, we recommend that you switch to a new patch both for cleanliness and superior adhesion.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How comfortable are the patches to sleep in?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            <i class="font-cri">Clarafuse</i> patches  were designed to be extremely comfortable and flexible making them easy to sleep in!
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How do I keep the patches clean?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            The best way to maximize the adhesion of your patch is to apply to cleansed, dry skin. Each morning after use, put your patch adhesive side down in the storage tray, and keep the storage shield in a place away from dust. To cleanse the patch, rinse it with water and allow to completely dry before reapplying to skin or back in the storage tray.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Why do I have to cleanse before applying the patches?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Our <i class="font-cri">clarafuse</i> patches create an intense microclimate of hydration on the skin. This has amazing smoothing and hydrating effects, but since you are trapping moisture into your skin, any natural oils or products can cause irritation. By cleansing you also keep the adhesive clear of any dead skin cells that may interfere with stickiness.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Can I use other products under the patches?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Prior to Patch application, we recommend washing the skin with <i class="font-cri">claraprep</i> cleanser. We do not recommend using any product (particularly those with acids or oils!) under the patches as they may irritate the skin and will interfere with patch adhesion.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Do <italic style="font-style: italic;">clarafuse</italic> patches work on any skin type?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Dermaclara Beauty is for women of all ages and skin types who are experiencing any form of wrinkles, stretch mark,s or crepey skin. Our clarafuse patches work on any skin tone and any age skin.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">What are the potential adverse reactions?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Those with allergies or sensitivities may experience slight redness or irritation, and should discontinue use. If you are not sure if you have a sensitivity to the medical grade silicone used in our patches, test the patch on a small area of the skin before use. Do not use the patches on open wounds, infected areas or rashes.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Will the patch stretch my skin when I take it off?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            The face patches can be used on any area on the face, including surrounding the eye to diminish fine lines and wrinkles. Be careful when removing any patches around the delicate eye area. To gently remove from the skin, start removal from top of the patch near the brow bone while keeping the skin taut with the other hand, then, tap along the skin with one of your fingers, pushing the adhesive away until fully removed.
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="content3" class="row content-tab">
    <div id="policies-warranties" class="page-item col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <ul>
        <li>
          <h3 class="pointer-open">What is your return policy?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            We offer a 30-Day Money Back Guarantee on all Dermaclara Beauty products from the date of receipt. All items must be in their original individual packaging. Refunds do not include the original cost for shipping and handling, or any return shipping costs you may incur. Only original Dermaclara Beauty containers and packaging qualify as ‘empty jars’. Our money back guarantee is limited to one per household.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How do I return a Dermaclara Beauty product?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            <p>To request a return, refund or replacement for any Dermaclara products please contact our customer support team at: <a target="_blank" href="mailto:support@dermaclara.com">support@dermaclara.com</a>.</p>
            <p>All refunds will be credited back to the original form of payment or to a Dermaclara Beauty gift card. Please include your name, phone number, Order ID, name of product you would like to return, and a brief summary and reason for your return or exchange request in your email. To complete your return, please submit a receipt or proof of purchase. Upon acceptance of a return request, our customer support team will issue you a ‘Return Material Authorization’ (RMA) tracking number. You are responsible for paying your own return shipping costs. Shipping costs are non-refundable. We recommend using a trackable shipping service or purchasing shipping insurance as we cannot guarantee that we will receive your returned item.</p>
          </div>
        </li>
        <li>
          <h3 class="pointer-open">I received a damaged product—what should I do?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Please contact <a target="_blank" href="mailto:support@dermaclara.com">support@dermaclara.com</a> to request a re-shipment. Proof of damage may be requested in the form of a picture.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How do I receive a refund?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            For approved refunds, please allow 14 business days for credit processing after receipt of your return. It you have requested a replacement, you will be debited for the replacement item(s) and credited for the returned item(s). Please do not filing any claims for chargebacks with your credit card provider while we are processing your return/refund to avoid delaying the process.
          </div>
        </li>
        
      </ul>

    </div>
  </section>

  <section id="content4" class="row content-tab">
    <div id="order" class="page-item col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <ul>
        <li>
          <h3 class="pointer-open">Do you ship outside of the U.S.?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            We only ship within the United States at this time, but are looking forward to have our products delivered globally soon.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">What should I do if there is an error in my order?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Please contact Dermaclara’s customer support department at <a target="_blank" href="mailto:support@dermaclara.com">support@dermaclara.com</a>.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How can I track my order?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Once your order has been fulfilled and shipped, you will receive an email with the tracking information.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">How can I change or cancel my order after it has been submitted?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Please contact Dermaclara’s customer support department at <a target="_blank" href="mailto:support@dermaclara.com">support@dermaclara.com</a>.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">When and how w ill I receive my order confirmation?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            Order confirmations will be sent to the email you provided within an hour after the order is placed.
          </div>
        </li>
        <li>
          <h3 class="pointer-open">Can I add a promotion to my previous order?<i class="fa fa-chevron-down"></i></h3>
          <div class="content-p">
            We want happy customers, so please contact Dermaclara’s customer support department at <a target="_blank" href="mailto:support@dermaclara.com">support@dermaclara.com</a> with any requests and we will do our best to accommodate them.
          </div>
        </li>
        
      </ul>

    </div>

	  <div class="hidden">
		  <div class="{% if settings.faq_video_link != blank %}popup-youtube-wrapper{% endif %} popup-vimeo-wrapper" id="slide-video-popup">
			  <div class="video-container">
				  {% if settings.faq_video_link != blank %}
					  <iframe width="560" height="315" src="{{ settings.faq_video_link }}?rel=0" frameborder="0"
							  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							  allowfullscreen></iframe>
				  {% else %}
					  <iframe id="slide-player-popup"
							  link-src="{{ settings.promo_slide_video_link }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup"
							  width="" height="" frameborder="0" data-progress="true" data-seek="true"
							  data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				  {% endif %}
			  </div>
		  </div>
	  </div>
  </section>
</div>

<script>
	$(document).ready(function () {
		$("#slide-player-popup").on("finish", function () {
			$("#slide-video-popup .mfp-close").trigger("click");
		});
		$("#slide-player-popup").on("pause", function () {
			//$("#slide-video-popup .mfp-close").trigger("click");
		});
		$('.open-slide-video-popup').magnificPopup({
			fixedContentPos: true,
			fixedBgPos: true,
			disableOn: 0,
			//overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom',
			callbacks: {
				open: function () {
					{% if settings.faq_video_link == blank %}
						StopAllOtherVideos();
						$("#slide-player-popup").attr('src', $("#slide-player-popup").attr('link-src'));
						setTimeout(function () {
							$("#slide-player-popup").vimeo("play");
						}, 700);
						$.magnificPopup.instance.close = function () {
							$("#slide-player-popup").vimeo("stop");
							$.magnificPopup.proto.close.call(this);
						};
					{% endif %}
				}
			}
		});
	});
</script>

<script>
  function openTab(tab){
    $('section.content-tab').hide();
    $('section#'+tab).show();
    $('section#'+tab+' li:first .pointer-open').click();
  }
  $(document).ready(function(){
    $('#tab0').prop("checked", true);
    $(document).on("click touchstart", ".nav-faq label", function () {
      openTab($(this).attr('tab'));
    });
    $(".pointer-open").click(function(){
      $('.pointer-open').removeClass('open'); 
      if(false==$(this).next().is(':visible')){
        $('.content-p').slideUp(300);
        $(this).toggleClass('open');
      }
      $(this).next().slideToggle(300);    
    });
    $(".pointer-open-two").click(function(){
      $('.pointer-open-two').removeClass('open'); 
      if(false==$(this).next().is(':visible')){
        $('.content-p-two').slideUp(300);
        $(this).toggleClass('open');
      }
      $(this).next().slideToggle(300);    
    });
  });
</script>