<section id="rumor-has-it" class="light-blue-bg index-as-seen-on">
  <div class="container">

    <div class="row align-items-center">
      {% assign number_video = 0 %}
      {% for i in (1..2) %}
      {% capture video_seenon_show %}video_seenon_show_{{ i }}{% endcapture %}
      {% if settings[video_seenon_show] %}
      {% assign number_video = number_video | plus:1%}
      {% endif %}
      {% endfor %}
      {% for i in (1..2) %}
      {% capture video_seenon_img %}video_seenon_img_{{ i }}.png{% endcapture %}
      {% capture video_seenon_link %}video_seenon_link_{{ i }}{% endcapture %}
      {% capture video_seenon_show %}video_seenon_show_{{ i }}{% endcapture %}
      {% if settings[video_seenon_show] %}
      <div class="{% if number_video == 1 %}col-md-6 col-sm-12 col-xs-12{% else %} {% cycle 'col-md-offset-1 col-sm-offset-0 col-xs-offset-1', 'col-md-offset-0 col-sm-offset-0 col-xs-offset-1' %} col-md-5 col-sm-6 col-xs-10{% endif %}">
        <div id="video-seenon">
          <a class="no-scroll video-seenon-img open-popup-seenon-{{i}}" href="#popup-video-seenon-{{i}}">
            <img class="tes-img tes-img-{{i}} hmak-lazy" hmak-src="{{ video_seenon_img | asset_url }}" alt="" />
          </a>
          <a class="no-scroll play-button open-popup-seenon-{{i}}" href="#popup-video-seenon-{{i}}">
            {% include 'icon-play' %}
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="pl-50 col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <h1 class="section-title">As Seen On</h1>
        <p>Dermaclara Beauty <i class="font-cri">clarafuse</i> has been featured in and on multiple media outlets, including top network television shows and popular blogs. With our growing customer base, look for Dermaclara Beauty to be featured on your favorite show or blog!</p>
        <div class="logo-bottom-row row align-items-center">
          <div class="col-md-4 logo-bottom-row__item">
            <a target="_blank" href="https://www.forbes.com/sites/biancasalonga/2020/04/10/at-home-anti-aging-body-treatments-for-each-day-in-lockdown/#6dade6ac7df4"><img class="hmak-lazy Forbes" hmak-src="{{ 'forbes-logo.png' | asset_url }}" alt="Forbes" /></a>
          </div>
          <div class="col-md-4 logo-bottom-row__item">
            <a target="_blank" href="https://momfabulous.com/dermaclara-clarafuse-silicone-patches-an-honest-review/"><img class="hmak-lazy Mom_Fabulous" hmak-src="{{ 'mom-fabulous-logo.jpg' | asset_url }}" alt="Mom Fabulous" /></a>
          </div>
          <div class="col-md-4 logo-bottom-row__item">
            <a target="_blank" href="https://www.plus-model-mag.com/2017/11/winter-wonder-skin/"><img class="hmak-lazy Plus_Model" hmak-src="{{ 'plusmodel-logo.png' | asset_url }}" alt="Plus Model" /></a>
          </div>
        </div>
      </div>
    </div>


    <div class="hidden">
      {% for i in (1..2) %}
      {% capture video_seenon_link %}video_seenon_link_{{ i }}{% endcapture %}
      <div class="popup-vimeo-wrapper" id="popup-video-seenon-{{i}}">
        <div class="video-container">
          <iframe id="seenon-player-{{i}}" link-src="{{ settings[video_seenon_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{%comment%}
<div id="home-review">
  <div class="container">
    {% include 'home-review' %}
  </div>
</div>
{%endcomment%}
<script>
  $(document).ready(function(){
    {% for i in (1..2) %}
    $("#seenon-player-{{i}}").on("finish", function(){
      $("#popup-video-seenon-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-seenon-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#seenon-player-{{i}}").attr('src',$("#seenon-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#seenon-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#seenon-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }}
  });
  {% endfor %}
  });
</script>

<style>
  @media (max-width: 767px) {
    .logo-bottom-row__item {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
</style>