{% assign index = 0 %}
{% if settings.show_promo_image_1 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_2 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_3 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_4 %}{% assign index = index | plus: 1 %}{% endif %}
{% case index %}
{% when 1 %}
{% assign promo_image_width = 'one-whole' %}
{% when 2 %}
{% assign promo_image_width = 'one-half' %}
{% when 3 %}
{% assign promo_image_width = 'small--one-whole one-third' %}
{% when 4 %}
{% assign promo_image_width = 'small--one-whole medium--one-half one-quarter' %}
{% endcase %}
{% unless index == 0 %}

<section id="promo-img" class="promo-images">
  <div class="promo-mb">
  </div>
  <div class="caption-promo">
    <div class="promo-top-mb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>A comfortable, Safe, and Effective Solution to</h3>
            <h1 class=""><span>TREAT</span>acne scarring</h1>
            <p>This breakthrough Silicone Fusion Treatment is proven to give you medical grade results at home. Reduce unsightly acne scars in the comfort of your own home, without injections, laser treatments, chemicals, or surgery. </p>
            <a class="btn shop-now" href="/pages/acne#packages">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="hero-text col-md-5">{{ settings.promo_text_content }}</p>
          <div class="learn-more-button align-center">
            {% if template contains 'siliconefusion' %}
            <a class="shop-now-top" href="/pages/siliconefusion/#home-results">Learn more </a>
            <a class="arrow-btn " href="/pages/siliconefusion/#home-results"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            {% else %}
            <a class="shop-now-top" href="{{ settings.promo_learn_more_link }}">Learn more </a>
            <a class="arrow-btn " href="{{ settings.promo_learn_more_link }}"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            {% endif %}
          </div>
          <div class="slide-video-popup col-md-12 col-xs-12">
            <div class="slide-video-inside">
              <img class="video-img" src="{{ 'video-top.jpg' | asset_url }}" alt="" />
              <div class="slide-video-play">
                <a class="play-button no-scroll open-slide-video-popup" href="#slide-video-popup"></a>                
              </div>
              <h3>WHY DERMACLARA?</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="learn-more-button align-center">
            <a class="shop-now-top" href="{{ settings.promo_learn_more_link }}">Learn more </a>
            <a class="arrow-btn" href="{{ settings.promo_learn_more_link }}">down</a>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-seal">
      <img class="fade-in lazyload" data-src="{{ 'dermatologist_approved.png' | asset_url }}" alt="seal" />
    </div>
    {% endcomment %}
  </div>

  <div class="hidden">
    <div class="popup-vimeo-wrapper" id="slide-video-popup">
      <div class="video-container">
        <iframe id="slide-player-popup" link-src="{{settings.promo_slide_video_link}}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup" width="" height="" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

</section>
<script>
  $(document).ready(function(){
    $("#slide-player-popup").on("finish", function(){
      $("#slide-video-popup .mfp-close").trigger("click");
    });
    $("#slide-player-popup").on("pause", function(){
      //$("#slide-video-popup .mfp-close").trigger("click");
    });
    $('.open-slide-video-popup').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#slide-player-popup").attr('src',$("#slide-player-popup").attr('link-src'));
          setTimeout(function(){$("#slide-player-popup").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#slide-player-popup").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });
</script>
{% endunless %}
