<div class="three-day-money-back">
  <div class="guatantees-img col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <img class="" src="{{ 'guarantee-icon.png' | asset_url }}" alt="" />
  </div>
  <div class="guatantees-text col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-3 col-sm-6">
    <p>If you’re not pleased with the results, just return the products or empty jars within 60 days and we will give you a refund.</p>
  </div>
</div>

{%comment%}
<div class="lifetime-satisfaction">
  <div class="guatantees-img mb-tablet-show col-lg-4 col-md-4 col-xs-12 col-sm-4">
    <img class="" src="{{ 'saticfaction-icon.png' | asset_url }}" alt="" />
  </div>
  <div class="guatantees-text col-lg-7 col-md-7 col-xs-12 col-sm-7">
    <p>If you choose surgical procedures after six consecutive months of using Dermaclara clarafuse, we’ll refund all of your Dermaclara purchases.</p>
  </div>
  <div class="guatantees-img desktop-show col-lg-4 col-md-4 col-xs-12 col-sm-4">
    <img class="" src="{{ 'saticfaction-icon.png' | asset_url }}" alt="" />
  </div>
</div>
{%endcomment%}