{% comment %}
<section id="home-howitwork" class="">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title a text-center">THE DERMACLARA SYSTEM FEATURES <span>CLARAFUSE WRINKLE REDUCTION SILICONE FUSION TECHNOLOGY™</span></h2>
      </div>
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12 col-sm-12">
        <p class="text-center">During extensive scar treatment research, we discovered that the closed, breathable microclimate (occlusion) that our pre-stretched medical grade Silicone Fusion Treatment™ creates when placed on the skin did more than just help the reduction of scars. It also worked to reduce the appearance of fine lines and wrinkles with each application.</p> 
        <p class="text-center">Dermaclara set out to create an anti-aging line designed to work together to keep your skin healthy, nourished, and radiant as you age.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img class="banner show-dk dk-show" src="{{ 'painless-banner.jpg' | asset_url }}" alt="" />
        <img class="banner show-750" src="{{ 'painless-banner.jpg' | asset_url }}" alt="" />
        <img class="banner show-480" src="{{ 'painless-banner-480.jpg' | asset_url }}" alt="" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <p class="small-text text-center">*Above image is showing clarafuse fo chest; clarafuse is also available for forhead, and eyes & mouth areas and have the same qualities.</p>
      </div>
    </div>
  </div>

  <div id="results-text-wrapp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="results-text-group">
            <div class="results-text">
              <h3>Studies<span>show*:</span></h3>
            </div>
            <div class="results-text">
              <h1>87<sup>%</sup></h1>
              <p>smoother <span>skin</span></p>
            </div>
            <div class="results-text">
              <h1>85<sup>%</sup></h1>
              <p>lines and wrinkles <span>visibly improved</span></p>
            </div>
            <div class="results-text">
              <h1>90<sup>%</sup></h1>
              <p>prefer to use over <span>injections or surgery</span></p>
            </div>
          </div>
          <p class="small-text">*From the <a href="/#home-clinically-tested">Independent Clinical Study</a></p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endcomment %}


<section id="home-howitwork" class="two">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title a text-center">How Silicone Fusion <span>Technology Works</span></h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <img class="banner show-dk dk-show" src="{{ 'how-it-works-banner.png' | asset_url }}" alt="" />
        <img class="banner show-750" src="{{ 'how-it-works-banner.png' | asset_url }}" alt="" />
        <img class="banner show-480" src="{{ 'how-it-works-banner-480.png' | asset_url }}" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
        <p class="how-content">Clarafuse creates a closed, breathable microclimate when placed on the skin. It allows oxygen to pass through, letting skin breathe while locking in moisture. Moisture is drawn up from lower skin layers to the outside layers and collagen production is encouraged, activated, and normalized. This unique environment helps the skin heal itself, repairing fine lines, wrinkles, stretch marks and more with each application. After only one aplication, the skin shows a marked increase in hydration and photodamage repair and a reduction in roughness and wrinkle depth. In addition to the hydrating effects, it also helps to keep the skin flat while you are wearing it which keeps new lines from forming.
</p>
      </div>
    </div>
  </div>
</section>