<section id="home-medical" class="">
  <div class="container">
    <div class="row">
      <div class="home-medical-wp col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h2 class="section-title">Medical background</h2>
        <p>While conducting extensive scar treatment research, we discovered that the closed, breathable microclimate (occlusion) that our medical grade silicone dermapads create when placed on the skin did more than just help the reduction of scars. It also worked to reduce the appearance of fine lines and wrinkles with each application.</p> 
        <p>Dermaclara set out to create an entire anti-aging system designed to work together to keep your skin healthy, nourished, and radiant as you age.</p>
      </div>
    </div>
  </div>
</section>