<style>
  .modal-open .modal {
    background: rgba(255,255,255,0.95);
  }

  .modal-header .close {
    font-size: 30px;
  }
  .modal-dialog {
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 30px auto;
  }

  .modal {
    overflow: hidden;
  }

  .modal.fade {
    opacity: 1;
  }

  .modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }

  #myModal .modal-content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

  }
</style>

<section id="guatantees" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title text-center">We Stand By Our Customers</h2>
      </div>
    </div>
    <div class="row three-day-money-back">
      <div class="guatantees-img col-lg-offset-2 col-lg-2 col-md-offset-1 col-md-3 col-xs-12 col-sm-4">
        <img class="hmak-lazy" hmak-src="{{ 'guarantee-icon.png' | asset_url }}" alt="" />
      </div>
      <div class="guatantees-text col-lg-7 col-md-7 col-xs-12 col-sm-8">
        <p>{{ pages.three-day-money-back.content }}</p> 
        {% comment %}
        <p><button type="button" class="" data-toggle="modal" data-target="#myModal">Click here</button> to learn more.</p>
        {% endcomment %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="line"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="derma-cares-title section-title text-center">Organizational Philanthropy</h2>
      </div>
    </div>
    
    <div class="row derma-cares">
      <div class="derma-cares-img col-md-push-7 col-md-5 col-sm-push-0 col-md-12">
        <img class="hmak-lazy" hmak-src="{{ 'logo-cares.png' | asset_url }}" alt="" />
      </div>
      <div class="derma-cares-text col-md-pull-5 col-md-7 col-sm-push-0 col-md-12">
        <p>One woman dies every two minutes from complications during childbirth, which is the leading cause of preventable death in women in the developing world. This is why Dermaclara supports <em>Every Mother Counts</em> — a globally recognized 501(c)(3) nonprofit devoted to making pregnancy and childbirth safe for all women, everywhere. <em>Every Mother Counts</em> helps women access essential maternity care, and Dermaclara is proud to help women and children worldwide.</p> 
      </div>
    </div>


    <div id="lifetime" class="row lifetime-satisfaction" style="display:none">
      <div class="guatantees-img bg-top-video-mb col-lg-3 col-md-3 col-xs-4 col-sm-4">
        <img class="hmak-lazy" hmak-src="{{ 'saticfaction-icon.png' | asset_url }}" alt="" />
      </div>
      <div class="guatantees-text col-lg-offset-2 col-lg-6 col-md-offset-1 col-md-6 col-xs-8 col-sm-8">
        <p>{{ pages.lifetime-satisfaction.content }}</p>
      </div>
      <div class="guatantees-img bg-top-video-tablet col-lg-3 col-md-3 col-xs-4 col-sm-4">
        <img class="hmak-lazy" hmak-src="{{ 'saticfaction-icon.png' | asset_url }}" alt="" />
      </div>
    </div>


    <div class="row learnmore-link" style="display:none">
      <div class="learnmore-wrapp col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-8 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <p><a target="_blank" href="/pages/product-offer-warranty-return">Click here</a> to learn more.</p>
      </div>
    </div>

  </div>
</section>

<!-- Modal -->
<div class="modal face" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">{{ pages.product-offer-warranty-return.title  }}</h2>
      </header>
      <div class="modal-body">
        {{ pages.product-offer-warranty-return.content  }}
      </div>

    </div>

  </div>
</div>



