<section id="hassle-free-video" class="">
  <div class="hassle-play-wrapp">
    <span>see how our products work</span>
    <a class="play-button hassle-play-btn no-scroll open-hassle-video-popup" href="#hassle-video-popup">
      <img class="" src="{{ 'btn-play.png' | asset_url }}" alt="" />
    </a>
  </div>
  <div class="container hassle-text">
    <div class="row">
      <div class="hassle-title col-md-8 col-xs-7">
        <h2 class="section-title">THE <span>painless WAY</span> <span>TO younger</span> looking SKIN</h2>
      </div>
    </div>
  </div>
  <div class="hidden">
    <div class="popup-vimeo-wrapper" id="hassle-video-popup">
      <div class="video-container">
        <iframe id="hassle-player-popup" link-src="//player.vimeo.com/video/183770140?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=hassle-player-popup" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function(){
    $("#hassle-player-popup").on("finish", function(){
      $("#hassle-video-popup .mfp-close").trigger("click");
    });
    $("#hassle-player-popup").on("pause", function(){
      //$("#hassle-video-popup .mfp-close").trigger("click");
    });
    $('.open-hassle-video-popup').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#hassle-player-popup").attr('src',$("#hassle-player-popup").attr('link-src'));
          setTimeout(function(){$("#hassle-player-popup").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#hassle-player-popup").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });
</script>