<div class="container">

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
      <div id="video-testimonials">
        {% for i in (1..23) %}
        {% capture show_slide %}testimonial_img_{{ i }}{% endcapture %}
        {% capture image %}testimonial_img_{{ i }}.jpg{% endcapture %}
        {% capture testimonial_link %}testimonial_{{ i }}_link{% endcapture %}
        {% if settings[show_slide] %}
        <div class="item">
          <div class="tes-img-wrapp">
            <a class="open-popup-testimonial-{{i}} no-scroll" href="#popup-testimonial-player-{{i}}">
              <img class="tes-img tes-img-{{i}}" src="{{ image | asset_url }}" alt="" />
            </a>
            <a class="no-scroll play-button open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
              play
            </a>

          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <p>Individual opinions and results may vary.</p>
      {% comment %}
      <p>Testimonials from actual customers about their Dermaclara results.</p>
      {% endcomment %}
    </div>
  </div>
  <div class="row">
    <div class="say-text-bt col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
      <p style="display:none">Testimonials from actual customers about their Dermaclara results.</p>
    </div>
  </div>

  <div class="hidden">
    {% for i in (1..23) %}
    {% capture testimonial_link %}testimonial_{{ i }}_link{% endcapture %}
    <div class="popup-vimeo-wrapper" id="popup-testimonial-player-{{i}}">
      <div class="video-container">
        <iframe id="testimonial-player-{{i}}" link-src="{{ settings[testimonial_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    {% endfor %}
  </div>




</div>


<script>
  $(document).ready(function(){
    {% for i in (1..23) %}
    $("#testimonial-player-{{i}}").on("finish", function(){
      $("#popup-testimonial-player-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-testimonial-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#testimonial-player-{{i}}").attr('src',$("#testimonial-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#testimonial-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#testimonial-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }
    }
  });
  {% endfor %}
  });
</script>


