<section id="packages" class="packages-wrinkles">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h2 class="section-title text-center">Try Risk-Free Today</h2>
      </div>
    </div>

    {% assign prod = all_products.advanced-silicone-fusion-treatment-3 %}
    {% assign variant = prod.variants.first %}
    {% if prod.available %}
    {% assign sold_out = false %}
    {%else%}
    {% assign sold_out = true %}
    {% endif %}

    <div id="shop" class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div class="packages-advance packages-subbox">
          <div id="packages-advance-desktop" class="packages-inside">
            <div class="packages-inside-wr">
              <div id="packages-advance-slider">
                <img {% unless sold_out %}style="cursor:pointer;"{% endunless %} class="show-dk" src="{{ prod.images[0].src | img_url: 'master' }}" alt="" {% unless sold_out %}onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)"{% endunless %}/>
                <img {% unless sold_out %}style="cursor:pointer;"{% endunless %} class="show-750" src="{{ prod.images[0].src | img_url: 'master' }}" alt="" {% unless sold_out %}onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)"{% endunless %}/>
                <div class="free-giff">
                  <h3>FREE GIFT
                    <span>with purchase</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <div id="packages-advance-details">
          <div class="include-kit ">
            <h3 class="text-center title">{{prod.title}}</h3>
            <div class="price-addtobag">
              <p>
                <span class="inc-det-l">{{prod.price | money | remove:".00" | remove:" "}}</span> 
                <span class="inc-det-pre inc-det-r">({{prod.compare_at_price | money | remove:".00" | remove:" "}} value)</span>
              </p>
            </div>
            <label>SET INCLUDES:</label>
            <ul class="includes-details wrinkles-includes-details {% if sold_out %}out-of{% endif %}">
              <li>5-piece <span> <a class="open-popup-product no-scroll" href="#popup-product-7735099465">clarafuse</a></span> <span class="inc-det-pre">({{all_products.clarafuse-for-chest.price|times:1|money|remove:".00"|remove:" "}})</span></li>
              <li><span><a class="open-popup-product no-scroll" href="#popup-product-{{all_products.claralips.id}}">claralips</a></span> collagen lip serum <span class="inc-det-pre">({{all_products.claralips.price|money|remove:".00"|remove:" "}})</span></li>
              <li><span><a class="open-popup-product no-scroll" href="#popup-product-{{all_products.claraline.id}}">claraline</a></span> peptide-infused serum <span class="inc-det-pre">({{all_products.claraline.price|money|remove:".00"|remove:" "}})</span></li>

            </ul>
          </div>
          <div id="gifts-wrapp" {% unless sold_out %}style="cursor:pointer;"{% endunless %} {% unless sold_out %}onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)"{% endunless %}>
            {% assign produ = all_products.clarasome %}
            <h3 class="">special free gift</h3>
            <p>A {{produ.price | money | remove:".00" | remove:" "}} value!</p>
            <ul>
              {%comment%}
              <li><a class="open-popup-product no-scroll" href="#popup-product-{{all_products.clarasome.id}}">clarasome</a> radiance restoring moisture lock gel</li>
              {%endcomment%}
              <li><a class="open-popup-product no-scroll" {% unless sold_out %}style="cursor:pointer;"{% endunless %} {% unless sold_out %}onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)"{% endunless %} href="#">clarasome</a> radiance restoring moisture lock gel</li>
            </ul>
          </div>

          {% if sold_out %}
          <div class="notification">
            <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
          </div>
          {% endif %}

          <div class="price-addtobag">
            {% if sold_out %}
            <a href="javascript:void(0)" class="notify-me btn open-extra-popup-product-wrinkles open-popup-product no-scroll" onclick="addNotifyOpenPopup('{{prod.title}}','{{prod.variants[0].sku}}')">NOTIFY ME</a>
            <a href="#popup-notify-me" class="notify-me-popup btn open-extra-popup-product-wrinkles open-popup-product no-scroll hidden">NOTIFY ME</a>
            {% else %}
            <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product-2"></a>
            <a class="btn addtocart-wrinkles" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{prod.variants[0].id}},1)">ADD TO CART</a>
            <p class="response-message-{{prod.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Added to cart! View <a href="/cart">cart</a></p>
            {% endif %}
          </div>
        </div>  
      </div>
    </div>
    
    <script>
      $(document).ready(function() {
        $('.addtocart-wrinkles').click(function(e){
          snaptr('track', 'ADD_CART', {'currency': '{{shop.currency}}', 'price': {{prod.price | money_without_currency}} , 'item_category': '{{prod.title}}','item_ids':
          ['{{prod.id}}'], 'payment_info_available': 1});
          });
      });
    </script>

    <!------------------------------------------------------------------------------------------------------------------------>

    <div class="row">
      <div class="regime-timer col-lg-12 col-md-12 col-sm-12 col-xs-12 pay-multi control-clock">
        <span class="timer-message"><span class="want-it-snoo text-bold">Want it sooner?</span> Order within the next <span id="dynamic-timer"><span class="dynamic-minus">3</span> mins <span class="dynamic-seconds">33</span> secs</span> and receive <span class="text-bold free-shipping">Free Shipping</span> at checkout.</span>
      </div>
    </div>

    {% if settings.show_individual_products %}
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h3 class="shopfor-title">shop for <br><a id="click-show-bag" href="#home-products" onclick="$('.prod-details').addClass('show-bag');$('.video-buy .prod-buy').show();$.cookie('show_addtocart_btn', '1', { expires: 0.04, path: '/' });"><span>individual products</span></a></h3>
      </div>
    </div>
    {% endif %}

  </div>
  <style>

    #packages-advance-details ul.includes-details.wrinkles-includes-details {
      margin: 0 0 24px;
    }

    @media screen and (min-width: 1200px){
      #packages-advance-details ul.includes-details li, #packages-advance-details ul.free-gifts-details li {
        font-size: 17px !important ;
      }
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      .packages-wrinkles #gifts-wrapp {
        max-width: 230px !important ;
      }
    }

    @media screen and (max-width: 1199px) and (min-width: 992px) {
      #packages-advance-details ul.includes-details li, #packages-advance-details ul.free-gifts-details li {
        font-size: 15px !important ;
      }
    }

    @media screen and (max-width: 991px) and (min-width: 480px)  { 
      #packages-advance-details .wrinkles-includes-details,ul.wrinkles-includes-details li {
        max-width: 275px !important ;
      }
    }
    @media screen and (max-width: 479px) {
      #packages-advance-details .wrinkles-includes-details,ul.wrinkles-includes-details li {
        max-width: 290px !important ;
      }

    }
  </style>

</section>


{% include 'popup-products-wrinkles' %}