<section id="home-products" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="section-title text-center">Discover the entire System</h2>
        <p class="sub-section-title text-center">Tired of juggling a beauty cabinet full of half-used products that either don’t work, or don’t complement each other? <span>Dermaclara is easy to use and delivers real results for youthful looking skin. Each product was specifically designed and formulated to Purify, Repair, and Nourish your skin.</span></p>

        <!-- show on mobile -->
        <div id="product-sync4-wrapp" class="">
          <div id="product-sync4">
            {% for product in collections.home-slider.products %}
            {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 %}<div class="item">{% endif %}
            <img item="{{forloop.index | minus:1}}" src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
            {% if forloop.index == 3 or forloop.index == 6 or forloop.last %}</div>{% endif %}
            {% endfor %}
          </div>
          <div id="under-text-sync4" class="under-text-wrapp">
            <div class="item purify under-text">
              <h3>Purify</h3>
            </div>
            <div class="item repair under-text">
              <h3>repair</h3>
            </div>
            <div class="item nourish under-text">
              <h3>nourish</h3>
            </div>
          </div>
          <div class="nav-products">
            <a class="prev-product4" href="javascript:void(0);">Previous</a>
            <a class="next-product4" href="javascript:void(0);">Next</a>
          </div>
        </div>
        <!-- end show on mobile -->

      </div>
    </div>
    <div class="row">
      <div id="product-sync1" class="owl-carousel">
        {% for product in collections.home-slider.products %}
        {% assign on_sale = false %}
        {% assign sale_text = 'products.product.sale' | t %}
        {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
        {% endif %}
        {% assign sold_out = true %}
        {% assign sold_out_text = 'products.product.sold_out' | t %}
        {% if product.available %}
        {% assign sold_out = false %}
        {% endif %}
        <div class="item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

          <div class="all-prod-img">
            {% if forloop.first %}
            <img class="all-product-1170" alt="" src="{{ 'all-product.png' | asset_url }}" />
            <img class="all-product-750" alt="" src="{{ 'all-product-750.png' | asset_url }}" />
            {% endif %}
          </div>

          <div class="{% if forloop.first %}prod-first{% endif %} prod-details tablet-mb-show col-lg-12 col-md-12 col-xs-12 col-sm-12" {% if forloop.first %} style="display:none;"{% endif %}>
            <h1 class="">{{product.metafields.featured.text}}</h1>
            <h3 class="">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
          </div>
          <div class="{% if forloop.first %}prod-first{% endif %} prod-image col-lg-6 col-md-6 col-xs-12 col-sm-6" {% if forloop.first %}style="display:none;"{% endif %}>
            <img class="lazyOwl" data-src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
          <div id="product-detail" class="{% if forloop.first %}prod-first{% endif %} prod-detail-{{product.id}} prod-details prod-details-bt col-lg-6 col-md-6 col-xs-12 col-sm-6" {% if forloop.first %} style="display:none;"{% endif %}>
            <h1 class="desktop-show">{{product.metafields.featured.text}}</h1>
            <h3 class="desktop-show">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
            <p>{{ product.description  }}
              <a class="seehow-mb no-scroll results-play-btn open_product_video_{{forloop.index}}" href="#product_video_{{forloop.index}}"> See how it works</a>
            </p>
            <div class="video-buy">
              <div class="seehow-dk prod-video results-video-popup col-lg-12 col-md-12 col-xs-12 col-sm-12">
                {% comment %}<img class="" src="{{ product.metafields.featured.video_thumb }}" alt="" />{% endcomment %}
                <a class="no-scroll results-play-btn open_product_video_{{forloop.index}}" href="#product_video_{{forloop.index}}">
                  see how
                </a>
              </div>
              <div class="prod-buy col-lg-12 col-md-12 col-xs-12 col-sm-12" style="display:none;">
                {% capture price %}{{ product.price | money }}{% endcapture %}
                {% if on_sale %}
                <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
                {% endif %}
                {% if product.price_varies %}
                {{ 'products.general.from_html' | t: price: price }}
                {% else %}
                <p class="price-prod">{{ price | remove:".00" | remove:" " }}</p>
                {% endif %}
                <div class="quan-up-down">
                  <a class="down" field="quantity-{{forloop.index}}">down</a>
                  <input min="1" type="text" name="quantity" class="quantity quantity-{{forloop.index}}" value="1" />
                  <a class="up" field="quantity-{{forloop.index}}">up</a>
                </div>
                <button class="btn addtobad" onclick="addProductToCart({{product.variants.first.id}},$('.prod-detail-{{product.id}} input.quantity').val());">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <!-- show on desktop -->
      <div id="product-sync2-wrapp" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div id="product-sync2" class="owl-carousel">
          {% for product in collections.home-slider.products %}
          <div class="item item_{{forloop.index | minus:1}}" item="{{forloop.index | minus:1}}">
            <img class="fade-in lazyload" data-src="{{ product.featured_image.src | img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
          {% endfor %}
        </div>
        <div class="under-text-wrapp">
          <div class="purify under-text">
            <h3>Purify</h3>
          </div>
          <div class="repair under-text">
            <h3>repair</h3>
          </div>
          <div class="nourish under-text">
            <h3>nourish</h3>
          </div>
        </div>
        <div class="nav-products">
          <a class="prev-product" href="javascript:void(0);">Previous</a>
          <a class="next-product" href="javascript:void(0);">Next</a>
        </div>
      </div>
      <!-- end show on desktop -->
      <!-- show on tablet -->
      <div id="product-sync3-wrapp" class="col-lg-12 col-md-12 col-xs-12 col-sm-offset-1 col-sm-10">
        <div id="product-sync3">
          {% for product in collections.home-slider.products %}
          {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 %}<div class="item">{% endif %}
          <img item="{{forloop.index | minus:1}}" src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
          {% if forloop.index == 3 or forloop.index == 6 or forloop.last %}</div>{% endif %}
          {% endfor %}
        </div>
        <div id="under-text-sync3" class="under-text-wrapp">
          <div class="item purify under-text">
            <h3>Purify</h3>
          </div>
          <div class="item repair under-text">
            <h3>repair</h3>
          </div>
          <div class="item nourish under-text">
            <h3>nourish</h3>
          </div>
        </div>
        <div class="nav-products">
          <a class="prev-product3" href="javascript:void(0);">Previous</a>
          <a class="next-product3" href="javascript:void(0);">Next</a>
        </div>

      </div>
      <!-- end show on tablet -->
    </div>

  </div>
</section>
<div class="hidden">
  {% for product in collections.home-slider.products %}
  <div class="popup-vimeo-wrapper" id="product_video_{{forloop.index}}">
    <div class="video-container">
      <iframe id="product_video_player_{{forloop.index}}" link-src="{{product.metafields.featured.video }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=product_video_player_{{forloop.index}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  {% endfor %}
</div>
<script>
  $(document).ready(function(){
    var show_addtocart_btn =  $.cookie('show_addtocart_btn');
    if (show_addtocart_btn==1) {
      $('.prod-details').addClass('show-bag');
      $('.video-buy .prod-buy').show();      
    }
    {% for product in collections.home-slider.products %}
    $('.open_product_video_{{forloop.index}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      StopAllOtherVideos();
      $("#product_video_player_{{forloop.index}}").attr('src',$("#product_video_player_{{forloop.index}}").attr('link-src'));
        setTimeout(function(){$("#product_video_player_{{forloop.index}}").vimeo("play");}, 1000);
                                $("#product_video_player_{{forloop.index}}").on("finish", function(){
                                $("#product_video_{{forloop.index}} .mfp-close").trigger("click");
                                });
                              $.magnificPopup.instance.close = function () {
                                $("#product_video_player_{{forloop.index}}").vimeo("stop");
                                  $.magnificPopup.proto.close.call(this);
                              };
                             }
    }
  });
  {% endfor %}
  });

  $(window).load(function(){
    $(".nav-products").on("click", ".next-product", function(e){
      e.preventDefault();
      var number = parseInt($("#product-sync2 .owl-item.synced .item").attr("item"));
      if(isNaN(number)){
        number=-1;
      }
      number = number + 1;
      $('#product-sync2 .item').each(function(){
        if($(this).attr("item") == number){
          $(this).find('img').trigger('click');
        }
      });
    });
    $(".nav-products").on("click", ".prev-product", function(e){
      e.preventDefault();
      var number = parseInt($("#product-sync2 .owl-item.synced .item").attr("item"));
      number = number - 1;
      $('#product-sync2 .item').each(function(){
        console.log(number);
        if($(this).attr("item") == number){
          $(this).find('img').trigger('click');
        }
      });
    });
  });
</script>