<section id="home-results" class="">

  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
        <h2 class="section-title a text-center">Real Results</h2>
        <p class="text-center">Every woman deserves smooth, even, and healthy-looking skin. Our innovative, 
          <span>clinically tested Silicone Fusion Treatment</span> offer quick and effective results on stretch marks, scars, keloids, lines and wrinkles.</p>
      </div>
    </div>
  </div>

  {% include 'owlsync-results-video-new' %}

  {% comment %}
  <div class="container">
    <div class="row">
      <div class="results-title-top col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h3><strong>84% of users</strong> saw a visible improvement in the reduction in wrinkles <span>around the forehead, eyes, mouth, and chest.</span></h3>
        <p>*Source: <a href="/#home-clinically-tested">Independent Clinical Study</a></p>
      </div>
    </div>
  </div>
  {% endcomment %}

</section>