<section id="home-apps" class="">
  <div id="results-app">
    <div class="container">
      <div class="row">
        <div class="results-app-content col-lg-offset-1 col-lg-5 col-md-offset-0 col-md-12 col-sm-12 col-xs-12">
          <h2 class="results-app-title-h2 section-title">track your progress</h2>
          <p>We are so confident in the results you’ll get from Dermaclara that we’ve created an app to track your progress – the first of its kind!</p>
          <div class="results-video-popup">
            <div class="bg-hover-results">
              <a class="no-scroll results-play-btn open_app_video 123" href="#app_video"><img class="" src="{{ 'btn-play.png' | asset_url }}" alt="" /></a>
              <span>see how our app tracks your progress</span>
            </div>
          </div>
          <div class="app-play dk-show">
            <a class="app-store-btn" target="_blank" href="https://itunes.apple.com/us/app/dermaclara/id1149994533?l=vi&ls=1&mt=8">app store</a>
            <a class="google-play-btn" target="_blank" href="https://play.google.com/store/apps/details?id=com.dermaclara">google play</a>
          </div>
        </div>
        <div class="results-app-img col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <img class="" src="{{ 'iphone7-gold.png' | asset_url }}" alt="" />
          <div class="app-play tb-show">
            <a class="app-store-btn" target="_blank" href="https://itunes.apple.com/us/app/dermaclara/id1149994533?l=vi&ls=1&mt=8">app store</a>
            <a class="google-play-btn" target="_blank" href="https://play.google.com/store/apps/details?id=com.dermaclara">google play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %}
  <div class="overlay-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-xs-offset-0 col-sm-12">
          <h4>Try Dermaclara now, risk-free for 60 days.</h4>
          <p>Measure and see your results, or your money back!</p>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
</section>
<div class="hidden">
  <div class="popup-vimeo-wrapper" id="app_video">
    <div class="video-container">
      <iframe id="app_video_player" link-src="//player.vimeo.com/video/185278607?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=app_video_player" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#app_video_player").on("finish", function(){
      $("#app_video .mfp-close").trigger("click");
    });
    $('.open_app_video').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          if($("#app_video_player").attr('src')===undefined){
            $("#app_video_player").attr('src',$("#app_video_player").attr('link-src'));
          }
          setTimeout(function(){$("#app_video_player").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#app_video_player").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });
</script>