<section id="philantropy" class="">
  <div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="derma-cares-title section-title text-center">Organizational Philanthropy</h2>
      </div>
    </div>

    <div class="row derma-cares">
      <div class="derma-cares-img col-md-push-7 col-md-5 col-sm-push-0 col-md-12">
        <img class="hmak-lazy" hmak-src="{{ 'logo-cares.png' | asset_url }}" alt="" />
      </div>
      <div class="derma-cares-text col-md-pull-5 col-md-7 col-sm-push-0 col-md-12">
        <p>One woman dies every two minutes from complications during childbirth, which is the leading cause of preventable death in women in the developing world. This is why Dermaclara supports <em>Every Mother Counts</em> — a globally recognized 501(c)(3) nonprofit devoted to making pregnancy and childbirth safe for all women, everywhere. <em>Every Mother Counts</em> helps women access essential maternity care, and Dermaclara is proud to help women and children worldwide.</p> 
      </div>
    </div>
  </div>
</section>