
<section id="packages" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h2 class="section-title text-center">Try Silicone Fusion Today!</h2>
      </div>
    </div>

    <div class="row hidden-991">
      {% assign product =  all_products.clarafuse %}

      {% unless current_collection == blank %}
      {% assign current_collection = collection %}
      {% endunless %}

      {% assign on_sale = false %}
      {% assign sale_text = 'products.product.sale' | t %}
      {% if product.compare_at_price > product.price %}
      {% assign on_sale = true %}
      {% endif %}

      {% assign sold_out = true %}
      {% assign sold_out_text = 'products.product.sold_out' | t %}
      {% if product.available %}
      {% assign sold_out = false %}
      {% endif %}

      {% if product.description contains '[include-content]' %}
      {% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
      {% else %}
      {% assign include_content = '' %}
      {% endif %}
      {% assign free_gift = product.description | split:'[free-gift]' | last | split:'[/free-gift]' | first %}

      <div class="product-item col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
        <div class="product-image {{ product.handle }} text-center">
          <a class="product-title" href="javascript:void(0);" {% if template contains 'index' or page.handle == 'siliconefusion'%}onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);"{%else%}onclick="addProductToCart({{product.variants[0].id}},1);"{%endif%}>{{ product.title }}</a>
          <p class="meta-text">{{product.metafields.featured.text}}</p>
          <a href="javascript:void(0);" {% if template contains 'index' or page.handle == 'siliconefusion' %}onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);"{%else%}onclick="addProductToCart({{product.variants[0].id}},1);"{%endif%}>
            {% assign featured_image = product.featured_image %}   
            <img class="hmak-lazy" hmak-src="{{ featured_image.src | img_url: '2048x2048' }}" alt="{{ featured_image.alt | escape }}">
          </a>

          <div class="set-include">
            <p>Includes: {{ include_content }} {% if product.handle contains "advanced" %}+ FREE GIFT: {{ free_gift }}{% endif %}</p>
          </div>

          <div class="product-detail">

            <h4 class="price">
              {% capture price %}
              {{ product.price | money | remove: '.00' }}{% endcapture %}
              {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
              {% if on_sale %}
              <span class="cost-price">({{ product.compare_at_price | money | remove: '.00' }} value)</span>
              {% endif %}
            </h4>

            <div class="reviews_count">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>

            {% if sold_out %}
            <div class="notification">
              <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
            </div>
            {% endif %}

            <div class="price-addtobag">
              {% if sold_out %}
              <a href="javascript:void(0)" class="notify-me btn no-scroll" onclick="addNotifyOpenPopup('{{product.title}}','{{product.variants[0].sku}}')">NOTIFY ME</a>
              <a href="#popup-notify-me" class="notify-me-popup btn no-scroll hidden">NOTIFY ME</a>
              {% else %}
              <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product"></a>
              {% if template contains 'index' or page.handle contains 'siliconefusion' %}
              <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">ADD TO CART</a>
              {% else %}
              <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCart({{product.variants[0].id}},1);">ADD TO CART</a>
              {% endif %}
              <p class="response-message-{{product.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Added to cart! View <a href="/cart">cart</a></p>
              {% endif %}
            </div>
            {% comment %}<a class="learn-more btn" href="{{ product.url | within: collection }}">Learn More</a>{% endcomment %}
          </div>
        </div>
      </div>

    </div>

    <div class="row hidden-991 second-prod-title">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <h2 class="section-title text-center">Bundle & Save</h2>
      </div>
    </div>

    <div class="row hidden-991 second-prod">
      {% for product in collections.bundle-save.products %}
      {% include 'product-grid-item-siliconefusion' %}
      {% endfor %}
    </div>

    <div class="row hidden-992">
      <div id="mobile-products-slider">
        {% assign product =  all_products.clarafuse %}
        {% assign on_sale = false %}
        {% assign sale_text = 'products.product.sale' | t %}
        {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
        {% endif %}
        {% assign sold_out = true %}
        {% assign sold_out_text = 'products.product.sold_out' | t %}
        {% if product.available %}
        {% assign sold_out = false %}
        {% endif %}
        {% if product.description contains '[include-content]' %}
        {% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
        {% else %}
        {% assign include_content = '' %}
        {% endif %}
        <div class="item product-item">
          <div class="product-image {{ product.handle }} text-center">
            <a class="product-title">{{product.title}}</a>
            <p class="meta-text">{{product.metafields.featured.text}}</p>
            <a href="javascript:void(0);" {% if template contains 'index' or page.handle == 'siliconefusion' %}onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);"{%else%}onclick="addProductToCart({{product.variants[0].id}},1);"{%endif%}>
              {% assign featured_image = product.featured_image %}   
              <img class="hmak-lazy" hmak-src="{{ featured_image.src | img_url: '2048x2048' }}" alt="{{ featured_image.alt | escape }}">
            </a>
            {% if include_content != "" %}
            <div class="set-include">
              <p>Includes: {{ include_content }}</p>
            </div>
            {% endif %}
            <div class="product-detail">
              <h4 class="price">
                {% capture price %}
                {{ product.price | money | remove: '.00' }}{% endcapture %}
                {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
                {% if on_sale %}
                <span class="cost-price">({{ product.compare_at_price | money | remove: '.00' }} value)</span>
                {% endif %}
              </h4>

              <div class="reviews_count">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>

              {% if sold_out %}
              <div class="notification">
                <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
              </div>
              {% endif %}

              <div class="price-addtobag">
                {% if sold_out %}
                <a href="javascript:void(0)" class="notify-me btn no-scroll" onclick="addNotifyOpenPopup('{{product.title}}','{{product.variants[0].sku}}')">NOTIFY ME</a>
                <a href="#popup-notify-me" class="notify-me-popup btn no-scroll hidden">NOTIFY ME</a>
                {% else %}
                <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product"></a>
                {% if template contains 'index' or page.handle contains 'siliconefusion' %}
                <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">ADD TO CART</a>
                {% else %}
                <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCart({{product.variants[0].id}},1);">ADD TO CART</a>
                {% endif %}
                <p class="response-message-{{product.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Added to cart! View <a href="/cart">cart</a></p>
                {% endif %}
              </div>
              {% comment %}<a class="learn-more btn" href="{{ product.url | within: collection }}">Learn More</a>{% endcomment %}
            </div>
          </div>
        </div>

        {% for product in collections.bundle-save.products %}
        {% assign on_sale = false %}
        {% assign sale_text = 'products.product.sale' | t %}
        {% if product.compare_at_price > product.price %}
        {% assign on_sale = true %}
        {% endif %}
        {% assign sold_out = true %}
        {% assign sold_out_text = 'products.product.sold_out' | t %}
        {% if product.available %}
        {% assign sold_out = false %}
        {% endif %}
        {% if product.description contains '[include-content]' %}
        {% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
        {% else %}
        {% assign include_content = '' %}
        {% endif %}
        <div class="item product-item">
          <div class="product-image {{ product.handle }} text-center">
            <a class="product-title">{{product.title}}</a>
            <a href="javascript:void(0);" {% if template contains 'index' or page.handle contains 'siliconefusion' %}onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);"{%else%}onclick="addProductToCart({{product.variants[0].id}},1);"{%endif%}>
              {% assign featured_image = product.featured_image %}   
              <img class="hmak-lazy" hmak-src="{{ featured_image.src | img_url: '2048x2048' }}" alt="{{ featured_image.alt | escape }}">
            </a>
            {% if include_content != "" %}
            <div class="set-include">
              <p>Includes: {{ include_content }}</p>
            </div>
            {% endif %}
            <div class="product-detail">

              <h4 class="price">
                {% capture price %}
                {{ product.price | money | remove: '.00' }}{% endcapture %}
                {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
                {% if on_sale %}
                <span class="cost-price">({{ product.compare_at_price | money | remove: '.00' }} value)</span>
                {% endif %}
              </h4>

              <div class="reviews_count">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>

              {% if sold_out %}
              <div class="notification">
                <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
              </div>
              {% endif %}

              <div class="price-addtobag">
                {% if sold_out %}
                <a href="javascript:void(0)" class="notify-me btn no-scroll" onclick="addNotifyOpenPopup('{{product.title}}','{{product.variants[0].sku}}')">NOTIFY ME</a>
                <a href="#popup-notify-me" class="notify-me-popup btn no-scroll hidden">NOTIFY ME</a>
                {% else %}
                <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product"></a>
                {% if template contains 'index' or page.handle contains 'siliconefusion' %}
                <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">ADD TO CART</a>
                {% else %}
                <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCart({{product.variants[0].id}},1);">ADD TO CART</a>
                {% endif %}
                <p class="response-message-{{product.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Added to cart! View <a href="/cart">cart</a></p>
                {% endif %}
              </div>
              {% comment %}<a class="learn-more btn" href="{{ product.url | within: collection }}">Learn More</a>{% endcomment %}
            </div>
          </div>
        </div>
        {%endfor%}

      </div>
      <h2 class="swipe-title">Bundle & Save, Swipe Left For More</h2>
    </div>


    <div class="row">
      <div class="regime-timer col-lg-12 col-md-12 col-sm-12 col-xs-12 pay-multi control-clock">
        <span class="timer-message"><span class="want-it-snoo text-bold">Want it sooner?</span> Order within the next <span id="dynamic-timer"><span class="dynamic-minus">3</span> mins <span class="dynamic-seconds">33</span> secs</span> and receive <span class="text-bold free-shipping">Free Shipping</span> at checkout.</span>
      </div>
    </div>

  </div> 
</section>


<script>

  $(document).ready(function() {

    $("#mobile-products-slider").owlCarousel({

      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoPlay : 7000
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

    });
  });

</script>

{% include 'popup-products-siliconefusion' %}

