<section id="home-clinically-tested" class="one-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">Clinically Proven</h2>
      </div>
    </div>
    <div class="row">
      <div class="clinically-tested-img col-lg-push-8 col-lg-4 col-md-push-9 col-md-3 col-sm-push-0 col-sm-12 col-xs-push-0 col-xs-12">
        <img class="hmak-lazy" hmak-src="{{ 'clinically-proven.png' | asset_url }}" alt="" />
      </div>
      <div class="clinically-tested-text col-lg-pull-4 col-lg-8 col-md-pull-3 col-md-9 col-sm-push-0 col-sm-12 col-xs-push-0 col-xs-12">
        <p>Our revolutionary and clinically proven – <em>Silicone Fusion Technology</em> was developed by respected scientists to offer an advanced breakthrough solution for stretch marks, with dramatic, scientifically proven results.</p> 
        {% comment %}<a href="/#results-text-wrapp">See Clinical Study</a> {% endcomment %}
      </div>

    </div>

  </div>

  <div id="results-text-wrapp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="results-text-group">
            <div class="results-text one">
              <p style="text-align: center;font-weight:500;"><span><b style="color: #ff4365!important;">3</b> of <b style="color: #ff4365!important;"> 4</b></span>women reported<sup>*</sup>:</p>
            </div>
            <div class="results-text two">
              <p>smoother skin</p>
            </div>
            <div class="results-text three">
              <p>prefer to use over <span>surgery or laser</span></p>
            </div>
            <div class="results-text four">
              <p>easy to apply</p>
            </div>
          </div>
          <p class="small-text text-center">*Above statistics are extracts from an <a href="https://cdn.shopify.com/s/files/1/1009/6506/files/Dermaclara_Clinical_Summary.pdf?8230256516384632150" class="document-popup" target="_blank" data-fancybox-type="iframe">Independent Clinical Study</a> conducted in accordance with the International Conference of Harmonization Tripartite Guideline on Good Clinical Practice.</p>
        </div>
      </div>

      {% comment %}
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="line"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="testimonials-title text-center">Hear why these women love <em>Clarafuse</em></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
          <div id="video-testimonials">
            {% for i in (1..23) %}
            {% capture show_slide %}testimonial_img_{{ i }}{% endcapture %}
            {% capture image %}testimonial_img_{{ i }}.jpg{% endcapture %}
            {% capture testimonial_link %}testimonial_{{ i }}_link{% endcapture %}
            {% if settings[show_slide] %}
            <div class="item">
              <div class="tes-img-wrapp">
                <a class="open-popup-testimonial-{{i}} no-scroll" href="#popup-testimonial-player-{{i}}">
                  <img class="tes-img tes-img-{{i}} hmak-lazy" hmak-src="{{ image | asset_url }}" alt="" />
                </a>
                <a class="no-scroll play-button open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
                  play
                </a>

              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="say-text-bt col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
          <p>Individual opinions and results may vary.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="line"></div>
        </div>
      </div>

      <div class="hidden">
        {% for i in (1..23) %}
        {% capture testimonial_link %}testimonial_{{ i }}_link{% endcapture %}
        <div class="popup-vimeo-wrapper" id="popup-testimonial-player-{{i}}">
          <div class="video-container">
            <iframe id="testimonial-player-{{i}}" link-src="{{ settings[testimonial_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endcomment %}

    </div>
  </div>

</section>
{% include 'popup-pdf' %}

<script>
  $(document).ready(function(){
    {% for i in (1..23) %}
    $("#testimonial-player-{{i}}").on("finish", function(){
      $("#popup-testimonial-player-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-testimonial-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#testimonial-player-{{i}}").attr('src',$("#testimonial-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#testimonial-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#testimonial-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }
    }
  });
  {% endfor %}
  });
</script>



