<section id="home-results" class="wrinkles-results">

  <div class="container">
   <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
        <h2 class="section-title a text-center">Visible Results</h2>
        <p class="text-center">Every woman deserves to have smooth, even, and healthy-looking skin. Our innovative, 
          <span>Silicone Fusion Treatments</span> offer quick and effective results. </p>
      </div>
    </div>
  </div>
 {% include 'owlsync-results-video-new-acne' %}

</section>