<section id="new-silicone-fusion" class="">
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title"><span>clarafuse,</span>
          the Revolutionary Silicone Fusion Treatment<sup>TM</sup></h2>
        <p class="fusion-text"><strong>Clarafuse</strong> is an advanced Silicone Fusion Treatment developed by dermatologists to effectively reduce the appearance of stretch marks (striae) and scars. <strong>Clarafuse</strong> is made of a blend of high quality medical grade silicone that adheres to skin. By wearing it for at least one hour a day it visibly reduces the appearance of stretch marks and scars.</p>
      </div>
    </div>
    <div class="row">
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'happy-face-icon-gold.png' | asset_url }}" />
        <p>100% painless, non-invasive, chemical-free, because smooth, healthy skin should not require painful procedures.</p>
      </div>
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'finger-snap-icon-gold.png' | asset_url }}" />
        <p>Comfortable and easy to use, discreet enough to be worn under clothes, or at night, while sleeping.</p>
      </div>
    </div>
    <div class="row">
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'repeat-icon-gold.png' | asset_url }}" />
        <p>Made of high quality, medical grade, material, can be reused up to 30 times.</p>
      </div>
      <div class="sf-item text-center col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12">
        <img alt="" src="{{ 'heart-icon-gold.png' | asset_url }}" />
        <p>Versatile shape, flexible and soft, can be worn almost anywhere on the body.</p>
      </div>
    </div>
  </div>
</section>