<div class="home-product-item">
  {% if section.settings.product_vendor_enable %}
  <span class="h3" itemprop="brand">{{ product.vendor }}</span>
  {% endif %}
  <div class="product-single_photos" id="ProductPhoto-clarafuse">
    {% assign featured_image = product.featured_image %}  
    <a href="{{ product.url }}">
      <img  id="ProductPhotoImg" src="{{  product.images[2] | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape  }}"/>
    </a>
  </div>
</div>

<div class="detail">

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    {% assign variant = product.selected_or_first_available_variant %}

    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
    {%comment%}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select name="id" id="productSelect" class="product-single__variants">
        {% for variant in product.variants %}
        {% if variant.available %}

        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

        {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
        {% endif %}
        {% endfor %}
      </select>

      <div class="product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
      </div>

      <button type="submit" name="add" id="AddToCart" class="btn">
        <span id="AddToCartText">add to cart - $39.99</span>
      </button>
    </form>
    {%endcomment%}
    <a style="margin:0 auto;" class="addtocart btn" href="javascript:void(0)" onclick="addProductToCart({{product.variants[0].id}},1);">add to cart - $39.99</a>
  </div>

</div>
