<section id="home-silicone-fusion" class="">
  <div class="container">
    <div class="row m90">
      <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">{{ settings.silicone_fusion_title }}</h2>
        <p class="fusion-text">{{ settings.silicone_fusion_content }}</p>
        <img class="hmak-lazy" hmak-src="{{ 'illustrations-all-sizes1.png' | asset_url }}" alt="" />
        <img class="hmak-lazy" hmak-src="{{ 'illustrations-all-sizes2.png' | asset_url }}" alt="" />
      </div>
    </div>

    <div class="row hidden-991">
      <div class="fusion-item col-lg-offset-1 col-lg-4 col-md-offset-0 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>All Skin Tones</h3>
        <p>Though some ethnicities are more susceptible to stretch marks than others, studies show that over 80% of people of every skin tone and type experience stretch marks. With that in mind, Dermaclara’s Silicone Fusion Technology has been clinically tested for both safety and efficacy on all skin tones, with measurable results seen on all. Whether your skin is pale, dark, or somewhere in between, <i>clarafuse</i> can work for you.</p>
      </div>
      <div class="fusion-item col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>Safe for All Stretch Marks</h3>
        <p>Not all stretch marks are the same. Differences in color, length, width, and location of stretch marks exist from person to person. But Dermaclara’s Silicone Fusion Technology is safe for use on every stretch mark, whether purple, silver, on your abdomen, or on your hips. With no irritating chemicals, clarafuse can be used safely and painlessly on stretch marks anywhere on the body.</p>
      </div>
    </div>
    <div class="row hidden-991">
      <div class="fusion-item col-lg-offset-1 col-lg-4 col-md-offset-0 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>Versatile Fit</h3>
        <p><i>Clarafuse</i> Silicone Fusion Treatment is designed as a versatile heart shape that can be applied almost anywhere on your body, including the stomach, hips, thighs, chest, arms, and legs.</p>
      </div>
      <div class="fusion-item col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <h3>Reusable</h3>
        <p><i>Clarafuse</i> can be reused up to 30 times. After each use, just wash with warm water, and let air dry in the provided storage tray.</p>
      </div>
    </div>


    <div id="accordion-product" class="fusion-wrapp hidden-992" role="tablist" aria-multiselectable="true">
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingOne11">
          <h5 class="mb-0">
            <button id="clickOne11">
              Works on all skin tones <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>

        <div style="display: none;" id="collapseOne11" role="tabpanel" aria-labelledby="headingOne11">
          <div class="card-block">
            <p>Though some ethnicities are more susceptible to stretch marks than others, studies show that over 80% of people of every skin tone and type experience stretch marks. With that in mind, Dermaclara’s Silicone Fusion Technology has been clinically tested for both safety and efficacy on all skin tones, with measurable results seen on all. Whether your skin is pale, dark, or somewhere in between, <i>clarafuse</i> can work for you.</p>
          </div>

        </div>
      </div>
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingTwo22">
          <h5 class="mb-0">
            <button id="clickTwo22">
              Safe for stretch marks of any color <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo22">
          <div class="card-block">
            <p>Not all stretch marks are the same. Differences in color, length, width, and location of stretch marks exist from person to person. But Dermaclara’s Silicone Fusion Technology is safe for use on every stretch mark, whether purple, silver, on your abdomen, or on your hips. With no irritating chemicals, clarafuse can be used safely and painlessly on stretch marks anywhere on the body.</p>
          </div>
        </div>
      </div>
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingThree33">
          <h5 class="mb-0">
            <button id="clickThree33">
              Versatile fit for any part of the body <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseThree33" class="collapse" role="tabpanel" aria-labelledby="headingThree33">
          <div class="card-block">
            <p><i>Clarafuse</i> Silicone Fusion Treatment is designed as a versatile heart shape that can be applied almost anywhere on your body, including the stomach, hips, thighs, chest, arms, and legs.</p>
          </div>
        </div>
      </div>
      <div class="card row">
        <div class="card-header col-md-12 col-xs-12" role="tab" id="headingFour44">
          <h5 class="mb-0">
            <button id="clickFour44">
              Washable & Reusable <i class="fa fa-sort-desc" aria-hidden="true"></i>
              <i style="display:none" class="fa fa-sort-asc" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFour44" class="collapse" role="tabpanel" aria-labelledby="headingFour44">
          <div class="card-block">
            <p><i>Clarafuse</i> can be reused up to 30 times. After each use, just wash with soap and water, and let air dry in the provided storage tray.</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>

<style>
  #home-silicone-fusion .text-center img.hmak-lazy{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  #home-silicone-fusion .text-center p.fusion-text i{
    font-weight: bold;
    color: #1d1d25;
  }
  #clickOne11 i.fa-sort-desc,
  #clickTwo22 i.fa-sort-desc,
  #clickThree33 i.fa-sort-desc,
  #clickFour44 i.fa-sort-desc {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }



  @media screen and (max-width: 480px) { 
   #Science .video-play-cap {
    margin-top: 25px !important;
}
  }
  @media screen and (max-width: 380px) { 
    #home-silicone-fusion .text-center img.hmak-lazy {
      margin-bottom: 15px;
    }
  }

</style>

<script>

  $("#clickOne11").click(function(){ 
    $("#collapseOne11").toggle();
    $("#clickOne11 i.fa-sort-desc").toggle();
    $("#clickOne11 i.fa-sort-asc").toggle();
  });

  $("#clickTwo22").click(function(){
    $("#collapseTwo22").toggle();
    $("#clickTwo22 i.fa-sort-desc").toggle();
    $("#clickTwo22 i.fa-sort-asc").toggle();
  });

  $("#clickThree33").click(function(){
    $("#collapseThree33").toggle();
    $("#clickThree33 i.fa-sort-desc").toggle();
    $("#clickThree33 i.fa-sort-asc").toggle();
  });

  $("#clickFour44").click(function(){
    $("#collapseFour44").toggle();
    $("#clickFour44 i.fa-sort-desc").toggle();
    $("#clickFour44 i.fa-sort-asc").toggle();
  });


</script>