<section id="women-love-clarafuse" class="light-blue-bg">
  <div class="container">
    <div class="row">
      <div class="head-sci col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h1 class="section-title">Hear Why These Women Love <i style="font-weight:600;">clarafuse</i></h1>
        <p>Hear what these Dermaclara Beauty <i class="font-cri">clarafuse</i> fans have to say about their experiences with <i class="font-cri">clarafuse</i> Silicone Fusion™ patches.</p>
      </div>
    </div>
    <div class="row dk-show">
      {% for i in (1..6) %}
      {% capture show_slide %}wrinkles_testimonial_img_{{ i }}{% endcapture %}
      {% capture image %}wrinkles_testimonial_img_{{ i }}.jpg{% endcapture %}
      {% capture testimonial_link %}wrinkles_testimonial_{{ i }}_link{% endcapture %}
      {% if settings[show_slide] %}
      <div class="video-item col-md-4">
        <div class="tes-img-wrapp">
          <a class="no-scroll open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
            <img class="lazyload fade-in tes-img tes-img-{{i}}" data-src="{{ image | asset_url }}" alt="{{ image_object.alt | escape }}" />
          </a>
          <a class="play-button no-scroll open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
            {% include 'icon-play' %}
          </a> 
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="row desktop-hidden">
      <div class="col-md-12">
        <div id="women-video-testimonials" class="owl-carousel owl-theme"> 
          {% for i in (1..6) %}
          {% capture show_slide %}wrinkles_testimonial_img_{{ i }}{% endcapture %}
          {% capture image %}wrinkles_testimonial_img_{{ i }}.jpg{% endcapture %}
          {% capture testimonial_link %}wrinkles_testimonial_{{ i }}_link{% endcapture %}
          {% if settings[show_slide] %}
          <div class="item video-item">
            <div class="tes-img-wrapp">
              <a class="no-scroll open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
                <img class="lazyload fade-in tes-img tes-img-{{i}}" data-src="{{ image | asset_url }}" alt="{{ image_object.alt | escape }}" />
              </a>
              <a class="play-button no-scroll open-popup-testimonial-{{i}}" href="#popup-testimonial-player-{{i}}">
                {% include 'icon-play' %}
              </a> 
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="hidden">
      {% for i in (1..6) %}
      {% capture testimonial_link %}wrinkles_testimonial_{{ i }}_link{% endcapture %}
      <div class="popup-vimeo-wrapper" id="popup-testimonial-player-{{i}}">
        <div class="video-container">
          <iframe id="testimonial-player-{{i}}" link-src="{{ settings[testimonial_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-{{i}}" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    {% for i in (1..6) %}
    $("#testimonial-player-{{i}}").on("finish", function(){
      $("#popup-testimonial-player-{{i}} .mfp-close").trigger("click");
      });
    $('.open-popup-testimonial-{{i}}').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
      open: function() {
      $("#testimonial-player-{{i}}").attr('src',$("#testimonial-player-{{i}}").attr('link-src'));
        setTimeout(function(){$("#testimonial-player-{{i}}").vimeo("play");}, 700);
                                $.magnificPopup.instance.close = function () {
        $("#testimonial-player-{{i}}").vimeo("stop");
          $.magnificPopup.proto.close.call(this);
      };
                             }
    }
  });
  {% endfor %}
  });
</script>

<style>
  .tes-img-wrapp {
    margin: 15px 0;
  }
  .tes-img-wrapp .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50px) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.8;
  }
  .tes-img-wrapp:hover .play-button,
  .slide-video-popup:hover .play-button {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .tes-img-wrapp .play-button svg {
    width: 68px;
    height: 68px;
  }
  #women-video-testimonials .item img {
    width: 100%;
    height: auto;
  }
  #women-video-testimonials .owl-buttons > div{
    background-position: center center !important;
    background: transparent;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 16px auto;
    width: 18px;
    height: 37px;
    opacity: 1;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    cursor: pointer;
  }
  #women-video-testimonials .owl-buttons .owl-prev {
    background-image: url({{ 'arrow-icon-left.png' | asset_url }});
    left: 15px;
  }
  #women-video-testimonials .owl-buttons .owl-next {
    background-image: url({{ 'arrow-icon-right.png' | asset_url }});
    right: 15px;
  }

  @media screen and (max-width: 767px) {
    #women-love-clarafuse .tes-img-wrapp {
      margin-bottom: 0;
      margin-top: 0;
    }

  }

</style>
