<style>

  /* Style the tab */
  div.tab {
    overflow: hidden;
    border-top: 1px solid #dddbd7;
    border-bottom: 1px solid #dddbd7;
  }

  /* Style the buttons inside the tab */
  div.tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s;
    font-size: 40px;
    line-height: 108px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: #91908c;
    border-bottom: 4px solid #fff;
  }

  /* Change background color of buttons on hover */
  div.tab button:hover {
    border-bottom: 4px solid #ff4365;
    color: #444037;
  }

  /* Create an active/current tablink class */
  div.tab button.active {
    border-bottom: 4px solid #ff4365;
    color: #444037;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 80px 0 0;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }

  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
</style>
<div id="features-tabs">
  <div class="container">
    <div class="row">
      <div class="tab">
        <button class="tablinks col-md-6 col-sm-6 col-xs-6 text-center" onclick="openCity(event, 'Science')" id="defaultOpen">The Science</button>
        <button class="tablinks col-md-6 col-sm-6 col-xs-6 text-center" onclick="openCity(event, 'Products')">Products</button>

        {% comment %}
        <button class="tablinks col-md-4 col-sm-4 col-xs-4 text-center" onclick="openCity(event, 'Promise')">Our Promise</button>
        {% endcomment %}
      </div>
    </div>
  </div>

  <div id="Science" class="tabcontent">
    {% comment %}
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
          <p class="text-center">The ‘magic’ is not really ‘magic’ at all, but rather <span>proven science.</span></p> 
          <p class="text-center">Our <span>advanced silicone treatment</span> was developed by medical professionals conducting extensive scar treatment research. The breathable silicone placed on skin replenishes moisture by encouraging skin to pull its natureal moisture from lower layers to the surface, and also stimulates collagen production which triggers skin’s “auto-repair” mechanism. </p>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="science-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">How Clarafuse Works</h3>
            <p class="show-750 text-center">Moisture is pulled to the upper skin layers, hydration is replenished and collagen production is normalized helping the skin to plump, heal and smooth itself.</p>
            <img class="hidden-991 hmak-lazy" alt="" hmak-src="{{ 'science-img.png' | asset_url }}" />
            <img class="show-750 hmak-lazy" alt="" hmak-src="{{ 'science-img-768.png' | asset_url }}" />
            <img class="show-640 hmak-lazy" alt="" hmak-src="{{ 'science-img-640.png' | asset_url }}" />


            <div class="col-md-6">
              <div class="video-play-cap">
                <a href="#video-popup-science-1" class="wrap-link no-scroll open-science-video-popup-1">
                <span class="play-button"></span>
                </a>
                  <img class="hmak-lazy" alt="" hmak-src="{{ 'science-video-1.jpg' | asset_url }}" />
                
              </div>
            </div>

            <div class="col-md-6">
              <div class="video-play-cap">
                <a href="#video-popup-science-2" class="wrap-link no-scroll open-science-video-popup-2">
                <span class="play-button"></span>
                </a>
                  <img class="hmak-lazy" alt="" hmak-src="{{ 'science-video-2.jpg' | asset_url }}" />

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="hidden">
        <div class="popup-vimeo-wrapper" id="video-popup-science-1">
          <div class="video-container">
            <iframe id="new-player-popup-1" link-src="{{ settings.features_science_video_1 }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup" width="" height="" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="hidden">
        <div class="popup-vimeo-wrapper" id="video-popup-science-2">
          <div class="video-container">
            <iframe id="new-player-popup-2" link-src="{{ settings.features_science_video_2 }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup" width="" height="" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="Products" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
          <p class="text-center">Our products work synergistically in an <span>easy 3-step system</span> that provides a measurable reduction in the appearance of stretch marks and lines.</p>
        </div>
      </div>

      <div class="row">
        <div id="owl-step-prod" class="owl-carousel owl-theme">
          <div class="item tab-products tab-1">
            <h3>STEP 1</h3>
            <h1>purify</h1>
            <ul>
              <li><span>claraprep</span> hydrating cream cleanser prepares treatment area</li>
              <li>Gentle on the skin to maintain its natural moisture balance</li>
            </ul>
          </div>
          <div class="item tab-products tab-2">
            <h3>STEP 2</h3>
            <h1>repair</h1>
            <ul>
              <li><span>clarafuse</span> Silicone Fusion Treatment safely and effectively treats stretch marks</li>
              <li>Large, versatile heart shape for application to various body treatment areas</li>
            </ul>
          </div>
          <div class="item tab-products tab-3">
            <h3>STEP 3</h3>
            <h1>nourish</h1>
            <ul>
              <li><span>claraline</span> peptide serum enhances Silicone Fusion Treatment results</li>
              <li><span>claratone</span> micropulse serum applicator increases serum penetration</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <p style="margin: 20px 0 0;" class="text-center">Dermaclara was founded upon a simple, yet critically important principle: deliver <span>painless</span> and <span>non-invasive</span> treatment for stretch marks <span>that actually works</span>. We want to restore damaged skin back to its healthy state. And we place a high priority on guaranteeing <span>complete satisfaction</span>.</p>
        </div>
        <div class="col-md-12 text-center">
          {%if page.handle contains 'siliconefusion' or page.handle == 'smarterchaos'%}
          <a class="shop-btn" href="#packages">Shop Now</a>
          {% else %}
          <a class="shop-btn" href="/#packages">Shop Now</a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>



  {% comment %}
  <div id="Promise" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-0 col-md-12 col-xs-offset-0 col-xs-12">
          <p class="text-center">Dermaclara was founded upon a simple, yet critically important principle: deliver <span>painless</span> and <span>non-invasive</span> treatment for stretch marks <span>that actually works</span>. We want to restore damaged skin back to its healthy state. And we place a high priority on guaranteeing <span>complete satisfaction</span>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-0 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12 tab-products">
          <h3>100% painless and non-invasive</h3>
          <p>
            We believe that no one should inject chemicals into their body or go through painful procedures to preserve the smooth and healthy appearance of their skin. We guarantee that all Dermaclara products are 100% painless, non-invasive, safe, and easy to use. <i style="color: #666562;font-weight:600;">Clarafuse</i> reduces the appearance of lines and stretch marks without causing any pain or discomfort. 
          </p>
        </div>
        <div class="col-lg-offset-2 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12 tab-products">
          <h3>complete satisfaction </h3>
          <p>
            Our revolutionary products are meant to make you feel great in your own skin. Born out of dermatological science, we pioneered in-home stretch marks treatment. Our advance technology is highly effective, and we back that up with our <a href="/pages/product-offer-warranty-return/#60-Day-Money-Back">60-Day Money Back Guarantee</a>: if you’re not happy with the results, just return the products and get a full refund!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}

</div>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();



  $(document).ready(function() {
    $("#new-player-popup-1").on("finish", function(){
      $("#video-popup-new .mfp-close").trigger("click");
    });
    $("#new-player-popup-1").on("pause", function(){
      //$("#slide-video-popup .mfp-close").trigger("click");
    });
    $('.open-science-video-popup-1').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#new-player-popup-1").attr('src',$("#new-player-popup-1").attr('link-src'));
          setTimeout(function(){$("#new-player-popup-1").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#new-player-popup-1").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });

    
    
    $("#new-player-popup-2").on("finish", function(){
      $("#video-popup-new .mfp-close").trigger("click");
    });
    $("#new-player-popup-2").on("pause", function(){
      //$("#slide-video-popup .mfp-close").trigger("click");
    });
    $('.open-science-video-popup-2').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#new-player-popup-2").attr('src',$("#new-player-popup-2").attr('link-src'));
          setTimeout(function(){$("#new-player-popup-2").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#new-player-popup-2").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });


    var owl = $("#owl-step-prod");

    owl.owlCarousel({

      itemsCustom : [
        [0, 1],
        [450, 1],
        [600, 1],
        [992, 3],
        [1000, 3],
        [1200, 3],
        [1400, 3],
        [1600, 3]
      ],
      navigation : false,
      pagination : true

    });

  });


</script>
<style>
  /*===update home video clarafuse=======*/
  #Science .video-play-cap{
    display: block;
    text-align: center;
    color:#fff;
    position: relative;
    text-decoration: none;
    margin-top: 40px;
  }
  #Science .video-play-cap span.play-button:hover span{
    border-bottom: 2px solid #fff;
    color: #fff;

  }
  #Science .video-play-cap span.play-button i{
    color: #c8a557;
    border: 2px solid #c8a557;
    padding: 9px 8px 8px 12px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
  }
  #Science .video-play-cap span.play-button span{
    cursor: pointer;
    color: #c8a557;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-bottom: 2px solid #c8a557;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  #Science .video-play-cap span.play-button:hover i{
    border: 2px solid #fff;
    color: #fff;
  }
  #Science .video-play-cap span.play-button span:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  #Science a.video-play-cap:hover{
    text-decoration: none;
  }

  
  
  #Science .video-play-cap .wrap-link{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #bf9649;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  #Science .video-play-cap .wrap-link:hover{
    background: #000;
  }
  
  #Science .video-play-cap .play-button {
    
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url({{ 'btn-play.png' | asset_url }})
  }

  @media screen and (max-width: 479px){
    #Science .video-play-cap span.play-button span {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 360px){
    #Science .video-play-cap span.play-button span {
      font-size: 12px;
    }
    #Science .video-play-cap span.play-button i {
      padding: 6px 6px 6px 9px;
    }
  }
</style>
