<section id="home-silicone-fusion" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">{{ settings.wrinkles_silicone_fusion_title }}</h2>
        <p class="fusion-text">{{ settings.wrinkles_silicone_fusion_content }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="silicone-img">
          <img class="" src="{{ 'clarafuse-body-wrinkles.jpg' | asset_url }}" alt="" />
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="silicone-text text-left">          
          {{ pages['clarafuse-body-wrinkles'].content }}
        </div>
      </div>
    </div>

    <style>
      .container h2.section-title {
      font-size: 45px;
      }
    </style>
    
    
    
  </div>
</section>