<div id="cart_over">
  <div id="slideout_inner">
<form action="/cart" method="post" id="cartform" class="clearfix">


	<div id="cart_top"><!--TITLE OF CART -->
      <span id="cart_close">close</span>
	  <div id="cart-header">
	    <h2 id="cart-title">Your Cart has <span class="items">{{ cart.item_count }}</span>
		<span class="itemshide">{{ cart.item_count | pluralize: ' item', ' items' }} </span></h2>
	  </div>


    {% if cart.item_count == 0 %} <!--IF CART IS EMPTY-->
    <div id="cart-info"><!-- CONTAINER OF WHAT IS REPLACED -->
      <p class="empty">Your shopping cart is empty. Check out our <a href="/collections/all">catalog</a> to see what's available.</p>
    </div><!--end cart-infoempty --> 


    {% else %}<!--IF ITEMS EXIST-->
    <div id="cart-info"><!-- CONTAINER OF WHAT IS REPLACED -->
      <table>
	    <colgroup>
	      <col class="checkout-image" />
	      <col class="checkout-info" />
	      <col class="checkout-price" />
	      <col class="checkout-quantity" />
	      <col class="checkout-totals" />
	      <col class="checkout-delete" />
	    </colgroup>

	    <tbody id="updating_cart">
	    {% for item in cart.items %}<!-- this is what we re-create with the script -->
	        
	      <tr id="product-{{ item.id }}" class="{{ item.product.handle }} item">
			
		    <td id='invisible' class="cart_amount cartvis"> <!-- FOR THE FUTURE -->
			  <input class="text" type="text" size="4" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{ item.quantity }}" onfocus="this.select();" class="replace" /> 
			</td>
			
		 	<td class="cart_image">
	          <a href="{{ item.product.url }}">
	            <img class="cartimage" src="{{ item.product.featured_image | product_img_url: 'small' }}"  alt="{{ item.product.title }}" />
	          </a>
	        </td>
	            
			<td class="cart_title"> 
			  <a href="{{item.product.url }}">{{ item.title }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span></a>
			</td>
				
			<td class="cart_itemprice">
			  <span class="quantity">{{ item.quantity }}</span> x {{ item.price | money }}
			</td>
	            
			<td class ="cart_remove"><a onClick="removecartitem({{item.variant.id}}); return false;">remove</a></td>
	          
		  </tr>
	    {% endfor %}
	    </tbody>
      </table>
		
		</div><!--END CART-INFO (WHAT IS REPLACED) --> 
    {% endif %}
	</div><!-- END CART-TOP -->


    <div id="cart_bottom">				
      <table>	
	    <tbody>
		  <tr id="cart_footer">
			<td class="cart_update"></td>
			<td  class="cart_shipping">Total<span class="cart_ship">(excluding tax & shipping)</span></td>
		    <td id="cart_total" class="cart_total items"><span>  <span class="wh-original-cart-total"><span class='wh-original-price'>{{ cart.total_price | money}}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></span></td>
		  </tr>
	    </tbody>
      </table>

      <div id="checkout-proceed">
	    <h2 id="remove-from-cart-msg"></h2>
        <a id="inlinecheckout-cart" href="/cart" >Edit Cart or Checkout</a>              
	    {% if additional_checkout_buttons %} 
	    <div id="additional-checkout-buttons">
	      <span id="additional-checkout-buttons-label">Or checkout using:</span>
	      {{ content_for_additional_checkout_buttons }}
	    </div>
	    {% endif %}                       
      </div><!-- end checkout-proceed -->
    </div><!-- end cart_bottom-->


</form>  
  </div><!-- /#inlinecart -->
</div>