{% assign my_image_url=article.content | escape %}
{% assign my_image_url = my_image_url | split: 'src=&quot;' %}
{% assign my_image_url = my_image_url[1] | split: '&quot;' %}
{% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
{% assign my_image_url = my_image_url | remove: 'http:'; %}
{% assign my_image_url = my_image_url | remove: 'https:' %}

<ul class="inline-list social-icons">
  <li><a class="face-bg" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank"><span class="fa fa-facebook"></span></a></li>
  <li><a class="twitter-bg" href="https://twitter.com/intent/tweet?text={{ article.title }}&url={{ shop.url }}{{ article.url }}" target="_blank"><span class="fa fa-twitter"></span></a></li>
  <li><a class="google-bg" href="https://plus.google.com/share?url={{ shop.url }}{{ article.url }}" target="_blank"><span class="fa fa-google-plus"></span></a></li>
  <li><a class="pinterest-bg" href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&description={{ article.title }}&media={{ my_image_url | prepend: 'http://cdn' }}" target="_blank"><span class="fa fa-pinterest-p"></span></a></li>
</ul>