{% assign my_image_url=article.content | escape %}
{% assign my_image_url = my_image_url | split: 'src=&quot;' %}
{% assign my_image_url = my_image_url[1] | split: '&quot;' %}
{% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
{% assign my_image_url = my_image_url | remove: 'http:'; %}
{% assign my_image_url = my_image_url | remove: 'https:' %}

<div class="article_share">
  <p>Share:</p>
  {%comment%}
  <p class="des_hide">Follow us on social media for more great tips, news, and updates!</p>
  <p class="mob_hide">Follow us on social media <br>for more great tips, news, and updates!</p>
  {%endcomment%}
  <a class="face-bg" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank"><i class="fa fa-facebook"></i></a>
  <a class="twitter-bg" href="https://twitter.com/intent/tweet?text={{ article.title }}&url={{ shop.url }}{{ article.url }}" target="_blank"><i class="fa fa-twitter"></i></a>
  <a class="google-bg" href="https://plus.google.com/share?url={{ shop.url }}{{ article.url }}" target="_blank"><i class="fa fa-google-plus"></i></a>
  <a class="pinterest-bg" href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&description={{ article.title }}&media={{ my_image_url | prepend: 'http://cdn' }}" target="_blank"><i class="fa fa-pinterest-p"></i></a>
</div>