{% if blog.handle == 'news' %}

<div id="cd-lateral-nav-mobile" class="row">
  <ul class="cd-navigation col-lg-12 col-md-12 col-sm-12 col-xs-12">
      {% for link in linklists['blog-nav-menu'].links %}
    <li {% if link.links != blank %}class="has-dropdown-mobile"{% endif %}><a class="{{ link.title }}{% if link.active %}active{% endif %}" {% if page.handle contains 'espanol' or page.handle contains 'acne' or page.handle == 'smarterchaos' and link.handle == 'shop' %}href="/collections/shopping-page"{%elsif link.handle == 'shop'%}href="/collections/shopping-page"{% else %}href="{{ link.url }}"{% endif %}>{{ link.title }}</a>
    {% if link.links != blank %}
      <ul class="dropdown-list-mobile">
        {% for child_link in link.links %}
          <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    </li>
    {% endfor %}
    <li id="cart-target" class="site-nav--has-dropdown toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
        <a href="/cart" class="cart external" title="Shopping Cart">
          {% include 'icon-cart' %}
          {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
        </a>
        {% comment %}
        {% include 'dropdown-cart' %}
        {% endcomment %}
      </li>
    </ul>
</div>

{% else %}

<div id="cd-lateral-nav-mobile" class="row">
  <ul class="cd-navigation col-lg-12 col-md-12 col-sm-12 col-xs-12">
      {% for link in linklists['nav-menu'].links %}
    <li {% if link.links != blank %}class="has-dropdown-mobile"{% endif %}><a class="{{ link.title }}{% if link.active %}active{% endif %}" {% if page.handle contains 'espanol' or page.handle contains 'acne' or page.handle == 'smarterchaos' and link.handle == 'shop' %}href="/collections/shopping-page"{%elsif link.handle == 'shop'%}href="/collections/shopping-page"{% else %}href="{{ link.url }}"{% endif %}>{{ link.title }}</a>
    {% if link.links != blank %}
      <ul class="dropdown-list-mobile">
        {% for child_link in link.links %}
          <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    </li>
    {% endfor %}
    <li id="cart-target" class="site-nav--has-dropdown toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
        <a href="/cart" class="cart external" title="Shopping Cart">
          {% include 'icon-cart' %}
          {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
        </a>
        {% comment %}
        {% include 'dropdown-cart' %}
        {% endcomment %}
      </li>
    </ul>
</div>

{% endif %}

<style>
  #cd-menu-trigger-mobile {
    z-index: 999;
    text-decoration: none;
    margin-left: 20px;
  }
  #cd-menu-trigger-mobile .icon-close {
    display: none;
  }
  #cd-menu-trigger-mobile.is-clicked .icon-menu {
    display: none;
  }
  #cd-menu-trigger-mobile.is-clicked .icon-close {
    display: inline-block;
    width: 21px;
  }
  #menu-icon {
    padding: 10px 15px;
  }
  #menu-icon .icon-search-mobile svg {
    width: 22px;
  }
  #cd-menu-trigger-mobile:hover,
  #cd-menu-trigger-mobile:focus {
    opacity: 1;
    text-decoration: none;
  }
  #cd-menu-trigger-mobile .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
  }
  #cd-menu-trigger-mobile .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
  }
  #cd-menu-trigger-mobile .cd-menu-icon::before,
  #cd-menu-trigger-mobile .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
  }
  #cd-menu-trigger-mobile .cd-menu-icon::before {
    bottom: 5px;
  }
  #cd-menu-trigger-mobile .cd-menu-icon::after {
    top: 5px;
  }
  #cd-lateral-nav-mobile {
    background: #fff none repeat scroll 0 0;
    height: 100vh;
    position: absolute;
    top: 109px;
    left: 0;
    right: 0;
    margin: 0;
    visibility: visible;
    width: 100%;
    z-index: 1;
  }
  #cd-lateral-nav-mobile .cd-navigation {
    /* background: #fff none repeat scroll 0 0;*/
    box-shadow: none;
    list-style: outside none none;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 50px 30px;
  }
  #cd-lateral-nav-mobile .cd-navigation .item-list:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #ededed;
  }

  #cd-lateral-nav-mobile .cd-navigation .item-list {
    position: relative;
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  #cd-lateral-nav-mobile .sub-menu {
    display: none;
    list-style: outside none none;
    padding: 0;
    margin: 0;
  }

  #cd-lateral-nav-mobile .sub-menu > li {
    font-weight: normal;
    padding-left: 0;
    border-bottom: none;
    margin: 0;
  }

  #cd-lateral-nav-mobile .sub-menu > li:last-child {
    border-bottom: 0px solid #333;
  }

  #cd-lateral-nav-mobile .sub-menu > li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 35px;	
  }

  #cd-lateral-nav-mobile .sub-menu > li > ul > li > a {
    padding-left: 55px;  	
  }

  #cd-lateral-nav-mobile a {
    color: #4e4e53;
    display: block;
    font-size: 18px;
    font-weight: 300 !important;
    letter-spacing: 0.025em;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
  }
  #cd-lateral-nav-mobile a:hover {
    color: #E38065;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #cd-lateral-nav-mobile a.bumpies,
  #cd-lateral-nav-mobile a.glass-protectors {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 300 !important;
  }
  #cd-lateral-nav-mobile a.current {
    background-color: #3a4a4d;
    color: #252525;
  }
  #cd-lateral-nav-mobile li#cart-target {
    margin-top: 30px;
  }
  .no-touch #cd-lateral-nav a:hover {
    color: #252525;
  }

  #cd-lateral-nav-mobile.lateral-menu-is-open {
    /*-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);*/
    display: block;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
  }

  #cd-lateral-nav-mobile {
    /*-webkit-transform: translateX(-280px);
    -moz-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    -o-transform: translateX(-280px);
    transform: translateX(-280px);*/
    padding: 0;
    display: none;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
  }

  /* style menu items which have a submenu  */
  #cd-lateral-nav-mobile .item-has-children-mb > a,
  #cd-lateral-nav-mobile .item-has-children-mb-second > a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    /* this is the right arrow to show that the item has a submenu  */
  }

  #cd-lateral-nav-mobile .item-has-children-mb > a span,
  #cd-lateral-nav-mobile .item-has-children-mb-second > a span {
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: 100;
    line-height: 54px;
    vertical-align: middle;
  }

  #cd-lateral-nav-mobile .item-has-children-mb > a span.fa-minus,
  #cd-lateral-nav-mobile .item-has-children-mb-second > a span.fa-minus {
    display: none;
  }

  #cd-lateral-nav-mobile .item-has-children-mb > a.submenu-open span.fa-minus,
  #cd-lateral-nav-mobile .item-has-children-mb-second > a.submenu-open span.fa-minus {
    display: inline;
  }

  #cd-lateral-nav-mobile .item-has-children-mb > a.submenu-open span.fa-plus,
  #cd-lateral-nav-mobile .item-has-children-mb-second > a.submenu-open span.fa-plus {
    display: none;
  }


  @media screen and (max-width: 767px) {
    #cd-lateral-nav-mobile .cd-navigation {
      max-width: 580px;
    }
    #cd-lateral-nav-mobile {
      top: 73px;
    }
  }

  @media screen and (max-width: 639px) {
    #cd-lateral-nav-mobile .cd-navigation {
      padding: 30px 15px;
    }

  }

  @media screen and (max-width: 479px) {
    #cd-lateral-nav-mobile .cd-navigation {
      padding: 30px 30px;
    }
    #cd-lateral-nav-mobile {
      top: 100px;
    }
    #cd-lateral-nav-mobile a {
      font-size: 16px;
      line-height: 50px;
    }
    #cd-lateral-nav-mobile li#cart-target {
      margin-top: 20px;
    }
    #cd-lateral-nav-mobile li#cart-target svg {
      width: 25px;
    }
  }

</style>

<script>
  jQuery(document).ready(function($){

    var $lateral_menu_trigger = $('#cd-menu-trigger-mobile'),
        $content_wrapper = $('.cd-main-content'),
        $navigation = $('body');

    //open-close lateral menu clicking on the menu icon
    $lateral_menu_trigger.on('click', function(event){
      event.preventDefault();

      $lateral_menu_trigger.toggleClass('is-clicked');
      $navigation.toggleClass('lateral-menu-is-open');
      $content_wrapper.toggleClass('lateral-menu-is-open').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
        // firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
        $('body').toggleClass('overflow-hidden');
      });
      $('#cd-lateral-nav-mobile').toggleClass('lateral-menu-is-open');

      //check if transitions are not supported - i.e. in IE9
      if($('html').hasClass('no-csstransitions')) {
        $('body').toggleClass('overflow-hidden');
      }

    });

    //close lateral menu clicking outside the menu itself
    $content_wrapper.on('click', function(event){
      if( !$(event.target).is('#cd-menu-trigger-mobile, #cd-menu-trigger-mobile span') ) {
        $lateral_menu_trigger.removeClass('is-clicked');
        $navigation.removeClass('lateral-menu-is-open');
        $content_wrapper.removeClass('lateral-menu-is-open').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
          $('body').removeClass('overflow-hidden');
        });
        $('#cd-lateral-nav-mobile').removeClass('lateral-menu-is-open');
        //check if transitions are not supported
        if($('html').hasClass('no-csstransitions')) {
          $('body').removeClass('overflow-hidden');
        }

      }
    });

    //open (or close) submenu items in the lateral menu. Close all the other open submenu items.
    $('.item-has-children-mb').children('a').on('click', function(event){
      event.preventDefault();
      $(this).toggleClass('submenu-open').next('.sub-menu').slideToggle(200).end().parent('.item-has-children-mb').siblings('.item-has-children-mb').children('a').removeClass('submenu-open').next('.sub-menu').slideUp(200);
    });

    //open (or close) submenu items in the lateral menu. Close all the other open submenu items.
    $('.item-has-children-mb-second').children('a').on('click', function(event){
      event.preventDefault();
      $(this).toggleClass('submenu-open').next('.sub-menu').slideToggle(200).end().parent('.item-has-children-mb-second').siblings('.item-has-children-mb-second').children('a').removeClass('submenu-open').next('.sub-menu').slideUp(200);
    });


  });

</script>