<script type='text/javascript'>

    $(document).ready(function(){
      var items = [];
    
  
      $('.shippingFreq').change(function(){
        var id = $(this).data(id).id; 
        var freq = $(this).val().split(' ');
        $('input[data-shipping_interval_frequency='+id+']').val(freq[0])
      });
  
      $('.product-img-border img').matchHeight({byRow: false});
      $("#productCarousel").owlCarousel({
      autoplay: false,
      lazyLoad: true,
      loop: false,
      dots: false,
      thumbs: false,
      responsiveClass: true,
      autoHeight: false,
      nav: true,
    
      responsive: {
        0: {
          items: 1,
        },
    
        600: {
          items: 2,
        },
    
        1024: {
          items: 4
        },
    
        1366: {
          items: 4,
           nav: true,
        }
      }
    });
         $('#AddToCart').click(function(e){
        e.preventDefault();
      {% for block in section.blocks %}
           {% if block.type == 'products' %}
      var prop = {};
      {% assign prd = all_products[block.settings.product] %}
      {% if prd.metafields.subscriptions.subscription_id %}
        {% assign varID = prd.variants[0].metafields.subscriptions.discount_variant_id %}
         prop['shipping_interval_frequency'] = $('input[data-shipping_interval_frequency={{prd.id}}]').val();
         prop['shipping_interval_unit_type']= $('input[data-shipping_interval_unit={{prd.id}}]').val();
         prop['subscription_id'] = {{prd.metafields.subscriptions.subscription_id}}
      {% else %}
        {% assign varID = prd.variants[0].id %}
        prop = null;
      {% endif %}
         items.push({id:{{varID}},quantity:1,properties: prop});
           {% endif %}
    {% endfor %}
    $.ajax({
          'async': false,
          url: '/cart/clear.js',
          type: 'POST', 
          dataType: 'json',
  
          success: function (data) {
            $.post('/cart/add.js', {
              items: items,
              success:rechargeRedirect()
            });
          }
      });
  
      });
   
      $('.cta-btn').not('[href="#"]').not('[href="#0"]').click(function(event) {
            // On-page links
            if (
              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
              && 
              location.hostname == this.hostname
            ) {
              // Figure out element to scroll to
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              // Does a scroll target exist?
              if (target.length) {
                // Only prevent default if animation is actually gonna happen
                event.preventDefault();
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000, function() {
                  // Callback after animation
                  // Must change focus!
                  var $target = $(target);
                  $target.focus();
                  if ($target.is(":focus")) { // Checking if the target was focused
                    return false;
                  } else {
                    $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                    $target.focus(); // Set focus again
                  };
                });
              }
            }
            });
  
    });
      function rechargeRedirect() {
  
      /*construct url */
      function get_cookie(name) {
        return (document.cookie.match('(^|; )' + name + '=([^;]*)') || 0)[2]
      }
  
      var token = get_cookie('cart')
      var myshopify_domain = 'dermaclara.myshopify.com'
  
      try {
        var ga_linker = ga.getAll()[0].get('linkerParam')
      } catch (err) {
        var ga_linker = ''  
      }
  
      var customer_param = '{% if customer %}customer_id={{ customer.id }}&customer_email={{ customer.email }}{% endif %}';
  	  var  discount_code='10%SubscriptionDiscount';
  
      checkout_url = "https://checkout.rechargeapps.com/r/checkout?myshopify_domain=" + myshopify_domain + "&cart_token=" + token + "&" + ga_linker + "&" + customer_param + "&discount=" + discount_code ;
  
  
      window.location.href = checkout_url;
  
      }
</script>
    