{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% if settings.newsletter_form_action != blank %}
  {% assign form_action = settings.newsletter_form_action %}
{% else %}
  {% assign form_action = '#' %}
{% endif %}
<form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="small--hide">
  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="youremail@domain.com" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
  <input type="submit" class="btn" name="subscribe" id="subscribe" value="">
</form>
<form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="large--hide medium--hide input-group">
  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
  <span class="input-group-btn">
    <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
  </span>
</form>
{% endcomment %}

<!-- Begin Mailchimp Signup Form -->

<form action="https://dermaclara.us3.list-manage.com/subscribe/post-json?u=79d7e73d019263b0357439940&amp;id=10b04f8fa7&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">

    <div class="mc-field-group">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="youremail@domain.com">
    </div>
    
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_79d7e73d019263b0357439940_10b04f8fa7" tabindex="-1" value=""></div>
    <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">
    
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none">
        
      </div>
    </div>   
  </div>
</form>

{% comment%}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endcomment%}
<!--End mc_embed_signup-->
<script type="text/javascript">
  pintrk('track', 'lead', {
    lead_type: 'Newsletter'
  });
</script>
<script>
  $(document).ready( function () {
    // I only have one form on the page but you can be more specific if need be.
    var $form = $('form#mc-embedded-subscribe-form');

    if ( $form.length > 0 ) {
      $('form input[type="submit"]#mc-embedded-subscribe').bind('click', function ( event ) {
        if ( event ) event.preventDefault();
        // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
        var email = $('#mce-EMAIL').val();
        console.log(email);
        if ( isValidEmail(email) ) { 
          register($form);          
          $('#mce-error-response').hide().text('');
        }else{
          $('#mce-error-response').show().text('Please validate your email address!');
        }
      });
    }
  });

  function register($form) {
    jQuery.ajax({
      type: $form.attr('method'),
      url: $form.attr('action'),
      data: $form.serialize(),
      cache       : false,
      dataType    : 'json',
      contentType: "application/json; charset=utf-8",
      error       : function(err) { $('#mce-error-response').show().text("Could not connect to the registration server. Please try again later."); },
      success     : function(data) {
        if (data.result != "success") {
          // Something went wrong, do something to notify the user. maybe alert(data.msg);
          $('#mce-error-response').show().text(data.msg); 
          if (data.msg.indexOf("is already subscribed") >= 0)
          {
            var text_msg = data.msg.split('is already subscribed to list Dermaclara'); 
            $('#mce-error-response').show().html('<a style="text-decoration: underline;cursor: pointer;">'+ text_msg[0]+'</a> is already subscribed');
          }
          else
          {
            $('#mce-error-response').show().text(data.msg);
          }
        } else {
          // It worked, carry on...
          $('#mce-success-response').show().text("Thanks for subscribing.");
           pintrk('track', 'lead', { //adding pinterest tracking code
                 lead_type: 'Newsletter'
                  });
          $('#mc-embedded-subscribe').hide();
          $('#mc-field-group-wrapp').hide();
          $('#mc-embedded-subscribe-form')[0].reset();
          
        }
      }
    });
  }
  
  function isValidEmail(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress);
    return true;
  };
</script>

  <script>
    jQuery(document).submit(function(){
      jQuery('#mc-embedded-subscribe-form').submit(function(){
      pintrk('track', 'lead', {
        lead_type: 'Newsletter'
      });
      })
    })
  </script>
