<div id="results-video-slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-12 col-sm-12">
        <div id="sync1" class="owl-carousel">
          {% for i in (1..11) %}
          {% capture show_slide %}results_video_{{ i }}{% endcapture %}
          {% capture image %}results_video_img_{{ i }}.png{% endcapture %}
          {% capture image_mobile %}results_video_img_480_{{ i }}.png{% endcapture %}
          {% capture link %}results_video_{{ i }}_link{% endcapture %}
          {% capture title %}results_video_{{ i }}_title{% endcapture %}
          {% if settings[show_slide] %}
          <div class="item">
            <img class="show-750-up lazyOwl" src="{{ image | asset_url }}" alt="{{ settings[title] | escape }}" />
            <img class="show-480 lazyOwl" src="{{ image_mobile | asset_url }}" alt="{{ settings[title] | escape }}" />
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12">
        <p class="onehour-text">Results seen after just <span>one hour</span> of use.</p>
      </div>
    </div>
  </div>
</div>

