<div id="packages-advance-mobile" class="packages-inside">
  <div id="packages-advance-wrapp">
    <div class="item item-first">
      <img class="mb-show" src="{{ 'advanced-kit-480.jpg' | asset_url }}" alt="" />
    </div>
    <div class="details-collapsed">
      <div class="price-addtobag">
        <p><span class="inc-det-l">{{all_products.advanced-kit.price | money | remove:".00" | remove:" "}}</span> <span class="inc-det-pre inc-det-r">({{all_products.advanced-kit.compare_at_price | money | remove:".00" | remove:" "}} value)</span></p>
        <a class="btn" href="javascript:void(0)" onclick="addProductToCart({{all_products.advanced-kit.variants.first.id}},1)">ADD TO CART</a>
      </div>

      <div class="see-details-wrapp">
        <span class="see-details" onclick="$('#details-open-advance').slideToggle(); $(this).toggleClass('active');"><span class="see">see details</span><span style="display: none;" class="hides">Hide details</span></span>
      </div>

      <div class="regime-timer col-lg-12 col-md-12 col-sm-12 col-xs-12 pay-multi control-clock">
        <span class="timer-message"><span class="text-bold">Want it sooner?</span> Order within the next <span id="dynamic-timer"><span class="dynamic-minus"></span> mins <span class="dynamic-seconds"></span> secs</span> and choose <span class="text-bold">Free Accelerated Shipping</span> at checkout.</span>
      </div>

      <div id="details-open-advance" class="details-open container" style="display:none;">
        <div class="includes-group">
          <label>INCLUDES:</label>
          {% for product in collections.advanced-kit.products %}

          {% assign not_free_gift = true %}
          {% for prod in collections.your-free-gifts.products %}
          {% if product.id == prod.id%} {% assign not_free_gift = false %}{% endif %}
          {% endfor %}

          {% if not_free_gift %}
          <div class="detail-item-wrapp">
            <div class="detail-item" onClick="$('#packages-advance-mobile .includes-group .metafields-mobile-{{product.id}}').toggle();$('#packages-advance-mobile .includes-group .detail-des-open-{{product.id}}').slideToggle();$('#packages-advance-mobile .includes-group .more-{{product.id}} a').toggleClass('active');">
              <div class="detail-item-img">
                <img class="lazy" data-original="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
              </div>
              <div class="detail-item-title">
                <h3>
                  {{ product.title }}                  
                  {% capture price %}{{ product.price | money }}{% endcapture %}                  
                  {% if on_sale %}
                  <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
                  {% endif %}
                  {% if product.price_varies %}
                  {{ 'products.general.from_html' | t: price: price }}
                  {% else %}
                  <p class="price-prod">({{ price | remove:" " | remove:".00" }})</p>
                  {% endif %}
                </h3>
                <span class="metafields metafields-mobile-{{product.id}}" style="display:none;">{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span>
              </div>
              <div class="more more-{{product.id}}">
                <a href="javascript:void(0);"><span></span><span></span><span></span></a>
              </div>
            </div>
            <div class="detail-des-open detail-des-open-{{product.id}}" style="display:none;">
              {% comment %}<p class="contains">Contains: {{ product.metafields.featured.contains }}</p>{% endcomment %}
              <p class="description">{{ product.description  }}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>


      </div>
    </div>
  </div>
</div>