{% if paginate.pages > 1 %}
<div class="pagination-wrapp">
  <div class="">
    <ul class="pagination clearfix">

      {% if paginate.next %}
      <li class="previous-blog"><a href="{{ paginate.next.url }}" class="prev">&lt; older posts</a></li>
      {% else %}
      <li class="previous-blog hidden-not-link"><span>&lt; older posts</span></li>
      {% endif %}

      {% comment %}
      {% for part in paginate.parts %}
      <li class="paginate-post {% if paginate.current_page == part.title %}active{% endif %}"><a href="{{part.url}}">{{ part.title }}</a></li>
      {% endfor %}
      {% endcomment %}

      {% if paginate.previous %}
      <li class="next-blog"><a href="{{ paginate.previous.url }}" class="next">Newer posts &gt;</a></li>
      {% else %}
      <li class="next-blog hidden-not-link"><span>Newer posts &gt;</span></li>
      {% endif %}

    </ul>
  </div>
</div> 
{% endif %}