<div id="partner-results" class="results-video-titles">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-12 col-sm-12">
        <div id="owl-partner" class="owl-carousel owl-theme">
          {% for i in (1..4) %}
          {% capture show_slide %}results_partner_{{ i }}{% endcapture %}
          {% capture image %}results_partner_{{ i }}.png{% endcapture %}
          {% capture image_mobile %}results_partner_img_480_{{ i }}.png{% endcapture %}
          {% if settings[show_slide] %}
          <div class="item-before">
            <img class="img-fans1 show-750-up lazyOwl" src="{{ image | asset_url }}" alt/>
            <img class="img-fans1 show-480 lazyOwl" src="{{ image_mobile | asset_url }}" alt/>
          </div>
          {% endif %}
          {% endfor %}  
        </div>
        <p class="small-text text-center">Demonstrated to be highly effective on stretch marks, scars,
          <span>keloids, fine lines, and wrinkles</span></p>
      </div>
    </div>
  </div>
</div>
<script> 
  $(document).ready(function(){
    $("#owl-partner").owlCarousel({

      //  autoPlay: 3000, //Set AutoPlay to 3 seconds
      items:1,
      loop:true,
      autoplay:true,
      autoplayTimeout:2000,
      navigation: true,
      pagination:true,
      itemsDesktop       :  [ 1199 , 1 ],
      itemsDesktopSmall     : [979,1],
      itemsTablet       : [768, 1],
      itemsMobile       : [479, 1],
      slideSpeed : 1000,
      autoplayHoverPause:true

    });
  });
</script>
<style>
  #partner-results .item-before p {
    margin: 15px 0 0;
    font-size: 14px;
    line-height: 20px;
  }

  #partner-results .item-before{
    text-align: center;
  }
  #partner-results h2{
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    color: #444037;
    font-family: "Crimson Text",serif;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 49px;
    padding: 30px 0;
    text-align: center;
    text-transform: none;
  }
  #partner-results .owl-buttons div{
    background-color: transparent;
    background-image: url({{ 'arrow_right.png' | asset_url }});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    height: 45px;
    width: 35px;
    margin: 0;
    opacity: 0.85;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 32%;
  }
  #partner-results .owl-buttons div.owl-prev{
    left: -60px;
    transform: rotate(180deg);
  }
  #partner-results .owl-buttons div.owl-next{
    right: -60px;
  }
  #partner-results .owl-pagination .owl-page{
    border: 1px solid #bebebe;
    border-radius: 20px;
    margin: 0 8px;
    padding: 2px;
  }
  #partner-results .owl-pagination .owl-page.active span{
    background: #ff4365 none repeat scroll 0 0;
  }
  #partner-results .owl-pagination .owl-page span{
    background: transparent none repeat scroll 0 0;
    height: 9px;
    margin: 0;
    padding: 0;
    width: 9px;
  }
  #partner-results .owl-controls{
    margin-bottom: 50px !important; 
    margin-top: 20px !important;
  }


</style>