{% if plus_cart_discount_code %}
<script type="text/javascript">
  /***** DIRRECT COUPON CODE TO CHECKOUT PAGE *****/
  (function($) {
    $(document).on('page:load page:change', function () {  
      if (localStorage.getItem('storedDiscount')){  
        var discountStored = localStorage.getItem('storedDiscount');   
        $('input[name="discount"]').val(localStorage.getItem('storedDiscount'));
      }  
      $('form[action="/cart"]').on('submit', function(){ 
        var $discountCode = $('input[name="discount"]').val(); 
        localStorage.setItem('storedDiscount', $discountCode);  
      }); 
    });
  })(jQuery);

  /***** SAVING COUPON CODE AFTER REFESH PAGE *****/
  $(document).ready(function(){
    var coupon_code =  $.cookie('coupon_code'); 
    if(coupon_code != undefined){
      $('.discount-code-field input').val(coupon_code);
    }
    $('.discount-code-field input').on('change',function(){
      $.cookie("coupon_code",$('.discount-code-field input').val(), { expires: 0.042, path: '/' });
    });
  });

  /***** APPLY COUPON CODE *****/
  function expireOfCoupon(){
    var left_coupons =  $.cookie('left_coupons');
    if(left_coupons == undefined){
      left_coupons = 30;
    }    
    left_coupons = parseInt(left_coupons);
    var random_number = Math.round((5-1) * Math.random() + 1);
    left_coupons = left_coupons - random_number;    
    if(left_coupons < 1){left_coupons = 1;}    
    $.cookie("left_coupons", left_coupons, { expires: 30, path: '/' });
    $('.discount-code-field .error-messager').html(left_coupons+' discount codes left');
    $('.discount-code-field .error-messager').show();
  }
  function apply_discount_code(){
    var cart_total_price = '<span class="wh-original-cart-total"><span class='wh-original-price'>{{ cart.total_price | money }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div>';
    var discount_code = $('.discount-code-field input').val();
    if(discount_code!=''){
      $.getJSON('//www.powdabox.com/shopify/discounts/?code='+discount_code+'&site=dermaclara', function(data) {
        if(data.status=='error'){
          $('.discount-code-field .error-messager').html(data.message);
          $('.discount-code-field .error-messager').show();
          $('.estimated-discount').hide();
          $('.estimated .total-all').html(cart_total_price);
        }else{
          $('.discount-code-field .error-messager').hide();
          var type = data.type;
          var value = data.value;
          var minimum_order_amount = data.minimum_order_amount;
          var applies_once_per_customer = data.applies_once_per_customer;
          var applies_to_resource = data.applies_to_resource;
          if(applies_to_resource == null){
            $.getJSON("/cart.js", function (results) {
              var apply = true;
              if(minimum_order_amount != 0.00){
                if(minimum_order_amount*100 < results.total_price){
                  var apply = false;
                }
              }
              if(apply){
                var total_price = results.total_price;
                if(type=='percentage'){
                  var saleoff_price = total_price / 100 * value;
                  var saleoff_price_string = saleoff_price.toString();
                  saleoff_price_string = saleoff_price_string.split('.')
                  saleoff_price = parseInt(saleoff_price_string[0]);
                  var new_total_price = total_price - saleoff_price;
                  new_total_price = Shopify.formatMoney(new_total_price, "");
                  saleoff_price = Shopify.formatMoney(saleoff_price, "");
                  $('.estimated-discount').show();
                  expireOfCoupon();
                  $('.estimated-discount .total_discount_money').html('- '+saleoff_price);
                  $('.estimated .total-all').html(new_total_price);
                }
                else if(type=='fixed_amount'){
                  var saleoff_price = value*100;
                  var new_total_price = total_price - saleoff_price;
                  new_total_price = Shopify.formatMoney(new_total_price, "");
                  saleoff_price = Shopify.formatMoney(saleoff_price, "");
                  $('.estimated-discount').show();
                  expireOfCoupon();
                  $('.estimated-discount .total_discount_money').html('- '+saleoff_price);
                  $('.estimated .total-all').html(new_total_price);
                }
                else{
                }
              }
            });
          }
          else if(applies_to_resource == 'product'){
            var product_id = data.product_id;
            var applies_once = data.applies_once;
            var apply = false;
            var qtt = 1;
            var total_price = 0;
            var total_product_price = 0;
            $.getJSON("/cart.js", function (results) {
              total_price = results.total_price;
              $.each(results.items, function (i, item) {
                if(item.product_id == parseInt(product_id)){
                  apply = true;
                  qtt = item.quantity;
                  total_product_price = item.line_price;
                }
              });
              if(apply){
                if(type=='percentage'){
                  var saleoff_price = total_product_price / 100 * value;
                  var saleoff_price_string = saleoff_price.toString();
                  saleoff_price_string = saleoff_price_string.split('.')
                  saleoff_price = parseInt(saleoff_price_string[0]);                  
                  var new_total_price = total_price - saleoff_price;
                  new_total_price = Shopify.formatMoney(new_total_price, "");
                  saleoff_price = Shopify.formatMoney(saleoff_price, "");
                  $('.estimated-discount').show();
                  expireOfCoupon();
                  $('.estimated-discount .total_discount_money').html('- '+saleoff_price);
                  $('.estimated .total-all').html(new_total_price);
                }
                else if(type=='fixed_amount'){
                  if(applies_once){
                    var saleoff_price = value*100;
                    var new_total_price = total_price - saleoff_price;
                  }
                  else{
                    var saleoff_price = value*100 * qtt;
                    var new_total_price = total_price - saleoff_price;
                  }
                  new_total_price = Shopify.formatMoney(new_total_price, "");
                  saleoff_price = Shopify.formatMoney(saleoff_price, "");
                  $('.estimated-discount').show();
                  expireOfCoupon();
                  $('.estimated-discount .total_discount_money').html('- '+saleoff_price);
                  $('.estimated .total-all').html(new_total_price);
                }
              }
              else{
                $('.estimated .total-all').html(cart_total_price);
                $('.discount-code-field .error-messager').html('Your cart does not meet the requirements for the '+discount_code+' discount code');
                $('.discount-code-field .error-messager').show();
                $('.estimated-discount').hide();
              }
            });           
          }
        }
      });
    }
    else{
      $('.discount-code-field .error-messager').hide();
      $('.estimated-discount').hide();
      $('.estimated .total-all').html(cart_total_price);
    }
  }
  $(document).ready(function(){
    $('.discount-code-field button').click(function(e){
      e.preventDefault();
      apply_discount_code();
    });
    $(document).ready(function(){
      apply_discount_code();
    });
    setInterval(function(){
      if($(".discount-code-field input").val() != '' ){
        $(".discount-code-field button").addClass('active');
      }else{
        $(".discount-code-field button").removeClass('active');
      }
    }, 500);
  });
</script> 
<div class="discount-code-field"> 
  <label>Have a <span>promotional code?</span></label>
  <input autocomplete="off" type="text" placeholder="" name="discount" /> 
  <span class="error-messager" style="display:none;"></span>
  <button>Apply</button>
</div>
{% endif %}