<a class="open-popup-net" href="#pop-up-design"></a>
<div class="hidden">
<div id="pop-up-design">
  <h2 class="title-pop">Thank you, your request has been received</h2>
  <p class="content-pop">Thanks for submitting your request to join the Dermaclara Partner Program.<br> One of our representatives will contact you soon to discuss your needs and a potential partnership. </p>
</div>
</div>
<!-- Facebook Pixel Code -->

<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1019167238201245&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script>
  $(document).ready(function(){

    $('.open-popup-net').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      closeBtnInside: true,
      preloader: false,
      midClick: true,
    });
  });
</script>
<style>
  #pop-up-design{
    background-color: #fff;
    padding: 4% 2%;
    max-width: 810px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
     margin: 0 auto;
     position: relative;
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
  }
  #pop-up-design h2{
    color: #444037;
    font-family: "Crimson Text",serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom:40px;

  }
  #pop-up-design p{
    font-family: "Crimson Text",serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom:20px;
  }
</style>