{% for product in collections.all.products %}
{% unless product.handle contains '-kit' %}
<div id="popup-product-{{product.id}}" class="container popup-product zoom-anim-dialog mfp-hide">
  <div class="row">
    <div class="prod-details tablet-mb-show col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h1 class="">{{product.metafields.featured.text}}</h1>
      <h3 class="">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="prod-image col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-6">
      <img class="hmak-lazy" hmak-src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
    <div id="product-detail" class="prod-detail-{{product.id}} prod-details prod-details-bt col-lg-6 col-md-6 col-xs-12 col-sm-6">
      <h1 class="desktop-show">{{product.metafields.featured.text}}</h1>
      <h3 class="desktop-show">{{ product.title }}<span>{{ product.metafields.custom_fields["product_title_eyebrow"] }}</span></h3>
      <div class="description">{{ product.description }}</div>
    </div>
  </div>
</div>
{% endunless %}
{% endfor %}

<a class="open-popup-extra-product open-popup-extra-product " href="#popup-extra-product"></a>
<a class="open-popup-extra-product open-popup-extra-product-2" href="#popup-extra-product-2"></a>


<div id="popup-notify-me" class="container zoom-anim-dialog mfp-hide">
  <h3>We’ll notify you when <span id="title_product_popup">it</span> is available again.</h3>
  <input type="hidden" id="sku_product_popup" value="">
  {% if settings.newsletter_form_action != blank %}
  {% assign form_action = settings.newsletter_form_action %}
  {% else %}
  {% assign form_action = '#' %}
  {% endif %}
  <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
    {%comment%}<input type="submit" class="btn" name="subscribe" id="subscribe" value="NOTIFY ME">{%endcomment%}
    <button class="subscribe-submit btn" type="button">NOTIFY ME</button>
  </form>

  <span id="success_message" style="display:none;">
    <div style="text-align:center;">Thanks for signing up!</div>
  </span>

  <script type='text/javascript'>

    function isValidEmailAddress(emailAddress) {
      var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      return pattern.test(emailAddress);
    };

    $(document).ready(function(){
      $('#mc-embedded-subscribe-form .subscribe-submit').click(function(){

        var email = $('#mc-embedded-subscribe-form #mail').val();
        var checkEmail = isValidEmailAddress( email );

        if( checkEmail == false ) { 
          $('#success_message').show();
          $('#success_message div').html('Please enter a valid email address!');
        } else {
          var name_sku = $('#sku_product_popup').val();
          $.getJSON('//www.powdabox.com/shopify/firecart/?email='+email+'&name='+name_sku+'&site=dermaclara-out-of-stock', function(data) {
            if(data.status=='SUCCESS'){
              $('#success_message').show();
              $('#success_message div').html('Thanks for signing up!');              
            }
            else{
              $('#success_message').show();
              $('#success_message div').html('Error!');
            }
          });
        }
      });
    });
  </script>
</div>

<div id="popup-extra-product" class="container zoom-anim-dialog mfp-hide">
  {% assign has_extra_product = false %}
  {% for item in cart.items %}
  {% if item.product.handle == 'extra-clarafuse' and item.quantity == 6 %}{% assign has_extra_product = true %}{% endif %}
  {% endfor %}
  {% if has_extra_product %}
  {% assign extra_product = all_products.clarafuse-1 %}
  {% else %}
  {% assign extra_product = all_products.extra-clarafuse %}
  {% endif %}

  <h1 class="">SPECIAL OFFER</h1>
  {%comment%}<p class="des">Add extra <span class="title">{{ extra_product.title }}</span> to your order and get <span>{{extra_product.compare_at_price | minus:extra_product.price | money | remove:".00"}} OFF</span> each!</p>{%endcomment%}
  {% if has_extra_product %}
  <p class="des">Get an additional <span class="title">{{ extra_product.title }}</span> for only <span>{{extra_product.price|money|remove:".00"}}</span></p>
  {% else %}
  <p class="des">Add additional <span class="title">{{ extra_product.title }}</span> to your order for just <span>{{extra_product.price|money|remove:".00"}}</span>!</p>
  {% endif %}

  <div class="product-detail">
    <img class="hmak-lazy" hmak-src="{{ extra_product.featured_image.src | img_url: 'grande' }}" alt="{{ extra_product.featured_image.alt | escape }}">
    <h1 class="title">{{extra_product.title|downcase}}</h1>

    {% if has_extra_product %}
    <span class="price" style="color:#000;font-weight: 500;">{{extra_product.price|money|remove:".00"}}</span>
    {% else %}
    <span class="compare-price">{{extra_product.compare_at_price|money}}</span>
    <span class="price">{{extra_product.price|money}}</span>
    {% endif %}

    <div class="quality-cart-wrapp">
      <div class="quality-wrapp" style="display:none;">
        <input type='hidden' value='{{extra_product.variants.first.id}}' class='variant-id' />
        <span class="qtyminus">-</span>
        <input type='text' value='1' class='qty' />
        <span class="qtyplus">+</span>
      </div>
      <div class="cart-wrapp">
        <input type='button' value='ADD TO CART' class='btn add-extra-product-to-cart' />
      </div>
      <p class="response-message hidden" style="display:none;">Added to cart! View <a href="/cart">cart</a>.</p>

    </div>
    <a class="no-thanks" href="javascript:void(0)">No thanks.</a>
    {% unless has_extra_product %}<p class="idont-want">I don't want to save {{extra_product.compare_at_price|minus:extra_product.price|money}} on <i>{{extra_product.title|downcase}}</i></p>{% endunless %}
  </div>
</div>

<div id="popup-extra-product-2" class="container zoom-anim-dialog mfp-hide">
  {% assign has_extra_product = false %}
  {% for item in cart.items %}
  {% if item.product.handle == 'extra-claraprep'%}{% assign has_extra_product = true %}{% endif %}
  {% endfor %}
  {% if has_extra_product %}
  {% assign extra_product = all_products.extra-claraprep %}
  {% else %}
  {% assign extra_product = all_products.extra-claraprep %}
  {% endif %}


  {% if has_extra_product %}
  <p class="des">Add the superior cleansing <br>power of <span class="title">claraprep</span> to your daily<br>routine for just <span>{{extra_product.price|money|remove:".00"}}</span></p>

  {% else %}
  <p class="des">Add the superior cleansing <br>power of <span class="title">claraprep </span>to your daily<br>routine for just<span> {{extra_product.price|money|remove:".00"}}</span></p>
  {% endif %}

  <div class="product-detail">
    <img class="hmak-lazy" hmak-src="{{ extra_product.featured_image.src | img_url: 'grande' }}" alt="{{ extra_product.featured_image.alt | escape }}">


    {% if has_extra_product %}
    <span class="price" style="color:#000;font-weight: 500;">{{extra_product.price|money|remove:".00"}}</span>
    {% else %}
    <span class="compare-price">{{extra_product.compare_at_price|money|remove:".00"}}</span>
    <span class="price">{{extra_product.price|money}}</span>
    {% endif %}

    <div class="quality-cart-wrapp">
      <div class="quality-wrapp" style="display:none;">
        <input type='hidden' value='{{extra_product.variants.first.id}}' class='variant-id' />
        <span class="qtyminus">-</span>
        <input type='text' value='1' class='qty' />
        <span class="qtyplus">+</span>
      </div>
      <div class="cart-wrapp">
        <input type='button' value='ADD TO CART' class='btn add-extra-product-to-cart' />
      </div>
      <p class="response-message hidden" style="display:none;">Added to cart! View <a href="/cart">cart</a>.</p>

    </div>
    <a class="no-thanks" href="/cart">No thanks.</a>
    {% unless has_extra_product %}<p class="idont-want">I don't want to save 30% on <i>{{extra_product.title|downcase}}</i></p>{% endunless %}
    {%comment%}
    {% unless has_extra_product %}<p class="idont-want">I don't want to save {{extra_product.compare_at_price|minus:extra_product.price|money}} on <i>{{extra_product.title|downcase}}</i></p>{% endunless %}
    {%endcomment%}
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#popup-extra-product .qtyplus').click(function(e){
      var currentVal = parseInt($('#popup-extra-product .qty').val());
      if (!isNaN(currentVal)) {
        $('#popup-extra-product .qty').val(currentVal + 1);
      } else {
        $('#popup-extra-product .qty').val(1);
      }
    });

    $('#popup-extra-product-2 .qtyplus').click(function(e){
      var currentVal = parseInt($('#popup-extra-product-2 .qty').val());
      if (!isNaN(currentVal)) {
        $('#popup-extra-product-2 .qty').val(currentVal + 1);
      } else {
        $('#popup-extra-product-2 .qty').val(1);
      }
    });


    $('#popup-extra-product .qtyminus').click(function(e){
      var currentVal = parseInt($('#popup-extra-product .qty').val());
      if (!isNaN(currentVal) && currentVal > 1) {
        $('#popup-extra-product .qty').val(currentVal - 1);
      } else {
        $('#popup-extra-product .qty').val(1);
      }
    });
    $('#popup-extra-product-2 .qtyminus').click(function(e){
      var currentVal = parseInt($('#popup-extra-product-2 .qty').val());
      if (!isNaN(currentVal) && currentVal > 1) {
        $('#popup-extra-product-2 .qty').val(currentVal - 1);
      } else {
        $('#popup-extra-product-2 .qty').val(1);
      }
    });

    $('#popup-extra-product .no-thanks').click(function(e){
      $('#popup-extra-product .mfp-close').trigger('click');
      setTimeout(function(){ $('.open-popup-extra-product-2').trigger('click'); }, 750);
    }); 


    $('#popup-extra-product .add-extra-product-to-cart').click(function(e){
      var qty = parseInt($('#popup-extra-product .qty').val());
      var variant_id = parseInt($('#popup-extra-product .variant-id').val());
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data:	{quantity: qty, id: variant_id},
        dataType: 'json',
        error: addToCartFail,
        success: function(){
          $('#popup-extra-product .mfp-close').trigger('click');
          setTimeout(function(){ $('.open-popup-extra-product-2').trigger('click'); }, 750);          
        }
      });
    });


    $('#popup-extra-product-2 .add-extra-product-to-cart').click(function(e){

      var qty = parseInt($('#popup-extra-product-2 .qty').val());
      var variant_id = parseInt($('#popup-extra-product-2 .variant-id').val());
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data:	{quantity: qty, id: variant_id},
        dataType: 'json',
        error: addToCartFail,
        success: function(){
          $('#popup-extra-product-2 .mfp-close').trigger('click');
          setTimeout(function(){ window.location.href = "/cart"; }, 750);          
        }
      });
    });



    $('.open-popup-extra-product').magnificPopup({
      type: 'inline',
      fixedContentPos: true,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in',
      callbacks: {
        open: function() {
          $.magnificPopup.instance.close = function () {            
            setTimeout(function(){
              $('.open-popup-extra-product-2').trigger('click');
            }, 750);
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });

    $('.open-popup-extra-product-2').magnificPopup({
      type: 'inline',
      fixedContentPos: true,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in',
      callbacks: {
        open: function() {
          $.magnificPopup.instance.close = function () {
            window.location.href="/cart";
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });


    $('.notify-me-popup,.notify-me').magnificPopup({
      type: 'inline',
      fixedContentPos: true,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in',
      callbacks: {
        open: function() {
          $.magnificPopup.instance.close = function () {
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });

  });
</script>


<style>
  #popup-extra-product-2{
    background-position: top center;
    background-image: url({{ 'bg_pop.png' | asset_url }});
    border: 1px solid #ddd;
    display: inline-block;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 745px;
  }
  #popup-extra-product,
  #popup-notify-me {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    text-align: center;
    max-width: 745px;
  }

  #popup-extra-product h1 {
    margin: 5px 0 10px;
    color: #ff4365;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 7px;
    font-family: 'Open sans',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

  #popup-extra-product p.des {
    color: #1d1d25;
    font-size: 28px;
    line-height: 35px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 0 20%;
    margin: 0 0 15px;
  }
  #popup-extra-product-2 p.des {
    color: #91908c;
    font-size: 28px;
    line-height: 35px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 14px;
    margin: 0 20%;
    background: rgba(255,255,255,0.5);
  }
  #popup-extra-product-2 p.des span{
    color: #ff4365;
    text-transform: uppercase;
  }
  #popup-extra-product p.des span{
    color: #ff4365;
    text-transform: uppercase;
  }

  #popup-extra-product p.des span.title{
    font-style: italic;
    color: #1d1d25;
    text-transform: lowercase;
  }
  #popup-extra-product-2 p.des span.title{
    font-style: italic;
    color: #91908c;
    text-transform: lowercase;
  }

  #popup-extra-product .product-detail {

  }

  #popup-extra-product .product-detail img {
    display: block;
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
  }


  #popup-extra-product-2 .product-detail img {
    display: block;
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
  }
  #popup-extra-product p.response-message {
    margin: 10px 0 0;
  }

  #popup-extra-product .product-detail h1.title {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 30px;
    line-height: 40px;
    color: #1d1d25;
    font-style: italic;
    font-weight: 600;
    margin: 0;
  }

  #popup-extra-product .product-detail span.price,
  #popup-extra-product-2 .product-detail span.price{
    color: #ee3e49;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
  }

  #popup-extra-product .product-detail span.compare-price{
    color: #91908c;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    position: relative;
  }
  #popup-extra-product-2 .product-detail span.compare-price{
    color: #91908c;
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    position: relative;
  }

  #popup-extra-product .product-detail span.compare-price:before{
    content: "";
    width: 76px;
    height: 2px;
    background: #333;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: rotate(6deg) translate(-50%, -50%);
    -moz-transform: rotate(6deg) translate(-50%, -50%);
    -o-transform: rotate(6deg) translate(-50%, -50%);
    -ms-transform: rotate(6deg) translate(-50%, -50%);
    transform: rotate(6deg) translate(-50%, -50%);
  }
  #popup-extra-product-2 .product-detail span.compare-price:before{
    /* content: "";
    width: 50px;
    height: 2px;
    background: #333;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: rotate(6deg) translate(-50%, -50%);
    -moz-transform: rotate(6deg) translate(-50%, -50%);
    -o-transform: rotate(6deg) translate(-50%, -50%);
    -ms-transform: rotate(6deg) translate(-50%, -50%);
    transform: rotate(6deg) translate(-50%, -50%);*/
  }

  #popup-extra-product .product-detail .quality-cart-wrapp,
  #popup-extra-product-2 .product-detail .quality-cart-wrapp{
    margin: 20px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  #popup-extra-product .product-detail .quality-wrapp,
  #popup-extra-product-2 .product-detail .quality-wrapp{
    display: inline-block;
    width: 67px;
    position: relative;
    vertical-align: middle;
  }

  #popup-extra-product .product-detail .quality-wrapp input.qty {
    margin: 0;
    border: 1px solid #848484;
    text-align: center;
    padding: 0 5px;
    height: 40px;
    font-size: 24px;
    text-indent: -16px;
  }

  #popup-extra-product .product-detail .quality-wrapp span.qtyminus {
    padding: 0;
    width: 18px;
    border: 1px solid #848484;
    background: transparent;
    height: 20.5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    line-height: 18px;
    font-size: 34px;
    display: inline-block;
    font-family: initial;
    overflow: hidden;
    text-indent: -99999px;
    cursor: pointer;
  }

  #popup-extra-product .product-detail .quality-wrapp span.qtyminus:before {
    content: "";
    width: 10px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }

  #popup-extra-product .product-detail .quality-wrapp span.qtyplus,
  #popup-extra-product-2 .product-detail .quality-wrapp span.qtyplus{
    padding: 0;
    width: 18px;
    border: 1px solid #848484;
    background: transparent;
    height: 20.5px;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    line-height: 18px;
    font-size: 20px;
    display: inline-block;
    font-family: initial;
    cursor: pointer;
  }

  #popup-extra-product .product-detail .cart-wrapp,
  #popup-extra-product-2 .product-detail .cart-wrapp{
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 225px;
  }
  #popup-extra-product-2 .product-detail .cart-wrapp input.btn{
    color: #fff;
    opacity: 1;
    max-width: 225px;
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    background: #c8a557; /* Old browsers */
    background: -moz-linear-gradient(top,  #c8a557 0%, #ab8d4a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c8a557 0%,#ab8d4a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c8a557 0%,#ab8d4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8a557', endColorstr='#ab8d4a',GradientType=0 ); /* IE6-9 */
    border: none;
  }
  #popup-extra-product .product-detail .cart-wrapp input.btn{
    color: #fff;
    opacity: 1;
    max-width: 225px;
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    background: #c8a557; /* Old browsers */
    background: -moz-linear-gradient(top,  #c8a557 0%, #ab8d4a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c8a557 0%,#ab8d4a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c8a557 0%,#ab8d4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8a557', endColorstr='#ab8d4a',GradientType=0 ); /* IE6-9 */
    border: none;
  }

  #popup-extra-product .product-detail .cart-wrapp input.btn:hover,
  #popup-extra-product-2 .product-detail .cart-wrapp input.btn:hover{
    background: #1d1d25;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #popup-extra-product .mfp-close,
  #popup-extra-product-2 .mfp-close {
    background-image: url({{ 'close-pop.png' | asset_url }});
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 40px auto;
    height: 40px !important;
    margin: 0;
    text-indent: -99999px;
    width: 40px !important;
    opacity: 1;
    right: 14px!important;
    top: 14px!important;
    display:none;
  }

  #popup-notify-me .mfp-close {
    background-image: url({{ 'close-pop.png' | asset_url }});
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px auto;
    height: 30px !important;
    margin: 0;
    text-indent: -99999px;
    width: 30px !important;
    opacity: 1;
    right: 14px!important;
    top: 14px!important;
  }

  #popup-extra-product .mfp-close:hover,
  #popup-extra-product-2 .mfp-close:hover{
    background-position: 0 -40px;
  }

  #popup-notify-me .mfp-close:hover {
    background-position: 0 -30px;
  }

  #popup-extra-product a.no-thanks,
  #popup-extra-product-2 a.no-thanks{
    color: #91908c;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.25px;
    text-decoration: underline;
    line-height: 26px;
  }

  #popup-extra-product a.no-thanks:hover ,
  #popup-extra-product-2 a.no-thanks:hover {
    color: #c8a557;
  }

  #popup-extra-product p.idont-want {
    color: #91908c;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.25px;
    line-height: 26px;
  }

  .popup-product {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 20px auto;
    padding: 20px 30px 40px;
    position: relative;
    text-align: left;
  }

  .popup-product #product-detail h1 {
    display: none;
  }

  .popup-product #product-detail h3 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin: 40px 0 20px;
    text-transform: lowercase;
    width: 100%;
    z-index: 4;
    letter-spacing: 0;
  }

  .popup-product #product-detail h3 span {
    color: #666;
    display: block;
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0 0;
    letter-spacing: 0.25px;
  }

  .popup-product #product-detail table,
  .popup-product #product-detail body,
  .popup-product #product-detail tr,
  .popup-product #product-detail td {
    border: none;
  }

  .popup-product #product-detail h4 {
    color: #353535;
    display: inline-block;
    font-family: "Crimson Text",serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 20px 0;
    width: 100%;
  }

  .popup-product #product-detail p {
    color: #696969;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 0;
    width: 100%;
  }
  .open-popup-product,
  .open-popup-product:hover,
  .open-popup-product:visited,
  .open-popup-product:active{
    color:#000;
    text-decoration: underline;
  }
</style>