
<a class="open-popup-extra-product" href="#popup-extra-product"><label style="display:none;">open-popup</label></a>

<div id="popup-extra-product" class="{{loop_product.variants.first.id}} popup-extra-product zoom-anim-dialog mfp-hide">

  <div class="outside">
    <h2>Want a special deal?</h2>
    <!-- <h4>Bundle and <span>SAVE</span> <span class="sup-sub"><sup>UP</sup><sub>TO</sub>30%</span></h4>-->
  </div>

  <div class="inside" style="display: inline-block;" >
    <div class="header-upsell">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="check-box-wrapp">
          <label class="checkcontainer">
            <input class="tag-item" type="checkbox" name="" value="" checked disabled="disabled">
            <span class="tag-name">JUST ADDED TO YOUR CART</span>
            <span class="radiobtn"></span>
          </label>
        </div>
        <div class="wrap-item-added main">

          {% for product in collections.all-package-for-upsell.products %}
          {% include 'product-grid-item-added' , exist_pack: true %}
          {% endfor %}

        </div>

        <div class="wrap-item-added upsell">
          {% for product in collections.all-upsell.products %}
          {% include 'product-grid-item-added' %}
          {% endfor %}
        </div>
      </div>
      <div class="right-pop col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h5>CART SUBTOTAL: <span id="cart_total_with_upsell">{{ cart.total_price | money }}</span></h5>
        <a class="btn checkout-recharge" href="/cart">Checkout</a>
      </div>
    </div>
    <div class="content-upsell">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Bundle and Save</h3>
        <div class="wrap-item-upsell">
          {% for product in collections.all-upsell.products %}
          {% include 'product-grid-item-upsell' %}
          {% endfor %}
        </div>

        {% comment %}
        <div style="display:none;" class="wrap-image-loading">
          <img style="display:block;max-width: 100%;margin: 20px auto;" class="loading_image" src="{{ 'AjaxLoader.gif' | asset_url }}" alt="Loading">
        </div>
        <a class="show-more">Show me more products</a>
        {% endcomment %}

      </div>
    </div>
  </div>

</div>
<style>

  .dk-hidden{
    display:none;
  }
  .mfp-bg, .mfp-container {
    background-color: #ddd;
  }
  .mfp-content #popup-extra-product .mfp-close {
    display: none!important;
  }
  .popup-extra-product {
    background: transparent;
    padding: 12px;
    text-align: center;
    max-width: 1100px;
    margin: 40px auto;
    position: relative;
  }
  .popup-extra-product .outside h2 {
    font-size: 60px;
    line-height: 70px;
    margin: 0 0 20px;
    letter-spacing: 0.25px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }
  .popup-extra-product .outside h4 span {
    color: #E38065;
  }
  .popup-extra-product .outside h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 58px;
    margin: 20px 0 40px;
    letter-spacing: 0;
  }
  .popup-extra-product .outside h4 span.sup-sub {
    position: relative;
    padding-left: 0.6em;
  }
  .popup-extra-product .outside h4 span.sup-sub sup {
    font-size: 0.42em;
    line-height: 1em;
    left: -2px;
    right: auto;
    top: 0.9em;
    position: absolute;
  }
  .popup-extra-product .outside h4 span.sup-sub sub {
    font-size: 0.4em;
    line-height: 1em;
    left: -2px;
    right: auto;
    position: absolute;
    top: 2.05em;
  }
  .popup-extra-product .inside {
    padding: 0;
    background: #fff;
    width: 100%;
  }
  .popup-extra-product .inside .header-upsell {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    background: #f5f5f5;
    padding: 15px 50px;
  }
  .popup-extra-product .inside .header-upsell .check-box-wrapp {
    text-align: left;
  }
  .popup-extra-product .inside .header-upsell .check-box-wrapp input {
    margin: 0;
  }
  .popup-extra-product .inside .header-upsell .check-box-wrapp span {
    color: #111111;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 400;
    margin-left: 10px;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added {
    text-align: left;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos {
    margin: 15px 0;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos img {
    display: inline-block;
    vertical-align: middle;
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-right: 15px;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 0px;
    font-size: 26px;
    line-height: 30px;
    max-width: 280px;
    width: 100%;
    border-right: 2px solid #000;
    margin-right: 10px;
    width: 50%;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos span {
    display: inline-block;
    margin: 0;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w {
    display: inline-block;
    vertical-align: middle;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span.line {

  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell {
    font-size: 20px;
    line-height: 30px;
    color: #878585;
    font-weight: normal;
    letter-spacing: 0.5px;
    position:relative;
    margin-right:5px;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span.price {
    font-size: 20px;
    line-height: 30px;
    color: #878585;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .popup-extra-product .inside .header-upsell .right-pop {
    text-align: right;
  }
  .popup-extra-product .inside .header-upsell .right-pop h5 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #878585;
    margin: 0 0 30px;
  }
  .popup-extra-product .inside .header-upsell .right-pop a.btn {
    font-size: 14px;
    letter-spacing: 2px;
    max-width: 170px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    font-weight: normal;
    float: right;
  }
  .popup-extra-product .inside .header-upsell .right-pop a.btn:hover {
    background: #fff;
    color: #000;
  }
  .content-upsell {
    display: inline-block;
    width: 100%;
  }
  .content-upsell h3 {
    text-align: left;
    margin: 30px 0 10px;
    padding: 0 50px;
    font-size: 40px;
    line-height: 50px;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .content-upsell .wrap-item-upsell {
    padding: 0 50px;
    display: inline-block;
    width: 100%;
  }
  .content-upsell .wrap-item-upsell .list-pr-wrapp {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #c3c2c2;
    padding: 20px 0;
    margin: 0;
  }
  .content-upsell .wrap-item-upsell .product-image {
    margin: 0;
  }
  .content-upsell .wrap-item-upsell .product-image img {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .content-upsell .ct-pop h3 {
    text-align: left;
    padding: 0;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
  .content-upsell .ct-pop p {

  }
  .content-upsell .ct-pop .product-single__prices {

  }
  .content-upsell .ct-pop .product-single__prices .product-single__sale-price {
    margin: 0;
  }
  .content-upsell .ct-pop .product-single__prices span#ComparePrice-upsell {
    font-size: 20px;
    line-height: 30px;
    color: #878585;
    font-weight: normal;
    letter-spacing: 0.5px;
    position: relative;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell:after,
  .content-upsell .ct-pop .product-single__prices span#ComparePrice-upsell:after {
    margin: 0 auto;
    content: "";
    width: 111%;
    height: 2px;
    background: #E38065;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .content-upsell .ct-pop .product-single__prices #ProductPrice-upsell {
    font-size: 20px;
    line-height: 34px;
    color: #E38065;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .content-upsell .ct-pop .product-single__prices #ProductPrice-upsell span {
    font-size: 16px;
    color: #878585;
    font-weight: 400;
  }
  .content-upsell #AddToCart {
    max-width: 165px;
    height: 50px;
    line-height: 52px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    margin-top: 42%;
    float: right;
  }
  .content-upsell #AddToCart:hover {
    background: #000;
    color: #fff;
  }
  .cart-w-pop {
    text-align: right;
  }
  .content-upsell a.show-more {
    text-transform: uppercase;
    color: #878585;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
  }
  .content-upsell a.show-more i {
    font-size: 18px;
    margin-left: 15px;
  }
  .content-upsell a.show-more:hover {
    color: #000;
  }

  .popup-extra-product .inside h1 {
    color: #d0a547;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  .popup-extra-product .inside p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    margin: 0 0 20px;
    padding: 0;
    font-weight: 400;
    color: #878585;
  }

  .popup-extra-product .inside h2 .price,
  .popup-extra-product .inside p .price {
    color: #d0a547;
    font-weight: 500;
  }

  .popup-extra-product .inside p .price-des {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.75px;
  }

  .popup-extra-product .inside p span{
    position: relative;
    margin-right: 15px;
  }

  .popup-extra-product .inside p span i{
    position: absolute;
    font-size: 10px;
    padding: 0 10px;
    top: -6px;
    right: -22px;
  }

  .popup-extra-product .inside img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  .popup-extra-product .inside h2 {
    font-size: 26px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 0;
  }

  .popup-extra-product .product-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 25px;
  }

  .popup-extra-product .product-description h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
  }

  .popup-extra-product .product-description p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 35px;
    letter-spacing: 1px;
  }

  .popup-extra-product .cart-wrapp .quality-wrapp {
    /* display: inline-block; */
    display: none;
    width: 70px;
    position: relative;
    vertical-align: middle;
    margin: 0 15px;
  }

  .popup-extra-product .cart-wrapp .quality-wrapp input {
    border: 1px solid #848484;
    border-radius: 0;
    font-size: 22px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin: 0;
  }

  .popup-extra-product .cart-wrapp .quality-wrapp span {
    cursor: pointer;
  }

  .popup-extra-product .cart-wrapp .quality-wrapp span.qtyminus {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    border: 1px solid #848484;
    height: 20px;
    line-height: 11px;
    font-size: 30px;
  }

  .popup-extra-product .cart-wrapp .quality-wrapp span.qtyplus {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    border: 1px solid #848484;
    height: 20px;
    font-size: 19px;
    font-weight: 600;
    line-height: 16px;
  }

  .popup-extra-product .cart-wrapp-in {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    max-width: 226px;
    width: 100%;
  }

  .popup-extra-product .cart-wrapp-in input {
    width: 100%;
    max-width: 100%;
    height: 48px;
    line-height: 46px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .popup-extra-product .cart-wrapp-in input:hover {
    background:#000000;
    color:#fff;
  }

  .popup-extra-product .cart-wrapp-in input.boxers {
    height: 52px;
    margin-top: -10px;
  }

  .popup-extra-product a.no-thanks {
    margin: 20px auto 0;
    /* display: inline-block;*/
    display:block;
    color: #91908c;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
  }

  .popup-extra-product a.no-thanks:hover {
    color: #d0a547;
  }

  .popup-extra-product p.idont-want {
    margin: 0 auto 0;
    display: block;
    color: #91908c;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 18px;
  }

  .wrap-item-added.main .price-w #ComparePrice-upsell{
    display:none;
  }

  .cart-wrapp-size .product-single__size select.size-variant{
    max-width: 130px;
    padding-right: 60px;
    text-align: center;
    text-align:-moz-center;
    text-align:-webkit-center;
    text-align-last:center;
    text-align-last:-moz-center;
    text-align-last:-webkit-center;
  }

  .content-upsell a.show-more {
    background-image: url({{ 'dr-arrow.png' | asset_url }});
    background-repeat: no-repeat;
    background-size: 22px 12px;
    background-position: right center;
    padding-right: 38px;
  }
  .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
    padding-right: 15px;
  }
  .check-box-wrapp .checkcontainer {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
  }
  .check-box-wrapp .checkcontainer input {
    position: absolute;
    visibility: hidden;
  }
  .check-box-wrapp .checkcontainer span.radiobtn {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 0;
    background-color: transparent;
    border: 1px solid #E38065;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    margin: 0 !important;
  }
  .check-box-wrapp .checkcontainer input[type="checkbox"]:checked ~ .radiobtn::before {
    content: "";
    background-image: url({{ 'check-icon.png' | asset_url }});
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 14px auto;
    background-position: center center;
  }
  @media only screen and (max-width: 1199px) {
    .popup-extra-product {
      max-width: 920px;
    }
    .popup-extra-product .inside .header-upsell,
    .content-upsell h3,
    .content-upsell .wrap-item-upsell {
      padding-right: 35px;
      padding-left: 35px;
    }
    .popup-extra-product .inside .header-upsell .right-pop h5 {
      margin: 0 0 25px;
    }
  }

  @media only screen and (max-width: 991px) {
    .popup-extra-product {
      max-width: 720px;
    }
    .popup-extra-product .inside .header-upsell,
    .content-upsell h3,
    .content-upsell .wrap-item-upsell {
      padding-right: 5px;
      padding-left: 5px;
    }
    .popup-extra-product .inside .header-upsell .right-pop h5 {
      margin: 0 0 25px;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.75px;
    }

    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
      font-size: 18px;
      padding-right: 10px;
      line-height: 28px;
      width: 42%;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell,
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span.price {
      font-size: 16px;
    }

  }

  @media only screen and (max-width: 767px) {
    .tbcart-head {
      display: none;
    }
    .popup-extra-product .inside .header-upsell {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
      width: 100%;
    }
    .popup-extra-product .outside h2 {
      font-size: 46px;
      line-height: 62px;
    }
    .popup-extra-product .outside h4 {
      font-size: 32px;
      line-height: 38px;
      margin: 10px 0 30px;
    }
    .popup-extra-product .inside .header-upsell .right-pop {
      text-align: left;
      margin-top: 20px;
    }
    .popup-extra-product .inside .header-upsell .right-pop h5 {
      letter-spacing: 0;
      display: inline-block;
      color: #111111;
      font-size: 20px;
      vertical-align: middle;
    }
    .popup-extra-product .inside .header-upsell .right-pop a.btn {
      float: right;
    }
    .content-upsell #AddToCart {
      margin: 0;
    }
    .cart-w-pop .product-single__prices {
      display: inline-block;
      text-align: left;
      float: left;
      margin: 0;
      width: 60%;
    }
    .cart-w-pop .product-single__sale-price {
      margin: 0 0 15px;
    }
    .cart-w-pop .product-single__prices span#ComparePrice-upsell {
      font-size: 22px;
      line-height: 30px;
      color: #878585;
      font-weight: normal;
      letter-spacing: 0.5px;
      position: relative;
    }
    .cart-w-pop .product-single__prices span#ComparePrice-upsell::after {
      margin: 0 auto;
      content: "";
      width: 69px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 46%;
      left: 0;
      right: 0;
      -webkit-transform: rotate(-27deg);
      -moz-transform: rotate(-27deg);
      -o-transform: rotate(-27deg);
      -ms-transform: rotate(-27deg);
      transform: rotate(-27deg);
    }
    .cart-w-pop .product-single__prices #ProductPrice-upsell {
      font-size: 22px;
      line-height: 34px;
      color: #000000;
      font-weight: normal;
      letter-spacing: 0.5px;
    }
    .cart-w-pop .product-single__prices #ProductPrice-upsell span {
      font-size: 0.8em;
      color: #878585;
      font-weight: 400;
    }
    .content-upsell #AddToCart {
      float: right;
      margin-top: 26px;
    }
    .cart-w-pop {
      margin-top: 25px;
      margin-bottom: 20px;
    }
    .content-upsell .wrap-item-upsell {
      border-bottom: 1px solid #c3c2c2;
      margin-bottom: 30px;
    }
    .content-upsell {
      padding-bottom: 35px;
    }

  }

  @media only screen and (max-width: 767px) and (min-width: 640px) {

    /*.content-upsell a.show-more {
    font-size: 30px;
    line-height: 40px;
  }
    .popup-extra-product .inside .header-upsell .right-pop h5 {
    font-size: 26px;
    line-height: 60px;
  }
    .popup-extra-product .inside .header-upsell .right-pop a.btn {
    font-size: 26px;
    letter-spacing: 4px;
    height: 60px;
    line-height: 60px;
  }
    .popup-extra-product .inside .header-upsell .check-box-wrapp span {
    font-size: 26px;
    line-height: 40px;
  }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos img {
    max-width: 100px;
  }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span.price {
    font-size: 20px;
  }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
    font-size: 30px;
  }
    .content-upsell h3.product-single__title {
    font-size: 50px;
    line-height: 55px;
  }
    .popup-extra-product .inside p {
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }*/

  }
  @media only screen and (max-width: 639px) {
    .cart-w-pop .product-single__prices {
      width: 50%;
    }
    .content-upsell .wrap-item-upsell .product-image img {
      max-width: 80%;
      margin: 0 auto;
    }
    .popup-extra-product .outside h2 {
      font-size: 34px;
      line-height: 42px;
    }
    .popup-extra-product .outside h4 {
      font-size: 24px;
      line-height: 28px;
      margin: 5px 0 20px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
      font-size: 16px;
      line-height: 20px;
      width: 45%;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell, .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span.price {
      font-size: 14px;
    }
    .popup-extra-product .inside .header-upsell .right-pop a.btn {
      max-width: 170px;
    }
    .popup-extra-product .inside .header-upsell .right-pop h5 {
      font-size: 15px;
      line-height: 46px;
    }
    .content-upsell h3 {
      margin: 20px 0 10px;
      font-size: 30px;
      line-height: 40px;
    }
    .content-upsell h3.product-single__title {
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 10px;
    }
    .cart-w-pop .product-single__prices span#ComparePrice-upsell::after {
      width: 49px;
    }
    .cart-w-pop .product-single__prices span#ComparePrice-upsell {
      font-size: 16px;
      line-height: 30px;
    }
    .cart-w-pop .product-single__sale-price {
      margin: 0 0 5px;
    }
    .cart-w-pop .product-single__prices #ProductPrice-upsell {
      font-size: 16px;
      line-height: 26px;
    }

    .content-upsell #AddToCart {
      margin-top: 16px;
      width: 150px;
    }
    .cart-w-pop {
      margin-top: 15px;
      margin-bottom: 0;
    }

  }

  @media only screen and (max-width: 479px) {
    .content-upsell .wrap-item-upsell .product-image img {
      max-width: 60%;
    }
    .popup-extra-product .inside {
      padding: 0;
    }
    .popup-extra-product .inside .header-upsell .check-box-wrapp span {
      font-size: 16px;
      line-height: 26px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos img {
      max-width: 38px;
      margin-right: 5px;
    }

    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
      font-size: 15px;
      line-height: 18px;
      padding-right: 5px;
      margin-right: 5px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell::after, 
    .content-upsell .ct-pop .product-single__prices span#ComparePrice-upsell::after {
      width: 38px;
    }
    .popup-extra-product .outside h2 {
      font-size: 28px;
      line-height: 40px;
      margin: 0 0 10px;
    }
    .popup-extra-product .outside h4 {
      font-size: 20px;
      line-height: 26px;
      margin: 0 0 20px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell {
      font-size: 14px;
    }
    .popup-extra-product .inside .header-upsell .right-pop h5 {
      font-size: 18px;
      line-height: 40px;
      display: block;
      width: 100%;
      font-weight: 600;
      letter-spacing: 0.05em;
      margin: 0 0 15px;
    }
    .popup-extra-product .inside .header-upsell .right-pop a.btn {
      max-width: 100%;
      height: 40px;
      line-height: 40px;
      width: 100%;
      display: block;
      text-align: center;
    }
    .content-upsell h3 {
      margin: 10px 0 5px;
      font-size: 24px;
      line-height: 26px;
    }
    .content-upsell h3.product-single__title {
      font-size: 26px;
      line-height: 30px;
    }
    .popup-extra-product .inside p {
      font-size: 13px;
      line-height: 19px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos {
      margin: 10px 0;
    }

    .cart-w-pop .product-single__prices #ProductPrice-upsell span {
      font-size: 12px;
      display: block;
    }
    .content-upsell #AddToCart {
      height: 40px;
      line-height: 40px;
      margin-top: 16px;
    }

    .content-upsell a.show-more {
      font-size: 15px;
    }
    .content-upsell a.show-more {
      background-size: 17px 8px;
      padding-right: 30px;
    }
    .content-upsell .wrap-item-upsell {
      margin-bottom: 15px;
    }
    .content-upsell {
      padding-bottom: 15px;
    }
    .popup-extra-product .inside .header-upsell, .content-upsell h3, .content-upsell .wrap-item-upsell {
      padding-right: 0;
      padding-left: 0;
    }

  }


  @media only screen and (max-width: 374px) {

    .popup-extra-product .outside h2 {
      font-size: 22px;
      line-height: 30px;
    }
    .popup-extra-product .outside h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 5px 0 16px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos img {
      max-width: 40px;
      margin-right: 5px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos h3 {
      font-size: 12px;
      line-height: 14px;
      padding-right: 5px;
      width: 38%;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span.price {
      font-size: 12px;
    }
    
    .popup-extra-product .inside p {
      font-size: 12px;
      line-height: 16px;
    }
    .cart-w-pop .product-single__prices span#ComparePrice-upsell {
      font-size: 16px;
      line-height: 24px;
    }
    .cart-w-pop .product-single__prices span#ComparePrice-upsell::after {
      width: 38px;
    }
    .cart-w-pop .product-single__prices #ProductPrice-upsell{
      font-size: 16px;
      line-height: 22px;
    }
    .content-upsell #AddToCart {
      font-size: 12px;
      height: 38px;
      line-height: 38px;
      margin-top: 14px;
      max-width: 94px;
    }
    .content-upsell h3.product-single__title {
      font-size: 22px;
      line-height: 22px;
    }
    .popup-extra-product .inside .header-upsell .wrap-item-added .product-single__photos .price-w span#ComparePrice-upsell {
      font-size: 12px;
    }


  }

</style>


<script>
  $(document).ready(function() {
    $('.open-popup-extra-product').magnificPopup({
      type: 'inline',
      fixedContentPos: true,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in',
      callbacks: {
        open: function() {
          $.magnificPopup.instance.close = function () {   
            setTimeout(function(){
              //window.location.href = "/cart";
            }, 750);
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });
</script>

