{% unless grid_item_width %}
{% assign grid_item_width = 'large--one-third medium-down--one-half' %}
{% endunless %}

{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

{% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
{% assign free_gift = product.description | split:'[free-gift]' | last | split:'[/free-gift]' | first %}

<div class="product-item {% cycle 'one', 'two' %} col-md-6 col-sm-12 col-xs-12">
  <div class="product-image text-center">
    <a class="product-title" href="javascript:void(0);" {% if template contains 'index' or page.handle == 'siliconefusion' %}onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);"{%else%}onclick="addProductToCart({{product.variants[0].id}},1);"{%endif%}>{{ product.title }}</a>
   
    <a href="javascript:void(0);" {% if template contains 'index' or page.handle == 'siliconefusion' %}onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);"{%else%}onclick="addProductToCart({{product.variants[0].id}},1);"{%endif%}>
      {% assign featured_image = product.featured_image %}
            
      <img class="hmak-lazy" hmak-src="{{ featured_image.src | img_url: '2048x2048' }}" alt="{{ featured_image.alt | escape }}">
    </a>

    <div class="set-include">
      <p>Includes: {{ include_content }} {% if product.handle contains "advanced" %}+ FREE GIFT: {{ free_gift }}{% endif %}</p>

    </div>

    {% if product.handle contains 'advanced' %}
    <div class="seal-bestbang">Free Gift</div>
    <div class="arrow-cir">arrow</div>
    {% endif %}

    <div class="product-detail">

      <h4 class="price">
        {% capture price %}
        {{ product.price | money | remove: '.00' }}{% endcapture %}
        {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
        {% if on_sale %}
        <span class="cost-price">({{ product.compare_at_price | money | remove: '.00' }} value)</span>
        {% endif %}
      </h4>

      <div class="reviews_count">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>

      {% if sold_out %}
      <div class="notification">
        <p>Sorry, this item is currently out of stock. Click below to be notified when we’re back in stock!</p>
      </div>
      {% endif %}

      <div class="price-addtobag">
        {% if sold_out %}
        <a href="javascript:void(0)" class="notify-me btn open-extra-popup-product open-popup-product no-scroll" onclick="addNotifyOpenPopup('{{product.title}}','{{product.variants[0].sku}}')">NOTIFY ME</a>
        <a href="#popup-notify-me" class="notify-me-popup btn open-extra-popup-product open-popup-product no-scroll hidden">NOTIFY ME</a>
        {% else %}
        <a class="popup-extra-product open-extra-popup-product open-popup-product no-scroll hidden" href="#popup-extra-product"></a>
        {% if template contains 'index' or page.handle == 'siliconefusion' %}
        <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCartandOpenPopup({{product.variants[0].id}},1);">ADD TO CART</a>
        {% else %}
        <a class="addtocart btn" href="javascript:void(0)" onclick="addProductToCart({{product.variants[0].id}},1);">ADD TO CART</a>
        {% endif %}
        <p class="response-message-{{product.variants[0].id}}" style="display:none;font-size: 15px;margin: 10px 0 0;">Added to cart! View <a href="/cart">cart</a></p>
        {% endif %}
      </div>
      {% comment %}<a class="learn-more btn" href="{{ product.url | within: collection }}">Learn More</a>{% endcomment %}
    </div>
  </div>
</div>
