{% for block in section.blocks %}
	{% if block.type == 'Banner' %}
		{% assign probanner = all_products[block.settings.banner_product] %}

		{% if probanner.handle == product.handle %}
          <section id="pdpBanner" class="pdp-banner-container">
            <div class="pdp-banner-image">
              <img class="pdp-banner-img" src="{{ block.settings.banner_img | img_url: 'master' }}">
            </div>
            <div class="pdp-banner-content">
              <h1>
                {% if block.settings.banner_title != blank %}
                {{ block.settings.banner_title }}
                {% endif %}
              </h1>
              <span class="pdp-banner-content">
                {% if block.settings.banner_headline != blank %}
                {{ block.settings.banner_headline }}
                {% endif %}
              </span>
            </div>
          </section>
		{% endif %}
	{% endif %}
{% endfor %}