<style>

  /* Style the tab */
  div.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }

  /* Style the buttons inside the tab */
  div.tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s;
    font-size: 22px;
    line-height: 84px;
    font-family: proxima-nova-condensed, sans-serif;
    letter-spacing: 0;
    color: #1E1E1E;
    border-bottom: 3px solid #fff;
  }

  /* Change background color of buttons on hover */
  div.tab button:hover {
    border-bottom: 3px solid #E38065;
    color: #E38065;
  }

  /* Create an active/current tablink class */
  div.tab button.active {
    border-bottom: 3px solid #E38065;
    color: #E38065;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 45px 0 0;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }

  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
</style>
<div id="features-tabs">
  <div class="container">
    <div class="row">
      <div class="tab">
        <button class="tablinks col-xl-2 col-lg-3 col-md-4 col-sm-3 col-xs-3 text-center" onclick="openCity(event, 'Product-Details')" id="defaultOpen">Description</button>
        {% unless product.handle == "exfoliator" or product.handle == "clarapulse"%}
        <button class="tablinks col-xl-2 col-lg-3 col-md-4 col-sm-3 col-xs-3 text-center" onclick="openCity(event, 'Benefits')">Benefits</button>
         {% endunless %}
        <button class="tablinks col-xl-2 col-lg-3 col-md-4 col-sm-3 col-xs-3 text-center" onclick="openCity(event, 'Customer-Reviews')">Customer Reviews</button>
      </div>
    </div>
  </div>

  <div id="Product-Details" class="tabcontent">
    <div class="science-bg">
      <div class="product-description rte" itemprop="description">
        {{ product.description | split:'[include-content]' | first }}
      </div>
    </div>
  </div>

  <div id="Benefits" class="tabcontent">
    <div class="container">
      {% include 'product-benefits' %}
    </div>
  </div>

  <div id="Customer-Reviews" class="tabcontent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'product-reviews' %}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="accordion-product" role="tablist" aria-multiselectable="true">
  <div class="card product-details">
    <div class="card-header col-md-12 col-xs-12" role="tab" id="headingOne1">
      <h5 class="mb-0">
        <button id="clickOne1" class="click-toogle active">
          Description<i style="display:none" class="fa fa-angle-down" aria-hidden="true"></i>
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
      </h5>
    </div>
    <div style="display:block;" id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1">
      <div class="card-block">
        <div class="product-description rte" itemprop="description">
          {{ product.description | split:'[include-content]' | first }}
        </div>
      </div>
    </div>
  </div>
  {% unless product.handle == "exfoliator" or product.handle == "clarapulse"%}
  <div class="card benefits">
    <div class="card-header col-md-12 col-xs-12" role="tab" id="headingTwo2">
      <h5 class="mb-0">
        <button id="clickTwo2" class="click-toogle">
          Benefits<i class="fa fa-angle-down" aria-hidden="true"></i>
          <i style="display:none" class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
      </h5>
    </div>
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
      <div class="card-block">
        {% include 'product-benefits' %}
      </div>
    </div>
  </div> {% endunless %}

  <div class="card customer-reviews">
    <div class="card-header col-md-12 col-xs-12" role="tab" id="headingThree3">
      <h5 class="mb-0">
        <button id="clickThree3" class="click-toogle">
          Customer Reviews<i class="fa fa-angle-down" aria-hidden="true"></i>
          <i style="display:none" class="fa fa-angle-up" aria-hidden="true"></i>
        </button>
      </h5>
    </div>
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3">
      <div class="card-block">
        {% include 'product-reviews' %}
      </div>
    </div>
  </div>
</div>

<style>

  #clickOne1 i.fa-angle-up,
  #clickTwo2 i.fa-angle-up,
  #clickThree3 i.fa-angle-up{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

</style>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();

</script>

<script>

  $("#clickOne1").click(function(){ 
    $("#collapseOne1").toggle();
    $("#clickOne1 i.fa-angle-up").toggle();
    $("#clickOne1 i.fa-angle-down").toggle();
  });

  $("#clickTwo2").click(function(){
    $("#collapseTwo2").toggle();
    $("#clickTwo2 i.fa-angle-up").toggle();
    $("#clickTwo2 i.fa-angle-down").toggle();
  });

  $("#clickThree3").click(function(){
    $("#collapseThree3").toggle();
    $("#clickThree3 i.fa-angle-up").toggle();
    $("#clickThree3 i.fa-angle-down").toggle();
  });

</script>