<div id="how-to-use" class="box-circle">
  <div class="container">
    <div class="row">
      {% unless product.handle == "exfoliator" or product.handle == "clarapulse"%}
      <div class="col-md-12 text-center">
        <h1>How to Use</h1>
      </div>
      {% endunless %}

    </div>
    {% if product.handle == "ultimate-body-face-system" or product.handle == "complete-face-system" or product.handle == "complete-body-system" %}
    <div class="row">
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-1.png'| asset_url }}" /></span>
        <h3>Wash + Dry</h3>
        <p>Before you apply your <i class="font-cri">clarafuse</i> patches, thoroughly cleanse and dry the area you are treating. For optimal results, and longer adhesion and product life, we recommend using <i class="font-cri">claraprep</i> cleanser, which features a unique ingredient complex that cleanses, tones, and preps.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-2.png'| asset_url }}" /></span>
        <h3>Apply</h3>
        <p>Gently remove your fast-acting patches from their tray and remove plastic backing. Apply your self-adhesive face or body patches as illustrated on the back of each product package. Have questions? We’re here to help! Send a note to <a target="_top" href="mailto:support@dermaclara.com">support@dermaclara.com</a> or visit our  <a target="_blank" href="/pages/faq">FAQ</a> page.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-3.png'| asset_url }}" /></span>
        <h3>Let the Magic Begin</h3>
        <p>Wear your patches 1-8 hours. Silicone Fusion has been clinically proven to reduce the appearance of  lines and wrinkles in just 1 hour—ideal for quick improvement. But for results that wow, wear them overnight—your skin will thank you by looking and feeling tighter and healthier.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-4.png'| asset_url }}" /></span>
        <h3>Hydrate</h3>
        <p>After treatment, you’ll notice and feel smoother, tighter skin. Yes!  After you remove the patches, enhance your youthful results by hydrating with a moisturizer or serum. For the best results, we recommend using either <i class="font-cri">clarasome</i> moisturizer or <i class="font-cri">claraline</i> skin serum. Both feature ingredients that promote cell renewal and stimulate collagen.</p>
      </div>
      <div class="five-col col-md-2 text-center last">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-5.png'| asset_url }}" /></span>
        <h3>Rinse + Reuse</h3>
        <p>Now that you’re finished treating and hydrating, rinse <i class="font-cri">clarafuse</i> patches under water, shake to dry, and store patches in the provided protective trays. Each patch is effective for 30 applications (treatments). The longer you stay with the treatment, the longer and more cumulative the results! Bonus: Comes with FREE storage bag great for travel!</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "clarafuse-for-body" %}
    <div class="row">
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-1.png'| asset_url }}" /></span>
        <h3>Wash + Dry</h3>
        <p>Before you apply your Silicone Fusion™ <i class="font-cri">clarafuse</i> patches, thoroughly cleanse and dry the area you are treating. For optimal results, and longer adhesion and product life, we recommend using <i class="font-cri">claraprep</i> cleanser, which features a unique ingredient complex that cleanses, tones, and preps.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-2.png'| asset_url }}" /></span>

        <h3>Apply</h3>
        <p>Gently remove your fast-acting patches from their tray and remove plastic backing. Apply your self-adhesive face or body patches as illustrated on the back of each product package. Have questions? We’re here to help! Send a note to <a target="_top" href="mailto:support@dermaclara.com">support@dermaclara.com</a> or visit our  <a target="_blank" href="/pages/faq">FAQ</a> page.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-3.png'| asset_url }}" /></span>

        <h3>Let the Magic Begin</h3>
        <p>Wear your patches 1-8 hours. Silicone Fusion has been clinically proven to reduce the appearance of  lines and wrinkles in just 1 hour—ideal for quick improvement. But for results that wow, wear them overnight—your skin will thank you by looking and feeling tighter and healthier.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-4.png'| asset_url }}" /></span>

        <h3>Hydrate</h3>
        <p>After treatment, you’ll notice and feel smoother, tighter skin. Yes!  After you remove the patches, enhance your youthful results by hydrating with a moisturizer or serum. For the best results, we recommend using either <i class="font-cri">clarasome</i> moisturizer or <i class="font-cri">claraline</i> skin serum. Both feature ingredients that promote cell renewal and stimulate collagen.</p>
      </div>
      <div class="five-col col-md-2 text-center last">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-5.png'| asset_url }}" /></span>

        <h3>Rinse + Reuse</h3>
        <p>Now that you’re finished treating and hydrating, rinse <i class="font-cri">clarafuse</i> under water, shake to dry, and store patches in the provided protective trays. Each patch is effective for 30 applications (treatments). The longer you stay with the treatment, the longer and more cumulative the results! Bonus: Comes with FREE storage bag great for travel!</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "clarafuse-for-face" %}
    <div class="row">
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-1.png'| asset_url }}" /></span>

        <h3>Wash + Dry</h3>
        <p>Before you apply your <i class="font-cri">clarafuse</i> patches, thoroughly cleanse and dry the area you are treating. For optimal results, and longer adhesion and product life, we recommend using <i class="font-cri">claraprep</i> cleanser, which features a unique ingredient complex that cleanses, tones, and preps.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-2.png'| asset_url }}" /></span>

        <h3>Apply</h3>
        <p>Gently remove your fast-acting patches from their tray and remove plastic backing. Apply your self-adhesive face or body patches as illustrated on the back of each product package. Have questions? We’re here to help! Send a note to <a target="_top" href="mailto:support@dermaclara.com">support@dermaclara.com</a> or visit our  <a target="_blank" href="/pages/faq">FAQ</a> page.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-3.png'| asset_url }}" /></span>

        <h3>Let the Magic Begin</h3>
        <p>Wear your patches 1-8 hours. Silicone Fusion has been clinically proven to reduce the appearance of  lines and wrinkles in just 1 hour—ideal for quick improvement. But for results that wow, wear them overnight—your skin will thank you by looking and feeling tighter and healthier.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-4.png'| asset_url }}" /></span>

        <h3>Hydrate</h3>
        <p>After treatment, you’ll notice and feel smoother, tighter skin. Yes!  After you remove the patches, enhance your youthful results by hydrating with a moisturizer or serum. For the best results, we recommend using either <i class="font-cri">clarasome</i> moisturizer or <i class="font-cri">claraline</i> skin serum. Both feature ingredients that promote cell renewal and stimulate collagen.</p>
      </div>
      <div class="five-col col-md-2 text-center last">
        <span class="circle"><img class="lazyload fade-in" alt="" data-src="{{ 'step-icon-5.png'| asset_url }}" /></span>

        <h3>Rinse + Reuse</h3>
        <p>Now that you’re finished treating and hydrating, rinse <i class="font-cri">clarafuse</i> under water, shake to dry, and store patches in the provided protective trays. Each patch is effective for 30 applications (treatments). The longer you stay with the treatment, the longer and more cumulative the results! Bonus: Comes with FREE storage bag great for travel!</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "claraprep" %}
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 text-center">
        <p class="weight-medium">Pump once or twice into wet hands and create a lather on skin using small, upward circles, then rinse thoroughly and pat dry before applying clarafuse.</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "simply-floral-50ml" %}
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 text-center">
        <p class="weight-medium">Simply spray on your pulse points and anywhere else you want to smell appealings. Spray as needed throughout the day.</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "clarafuse" %}
    <div class="row">
      <div class="five-col col-md-2 text-center">
        <span class="circle">1</span>
        <p>After cleansing with <i>claraprep</i>, gently peel <i>clarafuse</i> from its plastic backing.</p>
      </div>
      <div class="five-col col-md-2 text-center">
        <span class="circle">2</span>
        <p>Apply carefully to dry, clean skin.</p>
      </div>
      <div class="five-col col-md-2 text-center last">
        <span class="circle">3</span>
        <p>Use for up to 9 hours, then peel off using one hand to hold the skin taut, and the other hand to peel. Place in storage tray until next treatment.</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "claraline" %}
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 text-center">
        <p class="weight-medium">Apply after using <i class="font-cri">clarafuse</i> silicone patches to improve and enhance results.</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "claralips" %}
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 text-center">
        <p class="weight-medium">Use underneath or on top of lip gloss or lipstick. Can also be worn solo for a subtle sheen.</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "claratone" %}
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 text-center">
        <p class="weight-medium">Apply claraline serum to <i>claratone</i> applicator surface, then gently place on skin and move in small, upward circles until serum is absorbed.</p>
      </div>
    </div>
    {% endif %}
    {% if product.handle == "clarasome" %}
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 text-center">
        <p class="weight-medium">Apply immediately after treating skin with <i class="font-cri">clarafuse</i> patches or any time your skin feels thirsty.</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
