
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div {% if product.title contains loop_product.title or loop_product.title contains product.title %}style="display:none;"{% endif %} class="list-pr-wrapp {% if product.variants.size > 1 %}{% for variant in product.variants %} {{ variant.id }}{%endfor%}{%else%} {{product.variants.first.id}}{% endif %}">
  <div class="row">
    <div class="dk-hidden col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="product-single__title">{{product.title }}</h3>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
      <div class="product-single__photos product-image {{product.handle}} {{product.id}}" id="ProductPhotoThumb">
        <img class="lazyload" src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-image-id="{{ featured_image.id }}">
      </div>
    </div>

    <div class="ct-pop col-lg-6 col-md-5 col-sm-8 col-xs-8 text-left">
      <h3 class="product-single__title tbcart-head">{{product.title | replace: 'Frequency',''}}</h3>
      <p class="product-single__description">{{product.metafields.upsell.description}}</p>
      <div class="product-single__prices tbcart-head">
        {% if product.compare_at_price_max > product.price %}
        <div class="product-single__sale-price">
          <span id="ComparePrice-upsell">{{ current_variant.compare_at_price | money | remove: '.00' }}</span>
        </div>
        {% endif %}

        <div id="ProductPrice-upsell" class="product-single__price" itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">
          ONLY {{ current_variant.price | money | remove: '.00' }} <span>(you save {{ product.compare_at_price_max | minus: current_variant.price | money }})</span>
        </div>
        
      </div>
    </div>
    <div class="cart-w-pop col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="product-single__prices dk-hidden">
        {% if product.compare_at_price_max > product.price %}
        <div class="product-single__sale-price">
          <span id="ComparePrice-upsell">{{ current_variant.compare_at_price | money | remove: '.00' }}</span>
        </div>
        {% endif %}

        <div id="ProductPrice-upsell" class="product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          ONLY {{ current_variant.price | money | remove: '.00' }} <span>(you save {{ product.compare_at_price_max | minus: current_variant.price | money }})</span>
        </div>
      
      </div> 
         
     <input id="AddToCart" type="button" value="Add to cart" class="addtocart btn addtocartupsell {{product.id}}" onclick='addProdToUpsell({{current_variant.id}},1)' />
          
    </div>
  </div>
</div>




