{% comment %} <div id="section-blog">
  <div class="container">
    <div class="row">
      {% for article in blogs.news.articles limit:4 %}
      <div class="col-post col-md-3 col-sm-6 col-12">
        <div class="image-thumb">
          <a class="post_thumbnail" href="{{ article.url }}">
            {% if article.image %}
            <img class="fade-in lazyload" data-src="{{ article.image | img_url: '250x' }}" />
            {% else %}
            <img class="fade-in lazyload" data-src="{{ 'no-image.png' | asset_url }}" />
            {% endif %}
          </a>
        </div>
        <div class="post-dt">
          <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
          <a href="{{ article.url }}">{{ article.title }}</a>
          <div>{{ article.content | strip_html | truncatewords: 14 }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> {% endcomment %}

{% if product.metafields.custom_fields["related_articles"] != blank %}
    <h3 style="text-align: center">Related Articles</h3>
    <div id="section-blog">
        <div class="container">
            <div class="row">
            {% assign article_refs = product.metafields.custom_fields["related_articles"] | split: "|" %}

                {% for article_handle in article_refs %}
                <div class="col-post col-md-3 col-sm-6 col-12">

                    {% assign article_blog_handle = article_handle | split: "." %}
                    {% for article in blogs[article_blog_handle[0]].articles %}
                    {% if article.handle contains article_blog_handle[1] %}

                        <div class="image-thumb">
                            <a class="post_thumbnail" href="{{ article.url }}">
                                {% if article.image %}
                                    <img class="fade-in lazyload" data-src="{{ article.image | img_url: '250x' }}" />
                                {% else %}
                                    <img class="fade-in lazyload" data-src="{{ 'no-image.png' | asset_url }}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="post-dt">
                            <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
                            <a href="{{ article.url }}">{{ article.title }}</a>
                            <div>{{ article.content | strip_html | truncatewords: 14 }}</div>
                        </div>

                    {% break %}
                    {% endif %}
                    {% endfor %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}