<div style="display:none;" class="product-single__photos product-image {{product.handle}} {% if product.variants.size > 1 %}{% for variant in product.variants %} {{ variant.id }}{%endfor%}{%else%} {{product.variants.first.id}}{% endif %}">
  <img class="lazyload" src="{{ product.featured_image | img_url: 'small' }}" alt="{{ product.image.alt | escape }}" data-image-id="{{ featured_image.id }}">
  <h3>
    {{product.title }} 
  </h3>
  <div class="price-w">
    
    {% if product.compare_at_price_max > product.price %}
    <span id="ComparePrice-upsell">{{ product.compare_at_price | money }}</span>
    {% endif %}
    
    <span class="price">{{ product.price | money }}</span>
    
  </div>
</div>
