<style>

  .spr-container{
    border:none;
  }

  .spr-header {
    border-top:1px solid #ececec;
    margin-bottom: -6px;
    padding-top: 24px;
  }

  .spr-header-title{
    display: inline-block;
    width: 25%;
    font-size:36px;
  }

  .spr-header .spr-icon {
    font-size: 100%;
    margin-right: 10px;
  }

  .spr-content .spr-review {
    position: relative;
  }

  .spr-content .spr-review-header .spr-icon {
    font-size: 80%;
    margin-right: 6px;
  }

  .spr-summary{
    display: inline-block;
    width: 75%;
  }

  .spr-summary-actions-togglereviews{
    color: #91908c;
  }

  .spr-summary-actions .spr-summary-actions-newreview{
    color: #91908c;
    border: 1px solid #444037;
    padding: 10px 30px;
    letter-spacing: 3px;
    font-size: 16px;
    margin-top: -15px;
  }

  .spr-summary-actions .spr-summary-actions-newreview:hover,
  .spr-summary-actions .spr-summary-actions-newreview:focus{
    text-decoration:none;
  }

  .spr-review-header{
    width: 15%;
    display: inline-block;
    float: left;
  }

  .spr-review-content {
    width: 85%;
    display: inline-block;
    float: left;
    padding-left: 30px;
    padding-top: 35px;
  }

  .spr-review-header-title{
    font-size: 20px;
    font-family: proxima-nova-condensed, sans-serif;
    letter-spacing: 1px;
    font-style:italic;
    position: absolute;
    left: 17.5%;
    font-weight: 500;
    top: 24px;
  }

  .spr-review-header-byline {
    font-style: normal;
  }

  .spr-review-header-byline strong{
    font-size: 14px;
  }

  .spr-pagination div{
    text-align:right;
  }

  .spr-pagination div span{
    padding: 0 10px;
  }

  .spr-pagination .spr-pagination-prev,
  .spr-pagination .spr-pagination-next{
    position:inherit;
  }

  .spr-pagination-prev a,
  .spr-pagination-next a,
  .spr-pagination-page a{
    color: #91908c;

  }

  .spr-pagination-page.is-active a{
    color: #444037;
    font-weight:bold;
  }

  .spr-form-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    font-size:20px;
  }

  .spr-form-label{
    font-family: 'Open Sans', sans-serif;
    color:#444037;
    font-size:14px;
    position:relative;
  }

  .spr-form-label:after{
    position:absolute;
    content:'*';
    color:red;
  }

  .spr-form-actions .spr-button{
    background: #c8a557 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    letter-spacing: 0.025em;
    line-height: 48px;
    max-width: 300px;
    padding: 0;
    width: 100%;
    border: medium none;
  }

  .spr-form-actions .spr-button:focus,
  .spr-form-actions .spr-button:hover{
    background: #040f00 none repeat scroll 0 0;
  }

  @media screen and (max-width: 1199px) {

    .spr-header-title{
      width: 30%;
      font-size: 30px;
    }

    .spr-summary {
      width: 70%;
    }

    .spr-summary-actions .spr-summary-actions-newreview{
      margin-top:-12px;
    }

    .spr-review-header{
      width: 20%;
    }

    .spr-review-content{
      width: 80%;
    }

  }

  @media screen and (max-width: 1199px) and (min-width: 992px) {

    .spr-review-header-title {
      left: 23.5%;
    }

  }

  @media screen and (max-width: 991px) {

    .spr-review-header-starratings {
      display: block;
    }

    .spr-review-header-title {
      position: initial;
    }

    .spr-review-header,
    .spr-review-content,
    .spr-header-title,
    .spr-summary{
      width: 100%;
    }

    .spr-review-content{
      padding-left:0;
      padding-top: 0;
    }

    .spr-summary-actions .spr-summary-actions-newreview{
      margin-top: -30px;
    }
  }

  @media screen and (max-width: 767px) {
    .spr-summary-actions .spr-summary-actions-newreview {
      margin-top: 20px;
      display: block;
      float: left;
    }

  }

  @media screen and (max-width: 640px) {


    .spr-header-title,
    .spr-summary{
      text-align:left;
    }

    .spr-summary-actions .spr-summary-actions-newreview{
      display:block;
      float:left;
      margin-top: 15px;
    }

    .spr-summary-caption,
    .spr-summary-starrating {
      display: inline-block;
      float: left;
    }

    .spr-summary-starrating {
      margin: 0 10px 0 0;
    }

    .spr-summary-caption .spr-summary-actions-togglereviews{
      line-height: 26px;
    }

    .spr-summary-actions{
      display: inline-block;
      width:100%;
    }
  }

</style>


{% comment %} {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
<div id="shopify-product-reviews" data-id="7735099273">{{ product.metafields.spr.reviews }}</div>
{% else %}
<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
{% endif %} {% endcomment %}


  {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
  <div id="shopify-product-reviews" data-id="7735099273">{{ product.metafields.spr.reviews }}</div>

  {% elsif product.handle == 'silicone-patches-for-face-kit' %}
   <div id="shopify-product-reviews" data-id="7735099465">{{ product.metafields.spr.reviews }}</div>

  {% elsif product.handle == 'silicone-patches-for-body-kit' %}
  <div id="shopify-product-reviews" data-id="7735099273">{{ product.metafields.spr.reviews }}</div>

  {% elsif product.handle == 'ultimate-mothers-day-body-face-system' %}
  <div id="shopify-product-reviews" data-id="3640089608269">{{ product.metafields.spr.reviews }}</div>

  {% elsif product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
  <div id="shopify-product-reviews" data-id="3640089608269">{{ product.metafields.spr.reviews }}</div>

  {% elsif product.handle == 'ultimate-body-face-system' %}
  <div id="shopify-product-reviews" data-id="3640089608269">{{ product.metafields.spr.reviews }}</div>

  {% else %}
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  {% endif %}