<div class="product-faq">
    <h3 style="text-align: center">{{ section.settings.faq_heading_text }}</h3>
    <div id="page-faq" class="container">
        <section id="content0" class="row content-tab">
            <div id="about-stretch-marks" class="page-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul>
              {% for block in section.blocks %}
              	{% if block.type == 'Faq' %}
                  <li>
                  <h3 class="pointer-open open">{{ block.settings.question }}<i class="fa fa-chevron-down"></i></h3>
                  <div class="content-p" >{{ block.settings.answer }}</div>
                  </li>
              	{% endif %}
              {% endfor %}
            </ul>
            </div>
          
          <div class="hidden">
                <div class="{% if settings.faq_video_link != blank %}popup-youtube-wrapper{% endif %} popup-vimeo-wrapper" id="slide-video-popup">
                    <div class="video-container">
                        {% if settings.faq_video_link != blank %}
                            <iframe width="560" height="315" src="{{ settings.faq_video_link }}?rel=0" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        {% else %}
                            <iframe id="slide-player-popup"
                                    link-src="{{ settings.promo_slide_video_link }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup"
                                    width="" height="" frameborder="0" data-progress="true" data-seek="true"
                                    data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>