<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  {% assign variant = product.selected_or_first_available_variant %}

  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  <form action="/cart/add" data-productid="{{product.id}}"  method="post" enctype="multipart/form-data" id="AddToCartForm">
    {% if product.available %}{% include 'subscription-product' %}{% endif %}

    <select name="id" data-productid="{{product.id}}" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}
      {% if variant.available %}

      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>

    {% assign pro_sub_handle = product.handle | append: '-subscription' %}
    {% assign pro_sub = all_products[pro_sub_handle] %}
    <div class="subscription-option">
      {% unless product.handle == 'clarapulse' or product.handle == 'claratone' or product.handle == 'exfoliator' or product.handle == 'travel-bag' or product.handle == 'collagen-facelift' or product.handle == 'collagen-boost' or product.handle == 'collagen-basics' or product.handle == 'simply-floral-50ml' %}
      <div class="product-option-item">
        <input type="radio" name="product-option" value="subscription" id="opt-sub" price="{{pro_sub.price | money}}" variant_id="{{pro_sub.variants.first.id}}" shipping_interval_unit_type="{{pro_sub.metafields.subscriptions.shipping_interval_unit_type}}" subscription_id="{{pro_sub.metafields.subscriptions.subscription_id}}" checked>
        <label id="add-tooltips" for="opt-sub">
          <span>{{pro_sub.price | money}} delivered every 60 days</span>
          <select style="display:none;" id="subscription-frequency">
            <option value="1">1 month</option>
            <option value="2">2 months</option>
            <option value="3">3 months</option>
          </select>
          {% include 'icon-i' %}
        </label>
        {% comment %}
        <div class="tooltips-custom">
          <h4>SUBSCRIBE & SAVE</h4>
          <p>Receive free shipping and save up to 30%</p>
        </div>
        {% endcomment %}

        <div class="check"></div>
      </div>
      {% endunless %}

      <div class="product-option-item">
        <input type="radio" name="product-option" value="one-time" id="opt-ot" price="{{product.price | money}}" variant_id="{{product.variants.first.id}}">
        <label for="opt-ot">{{product.price | money}} one-time purchase</label>
        <div class="check"></div>
      </div>
      <input type="hidden" id="variant_id" value="{{pro_sub.variants.first.id}}">
      <input type="hidden" id="subscription_id" value="{{pro_sub.metafields.subscriptions.subscription_id}}">
      <input type="hidden" id="shipping_interval_frequency" value="2">
      <input type="hidden" id="shipping_interval_unit_type" value="Months">

      <script>

        setTimeout(function(){ 
          {% if product.handle == 'clarapulse' or product.handle == 'claratone' or product.handle == 'exfoliator' or product.handle == 'travel-bag' or product.handle == 'collagen-facelift' or product.handle == 'collagen-boost' or product.handle == 'collagen-basics' or product.handle == 'simply-floral-50ml' %}
          var price = $('#opt-ot').attr('price');
          $('#opt-ot').click();
          {% else %}
          var price = $('#opt-sub').attr('price');
          {% endif %}
          $('.product-single__prices .price .current-price').text(price);
        }, 300);

        $('input[name=product-option]').change(function(){
          var value = $('input[name=product-option]:checked').val();
          if(value == 'one-time'){
            $('#AddToCart').show();
            $('#AddToCart-Sub').hide();
            var price = $(this).attr('price');
            $('.product-single__prices .price .current-price').text(price);
            var variant_id = $(this).attr('variant_id');
            $('#variant_id').val(variant_id);
            $('#subscription_id').val('');
            $('#shipping_interval_frequency').val('');
            $('#shipping_interval_unit_type').val('');
          }else{
            $('#AddToCart').hide();
            $('#AddToCart-Sub').show();
            var price = $(this).attr('price');
            $('.product-single__prices .price .current-price').text(price);
            var variant_id = $(this).attr('variant_id');
            var subscription_id = $(this).attr('subscription_id');
            var shipping_interval_frequency = $( "#subscription-frequency option:selected" ).val();
            var shipping_interval_unit_type = $(this).attr('shipping_interval_unit_type');
            $('#variant_id').val(variant_id);
            $('#subscription_id').val(subscription_id);
            $('#shipping_interval_frequency').val(shipping_interval_frequency);
            $('#shipping_interval_unit_type').val(shipping_interval_unit_type);
          }
        });

        $('select#subscription-frequency').on('change', function() {
          var value = this.value;
          $('#shipping_interval_frequency').val(value);
        });
      </script>

    </div>

    {% if product.handle contains 'system' %}
    {% include 'what-include-system-product' %}
    {% endif %}

    <div id="quality-wrapp" class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
      <div class="quaty">
        <label for="quantity">QTY</label>
        <select id="quantity" name="quantity" class="qtt_buying">
          {% for i in (1..5) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="addto-btn-wrapp">

        {% if product.available %}
        <button style="display:none;" type="button" id="AddToCart" class="btn btn-ot" href="javascript:void(0)" onclick="addProdToCart($('#variant_id').val(),$('#quantity').val())">
          Add to Cart
        </button>
        <a id="AddToCart-Sub" class="btn btn-sub" href="javascript:void(0)" onclick="addProdSubscription($('#variant_id').val(),$('#subscription_id').val(),$('#shipping_interval_frequency').val(),$('#shipping_interval_unit_type').val(),$('#quantity').val())" >
          Add to Cart
        </a>
        {% else %}
        <button type="submit" name="add" id="AddToCart" class="btn disabled" disabled>
          sold out
        </button>
        {% endif %}
      </div>
    </div>

  </form>
{% render 'zoorix-product-main' %}


</div>

{% include "popup-upsell" , loop_product: product %}