<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  {% assign variant = product.selected_or_first_available_variant %}

  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  <form action="/cart/add" data-product-form data-productid="{{product.id}}"  method="post" enctype="multipart/form-data" id="AddToCartForm">
    {% if product.available %}{% include 'subscription-product' %}{% endif %}

    <select name="id" data-productid="{{product.id}}" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}
      {% if variant.available %}

      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>

    {% if product.metafields.custom_fields["display_systems_layout"] == 1 %}
      {% include 'systems-layout' %}
    {% elsif product.handle contains 'system' %}
      {% include 'what-include-system-product' %}
    {% endif %}

    <div id="quality-wrapp" class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
      <div class="quaty">
        <label for="quantity">QTY</label>
        <select id="quantity" name="quantity" class="qtt_buying">
          {% for i in (1..5) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
    <div>

        {% if product.available %}

        <button type="submit" id="AddToCart" class="btn btn-ot" name="add" onclick="_tfa.push({notify: 'event', name: 'Add_To_Cart'});">Add to Cart</button>
        {% else %}
        <button type="submit" name="add" id="AddToCart" class="btn disabled" disabled>
          sold out
        </button>
        {% endif %}
      </div>
    </div>

  </form>

</div>

<style>
#AddToCart {
  width: 225px;
}

@media screen and (min-width: 768px) {
  #AddToCart {
    width: 335px;
  }
}
</style>