<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  {% assign variant = product.selected_or_first_available_variant %}

  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">
  <link itemprop="availability"
    href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  <a href="{{ product.url }}" style="text-decoration: none;">
    <button class="btn btn-ot" style="background: #121212; margin: 12px auto;">
      Shop Now
    </button>
  </a>

  {% comment %} <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data">

    <select name="id" data-productid="{{product.id}}" id="productSelect-{{ variant.id }}" class="product-single__variants">
      {% for variant in product.variants %}
      {% if variant.available %}

      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
        data-sku="{{ variant.sku }}" id="{{ variant.id }}" value="{{ variant.id }}">{{ variant.title }} -
        {{ variant.price | money_with_currency }}</option>

      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>


    <input id="quantity" name="quantity" class="qtt_buying" value="1" type="hidden">
    <div class="addto-btn-wrapp">

      {% if product.available %}
      <button type="submit" name="add" id="AddToCart" class="btn btn-ot">
        Add to Cart
      </button>
        
      {% else %}
      <button type="submit" name="add" class="btn disabled" disabled>
        Sold Out
      </button>
      {% endif %}
    </div>

  </form> {% endcomment %}

</div>

{% include "popup-upsell" , loop_product: product %}