<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  {% assign variant = product.selected_or_first_available_variant %}

  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  <form action="/cart/add" data-productid="{{product.id}}"  method="post" enctype="multipart/form-data" id="AddToCartForm"> 
    {% if product.available %}{% include 'subscription-product' %}{% endif %} 

    <select name="id" data-productid="{{product.id}}" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}
      {% if variant.available %}

      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>

    {% assign pro_sub_handle = product.handle | append: '-subscription' %}
    {% assign pro_sub = all_products[pro_sub_handle] %}
    <div class="subscription-option">
      <div class="product-option-item">
        <input type="radio" name="product-option" value="subscription" id="opt-sub" variant_id="{{pro_sub.variants.first.id}}" shipping_interval_unit_type="{{pro_sub.metafields.subscriptions.shipping_interval_unit_type}}" subscription_id="{{pro_sub.metafields.subscriptions.subscription_id}}" checked>
        <label id="add-tooltips" for="opt-sub">
          <span><span class="pr-sub">{{pro_sub.price | money}}</span> delivered every 60 days</span>
          <select style="display:none;" id="subscription-frequency">
            <option value="1">1 month</option>
            <option value="2">2 months</option>
            <option value="3">3 months</option>
          </select>
          <div class="tooltip-wrapp">
            {% include 'icon-i' %}
            <div class="pop-toolip" style="">

            </div>
          </div>
        </label>
        {% comment %}
        <div class="tooltips-custom">
          <h4>SUBSCRIBE & SAVE</h4>
          <p>Receive free shipping and save up to 30%</p>
        </div>
        {% endcomment %}
        <div class="check"></div>
      </div>
      <div class="product-option-item">
        <input type="radio" name="product-option" value="one-time" id="opt-ot" variant_id="{{product.variants.first.id}}">
        <label for="opt-ot"><span class="pr-ot">{{product.price | money}}</span> one-time purchase</label>
        <div class="check"></div>
      </div>

      {% for prod in collections['product-kits'].products %}
      {% if forloop.last %}
      {% assign pro_sub_handle = prod.handle | append: '-subscription' %}
      {% assign pro_sub = all_products[pro_sub_handle] %}
      {% endif %}
      {% endfor %}

      <input type="hidden" id="variant_id" value="{{pro_sub.variants.first.id}}">
      <input type="hidden" id="subscription_id" value="{{pro_sub.metafields.subscriptions.subscription_id}}">
      <input type="hidden" id="shipping_interval_frequency" value="2">
      <input type="hidden" id="shipping_interval_unit_type" value="{{pro_sub.metafields.subscriptions.shipping_interval_unit_type}}">
      <input type="hidden" id="addon_ids" value="">


      <script>

        setTimeout(function(){ 
          var title = $('.item-tab.active').attr('title');
          $('h1.prod-item-title').text(title);
          var price_ot = $('.item-tab.active').attr('price_ot');
          $('.pr-ot').text(price_ot);
          var price_sub = $('.item-tab.active').attr('price_sub');
          $('.pr-sub').text(price_sub);
          var image_src = $('.item-tab.active').attr('image_src');
          $('#ProductPhoto img').attr('src',image_src); 
          var radioValue = $("input[name='product-option']:checked").val();
          if(radioValue == 'one-time'){
            $('.product-single__prices .price').text(price_ot);
          }else{
            $('.product-single__prices .price').text(price_sub);
          }
        }, 300);


        $('input[name=product-option]').change(function(){
          var value = $('input[name=product-option]:checked').val();
          if(value == 'one-time'){
            $('#AddToCart').show();
            $('#AddToCart-Sub').hide();
            var price = $('.item-tab.active').attr('price_ot');
            $('.product-single__prices .price').text(price);
            var variant_id = $('.item-tab.active').attr('variant_id_ot');
            $('#variant_id').val(variant_id);
            $('#subscription_id').val('');
            $('#shipping_interval_frequency').val('');
            $('#shipping_interval_unit_type').val('');
          }else{
            $('#AddToCart').hide();
            $('#AddToCart-Sub').show();
            var price = $('.item-tab.active').attr('price_sub');
            $('.product-single__prices .price').text(price);
            var variant_id = $('.item-tab.active').attr('variant_id_sub');
            var subscription_id = $('.item-tab.active').attr('subscription_id');
            var shipping_interval_frequency = $( "#subscription-frequency option:selected" ).val();
            var shipping_interval_unit_type = $('.item-tab.active').attr('shipping_interval_unit_type');
            $('#variant_id').val(variant_id);
            $('#subscription_id').val(subscription_id);
            $('#shipping_interval_frequency').val(shipping_interval_frequency);
            $('#shipping_interval_unit_type').val(shipping_interval_unit_type);
          }
        });

        $('select#subscription-frequency').on('change', function() {
          var value = this.value;
          $('#shipping_interval_frequency').val(value);
        });
      </script>

    </div>

    <div class="system-wrapper">
      <div class="system-tabs align-items-center">
        {% for product in collections['product-kits'].products %}
        {% assign pro_sub_handle = product.handle | append: '-subscription' %}
        {% assign pro_sub = all_products[pro_sub_handle] %}
        <div class="item-tab {% if forloop.last %}active{% endif%}" title="{{product.title}}" handle="{{product.handle}}" image_src="{{product.featured_image | img_url: '1024x1024'}}" price_ot="{{product.price | money}}" price_sub="{{pro_sub.price | money}}" variant_id_ot="{{product.variants.first.id}}" variant_id_sub="{{pro_sub.variants.first.id}}" shipping_interval_unit_type="{{pro_sub.metafields.subscriptions.shipping_interval_unit_type}}" subscription_id="{{pro_sub.metafields.subscriptions.subscription_id}}">
          <h4>{{product.title}}</h4>
        </div>
        {% endfor%}
      </div>
      <div class="system-info">

        {% for product in collections['product-kits'].products %}
        {% assign col_handle = product.handle %}
        <div {% unless forloop.last %}style="display:none"{% endunless%} class="item-info" id="system-{{product.handle}}">
          <div class="info-what-included">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <div class="wrap-img">
              <img class="fade-in lazyload" data-src="{{ featured_image | img_url: 'medium' }}" alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
            </div>
            <div class="wrap-what-included">
              <h5>What's Included</h5>
              {% for prod in collections[col_handle].products %}
              1 {{prod.title}},
              {% endfor%}
              a free gift bag
            </div>
          </div>

          <div class="info-des">
            {{product.description}}
          </div>
        </div>
        {% endfor%}

        <div style="display:none;" class="info-add-ons">
          <label>Add-ons</label>
          <ul>
            {% for prod in collections['bundle-add-ons'].products %}
            <li>
              <input type="checkbox" name="check-add-ons" value="{{prod.variants.first.id}}" id="addon-item-{{prod.id}}">
              <label for="addon-item-{{prod.id}}"><span>+1 {{prod.title}}</span><span class="price-add">{% if prod.compare_at_price > prod.price %}<del>{{prod.compare_at_price | money}}</del>{% endif %} {{prod.price | money}}</span></label>
              <div class="check"></div>
            </li>
            {% endfor%}
          </ul>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin tincidunt nibh id ex fringilla ornare maecenas dignissim ornar dapibus maecenas <a href="#">Learn More</a>.</p>
        </div> 

        <script>

          $('input[name="check-add-ons"]').on('change', function() {
            var checkedItemsAsString = $('input[name="check-add-ons"]:checked').map(function() { return $(this).val().toString(); } ).get().join(",");
            $('#addon_ids').val(checkedItemsAsString);
          });

          $('.item-tab').on('click', function() {
            $('.item-tab').removeClass('active');
            $(this).addClass('active');
            var title = $(this).attr('title');
            $('h1.prod-item-title').text(title);
            var handle = $(this).attr('handle');
            $('.item-info').hide();
            $('.item-info#system-'+handle).show();
            var image_src = $(this).attr('image_src');
            $('#ProductPhoto img').attr('src',image_src); 
            var radioValue = $("input[name='product-option']:checked").val();
            if(radioValue == 'one-time'){
              var variant_id = $(this).attr('variant_id_ot');
              var price = $(this).attr('price_ot');
              $('.product-single__prices .price').text(price);
            }else{
              var variant_id = $(this).attr('variant_id_sub');
              var price = $(this).attr('price_sub');
              $('.product-single__prices .price').text(price);
            }
            var price_ot = $(this).attr('price_ot');
            var price_sub = $(this).attr('price_sub');
            $('.pr-ot').text(price_ot);
            $('.pr-sub').text(price_sub);
            var subscription_id = $(this).attr('subscription_id');
            var shipping_interval_frequency = $( "#subscription-frequency option:selected" ).val();
            var shipping_interval_unit_type = $(this).attr('shipping_interval_unit_type');
            $('#variant_id').val(variant_id);
            $('#subscription_id').val(subscription_id);
            $('#shipping_interval_frequency').val(shipping_interval_frequency);
            $('#shipping_interval_unit_type').val(shipping_interval_unit_type);
          });
        </script>

        <div id="quality-wrapp" class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
          <div class="quaty">
            <label for="quantity">QTY:</label>
            <select id="quantity" name="quantity" class="qtt_buying">
              {% for i in (1..5) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="addto-btn-wrapp">

            {% if product.available %}
            <button style="display:none;" type="button" name="add" id="AddToCart" class="btn btn-ot" href="javascript:void(0)" onclick="addProdToCart($('#variant_id').val(),$('#quantity').val(),$('#addon_ids').val())">
              Add to Cart
            </button>
            <button type="button" name="add" id="AddToCart-Sub" class="btn btn-sub" href="javascript:void(0)" onclick="addProdSubscription($('#variant_id').val(),$('#subscription_id').val(),$('#shipping_interval_frequency').val(),$('#shipping_interval_unit_type').val(),$('#quantity').val(),$('#addon_ids').val())">
              Add to Cart
            </button>
            {% else %}
            <button type="submit" name="add" id="AddToCart" class="btn disabled" disabled>
              Sold Out
            </button>
            {% endif %}
          </div>
        </div>

        <div class="product-description rte" itemprop="description">
          {{ product.description | split:'[include-content]' | first }}
        </div>
      </div>
    </div>



  </form>


  {% if settings.social_sharing_products %}
  {% include 'social-sharing' %}
  {% endif %}
</div>
{% include "popup-upsell" , loop_product: product %}