{% if product.handle == "ultimate-body-face-system" or product.handle == "complete-face-system" or product.handle == "complete-body-system" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">When you apply <i class="font-cri">clarafuse</i> medical grade silicone patches, the microclimate created between the skin and silicone (called occlusion) helps the skin heal itself by drawing up moisture up from skin’s lower layers, allowing the skin to hydrate from the inside out. The moisture rises to the outside layer of the skin allowing it to plump, fill in, and smooth itself. Then, the patch flattens existing lines and helps prevents new ones from forming. The result? A diminished appearance of wrinkles and stretch marks!</p>
  </div>
</div>
{% endif %}
{% if product.handle == "clarafuse-for-body" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">When you apply <i class="font-cri">clarafuse</i> medical grade silicone patches, the microclimate created between the skin and silicone (called occlusion) helps the skin heal itself by drawing up moisture up from skin’s lower layers, allowing the skin to hydrate from the inside out. The moisture rises to the outside layer of the skin allowing it to plump, fill in, and smooth itself. Then, the patch flattens existing lines and helps prevents new ones from forming. The result? A diminished appearance of wrinkles and stretch marks!</p>
  </div>
</div>
{% endif %}
{% if product.handle == "clarafuse-for-face" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">When you apply <i class="font-cri">clarafuse</i> medical grade silicone patches, the microclimate created between the skin and silicone (called occlusion) helps the skin heal itself by drawing up moisture up from skin’s lower layers, allowing the skin to hydrate from the inside out. The moisture rises to the outside layer of the skin allowing it to plump, fill in, and smooth itself. Then, the patch flattens existing lines and helps prevents new ones from forming. The result? A diminished appearance of wrinkles and stretch marks!</p>
  </div>
</div>
{% endif %}
{% if product.handle == "claraprep" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">Purifies the skin from daily debris and buildup and preserves the skin’s natural moisture and vitality. It’s the perfect way to maximize the benefits of the wrinkle and stretch mark-busting clarafuse silicone patches.</p>
  </div>
</div>
{% endif %}
{% if product.handle == "clarafuse" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="text-center">Clarafuse is made of medical grade silicone trusted by dermatologists and medical professionals to safely and effectively heal and normalize damaged skin affected by stretch marks or scars. Clarafuse’s proprietary blend of soft, high quality, medical grade silicone ofers breathability, flexibility, and comfort.</p>
    <h4 class="text-center">non-invasive, safe and painless</h4>
  </div>
  <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
    <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
    <p>Comfortable and easy to use, discreet enough to be worn under clothes</p>
  </div>
  <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
    <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
    <p>Reusable up to 30 times</p>
  </div>
  <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
    <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
    <p>Versatile shape that can be worn almost anywhere on the body</p>
  </div>
  <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
    <img alt="" src="{{ 'icon-4.png' | asset_url }}" />
    <p>Developed by dermatologists for scientifically proven results</p>
  </div>
</div>
{% endif %}
{% if product.handle == "claraline" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">A healing, soothing formulation with proven ingredients that reduce the appearance of stretch marks, diminish the appearance of wrinkles, promote cell renewal, and stimulate collagen, in addition to smoothing and softening skin.</p>
  </div>
</div>
{% endif %}
{% if product.handle == "claratone" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="text-center">Helps skincare products penetrate deeper and faster into the stratum corneum of the dermis, helps stimulate the skin in order to improve its natural absorption rate.  </p>
  </div>
  <div class="benefits-item text-center claratone-first col-md-3 col-sm-6 col-xs-6">
    <img alt="" src="{{ 'icon-1.png' | asset_url }}" />
    <p>Dramatically improves the absorption and efficacy of serums or creams</p>
  </div>
  <div class="benefits-item text-center col-md-3 col-sm-6 col-xs-6">
    <img alt="" src="{{ 'icon-2.png' | asset_url }}" />
    <p>Improves skin’s firmness, tone and texture</p>
  </div>
  <div class="benefits-item text-center col-md-offset-0 col-md-3 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
    <img alt="" src="{{ 'icon-3.png' | asset_url }}" />
    <p>Gentle pulsations are more effective than manual massaging</p>
  </div>

</div>
{% endif %}

{% if product.handle == "claralips" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">With active ingredients that both sooth and stimulate, our lip serum provides intense moisture, gentle exfoliation, and noticeable plumping, no filler required!</p>
  </div>
</div>
{% endif %}
{% if product.handle == "simply-floral-50ml" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <p class="">This long-lasting scent is the result of a collaboration with Whiff, a scent discovery platform that works with brands, celebs, and influencers to create unique forward-thinking scents you won’t find elsewhere! It will have people asking you, “What are you wearing?”</p>
  </div>
</div>
{% endif %}
{% if product.handle == "clarasome" %}
<div class="row">
  <div class="bnef-desc col-md-12 col-xs-12">
    <ul class="">
      <li>• Features hyaluronic acid for natural youthful properties</li>
      <li>• Improves skin conditioning with coconut oil and glycerin</li>
      <li>• Protects skin with a unique formulation of nutrients and vitamins</li>
    </ul>
  </div>
</div>
{% endif %}