{% if product.metafields.custom_fields["product_value_prop_1"] != blank %}
  <section id="pdpValueProps" class="pdp-value-props-container">
    <div class="pdp-value-prop pdp-vp-top">
      {{ product.metafields.custom_fields["product_value_prop_1"] }}
    </div>
    <div class="pdp-value-prop">
      {{ product.metafields.custom_fields["product_value_prop_2"] }}
    </div>
    <div class="pdp-value-prop">
      {{ product.metafields.custom_fields["product_value_prop_3"] }}
    </div>
    <div class="pdp-value-prop">
      {{ product.metafields.custom_fields["product_value_prop_4"] }}
    </div>
  </section>
{% endif %}