{% if product.handle == 'extra-clarafuse-body' or product.handle == 'clarafuse-for-body-subscription' %}
<script>
  window.location.href = "/products/clarafuse-for-body";
</script>
{% elsif product.handle == 'extra-clarafuse-face' or product.handle == 'clarafuse-for-face-subscription' %}
<script>
  window.location.href = "/products/clarafuse-for-face";
</script>
{% elsif product.handle == 'extra-clarasome' or product.handle == 'clarasome-subscription' %}
<script>
  window.location.href = "/products/clarasome";
</script>
{% elsif product.handle == 'extra-claratone' or product.handle == 'claratone-subscription' %}
<script>
  window.location.href = "/products/claratone";
</script>
{% elsif product.handle == 'extra-claraprep' or product.handle == 'claraprep-subscription' %}
<script>
  window.location.href = "/products/claraprep";
</script>
{% elsif product.handle == 'claraline-subscription' %}
<script>
  window.location.href = "/products/claraline";
</script>
{% elsif product.handle == 'claralips-subscription' %}
<script>
  window.location.href = "/products/claralips";
</script>
{% elsif product.handle == 'complete-body-system-subscription' %}
<script>
  window.location.href = "/products/complete-body-system";
</script>
{% elsif product.handle == 'complete-face-system-subscription' %}
<script>
  window.location.href = "/products/complete-face-system";
</script>
{% elsif product.handle == 'clarafuse' %}
<script>
  window.location.href = "/products/clarafuse-for-body";
</script>
{% elsif product.handle == 'dermaclara-face-body-systems' or product.handle == 'ultimate-body-face-system-subscription' %}
<script>
  window.location.href = "/products/ultimate-body-face-system";
</script>
{% elsif product.handle == 'simply-floral-50ml-subscription' %}
<script>
  window.location.href = "/products/simply-floral-50ml";
</script>
{% endif%}