{% if product.metafields.custom_fields["related_products"] != blank %}
    <h3 style="text-align: center">For Best Results, Use With … </h3>

<div id="custom-related-new" class="related-product-wrapp row {%comment%}dk-show{%endcomment%}">
    {% assign product_refs = product.metafields.custom_fields["related_products"] | split: "|" %}
    {% for product_handle in product_refs %}
    {% assign product_ref = all_products[product_handle] %}

        <div class="col-item col-lg-3 col-md-3 col-xs-6 col-sm-6 col-12 text-center">
            <div class="product-img-border">
                <a href="{{ product_ref.url }}">
                    <img class="lazyload fade-in" data-src="{{ product_ref.featured_image | img_url: '250x' }}" alt="{{ product_ref.featured_image.alt | escape }}">
                </a>
            </div>
                <div class="product-detail">
                <a class="title-product" href="{{ product_ref.url }}">{{ product_ref.title }}</a>
                <p class="colle-description">{{product_ref.metafields.featured.describe}}</p>
                <span class="price"> {{ product_ref.price | money }}</span>
                <div class="reviews_count">
                    <span class="shopify-product-reviews-badge" data-id="{{ product_ref.id }}"></span>
                </div>
                <a class="btn" href="{{ product_ref.url }}">Shop Now</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}