{% assign number_of_products = 4 %}
{% assign number_of_products_to_fetch = 4 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}

{% assign collection = collections['shopping-page'] %}
{% assign limit_items = 4 %}

{% if collection and collection.products_count > 1 %}
<div class="row">
  <div class="related-prod-title section-header col-md-12 col-xs-12">
    {% if page.handle == 'results' %}
    <h3 class="section-header__title">Get Wow-Factor Results with These Products</h3>
    {% else %}
    <h3 class="section-header__title">You May Also Like</h3>
    {% endif %}
  </div>
</div>
<div id="custom-related-new" class="related-product-wrapp row {%comment%}dk-show{%endcomment%}">
  {% assign current_product = product %}
  {% assign current_product_found = false %}
  
  {% for product in collection.products %}
  {% if product.handle == current_product.handle and forloop.index < 5 %}
  {% assign current_product_found = true %}
  {% assign limit_items = 5 %}
  {% endif %}
  {% endfor %}
  
  {% for product in collection.products %}
  {% if product.handle == current_product.handle %}
  {% assign current_product_found = true %}
  {% else %}

  <div class="col-item col-lg-3 col-md-3 col-xs-6 col-sm-6 col-12 text-center">
    <div class="product-img-border">
      <a class="position-relative d-block" href="{{ product.url }}">
        <img class="lazyload fade-in position-absolute h-100" data-src="{{ product.featured_image | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div>
    <div class="product-detail">
      <a class="title-product" href="{{ product.url }}">{{ product.title }}</a>
      <p class="colle-description">{{ product.metafields.custom_fields["product_title_eyebrow"] }}</p>
      <span class="price"> {{ product.price | money }}</span>
      <div class="reviews_count">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      <a class="btn" href="{{ product.url }}">Shop Now</a>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>
{%comment%}
<div class="row tb-show">
  <div id="owl-whatyouget" class="owl-carousel owl-theme">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products limit: 4 %}
    {% if product.handle == current_product.handle %}
    {% assign current_product_found = true %}
    {% else %}

    <div class="col-item col-md-3 text-center">
      <div class="product-img-border">
        <a class="position-relative d-block" href="{{ product.url }}">
          <img class="lazy- position-absolute w-100 h-100" src="{{ product.featured_image | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </div>
      <div class="product-detail">
        <a class="title-product" href="{{ product.url }}">{{ product.title }}</a>
        <p class="colle-description">{{product.metafields.featured.describe}}</p>
        <span class="price"> {{ product.price | money }}</span>
        <div class="reviews_count">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}
  </div>
</div>
{%endcomment%}
{% endif %}

<style>
  #results .product-img-border a{
  	padding-top: 100%
  
  }
  #results .product-img-border a img{
  	width: 100%!important;
  
  }
</style>
<script>
  $('#custom-related-new .title-product').matchHeight({byRow: false});
</script>