
  
    
  

  
    {%- if layout == 'theme' -%}
      <script type="text/javascript" src="https://10.0.1.25:3001/layout.theme.js" defer="defer"></script>
    {%- else -%}
      <link rel="prefetch" href="https://10.0.1.25:3001/layout.theme.js" as="script">
    {%- endif -%}
    
  

  
    
  

  
    
    
      {%- if template == 'gift_card' -%}
        <script type="text/javascript" src="https://10.0.1.25:3001/template.gift_card.js" defer="defer"></script>
      {%- else -%}
        <link rel="prefetch" href="https://10.0.1.25:3001/template.gift_card.js" as="script">
      {%- endif -%}
    
  

  
    
  

  
    
    
      {%- if template == 'index' -%}
        <script type="text/javascript" src="https://10.0.1.25:3001/template.index.js" defer="defer"></script>
      {%- else -%}
        <link rel="prefetch" href="https://10.0.1.25:3001/template.index.js" as="script">
      {%- endif -%}
    
  

  
    
  

  
    
    
      {%- if template == 'product' -%}
        <script type="text/javascript" src="https://10.0.1.25:3001/template.product.js" defer="defer"></script>
      {%- else -%}
        <link rel="prefetch" href="https://10.0.1.25:3001/template.product.js" as="script">
      {%- endif -%}
    
  

  
    
  

  
    
    
      {%- if template == 'customers/addresses' -%}
        <script type="text/javascript" src="https://10.0.1.25:3001/template.addresses.js" defer="defer"></script>
      {%- else -%}
        <link rel="prefetch" href="https://10.0.1.25:3001/template.addresses.js" as="script">
      {%- endif -%}
    
  

  
    
  

  
    
    
      {%- if template == 'customers/login' -%}
        <script type="text/javascript" src="https://10.0.1.25:3001/template.login.js" defer="defer"></script>
      {%- else -%}
        <link rel="prefetch" href="https://10.0.1.25:3001/template.login.js" as="script">
      {%- endif -%}
    
  

