<div id="section-instagram">
  <div class="container">
    <div class="row align-items-center">
      <h3 class="col-md-12 text-center">Instagram <a class="btn" target="_blank" href="https://www.instagram.com/dermaclara/">Follow Us</a></h3>
    </div>
    {% assign link = '{{link}}' %}
    {% assign url = '{{image}}' %}
    {% assign caption = '{{caption}}' %}
    <div id="instafeed" class="row">
    </div>
    <script type="text/javascript">

      $(document).ready(function() {  
        var userFeed = new Instafeed({
          get: 'user',
          limit: 12,
          userId: 2209962577,
          accessToken: '2209962577.1677ed0.3de4a1095e304899badfbdd599f50a5d',
          resolution: 'standard_resolution',
          template: '<div class="ins-item col-6 col-xs-6 col-sm-6 col-md-2 col-lg-2"><a target="_blank" href="{{link}}" rel="gallery1" title="{{ caption }}"><span class="wrapper-img"><span class="wrapper-img-chill"><img class="instagram-image fade-in lazyload" data-src="{{ url }}" /></span></span></a></div>'
        });
        userFeed.run();
      });
    </script>
  </div>
</div>