<div id="section-blog">
  <div class="container">
    <div class="row">
      {% for article in blogs.news.articles limit:4 %}
      <div class="col-post col-md-3 col-sm-6 col-12">
        <div class="image-thumb">
          <a class="post_thumbnail" href="{{ article.url }}">
            {% if article.image %}
            <img class="fade-in lazyload" data-src="{{ article.image | img_url: '255x' }}" />
            {% else %}
            {% if article.content contains '</iframe>' %}
            {% assign my_video_url = article.content | escape %}
            {% if my_video_url contains 'iframe' %}
            {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
            {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
            {% assign my_video_url = my_video_url[0] %}
            <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
            {% endif %} 
            {% else %}
            {% assign my_image_url=article.content | escape %}
            {% if my_image_url contains '&lt;img' %}
            {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
            {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
            {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
            {% assign my_image_url = my_image_url | remove: 'http:' %}
            {% assign my_image_url = my_image_url | remove: 'https:' %}
            <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
            {% else %}
            <img class="fade-in lazyload" data-src="{{ 'no-image.png' | asset_url }}" />
            {% endif %}
            {% endif %}
            {% endif %}
          </a>
        </div>
        <div class="post-dt">
          <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
          <a href="{{ article.url }}">{{ article.title }}</a>
          <div>{{ article.content | strip_html | truncatewords: 14 }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>