<div class="shop-now">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="re-title">Shop Our #1 Skincare Collection</h1>
        <a class="btn" href="/collections/shopping-page">SHOP NOW</a>
      </div> 
    </div>
  </div>
</div>

<style>
  .shop-now {
    background: #fcfcfc ;
    padding: 60px 0;
  }

  .shop-now  h1.re-title {
    
  }

  .shop-now a.btn {
    background: #1e1e1e;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    line-height: 50px;
    height: 50px;
    max-width: 250px;
    margin-top: 25px;
  }

  .shop-now a.btn:hover,
  .shop-now a.btn:focus {
    border: 1px solid #f5f5f5;
    background: #be9764;
    color: #fff;
  }

</style>