<div id="section-icon-row">
  <div class="container">
    <div class="row">
      <div class="box-s box-s-1 col-md-4 text-center">
        {% include 'icon-process' %}
        <h3>The Process</h3>
        <p>Apply <i class="font-cri">clarafuse</i> silicone patches to clean skin, then wear for an hour, or overnight for wow-factor results. Each patch can be used up to 30 times, making it a cost-effective and easy way to treat both wrinkles and stretch marks. Our patches are perfectly shaped for your face and body.</p>
      </div>
      <div class="box-s box-s-2 col-md-4 text-center">

        {% include 'icon-result' %}
        <h3>The Results</h3>
        <p>You’ll notice tighter, healthier, clearer skin. Scars look faded and stretch marks look diminished. Be proactive: Use patches to prevent wrinkles, too!</p>
      </div>
      <div class="box-s box-s-3 col-md-4 text-center">
        {% include 'icon-science' %}
        <h3>The Science</h3>
        <p>Dermaclara Beauty™ uses the occlusion process (we call it Silicone Fusion™), which creates a microclimate that draws up moisture to the surface of the skin, helping to heal wrinkles and stretch marks. Silicone Fusion™ is clinically proven to change your skin for the better.</p>
      </div>
    </div>
  </div>
</div>