<div id="section-product-list" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-title">Dermatologist-Approved Products</h1>
      </div>
    </div>
    <div class="row">
      {% for product in collections.shopping-page.products limit:6 %}
      <div class="col-item col-md-4 text-center {% cycle 'one', 'two', 'three' %}">
        <div class="product-img-border">
          <a href="{{ product.url }}">
            <img class="fade-in lazyload" data-src="{{ product.featured_image | img_url: '250x' }}" alt="{{ product.featured_image.alt | escape }}">
          </a>
        </div>
        <div class="product-detail">
          <a class="title-product" href="{{ product.url }}">{{ product.title }}</a>
          <p class="colle-description">{{ product.metafields.custom_fields["product_title_eyebrow"] }}</p>
          <span class="price">
          {% if product.metafields.subscriptions.subscription_id  %}
            ${{ product.variants[0].metafields.subscriptions.discount_variant_price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
          </span>
          <div class="reviews_count">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a class="btn" href="/collections/shopping-page">Shop</a>
      </div>
    </div>
  </div>
</div>

