<div id="section-slide-derma">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="owl-slide-derma" class="owl-carousel owl-theme">
          <div class="item">
            <img class="lazyload fade-in" alt="" data-src="{{ 'slider-1.jpg' | asset_img_url: '930x' }}" />
            <div class="owl-caption">
              <h3>{{ settings.slide_system_title_1 }}</h3>
              <p>{{ settings.slide_system_content_1 }}</p>
              <a class="btn" href="{{ settings.slide_system_link_1 }}">Shop</a>
            </div>
          </div>
          <div class="item">
            <img class="lazyload fade-in" alt="" data-src="{{ 'slider-2.jpg' | asset_img_url: '930x' }}" />
            <div class="owl-caption">
              <h3>{{ settings.slide_system_title_2 }}</h3>
              <p>{{ settings.slide_system_content_2 }}</p>
              <a class="btn" href="{{ settings.slide_system_link_2 }}">Shop</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

