<div id="hero-wrapp">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="caption">
          <h1>{{ settings.promo_title }}</h1>
          <p>{{ settings.promo_text_content }}</p>
          <a class="btn learn-more" href="{{ settings.promo_learn_more_link }}">Results</a>
          <a class="btn shop-now" href="{{ settings.promo_shop_link }}">Shop</a>
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="hero-image">
          <img class="fade-in lazyload" data-src="{{ 'hero-img.png' | asset_img_url: '342x' }}" alt="Dermaclara" />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #hero-wrapp {
    background-color: #C2E7E4;
  }
  #hero-wrapp .hero-image img {
    display: block;
    margin: 0 auto;
  }
  #hero-wrapp .caption {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  #hero-wrapp .caption h1 {
    color: #556BAB;
    line-height: 70px;
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 20px;
  }
  #hero-wrapp .caption p {
    font-size: 20px;
    line-height: 30px;
    color: #494949;
    font-weight: 300;
    margin: 0 0 30px;
  }
  #hero-wrapp .caption .btn {
    display: inline-block;
  }
  #hero-wrapp .caption .btn.learn-more {
    margin-right: 20px;
  }

  @media screen and (max-width: 1199px) {

    #hero-wrapp .caption h1 {
      line-height: 40px;
      font-size: 36px;
    }
    #hero-wrapp .caption p {
      font-size: 16px;
      line-height: 26px;
    }
    #hero-wrapp .caption {
      top: 40%;
    }

  }

  @media screen and (max-width: 991px) {
    #hero-wrapp .hero-image img {
      max-width: 100%;
    }

    #hero-wrapp .caption h1 {
      line-height: 34px;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    #hero-wrapp {
      min-height: 460px;
      background-image: url({{ 'hero-img.png' | asset_url }});
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: right bottom;
    }
    #hero-wrapp .caption .btn.shop-now {
      margin-right: 20px;
      margin-bottom: 20px;
    }
    #hero-wrapp .caption .btn.learn-more {
    margin-bottom: 15px;
}
    #hero-wrapp .hero-image {
      display: none;
    }
    #hero-wrapp .caption {
      padding-top: 20%;
      padding-right: 57%;
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
    #hero-wrapp .caption h1 {
      line-height: 36px;
      font-size: 32px;
    }
  }

  @media screen and (max-width: 639px) {
    #hero-wrapp {
      background-position: 118% bottom;
    }
    #hero-wrapp .caption h1 {
      line-height: 44px;
      font-size: 34px;
    }
    #hero-wrapp .caption p {
      font-size: 18px;
      line-height: 28px;
      padding-right: 0;
    }
    #hero-wrapp .caption {
      padding-right: 50%;
    }
  }

  @media screen and (max-width: 479px) {
    #hero-wrapp .caption h1 {
      line-height: 34px;
      font-size: 26px;
      margin: 0 0 15px;
    }
    #hero-wrapp .caption p {
      font-size: 14px;
      line-height: 24px;
      margin: 0 0 20px;
    }
    #hero-wrapp {
      min-height: 330px;
    }
    #hero-wrapp .caption {
      padding-top: 9%;
      padding-right: 50%;
    }

  }

  @media screen and (max-width: 374px) {
    #hero-wrapp .caption h1 {
      line-height: 28px;
      font-size: 22px;
    }
    #hero-wrapp {
      min-height: 324px;
    }
  }


</style>