{% if settings.footer_newsletter_enable %}
<div id="section-newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Newsletter</h3>
        <p>Let's keep in touch</p>
        {% include 'newsletter-form' %}
      </div>
    </div>
  </div>
</div>
{% endif %}