<div id="section-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-title">What Customers Say</h1>
      </div>
    </div>
    <div class="row">
      <div id="owl-home-testimonial" class="owl-carousel owl-theme">
        <div class="testi-it item">
          <p>My stomach was a mess after having my eight-pound baby girl! I had stretch marks on my hips, butt, and stomach. I used Dermaclara Beauty <i class="font-cri">clarafuse</i> for a month and noticed a dramatic difference in my stretch marks! They’ve faded so much, and I’m confident enough to rock a two-piece bathing suit again!</p>
          <span class="testi-name">- Marissa W.</span>
        </div>
        <div class="testi-it item">
          <p>I recently hit the big 3-0 and was thinking about getting Botox. One of my friends told me about Silicone Fusion Technology and how it could help me prevent needing it. Boy, was she right! I use the face patches almost nightly. My skin still looks good! I’m telling all my friends to forget about getting expensive injectables and telling them to use these patches instead!</p>
          <span class="testi-name">- Gemma P.</span>
        </div>
        <div class="testi-it item">
          <p>Finally, skincare for millennials! I’ve used other skincare lines, but they feel too heavy and like they were clogging my pores. Dermaclara Beauty is perfect for me! I use the <i class="font-cri">clarafuse</i> patches and both serum and moisturizer, and my skin has never looked better! At this rate, maybe I can avoid a facelift when I’m older!</p>
          <span class="testi-name">- Kari T.</span>
        </div>
      </div>

    </div>
  </div>
</div>