<div id="section-icon-row">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-title">{{ settings.our_system_title }}</h1>
      </div>
    </div>
    {%comment%}
    <div class="row">
      <div class="box-s box-s-1 col-md-4 text-center">
        <a href="{{ settings.system_link_1 }}"><img src="{{ 'face-system.jpg' | asset_url }}" alt="Dermaclara" /></a>
        <a href="{{ settings.system_link_1 }}"><h3>Face System</h3></a>
        <a class="btn" href="{{ settings.system_link_1 }}">Shop</a>
      </div>
      <div class="box-s box-s-2 col-md-4 text-center">
        <img class="fade-in lazyload" data-src="{{ 'body-system.jpg' | asset_url }}" alt="Dermaclara" />
        <h3>Body System</h3>
        <a class="btn" href="{{ settings.system_link_2 }}">Shop</a>
      </div>
      <div class="box-s box-s-3 col-md-4 text-center">
        <img class="fade-in lazyload" data-src="{{ 'face-body-system.jpg' | asset_url }}" alt="Dermaclara" />
        <h3>Face + Body System</h3>
        <a class="btn" href="{{ settings.system_link_3 }}">Shop</a>
      </div>
    </div>
    {%endcomment%}
    <div class="row">
      <div id="owl-system-box" class="owl-system-box col-md-12">
        {% for i in (1..3) %}
        {% capture system_show_slide %}system_box_show_{{ i }}{% endcapture %}
        {% capture image %}system_box_img_{{ i }}.jpg{% endcapture %}
        {% capture rollover_image %}system_box_img_rollover_{{ i }}.jpg{% endcapture %}
        {% capture title %}system_box_title_{{ i }}{% endcapture %}
        {% capture link %}system_box_link_{{ i }}{% endcapture %}
        {% if settings[system_show_slide] %}
        <div class="box-s box-s-{{i}} text-center">
          <a href="{{ settings[link] | escape }}"><img class="defaul-image lazyload fade-in" data-src="{{ image | asset_img_url: '295x' }}" alt="Dermaclara" /></a>
          <a href="{{ settings[link] | escape }}"><img class="rollover-image" src="{{ rollover_image | asset_img_url: '295x' }}" alt="Dermaclara" /></a>
          <a href="{{ settings[link] | escape }}"><h3>{{ settings[title] | escape }}</h3></a>
          <a class="btn" href="{{ settings[link] | escape }}">Shop</a>
        </div>
        {% endif %}
        {% endfor %}   
      </div>
    </div>
  </div>
</div>