{% assign product = all_products['ultimate-body-face-system'] %}
{% assign pro_sub = all_products['ultimate-body-face-system-subscription'] %}
<div id="home-product" class="product-single template-item {{ product.handle }}">
  <div class="container product-single__hero">
    <div class="row">
      <div class="prod-image col-lg-7 col-md-12 col-sm-12 col-xs-12">

        {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}

        <div class="product-single__photos {% if product.images.size > 1 %}hidden-mb{% endif %}" id="ProductPhoto">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img class="fade-in lazyload" data-src="{{ featured_image | img_url: '600x' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          {% if product.handle contains 'advanced' %}
          <div class="best-value">best-value</div>
          {% endif %}
        </div>

        {% if product.images.size > 1 %}

        <div id="ProductThumbs" class="product-single__thumbnails owl-carousel owl-theme">
          {% for image in product.images %}
          <div class="item">
            <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '600x' }}" class="product-single__thumbnail">
              <img class="fade-in lazyload" data-src="{{ image.src | img_url: '600x' }}" alt="{{ image.alt | escape }}">
            </a>
          </div>
          {% endfor %}
        </div>

        {% endif %}

        {% else %}

        <div class="grid">

          <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
            <img class="fade-in lazyload" data-src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>

          <div class="grid__item one-fifth">
            <ul class="grid product-single__thumbnails" id="ProductThumbs">
              {% for image in product.images %}
              <li class="grid__item">
                <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '600x' }}" class="product-single__thumbnail">
                  <img class="fade-in lazyload" data-src="{{ image.src | img_url: '600x' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>

        {% endif %}

        {% if settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '600x' }}"></li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
      <div data-prdid="{{product.id}}" class="prod-detail col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <div class="product-title-wrapp">
          {% comment %}
          <h3>{{ product.vendor }}</h3>
          {% endcomment %}
          <p class="meta-text">{{product.metafields.featured.text}}</p>
          <h1 class="prod-item-title" itemprop="name">{{ product.title }}</h1>
          <span class="seal-proven"></span>
        </div>
        <div class="product-single__prices">
          <h4 class="price {{product.id}}">
            <span class="current-price">{{ product.price | money }}</span>
            {% if product.compare_at_price > product.price %}
            <span class="cost-price">({{ product.compare_at_price_max | money | remove: '.00' }} value)</span>
            {% endif %}
          </h4>
          <p class="meta-size">{{product.metafields.featured.mililit}}</p>
        </div>
        <div class="reviews_count">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>

        {% include 'product-form-v2' %}

      </div>
    </div>

  </div>
</div>

<style>
/* subscription widget styles*/

section.rc_container {
  border: 1px solid #E3E3E3;
  margin: 20px 0 25px !important;
  padding: 18px 20px 10px 20px !important;
}

@media screen and (max-width: 369px) {
  #AddToCart {
    width: 177px;
  }
}

@media screen and (min-width: 768px) {
  section.rc_container {
      width: 104% !important;
  }
  #AddToCart {
    width: 575px !important;
  }
}

@media screen and (min-width: 990px) {
  #AddToCart {
    width: 258px !important;
  }
}

input[type="radio" i]:checked:after {
    background-color: #ffa500 !important;
    border: 2px solid white !important;
}

@media screen and (min-width: 1200px) {
    #AddToCart {
      width: 335px !important;
    }
}

.rc_discount_percentage {
  display: none;
}

.rc_select {
  display: none;
}

div.rc_popup {
  display: none;
}

span.rc_label_text, span.rc_one_time_price, span.rc_discount_price {
  font-weight: normal;
  font-size: 14px;
  font-family: 'Poppins',sans-serif !important;
}

label.rc_label {
  display: flex;
}

input.rc_radio {
  order: 1;
  margin-top: 1px;
  margin-right: 6px;
}

span.rc_label_text {
  order: 3;
}

span.rc_one_time_price, span.rc_discount_price {
  order: 2;
  padding-right: 3px;
}

@media screen and (min-width: 768px) {
  span.rc_label_text, span.rc_one_time_price, span.rc_discount_price {
    font-size: 16px;
  }
  input.rc_radio {
    margin-top: 3px;
  }
}
</style>