<div id="section-derma-shop">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
            <div class="content-box">
              <h5>dermatologist approved</h5>
              <h3>Ultimate Face & Body System</h3>
              <p>Experience the clinically proven magic of the Ultimate Face + Body System.</p>
              <p>Our youth scientists make it easy and painless to treat and prevent wrinkles and stretch marks. See results in just hours!</p>
              <a class="btn" href="/collections/shopping-page">Shop Now</a>
            </div>
          </div>
          <div class="tb-show col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img alt="dermaclara" src="{{ 'section2-right-1.jpg' | asset_url }}" />
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img alt="dermaclara" src="{{ 'section2-left-1.jpg' | asset_url }}" />
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img alt="dermaclara" src="{{ 'section2-left-2.jpg' | asset_url }}" />
          </div>
        </div>
      </div>
      <div class="dk-show col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <img alt="dermaclara" src="{{ 'section2-right-1.jpg' | asset_url }}" />
      </div>
    </div>
  </div>
</div>
