<div id="section-as-seen-on">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-title">As Seen On</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="asseenon-logo align-items-center">
          <img class="sh-dk fade-in lazyload" alt="" data-sizes="auto" 

                                                     data-srcset="{{ 'as-seen-on-logo.png' | asset_img_url: "510x" }} 576w ,
                                                               {{ 'as-seen-on-logo.png' | asset_img_url: "630x" }} 768w ,
                                                               {{ 'as-seen-on-logo.png' | asset_img_url: "930x" }} 992w ,
                                                               {{ 'as-seen-on-logo.png' | asset_img_url: "1110x" }} 1200w" />
          <img class="sh-mb fade-in lazyload" alt="" data-src="{{ 'asseenon-mobile.png' | asset_img_url: "240x" }}" />
        </div>
      </div>
    </div>
  </div>
</div>