<?xml version="1.0" encoding="UTF-8"?>
<svg width="26px" height="29px" viewBox="0 0 26 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-1122.000000, -1319.000000)" fill="#5FC8C8">
            <g id="Group-7" transform="translate(133.000000, 1316.000000)">
                <path d="M1012.11111,5.88888889 L1010.66667,5.88888889 L1010.66667,3 L1007.77778,3 L1007.77778,5.88888889 L996.222222,5.88888889 L996.222222,3 L993.333333,3 L993.333333,5.88888889 L991.888889,5.88888889 C990.285556,5.88888889 989.014444,7.18888889 989.014444,8.77777778 L989,29 C989,30.5888889 990.285556,31.8888889 991.888889,31.8888889 L1012.11111,31.8888889 C1013.7,31.8888889 1015,30.5888889 1015,29 L1015,8.77777778 C1015,7.18888889 1013.7,5.88888889 1012.11111,5.88888889 L1012.11111,5.88888889 Z M1012.11111,29 L991.888889,29 L991.888889,13.1111111 L1012.11111,13.1111111 L1012.11111,29 L1012.11111,29 Z M994.777778,16 L1002,16 L1002,23.2222222 L994.777778,23.2222222 L994.777778,16 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>