<?xml version="1.0" encoding="UTF-8"?>
<svg width="35px" height="30px" viewBox="0 0 35 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-700.000000, -1316.000000)" fill="#556BAB">
            <g id="Group-7" transform="translate(133.000000, 1316.000000)">
                <path d="M587,0 C578.716667,0 572,6.71666667 572,15 L567,15 L573.483333,21.4833333 L573.6,21.7166667 L580.333333,15 L575.333333,15 C575.333333,8.55 580.55,3.33333333 587,3.33333333 C593.45,3.33333333 598.666667,8.55 598.666667,15 C598.666667,21.45 593.45,26.6666667 587,26.6666667 C583.783333,26.6666667 580.866667,25.35 578.766667,23.2333333 L576.4,25.6 C579.116667,28.3166667 582.85,30 587,30 C595.283333,30 602,23.2833333 602,15 C602,6.71666667 595.283333,0 587,0 L587,0 Z M585.333333,8.33333333 L585.333333,16.6666667 L592.466667,20.9 L593.666667,18.8833333 L587.833333,15.4166667 L587.833333,8.33333333 L585.333333,8.33333333 L585.333333,8.33333333 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>