<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="24px" viewBox="0 0 32 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-292.000000, -1320.000000)" fill="#E38065">
            <g id="Group-7" transform="translate(133.000000, 1316.000000)">
                <g id="values" transform="translate(0.000000, 4.000000)">
                    <path d="M186.636364,5.81818182 L182.272727,5.81818182 L182.272727,9.09494702e-13 L161.909091,9.09494702e-13 C160.309091,9.09494702e-13 159,1.30909091 159,2.90909091 L159,18.9090909 L161.909091,18.9090909 C161.909091,21.3236364 163.858182,23.2727273 166.272727,23.2727273 C168.687273,23.2727273 170.636364,21.3236364 170.636364,18.9090909 L179.363636,18.9090909 C179.363636,21.3236364 181.312727,23.2727273 183.727273,23.2727273 C186.141818,23.2727273 188.090909,21.3236364 188.090909,18.9090909 L191,18.9090909 L191,11.6363636 L186.636364,5.81818182 L186.636364,5.81818182 Z M166.272727,21.0909091 C165.065455,21.0909091 164.090909,20.1163636 164.090909,18.9090909 C164.090909,17.7018182 165.065455,16.7272727 166.272727,16.7272727 C167.48,16.7272727 168.454545,17.7018182 168.454545,18.9090909 C168.454545,20.1163636 167.48,21.0909091 166.272727,21.0909091 L166.272727,21.0909091 Z M185.909091,8 L188.76,11.6363636 L182.272727,11.6363636 L182.272727,8 L185.909091,8 L185.909091,8 Z M183.727273,21.0909091 C182.52,21.0909091 181.545455,20.1163636 181.545455,18.9090909 C181.545455,17.7018182 182.52,16.7272727 183.727273,16.7272727 C184.934545,16.7272727 185.909091,17.7018182 185.909091,18.9090909 C185.909091,20.1163636 184.934545,21.0909091 183.727273,21.0909091 L183.727273,21.0909091 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>