{% assign result_slides ="Body,Eyes,Mouth,Forehead" %}
{% assign result_slides = result_slides|split:"," %}
{% comment %}
<div class="results-video-titles">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-12 col-sm-12">
        <ul>
          {% for i in (1..result_slides.size) %}
          {%assign j=i|minus:1%}
          <li><a href="javascript:void(0);" title="{{result_slides[j]}}" slide="{{i}}" class="{% if forloop.first %}active{%endif%} active-result-slide-{{i}} no-scroll">{{result_slides[j]}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

<div id="results-video-slide" class="results-video-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-0 col-md-12 col-xs-12 col-sm-12">
        {% for e in (1..result_slides.size) %}
        <div class="results-video-slide-wrapp results-video-slide-{{e}}" {%unless forloop.first%}style="display:none"{%endunless%}>
          <div id="sync1-{{e}}" class="owl-carousel">
            {% for i in (1..5) %}
            {% case e %} 
            {% when 1 %}
            {% capture show_slide %}results_chest_img_{{ i }}{% endcapture %}
            {% capture image %}results_chest_img_{{ i }}.png{% endcapture %}
            {% capture image_mobile %}results_chest_img_480_{{ i }}.png{% endcapture %}
            {% when 2 %}
            {% capture show_slide %}results_eyes_img_{{ i }}{% endcapture %}
            {% capture image %}results_eyes_img_{{ i }}.png{% endcapture %}
            {% capture image_mobile %}results_eyes_img_480_{{ i }}.png{% endcapture %}
            {% when 3 %}
            {% capture show_slide %}results_mouth_img_{{ i }}{% endcapture %}
            {% capture image %}results_mouth_img_{{ i }}.png{% endcapture %}
            {% capture image_mobile %}results_mouth_img_480_{{ i }}.png{% endcapture %}
            {% when 4 %}
            {% capture show_slide %}results_forehead_img_{{ i }}{% endcapture %}
            {% capture image %}results_forehead_img_{{ i }}.png{% endcapture %}
            {% capture image_mobile %}results_forehead_img_480_{{ i }}.png{% endcapture %}
            {% else %}
            {% endcase %}
            {% if settings[show_slide] %}
            <div class="item">
              <img class="show-750-up lazyOwl" src="{{ image | asset_url }}" alt="" />
              <img class="show-480 lazyOwl" src="{{ image_mobile | asset_url }}" alt="" />
            </div>
            {% endif %}
            {% endfor %}    
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".results-video-titles li a").click(function(){
      $(".results-video-titles li a").removeClass('active');
      $(this).addClass('active');
      var slide = $(this).attr('slide');
      $('#results-video-slide .results-video-slide-wrapp').hide();
      $('#results-video-slide .results-video-slide-'+slide).show();
    });
  });

  {% for i in (1..result_slides.size) %}
  $(document).ready(function() {
    var sync1 = $("#sync1-{{i}}");
                  var sync2 = $("#sync2-{{i}}");
                  sync1.owlCarousel({
                  items : 1,
                  itemsDesktop : [1199,1],
                  itemsDesktopSmall : [991,1],
                  itemsTablet       : [768,1],
                  itemsMobile       : [639,1],
                  singleItem : false,
                  slideSpeed : 1000,
                  navigation: true,
                  pagination:true,
                  lazyLoad : true,
                  afterAction : syncPosition,
                  responsiveRefreshRate : 200,
                  loop:true
                  });

    sync2.owlCarousel({
      items : 12,
      itemsDesktop      : [1199,12],
      itemsDesktopSmall     : [979,12],
      itemsTablet       : [768,8],
      itemsMobile       : [639,5],
      navigation: true,
      pagination:false,
      responsiveRefreshRate : 100,
      afterInit : function(el){
        el.find(".owl-item").eq(0).addClass("synced");
      }
    });

    function syncPosition(el){
      var current = this.currentItem;
      $("#sync2")
      .find(".owl-item")
      .removeClass("synced")
      .eq(current)
      .addClass("synced")
      if($("#sync2").data("owlCarousel") !== undefined){
        center(current)
      }
    }

    $("#sync2").on("click", ".owl-item", function(e){
      e.preventDefault();
      var number = $(this).data("owlItem");
      sync1.trigger("owl.goTo",number);
    });

    function center(number){
      var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
      var num = number;
      var found = false;
      for(var i in sync2visible){
        if(num === sync2visible[i]){
          var found = true;
        }
      }
      if(found===false){
        if(num>sync2visible[sync2visible.length-1]){
          sync2.trigger("owl.goTo", num - sync2visible.length+2)
        }else{
          if(num - 1 === -1){
            num = 0;
          }
          sync2.trigger("owl.goTo", num);
        }
      } else if(num === sync2visible[sync2visible.length-1]){
        sync2.trigger("owl.goTo", sync2visible[1])
      } else if(num === sync2visible[0]){
        sync2.trigger("owl.goTo", num-1)
      }
    }
  });
  {% endfor %}
</script>