<ul class="inline-list social-icons">

  {% if settings.social_facebook_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
      <span class="fa fa-facebook" aria-hidden="true"></span>
      <span class="fallback-text">Facebook</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
      <span class="fa fa-twitter" aria-hidden="true"></span>
      <span class="fallback-text">Twitter</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
      <span class="fa fa-pinterest-p" aria-hidden="true"></span>
      <span class="fallback-text">Pinterest</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_google_plus_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_google_plus_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}" rel="publisher">
      <span class="icon icon-google" aria-hidden="true"></span>
      <span class="fallback-text">Google</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
      <span class="fa fa-instagram" aria-hidden="true"></span>
      <span class="fallback-text">Instagram</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
      <span class="icon icon-tumblr" aria-hidden="true"></span>
      <span class="fallback-text">Tumblr</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
      <span class="fa fa-youtube" aria-hidden="true"></span>
      <span class="fallback-text">YouTube</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
      <span class="icon icon-vimeo" aria-hidden="true"></span>
      <span class="fallback-text">Vimeo</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_fancy_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
      <span class="icon icon-fancy" aria-hidden="true"></span>
      <span class="fallback-text">Fancy</span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_rss_link != blank %}
  <li>
    <a class="icon-fallback-text" target="_blank" href="{{ settings.social_rss_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'RSS' }}">
      <span class="icon icon-rss" aria-hidden="true"></span>
      <span class="fallback-text">RSS</span>
    </a>
  </li>
  {% endif %}
  {%comment%}
  {% unless template contains 'blog' or template contains 'article' %}
  <li>
    <a class="icon-fallback-text" href="/blogs/news" title="Blog">
      <span class="blog-icon" aria-hidden="true">BLOG</span>
      <span class="fallback-text">BLOG</span>
    </a>
  </li>
  {% endunless %}
  {%endcomment%}
</ul>