<script>
  var apiHeader = {
    Accept: 'application/json, text/javascript, /; q=0.01',
    'Access-Control-Allow-Origin': '*',
    'Access-Control-Allow-Headers': '*',
    'Content-Type': 'application/json',
    'Cache-Control': 'must-revalidate',
    'Cache-Control': 'no-cache',
    'Cache-Control': 'no-store',
    Pragma: 'no-cache',
    crossDomain: true,
  };
  isSubscriptionsLoaded= false;
  isSubscriptionsCanceled = false;
  var skip_shipment = {
    dateFormate: '',
    nextChargeDate: '',
    textSkip:null,
  };  
  var customerDetails= null;
  var addresses= null;
  var subscriptions = {};
  var currentSubscription = {};
  var currentSubscriptionAddress = {};
  var updatedVariant = {};
  var swapPrdId = null;
  

  function init_rechargedashboard() {
    new Shopify.CountryProvinceSelector('AddressCountry', 'AddressProvince', {
          hideElement: 'AddressProvinceContainer',
    });
    $('body').on('keyup blur change','[data-address-box] input,[data-address-box] select',function(e) {
      $('[data-editAddBtn]').show();
    });
    getCustomerID();
  };
 
  // get customer id 
  function getCustomerID(){
    var config = {
        "url": "/customers?email="+theme.settings.customerEmail,
        "method": "GET"                    
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){           
          if (getdata.customers[0] != undefined) {
            customerDetails = getdata.customers[0];
            getSubscriptionAddresses();
          } else {
            $('[data-subscriptions]').html('<p style="margin:15px 0;">You dont have any subscriptions yet <a href="/collections/shopping-page">Shop now</a></p>');
          }
        }
    });
  };

  // get subscription addresses
  function getSubscriptionAddresses(){
    var config = {
        "url": '/customers/'+customerDetails.id+'/addresses',
        "method": "GET"
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){
          addresses = getdata.addresses;
          getSubscriptionOrder();            
          return getdata;
        }
    });    
  }

  // get all subscriptions details
  function getSubscriptionOrder(){
    isSubscriptionsLoaded = false;
    var config = {
      "url": '/subscriptions?shopify_customer_id='+theme.settings.customersID,
      "method": "GET"
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){
          subscriptions = getdata.subscriptions;
          var html ='';
          $('[data-subscriptions]').html('');
          if(subscriptions.length == 0){
            $('[data-subscriptions]').html("<p style='margin:15px 0;'>You don't have any subscriptions yet <a href='/collections/shopping-page'>Shop now</a></p>");
          } else{
              $.each(subscriptions, (index, subscription) => {
                 var price = subscription.price;
                var formate_date1 = subscription.next_charge_scheduled_at;
                  if(formate_date1 != null){
                    var final_date = moment(formate_date1.replace(/-/g, '\/').replace(/T.+/, '')).format('MMM D YYYY');
                  }
                if(subscription.status == 'ACTIVE'){
                  html +=  '<div data-'+subscription.address_id+' class="row">'+
                  '<div class="col-sm-4 order-img"><div class="order-image-info"><h6>'+subscription.product_title.split('1')[0]+'</h6></div> <div class="shipping show-only-mobile"> <p>'+subscription.order_interval_frequency+' '+subscription.order_interval_unit+'s</p><p><i>Next Shipment</i></p><p><i>'+final_date+'</i></p> </div></div>'+
                  '<div class="status col-sm-2"><p class="total show-only-mobile">$'+price+'</p><p>'+subscription.status+'</p></div>'+
                  '<div class="shipping col-sm-3"> <p>'+subscription.order_interval_frequency+' '+subscription.order_interval_unit+'s</p><p><i>Next Shipment</i></p><p><i>'+final_date+'</i></p> </div>'+
                  '<div class="total col-sm-1"><p>$'+price+'</p></div>'+
                  '<div class="action col-sm-2"><a href="javascript:void(0);" class="btn btn-v2 btn-design" onclick="getCurrentsubscription('+subscription.id+')">EDIT</a></div>'+
                  '</div>';
                } else if (subscription.status == 'CANCELLED'){
                  html +=  '<div class="row">'+
                  '<div class="col-sm-4 order-img cancelled-sub"><div class="order-image-info"><h6>'+subscription.product_title.split('1')[0]+'</h6></div> <div class="shipping show-only-mobile cancelled-sub"> <p>'+subscription.order_interval_frequency+' '+subscription.order_interval_unit+'s</p><p><i>Next Shipment</i></p><p><i>'+final_date+'</i></p> </div> </div>'+
                  '<div class="status col-sm-2 cancelled-sub"><p class="total cancelled-sub show-only-mobile">$'+price+'</p><p>'+subscription.status+'</p></div>'+
                  '<div class="shipping col-sm-3 cancelled-sub"> <p>'+subscription.order_interval_frequency+' '+subscription.order_interval_unit+'s</p><p><i>Next Shipment</i></p><p><i>'+final_date+'</i></p> </div>'+
                  '<div class="total col-sm-1 cancelled-sub"><p>$'+price+'</p></div>'+
                  '<div class="action col-sm-2"><a href="javascript:void(0);" class="btn btn-v2 btn-design" onclick="reactiveSubscription(event,'+subscription.id+')">Reactive</a></div>'+
                  '</div>';
                  }
                
                  if(subscription.image != undefined){
                    setTimeout(function(){
                       $('[data-'+subscription.address_id+']').find('.order-img').prepend("<img data-order-img src="+subscription.image+"/>");
                    },1000)
                  } 
                else{
                    setTimeout(function(){
                    	$('[data-'+subscription.address_id+']').find('.order-img').prepend('<img data-order-img src="//cdn.shopify.com/s/files/1/1009/6506/t/129/assets/logo.png"/>');
                    },1000);
                  }
              });
          }
          $("[data-subscriptions]").append(html);
          isSubscriptionsLoaded = true;
        }
    });    
  };
 
  // get current subscription details
  function getCurrentsubscription(subcriptionId){
    $('body').css('overflow','hidden');
    $('[data-modal]').show();
    $('[data-edit-subscription]').show();
    $('.selectFrq').prop('disabled','disabled');
    $.each(subscriptions, (index, subscription) => {
      if(subscription.id == subcriptionId){
        currentSubscription = subscription;
        getCurrentSubAddress(currentSubscription.address_id);
      }
    });
  };

  // get new swap product
  function getSelectedPrd(event){
    $('.selectFrq').prop('disabled','disabled');
    $(event.currentTarget).closest('.grid__item').find('.selectFrq').prop('disabled',false);
    $('.individual-option').removeClass('active');
    $(event.currentTarget).closest('.item').find('.individual-option').addClass('active'); 
    swapPrdId =  $(event.currentTarget).val();
    if($(event.currentTarget).closest('.grid__item').find('.selectFrq').val() == 'Please select plan'){
    	$('[data-changePrdbtn]').hide();  
    } else{
    	$('[data-changePrdbtn]').show();
    }
    const swapproductObj = $('[data-'+swapPrdId+'-json]').html().trim();
    const productData = JSON.parse(swapproductObj);
    updatedVariant = productData.variant;
    updatedVariant.metafields = productData.metafields;
  }

 // get new swap product details
  function getChangedPrd(){
    $('[data-changePrdbtn]').show();
  }

 // add new product to subscription
  function swapSubscriptionprdAPI(e){
    $('[data-changePrdbtn]').addClass('btn--loading');
    var freq = $('.individual-option.active').find('.selectFrq').val();
    let updateConfig = {};
    updateConfig = {
        "url": '/subscriptions/'+currentSubscription.id,
        "method": 'PUT',
        "data": {
          "shopify_variant_id": updatedVariant.id,
          "use_shopify_variant_defaults": true,
          "quantity": 1,
          "order_interval_frequency": freq,
          "order_interval_unit": updatedVariant.metafields.shipping_interval_unit_type,
          "charge_interval_frequency": freq
        },
    };
      $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(updateConfig), 
        headers: apiHeader,
        success: function(getdata){ 
        if (getdata.error) {
          $('[data-updateSub]').removeClass('btn--loading');
          toastr.error(getdata.error,'error' );
            return false;
        }
        else {
          getSubscriptionOrder();
          toastr.success('Your Subscription  has been Updated Successfully.','Success' );
          setTimeout(function(){
            $('[data-updateSub]').removeClass('btn--loading');
            moveInPopup(event,null,14,1);
            closeModal();
            window.location.reload();
          },2000)
        }
        return getdata; 
        }
    });
  
  }

  // get current Subscription address
  function getCurrentSubAddress(address_id){
    $.each(addresses, (index, address) => {
      if(address.id == address_id){
        currentSubscriptionAddress = address;   
        $('[data-address-box] [data-first-name]').val(currentSubscriptionAddress.first_name);
        $('[data-address-box] [data-last-name]').val(currentSubscriptionAddress.last_name);
        $('[data-address-box] [data-address1]').val(currentSubscriptionAddress.address1);
        $('[data-address-box] [data-address2]').val(currentSubscriptionAddress.address2);
        $('[data-address-box] [data-city]').val(currentSubscriptionAddress.city);
        $('[data-address-box] [data-country]').val(currentSubscriptionAddress.country);
        $('[data-address-box] [data-zip]').val(currentSubscriptionAddress.zip);
        $('[data-address-box] [data-province]').val(currentSubscriptionAddress.province);  
      }
    });
  };
 
  // update current subscription shipping address
  function updateSubscriptionAddress(){
    $('.update_address').addClass('btn--loading');
 
    const fname = $('[data-address-box] [data-first-name]').val();
    const lname = $('[data-address-box] [data-last-name]').val();
    const address1 = $('[data-address-box] [data-address1]').val();
    const address2 = $('[data-address-box] [data-address2]').val();
    const city = $('[data-address-box] [data-city]').val();
    const country = $('[data-address-box] [data-country]').val();
    const zip = $('[data-address-box] [data-zip]').val();
    const province = $('[data-address-box] [data-province]').val();
    let config;
    if (province == null) {
      config = {
        "url": '/addresses/'+currentSubscriptionAddress.id,
        "method": 'PUT',
        "data": {
          "first_name": fname,
          "last_name": lname,
          "address1":address1,
          "address2":address2,
          "city":city,
          "country":country,
          "zip":zip,
        }
      };
    } else {
      config = {
        "url": '/addresses/'+currentSubscriptionAddress.id,
        "method": 'PUT',
        "data": {
          "first_name": fname,
          "last_name": lname,
          "address1":address1,
          "address2":address2,
          "city":city,
          "country":country,
          "zip":zip,
          "province":province,
        }
      };
    }
      $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){           
          if (getdata.error) {
            toastr.error(getdata.error, 'Error');
            setTimeout(function(){ 
              $('.update_address').removeClass('btn--loading');
              $('[data-address-box] input').removeClass('border-danger');  
              moveInPopup(event,null,13,1);
              getSubscriptionAddresses();
              closeModal();
            },3000)
          return false;
        } else if (getdata.errors) {
            if (getdata.errors.address1) { $('[data-address-box] [data-address1]').addClass('border-danger'); toastr.error(getdata.errors.address1,'error' ); }
            if (getdata.errors.last_name) { $('[data-address-box] [data-last-name]').addClass('border-danger'); toastr.error(getdata.errors.last_name,'error' ); }
            if (getdata.errors.city) { $('[data-address-box] [data-city]').addClass('border-danger'); toastr.error(getdata.errors.city,'error' ); }
            if (getdata.errors.zip) { $('[data-address-box] [data-zip]').addClass('border-danger'); toastr.error(getdata.errors.zip,'error' ); }
            if (getdata.errors.province) { $('[data-address-box] [data-province]').addClass('border-danger'); toastr.error(getdata.errors.province,'error' ); }
            setTimeout(function(){ 
              $('.update_address').removeClass('btn--loading');
              $('[data-address-box] input').removeClass('border-danger');  
              moveInPopup(event,null,13,1);
              getSubscriptionAddresses();
              closeModal();
            },3000)
            return false;
        } else {
          toastr.success('Your Subscription Address has been Updated Successfully','Success' );
          currentSubscriptionAddress = getdata.address;
          setTimeout(function(){ 
            $('.update_address').removeClass('btn--loading');
            $('[data-address-box] input').removeClass('border-danger');  
            moveInPopup(event,null,13,1);
            getSubscriptionAddresses();
            closeModal();
          },3000)
        }
        return getdata;
        }
      });
  };

  // disable cancel data
  function disable_data(event){
    $('[data-cancelBtn]').show();
    var cancelReason = $('[data-cancellationValue]').val();
    if (cancelReason == 'Please Select') {
      $('[data-cancellationComment]').attr('disabled',true);
    }else{
      $('[data-cancellationComment]').attr('disabled',false);
    }
  }

  // get radio val in charge date popup
  function getRadioVal(){
    $('[data-skipBtn]').show();
    const $container = $('.modal-popup');
    const singleOptionSelector = ('[data-skip-date]');
    $.map($(singleOptionSelector, $container), (element) => {
      const $element = $(element);
      const type = $element.attr('type');
      if (type === 'radio' || type === 'checkbox') {
        if ($element[0].checked) {
          skip_shipment.textSkip = $element.val();
        }
        return false; 
      }
    });

    if(skip_shipment.textSkip == 'paused'){ // enable flatpickr if pause is selected
      $($('#pauseSubscriptionPicker')[0]).prop('disabled',false);
      $($('input.form-control')[0]).prop('disabled',false);
    } else{
      $($('#pauseSubscriptionPicker')[0]).prop('disabled',true);
      $($('input.form-control')[0]).prop('disabled',true);
    }
 }

  // cancel subscription
  function cancelSubscription(){
    isSubscriptionsCanceled = false;
    $('.cancel_subs').addClass('btn--loading'); 
    var cancelReason = $('[data-cancellationValue]').val();
    var cancelComment = $('[data-cancellationComment]').val();
    if (cancelReason == 'Please Select' ) {
      isLoading = false;
      $('.cancel_subs').removeClass('btn--loading');
      toastr.error('Please select Cancellation reason.','Error' );
      return false;
    }
    if (cancelComment == '') {
      isLoading = false;
      $('.cancel_subs').removeClass('btn--loading');
      toastr.error('Please select Cancellation Comment.','Error' );
      return false;
    }
    const config = {
        "url": '/subscriptions/'+currentSubscription.id+'/cancel',
        "method": 'POST',
        "data": {
          "cancellation_reason": cancelReason,
          "cancellation_reason_comments": cancelComment,
        }
    };
    $.ajax({    
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){ 
          isSubscriptionsCanceled = true; 
        if (getdata.error) {
            toastr.error(getdata.error,'error' );
          return false;
        } else if (getdata.errors) {
            toastr.error(getdata.error,'error' );
          return false;
        } else {
          	getSubscriptionOrder();
            toastr.success('Your subscription has been cancelled  Successfully.','success' );
            setTimeout(function(){
              $('.cancel_subs').removeClass('btn--loading');
              moveInPopup(event,null,144,1);
              closeModal();
            },3000)
         
        }
        return getdata;
        }
    });
  };

  // reactivate subscription
  function reactiveSubscription(event,subscriptionId){
    $(event.currentTarget).closest('.action').html('<img src="{{ "ajax-loader.gif" | asset_img_url }}"/>');
    const config = {
      url: '/subscriptions/'+subscriptionId+'/activate',
      method: 'POST',
      data: {},
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){ 
          if (getdata.error) {
            toastr.error(getdata.error,'error' );
            $(event.currentTarget).closest('.action').html('<a href="javascript:void(0);" onclick="reactiveSubscription(event,'+subscriptionId+')">Reactive</a></div>');
          return false;
        } else if (getdata.errors) {
            toastr.error(getdata.error,'error' );
            $(event.currentTarget).closest('.action').html('<a href="javascript:void(0);" onclick="reactiveSubscription(event,'+subscriptionId+')">Reactive</a></div>');
          return false;
        } else {
            getSubscriptionOrder();
            toastr.success('Your Subscription has been Activated Successfully.','success' );
        }
      }
    });
  }
  
  // downgrade subscription
  function getdowngradeSubscription(){
    $('.downgrade-freq-sub .individual-downgrade-option').empty();
    var options ='';
    var prodJSON = JSON.parse($('[data-'+currentSubscription.shopify_product_id+'-json]').html().trim());
    var temphtml = '<h5>'+prodJSON.product.title+'</h5>'+
                    '<div class="subscription-img">'+
                      '<img src='+prodJSON.product.img+'>'+
                    '</div>'+
                    '<div>'+
                     '<label>Shipped every</label>'+
                     '<select class="selectdownFrq" onchange="enabledownfreq()">'+
						'<option value="Please select plan">Please select</option>'+

					  '</select>'+ 
                    '</div>'+
                    '<p data-freq class="freq m-auto"><a href=/products/'+prodJSON.product.handle+'>More Details...</a> </p>';
    $('.downgrade-freq-sub .individual-downgrade-option').append(temphtml);
    
    $.each(prodJSON.metafields.shipping_interval_frequency.split(','),function(i,v){
      
      if(v == currentSubscription.order_interval_frequency ){
      	options+= '<option selected value="'+v+'">'+v+' '+prodJSON.metafields.shipping_interval_unit_type+'</option>'
      } else{
      	options+= '<option value="'+v+'">'+v+' '+prodJSON.metafields.shipping_interval_unit_type+'</option>'
      }
    });
    $('[data-downSubbtn]').hide();
  	$('.selectdownFrq').append(options);
    
  }
  
  function enabledownfreq(){
    if($('.selectdownFrq').val().split(' ')[0] != currentSubscription.order_interval_frequency){
  		$('[data-downSubbtn]').show();
    } else{
    	$('[data-downSubbtn]').hide();
    }
  }
  
  function updatefreq(){
    $('[data-downSubbtn]').addClass('btn--loading');
     var newFreq = $('.selectdownFrq').val().split(' ')[0];
     const config = {
      url: '/subscriptions/'+currentSubscription.id,
      method: 'PUT',
      data: {
        order_interval_unit: currentSubscription.order_interval_unit,
        order_interval_frequency: newFreq,
        charge_interval_frequency: newFreq
      },  
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){ 
          if (getdata.error) {
            toastr.error(getdata.error,'error' );
             setTimeout(function(){
              $('[data-downSubbtn]').removeClass('btn--loading');
              moveInPopup(event,null,141,1);
              closeModal();
              getSubscriptionOrder();
            },3000);
          return false;
        } else if (getdata.errors) {
            toastr.error(getdata.error,'error' );
          	 setTimeout(function(){
              $('[data-downSubbtn]').removeClass('btn--loading');
              moveInPopup(event,null,141,1);
              closeModal();
              getSubscriptionOrder();
            },3000);
          return false;
        } else {
            toastr.success('Your Subscription has been Updated Successfully.','success' );
          setTimeout(function(){
              $('[data-downSubbtn]').removeClass('btn--loading');
              moveInPopup(event,null,141,1);
              closeModal();
              getSubscriptionOrder();
            },3000);
        }
      }
    });
    
  	
  }
  
  function add_discount(){
    $('[data-discountbtn]').addClass('btn--loading');
  	const config = {
      url: '/addresses/'+currentSubscription.address_id+'/apply_discount',
      method: 'POST',
      data: {
        discount_code: "20%CancelDiscount"
      },  
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){ 
          if (getdata.error) {
            toastr.error(getdata.error,'error' );
            setTimeout(function(){
              $('[data-discountbtn]').removeClass('btn--loading');
              moveInPopup(event,null,142,1);
              closeModal();
              getSubscriptionOrder();
            },3000);
          return false;
        } else if (getdata.errors) {
            toastr.error(getdata.error,'error' );
            setTimeout(function(){
              $('[data-discountbtn]').removeClass('btn--loading');
              moveInPopup(event,null,142,1);
              closeModal();
              getSubscriptionOrder();
            },3000);
          return false;
        } else {
           toastr.success('Your Discount has been Added Successfully.','success' );
          setTimeout(function(){
              $('[data-discountbtn]').removeClass('btn--loading');
              moveInPopup(event,null,142,1);
              closeModal();
              getSubscriptionOrder();
            },3000);
        }
      }
    });
    
  	
  
  }

  //get next date 
  function get_nextdate(){
    let SimplenextChargeDate = '';
    let skipNextChargeDate = '';
    if(currentSubscription.order_interval_unit.includes('day')){
      skipNextChargeDate = moment(currentSubscription.next_charge_scheduled_at).add(currentSubscription.charge_interval_frequency, 'day').format('MMMM D, YYYY');
      SimplenextChargeDate = moment(currentSubscription.next_charge_scheduled_at).add(currentSubscription.charge_interval_frequency, 'day').format('Y-MM-DD');
    } else if(currentSubscription.order_interval_unit.includes('month')){
      skipNextChargeDate = moment(currentSubscription.next_charge_scheduled_at).add(currentSubscription.charge_interval_frequency, 'month').format('MMMM D, YYYY');
      SimplenextChargeDate = moment(currentSubscription.next_charge_scheduled_at).add(currentSubscription.charge_interval_frequency, 'month').format('Y-MM-DD');
    } else if(currentSubscription.order_interval_unit.includes('week')){
      var freqWeek = parseInt(currentSubscription.charge_interval_frequency) * 7;
      skipNextChargeDate = moment(currentSubscription.next_charge_scheduled_at).add(freqWeek, 'days').format('MMMM D, YYYY');
      SimplenextChargeDate = moment(currentSubscription.next_charge_scheduled_at).add(freqWeek, 'days').format('Y-MM-DD');
    }
    skip_shipment.dateFormate = skipNextChargeDate;
    skip_shipment.nextChargeDate =SimplenextChargeDate+'T00:00:00';
    $('[data-skip-date]').html('Resumes '+skip_shipment.dateFormate)
    pauseSubscriptionPicker();
  };

  // update next charge date
  function updateNextChargeDate(){
    $('[data-updateDate]').addClass('btn--loading');
    var nextChargeDate= '';
    if (skip_shipment.textSkip == 'skipped') {
        nextChargeDate = skip_shipment.nextChargeDate;
        nextChargeDate = `${nextChargeDate}T00:00:00`;
    } else if (skip_shipment.textSkip == 'paused'){
        if ($('#pauseSubscriptionPicker').val() == ''){
            $($('input.form-control')[0]).addClass('border-danger');
            $('[data-updateDate]').removeClass('btn--loading');
            return false;
        }
        nextChargeDate = $('#pauseSubscriptionPicker').val()+'T00:00:00';
    }
    const config = {
          "url": '/subscriptions/'+currentSubscription.id+'/set_next_charge_date',
          "method": 'POST',
          "data": {
              "date": nextChargeDate,
          },
    };
    $.ajax({ 
        url: 'https://api-manager.hulkcode.com/api/recharge/common', 
        type: 'POST', 
        data: JSON.stringify(config), 
        headers: apiHeader,
        success: function(getdata){ 
          if (getdata.error) {
            toastr.error(getdata.error,'error' );
            setTimeout(function(){
              $('[data-updateDate]').removeClass('btn--loading');
              moveInPopup(event,null,12,1);
              closeModal();
              getSubscriptionOrder();
            },3000)
          return false;
        } else if (getdata.errors) {
            toastr.error(getdata.error,'error' );
            setTimeout(function(){
              $('[data-updateDate]').removeClass('btn--loading');
              moveInPopup(event,null,12,1);
              closeModal();
              getSubscriptionOrder();
            },3000)
          return false;
        } else {
            toastr.success('Your subscription '+skip_shipment.textSkip+' successfully ','success' );
            setTimeout(function(){
              $('[data-updateDate]').removeClass('btn--loading');
              moveInPopup(event,null,12,1);
              closeModal();
              getSubscriptionOrder();
            },3000)
        }
      }
    });
  };

  // close popup
  function closeModal(event){
    $('[data-modal]').hide();
    $('[data-edit-subscription]').hide();
    $('body').css('overflow','auto');
  }

  // traverse in popup
  function moveInPopup(event,eventType,startstep,endstep){ 
    $('[data-step='+startstep+']').hide();
    $('[data-step='+endstep+']').show();
    if(eventType=='cancel'){
      var cancelReason = $('[data-cancellationValue]').val();
      var cancelComment = $('[data-cancellationComment]').val();
      if (cancelReason == 'Please Select') {
        isLoading = false;
        $('.cancel_subs').removeClass('btn--loading');
        $('[data-cancellationComment]').attr('disabled',true)
        return false;
      }
    };
    if(eventType == 'removeCancelData'){
      $('[data-cancellationValue]').val('Please Select');
      $('[data-cancellationComment]').val('');
      $('[data-cancelbtn').hide(); 
    };
    if(eventType == 'removeSkip'){
      $('[data-skip]').prop('checked', false);
      $('[data-pause]').prop('checked', false);
      $('[data-skipBtn]').hide();
    };
    if(eventType == 'removeswap'){
      $('.selectFrq').val('Please select plan');
      $('.selectFrq').prop('disabled','disabled');
      $('.individual-option').removeClass('active');
      
    };
    if(eventType == 'swap'){
      
      $('[data-prd-col]').each(function(ind , prdcol){
         if($(prdcol).find('[data-frequency]').data('frequency').toLowerCase() != currentSubscription.order_interval_unit){
          	$(prdcol).hide();
         }
         else if($(prdcol).find('input[type="radio"]').val() == (currentSubscription.shopify_product_id)){
           $(prdcol).hide();
         } else{
         	$(prdcol).show();
         }
      })
    }
  };

  // pause flatpickr
  function pauseSubscriptionPicker(){
        const holidaysDisabled = [
            function(date) {
                // must return true to disable
                return (date.getDay() === 6 || date.getDay() === 0);
            },
        ];
        $("#pauseSubscriptionPicker").flatpickr({
            altFormat: 'M j, Y',
            altInput: true,
            disableMobile: 'true',
            dateFormat: 'Y-m-d',
            enableTime: false,
            locale: {
                firstDayOfWeek: 1, // start week on Monday
            },
            // minDate: "today",
            minDate: moment(currentSubscription.next_charge_scheduled_at).format('Y-MM-DD'), // starts from the last day of next shipment
            onClose(selectedDates, dateStr, instance){
                $('.flatpickr-input').blur();
            },
            disable: holidaysDisabled,
        });
    }

  $(document).ready(function () {
    const url = window.location.href;
    if (url.includes('/account')) {
      init_rechargedashboard();
    }

  });

</script>