<div class="product-what-include">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-5 col-sm-6">
      <div class="include-inner">
        <h5>What's Included</h5>
        <p>{{ product.metafields.custom_fields["system_bullet_1"] }}</p>
        <p>{{ product.metafields.custom_fields["systems_bullet_2"] }}</p>
        <p>{{ product.metafields.custom_fields["systems_bullet_3"] }}</p>
        <p>{{ product.metafields.custom_fields["systems_bullet_4"] }}</p>
        <p>{{ product.metafields.custom_fields["systems_bullet_5"] }}</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-7 col-sm-6 text-center">
      <div class="box-gifts">
        {{ product.metafields.custom_fields["systems_free_gift"] }}
      </div>
    </div>
  </div>
</div>