<!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){
      z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                                  $.src='//v2.zopim.com/?4EWkhklX7lhHmGhx6KCq5K2T56N2hYWV';z.t=+new Date;$.
                                  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
 
  <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1327128043]);
    (function() {
      function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
    })();
  </script>
  <!-- End Inspectlet Embed Code -->

  <!-- Toogle Menu -->
  <script src="{{ 'modernizr.custom.js' | asset_url }}" type="text/javascript" defer></script>


  <!-- Start of dermaclara Zendesk Widget script -->
  <script id="ze-snippet" defer src="https://static.zdassets.com/ekr/snippet.js?key=c64fbf9d-5df2-4b8f-9b4e-11539111d03f"> </script>
  <!-- End of dermaclara Zendesk Widget script -->
