 
<div id="unvColHeader" class="container">
    <div class="row full-width" style="background-color: {% if collection.metafields.custom_fields["collection_background_color"] != blank %}{{ collection.metafields.custom_fields["collection_background_color"] }}{% else %}none{% endif %}">
        <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10 col-xs-10 col-10" style="padding-left: 0px;">
            <div class="captitle-collection" style="color: {% if collection.metafields.custom_fields["collection_text_color"] != blank %}{{ collection.metafields.custom_fields["collection_text_color"] }}{% else %}#FFFFFF{% endif %}">
                <h1 style="color: {% if collection.metafields.custom_fields["collection_text_color"] != blank %}{{ collection.metafields.custom_fields["collection_text_color"] }}{% else %}#121212{% endif %}">{{ collection.title }}</h1>
                <p style="max-width: 1140px; margin: auto; font-size: 18px; color: {% if collection.metafields.custom_fields["collection_text_color"] != blank %}{{ collection.metafields.custom_fields["collection_text_color"] }}{% else %}#FFFFFF{% endif %}">{{ collection.description }}</p>
            </div>
        </div>
    </div>
</div>

<style>
#unvColHeader {
    margin-bottom: 24px;
}

.featured-section {
    margin-top: -24px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.captitle-collection {
    width: 100vw;
    text-align: left;
    padding: 24px 0 6px 0 !important;
    margin-bottom: 0px;
}

h1 {
    font-size: 36px;
    padding-left: 15px;
}

p {
    padding-left: 15px;
}

.collection-description {
    font-size: 16px;
}

@media screen and (min-width: 575px) {
    .captitle-collection {
        text-align: center;
    }

    h1 {
        font-size: 48px;
        padding-left: unset;
    }

    p {
        padding-left: unset;
    }

    .collection-description {
        font-size: 18px;
    }
}
</style> 