{% unless template == 'cart' %}
  {% if template.name == 'page' %} 
    <script>
        // for ylc v2 page
          var prodArray = [];
          var prod = null;
          var items = [];
          $("#product-carousel").owlCarousel({
          autoplay: false,
          lazyLoad: true,
          loop: true,
          margin: 20,
          dots: true,
          thumbs: false,
          responsiveClass: true,
          autoHeight: true,
          autoplayTimeout: 7000,
          smartSpeed: 800,
          nav: false,
          responsive: {
              0: {
              items: 1
              

              },

              600: {
              items: 1
              },

              1024: {
              items: 1
              },

              1366: {
              items: 1
              }
          }
      }); 
          

        $("#main-carousel").owlCarousel({
            autoplay: false,
            lazyLoad: true,
          	touchDrag: false,
            mouseDrag: false,
            loop: false,
            margin: 20,
            dots: true,
            thumbs: false,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: false,
            responsive: {
                0: {
                items: 1
                },
                1366: {
                items: 1
                }
            }
        });

        $('.addtocheckout').click(function(e){
            e.preventDefault(); 
                $.ajax({
                'async': false,
                url: '/cart/clear.js',
                type: 'POST', 
                dataType: 'json',

                success: function (data) {
                $.ajax({
                  url: '/cart/add.js',
                  dataType: 'json',
                  type: 'post',
                  data: {items: items},
                  success: function (data) {
                      $('#UpsellModal').modal();
                  }
                });
                }
            });
        });
        
        $('[data-upsellcheckout]').click(function(e){
          e.preventDefault(); 
          if($('.custom-control-input:checked').data('subscription') != undefined){
              rechargeRedirect();
            } else{
              window.location.href = '/checkout';
          }
        })
        function init(){
            
            prod = JSON.parse($('[data-prod-json]').html().trim());
            getProducts('normal');
        }
        
        function getProducts(type){
            var qty = $('[data-qty]').val();
           {% if template contains 'page.new-subscription-products-V2' %}
              var prop = {
                          '1': 'Claratone Youth Lock Wand',
                      '2': 'Waterproof Travel Bag',
                      '3': 'Pore-Cleaning Silicone Exfoliator'
                        };
            {% elsif template contains 'page.pregnancy' %}
              var prop = {
                          '1': '2 Enhanced Silicone Fusion™ Patches',
                          '2': 'Proprietary Patch Prep™ Formula',
                          '3': 'Waterproof Travel Bag',
                          '4': 'Pore-Cleaning Silicone Exfoliator'
                        };
            {% else %}
              var prop = null;
            {% endif %}
            if(type == 'normal'){
                items.splice(0,items.length)
                {% if template contains 'page.new-subscription-products-V2' %}
                prop['4'] =  'Claraline Youth Lock Serum';
                {% endif %}
                    items.push({id:prod.variant_id,
                                quantity:qty,
                              properties: prop
                              });
            } else if(type == 'subscription'){
                items.splice(0,items.length)
                // send product prop only for YLS
                {% if template contains 'page.new-subscription-products-V2' %}
                  prop['4'] =  'Claraline Youth Lock Serum Every '+$('[data-shipping_interval_frequency]').val().split(' ')[0]+' '+$('input[data-shipping_interval_unit_type]').val();
                  prop['product_title'] = 'Collagen-Boosting Wrinkle Serum - V2 10.00% Off Auto renew';
                  prop['variant_title'] = 'Default Title';
                  prop['sku'] = 'DC-LINE-15';
                  prop['shopify_product_id'] = '4807311130701';
                  prop['shopify_variant_id'] = '33014715121741';
                {% endif %}
                if(prod.discount_variant_id != undefined){
                  prop['shipping_interval_frequency'] = $('[data-shipping_interval_frequency]').val().split(' ')[0];
                  prop['shipping_interval_unit_type']= $('input[data-shipping_interval_unit_type]').val();
                  prop['subscription_id'] = $('input[data-subscription_id]').val();
                  items.push({id:prod.discount_variant_id,quantity:qty,properties:prop});
                } 
            } else if(type == 'null'){
                if($('.custom-control-input:checked').data('normal') != undefined){
                    setTimeout(function(){
                        getProducts('normal')
                    },300)
                    
                } else if($('.custom-control-input:checked').data('subscription') != undefined){
                    setTimeout(function(){
                        getProducts('subscription')
                    },300)
                }
            }

        }
        function rechargeRedirect() {
            /*construct url */
            function get_cookie(name) {
            return (document.cookie.match('(^|; )' + name + '=([^;]*)') || 0)[2]
            }

            var token = get_cookie('cart')
            var myshopify_domain = 'dermaclara.myshopify.com'

            try {
            var ga_linker = ga.getAll()[0].get('linkerParam')
            } catch (err) {
            var ga_linker = ''  
            }

            var customer_param = '{% if customer %}customer_id={{ customer.id }}&customer_email={{ customer.email }}{% endif %}';
            var  discount_code='';

            checkout_url = "https://checkout.rechargeapps.com/r/checkout?myshopify_domain=" + myshopify_domain + "&cart_token=" + token + "&" + ga_linker + "&" + customer_param + "&discount=" + discount_code ;


            window.location.href = checkout_url;

        }
        $(document).ready(function(){
            init();
        })


    </script>
  {% else %}
    <script>
      // for new pdps
      var items = [];
    
      function init(){
            prod = JSON.parse($('[data-prod-json]').html().trim());
        if($('[data-subscription]').length == 0){
            getProducts('normal');
        } else{
          getProducts('subscription');
        }
        }
        
        function getProducts(type){
          var prop = {};
            var qty = $('[data-count]').val();
            if(type == 'normal'){
              $('[data-prdPrice]').text('{{product.price | money}}')
              $('[data-modalprdPrice]').text('{{product.price | money}}')
              if($('.affirm-as-low-as').length){
                $('.affirm-as-low-as').attr('data-amount',{{ product.price }});
                affirm.ui.refresh();
              }
                items.splice(0,items.length)
                    items.push({id:prod.variant_id,
                                quantity:qty
                              });
            } else if(type == 'subscription'){
              $('[data-prdPrice]').text('${{product.variants[0].metafields.subscriptions.discount_variant_price}}');
              $('[data-modalprdPrice]').text('${{product.variants[0].metafields.subscriptions.discount_variant_price}}');
              if($('.affirm-as-low-as').length){ 
                if($('[data-subscription]').length){  
                $('.affirm-as-low-as').attr('data-amount',parseFloat($('[data-prdPrice]').text().split('$')[1])*100);
                affirm.ui.refresh();
                }
              }
                items.splice(0,items.length)
                    if(prod.discount_variant_id != undefined){
                        prop['shipping_interval_frequency'] = $('[data-shipping_interval_frequency]').val().split(' ')[0];
                        prop['shipping_interval_unit_type']= $('input[data-shipping_interval_unit_type]').val();
                        prop['subscription_id'] = $('input[data-subscription_id]').val();
                      items.push({id:prod.discount_variant_id,quantity:qty,properties:prop});
                    } 
            } else if(type == 'null'){
                if($('.custom-control-input:checked').data('normal') != undefined){
                    setTimeout(function(){
                        getProducts('normal')
                    },300)
                    
                } else if($('.custom-control-input:checked').data('subscription') != undefined){
                    setTimeout(function(){
                        getProducts('subscription')
                    },300)
                }
            }

        }
      
      $('.addtocheckout').click(function(e){
            e.preventDefault();
              $.ajax({
              url: '/cart/add.js',
              dataType: 'json',
              type: 'post',
              data: {items: items},
              success: function (data) {
                setTimeout(function(){
                  getCart();
                  $('#UpsellModal').modal();
                },1000)
              },
            });
        });
        
      $(document).ready(function(){
        init();
        // $('.product-wrapper .product-image').matchHeight({byRow: false});
        $('.product-wrapper .product-name').matchHeight({byRow: false});
      });
    </script>
  {% endif %}
    <script>
// common code
      $("#product-carousel1").owlCarousel({
          autoplay: false,
          lazyLoad: true,
          loop: true,
          margin: 20,
          dots: true,
          thumbs: false,
          responsiveClass: true,
          autoHeight: true,
          autoplayTimeout: 7000,
          smartSpeed: 800,
          nav: true,
          responsive: {
              0: {
              nav: false,
              items: 1
              },
              600: {
              nav: false,
              items: 1
              },
              1025: {
              nav: true,
              items: 1        
              },
              1366: {
              items: 1
              }
          }
      }); 

      $("#logo-carousel").owlCarousel({
          autoplay: false,
          lazyLoad: true,
          loop: true,
          margin: 20,
          dots: true,
          thumbs: false,
          responsiveClass: true,
          autoHeight: true,
          autoplayTimeout: 7000,
          smartSpeed: 800,
          nav: true,
          responsive: {
              0: {
              nav: false,
              items: 1
              },
              600: {
              nav: false,
              items: 1
              },
              1025: {
              nav: true,
              items: 1        
              },
              1366: {
              items: 1
              }
          }
      });

      $('.add-recent-prd').click(function(e){
          e.preventDefault();
          var item = [{
            id : $(e.currentTarget).data('varid'),
            quantity: 1
          
          }]
          
            $.ajax({
                url: '/cart/add.js',
                dataType: 'json',
                type: 'post',
                data: {items: item},
                success: function (data) {
                  $(e.currentTarget).text('Added to Cart')
                  $(e.currentTarget).addClass('disabled');
                  if($('[data-upsellcheckout]').length){
                    $('[data-upsellcheckout]').text('CHECKOUT')
                  }
                }
              });
        
        });

      $("#productreview-carousel").owlCarousel({
            autoplay: false,
            lazyLoad: true,
            loop: true,
            margin: 20,
            dots: false,
            thumbs: false,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                items: 1
                },
              768: {
                items: 2
                },
                1366: {
                items: 2
                }
            }
        }); 
      $(document).ready(function(){
        $('#productreview-carousel .review-content').matchHeight({byRow: false});

        $('[data-addUpsell]').click(function(e){
        e.preventDefault();
        var item = [{
          id: $(e.target).data('varid'),
          quantity: 1
        }]
            $.ajax({
              url: '/cart/add.js',
              dataType: 'json',
              type: 'post',
              data: {items: item},
              success: function (data) {
                $(e.currentTarget).closest('.modal-product').addClass('d-none');
                $('[data-newprdid="'+$(e.target).data("prdid")+'"]').addClass('d-flex').removeClass('d-none');
                getCart();
              },
              dataType: 'json'
            });
      });
      
      });
      

      function getCart(){
        jQuery.ajax({
          url: "/cart.json",
          type: 'get',
          dataType: 'json',
          success: function(cart){
            $('[data-cartTotal]').text('$'+ cart.total_price / 100);
          }
        })
      }
    </script>
  {% else %}
    <script>
      // for cart upsell
      $('[data-upsellCart]').click(function(e){
          e.preventDefault();
         e.stopImmediatePropagation();
          var qty = $('#updates_'+$(e.target).data('prdid')).val()
          var item = [{
            id: $(e.target).data('varid'),
            quantity: qty
          }]
//           console.log(item)
            $.ajax({
              url: '/cart/add.js',
              dataType: 'json',
              type: 'post',
              data: {items: item},
              success: function (data) {
                setTimeout(function(){
                window.location.reload();
                },1000)
              
               
              },
              dataType: 'json'
            });
      })
    </script>
{% endunless %}
