<div class="product-what-include">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-5 col-sm-6">
      <div class="include-inner">
        <h5>What's Included</h5>
        {% if product.handle == 'ultimate-body-face-system' or product.handle == 'complete-body-system' %}
        <p>1 <i>clarafuse</i> patch for your body</p>
        {% endif %}
        {% if product.handle == 'ultimate-body-face-system' or product.handle == 'complete-face-system' %}
        <p>5 <i>clarafuse</i> patches for your face</p>
        {% endif %}
        {% if product.handle == 'ultimate-mothers-day-body-face-system' %}
        <p>2 <i>Clarafuse</i> Body Patches</p>
		<p>1 <i>Clarafuse</i> Face Patches Kit (5 Patches)</p>
		<p>1 <i>Claraline</i> Collagen-Boosting Wrinkle Serum</p>
        {% endif %}
        {% if product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
        <p>2 <i>Clarafuse</i> Pregnancy Patches</p>
        <p>1 <i>Clarafuse</i> Face Patches Kit (5 Patches)</p>
        <p>1 <i>Claraline</i> Collagen-Boosting Wrinkle Serum</p>
		{% endif %}
        <p>1 <i>claraprep</i> cleanser</p>
        <p>1 <i>clarasome</i> moisturizer</p>
        {% comment %}
        {% for prod in collections[product.handle].products %}
        <p>1 {{prod.title}}</p>
        {% endfor%}
        <p> 1 beauty bag</p>
        {% endcomment %}
        {% if product.handle == 'ultimate-mothers-day-body-face-system' %}
        <h6>FREE GIFT!</h6>
        {% endif %}
        {% if product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
        <h6>FREE GIFTS! (Travel Bag & Lip Serum)</h6>
		{% endif %}
      </div>
    </div>
    <div class="col-lg-6 col-md-7 col-sm-6 text-center">
      <div class="box-gifts">
        <h6>Buy now<br />and get free shipping<br />and free gifts</h6>
        <p><i class="font-cri">claralips</i> lip serum<br />and a travel beauty bag</p>
      </div>
    </div>
  </div>
</div>