

<link href="{{ 'account.scss.css' | asset_url }}" rel="stylesheet">
<div id="main-account">
  <div class="container">
    <div class="row">
      <div class="section-header section-header--large col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="section-header__title">My account</h1>
        <br>
        <ul class="list-inline mb-0 mt-3 account-link">
          <li class="list-inline-item account-nav-item"><a href="#" class="text-latoMedium text-uppercase text-gray-700 px-4 active">Orders & Subscriptions</a></li>
          {% if customer.metafields.subscriptions.customer_string %}  
          <li class="list-inline-item account-nav-item"><a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/account/" class="text-latoMedium text-uppercase text-gray-700 px-4">Payment Schedule</a></li>
          <li class="list-inline-item account-nav-item"><a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/account/" class="text-latoMedium text-uppercase text-gray-700 px-4">Subscription Billing</a></li>
          {% endif %}
          <li class="list-inline-item account-nav-item"><a href="/account/addresses" class="text-latoMedium text-uppercase text-gray-700 px-4">View Addresses ({{ customer.addresses_count }})</a></li>
          <li class="list-inline-item account-nav-item"><a href="/account/logout" class="text-latoMedium text-uppercase text-gray-700 px-4">Sign out</a></li>
        </ul>
      </div>
    </div>
    <div class="row main-wrap">
      <div class="col-sm-3 acc-details">
        <h3>{{ 'customer.account.details' | t }}</h3>

        <div class="profile-details-wrap">
          <div class="profile-details align-items-center d-flex">
            <span><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/profile-pic.png?v=1594882532" alt="{{ customer.name }}"></span>
            <p>{{ customer.name }}</p>
          </div>
          <p class="font-weight-bold user-email" style="margin:0 0 5px 0;">{{customer.email}}</p>
          <p style="margin:0 0 5px 0;font-weight: 600;">Password<span> ****** (<a href="/account/login#recover">Reset</a>)</span></p>
          <p style="margin:0 0 5px 0;font-weight: 600;">Total order: <span class="font-weight-light">{{customer.orders_count}}</span></p>
          <p style="margin:0;font-weight: 600;">Total Spent: <span class="font-weight-light">{{customer.total_spent | money }}</span> </p>
        </div>
      </div>
      <div class="col-sm-9 subscription-orders">
        <div class="row table-header">
            <div class="order col-sm-4">order</div>
            <div class="status col-sm-2">Status</div>
            <div class="shipping col-sm-3">Ships Every</div>
            <div class="total col-sm-2">total</div>
            <div class="action col-sm-1"><span class="show-only-mobile">Action</span></div>
        </div>
        <div class="order-item-listing" data-subscriptions>
            <div style=" text-align: center;margin-top: 15px; width:100%">
                <img src="{{ 'ajax-loader.gif' | asset_img_url }}"/>
                <p style=" text-align: center;">Please Wait...</p>
            </div>
        </div>
        <div class="row orders-list d-block">
          <p class="font-weight-bold order-details px-3 table-header text-reset m-0">{{ 'customer.orders.title' | t }}</p>

          {% if customer.orders.size != 0 %}

              <table class="full table--responsive">
              <thead>
                  <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.payment_status' | t }}</th>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th>{{ 'customer.orders.total' | t }}</th>
                  </tr>
              </thead>
              <tbody>
                  {% for order in customer.orders %}
                  <tr class="table__section">
                      <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                      <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                      <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                      <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                      <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>


          {% else %}

              <p>{{ 'customer.orders.none' | t }}</p>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


 

{% section 'rechargeDashboard_modals' %}

{% include 'subscription-dashboard-script' %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.1/flatpickr.min.css" rel="stylesheet">
<script src="	https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.1/flatpickr.min.js"></script>
<script>
    var element = $('body #datepicker');
    $( function() {
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "3000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
    });

</script>
