<div class="container">
  <div class="row">
    <div class="section-header section-header--large col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="section-header__title">{{ 'customer.activate_account.title' | t }}</h1>
    </div>
    <p>{{ 'customer.activate_account.subtext' | t }}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="activate_customerForm" class="col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12 col-xs-12">

      {% comment %}
      This form must use 'activate_customer_password'
      {% endcomment %}
      {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword">

      <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation">

      <div>
        <p>
          <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
        </p>
        <input type="submit" class="btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      </div>
      {% endform %}
    </div>

  </div>
</div>
