<!-- 
{% paginate customer.addresses by 5 %}

  <div class="section-header section-header--large">
    <h1 class="section-header__title section-header__title--left">{{ 'customer.account.title' | t }}</h1>
    <div class="section-header__link--right">
      <a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
    </div>
  </div>

  <p><a href="/account">{{ 'customer.account.return' | t }}</a></p>

  {% comment %}
    Add address form, hidden by default
  {% endcomment %}

  {% form 'customer_address', customer.new_address %}
    <div id="AddAddress" {% unless form.errors %}style="display: none;"{% endunless %}>
        <h2>{{ 'customer.addresses.add_new' | t }}</h2>
        {{ form.errors | default_errors }}
        <div class="grid">

          <div class="grid__item one-half small--one-whole">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
          </div>

          <div class="grid__item one-half small--one-whole">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
          </div>

        </div>

        <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
        <input type="text" id="AddressCompanyNew" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">

        <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
        <input type="text" id="AddressAddress1New" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">

        <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
        <input type="text" id="AddressAddress2New" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">

        <div class="grid">
          <div class="grid__item large--one-half">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
          </div>

          <div class="grid__item" id="AddressProvinceContainerNew" style="display:none">
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <select id="AddressProvinceNew" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZipNew" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" class="address_form" name="address[phone]" value="{{form.phone}}">
          </div>
        </div>

        <p>
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
        </p>

        <p><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></p>
        <p><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>
        <hr>
    </div>
  {% endform %}

  <h2>{{ 'customer.addresses.title' | t }}</h2>

  {% comment %}
    List all customer addresses with a unique edit form.
    Also add pagination in case they have a large number of address (unlikely)
  {% endcomment %}

  {% for address in customer.addresses %}
    <h3>
      {{ address.first_name | capitalize }} {{address.last_name | capitalize }}
      {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
    </h3>

    <p>
      {{ address.company }}<br>
      {{ address.street }}<br>
      {{ address.city | capitalize }}<br>
      {% if address.province_code %}
        {{ address.province_code | upcase }}<br>
      {% endif %}
      {{ address.zip | upcase }}<br>
      {{ address.country }}<br>
      {{ address.phone }}
    </p>
    <p>
      {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
      {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
    </p>
    {% form 'customer_address', address %}
      <div id="EditAddress_{{address.id}}" {% unless form.errors %}style="display:none;"{% endunless %}>
        <hr>
          <h4>{{ 'customer.addresses.edit_address' | t }}</h4>
          {{ form.errors | default_errors }}
          <div class="grid">
            <div class="grid__item one-half small--one-whole">
              <label for="AddressFirstName_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstName_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
            </div>
  
            <div class="grid__item one-half small--one-whole">
              <label for="AddressLastName_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastName_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
            </div>
          </div>
  
          <label for="AddressCompany_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" id="AddressCompany_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
  
          <label for="AddressAddress1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" id="AddressAddress1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
  
          <label for="AddressAddress2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" id="AddressAddress2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
  
          <label for="AddressCity_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
          <input type="text" id="AddressCity_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
  
          <label for="AddressCountry_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
          <select id="AddressCountry_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
  
          <div id="AddressProvinceContainer_{{form.id}}" style="display:none">
            <label for="AddressProvince_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
            <select id="AddressProvince_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
          </div>
  
          <div class="grid">
            <div class="grid__item one-half small--one-whole">
              <label for="AddressZip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
            </div>
  
            <div class="grid__item one-half small--one-whole">
              <label for="AddressPhone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}">
            </div>
          </div>
  
          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{form.id}}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
          </p>
  
          <p><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></p>
          <p><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>
  
          <hr>
        </div>
      {% endform %}

  {% endfor %}

  {% if paginate.pages > 1 %}
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
  {% endif %}

  <script>
    // Initialize observers on address selectors
    new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
      hideElement: 'AddressProvinceContainerNew'
    });

    // Setup province selector on each customer address
    {% for address in customer.addresses %}
      new Shopify.CountryProvinceSelector('AddressCountry_{{address.id}}', 'AddressProvince_{{address.id}}', {
        hideElement: 'AddressProvinceContainer_{{address.id}}'}
      );
    {% endfor %}

    // Modified contents of customer_area.js (global asset)
    Shopify.CustomerAddress = {
      toggleForm: function(id) {
        var editEl = document.getElementById('EditAddress_'+id);
        editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
        return false;
      },

      toggleNewForm: function() {
        var el = document.getElementById('AddAddress');
        el.style.display = el.style.display == 'none' ? '' : 'none';
        return false;
      },

      destroy: function(id, confirm_msg) {
        if (confirm(confirm_msg || {{ 'customer.addresses.delete_confirm' | t | json }})) {
          Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
        }
      }
    }
  </script>

{% endpaginate %} -->
<link href="{{ 'account.scss.css' | asset_url }}" rel="stylesheet">
{% paginate customer.addresses by 5 %}

<div class="container">
  <header class="address-header section-header section-header__title row">
    <div class="col-sm-3">
      <a href="/account" class="back-btn">back</a>
    </div>
    <h1 class="col-sm-6 address-title">{{ 'customer.addresses.title' | t }}</h1>
    <div class="col-sm-3">
      <a href="#" class="btn address-new-toggle js-no-transition">{{ 'customer.addresses.add_new' | t }}</a>
    </div>
  </header>

  <div class="row">

    <div class="col-sm-12">

      <div id="AddressNewForm" class="form-vertical js-address-form hide">
        {% form 'customer_address', customer.new_address %}

          <h2 class="h3">{{ 'customer.addresses.add_new' | t }}</h2>

          <div class="row">
            <div class="col-sm-4">
              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
            </div>
            <div class="col-sm-4">
              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
            </div>
            <div class="col-sm-4">
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
              
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
            </div>
            <div class="col-sm-4">
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
            </div>
            <div class="col-sm-4">
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{form.city}}" autocapitalize="words">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div
              class="js-address-country"
              data-country-id="AddressCountryNew"
              data-province-container-id="AddressProvinceContainerNew"
              data-province-id="AddressProvinceNew">
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountryNew" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
              </div>
            </div>
            <div class="col-sm-4">
              <div id="AddressProvinceContainerNew" style="display: none;">
                <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{form.province}}"></select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="zip">
                <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{form.phone}}">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}">
              <button type="button" class="text-link address-new-toggle">&nbsp;&nbsp;{{ 'customer.addresses.cancel' | t }}</button>
            </div>
          </div>

        {% endform %}
      </div>

      {% comment %}
        List all customer addresses with a unique edit form.
        Also add pagination in case they have a large number of addresses
      {% endcomment %}
      <div class="all_addresses row">
      {% for address in customer.addresses %}
        <div class="address col-sm-6">
          {% if address == customer.default_address %}
          <p class="h4" >{{ 'customer.addresses.default' | t }}</p>
        {% endif %}
          {{ address | format_address }}

          <p class="d-flex add-btn">
            <button type="button" class="col-sm-5 btn btn--small address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button>
            <button type="button" class="col-sm-5 btn btn--secondary btn--small address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</button>
          </p>



        </div>
      {% endfor %}
    </div>


    <div class="all_addresses row">
      {% for address in customer.addresses %}
        <div class="address col-sm-12">

          <div id="EditAddress_{{ address.id }}" class="form-vertical js-address-form hide">
            {% form 'customer_address', address %}

              <h2 class="h3">{{ 'customer.addresses.edit_address' | t }}</h2>

              <div class="row">
                <div class="col-sm-4">
                  <label for="AddressFirstName_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input type="text" id="AddressFirstName_{{form.id}}" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                </div>
                <div class="col-sm-4">
                  <label for="AddressLastName_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input type="text" id="AddressLastName_{{form.id}}" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                </div>
                <div class="col-sm-4">
                  <label for="AddressCompany_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
                  <input type="text" id="AddressCompany_{{form.id}}" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <label for="AddressAddress1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
                  <input type="text" id="AddressAddress1_{{form.id}}" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                </div>
                <div class="col-sm-4">
                  <label for="AddressAddress2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
                  <input type="text" id="AddressAddress2_{{form.id}}" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                </div>
                <div class="col-sm-4">
                  <label for="AddressCity_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
                  <input type="text" id="AddressCity_{{form.id}}" class="input-full" name="address[city]" value="{{form.city}}" autocapitalize="words">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div
                    class="js-address-country"
                    data-country-id="AddressCountry_{{form.id}}"
                    data-province-container-id="AddressProvinceContainer_{{form.id}}"
                    data-province-id="AddressProvince_{{form.id}}">
                    <label for="AddressCountry_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
                    <select id="AddressCountry_{{form.id}}" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div id="AddressProvinceContainer_{{form.id}}" style="display: none;">
                    <label for="AddressProvince_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
                    <select id="AddressProvince_{{form.id}}" class="input-full" name="address[province]" data-default="{{form.province}}"></select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="AddressZip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
                  <input type="text" id="AddressZip_{{form.id}}" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <label for="AddressPhone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel" id="AddressPhone_{{form.id}}" class="input-full" name="address[phone]" value="{{form.phone}}">
                </div>
                <div class="col-sm-12">
                  <p>
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_{{form.id}}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <div class="editForm-footer">
                    <input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}">
                    <button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">&nbsp;&nbsp;{{ 'customer.addresses.cancel' | t }}</button>
                  </div>
                </div>
              </div>

              {% endform %}
          </div>

        </div>
      {% endfor %}
    </div>
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    </div>

  </div>
</div>

{% endpaginate %}

<script>
  /**
     *
     *  Show/hide customer address forms
     *
     */
    $(document).ready(function(){
      var $newAddressForm = $('#AddressNewForm');
      var $addressForms = $('.js-address-form');
  
      if (!$newAddressForm.length || !$addressForms.length) {
        return;
      }
  
      if (Shopify) {
        $('.js-address-country').each(function() {
          var $container = $(this);
          var countryId = $container.data('country-id');
          var provinceId = $container.data('province-id');
          var provinceContainerId = $container.data('province-container-id');
  
          new Shopify.CountryProvinceSelector(
            countryId,
            provinceId,
            {
              hideElement: provinceContainerId
            }
          );
        });
      }
  
      // Toggle new/edit address forms
      $('.address-new-toggle').on('click', function() {
        console.log('hello')
        $newAddressForm.toggleClass('hide');
      });
  
      $('.address-edit-toggle').on('click', function() {
        var formId = $(this).data('form-id');
        $('#EditAddress_' + formId).toggleClass('hide');
      });
  
      $('.address-delete').on('click', function() {
        var $el = $(this);
        var formId = $el.data('form-id');
        var confirmMessage = $el.data('confirm-message');
  
        if (confirm(confirmMessage || 'Are you sure you wish to delete this address?')) {
          Shopify.postLink('/account/addresses/' + formId, {parameters: {_method: 'delete'}});
        }
      });


    })
     
</script>