<style>

  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: medium none !important;
    outline-offset: 0px;
  }
  
  .form-success{
    text-align:center;
  }

  #signup-signin form{
    padding: 0 30px;
  }

  #signup-signin .section-header__title{
    text-align:center;
    font-size: 32px;
  }

  #signup-signin input[type='email'],
  #signup-signin input[type='password'],
  #signup-signin input[type='text']{
    border: 0;
    outline: 0;
    background: transparent;   
    padding-left: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    color:#333;
    font-size: 14px;
  }

  #signup-signin input.placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ee3e49;
  }
  #signup-signin input.placeholder::-moz-placeholder { /* Firefox 19+ */
    color: #ee3e49;
  }
  #signup-signin input.placeholder:-ms-input-placeholder { /* IE 10+ */
    color: #ee3e49;
  }
  #signup-signin input.placeholder:-moz-placeholder { /* Firefox 18- */
    color: #ee3e49;
  }

  #signup-signin input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  #signup-signin input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  #signup-signin input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  #signup-signin input:-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

  #signup-signin .recover,
  #signup-signin .forgot{
    color: #333;
    float: right;
    font-size: 16px;
    text-decoration: underline;
  }

  #signup-signin .recover:hover,
  #signup-signin .forgot:hover{
    color:#c8992f;
  }

  #signup-signin .btn-submit{
    font-family: "Open Sans",sans-serif;
    max-width: 75%;
    width: 100%;
    background:#c8a557;
    font-size: 18px;
    margin: 50px 0 25px;
    border-radius: 0;
  }

  #signup-signin .btn-submit:hover{
    background: #040f00 none repeat scroll 0 0;
  }

  #signup-signin .section-block{
    display:inline-block;
    width:100%;
    text-align: center;
  }

  #signup-signin hr.division{
    border-color: #ddd;
    border-width: 2px;
  }

  #signup-signin p.paragraph,
  #signup-signin .section-header p{
    font-size: 15px;
    text-align: center;
  }

  #signup-signin .section-header p span{
    display:block;
    margin-top:-5px;
  }

  @media screen and (max-width: 767px) {
    #signup-signin input[type="email"],
    #signup-signin input[type="password"],
    #signup-signin input[type="text"] {
      font-size: 12px;
    }

    #signup-signin .section-header__title {
      font-size: 26px;
    }

    #signup-signin p.paragraph,
    #signup-signin .section-header p {
      font-size: 13px;
      line-height:19px;
    }

    #signup-signin .forgot {
      font-size: 14px;
    }

    #signup-signin .btn-submit{
      font-size: 16px;
      margin: 40px 0 20px;
      max-width: 100%;
    }

    #signup-signin .section-header--large {
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 480px) {

    #signup-signin form {
      padding: 0 10px;
    }

    #signup-signin .section-header p span {
      margin-top: 0;
    }

  }

</style>

<div id="signup-signin" class="container">

  <div class="row">

    {% comment %}
    If a user has successfully requested a new password, the form.posted_successfully? variable
    is set to true within the 'recover_customer_password' form only. Within that form you'll see
    us assign a variable 'reset_success' to true, which is used in JS to show our success message.
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12 col-xs-12">
      {% form 'customer_login' %}

      <div class="section-header section-header--large">
        <h1 class="section-header__title">{{ 'customer.login.title' | t }}</h1>
      </div>

      {{ form.errors | default_errors }}

      <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
      <input type="email" name="customer[email]" id="CustomerEmail" placeholder="{{ 'customer.login.email' | t }}"{% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

      {% if form.password_needed %}

      <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

      <div class="section-block">
        <a class="forgot" href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
      </div>

      {% endif %}

      <div class="section-block">
        <input type="submit" id="login-customer" class="btn btn-submit" value="{{ 'customer.login.sign_in' | t }}">
      </div>

      {%comment%}
      <p>
        {{ 'layout.customer.create_account' | t | customer_register_link }}
      </p>
      <a href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a>
      {%endcomment%}

      {% endform %}
      <hr class="division">
    </div>

    {% comment %}
    This page uses JavaScript to show/hide the recover password form
    {% endcomment %}
    <div id="RecoverPasswordForm" class="col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12 col-xs-12" style="display: none;">

      <div class="section-header section-header--large">
        <h2 class="section-header__title">{{ 'customer.recover_password.title' | t }}</h2>
      </div>
      <p class="paragraph">{{ 'customer.recover_password.subtext' | t }}</p>

      {% comment %}
      This form must use 'recover_customer_password'
      {% endcomment %}
      {% form 'recover_customer_password' %}

      {{ form.errors | default_errors }}

      {% comment %}
      form.posted_successfully? is true only inside this form, but we want
      to show a success message outside of it. To do so, set the variable
      reset_success to true, then use JS to show our success message above.
      {% endcomment %}
      {% if form.posted_successfully? %}
      {% assign reset_success = true %}
      {% endif %}

      <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
      <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
		<a href="#" class="recover" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
      <div class="section-block">
        <input id="submit-recover" type="submit" class="btn btn-submit" value="{{ 'customer.recover_password.submit' | t }}">
      </div>
      
      {% endform %}
      <hr class="division">
    </div>

    {% comment %}
    If accounts are set as optional, the following will be shown as an option
    during checkout, not on the default /login page.
    {% endcomment %}
    
 </div>  
  
  <div class="row">
    <div style="text-align:center;" class="col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12 col-xs-12">

      {% if shop.checkout.guest_login %}



      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
      <input type="submit" class="btn btn-submit" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
      {% endif %}
    </div>
  </div>

  

  <div class="row">
    <div id="registerForm" class="col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12 col-xs-12">
      {% comment %}
      This form must use 'create_customer'
      {% endcomment %}
      {% form 'create_customer' %}

      <div class="section-header section-header--large">
        <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>

        <p>Three reasons why you should create an account:
          <span>quick checkout, easy order tracking and order history.</span>
        </p>
      </div>


      {{ form.errors | default_errors }}

      <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

      <div class="section-block">
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-submit" id="register-customer">
      </div>

      {%comment%}
      <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
      {%endcomment%}

      {% endform %}
    </div>
  </div>

</div>

<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'block';
    document.getElementById('CustomerLoginForm').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'none';
    document.getElementById('CustomerLoginForm').style.display = 'block';
  }
  

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
  document.getElementById('ResetSuccess').style.display = 'block';
  {% endif %}
  
  function isValidEmailAddress(emailAddress) {
      var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      return pattern.test(emailAddress);
    };

  $('#login-customer').on("click",function(e){

    var email = $("#CustomerEmail").val();
    var password = $("#CustomerPassword").val();

    if (email != "" &&  password != "")
    {
      $( "#customer_login").submit();
      return true;      
    }else{

      if (email == ""){
        $("#CustomerEmail").addClass('placeholder');
        $("#CustomerEmail").attr("placeholder", "Email - Please enter a valid email address");
      }else{
        $("#CustomerEmail").removeClass('placeholder');
        $("#CustomerEmail").attr("placeholder", "Email");
      }

      if (password == ""){
        $("#CustomerPassword").addClass('placeholder');
        $("#CustomerPassword").attr("placeholder", "Password - Whoops, that's not right... Please try again.");
      }else{
        $("#CustomerPassword").removeClass('placeholder');
        $("#CustomerPassword").attr("placeholder", "Password");
      }
      e.preventDefault;
      return false;
    }
  });

  $('#submit-recover').on("click",function(e){
    var email = $("#RecoverEmail").val();
    if (email == ""){
      $("#RecoverEmail").addClass('placeholder');
      $("#RecoverEmail").attr("placeholder", "Email - Please enter a valid email address");
    	e.preventDefault;
      return false;
    }else{
      $("#RecoverEmail").removeClass('placeholder');
      $("#RecoverEmail").attr("placeholder", "Email");
      $( "#RecoverPasswordForm form").submit();
      return true;  
    }
  });
  
  $('#register-customer').on("click",function(e){

    var firstName = $("#FirstName").val();
    var lastName = $("#LastName").val();
    var email = $("#Email").val();
    var password = $("#CreatePassword").val();
	var checkEmail = isValidEmailAddress( email );

    if (firstName != "" && lastName != "" && email != "" && checkEmail == true &&  password != "" && password.length > 5)
    {
      $( "#create_customer").submit();
      return true;      
    }else{
      if (firstName == ""){
        $("#FirstName").addClass('placeholder');
        $("#FirstName").attr("placeholder", "Name - Please fill in the required field");
      }else{
        $("#FirstName").removeClass('placeholder');
        $("#FirstName").attr("placeholder", "First Name");
      }

      if (lastName == ""){
        $("#LastName").addClass('placeholder');
        $("#LastName").attr("placeholder", "Name - Please fill in the required field");
      }else{
        $("#LastName").removeClass('placeholder');
        $("#LastName").attr("placeholder", "Last Name");
      }

      if (email == "" || checkEmail == false){
        $("#Email").val("");
        $("#Email").addClass('placeholder');
        $("#Email").attr("placeholder", "Email - Please enter a valid email address");
      }else{
        $("#Email").removeClass('placeholder');
        $("#Email").attr("placeholder", "Email");
      }

      if (password == "" || password.length < 6){
        $("#CreatePassword").val("");
        $("#CreatePassword").addClass('placeholder');
        $("#CreatePassword").attr("placeholder", "Password - Whoops, that's not right... Please try again.");
      }else{
        $("#CreatePassword").removeClass('placeholder');
        $("#CreatePassword").attr("placeholder", "Password (at least six characters)");
      }
      e.preventDefault;
      return false;
    }
  });
</script>
