<style>

  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: medium none !important;
    outline-offset: 0px;
  }
  
  .form-success{
    text-align:center;
  }

  #register form{
    padding: 0 30px;
  }

  #register .section-header__title{
    text-align:center;
    font-size: 32px;
  }

  #register input[type='email'],
  #register input[type='password'],
  #register input[type='text']{
    border: 0;
    outline: 0;
    background: transparent;   
    padding-left: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    color:#333;
    font-size: 14px;
  }

  #register input.placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ee3e49;
  }
  #register input.placeholder::-moz-placeholder { /* Firefox 19+ */
    color: #ee3e49;
  }
  #register input.placeholder:-ms-input-placeholder { /* IE 10+ */
    color: #ee3e49;
  }
  #register input.placeholder:-moz-placeholder { /* Firefox 18- */
    color: #ee3e49;
  }

  #register input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  #register input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  #register input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  #register input:-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

  #register .recover,
  #register .forgot{
    color: #333;
    float: right;
    font-size: 16px;
    text-decoration: underline;
  }

  #register .recover:hover,
  #register .forgot:hover{
    color:#c8992f;
  }

  #register .btn-submit{
    font-family: "Open Sans",sans-serif;
    max-width: 75%;
    width: 100%;
    background:#c8a557;
    font-size: 18px;
    margin: 50px 0 25px;
    border-radius: 0;
  }

  #register .btn-submit:hover{
    background: #040f00 none repeat scroll 0 0;
  }

  #register .section-block{
    display:inline-block;
    width:100%;
    text-align: center;
  }

  #register hr.division{
    border-color: #ddd;
    border-width: 2px;
  }

  #register p.paragraph,
  #register .section-header p{
    font-size: 15px;
    text-align: center;
  }

  #register .section-header p span{
    display:block;
    margin-top:-5px;
  }

  @media screen and (max-width: 767px) {
    #register input[type="email"],
    #register input[type="password"],
    #register input[type="text"] {
      font-size: 12px;
    }

    #register .section-header__title {
      font-size: 26px;
    }

    #register p.paragraph,
    #register .section-header p {
      font-size: 13px;
      line-height:19px;
    }

    #register .forgot {
      font-size: 14px;
    }

    #register .btn-submit{
      font-size: 16px;
      margin: 40px 0 20px;
      max-width: 100%;
    }

    #register .section-header--large {
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 480px) {

    #register form {
      padding: 0 10px;
    }

    #register .section-header p span {
      margin-top: 0;
    }

  }

</style>

<div id="register" class="container">

  <div class="row">
    <div id="registerForm" class="col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12 col-xs-12">
      {% comment %}
      This form must use 'create_customer'
      {% endcomment %}
      {% form 'create_customer' %}

      <div class="section-header section-header--large">
        <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>

        <p>Three reasons why you should create an account:
          <span>quick checkout, easy order tracking and order history.</span>
        </p>
      </div>


      {{ form.errors | default_errors }}

      <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

      <div class="section-block">
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-submit" id="register-customer">
      </div>

      {%comment%}
      <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
      {%endcomment%}

      {% endform %}
    </div>
  </div>

</div>

<script>
  
  function isValidEmailAddress(emailAddress) {
      var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      return pattern.test(emailAddress);
    };
  
  $('#register-customer').on("click",function(e){

    var firstName = $("#FirstName").val();
    var lastName = $("#LastName").val();
    var email = $("#Email").val();
    var password = $("#CreatePassword").val();
	var checkEmail = isValidEmailAddress( email );


    if (firstName != "" && lastName != "" && email != "" && checkEmail == true &&  password != "" && password.length > 5)
    {
      $( "#create_customer").submit();
      return true;      
    }else{
      if (firstName == ""){
        $("#FirstName").addClass('placeholder');
        $("#FirstName").attr("placeholder", "Name - Please fill in the required field");
      }else{
        $("#FirstName").removeClass('placeholder');
        $("#FirstName").attr("placeholder", "First Name");
      }

      if (lastName == ""){
        $("#LastName").addClass('placeholder');
        $("#LastName").attr("placeholder", "Name - Please fill in the required field");
      }else{
        $("#LastName").removeClass('placeholder');
        $("#LastName").attr("placeholder", "Last Name");
      }

      if (email == "" || checkEmail == false){
        $("#Email").val("");
        $("#Email").addClass('placeholder');
        $("#Email").attr("placeholder", "Email - Please enter a valid email address");
      }else{
        $("#Email").removeClass('placeholder');
        $("#Email").attr("placeholder", "Email");
      }

      if (password == "" || password.length < 6){
        $("#CreatePassword").val("");
        $("#CreatePassword").addClass('placeholder');
        $("#CreatePassword").attr("placeholder", "Password - Whoops, that's not right... Please try again.");
      }else{
        $("#CreatePassword").removeClass('placeholder');
        $("#CreatePassword").attr("placeholder", "Password (at least six characters)");
      }
      e.preventDefault;
      return false;
    }
  });
</script>
