<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_primary }}">
	<link rel="canonical" href="{{ canonical_url }}">

	{% if settings.favicon != blank %}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<title>{{ shop.name }}</title>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% include 'social-meta-tags' %}

	{{ 'theme.scss.css' | asset_url | stylesheet_tag }}

	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
	<!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
	<!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

	{{ content_for_header }}

  

  {% render 'shogun-head' %}
</head>

<body class="template-password">
	<header class=template-password__header role="banner">
		<h1 itemscope itemtype="http://schema.org/Organization">
			<div class="template-password__logo">
				{{ shop.name }}
			</div>
		</h1>
	</header>

	<main role="main" id="MainContent" class="template-password__main">
		{{ content_for_layout }}
	</main>

	<div id="Login" class="template-password__popup">
		<div class="template-password__login">
			<button id="popup-close-button" class="password-close-button">{% include 'icon-close' %}</button>
			<h4 class="template-password__h4">{{ 'general.password_page.login_form_heading' | t }}</h4>
			{% form 'storefront_password' %}
				{{ form.errors | default_errors }}
				<div class="password-submit-group">
					<input
						type="password"
						name="password"
						id="Password"
						class="password-input"
						required
						placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
					>
					<button type="submit" class="password-button" name="commit">
						{{ 'general.password_page.login_form_submit' | t }}
					</button>
				</div>
			{% endform %}
			<p>{{ 'general.password_page.admin_link_html' | t }}</p>
		</div>

	</div>


	<script>
		let popupLink = document.querySelector('.js-open-password-popup');
		let popupLogin = document.getElementById('Login');
		let popupCloseButton = document.getElementById('popup-close-button');

		popupLink.onclick = function(e) {
			e.preventDefault();

			popupLogin.classList.add('template-password__popup--open');
		}

		popupCloseButton.onclick = function() {
			popupLogin.classList.remove('template-password__popup--open');
		};
	</script>
  <style>
  .needsclick.klaviyo-form {
    display: none!important;
}
</style>
</body>
</html>
