<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!--   iubenda ccpa cookie policy -->
  <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"enableCcpa":true,"consentOnContinuedBrowsing":false,"ccpaNoticeDisplay":false,"ccpaAcknowledgeOnDisplay":true,"whitelabel":false,"lang":"en","siteId":1969245,"ccpaApplies":true,"cookiePolicyId":18844471, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"acceptButtonColor":"#be9764","acceptButtonCaptionColor":"white","customizeButtonColor":"#212121","customizeButtonCaptionColor":"white","rejectButtonColor":"#0073CE","rejectButtonCaptionColor":"white","position":"float-top-center","textColor":"#727272","backgroundColor":"#ffffff" }};
</script>
<script defer type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" defer></script>
 <!--   iubenda ccpa cookie policy end -->
  
  <!-- Start VWO Async Smartcode -->
<script type='text/javascript'>
window._vwo_code = window._vwo_code || (function(){
var account_id=478883,
settings_tolerance=5000,
library_tolerance=5000,
use_existing_jquery=false,
is_spa=1,
hide_element='body',

/* DO NOT EDIT BELOW THIS LINE */
f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
window.settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
</script>
<!-- End VWO Async Smartcode -->
  {% if template contains '404' %}
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  {% endif %}

  <meta name="p:domain_verify" content="b30a989a45513f2a7b1d300ee6d7791d"/>
  <!-- Basic page needs ================================================== -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="content-disposition" content="inline; filename=filename.pdf">
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="google-site-verification" content="0m2CJ-Qq8K7IGBIN8vjGBuDYNOqjHsWxG5Z8Zs601aM" />

  <!-- Title and description ================================================== -->
  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}

  <title>{{ seo_title | strip }}</title>
  




  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Header Scripts & CSS -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
   {{ 'fonts.css' | asset_url | stylesheet_tag }}


  
  {{ 'custom-master.min.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 {{ 'responsive.min.css' | asset_url | stylesheet_tag }}
  {{ 'akantro.min.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'jquery-3.4.1.min.js' | asset_url }}" ></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script src="{{ 'jquery-migrate-3.1.0.min.js' | asset_url }}" defer></script>
  <script src="{{ 'cj-event-storage.min.js' | asset_url}}" defer></script>
  <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer></script>  
  <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}" ></script>  
  {% if template == 'page.results' %}
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha512-/bOVV1DV1AQXcypckRwsR9ThoCj7FqTV2/0Bm79bL3YSyLkVideFLE3MIZkq1u5t28ke1c0n31WYCOrO01dsUg==" crossorigin="anonymous"></script>
  {% endif %}
{% if template contains 'account'%}
  <script src="{{ 'moment.min.js' | asset_url }}" defer></script>
  <script defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
  {%- endif -%}
  <!-- Conv Assets -->
<script src="{{ 'conv-cust-js.min.js' | asset_url }}" defer></script>
{{ 'conv-cust-css.scss.css' | asset_url | stylesheet_tag }}
  
  
  <script src="{{ 'timber.js' | asset_url }}" defer></script>
   <script src="{{ 'theme.js' | asset_url }}" defer></script>
  <!-- {{ 'jquery.cookie.js' | asset_url | script_tag }} --> <!-- Used for CJ / ReCharge -->

  {%- capture CFH -%}{{ content_for_header }}{%- endcapture -%}
  {% if template == 'index' or template contains 'account'%}
    {%-capture CFH-%}{{ CFH | remove: ',"https:\/\/cdn.shopify.com\/s\/files\/1\/1009\/6506\/t\/126\/assets\/affirmShopify.js?v=1597761670\u0026shop=dermaclara.myshopify.com"' | remove: '"\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=dermaclara.myshopify.com",' | remove: '"https:\/\/public.zoorix.com\/shops\/9f3a448e-3634-46d2-8730-7828a39e9297\/zoorix.js?shop=dermaclara.myshopify.com",'| remove: ',"https:\/\/public.zoorix.com\/shops\/9f3a448e-3634-46d2-8730-7828a39e9297\/zoorix.js?shop=dermaclara.myshopify.com"' | remove: '"https:\/\/www.stilyoapps.com\/reconvert\/assets\/js\/store_reconvert.js?shop=dermaclara.myshopify.com",' | remove: ',"https:\/\/cdn.shopify.com\/s\/files\/1\/1009\/6506\/t\/142\/assets\/affirmShopify.js?v=1600354756\u0026shop=dermaclara.myshopify.com"'}}{%- endcapture -%}
        {{ CFH }}
  {% elsif template.name != 'product' and template.name == 'cart' %}
  	  {%-capture CFH-%}{{ CFH | remove: '"\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=dermaclara.myshopify.com",' }}{%- endcapture -%}
        {{ CFH }}
  {% elsif template.name contains 'article' or template.name contains 'page'%}
  	  {%-capture CFH-%}{{ CFH | remove: '"https:\/\/cdn.shopify.com\/s\/files\/1\/1009\/6506\/t\/142\/assets\/affirmShopify.js?v=1600354756\u0026shop=dermaclara.myshopify.com",' | remove: '"\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=dermaclara.myshopify.com",' | remove: '"https:\/\/public.zoorix.com\/shops\/9f3a448e-3634-46d2-8730-7828a39e9297\/zoorix.js?shop=dermaclara.myshopify.com",'| remove: ',"https:\/\/public.zoorix.com\/shops\/9f3a448e-3634-46d2-8730-7828a39e9297\/zoorix.js?shop=dermaclara.myshopify.com"' | remove: '"https:\/\/www.stilyoapps.com\/reconvert\/assets\/js\/store_reconvert.js?shop=dermaclara.myshopify.com",'}}{%- endcapture -%}
        {{ CFH }}
  {% elsif template.name contains 'collection'  %}
    {%-capture CFH-%}{{ CFH | remove: ',"https:\/\/cdn.shopify.com\/s\/files\/1\/1009\/6506\/t\/126\/assets\/affirmShopify.js?v=1597761670\u0026shop=dermaclara.myshopify.com"' | remove: '"https:\/\/public.zoorix.com\/shops\/9f3a448e-3634-46d2-8730-7828a39e9297\/zoorix.js?shop=dermaclara.myshopify.com",'| remove: ',"https:\/\/public.zoorix.com\/shops\/9f3a448e-3634-46d2-8730-7828a39e9297\/zoorix.js?shop=dermaclara.myshopify.com"' | remove: '"https:\/\/www.stilyoapps.com\/reconvert\/assets\/js\/store_reconvert.js?shop=dermaclara.myshopify.com",' | remove: ',"https:\/\/cdn.shopify.com\/s\/files\/1\/1009\/6506\/t\/142\/assets\/affirmShopify.js?v=1600354756\u0026shop=dermaclara.myshopify.com"'}}{%- endcapture -%}
    {{ CFH }}
  {%- else -%}
      {{ CFH }}
  {%- endif -%}


{%- render 'bold-common' -%}
<script src="{{ 'custom.min.js' | asset_url }}" defer></script>
  <script type="text/javascript" src="{{ 'lazysizes.min.js' | asset_url }}" defer="defer"></script>


  <script src="{{ 'slick.min.js' | asset_url }}" defer></script>
  {{ 'slick.min.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.min.css' | asset_url | stylesheet_tag }}

  {% include 'tracking-code' %} 

  {% if template contains 'customers' %}<script type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>{% endif %}

  <!-- Hotjar Tracking Code for https://www.dermaclara.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1601837,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

 
 


  
  
  <!-- Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2618364182543', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2618364182543&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->
{% if template contains 'cart' %}
  {% render 'zoorix-cart-items' %}
   {% endif %}
{% include 'booster-common' %}

  
  {% if template contains 'product' %}
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{ product.title }}" />
    <meta property="og:description" content="{{ product.description | strip_html }}" />
    <meta property="og:url" content="{{ product.url }}"/>
    <meta property="og:site_name" content="{{ shop.name }}" />
    <meta property="product:price:amount" content="{{ product.price | money_without_currency }}" />
    <meta property="product:price:currency" content="{{ currency.iso_code }}" />
    <meta property="og:availability" content="{% if product.available %}instock{% else %}out of stock{% endif %}" />
    {% endif %}
  
  

{% render 'gsf-conversion-pixels' %}
 


  {% render 'shogun-head' %}
 
{% render 'pagefly-header' %}
 
  {% include "trackify_x" %}
</head> 


<!-- hides Privy except for homepage -->
{% if template != 'index' %}
<style>
#privy-inner-container > div.privy-tab-container.privy-top-right.privy-top.privy-right.privy-corner, #privy-inner-container > div.privy-tab-container.privy-top-right.privy-top.privy-right.privy-corner, #privy-inner-container > div.privy-tab-container.privy-top.privy-right.privy-basic.privy-mobile {
  display: none;
}
</style>
{% endif %}
<script>
  console.log('{{ template }}');
</script>

<body id="{{ page_title | handle }}" class="{%if page.handle contains "wrinkles"%}wrinkles-page {%endif%}cbp-spmenu-push {% if template contains 'blog' or template contains 'article' %}blog-article {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {%if page.handle contains 'wrinkles' %}template-index{% endif %}" >
<style>
  .needsclick.klaviyo-form {
    display: none!important;
}
</style>
<script>
// Store cjevent locally to be retrieved in ReCharge checkout
var field = 'cjevent';
var url = window.location.href;
if(url.indexOf('?' + field + '=') != -1) {
  var cjEvent = new URL(url).searchParams.get(field);
  localStorage.setItem('cjevent', cjEvent);
}
</script>
 {{ 'youthlock.scss.css' | asset_url | stylesheet_tag }}
 
<div class="app">
  {% section 'new-ha-pdp-header' %}

  <main class="main-content {% if template contains 'new-HA-pdp-template' %}new-HA-PDP-Template{% endif %}" role="main">
    {{ content_for_layout }}
  </main>

 {% section 'new-ha-pdp-footer' %}
</div>

  {% for i in (1..4) %}
  {% capture home_section %}home_section_{{ i }}{% endcapture %}
  {% if settings[home_section] == 'slider' %}
  {% assign slider_home_enable = true %}
  {% endif %}
  {% endfor %}

  {% if slider_home_enable %}
  <script src="{{ 'jquery.flexslider.min.js' | asset_url }}" async></script>
  <script src="{{ 'slider.js' | asset_url }}" async></script>
  {% endif %}


  <!-- Proxima Nova Font -->
<!-- commenting beacuse showing 404 error
  <link rel="stylesheet" href="https://use.typekit.net/zce5nlj.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <!-- Footer Scripts & CSS -->
  {% include 'google-fonts' %}
  {{ 'total-jquery-style.min.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {% include 'oldIE-js' %}

<!--  <script src="{{ 'instafeed.js' | asset_url }}" defer></script> -->
	
	<script src="{{ '//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js' }}" defer></script>
  <script src="{{ '//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js'}}" defer></script>
  <script src="{{ 'fastclick.min.js' | asset_url }}" defer></script>

  {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
    <script src="{{ 'social-buttons.js' | asset_url }}" defer></script>
    {% endif %}
  {% endif %}

  <script src="{{ 'classie.js' | asset_url }}" type="text/javascript" async></script>
  {% comment %} <script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        showRight = document.getElementById( 'showRight' ),
        showTop = document.getElementById( 'showTop' ),
        showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        closeLeftPush = document.getElementById( 'closeLeftPush' ),
        closeRightPush = document.getElementById( 'closeRightPush' ),
        body = document.body;

    showLeft.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeft' );
    };
    showRight.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRight' );
    };
    showTop.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuTop, 'cbp-spmenu-open' );
      disableOther( 'showTop' );
    };
    showBottom.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuBottom, 'cbp-spmenu-open' );
      disableOther( 'showBottom' );
    };
    showLeftPush.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( body, 'cbp-spmenu-push-toright' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeftPush' );
    };
    showRightPush.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( body, 'cbp-spmenu-push-toleft' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRightPush' );
    };
    closeLeftPush.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( body, 'cbp-spmenu-push-toright' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeftPush' );
    };
    closeRightPush.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( body, 'cbp-spmenu-push-toleft' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRightPush' );
    };

    function disableOther( button ) {
      if( button !== 'showLeft' ) {
        classie.toggle( showLeft, 'disabled' );
      }
      if( button !== 'showRight' ) {
        classie.toggle( showRight, 'disabled' );
      }
      if( button !== 'showTop' ) {
        classie.toggle( showTop, 'disabled' );
      }
      if( button !== 'showBottom' ) {
        classie.toggle( showBottom, 'disabled' );
      }
      if( button !== 'showLeftPush' ) {
        classie.toggle( showLeftPush, 'disabled' );
      }
      if( button !== 'showRightPush' ) {
        classie.toggle( showRightPush, 'disabled' );
      }
      if( button !== 'closeLeftPush' ) {
        classie.toggle( showLeftPush, 'disabled' );
      }
      if( button !== 'closeRightPush' ) {
        classie.toggle( showRightPush, 'disabled' );
      }

    }
  </script> {% endcomment %}

  <!-- Start Google Code for Remarketing Tag -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 944204258;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" defer></script>
  <noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/944204258/?value=1&amp;guid=ON&amp;script=0"/></div></noscript>
  <!-- End Google Code for Remarketing Tag -->
  <script src="{{ 'vimeo.ga.min.js' | asset_url }}" async></script>
 

  {% include 'subscription-theme-footer' %}

  <!-- Start AgileCRM Tracking Code -->
  <script id="_agile_min_js" async type="text/javascript" src="https://trancorp.agilecrm.com/stats/min/agile-min.js" defer> </script>
  <script type="text/javascript" >
    var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
      _agile.set_account('b46ucsl40b8dl9tsct5e7jbdah', 'trancorp');
      _agile.track_page_view();
      _agile_execute_web_rules();};
  </script>
  <!-- End AgileCRM Tracking Code -->

  <!-- Hive wyre Tracking Code -->
  <script src="https://js.b1js.com/tagcontainer.js?id=ee4adb3152b14ab1b5ff58f44910f620&type=1" async></script>
  <!-- End Hive wyre Tracking Code -->
  
  <!-- Conversion Pixel For Rev Content -->
<!--    <img src="//trends.revcontent.com/conv.php?t=ln%2Bo15HMaO%2FwejlfHu8q9PqBK1b%2FGPNe28UHbqq1igWCplY7PpW%2B6Umr0J15uu20" /> -->
   <!-- End Conversion Pixel For Rev Content -->

<script src="{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' }}" defer></script>

{% include 'mps-buy-me' %}
  <script>
    jQuery(document).ready(function(){

      jQuery('#privy-form-3651770').submit(function(){
      pintrk('track', 'lead', {
        lead_type: 'Newsletter'
      });
      })
      

    })
  </script>
  

{% include 'booster-discounts' %}
  <style>
#launcher{
  bottom: 50px !important;
}
</style>
</body>

<!-- Taboola Pixel Code -->
<script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1294801});
    !function (t, f, a, x) {
        if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
        }
    }(document.createElement('script'),
            document.getElementsByTagName('script')[0],
            '//cdn.taboola.com/libtrc/unip/1294801/tfa.js',
            'tb_tfa_script');
</script>
<noscript>
    <img src='https://trc.taboola.com/1294801/log/3/unip?en=page_view'
         width='0' height='0' style='display:none'/>
</noscript>
<!-- End of Taboola Pixel Code -->



<script>
  window.theme = window.theme || {};
  window.theme.settings = {
      dynamicVariantsEnable: true,
      // dynamicVariantType: {{ settings.variant_type | json }},
      // cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      // predictiveSearch: {{ settings.predictive_search_enabled }},
      // inventoryThreshold: {{ settings.inventory_threshold }},
      // quickView: {{ settings.quick_shop_enable }},
      customersID: {% if customer %}{{ customer.id }}{% else %}null{% endif %},
      customerEmail: {% if customer %}'{{ customer.email }}'{% else %}null{% endif %},
      myshopify_domain: '{{ shop.permanent_domain }}',
    };

</script>

</html>