{% if article.metafields.custom_fields["footer_ad"] != blank %}
  <a href='{{ article.metafields.custom_fields["footer_ad_link"] }}'>
    <img class="blog-ads" src='{{ article.metafields.custom_fields["footer_ad"] }}'>
  </a>
{% else %}
  <a href="{{ section.settings.article_footer_link }}">
    <img class="blog-ads" src="{{ section.settings.article_footer_ad | img_url: '855x240' }}" alt="Dermaclara Promotion">
  </a>
{% endif %}

<style>
.blog-ads {
    width: 100% !important;
}
</style>

{% schema %}
  {
    "name": "Article Footer Ad",
    "settings": [
      {
        "id": "article_footer_ad",
        "type": "image_picker",
        "label": "Article Footer Ad IMAGE"
      },
      {
        "id": "article_footer_link",
        "type": "url",
        "label": "Article Footer Ad LINK"
      }
    ]
  }
{% endschema %}