{% if article.metafields.custom_fields["sidebar_ad"] != blank %}
  <a href='{{ article.metafields.custom_fields["sidebar_ad_link"] }}'>
    <img class="blog-side-ads" src='{{ article.metafields.custom_fields["sidebar_ad"] }}'>
  </a>
{% else %}
  <a href="{{ section.settings.article_side_link }}">
    <img class="blog-side-ads" src="{{ section.settings.article_side_ad | img_url: '260x930' }}" alt="Dermaclara Promotion">
  </a>
{% endif %}

<style>
.blog-side-ads {
    margin-top: 18px;
    position: sticky;
}
</style>

<script>
function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var footer_top = $(".footer-blog").offset().top;
    var div_top = $('#sticky-anchor').offset().top;
    var div_height = $(".blog-side-ads").height();

    var padding = 20;  // tweak here or get from margins etc

    if (window_top + div_height > footer_top - padding)
        $('.blog-side-ads').css({top: (window_top + div_height - footer_top + padding) * -1})
    else if (window_top > div_top) {
        $('.blog-side-ads').addClass('stick');
        $('.blog-side-ads').css({top: 0})
    } else {
        $('.blog-side-ads').removeClass('stick');
    }
}

$(function () {
    $(window).scroll(sticky_relocate);
    sticky_relocate();
});
</script>

{% schema %}
  {
    "name": "Article Side Ad",
    "settings": [
      {
        "id": "article_side_ad",
        "type": "image_picker",
        "label": "Article Side Ad IMAGE"
      },
      {
        "id": "article_side_link",
        "type": "url",
        "label": "Article Side Ad LINK"
      }
    ]
  }
{% endschema %}