

 <div class="customer-also-bought border-top pt-md-4 pt-3 w-100">
    <h6 class="text-secondary mb-0">CUSTOMERS ALSO BOUGHT TOGETHER</h6>
    <div class="cart-product-list">
        {% assign prd1 = all_products[section.settings.prd1] %}
        {% assign prd2 = all_products[section.settings.prd2] %}
        {% assign prd3 = all_products[section.settings.prd3] %}
        <div class="cart-product py-3">
        <div class="row align-items-center"> 
            <div class="col-lg-6 col-md-5 col-sm-6 mb-md-0 mb-2">
                <div class="d-flex align-items-center">
                    <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                        <img src="{{prd1.featured_image | img_url: '50x'}}" class="img-contain" />
                    </div>
                    <div class="d-flex align-items-center ml-md-3 ml-2">
                        <h5 class="mb-0 title">{{prd1.title}}</h5>
                    </div>
                </div>
            </div>
            <div class="qty col-sm-2 col-4 text-center m-0">
                <input data-qty type="text" size="4" id="updates_{{prd1.id}}" value="1" class="tc item-quantity">
            </div>
            <div class="col-sm-2 col-4 text-center">
                {{prd1.price | money}}
            </div>
            <div class="col-sm-2 col-lg-2 col-md-3 col-4">
            <button  data-upsellCart data-prdid="{{prd1.id}}" data-varid="{{prd1.variants[0].id}}" class="d-flex align-items-center btn btn-secondary justify-content-center"><span data-upsellCart data-prdid="{{prd1.id}}" data-varid="{{prd1.variants[0].id}}">add</span><img data-upsellCart data-prdid="{{prd1.id}}" data-varid="{{prd1.variants[0].id}}" src="https://cdn.shopify.com/s/files/1/1009/6506/files/more.png?v=1601036807" class="ml-2"/></button>
            </div>
        </div>
        </div>
        <div class="cart-product py-3">
            <div class="row align-items-center"> 
                <div class="col-lg-6 col-md-5 col-sm-6 mb-md-0 mb-2">
                    <div class="d-flex align-items-center">
                        <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                            <img src="{{prd2.featured_image | img_url: '50x'}}" class="img-contain" />
                        </div>
                        <div class="d-flex align-items-center ml-md-3 ml-2">
                            <h5 class="mb-0 title">{{prd2.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="qty col-sm-2 col-4 text-center m-0">
                    <input data-qty type="text" size="4" id="updates_{{prd2.id}}" value="1" class="tc item-quantity">
                </div>
                <div class="col-sm-2 col-4 text-center">
                    {{prd2.price | money}}
                </div>
                <div class="col-sm-2 col-lg-2 col-md-3 col-4">
                  <button  data-upsellCart data-prdid="{{prd2.id}}" data-varid="{{prd2.variants[0].id}}" class="d-flex align-items-center btn btn-secondary justify-content-center"><span data-upsellCart data-prdid="{{prd2.id}}" data-varid="{{prd2.variants[0].id}}">add</span><img data-upsellCart data-prdid="{{prd2.id}}" data-varid="{{prd2.variants[0].id}}" src="https://cdn.shopify.com/s/files/1/1009/6506/files/more.png?v=1601036807" class="ml-2"/></button>
                </div>
            </div>
        </div>
        <div class="cart-product py-3">
            <div class="row align-items-center"> 
                <div class="col-lg-6 col-md-5 col-sm-6 mb-md-0 mb-2">
                    <div class="d-flex align-items-center">
                        <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                            <img src="{{prd3.featured_image | img_url: '50x'}}" class="img-contain" />
                        </div>
                        <div class="d-flex align-items-center ml-md-3 ml-2">
                            <h5 class="mb-0 title">{{prd3.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="qty col-sm-2 col-4 text-center m-0">
                    <input type="text" data-qty size="4" id="updates_{{prd3.id}}" value="1" class="tc item-quantity">
                </div>
                <div class="col-sm-2 col-4 text-center">
                    {{prd3.price | money}}
                </div>
                <div class="col-sm-2 col-lg-2 col-md-3 col-4">
                <button data-upsellCart data-prdid="{{prd3.id}}" data-varid="{{prd3.variants[0].id}}" class="d-flex align-items-center btn btn-secondary justify-content-center"><span data-upsellCart data-prdid="{{prd3.id}}" data-varid="{{prd3.variants[0].id}}">add</span><img data-upsellCart data-prdid="{{prd3.id}}" data-varid="{{prd3.variants[0].id}}" src="https://cdn.shopify.com/s/files/1/1009/6506/files/more.png?v=1601036807" class="ml-2"/></button>
                </div>
            </div>
        </div>
      
      
    </div>
  </div>
  {% include 'V2-template-scripts' %}
{% schema %}
{
    "name": "Upsell Products",
    "settings": [
    {
        "type": "product",
        "id":"prd1",
        "label": "1st product"
    },
    {
        "type": "product",
        "id":"prd2",
        "label": "2nd product"
    },
    {
        "type": "product",
        "id":"prd3",
        "label": "3rd product"
    }
    
    ]
}
{% endschema %}