{% assign products_per_row = section.settings.coll-prd-rows | times: 1 %}
{% assign rows = section.settings.coll-rows %}
{% assign total_products = products_per_row | times: rows %}
{% paginate collection.products by total_products %}
{% assign grid_item_width = '' %}
{% case products_per_row %}
{% when 2 %}
{% assign grid_item_width = 'col-md-6 col-12' %}
{% when 4 %}
{% assign grid_item_width = 'col-xl-3 col-md-4 col-12' %}
{% when 6 %}
{% assign grid_item_width = 'col-md-2 col-12' %}
{% endcase %}
<section id="{{section.id}}" class="collection container">
    <div class="justify-content-center row">
    {% for product in collection.products %}
        {% unless product.tags contains 'new-hidden-kit-product' %}
            <div class="pb-3 border-0 card {{grid_item_width}}" >
                <a href="{{ product.url | within: collection }}" class="img-container position-relative">
                    <img class="position-absolute card-img-top fade-in lazyload" data-src="{{ product.featured_image | img_url: '520x' }}" alt="{{ product.featured_image.alt | escape }}">
                </a>
                <div class="card-body pb-0">
                    <h6 class="card-title font-garamond mb-0 text-center"><a class="text-dark" href="{{ product.url | within: collection }}">{{product.title}}</a></h6>
                    <p class="colle-description mb-0 text-center">{{ product.metafields.custom_fields["product_title_eyebrow"] }}</p>
                </div>
                <div class="bg-white border-0 card-footer pt-0 text-muted">
                    <div class="text-center font-size-13 reviews_count">
                        {% if product.id == 4372925677645 %}
                            <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
                        {% elsif product.id == 4349101899853 %}
                            <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
                        {% elsif product.id == 4599065575501 %}
                            <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
                        {% else %}
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        {% endif %}
                      </div>
                    <h6 class="card-title font-garamond mb-0 text-center">
                        {% if product.metafields.subscriptions.subscription_id  %}
                        ${{ product.variants[0].metafields.subscriptions.discount_variant_price }}
                        {% else %}
                        {{ product.price | money }}
                    {% endif %}
                    </h6>
                </div>
            </div>
        {% endunless %}
    {% endfor %}
    </div>
</section>
{% if paginate.pages > 1 %}
<hr class="hr--clear">

<div class="text-center">
  {% include 'pagination-custom' %}
</div>
{% endif %}
{% endpaginate %}
{% schema %}
{
  "name": "collection",
  "settings": [
    {
      "type": "text",
      "id": "coll-rows",
      "default": "4",
      "label": "No of rows in one page"
    },
    {
      "type": "range",
      "id": "coll-prd-rows",
      "min": 2,
      "max": 6,
      "step": 2,
      "default": 4,
      "label": "No. of products in a row"
    }
  ]
}
{% endschema %}