<!-- Mobile slider -->
<section class="hero-section hero-slide-bg-mobile">
  {% for block in section.blocks %}
    <div class="hero-slide"
      style="background-image: url({{ block.settings.hero_image_mobile | img_url: '576x' }});
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          {% if block.settings.hero_content_position_mobile == 'top' %}grid-template-rows: 1fr 2fr;{% endif %}
          {% if block.settings.hero_content_position_mobile == 'bottom' %}grid-template-rows: 2fr 1fr;{% endif %}"
          {{ block.shopify_attributes }}>

      <div class="hero-content"
        style="{% if block.settings.hero_content_position_mobile == 'top' %}order:1;{% endif %}
        {% if block.settings.hero_content_position_mobile == 'bottom' %}order:2; margin-bottom: 24px;{% endif %}">
        <h1 class="hero-title" style="color: {{ block.settings.hero_title_color }};">{{ block.settings.hero_title }}</h1>
        <p class="hero-text" style="color: {{ block.settings.hero_content_color }};">{{ block.settings.hero_content }}</p>
        <div class="hero-buttons">
          <a class="btn-v2" style="background: {{ block.settings.hero_learn_btn_color }}; color: {{ block.settings.hero_learn_btn_text_color }};" href="{{ block.settings.hero_learn_more_link }}">{{ block.settings.hero_learn_more_text }}</a>
          {% comment %} <a class="btn-v2" style="background: {{ block.settings.hero_promo_btn_color }}; color: {{ block.settings.hero_promo_btn_text_color }};" href="{{ block.settings.hero_promo_link }}">{{ block.settings.hero_promo_link_text }}</a> {% endcomment %}
        </div>
      </div>

      <div class="hero-empty-space"
        style="{% if block.settings.hero_content_position_mobile == 'top' %}order:2;{% endif %}
        {% if block.settings.hero_content_position_mobile == 'bottom' %}order:1;{% endif %}">
        <!-- space for empty side -->
      </div>

    </div>
  {% endfor %}
</section>

<!-- Desktop slider -->
<section class="hero-section hero-slide-bg-desktop">
  {% for block in section.blocks %}
    <div class="hero-slide"
    style="background-image: url({{ block.settings.hero_image | img_url: '1024x' }});
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;"
        {{ block.shopify_attributes }}>

      <div class="hero-content"
        style="{% if block.settings.hero_content_position_desktop == 'left' %}order:1;{% endif %}
        {% if block.settings.hero_content_position_desktop == 'right' %}order:2;{% endif %}">
        <h1 class="hero-title" style="color: {{ block.settings.hero_title_color }};">{{ block.settings.hero_title }}</h1>
        <p class="hero-text" style="color: {{ block.settings.hero_content_color }};">{{ block.settings.hero_content }}</p>
        <div class="hero-buttons">
          <a class="btn-v2" style="background: {{ block.settings.hero_learn_btn_color }}; color: {{ block.settings.hero_learn_btn_text_color }};" href="{{ block.settings.hero_learn_more_link }}">{{ block.settings.hero_learn_more_text }}</a>
          {% comment %} <a class="btn-v2" style="background: {{ block.settings.hero_promo_btn_color }}; color: {{ block.settings.hero_promo_btn_text_color }};" href="{{ block.settings.hero_promo_link }}">{{ block.settings.hero_promo_link_text }}</a> {% endcomment %}
        </div>
      </div>

      <div class="hero-empty-space"
        style="{% if block.settings.hero_content_position_desktop == 'left' %}order:2;{% endif %}
        {% if block.settings.hero_content_position_desktop == 'right' %}order:1;{% endif %}">
        <!-- space for empty side -->
      </div>

    </div>
  {% endfor %}
</section>

<script>
$(document).ready(function(){
    $('.hero-section').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: false,
      autoplaySpeed: 5000,
      infinite: true,
      dots: true,
      arrows: false,
      fade: true,
      fadeSpeed: 5000,
      responsive: [
        {
          breakpoint: 1000,
            settings: {
                // stuff here
            }
        },
        {
          breakpoint: 480,
            settings: {
                // stuff here
            }
        }
      ]
    });
 });
</script>

<style>
  /* Changing header background to white */
  .template-index #header-sticky-wrapper #header {
    background: white !important;
  }

  /* Slick slider styles */
  .slick-initialized .slick-slide {
    display: grid;
  }

  .slick-prev {
    left: 25px !important;
    z-index: 1 !important;
  }

  .slick-next {
    right: 25px !important;
    z-index: 1 !important;
  }

  .slick-prev:before, .slick-next:before {
      color: red !important;
  }

  .slider {
    width: 100% !important;
  }

  .slide img {
    display: block !important;
    width: 100% !important;
    height: auto !important;
  }

  .slick-dots {
    display: flex !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 1rem 0 !important;
    list-style-type: none !important;
    bottom: 0px !important;
  }

  .slick-dots li {
    margin: 0 0.25rem !important;
  }

  .slick-dots button {
    display: block !important;
    width: 1rem !important;
    height: 1rem !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 100% !important;
    background-color: transparent !important;
    border: 1px solid #121212 !important;
    text-indent: -9999px !important;
  }
  .slick-dots li.slick-active button {
    background-color: #121212 !important;
  }

  /* Hero slider styles */
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-slide {
    display: grid;
    grid-template-columns: 1fr;
    height: 700px;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-content {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 24px;
    text-align: center;
  }

  .hero-empty-space {
    display: grid;
  }

  .hero-slide-bg-mobile {
      display: grid !important;
  }

  .hero-slide-bg-desktop {
      display: none !important;
  }

  @media screen and (min-width: 576px) {
    .hero-slide-bg-mobile {
      display: none !important;
    }

    .hero-title {
      font-size: 40px;
    }

    .hero-slide-bg-desktop {
      display: grid !important;
    }

    .hero-slide {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
</style>

{% schema %}
{
  "name": "Hero Slider V2",
  "blocks": [
    {
    "type": "hero_slide",
    "name": "Hero Slide",
    "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Desktop Hero Image"
        },
        {
          "type": "image_picker",
          "id": "hero_image_mobile",
          "label": "Mobile Hero Image"
        },
        {
          "type":      "radio",
          "id":        "hero_content_position_mobile",
          "label":     "Mobile hero content position",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default":   "top",
          "info":      "Position of content on mobile"
        },
        {
          "type":      "radio",
          "id":        "hero_content_position_desktop",
          "label":     "Desktop hero content position",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default":   "left",
          "info":      "Position of content on desktop"
        },
        {
          "type": "color",
          "id": "hero_title_color",
          "label": "Hero Title Color",
          "default": "#556BAB"
        },
        {
          "type": "text",
          "id": "hero_title",
          "label": "Hero Title"
        },
        {
          "type": "color",
          "id": "hero_content_color",
          "label": "Hero Content Color",
          "default": "#121212"
        },
        {
          "type": "textarea",
          "id": "hero_content",
          "label": "Hero Content"
        },
        {
          "type": "color",
          "id": "hero_learn_btn_color",
          "label": "Learn more button color",
          "default": "#c2a16b"
        },
        {
          "type": "color",
          "id": "hero_learn_btn_text_color",
          "label": "Learn more button Text color",
          "default": "#ffffff"
        },
        {
          "type": "url",
          "id": "hero_learn_more_link",
          "label": "Hero Learn More Link"
        },
        {
          "type": "text",
          "id": "hero_learn_more_text",
          "label": "Hero Learn More Text"
        },
        {
          "type": "color",
          "id": "hero_promo_btn_color",
          "label": "Promo button color",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "hero_promo_btn_text_color",
          "label": "Promo button Text color",
          "default": "#ffffff"
        },
        {
          "type": "url",
          "id": "hero_promo_link",
          "label": "Hero Promo Link"
        },
        {
          "type": "text",
          "id": "hero_promo_link_text",
          "label": "Hero Promo Link Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Hero Slides",
      "blocks": [
        {
          "type": "hero_slide"
        },
        {
          "type": "hero_slide"
        },
        {
          "type": "hero_slide"
        }
      ]
    }
  ]
}
{% endschema %}
