<section id="homepageCarousel" class="homepage-carousel">
    <div class="homepage-carousel-wrapper">
        {% for block in section.blocks %}
        <img src="{{ block.settings.carousel_image | img_url: '500x' }}" class="carousel-image">
        {% endfor %}
    </div>
</section>

<script>
$(document).ready(function(){
    $('.homepage-carousel-wrapper').slick({
      slidesToShow: 10,
      slidesToScroll: 10,
      autoplay: false,
      infinite: false,
      dots: false,
      arrows: false,
      responsive: [
        {
            breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    dots: true
                }
            },
            {
            breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    dots: true
                }
            },
            {
            breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    dots: true
            }
        }
      ]
    });
 });
</script>

<style>
.carousel-image {
    margin: 0 12px;
    border: 1px solid lightgrey;
    outline: 0;
}
</style>

{% schema %}
{
  "name": "Homepage Carousel",
  "blocks": [
    {
    "type": "homepage_carousel",
    "name": "Carousel Image",
    "settings": [
        {
          "type": "image_picker",
          "id": "carousel_image",
          "label": "Carousel image"
        }
      ],
    "limit": 10
    }
  ],
  "presets": [
    {
      "name": "Homepage Carousel",
      "category": "Carousel Image",
      "blocks": [
        {
          "type": "homepage_carousel"
        }
      ]
    }
  ]
}
{% endschema %}
