<section id="homepagePromo" class="homepage-promo">
    {% for block in section.blocks %}
    <a href="{{ block.settings.promo_url }}">
        <img class="lazyload fade-in" data-src="{{ block.settings.promo_image | img_url: '291x' }}" onmouseover="this.src='{{ block.settings.promo_image_hover | img_url: '600x' }}'" onmouseout="this.src='{{ block.settings.promo_image | img_url: '600x' }}'" class="homepage-promo-image">
    </a>
    {% endfor %}
</section>

<style>
#homepagePromo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    max-width: 1200px;
    margin: 36px auto 24px auto;
}

.homepage-promo-image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #homepagePromo {
        grid-template-columns: repeat(4, 1fr);
    }
}
</style>

{% schema %}
{
  "name": "Homepage Promo",
  "blocks": [
    {
    "type": "homepage_promo",
    "name": "Promo Image",
    "settings": [
        {
          "type": "url",
          "id": "promo_url",
          "label": "Promo link"
        },
        {
          "type": "image_picker",
          "id": "promo_image",
          "label": "Promo image"
        },
        {
            "type": "image_picker",
            "id": "promo_image_hover",
            "label": "Promo hover image"
        }
      ],
    "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Homepage Promo",
      "category": "Promo Image",
      "blocks": [
        {
          "type": "homepage_promo"
        }
      ]
    }
  ]
}
{% endschema %}
