
<div id="how-to-use-page" class="mt-4 page">

    <div class="top-carousel">

        <h3 class="font-weight-bold text-uppercase text-center mb-4">{{ section.settings.heading }}</h3>

        <div class="slider-container position-relative">

            <div class="container position-relative"> 

                <div class="carousel-nav">
                    {% for block in section.blocks %}
                        {% if block.type == 'how-to-use-videos' %}
                            {% assign prd = all_products[block.settings.prod] %}
                            {% assign video_url = block.settings.prd_video | split: '/watch?v=' | last %}
                            <div data-product-slide data-video-url="https://www.youtube.com/embed/{{video_url}}" data-handle="{{ prd.handle }}" class="text-center mx-2">
                                <div class="product-img">
                                    <img class="fade-in lazyloaded" src="{{prd.featured_image | img_url: 'large'}}">
                                </div>
                                <div class="product-desc mt-3">
                                    <p class="font-size-15 font-weight-bold mb-0 text-dark text-uppercase">{{prd.title}}</p>
                                    {% if prd.metafields.custom_fields["product_title_eyebrow"] %}
                                        <p class="font-size-14 text-uppercase">{{ prd.metafields.custom_fields["product_title_eyebrow"] }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="carousel-main my-5">
                {% for block in section.blocks %}
                    {% if block.type == 'how-to-use-videos' %}
                        <div class="text-center">
                            <p class="mb-0 font-size-14">{{ block.settings.prod_desc }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
 
    </div>

    <div class="product-video">
        <div class="container">
            <iframe data-iframe width="100%" height="720" src="https://www.youtube.com/embed/G_pSvgOKZWI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div id="howtouse" class=" skin-section new-HA-skin-section">
        <div class="container section-content">
            <div class="mb-4 text-center text-uppercase heading">{{section.settings.steps_heading}}</div>
          <p class="text-center text-center col-lg-9 mx-auto font-size-14 heal-content">
            {{section.settings.steps_subheading}}
          </p>
          
            <div class="row mt-5">
                {% for block in section.blocks %}
                    {% if block.type == 'how-to-use-steps' %}
                        <div class="col-md-4 col-12 text-center skin-section-wrapper">
                            <div class="">
                                <img src="{{block.settings.step_img}}"  class="mb-3 font-garamond orange">
                                <p class="text-uppercase font-weight-bold">{{block.settings.heading}}</p>
                                <p class="font-size-13">{{block.settings.content}}</p>
                            </div>
                        </div>
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="pt-5" data-howtovideo-prd-page>

    </div>

</div>

{% schema %}
{
  "name": "How to use videos",
  "settings":[
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "How-to use"
    },
    {
        "type": "textarea",
        "id": "steps_heading",
        "label": "How to use Steps heading",
        "default": "3 steps to heal and revive your skin"
    },
    {
        "type": "textarea",
        "id": "steps_subheading",
        "label": "How to use Steps subheading",
        "default": "3 steps to heal and revive your skin"
    }
  ],
  "blocks": [
    {
      "type": "how-to-use-videos",
      "name": "How to use Video",
      "settings": [
        {
          "type": "product",
          "id": "prod",
          "label": "Add product for how to use videos"
        },
        {
          "type": "textarea",
          "id": "prod_desc",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.",
          "label": "Add product description"
        },
        {
          "type": "video_url",
          "id": "prd_video",
          "accept": ["youtube"],
          "label": "Add product Video URL",
          "default": "https://www.youtube.com/watch?v=G_pSvgOKZWI"
        }
      ]
    },
    {
      "type": "how-to-use-steps",
      "name": "How to use Steps",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "step_img",
          "label": "Step Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Add Step title",
          "default": "Cleanse"
        },
        {
          "type": "html",
          "id": "content",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.",
          "label": "Add step description"
        }
      ]
    }
  ]
}
{% endschema %}