<footer class="HA-footer py-md-5 py-4 pb-5" style="background: {{section.settings.footer_color}}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-md-0">
           <div class="foot-logo text-left text-md-center mb-4 mb-md-4">
                <a href="#" class="d-block text-md-left text-center "><img src="{{section.settings.logo}}" alt="logo" class="img-fluid" style="width: 120px;"></a>
                </div>
                {% if section.settings.enable_social_media %}
                <div class="pt-md-2 mb-md-0 d-flex align-items-center  justify-content-md-start justify-content-center social-wrap">
                    <ul class="list-unstyled align-items-center d-flex justify-content-md-start justify-content-center mb-0">
                        {% if settings.social_instagram_link %}
                            <li class="px-2  pl-md-0 pr-md-3 pr-lg-4"><a href="{{settings.social_instagram_link}}"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/Instagram_Icon.svg?v=1599664032"/></a></li>
                        
                            {% endif %}
                            {% if settings.social_facebook_link %}
                            <li class="px-2 pl-md-0 pr-md-3 pr-lg-4 "><a href="{{settings.social_facebook_link}}"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/Facebook_Icon.svg?v=1599664032"></a></li>
                            {% endif %}
                            {% if settings.social_twitter_link %}
                            <li class="px-2 pl-md-0 pr-md-3 pr-lg-4"><a href="{{ settings.social_twitter_link}}"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/Twitter_Icon.svg?v=1599664032"/></a></li>
                            {% endif %}
                            {% if settings.social_pinterest_link %}
                             <li class="px-2 pl-md-0 pr-md-3 pr-lg-4"><a href="{{ settings.social_pinterest_link}}"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/Pinterest_Icon_1af36e6f-e812-4aba-8382-d128b0728a72.svg?v=1599729456"/></a></li>
                             {% endif %}
                    </ul>
                </div> 
                {% endif %}
        </div>
        <div class="col-lg-2 col-md-3  col-6">
            <ul class="mb-0 list-unstyled">
                {% for link in linklists[section.settings.menu].links %}
                <li> <a {%if link.handle == 'shop'%} href="/collections/shopping-page" {% else %} href="{{ link.url }}"{%endif%} class="font-size-sm text-white text-uppercase">{{link.title}}</a> </li>
                {%endfor%}
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <ul class="mb-0 list-unstyled">
                <li> <a href="https://dermaclara.refersion.com" class="font-size-sm text-white text-uppercase">refer a friend
</a> </li>
                 <li> <a href="/pages/ambassadors" class="font-size-sm text-white text-uppercase">     ambassadors
</a> </li>
                  <li> <a href="/pages/support" class="font-size-sm text-white text-uppercase">    have questions?
</a> </li>
                  <li> <a href="https://www.iubenda.com/terms-and-conditions/18844471" class="iubenda-nostyle no-brand iubenda-embed font-size-sm text-white text-uppercase">    terms & conditions
</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> </li>
                  <li> <a href="https://www.iubenda.com/privacy-policy/18844471" class="iubenda-nostyle no-brand iubenda-embed font-size-sm text-white text-uppercase">    privacy policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> </li>
               
            </ul>
        </div>

        <div class="col-12 mt-md-0 mt-5 text-md-left text-center">
            <p class="font-size-13 mb-0 text-white ">Need Help? </p>
            <p class="font-size-13 text-white"><a href="mailto:support@dermaclara.com" class="text-white">support@dermaclara.com</a></p>

            
            <p class="font-size-13 text-white">© 2020 Dermaclara All Rights Reserved</p>
        </div>
      
      </div>
    </div>
</footer>


{% schema %}
{
    "name": "Footer",
    "settings": [
      {
        "type": "color",
        "id": "footer_color",
        "label": "Footer color",
        "default": "#e38065"
      },
      {
        "type": "checkbox",
        "id": "enable_social_media",
        "label": "Show social media buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header menu"
      }
    ]
}
{% endschema %}