{% assign meta = product.metafields.custom_fields.new_sub_product  %}
<div class="youth-lock-system-product" >
  {% if meta.top_bar_msg %}
  <div class="product-header-bar" style="background:#eb9c80">
      <p>{{meta.top_bar_msg}}</p>
  </div>
  {% endif %}
  
  <div class="light-blue-bg-img" >
    {% if section.settings.logo %}
    	<div class="container">
      <div class="row align-items-center">
        <div class="logo-wrapp col-lg-3 col-md-8 col-sm-8 col-xs-8 col-8">
          <div class="site-header__logo" itemscope="" itemtype="http://schema.org/Organization">

            <a href="/" class="logo-wrapper" itemprop="url">
              <img class="logo-normal" src="//cdn.shopify.com/s/files/1/1009/6506/t/129/assets/logo.png?v=15150735219343549877" alt="Dermaclara" itemprop="logo">
<!--               <img class="logo-opt" src="//cdn.shopify.com/s/files/1/1009/6506/t/129/assets/logo-opt.png?v=10320652394885679133" alt="Dermaclara" itemprop="logo"> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="section-content product-detail-section">
      <div class="container">
        <div class="row">
          {% if meta.hero_img %}
          <div class="col-lg-6">
            <img src="{{meta.hero_img}}" />
          </div>
          {% endif %}

          <div class="col-lg-6">      
              <h1 class="text-uppercase text-blue">{{ meta.section1.heading }}</h1>
              <p class="h4 text-blue"><i>{{ meta.section1.pricing_msg }} </i></p>
            <h3 class="text-light-blue">{{ meta.section1.FDA_approved}} <span class="text-orange font-weight-bold">{{ meta.section1.FDA_approved_subtext}}</span>  </h3>
            <a id="" class="cta-btn btn btn-lg btn-blue" href="#atcForm">GET IT NOW</a>
            
			{% if meta.section1.review_msg %}
            <div class="review-section">
              <div class="review-head">
                <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/stars-and-reviews.png?v=1597818786" /> <p class="text-black">Based on 121 Reviews</p>
              </div>
              <div class="review-wrap clearfix">
                <!--                 <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> -->
                <div class="image-wrap">
                  <img src="{{meta.section1.review_img}}" width="80" />
                </div>
                <div class="content-wrap">
                  <h4 class="font-weight-bold text-blue  text-capitalize">{{ meta.section1.review_username }}r</h4>
                  <div class=" text-capitalize text-light-blue display-4">{{ meta.section1.review_msg }}</div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if meta.as_seen %}
  	<div class="section-content logo-section">
    <div class="container">
      {% assign as_seen_imgs = meta.as_seen | split: ',' %}
      <h3 class="text-center">As seen on:</h3>
      
      <div class="row align-items-center">
        {% for img in as_seen_imgs %}
        	<div class="col-md-3 image-wrap">
          <img src="{{ img }}" />
        </div>
       	{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="light-blue-bg section-content goodbye-section">
    <div class="container text-center">
      <div class="col-lg-9 mx-auto ">
        <h1 class="text-uppercase  text-blue">{{ meta.section3.heading }}</h1>
        <div class="hr black-hr large hr-thin"></div>
        {% assign msg = meta.section3.msg | split: '|'%}
        <h3 class="text-uppercase  text-blue font-weight-bold">{{ msg[0] }}</h3>



        <div class="text-capitalize display-4">
          <span class="text-uppercase"> {{ msg[1] }} </span><span class="font-weight-bold text-orange">{{ msg[2] }}</span> {{ msg[3] }}
        </div>
      </div>
    </div>
  </div>

      <div class="section-content micro-system">
        {% assign section4_heading = meta.section4.heading | split: '_' %}
        <div class="container text-center">
          <h2 class="text-center text-gray font-weight-bold">{{section4_heading[0]}}</h2>
		{% assign section4_sub_heading = section4_heading[1] | split: '|' %}
          <div class="row">
              <div class="col-sm-6 heading-wrap ">
                <div class="text-right display-3 text-gray font-weight-bold">{{section4_sub_heading[0]}}</div>
                 <div class="text-right h2 text-gray font-weight-bold">{{section4_sub_heading[1]}}</div>
                 <div class="text-right display-1  text-golden">{{section4_sub_heading[2]}}</div>
                 <div class="text-right display-1  text-golden">{{section4_sub_heading[3]}}</div>
                {% assign section4_desc = meta.section4.desc | split: '|' %}

                <div class="hr black-hr hr-thin hr-right hr-sm"></div>
                 <div class="text-right display-4">
                  {{ section4_desc[0] }} <span class="text-orange font-weight-bold">{{ section4_desc[1] }}</span>{{section4_desc[2]}}
                 </div>
              </div>
            {% if meta.section4.img %}
            <div class="col-sm-6">
              <img src="{{ meta.section4.img }}">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="container">
         <div class="hr blue-hr hr-full hr-thin"></div>
      </div>
  
 	 {% if meta.section5.step1_img %}
      <div class="section-content micro-system">
        <div class="container text-center">
          <h2 class="text-center text-gray">{{ meta.section5.step1_heading }}</h2>

          <div class="row">
            {% if meta.section5.step1_img %}

              <div class="col-sm-6">
                <img src="{{ meta.section5.step1_img }}">
              </div>
            {% endif %}
              <div class="col-sm-6 heading-wrap">
                {% assign prdname = meta.section5.step1_product | split: '|'%}
                <div class="text-left display-3 text-gray font-weight-bold">#1</div>
                 <div class="text-left h2 text-gray font-weight-bold">{{ prdname[0] }}</div>
                 <div class="text-left display-large  text-golden">{{ prdname[1] }}</div>
                 <h3 class="text-sky-blue font-weight-bold text-capitalize display-3 text-left d-block">Valued at $49</h3>
                 <ul class="text-left">
                   {% assign benefits = meta.section5.step1_benefits | split: '|' %}
                   {% for benefit in benefits %}
                  	<li class="display-4"><i class="fa-fw fas fa-check-circle text-orange" ></i>{{ benefit }}</li>
                   {% endfor %}
                 </ul>
                {% assign science = meta.section5.step1_science | split: '|'%}
                 <div class="display-4 text-left">{{ science[0] }}<span class="text-orange font-weight-bold"> {{science[1]}} </span></div>
              </div>
             
          </div>

        </div>
      </div>

       <div class="container">
         <div class="hr blue-hr hr-full hr-thin"></div>
      </div>
	{% endif %}
  
	{% if meta.section5.step2_img %}
      <div class="section-content micro-system">
        <div class="container text-center">

          <div class="row">
              <div class="col-sm-6 heading-wrap">
                {% assign prdname = meta.section5.step2_product | split: '|'%}
                <div class="text-right display-3 text-gray">#2</div>
                 <div class="text-right h2 text-gray font-weight-bold">{{ prdname[0] }}</div>
                 <div class="text-right display-large  text-golden">{{ prdname[1] }}</div>
                  <div class="hr black-hr hr-thin hr-right hr-sm"></div>
                 <h3 class="text-sky-blue font-weight-bold text-capitalize display-3 text-right">Valued at $44</h3>
                
                 <ul class="text-left">
                   {% assign benefits = meta.section5.step2_benefits | split: '|' %}
                   {% for benefit in benefits %}
                  	<li class="display-4"><i class="fa-fw fas fa-check-circle text-orange" ></i>{{ benefit }}</li>
                   {% endfor %}
                 </ul>
                 <div class="display-4 text-right">{{ meta.section5.step2_science }}</div>
              </div>

              {% if meta.section5.step2_img %}
              <div class="col-sm-6">
                <img src="{{ meta.section5.step2_img }}">
              </div>
            {% endif %}
             
          </div>

        </div>
      </div>

       <div class="container">
         <div class="hr blue-hr hr-full hr-thin"></div>
      </div>
	{% endif %}
  
	{% if meta.section5.step3_img %}
      <div class="section-content  micro-system part-3">
          <div class="container text-center">
            {% assign prdname = meta.section5.step3_product | split: '|'%}
           <div class=" display-3 text-golden font-weight-bold">#3</div>
            <h2 class="text-center font-weight-bold text-gray">{{ prdname[0] }}</h2>
           <div class="text-center display-1 font-weight-bold  text-golden">{{ prdname[1] }} <br/> {{ prdname[2] }}</div>
           <div class="hr black-hr  hr-thin "></div>
           <div class="display-4 text-center">{{ meta.section5.step3_science }}</div>
            <img class="elIMG ximg" alt="" src="{{ meta.section5.step3_img }}" tabindex="0">
          </div>
      </div>
	{% endif %}
  {% if section.settings.enable_trust_logos %}
    <div class="section-content promise-section">
      <div class="container text-center">

        <div class="row">
          {% for block in section.blocks %}
          	{% if block.type == 'trust_logos'  %}
              <div class="col-sm-4 text-center">
                <img src="{{ block.settings.trust_logo | img_url: 'original' }}" />
              </div>
          	{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if meta.bonus_gifts%}
      <div class="section-content bonus-section">
       <div class="container text-center">
          <div class="fancy-heading"><span class="h1 text-golden text-uppercase font-weight-bold">BONUS FREE GIFTS</span></div>
			{% for gift in meta.bonus_gifts %}
             <div class="row">
               <div class="col-sm-6">
                 <img src="{{ gift.bonus_gift_img }}" />
               </div>
               <div class="col-sm-6">
                 <div class="text-gray text-capitalize text-left font-weight-bold display-2">{{ gift.bonus_gift_product }}</div>
                 <div class="hr golden-hr hr-thin hr-left hr-exsm"></div>
                 <h3 class="text-sky-blue font-weight-bold text-capitalize display-3 text-left d-block">Valued at $10</h3>
                 <ul class="text-left">
                   {% assign benefits = gift.bonus_gift_benefits | split: '|'%}
                   {% for benefit in benefits %}
                   <li class="display-4"><i class="fa-fw fas fa-check-circle text-orange"></i>{{ benefit }}</li>
                   {% endfor %}
                 </ul>
               </div>
             </div>
		{% endfor %}
       </div>
      </div>
  {% endif %}
    {% if meta.limited_offer %}
      <div class="section-content offer-section">
      <div class="container">

        <div class="border-heading-wrap">
          <h1 class="text-center text-gray text-uppercase">LIMITED TIME OFFER </h1>
          <div class="hr golden-hr"></div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img src="{{ meta.limited_offer.img }}">
          {% assign offers = meta.limited_offer.offer_list | split: '|' %}
            <ul class="offer-list">
              <li class="display-4 text-light-gray">
                <i class="fa-fw fas fa-dollar-sign" style="" contenteditable="false"></i><b>{{offers[0]}}</b>
              </li>
              <li class="display-4 text-light-gray">
                <i class="fa-fw fas fa-asterisk"></i><b>{{offers[1]}}</b>
              </li>
            </ul>
          </div>
          <div class="col-md-7 offer-content">
            <div class="text-left h1 font-weight-bold text-golden">{{meta.limited_offer.product}}</div>
            {% if meta.limited_offer.includes %}
            <h3 class="text-capitalize font-weight-bold"><u>System Includes:</u></h3>
            {% assign items = meta.limited_offer.includes | split: '/' %}
            <ul>
              {% for item in items %}
              {% assign itemdata = item | split: '|' %}
              <li class="display-4 " >
                <i class="fa-fw fas fa-check-circle text-orange" aria-hidden="true"></i>{{itemdata[0]}}<span class="text-orange font-weight-bold"> {{itemdata[1]}}</span>
              </li>
              {% endfor %}
            </ul>
              {% endif %}
            {% if meta.limited_offer.gifts %}
            <h3 class="text-capitalize font-weight-bold"><u>free gifts:</u></h3>
              {% assign items = meta.limited_offer.gifts | split: '/' %}
            <ul>
              {% for item in items %}
              {% assign itemdata = item | split: '|' %}
              <li class="display-4 " >
                <i class="fa-fw fas fa-check-circle text-orange" aria-hidden="true"></i>{{itemdata[0]}}<span class="text-orange font-weight-bold"> {{itemdata[1]}}</span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="h1 text-sky-blue font-weight-bold mb-0">{{ meta.limited_offer.shipping}}</div>
            <p class="h4 text-blue"><i>{{ meta.limited_offer.pricing_msg}}</i></p>
            <p class="font-weight-bold text-black">{{ meta.limited_offer.subscription_msg}}</p>
            <a class="cta-btn btn btn-lg btn-blue" href="#atcForm">BUY NOW</a>

          </div>
        </div>
      </div>
    </div>
    {% endif %}

	{% if meta.money_back %}
      <div class="section-content moneyback-section" style="background: rgb(134, 157, 210)">
        <div class="container text-center">
            <div class="border-heading-wrap">
            <h1 class="text-center text-dark text-uppercase  text-white">{{ meta.money_back.msg }} </h1>
            <div class="hr white-hr"></div>
            </div>
            <div class="display-4 text-white"> {{ meta.money_back.subtext }}</div>
        </div>
      </div>
	{% endif %}
  
    {% if meta.review_videos %}
    	<div class="section-content hear-section">
      <div class="container text-center">

        <h1 class="text-center text-golden text-uppercase ">{{ meta.review_videos.msg }}</h1>

        <div class="display-4 text-dark">{{ meta.review_videos.subtext }}</div>

        <div class="row">
          {% for video in meta.review_videos.videos %}
          	<div class="col-md-4 video-wrapper1">
            <a id="video{{forloop.index}}" video-url="{{ video.link }}">
              <img src="{{ video.img }}" />
            </a>  
          </div>
          <script>
            $(function(){
              $("#video{{forloop.index}}").videoPopup({
                    autoplay: 1,
                    controlsColor: 'white',
                    showVideoInformations: 0,
                    width: 1000,
                    customOptions: {
                        rel: 0,
                        end: 60
                    }
                });
            });
        </script>  
         {% endfor %}
          
        </div>

      </div>
    </div>
    {% endif %}	

  {% if section.settings.enable_products %}
  	<div class="section-content related-product-youth-wrap">
    <div class="container">
      <form id="atcForm" class="atcForm" action="/cart" method="post">
        <div class="border-heading-wrap">
          <h2 class="text-center text-uppercase">This system includes the following products</h2>
          <div class="hr golden-hr"></div>
        </div>

        <div  id="productCarousel" class="related-product-youth  owl-carousel owl-theme">
          {% for block in section.blocks %}  
          {% if block.type == 'products' %}
          {% assign mainprd = all_products[block.settings.main_product] %}
          {% if mainprd.id == product.id %}
          {% assign isSubscription = false %}
          {% assign bundleproduct = all_products[block.settings.product] %}
          <div class="{{bundleproduct.id}} col-item  text-center item">
            <div class="product-img-border">
              <div class="prod-img-wrap">
                <a href="/products/{{bundleproduct.handle}}">
                  <img class="fade-in lazyloaded" data-src="{{ bundleproduct.image.src }}" src="{{ bundleproduct.images[0].src  | img_url: 'medium'}}">
                </a>
              </div>
              <div class="product-detail">
                <a class="title-product" href="/products/{{bundleproduct.handle}}">{{ bundleproduct.title }}</a>
                <span class="price"> {{bundleproduct.price | money }}</span>
                {% if bundleproduct.metafields.subscriptions.subscription_id %}
                {% assign isSubscription = true %}
                {% assign varID = bundleproduct.variants[0].metafields.subscriptions.discount_variant_id %}
                {% else %}
                {% assign isSubscription = false %}
                {% assign varID = bundleproduct.variants[0].id %}
                {% endif %}
                {% if bundleproduct.metafields.subscriptions.shipping_interval_frequency.size > 0 %}
                {% assign shipping_interval_frequency = bundleproduct.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                {% if shipping_interval_frequency.size > 1 %}
                <div class=" button-wrap">
                  <span class="">Delivered every</span>
                  <select data-id={{ bundleproduct.id }} class="shippingFreq" >
                    {% for freq in shipping_interval_frequency %}
                    <option {% if freq == shipping_interval_frequency[0]%}selected{% endif %}>{{ freq }} {{ bundleproduct.metafields.subscriptions.shipping_interval_unit_type }}</option>
                    {% endfor %}
                  </select>  
                </div>
                {% endif %}
                {% endif %}
                <input type="hidden" name="id" value="{{ varID }}">
                {% if isSubscription %}
                <input type="hidden" data-shipping_interval_frequency={{ bundleproduct.id }}  value="{{shipping_interval_frequency[0]}}">
                <input type="hidden" data-shipping_interval_unit={{ bundleproduct.id }}  value="{{ bundleproduct.metafields.subscriptions.shipping_interval_unit_type }}">
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}

        </div>
        <p class="text-center buy-button"><a href="#" id="AddToCart" class="text-center btn btn-lg btn-blue" >BUY NOW</a></p>
      </form>
    </div>
  </div>
  {% endif %}	
	{% if section.settings.enable_guarantee %}
      <div class="section-content promise-section" style="background: rgb(246, 249, 248);">
        <div class="container text-center">

            <div class="border-heading-wrap">
            <h1 class="text-center text-gray text-uppercase">THE DERMACLARA PROMISE </h1>
            <div class="hr golden-hr"></div>
            </div>

            <div class="row">
              {% for block in section.blocks %}
              	{% if block.type == 'guarantee_logos' %}
                  <div class="col-sm-4 text-center">
                      <img src="{{ block.settings.guarantee_logo | img_url: 'original' }}" />
                  </div>
              	{% endif %}
              {% endfor %}
            </div>
        </div>
      </div>
	{% endif %}

  	{% if section.settings.footermenu %}
      <div class="section-content product-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <img width="200" class="elIMG ximg" alt="" src="{{ section.settings.logo | img_url: 'original' }}" tabindex="0">
                  <p>{{ section.settings.footermsg }}</p>
                </div>
                <div class="col-md-2">
                  <h4 class="font-weight-bold">Links</h4>
                  <ul>
                    {% for link in linklists[section.settings.footermenu].links %}
                    
                    <li><a href="{{link.url}}" class="text-black">{{link.title}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
      </div>
	{% endif %}
        

</div>

{% render 'new-subscription-product-template-scripts' %}

{% schema %}
{
  "name": "new-subscription-product",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
	  "label": "Logo"
    },
	{
      "type": "checkbox",
      "id": "enable_trust_logos",
      "label": "Enable trust Logos?",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "enable_guarantee",
      "label": "Enable Guarantee Logos?",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "enable_products",
      "label": "Enable Products in page?",
      "default": true
    },
	{
      "type": "link_list",
      "id": "footermenu",
	  "label": "Footer menu"
    },
    {
      "type": "textarea",
      "id": "footermsg",
      "label": "Footer message",
      "default": "Dedicated to helping others attain their ideal skin health goals  through high quality skin care products"
    }
  ],
  "blocks": [
    {
      "type": "trust_logos",
      "name": "Trust Logos",
      "settings": [
        {
          "type": "image_picker",
          "id": "trust_logo",
		  "label": "Trust Logo"
        }
      ]
    },
	{
      "type": "guarantee_logos",
      "name": "Guarantee Logos",
      "settings": [
        {
          "type": "image_picker",
          "id": "guarantee_logo",
		  "label": "Guarantee Logo"
        }
      ]
    },
    {
      "type": "products",
      "name": "Products",
      "settings": [
        {
          "type": "product",
          "id": "product",
		  "label": "Product"
        },
		{
          "type": "product",
          "id": "main_product",
		  "label": "Main Product",
		  "info": "Select the product that the above bundle product is related to"
        }

      ]
    }
  ]
}
{% endschema %}

