<section id="product-section" class=" product-section full-width" style="background: #f5f2e9">
    <div class="">
       <div class="row no-gutters no-gutter align-itemha-ns-strech">
          <div class="col-md-6 position-relative">
             <div class="slider-wrapper mb-4 mb-md-0">
                <div id="product-carousel1" class="carousel1 owl-carousel">
                  {% if product.images.size > 1 %}
                  	{% if product.images.size >= 4 %}
                      {% for i in (0..3) %}
                          <div class="item">
                               <img src="{{product.images[i].src | img_url: '900x'}}"/>
                          </div>
                      {% endfor %}
                  	{% else %}
                  {% assign newsize = product.images.size | minus: '1' %}
                  	{% for i in (0..newsize) %}
                          <div class="item {{product.images.size}}">
                               <img src="{{product.images[i].src | img_url: '900x'}}"/>
                          </div>
                      {% endfor %}
                  	{% endif %}
                  {% else %}
                    <div class="item">
                      <img src="{{product.images[0].src | img_url: '900x'}}"/>
                    </div>
                  {% endif %}
                </div>
             </div>
          </div>
          <div class="col-md-6 product-content py-lg-3 px-lg-4 py-4 px-4">
            {% if product.title contains "™" %}
            {% assign highlighttxt = product.title | split: "™" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}}™<span class="d-block primary">{{highlighttxt | last}}</span></div>
            {% elsif  product.title contains 'COLLAGEN'%}
            {% assign highlighttxt = product.title | split: "BOOSTING" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}}BOOSTING <span class="d-block primary">{{highlighttxt | last}}</span></div> 
            {% elsif  product.title contains 'MASSAGER'%}
            {% assign highlighttxt = product.title | split: "FACIAL" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}} FACIAL <span class="d-block primary">{{highlighttxt | last}}</span></div> 
            {% elsif  product.title contains 'APPLICATOR'%}
            {% assign highlighttxt = product.title | split: "SERUM" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}} <span class="d-block primary">SERUM {{highlighttxt | last}}</span></div> 
            {% elsif  product.title contains 'COMPLETE'%}
            {% assign highlighttxt = product.title | split: "COMPLETE" %}
            <div class="font-garamond text-uppercase text-left heading">COMPLETE <span class="d-block primary">{{highlighttxt | last}}</span></div> 
            {% elsif  product.title contains 'EXFOLIATOR'%}
            {% assign highlighttxt = product.title | split: "SILICONE" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}}<span class="d-block primary">SILICONE {{highlighttxt | last}}</span></div> 
            {% elsif  product.title contains 'SCENT'%}
            {% assign highlighttxt = product.title | split: "SCENT" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}}<span class="d-block primary">SCENT</span></div> 
            {% elsif  product.title contains 'FREE GIFT!'%}
            {% assign highlighttxt = product.title | split: "+ FREE GIFT!" %}
            <div class="font-garamond text-uppercase text-left heading">{{highlighttxt | first}}<span class="d-block primary">+ FREE GIFT!</span></div> 
            {% else %}
            <div class="font-garamond text-uppercase text-left heading">{{product.title}}</div>
             {% endif %}
             <div class="primary font-size-sm mb-2 font-weight-bold">
                 {% if product.compare_at_price %}
                 <del class="gray mr-2">{{product.compare_at_price | money}} VALUE</del>
                 {% endif %}
                 
               <span class="product-single__prices-HA"><span data-prdPrice class="prd-price-change">{{product.price | money}}</span> + FREE SHIPPING</span></div>
            {% if section.settings.show_reviews %}
             <div class="font-weight-bold gray d-flex align-items-center font-size-sm text-uppercase flex-md-row mb-2">
                <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/StarsO.png?v=1599656180" class="mw-100 w-auto mr-3">451 reviews
              </div>
             {% endif %}
            {% if product.title contains "patches" %}<p>Reusable anti-aging beauty patches</p> {% endif %}
          	<div class="new-prod-description">
            {{product.description}}
            </div>
             {% assign mainprc = product.price | money %}
             {% assign subprc = product.variants[0].metafields.subscriptions.discount_variant_price %}
             <div class="mb-lg-3 mb-3">
                <div class="custom-control custom-radio  mb-2">
                   <input type="radio" {% unless subprc %} checked="" {% endunless %} data-normal=""  onchange="getProducts('normal')" class="custom-control-input" id="customRadio" name="example1">
                   <div class="label-wrapper"></div>
                   <label class="custom-control-label d-flex align-items-center justify-content-between text-uppercase font-size-sm letter-spacing-2  word-spacing-2" for="customRadio">One-time purchase <span>{{mainprc}}</span></label>
                </div>
               {% if subprc %}
                <div class="custom-control custom-radio">
                   <input type="radio" {% if subprc %} checked="" {% endif %} data-subscription="" onchange="getProducts('subscription')" class="custom-control-input" id="customRadio1" name="example1">
                   <div class="label-wrapper"></div>
                   <label class="custom-control-label d-flex align-items-center justify-content-between text-uppercase font-size-sm letter-spacing-2 word-spacing-2" for="customRadio1">Subscribe & Save <span>${{subprc}}</span></label>
                   <div class="selector-box align-items-center pt-2">
                      <span class="font-size-sm mr-3 text-uppercase">Every </span>
                      <input data-subscription_id="" value="{{product.metafields.subscriptions.subscription_id}}" type="hidden">
                      <input data-shipping_interval_unit_type="" value="Days" type="hidden">
                      <select onchange="getProducts('subscription')" data-shipping_interval_frequency="" class="font-size-sm">
                        {% assign freq = product.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                        {% for frq in freq %}
                        <option>{{frq}} {{product.metafields.subscriptions.shipping_interval_unit_type}} </option>
                        {% endfor %}
                     </select>
                   </div>
                   <div class="d-flex align-items-center justify-content-between">
                   </div>
                </div>
               {% endif %}
             </div>
             <div class="d-flex align-items-center justify-content-between mb-lg-2 mb-2">
                <div class="d-flex align-items-center quality-wrapperr">
                   <h6 class="gray font-weight-bold font-size-13 mb-0 mr-3 ">Qty</h6>
                   <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><a href="#" onclick="getProducts('null')" data-minus="" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease="" class="input-group-text"><span class="btn-decrease d-flex"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/minus.svg?v=1599832412" /></span></a></div>
                      <input type="input" name="quantity" data-count="" data-qty="" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input="" readonly="readonly" class="quantity bg-white text-dark font-weight-bold form-control text-center"> 
                      <div class="input-group-append"><a href="#" onclick="getProducts('null')" data-plus="" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase="" class="input-group-text"><span class="btn-increase d-flex"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/plus_3ad8a3d4-d0dc-4d63-b408-c7f8959926c6.svg?v=1599832412" /></span></a></div>
                   </div>
                </div>
                <div>
                   <a data-currentPrice="{% if subprc %}subprc{% else %}product.price | money_without_currency{% endif %}" data-orgprice="{{product.price | money_without_currency}}" data-subprice="{{subprc}}" onclick="dataLayer.push({'event':'add_to_cart', 'atc.revenue': {{ product.price | money_without_currency }},'atc.currency': '{{ shop.currency }}', 'atc.product_id':'{{ product.id }}', 'atc.product_category': [{% for collection in product.collections %}'{{ collection.title }}',{% endfor %}]})" id="AddToCart" class="btn btn-secondary addtocheckout text-uppercase" href="">check out</a>
                </div>
<!--                 <div class="checkout-fixed d-md-none">
                <a id="AddToCart" class="btn btn-secondary addtocheckout text-uppercase w-100 text-center d-flex justify-content-center" href="">check out</a>
                </div> -->
             </div>
             {% if section.settings.show_shipping_icons %}
             <div class="d-flex justify-content-between">
                <div class="font-size-sm font-weight-bold text-uppercase d-flex align-items-center gray"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/delivery.svg?v=1599831125" class="mr-2">FREE SHIPPING</div>
                <div class="font-size-sm font-weight-bold text-uppercase d-flex align-items-center gray"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/dollar.svg?v=1599831125"  class="mr-2">30 day money back guarantee</div>
            </div>
             {% endif %}
            
 
          </div>
       </div>
    </div>
 </section>
{% schema %}
{
    "name": "Product Section",
    "settings": [
        {
            "type": "color",
            "id": "pdp_bg",
            "label": "Section background",
            "default": "#f5f2e9"
        },
        {
            "type": "checkbox",
            "id": "show_shipping_icons",
            "label": "Show shipping icons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_reviews",
            "label": "Show Reviews",
            "default": true
        }

    ]
}
{% endschema %} 



<script type="application/json" data-prod-json data-{{product.id}}-json>
    {
        "variant_id": {{product.variants[0].id}}
        {% if product.variants[0].metafields.subscriptions.discount_variant_id %}
           , "discount_variant_id": {{ product.variants[0].metafields.subscriptions.discount_variant_id }}   
        {% endif %}
    }
</script>