<div id="shopify-section-V2-template-header" class="shopify-section fixed-top">
    {% if section.settings.enable_topbar_section %}
        <div data-topbar="" class="header-top py-2" style="background:{{section.settings.topbar_color}}">
            <div class="container">
            <div class="d-flex align-items-center justify-content-center">
                <span class="font-garamond text-capitalize text-white font-size-lg">special offer</span> <span class="ml-3 pl-3 border-left text-uppercase letters-spacing-2 word-spacing-1 font-avenir text-white font-size-sm">{{ section.settings.topbartxt }}</span>
            </div>
            </div>
        </div>
    {% endif %}
  
    <section data-header="" class="youth-header {% if template contains 'page.pregnancy' %}py-4 py-lg-4{% else %}py-3{% endif %} bg-white">
       <div class="container">
          <div class="row">
             <div class="col-md-3 col-6 d-flex align-items-center {% if template contains 'page.pregnancy' %}py-lg-2{% endif %}">
                <a href="/" class="d-block"><img src="{{section.settings.logo}}" class="mw-100" style="width:150px;"></a>
             </div>
             {% unless template contains 'page.pregnancy' %}
                <div class="col-md-9 col-6 navbar-wrapper d-flex justify-content-end">
                  <nav class="navbar navbar-expand-lg navbar-light justify-content-end order-lg-1 order-2 pr-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div data-navbar="" class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
                    
                        <ul class="navbar-nav  mt-2 mt-lg-0">
                            {% for link in linklists[section.settings.menu].links %}
                            <li class="nav-item  {% if link.links != blank %}dropdown{%endif%}   mr-xl-5 mr-lg-4">
                              <a class="nav-link  font-size-14 gray text-uppercase font-weight-bold {% if link.links != blank %}dropdown-toggle{%endif%}" {%if link.handle == 'shop'%} href="/collections/shopping-page" {% else %} href="{{ link.url }}" {% endif %} {% if link.links != blank %}id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{%endif%}>
                                {{link.title}}
                              </a>
                              {% if link.links != blank %}
                              <div class="border-0 dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                  {% for child_link in link.links %}
                                  <a class="dropdown-item" href="{{child_link.url}}">{{child_link.title}}</a>
                                  {% endfor %}
                              </div>
                              {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                  </nav>
                {% unless page.handle contains 'youthlocksystem' %}
                  <ul class="list-unstyled d-flex align-items-center mb-0  order-lg-2 order-1">
                      {% if section.settings.enable_search %}
                          <li id="head-search" class="mr-3 d-flex align-items-center ">
                              <a href="/search" class="d-flex align-items-center ">
                              <!--?xml version="1.0" encoding="UTF-8"?-->
                              <svg width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <!-- Generator: Sketch 56.3 (81716) - https://sketch.com -->
                                  <title>Search</title>
                                  <desc>Created with Sketch.</desc>
                                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="Home" transform="translate(-1225.000000, -74.000000)" fill="#9B9B9B">
                                          <g id="Group-4" transform="translate(107.000000, 69.000000)">
                                          <path d="M1150,35.3622481 L1138.46654,23.8287837 C1142.35308,19.069734 1141.82627,12.0993061 1137.26861,7.9784476 C1132.71094,3.85758907 1125.72285,4.03333946 1121.37809,8.37809348 C1117.03334,12.7228475 1116.85759,19.7109446 1120.97845,24.2686085 C1125.09931,28.8262724 1132.06973,29.3530792 1136.82878,25.4665357 L1148.36225,37 L1150,35.3622481 Z M1120.34746,16.5742347 C1120.34746,11.4784295 1124.47843,7.34746319 1129.57423,7.34746319 C1134.67004,7.34746319 1138.80101,11.4784295 1138.80101,16.5742347 C1138.80101,21.6700398 1134.67004,25.8010061 1129.57423,25.8010061 C1127.12714,25.8010061 1124.78028,24.8289026 1123.04992,23.0985473 C1121.31957,21.368192 1120.34746,19.0213266 1120.34746,16.5742347 L1120.34746,16.5742347 Z" id="Style"></path>
                                          </g>
                                      </g>
                                  </g>
                              </svg>
                              </a>
                          </li>
                      {% endif %}
                      {% if section.settings.enable_cart %}
                          <li id="cart-target" class="d-flex align-items-center site-nav--has-dropdown toolbar-cart has-items">
                              <a href="/cart" class="cart external d-flex align-items-center text-decoration-none" title="Shopping Cart">
                                  <!--?xml version="1.0" encoding="UTF-8"?-->
                                  <svg width="24px" height="22.5px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <title>Cart</title>
                                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="Home" transform="translate(-1286.000000, -75.000000)" fill="#9B9B9B">
                                          <g id="Group-4" transform="translate(107.000000, 69.000000)">
                                              <path d="M1203.99422,15.2307692 L1202.34104,8.61923077 C1201.95403,7.07954298 1200.56734,6 1198.97688,6 L1191.02312,6 C1189.43266,6 1188.04597,7.07954298 1187.65896,8.61923077 L1186.00578,15.2307692 L1179,15.2307692 L1183.54335,33.3807692 C1183.93036,34.920457 1185.31706,36 1186.90751,36 L1203.09249,36 C1204.68294,36 1206.06964,34.920457 1206.45665,33.3807692 L1211,15.2307692 L1203.99422,15.2307692 Z M1193.84393,26.7692308 L1193.84393,33.6923077 L1191.33526,33.6923077 L1190.0289,26.7692308 L1193.84393,26.7692308 Z M1189.60116,24.4615385 L1188.2948,17.5384615 L1193.84393,17.5384615 L1193.84393,24.4615385 L1189.60116,24.4615385 Z M1196.15607,26.7692308 L1199.9711,26.7692308 L1198.66474,33.6923077 L1196.15607,33.6923077 L1196.15607,26.7692308 Z M1196.15607,24.4615385 L1196.15607,17.5384615 L1201.7052,17.5384615 L1200.39884,24.4615385 L1196.15607,24.4615385 Z M1204.05202,17.5384615 L1208.04046,17.5384615 L1206.30636,24.4615385 L1202.74566,24.4615385 L1204.05202,17.5384615 Z M1189.90173,9.18461538 C1190.03216,8.65709621 1190.51364,8.29186889 1191.0578,8.30769231 L1199.01156,8.30769231 C1199.55572,8.29186889 1200.03721,8.65709621 1200.16763,9.18461538 L1201.61272,15.2307692 L1188.38728,15.2307692 L1189.90173,9.18461538 Z M1185.94798,17.5384615 L1187.25434,24.4615385 L1183.69364,24.4615385 L1181.95954,17.5384615 L1185.94798,17.5384615 Z M1185.75145,32.8153846 L1184.27168,26.7692308 L1187.73988,26.7692308 L1189.03468,33.6923077 L1186.90751,33.6923077 C1186.36336,33.7081311 1185.88187,33.3429038 1185.75145,32.8153846 L1185.75145,32.8153846 Z M1204.17919,32.8153846 C1204.05499,33.3178556 1203.61077,33.6763206 1203.09249,33.6923077 L1201.02312,33.6923077 L1202.31792,26.7692308 L1205.78613,26.7692308 L1204.17919,32.8153846 Z" id="Style"></path>
                                          </g>
                                      </g>
                                      </g>
                                  </svg>
                                  <span id="cart-count" class=" ml-1">({{cart.item_count}})</span>
                              </a>
                          </li>
                      {% endif %}
                  </ul>
                {% endunless %}
                </div>
             {% endunless %}
             
          </div>
       </div>
    </section>
 </div>

 {% schema %}
{
    "name": "Header",
    "settings": [
    {
        "type": "checkbox",
        "id": "enable_topbar_section",
        "label": "Enable Topbar",
        "default": true
      },
      {
        "type": "color",
        "id": "topbar_color",
        "label": "Topbar color",
        "default": "#e38065"
      },
      {
        "type": "text",
        "id": "topbartxt",
        "label": "Top Bar Text",
        "default": "get 2 free gifts with purchase  + free shipping"
      },
      {
        "type": "text",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header menu"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable Search",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_cart",
        "label": "Enable cart",
        "default": true
      }
    ]
}
{% endschema %}

<script>
   $(document).ready(function(){
     $('.app').css("padding-top",$('[data-topbar]')[0].offsetHeight + $('[data-header]')[0].offsetHeight)
     if(window.innerWidth < 992){
       $('[data-navbar]').css("top",$('[data-topbar]')[0].offsetHeight + $('[data-header]')[0].offsetHeight)
     }
     $(window).resize(function(){
       $('.app').css("padding-top",$('[data-topbar]')[0].offsetHeight + $('[data-header]')[0].offsetHeight)
       if(window.innerWidth < 992){
         $('[data-navbar]').css("top",$('[data-topbar]')[0].offsetHeight + $('[data-header]')[0].offsetHeight)
       }
     })
  });
</script>
