{% for block in section.blocks %}
{% assign MainPrd = all_products[block.settings.prd_main]  %}

{% if MainPrd.id == product.id %}
<section class="section-content" style="background: #f5f2e9">
    <div class="container">
      <h3 class="text-center font-weight-bold font-garamond mb-4 heading">Customers also purchased these:</h3>
        <div class="row recent-products">
            
          <div class="col-md-3 col-6 mb-5 mb-md-0">
                {% assign prd1 = all_products[block.settings.prd1] %}
                <div class="product-wrapper">
                    <div class="product-image position-relative  mb-lg-4 mb-md-3 mb-2">
                      {% if block.settings.prd1_img %}
                    <img src="{{block.settings.prd1_img | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% else %}
                       <img src="{{prd1.featured_image.src | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% endif %}
                    </div>
                    <p class="text-capitalize  mb-2  product-name">{% if block.settings.prd1_name != blank %}{{block.settings.prd1_name}} {% else %}{{prd1.title}}{% endif %}</p>
                    <div class="font-size-15 font-weight-bold primary mb-md-3 mb-2">{{prd1.price | money}}</div>
                    <a href="#" data-varId="{{prd1.variants[0].id}}" class="btn btn-sm add-recent-prd btn-get btn-secondary text-white text-uppercase">add to cart</a>
                </div>
              </div>
          <div class="col-md-3 col-6 mb-5 mb-md-0">
                {% assign prd2 = all_products[block.settings.prd2] %}
                <div class="product-wrapper">
                    <div class="product-image position-relative  mb-lg-4 mb-md-3 mb-2">
                      {% if block.settings.prd2_img %}
                    <img src="{{block.settings.prd2_img | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% else %}
                       <img src="{{prd2.featured_image.src | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% endif %}
                    </div>
                    <p class="text-capitalize  mb-2  product-name">{% if block.settings.prd2_name != blank %}{{block.settings.prd2_name}} {% else %}{{prd2.title}}{% endif %}</p>
                    <div class="font-size-15 font-weight-bold primary mb-md-3 mb-2">{{prd2.price | money}}</div>
                    <a href="#" data-varId="{{prd2.variants[0].id}}" class="btn btn-sm add-recent-prd btn-get btn-secondary text-white text-uppercase">add to cart</a>
                </div>
              </div>
           <div class="col-md-3 col-6 mb-5 mb-md-0">
                {% assign prd3 = all_products[block.settings.prd3] %}
                <div class="product-wrapper">
                    <div class="product-image position-relative  mb-lg-4 mb-md-3 mb-2">
                      {% if block.settings.prd3_img %}
                    <img src="{{block.settings.prd3_img | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% else %}
                       <img src="{{prd3.featured_image.src | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% endif %}
                    </div>
                    <p class="text-capitalize  mb-2  product-name">{% if block.settings.prd3_name != blank %}{{block.settings.prd3_name}} {% else %}{{prd3.title}}{% endif %}</p>
                    <div class="font-size-15 font-weight-bold primary mb-md-3 mb-2">{{prd3.price | money}}</div>
                    <a href="#" data-varId="{{prd3.variants[0].id}}" class="btn btn-sm add-recent-prd btn-get btn-secondary text-white text-uppercase">add to cart</a>
                </div>
              </div>
           <div class="col-md-3 col-6 mb-5 mb-md-0">
                {% assign prd4 = all_products[block.settings.prd4] %}
                <div class="product-wrapper">
                    <div class="product-image position-relative  mb-lg-4 mb-md-3 mb-2">
                      {% if block.settings.prd4_img %}
                    <img src="{{block.settings.prd4_img | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% else %}
                       <img src="{{prd4.featured_image | img_url: "250x"}}" class="position-absolute mx-auto mw-100">
                      {% endif %}
                    </div>
                    <p class="text-capitalize  mb-2  product-name">{% if block.settings.prd4_name != blank %}{{block.settings.prd4_name}} {% else %}{{prd4.title}}{% endif %}</p>
                    <div class="font-size-15 font-weight-bold primary mb-md-3 mb-2">{{prd4.price | money}}</div>
                    <a href="#" data-varId="{{prd4.variants[0].id}}" class="btn btn-sm add-recent-prd btn-get btn-secondary text-white text-uppercase">add to cart</a>
                </div>
              </div>
            
        </div>
    </div>
</section>
{% endif %}
{% endfor %}


{% schema %}
{
    "blocks":[
        {
            "type": "Related_products",
            "name": "Related Products",
            "settings": [
				{
                    "type": "image_picker",
                    "id":"prd1_img",
                    "label": "1st Product Image"
                },
				{
                    "type": "text",
                    "id":"prd1_name",
                    "label": "1st Product Name"
                },

                {
                    "type": "product",
                    "id":"prd1",
                    "label": "Original Product present in the store"
                },
				{
                    "type": "image_picker",
                    "id":"prd2_img",
                    "label": "2nd Product Image"
                },
				{
                    "type": "text",
                    "id":"prd2_name",
                    "label": "2nd Product Name"
                },
                {
                    "type": "product",
                    "id":"prd2",
                    "label": "Original Product present in the store"
                },
				{
                    "type": "image_picker",
                    "id":"prd3_img",
                    "label": "3rd Product Image"
                },
				{
                    "type": "text",
                    "id":"prd3_name",
                    "label": "3rd Product Name"
                },

                {
                    "type": "product",
                    "id":"prd3",
                    "label": "Original Product present in the store"
                },
				{
                    "type": "image_picker",
                    "id":"prd4_img",
                    "label": "4th Product Image"
                },
				{
                    "type": "text",
                    "id":"prd4_name",
                    "label": "4th Product Name"
                },
                {
                    "type": "product",
                    "id":"prd4",
                    "label": "Original Product present in the store"
                },
				{
                    "type": "product",
                    "id":"prd_main",
                    "label": "The main Product",
					"info": "Select the product on whose page the above upsell will appear"
                }
            ]
        }
    ]
}
{% endschema %}