
<section id="benefits" class="work-section position-relative choose-darmaclara new-HA-choose-darmaclara">
    <div class="container">
       <div class="row">
          <div class="col-md-6 py-5 col-12 choose-darmaclara-text-wrap position-relative">
             <div class="font-garamond text-left heading mb-4 pb-2">{{section.settings.heading_text}}</div>
             <ul class="list-unstyled choose-darmaclara-checklist pb-4 pb-md-0">
                 {% assign reasons = section.settings.reasons  | newline_to_br | split: '<br />'%}
                 {% for reason in reasons %}
                 <li class="font-weight-bold mb-md-4 mb-3 pl-md-5 pl-4">{{reason}}</li>
                 {% endfor %}
             </ul>
             <div class="text-md-left text-center mb-4">
                <a href="#product-section" class="btn btn-get btn-secondary text-white text-uppercase">get it now</a>
             </div>
             {% if section.settings.show_reviews %}
             <div class="align-items-center d-flex flex-md-row  font-weight-bold gray justify-content-center justify-content-md-start letter-spacing-2 mb-0 text-uppercase">
                 {% unless template contains 'page.pregnancy' %}
                    <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/StarsO.png?v=1599656180" class="mw-100 w-auto mr-3"><span>451 reviews</span>
                 {% else %}
                    <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
                 {% endunless %}
               
              </div>
             {% endif %}
          </div>
          <div class="col-md-6 col-12 pt-5 pb-5 pl-md-5  work-inner">
           
             <ul class="list-unstyled work-ul  h-100 d-flex flex-column mb-0 justify-content-around">
               <li>  <p class="font-garamond text-left heading">Oh by the way ...</p></li>
          <li>  <h5 class=" font-weight-normal mb-5 mb-md-4">Dermaclara is <span style="font-size: unset;" class="mb-4 primary">clinically proven</span>  to reduce fine lines, wrinkles and even scars within one hour. </h5></li>
                {% assign reviews = section.settings.benefits_user_reviews | newline_to_br | split: '<br />' %}
                {% for rev in reviews %}
                {% assign per = rev | split: '|' %}
                    <li class=" d-flex align-items-center mb-md-4 mb-3">
                        <span class="font-garamond orange mr-4">{{per | first}} </span>  {{per | last}}
                    </li>
                {% endfor %}
               </ul>
                <div class="d-md-none mb-0 mt-4 mt-md-0 text-center text-md-left">
                    <a href="#product-section" class="btn btn-get btn-secondary text-white text-uppercase">get it now</a>
                </div>
            
          </div>
       </div>
    </div>
 </section>
 {% schema %}
 {
     "settings": [
         {
             "type": "text",
             "id": "heading_text",
             "label": "heading text",
             "default": "Why customers choose Dermaclara"
         },
         {
            "type": "textarea",
            "id": "reasons",
            "label": "List reasons",
            "info": "Add each on new line",
            "default": "Why customers choose Dermaclara"
        },
        {
            "type": "checkbox",
            "id": "show_reviews",
            "label": "Show Reviews",
            "default": true
        },
        {
            "type": "textarea",
            "id": "benefits_user_reviews",
            "label": "reviews",
            "info": "write the percentage and the user reviews, each review on new line, seperating the percentage with the reviews using a |",
            "default": "90% | of users said their skin felt smoother*"
          }
     ]
 }
 {% endschema %}