<div id="press" class="press">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="section-title text-center">{{ section.settings.title | default: page.title }}</h1>
			</div>
		</div>

		{% if section.settings.show_featured_article == true %}
			<div class="row align-items-center press__featured">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<div id="video-seenon">
						{% capture video_seenon_img %}video_seenon_img_2.png{% endcapture %}
						{% capture video_seenon_link %}video_seenon_link_2{% endcapture %}
						{% capture video_seenon_show %}video_seenon_show_2{% endcapture %}

						<a class="no-scroll video-seenon-img open-popup-seenon-2" href="#popup-video-seenon-2">
							<img class="tes-img tes-img-2 hmak-lazy" hmak-src="{{ video_seenon_img | asset_url }}" alt="">
						</a>

						<a class="no-scroll play-button open-popup-seenon-2" href="#popup-video-seenon-2">
							{% include 'icon-play' %}
						</a>
					</div>
				</div>

				<div class="hidden">
					{% capture video_seenon_link %}video_seenon_link_2{% endcapture %}
					<div class="popup-vimeo-wrapper" id="popup-video-seenon-2">
						<div class="video-container">
							<iframe id="seenon-player-2" link-src="{{ settings[video_seenon_link] | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=testimonial-player-2" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<h3 class="press__featured-title">{{ section.settings.featured_article_title | default: 'The Doctors TV Show' }}</h3>

					{% if section.settings.featured_article_description %}
						{{- section.settings.featured_article_description -}}
					{% endif %}
				</div>
			</div>
		{% endif %}

		{% if section.blocks.size > 0 %}
			<div class="row press__articles">
				{% for block in section.blocks %}
					{% assign article = block.settings %}

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 press__article">
						<a href="{{- article.url -}}" target="_blank" class="press__article-link">
							<img src="{{ article.image | img_url: '430x' }}" class="press__article-image" alt="{{- article.title | default: shop.name -}}">
						</a>

						{% if article.title != blank %}
							<div class="press__article-content">
								<h5 class="press__article-title">{{- article.title -}}</h5>

								{% if article.date != blank %}
									<small class="press__article-date">{{- article.date -}}</small>
								{% endif %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>

<style>
	.press p {
		font-size: 16px;
		line-height: 28px;
	}

	.press__featured {
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.press__featured-title {
		font-size: 42px;
		font-weight: 700;
		line-height: 52px;
	}

	.press #video-seenon {
		margin: 0 auto;
	}

	.press__articles {
		margin-top: 25px;
	}

	.press__article {
		margin-bottom: 60px;
	}

	.press__article-link {
		position: relative;
		display: block;
		width: 100%;
		padding-top: 117.78%;
		overflow: hidden;
		transition-property: opacity;
		transition-duration: .3s;
	}

	.press__article-link:hover {
		opacity: .8;
	}

	.press__article-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: 50% 50%;
	}

	.press__article-content {
		margin-top: 20px;
	}

	.press__article-title {
		font-size: 22px;
	}

	.press__article-date {
		font-size: 16px;
		color: #727272;
	}

	{% if section.settings.show_article_titles == false %}
		.press__article-content {
			display: none;
		}
	{% endif %}

	@media screen and (max-width: 1199px) {
		.press__featured-title {
			font-size: 32px;
		}
	}

	@media screen and (max-width: 991px) {
		.press__featured-title {
			margin-top: 30px;
		}
	}

	@media screen and (max-width: 639px) {
		.press__featured-title {
			font-size: 28px;
		}
	}
</style>

<script>
	$(document).ready(function () {
		$("#seenon-player-2").on("finish", function () {
			$("#popup-video-seenon-2 .mfp-close").trigger("click");
		});

		$('.open-popup-seenon-2').magnificPopup({
			fixedContentPos: true,
			fixedBgPos: true,
			disableOn: 0,
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom',
			callbacks: {
				open: function () {
					$("#seenon-player-2").attr('src', $("#seenon-player-2").attr('link-src'));

					setTimeout(function () {
						$("#seenon-player-2").vimeo("play");
					}, 700);

					$.magnificPopup.instance.close = function () {
						$("#seenon-player-2").vimeo("stop");
						$.magnificPopup.proto.close.call(this);
					};
				}
			}
		});
	});
</script>

{% schema %}
{
	"name": "Press page content",
	"settings": [
		{
			"type": "header",
			"content": "General page settings"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Page title",
			"default": "Dermaclara In The Press"
		},
		{
			"type": "checkbox",
			"id": "show_article_titles",
			"label": "Show article titles",
			"default": false
		},
		{
			"type": "header",
			"content": "Featured in The Doctors TV Show"
		},
		{
			"type": "checkbox",
			"id": "show_featured_article",
			"label": "Show The Doctors TV Show video",
			"default": true
		},
		{
			"type": "text",
			"id": "featured_article_title",
			"label": "Section title",
			"default": "The Doctors Tv Show"
		},
		{
			"type": "richtext",
			"id": "featured_article_description",
			"label": "Section description",
			"default": "<p>Dermaclara Beauty clarafuse has been featured in and on multiple media outlets, including top network television shows and popular blogs. With our growing customer base, look for Dermaclara Beauty to be featured on your favorite show or blog!</p>"
		}
	],
	"blocks": [
		{
			"name": "Article",
			"type": "article",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Article image"
				},
				{
					"type": "url",
					"id": "url",
					"label": "Article link"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Article title"
				},
				{
					"type": "text",
					"id": "date",
					"label": "Article date"
				}
			]
		}
	]
}
{% endschema %}