
{% assign description_second = product.description | split:'[description-second]' | last | split:'[/description-second]' | first %}
{% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
{% assign free_gift = product.description | split:'[free-gift]' | last | split:'[/free-gift]' | first %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="section-header section-header--breadcrumb">
{% assign product.metafields.custom_fields["product_banner_image"] = blank %}
  <!-- PDP banner -->

    {% include 'product-banner' %}

  </div>

  <!-- value props -->
  {% include 'product-value-props' %}


  <!-- Reviews badge for mobile -->
  {% unless product.handle == 'travel-bag' %}
  <div class="reviews_count review-count-mobile">
  {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
    <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
  {% elsif product.handle == 'silicone-patches-for-face-kit' %}
  <span class="shopify-product-reviews-badge" data-id="7735099465"></span>
  {% elsif product.handle == 'silicone-patches-for-body-kit' %}
  <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
  {% elsif product.handle == 'ultimate-mothers-day-body-face-system' %}
  <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
  {% elsif product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
  <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
  {% elsif product.handle == 'ultimate-body-face-system' %}
  <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
  {% else %}
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  {% endif %}
  </div>
  {% endunless %}

  <div class="product-single template-item {{ product.handle }}">
    <div class="container main-car product-single__hero">

      <div class="product-content row ">

      
        <div class="product-img-container col-lg-7 col-xs-12">
          <div class="product-img-car">
            {% for image in product.images %}
              <div><img class="car-img" src="{{ image.src | product_img_url: '570x' }}"></div>
            {% endfor %}
          </div>
          <div class="prouct-img-car-thumb">
            {% for image in product.images %}
              <div style="margin: 16px;"><img class="car-img" src="{{ image.src | product_img_url: '88x' }}"></div>
            {% endfor %}
          </div>
        </div>

        <div data-prdid="{{product.id}}" class="prod-detail col-lg-5 col-xs-12">
          <div class="product-title-wrapp">
            <span class="product-title-eyebrow">
              {% if product.metafields.custom_fields["product_title_eyebrow"] != blank %}
                {{ product.metafields.custom_fields["product_title_eyebrow"] }}
              {% endif %}
            </span>
            <h1 class="prod-item-title" itemprop="name">{{ product.title }}</h1>
          </div>

        
          <div class="product-single__prices">
            <h4 class="price {{product.id}}">
              <span data-currentPrice="{{ product.price | money_without_currency }}" class="current-price">
              {% if product.metafields.subscriptions.subscription_id  %}
                ${{ product.variants[0].metafields.subscriptions.discount_variant_price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
              </span>
              <span class="current-price-value">
              {% if product.metafields.custom_fields["product_price_value"] != blank %}
                {{ product.metafields.custom_fields["product_price_value"] }}
              {% endif %}
              </span>
            </h4>
          </div>
          {% unless product.handle == 'travel-bag' %}
            <div class="reviews_count review-count-desktop">
              {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
                <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
              {% elsif product.handle == 'silicone-patches-for-face-kit' %}
              <span class="shopify-product-reviews-badge" data-id="7735099465"></span>
              {% elsif product.handle == 'silicone-patches-for-body-kit' %}
              <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
              {% elsif product.handle == 'ultimate-mothers-day-body-face-system' %}
              <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
              {% elsif product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
              <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
              {% elsif product.handle == 'ultimate-body-face-system' %}
              <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>

              {% else %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              {% endif %}
            </div>
          {% endunless %}

          {% include 'product-form-v2' %}

          <section id="productValueProps">
            {% assign hide_free_shipping_text_handles = 'forehead-patch, eye-mouth-patches, claraprep, clarasome, claralips, claraline, clarapulse, claratone, exfoliator, travel-bag, simply-floral-50ml' %}
            {% if hide_free_shipping_text_handles contains product.handle %}
			<p>Free Shipping • 30 Day $ Back Guarantee</p>
            {% else %}
            <p>Free Shipping • 30 Day $ Back Guarantee • Free Gift</p>
			{% endif %}
          </section>
          
        </div>
      </div>
      <!-- Zoorix Code -->
      <!-- {% render 'zoorix-product-main' %} -->
      {% render 'zoorix-product-bottom' %}
      <!-- Zoorix End -->

      {% unless product.handle == 'travel-bag' %}
      {% include 'product-tab-v2' %}
      {% endunless %}

      <!-- Reviews -->
      <h3 class="center-text">Reviews</h3>
      {% include 'product-reviews' %}

      <!-- FAQ Section - turn into a section -->
      {% include 'product-faq' %}

      <!-- New related products snippet -->
      {% include 'related-products-v2' %}

      <!-- New blog snippet -->
      {% include 'product-section-blog' %}

    </div>
  </div>

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<!-- Product image slide -->
<script>
$(document).ready(function(){
  $('.product-img-car').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    fade: true,
    asNavFor: '.prouct-img-car-thumb',
    responsive: [
        {
          breakpoint: 1000,
            settings: {
                // stuff here
            }
        },
        {
          breakpoint: 480,
            settings: {
                // stuff here
            }
        }
      ]
  });
  $('.prouct-img-car-thumb').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    asNavFor: '.product-img-car',
    arrows: false,
    dots: false,
    centerMode: false,
    focusOnSelect: true
  });
});
</script>

<script>
	$(document).ready(function () {
		$("#slide-player-popup").on("finish", function () {
			$("#slide-video-popup .mfp-close").trigger("click");
		});
		$("#slide-player-popup").on("pause", function () {
			//$("#slide-video-popup .mfp-close").trigger("click");
		});
		$('.open-slide-video-popup').magnificPopup({
			fixedContentPos: true,
			fixedBgPos: true,
			disableOn: 0,
			//overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom',
			callbacks: {
				open: function () {
					{% if settings.faq_video_link == blank %}
					StopAllOtherVideos();
					$("#slide-player-popup").attr('src', $("#slide-player-popup").attr('link-src'));
					setTimeout(function () {
						$("#slide-player-popup").vimeo("play");
					}, 700);
					$.magnificPopup.instance.close = function () {
						$("#slide-player-popup").vimeo("stop");
						$.magnificPopup.proto.close.call(this);
					};
					{% endif %}
				}
			}
		});
	});
</script>

<script>
  function openTab(tab){
    $('section.content-tab').hide();
    $('section#'+tab).show();
    $('section#'+tab+' li:first .pointer-open').click();
  }
  $(document).ready(function(){
    $('#tab0').prop("checked", true);
    $(document).on("click touchstart", ".nav-faq label", function () {
      openTab($(this).attr('tab'));
    });
    $(".pointer-open").click(function(){
      $('.pointer-open').removeClass('open'); 
      if(false==$(this).next().is(':visible')){
        $('.content-p').slideUp(300);
        $(this).toggleClass('open');
      }
      $(this).next().slideToggle(300);    
    });
    $(".pointer-open-two").click(function(){
      $('.pointer-open-two').removeClass('open'); 
      if(false==$(this).next().is(':visible')){
        $('.content-p-two').slideUp(300);
        $(this).toggleClass('open');
      }
      $(this).next().slideToggle(300);    
    });
  });
</script>

<script>
$('button#AddToCart').click(function(){
    pintrk('track', 'addtocart', {
      value: {{ product.price | money_without_currency }},
        order_quantity: 1,
        currency: 'USD'
      });
  
    })

var selectCallback = function(variant, selector) {
    timber.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector,
            translations: {
                add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
                sold_out : "{{ 'products.product.sold_out' | t }}",
                unavailable : "{{ 'products.product.unavailable' | t }}"
            }
    });
};

jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
    {% endif %}
});
  
</script>
<script>
   $(document).ready(function () {
     $(".rc_option__one-time").click(function () {
       $("span.current-price").text('{{ product.price | money }}');
       $('span.current-price').attr('data-currentPrice','{{ product.price | money_without_currency }}')
                                    if($('.affirm-as-low-as').length){
         $('.affirm-as-low-as').attr('data-amount',{{ product.price }});
                                     affirm.ui.refresh();
       }
     });
     $(".rc_option__recurring").click(function () {
       $("span.current-price").text('${{ product.variants[0].metafields.subscriptions.discount_variant_price }}');
      $('span.current-price').attr('data-currentPrice','{{ product.variants[0].metafields.subscriptions.discount_variant_price }}')
                                    if($('.affirm-as-low-as').length){
         $('.affirm-as-low-as').attr('data-amount',({{ product.variants[0].metafields.subscriptions.discount_variant_price }} *100));
         affirm.ui.refresh();
       }
     });
   });
</script>

<link rel="stylesheet" href="{{ 'pdpV3.css' | asset_url }}">
{% schema %}
  {
    "name": "Product page",
    "settings": [
      {
        "type": "text",
        "id": "faq_heading_text",
        "label": "FAQ Heading text"
      }
	],
    "blocks": [
      {
        "type": "Faq",
        "name": "Faqs",
        "settings": [
          {
          "type": "html",
          "id": "question",
          "label": "Question"
          },
          {
          "type": "html",
          "id": "answer",
          "label": "Answer"
          }
        ]
      },
	  {
        "type": "Banner",
        "name": "Banner",
        "settings": [
          {
          "type": "product",
          "id": "banner_product",
          "label": "Enter product in whose page you want to add banner to."
          },
          {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Banner img"
          },
		  {
          "type": "html",
          "id": "banner_title",
          "label": "Banner Title"
          },
          {
          "type": "html",
          "id": "banner_headline",
          "label": "Banner Headline"
          }

        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
