
  
  <!-- Modal -->
    <div class="modal fade popup-design" id="UpsellModal" tabindex="-1" role="dialog" aria-labelledby="UpsellModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
          <div class="modal-body p-0">
            <div class="modal-body-upper p-md-4 p-3" style="background-color: #f5f2e9;">
                <div class="row">
                  <div class="col-md-7">
                    <div class="d-flex align-items-center mb-md-4 mb-3">
                      <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/correct.png?v=1601028156" />
                      <p class="mb-0 font-16 ml-2 font-weight-bold">JUST ADDED TO YOUR CART</p>
                    </div>
                    <div class="upper-modal-image">
                      {% assign line = 'https://cdn.shopify.com/s/files/1/1009/6506/files/Line_1.png?v=1601029893' %}
                      <div class="d-flex align-items-center">
                        <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                            <img src="{{product.featured_image | img_url: '70x'}}" class="lazyload img-contain" />
                        </div>
                        <div class="d-flex align-items-center ml-md-3 ml-2">
                            <h5 class="mb-0 font-garamond">{{product.title}}</h5>
                            <img src="{{line}}" class="mx-md-3 mx-2" />
                            <span data-modalprdPrice class="d-block h5 mb-0 font-garamond">{{product.price | money}}</span>
                        </div>
                      </div>
                      {% for block in section.blocks %}
                        {% if block.type == 'Upsell-normal-products' %}
                        {% assign main_prd = all_products[block.settings.main_prd] %}
                          {% if main_prd.id == product.id %}
                          {% assign prd1 = all_products[block.settings.prd1] %}
                          {% assign prd2 = all_products[block.settings.prd2] %}
                          {% assign prd3 = all_products[block.settings.prd3] %}
                          {% if prd1.id != blank %}
                            <div  data-newprdId="{{prd1.id}}" class="d-none align-items-center py-3">
                              <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                                  <img src="{{prd1.featured_image | img_url: '70x'}}" class="lazyload img-contain" />
                              </div>
                              <div class="d-flex align-items-center ml-md-3 ml-2">
                                  <h5 class="mb-0 font-garamond">{{prd1.title}}</h5>
                                  <img src="{{line}}" class="mx-md-3 mx-2" />
                                  <span class="d-block h5 mb-0 font-garamond">{{prd1.price | money}}</span>
                              </div>
                            </div>
                          {% endif %}
                          {% if prd2.id != blank %}
                            <div  data-newprdId="{{prd2.id}}" class="d-none align-items-center py-3">
                              <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                                  <img src="{{prd2.featured_image | img_url: '70x'}}" class="lazyload img-contain" />
                              </div>
                              <div class="d-flex align-items-center ml-md-3 ml-2">
                                  <h5 class="mb-0 font-garamond">{{prd2.title}}</h5>
                                  <img src="{{line}}" class="mx-md-3 mx-2" />
                                  <span class="d-block h5 mb-0 font-garamond">{{prd2.price | money}}</span>
                              </div>
                            </div>
                          {% endif %}
                          {% if prd3.id != blank %}
                            <div data-newprdId="{{prd3.id}}" class="d-none align-items-center py-3">
                              <div class="uper-modal-wrapper d-flex align-items-center justify-content-center">
                                  <img src="{{prd3.featured_image | img_url: '70x'}}" class="lazyload img-contain" />
                              </div>
                              <div class="d-flex align-items-center ml-md-3 ml-2">
                                  <h5 class="mb-0 font-garamond">{{prd3.title}}</h5>
                                  <img src="{{line}}" class="lazyload mx-md-3 mx-2" />
                                  <span data-modalprdPrice class="d-block h5 mb-0 font-garamond">{{prd3.price | money}}</span>
                              </div>
                            </div>
                          {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-5 text-md-right text-left mt-md-0 mt-3">
                    <p class="mb-md-4 mb-3 font-16 font-weight-bold">CART SUBTOTAL: <span data-cartTotal >{{cart.total_price | money}}</span></p>
                    <a href="/cart" type="button" class="btn btn-orange text-uppercase">checkout</a>
                  </div>
                </div>
            </div>
            {% if prd1.id != blank or prd2.id != blank or prd3.id != blank %}
              <div class="product-modal-body p-md-4 p-3">
                <h1 class="mb-0 font-garamond h3">Bundle And Save</h1>
                <p class="mb-3 font-size-sm">Boost your results with these products - everything you need to reverse the signs of aging at home</p>
                <div class="modal-product-list">
                  {% if prd1.id != blank %}
                    <div class="modal-product border-top py-3">
                      <div class="row align-items-center">
                          <div class="col-md-8 col-sm-7 mb-sm-0 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="product-wrapper d-flex align-items-center justify-content-center border">
                                    <img class="lazyload" src="{{prd1.featured_image | img_url: '70x'}}" />
                                </div>
                                <div class="mt-1 ml-md-3 ml-2">
                                  <h6 class="mb-2 font-garamond">{{prd1.title}}</h6>
                                  <span class="h6 mb-0">{{prd1.price | money}}</span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-5 text-sm-right text-left">
                            <a data-prdId="{{prd1.id}}"  data-addUpsell data-varId="{{prd1.variants[0].id}}" class="btn btn-secondary text-white text-uppercase">Add to cart</a>
                          </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if prd2.id != blank %}
                    <div class="modal-product border-top py-3">
                      <div class="row align-items-center">
                          <div class="col-md-8 col-sm-7 mb-sm-0 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="product-wrapper d-flex align-items-center justify-content-center border">
                                    <img class="lazyload" src="{{prd2.featured_image | img_url: '70x'}}" />
                                </div>
                                <div class="mt-1 ml-md-3 ml-2">
                                  <h6 class="mb-2 font-garamond">{{prd2.title}}</h6>
                                  <span class="h6 mb-0">{{prd2.price | money}}</span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-5 text-sm-right text-left">
                            <a data-prdId="{{prd2.id}}" data-addUpsell data-varId="{{prd2.variants[0].id}}" class="btn btn-secondary text-white text-uppercase">Add to cart</a>
                          </div>
                      </div>
                    </div>
                  {% endif %}
                  {% if prd3.id != blank %}
                    <div class="modal-product border-top py-3">
                      <div class="row align-items-center">
                          <div class="col-md-8 col-sm-7 mb-sm-0 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="product-wrapper d-flex align-items-center justify-content-center border">
                                    <img class="lazyload" src="{{prd3.featured_image | img_url: '70x'}}" />
                                </div>
                                <div class="mt-1 ml-md-3 ml-2">
                                  <h6 class="mb-2 font-garamond">{{prd3.title}}</h6>
                                  <span class="h6 mb-0">{{prd3.price | money}}</span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-5 text-sm-right text-left">
                            <a data-prdId="{{prd3.id}}"  data-addUpsell data-varId="{{prd3.variants[0].id}}" class="btn btn-secondary text-white text-uppercase">Add to cart</a>
                          </div>
                      </div>
                    </div>
                  {% endif %}
                    
                </div>
              </div>
            {% endif %}
           
          </div>
        </div>
      </div>
    </div>


{% schema %}
{
    "name": "Upsell Popup",
    "blocks": [
    {
      "type": "Upsell-normal-products",
      "name": "Upsell normal products",
      "settings": [
        {
            "type": "product",
            "id":"main_prd",
            "label": "The main Product",
            "info": "Select the product on whose page the upsell will appear"
        },
        {
            "type": "product",
            "id":"prd1",
            "label": "1st product"
        },
        {
            "type": "product",
            "id":"prd2",
            "label": "2nd product"
        },
        {
            "type": "product",
            "id":"prd3",
            "label": "3rd product"
        }
        
      ]
    }
  ]
}
{% endschema %}