{% if section.settings.enable_section %}
<section class="main-banner">
    <div id="main-carousel" class="carousel1 owl-carousel">
        {% for block in section.blocks %}
            <div class="item text-center position-relative d-flex align-items-center">
                <img src="{{block.settings.banner_img | img_url: '1024x'}}" alt="" class="mx-auto banner-image w-100 h-100 d-md-block d-none"/>
                <img src="{{block.settings.banner_mob_img | img_url: 'original'}}" class="d-md-none  banner-image"/>
              
              <div class="container banner-caption text-left ">
                
                    <div class="col-xl-5 col-md-7 col-6 px-0">
                        <div class="align-items-center d-flex">
                            <div class="heading font-garamond mb-lg-3 mb-4">{{block.settings.heading}}</div>
                            <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/PregnancySafe.svg?v=1601371220" class="banner-small-image" style="width: 115px !important;">
                        </div>
                        <p class="banner-subheading mb-4 mb-lg-4">{{block.settings.subheading}}</p>
                        <div class="font-size-15 font-weight-bold letter-spacing-2 mb-4 primary">
                 
                            <del class="gray mr-2">$104.99 VALUE</del>
                            
                          <span class="product-single__prices-HA"><span data-prdprice="" class="prd-price-change">$59.99</span> + FREE SHIPPING</span>
                       </div>
                        {% if block.settings.enable_btn %} 
                            <a href="{{block.settings.btn_url}}" class="btn btn-get btn-secondary mb-4 mb-lg-4 px-5 py-3 text-uppercase text-white">{{block.settings.btn_text}}</a>
                        {% endif %}
                        {% if block.settings.enable_reviews %}
                            <div class="font-weight-bold gray d-flex align-items-md-center align-items-start  text-uppercase flex-md-row flex-column letter-spacing-2">
                              <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
                            </div>
                        {% endif %}
                        <div class="mt-5">
                            <p class="font-garamond  mb-3">{{block.settings.review}}</p>
                            <p class="font-size-lg font-weight-bold gray letter-spacing-2">- {{block.settings.review-name}}</p>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
      
        
    </div>
</section> 
{% endif %}


{% schema %}
{
  "name": "Banner",
  "settings": [
    {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Show this section?",
        "default": true
      }
    ],
  "blocks": [
    {
      "type": "banner",
      "name": "banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Banner Image"
        },
        {
          "type": "image_picker",
          "id": "banner_mob_img",
          "label": "Banner Mobile Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Unlock the secret to youthful, glowing skin",
          "label": "Banner Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Rediscover the smooth and supple skin of your youth at home!",
          "label": "Banner Subheading"
        },
        {
          "type": "checkbox",
          "id": "enable_btn",
          "default": true,
          "label": "Show CTA button"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "get glowing now",
          "label": "CTA button text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "CTA button URL"
          },
        {
          "type": "checkbox",
          "id": "enable_reviews",
          "default": true,
          "label": "Show reviews"
        },
        {
            "type": "textarea",
            "id": "review",
            "default": "“My friends and family keep asking me if I’ve had work done because the improvements have been so dramatic! I’m thrilled with the results so far and can’t wait to see the long-term benefts if this is just from one week!”",
            "label": "Review"
        },
        {
            "type": "text",
            "id": "review-name",
            "default": "STEPHANIE DAVIS-SMITH",
            "label": "Review Username"
        }
        
      ]
    }
  ]
}
{% endschema %}