{% if section.settings.enable_section %}
    <div id="howtouse" class=" skin-section new-HA-skin-section">
        <div class="container section-content">
            <div class="mx-auto col-lg-9 font-garamond mb-4 text-center heading">{{section.settings.heading}}</div>
          <p class="text-center text-center col-lg-9 mx-auto  heal-content">
            {{section.settings.subheading}}
          </p>
          
            <div class="row mt-5">
                {% for block in section.blocks %}
                    <div class="col-md-3 col-12 text-center skin-section-wrapper">
                        <div class="">
                            <div class="number font-garamond orange">{{forloop.index}}</div>
                            <p class="text-uppercase font-weight-bold">{{block.settings.heading}}</p>
                            <p class="text-center text-md-left">{{block.settings.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endif %}


{% schema %}
{
  "name": "steps",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "default": true,
      "label":"show section?"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "3 easy steps to heal and revive your skin",
      "label":"Heading"
    },
    {
      "type": "html",
      "id": "subheading",
      "default": "Protect your skin from the elements so you can look and feel your best. Sun exposure, air quality, and other factors can age your skin. The Youth Lock System™ boosts your body’s own ability to smooth, plump, heal, and tighten your skin for glowing results.",
      "label":"Subeading"
    }
  ],
  "blocks": [
    {
      "type": "steps",
      "name": "steps",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "cleanse",
          "label":"Heading"
        },
        {
          "type": "html",
          "id": "content",
          "default": "Use a cleanser, or the Claraprep cleanser, to remove dirt, oil, and environmental pollutants from your skin before applying patches.",
          "label":"Content"
        }
      ]
    }
  ],
  "max_blocks": 4
}
{% endschema %}