{% assign product = all_products[section.settings.product] %}
<section id="product-section" class=" product-section prod-section-v2-pregnancy full-width" style="background: #f5f2e9">
    <div class="">
       <div class="row no-gutters no-gutter">
          <div class="col-md-6">
             <div class="slider-wrapper mb-4 mb-md-0">
                <div id="product-carousel1" class="carousel1 owl-carousel">
                    {% assign items = section.settings.prd_imgs | newline_to_br | split: '<br />' %}
                    {% for item in items %}
                        <div class="item">
                            <img src="{{item}}" alt="prd_img_{{forloop.index}}" class="" />
                        </div>
                    {% endfor %}
                </div>
             </div>
          </div>
          <div class="col-md-6 product-content py-lg-5 pl-lg-5 py-4 pl-4 pr-4 pr-lg-0">
            {% if product.title contains "™" %}
            {% assign highlighttxt = product.title | split: "™" %}
            <div class="font-garamond heading mb-md-3 text-capitalize text-left">{{highlighttxt | first}}™<span class="d-block primary">{{highlighttxt | last}}</span></div>
            {% else %}
            <div class="font-garamond heading mb-md-3 text-capitalize text-left">{{product.title}}</div>
             {% endif %}
             {% if section.settings.show_reviews %}
             <div class="font-weight-bold gray d-flex align-items-center font-size-15 text-uppercase flex-md-row mb-3 letter-spacing-2">
                <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/StarsO.png?v=1599656180" class="mw-100 w-auto mr-3">451 reviews
              </div>
             {% endif %}
             <div class="primary mb-4 font-weight-bold letter-spacing-2">
                 {% if product.compare_at_price %}
                 <del class="gray mr-2">{{product.compare_at_price | money}} VALUE</del>
                 {% endif %}
               <span class="product-single__prices-HA"><span data-prdPrice class="prd-price-change">{{product.price | money}}</span> + FREE SHIPPING</span>
            </div>

            <p class="mb-0 font-weight-bold primary mb-1">Includes: </p>
             <ul class="list-unstyled mb-4  primary ">
                 {% assign list = section.settings.includes_list | newline_to_br | split: '<br />' %}
                 {% for item in list %}
                    <li class="mb-1">• {{item}}</li>
                 {% endfor %}
             </ul>
 
            <p class="mb-0 font-weight-bold  mb-1">Limited time offer - Free Gifts:</p>
             <ul class="list-unstyled mb-lg-5 mb-4 ">
                {% assign list = section.settings.gift_list | newline_to_br | split: '<br />' %}
                {% for item in list %}
                   <li class="mb-1">• {{item}}</li>
                {% endfor %}
             </ul> 
           
           
             {% assign mainprc = product.price | money %}
             {% assign subprc = product.variants[0].metafields.subscriptions.discount_variant_price %}
             <div class="mb-4">
                <div class="custom-control custom-radio  mb-2">
                   <input type="radio" {% unless subprc %} checked="" {% endunless %} data-normal=""  onchange="getProducts('normal')" class="custom-control-input" id="customRadio" name="example1">
                   <div class="label-wrapper"></div>
                   <label class="custom-control-label d-flex align-items-center justify-content-between text-uppercase  letter-spacing-2  word-spacing-2 gray font-weight-bold font-size-15" for="customRadio">full kit one-time purchase <span>{{mainprc}}</span></label>
                </div>
               {% if subprc %}
                <div class="custom-control custom-radio">
                   <input type="radio" {% if subprc %} checked="" {% endif %} data-subscription="" onchange="getProducts('subscription')" class="custom-control-input" id="customRadio1" name="example1">
                   <div class="label-wrapper"></div>
                   <label class="font-size-15 custom-control-label d-flex align-items-center justify-content-between text-uppercase  letter-spacing-2 word-spacing-2 gray font-weight-bold" for="customRadio1">Subscribe & Save <span>${{subprc}}</span></label>
                   <div class="selector-box align-items-center pt-2">
                      <span class=" mr-3 text-uppercase">Every </span>
                      <input data-subscription_id="" value="{{product.metafields.subscriptions.subscription_id}}" type="hidden">
                      <input data-shipping_interval_unit_type="" value="Days" type="hidden">
                      <select onchange="getProducts('subscription')" data-shipping_interval_frequency="" class="">
                        {% assign freq = product.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                        {% for frq in freq %}
                        <option>{{frq}} {{product.metafields.subscriptions.shipping_interval_unit_type}} </option>
                        {% endfor %}
                     </select>
                   </div>
                   <div class="d-flex align-items-center justify-content-between">
                   </div>
                </div>
               {% endif %}
             </div>
             <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="d-flex align-items-center quality-wrapperr">
                   <h6 class="gray letter-spacing-2 mb-0 mr-3">Qty</h6>
                   <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><a href="#" onclick="getProducts('null')" data-minus="" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease="" class="input-group-text px-0"><span class="btn-decrease d-flex"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/minus.svg?v=1599832412" /></span></a></div>
                      <input type="input" name="quantity" data-count="" data-qty="" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input="" readonly="readonly" class="quantity bg-white text-dark font-weight-bold form-control text-center"> 
                      <div class="input-group-append"><a href="#" onclick="getProducts('null')" data-plus="" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase="" class="input-group-text px-0"><span class="btn-increase d-flex"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/plus_3ad8a3d4-d0dc-4d63-b408-c7f8959926c6.svg?v=1599832412" /></span></a></div>
                   </div>
                </div>
                <div>
                   <a data-currentPrice="{% if subprc %}subprc{% else %}product.price | money_without_currency{% endif %}" data-orgprice="{{product.price | money_without_currency}}" data-subprice="{{subprc}}" onclick="dataLayer.push({'event':'add_to_cart', 'atc.revenue': {{ product.price | money_without_currency }},'atc.currency': '{{ shop.currency }}', 'atc.product_id':'{{ product.id }}', 'atc.product_category': [{% for collection in product.collections %}'{{ collection.title }}',{% endfor %}]})" id="AddToCart" class="addtocheckout btn btn-secondary px-lg-5 py-lg-3 text-uppercase" href="">check out</a>
                </div>
             </div>
             {% if section.settings.show_shipping_icons %}
             <div class="d-flex justify-content-between">
                <div class="font-size-15 font-weight-bold text-uppercase d-flex align-items-center gray letter-spacing-2"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/delivery.svg?v=1599831125" class="mr-2">FREE SHIPPING</div>
                <div class="font-size-15 font-weight-bold text-uppercase d-flex align-items-center gray letter-spacing-2"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/dollar.svg?v=1599831125"  class="mr-2">30 day money back guarantee</div>
            </div>
             {% endif %}
            
 
          </div>
       </div>
    </div>
 </section>
 <div class="modal fade popup-design" id="UpsellModal" tabindex="-1" role="dialog" aria-labelledby="UpsellModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0">
        <div class="modal-body p-0">
          <div class="modal-body-upper px-md-4 px-3 py-md-5 py-4 text-center" style="background-color: #98D3A9;">
              <div class="d-flex align-items-center justify-content-center">
                  <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/correct_b5213b96-de74-4b20-86d0-6ce50c21be3b.png?v=1601034188" />
                  <p class="mb-0 font-16 ml-2 font-weight-bold text-white text-uppercase">{{product.title}} IS SUCCESSFULLY ADDED TO YOUR CART</p>
              </div>
          </div>
          <div class="product-modal-body p-md-4 p-3">
            <h1 class="mb-0 font-garamond h3">One Time Limited Offer</h1>
            <p class="mb-3 font-size-15">Boost your results with these products - everything you need to reverse the signs of aging at home</p>
            <div class="modal-product-list">
              {% for block in section.blocks %}
                {% if block.type == 'Upsell-kit-products' %}
                  {% assign main_prd = all_products[block.settings.main_prd] %}
                  {% if main_prd.id == product.id %}
                    {% assign prd1 = all_products[block.settings.prd1] %}
                    <div class="modal-product border-top py-3">
                      <div class="row align-items-center">
                          <div class="col-md-8 col-sm-7 mb-sm-0 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="product-wrapper d-flex align-items-center justify-content-center border">
                                    <img src="{{prd1.featured_image | img_url: '70x'}}" />
                                </div>
                                <div class="mt-1 ml-md-3 ml-2">
                                  <h6 class="mb-2 font-garamond">{{prd1.title}}</h6>
                                  <span class="h6 mb-0">{{prd1.price | money}}</span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-5 text-sm-right text-left">
                            <a data-prdId="{{prd1.id}}" data-varid="{{prd1.variants[0].id}}" class="add-recent-prd btn btn-black text-white text-uppercase">Add to cart</a>
                          </div>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <div class="text-right mx-md-4">
                <a href="" data-upsellcheckout class="link-item">Skip and Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% schema %}
{
    "name": "Product Section",
    "settings": [
        {
            "type": "color",
            "id": "pdp_bg",
            "label": "Section background",
            "default": "#f5f2e9"
        },
        {
            "type": "checkbox",
            "id": "show_shipping_icons",
            "label": "Show shipping icons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_reviews",
            "label": "Show Reviews",
            "default": true
        },
        {
            "type": "textarea",
            "id": "prd_imgs",
            "default": "https://cdn.shopify.com/s/files/1/1009/6506/files/Product_Image.png?v=1599205373",
            "label": "List of product images, each on new line"
          },
        {
            "type": "textarea",
            "id": "includes_list",
            "label": "list of products included each on new line"
        },
        {
            "type": "textarea",
            "id": "gift_list",
            "label": "list of gift products included each on new line"
        },
        {
            "type": "product",
            "id": "product",
            "label": "Add Product",
            "info": "Add main bundle product to be shown on the page"
       }

    ],
    "blocks":[
    {
      "type": "Upsell-kit-products",
      "name": "Upsell kit products",
      "settings": [
        {
            "type": "product",
            "id":"main_prd",
            "label": "The main Product",
            "info": "Select the product on whose page the above upsell will appear"
        },
        {
            "type": "product",
            "id":"prd1",
            "label": "1st product"
        }
        
      ]
    }
    
    ]
}
{% endschema %} 


{% assign prd = all_products[section.settings.product] %}

<script type="application/json" data-prod-json data-{{prd.id}}-json>
    {
        "variant_id": {{prd.variants[0].id}}
        {% if prd.metafields.subscriptions.size > 1%}
           , "discount_variant_id": {{ prd.variants[0].metafields.subscriptions.discount_variant_id }}   
        {% endif %}
    }
</script>