{% for block in section.blocks %}
{% assign MainPrd = all_products[block.settings.main_prd]  %}

{% if MainPrd.id == product.id %}
  <section class="text-center" style="background: #EEDDC5;">
    <img data-src="{{block.settings.info_img | img_url: 'master'}}"   class="lazyload mx-auto mw-100" >
  </section>
{% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Infographic Images",
	"blocks":[
        {
            "type": "Infographic_Images",
            "name": "Infographic Images",
            "settings": [
				{
                    "type": "image_picker",
                    "id":"info_img",
                    "label": "Infographic Image"
                },
                {
                    "type": "product",
                    "id":"main_prd",
                    "label": "The main Product",
					"info": "Select the product on whose page the above infographic will appear"
                }
			]
		}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
