<div class="popup-wrapper hiddenModal " data-modal >
    <!-- Main -->
    <div class="modal-popup hiddenModal" data-edit-subscription data-step="1" >
        <div class="modal-header">
            <h1 class="d-block text-center w-100">Update my Subscription</h1>
            <a href="#" onclick="closeModal(event)">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
                                L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
                                c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
                                l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
                                L284.286,256.002z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <div class="item-listing row">
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center " data-changeSub onclick="moveInPopup(event,'swap',1,11)">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/shipping-address.svg?v=1594803077" alt="" />
                        <p class="font-weight-bold">Swap Products</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center" data-skipShipment onclick="moveInPopup(event,'Skip',1,12);get_nextdate();">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/shipment.svg?v=1594803200" alt="" />
                        <p class="font-weight-bold">Skip a Shipment</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center" data-showAddress onclick="moveInPopup(event,'showAdd',1,13)">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/icon_3.svg?v=1594811585" alt="" />
                        <p class="font-weight-bold">Edit Shipping Address</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center" data-show-cancel-subscription onclick="moveInPopup(event,'cancel1',1,14)">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/icon_4.svg?v=1594811589" alt="" />
                        <p class="font-weight-bold">Cancel Subscription</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer d-md-flex align-items-center justify-content-between">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
        </div>
    </div> 

    <!-- Swap products -->
    <div class="modal-popup hiddenModal" data-change-subscription data-step="11">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,'removeswap',11,1)">Go Back</a>
            <h1 class="d-block text-center w-100">Swap Your current Subscription Product</h1>
        </div>
        <div class="modal-body">
            <div class="subscription-listing row">
                {% assign collection = collections[settings.subscription_collections] %}
                    {% for product in collection.products %}
                    {% unless product.tags contains 'new-hidden-kit-product' %}
              			{% if product.metafields.subscriptions.shipping_interval_frequency %}
                            <div class="item grid__item medium-up--one-half col-sm-6 col-lg-4" data-prd-col>
                                <input type="radio" name="plan" class="plan"  data-sub-coll id="plan_{{product.handle}}" value="{{ product.id }}" onclick="getSelectedPrd(event)">
                                <label class="plan_label" for="plan_{{product.handle}}">
                                <div class="individual-option text-center ">
                                    <h5>{{product.title}}</h5>
                                    <div class="subscription-img">
                                        <img src="{{ product.images[0].src | img_url: 'original'}}">
                                    </div>
                                    <div>
                                        <label data-frequency="{{ product.metafields.subscriptions.shipping_interval_unit_type | split:'s' | first}}">Shipped every</label>
                                    {% assign shipping_freq  = product.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                                    {% if shipping_freq.size == 1 %}
                                        <p data-freq class="freq m-auto">{{ shipping_freq }} {{ product.metafields.subscriptions.shipping_interval_unit_type }} </p>
                                    {% else %}
                                        <select class="selectFrq" onchange="getChangedPrd()">
                                        <option value='Please select plan'>Please select</option>
                                        {% for freq in shipping_freq %}
                                            <option value="{{freq}}" data-product-id="{{product.id}}" >{{ freq }} {{ product.metafields.subscriptions.shipping_interval_unit_type }}</option>
                                        {% endfor %}
                                        </select>
                                    {% endif %}
                                    </div>
                                    <p data-freq class="freq m-auto"><a href="/products/{{ product.handle }}">More Details...</a> </p>
                                </div>  
                                </label>
                            </div>
                          {% endif %}
                    {% endunless %}
                    {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
            <a href="#" class="btn btn--green swap-prd hiddenModal" data-changePrdbtn onclick="swapSubscriptionprdAPI(event);">Swap Product</a>
        </div>
    </div>

    <!-- Skip Shipment -->
    <div class="modal-popup hiddenModal" data-skip-shipment  data-step="12">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,'removeSkip',12,1)">Go Back</a>
            <h1 class="d-block text-center w-100">Skip Subscription</h1>
        </div>
        <div class="modal-body">
            <div class="shipment-listing row">
                <div class="col-sm-6 custom-radio">
                    <input data-skip-date type="radio" value="skipped" id="skip" name="shipment" data-skip onchange="getRadioVal()"/>
                    <label for="skip" class="individual-option">
                        <h5>Skip Next Shipment</h5>
                        <p data-skip-date></p>
                    </label>
                </div>
                <div class="col-sm-6 custom-radio">
                    <input data-skip-date type="radio" value="paused" id="pause" name="shipment" data-pause onchange="getRadioVal()"/>
                    <label for="pause" class="individual-option">
                        <h5>Pause My subscription Until...</h5>
                        <p data-pause-date><input type="text" disabled placeholder="Select Date To Resume" id="pauseSubscriptionPicker" ></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p class="help-details"><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
            <a href="#" class="btn btn--green update_chrageDate hiddenModal" data-skipBtn data-updateDate onclick="updateNextChargeDate()">Skip Subscription</a>
        </div>
    </div> 

    <!-- Edit Address -->
    <div class="modal-popup hiddenModal" data-edit-address data-step="13">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,null,13,1);">Go Back</a>
            <h1 class="d-block text-center w-100">Edit Address</h1>
        </div>
        <div class="modal-body">
                <div class="address-item">
                    <form data-address-box>
                        <div class="row" >

                            <div class="col-sm-6">
                                <label>First Name</label>
                                <input type="text" placeholder="First name" required data-first-name>
                            </div>

                            <div class="col-sm-6">
                                <label>Last Name</label>
                                <input type="text" placeholder="Last name" required  data-last-name>
                            </div>

                            <div class="col-sm-6">
                                <label>Address line 1</label>
                                <input type="text" placeholder="Address" required data-address1>
                            </div>

                            <div class="col-sm-6">
                                <label>Address line 2</label>
                                <input type="text" placeholder="Address" required data-address2>
                            </div>

                            <div class="col-sm-4">
                                <label>City</label>
                                <input type="text" placeholder="City" required data-city>
                            </div>

                            <div class="col-sm-4" id="AddressProvinceContainer" >
                                <label for="AddressProvince">State</label>
                                <select id="AddressProvince" data-province  required></select>
                            </div>

                            <div class="col-sm-4" >
                                <label>Zipcode</label>
                                <input type="text" placeholder="Zipcode" required data-zip>
                            </div>

                            <div class="col-sm-6 " >

                                <label>Country</label>
                                <select id="AddressCountry" data-country required  name="address[country]"> 
                                    {{ all_country_option_tags }}
                                </select>
                               
                            </div>

                            <div class="col-sm-6">
                                <span>Additional shipping charges may apply.</span>
                            </div>

                        </div>
                    </form>
                </div>
            
        </div>
        <div class="modal-footer">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
            <a href="#" class="update-add btn btn--green update_address" data-editAddBtn onclick="updateSubscriptionAddress();">Update shipping address</a>
        </div>
    </div> 
  
  <!-- Cancel subscription Part 1-->
    <div class="modal-popup hiddenModal" data-cancel-subscription data-step="14" >
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,'removeCancel',14,1)">Go Back</a>
            <h5 class="d-block text-center w-100">We are sorry to see you go.<br> But instead of cancelling you can do the following</h5>
        </div>
        <div class="modal-body">
            <div class="item-listing row" style="justify-content:center">
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center " data-downgradeFreq onclick="moveInPopup(event,'downgrade',14,141);getdowngradeSubscription();">
                        <img style= "transform: rotateZ(90deg);" src="//cdn.shopify.com/s/files/1/1009/6506/files/shipment.svg?v=1594803200" alt="" />
                        <p class="font-weight-bold">Is the frequency of the product too much?</p>
                    </div>
                </div>
<!--                 <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center" data-skipShipment onclick="moveInPopup(event,'Skip',14,142);">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/shipment.svg?v=1594803200" alt="" />
                        <p class="font-weight-bold">Is the price of our products too expensive?</p>
                    </div>
                </div> -->
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center" data-showAddress onclick="moveInPopup(event,'showAdd',14,143)">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/icon_3.svg?v=1594811585" alt="" />
                        <p class="font-weight-bold">Is the quality of our product lacking in some way?</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 edit-options">
                    <div class="individual-option text-center" data-show-cancel-subscription onclick="moveInPopup(event,'cancel',14,144)">
                        <img src="//cdn.shopify.com/s/files/1/1009/6506/files/icon_4.svg?v=1594811589" alt="" />
                        <p class="font-weight-bold">I just don't want it anymore</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer d-md-flex align-items-center justify-content-between">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
        </div>
    </div> 
  
  <!-- downgrade subscription -->
   <div class="modal-popup hiddenModal" data-downgrade-subscription data-step="141">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,'removechangefreq',141,14)">Go Back</a>
            <h1 class="d-block text-center w-100">Change your subscription shipping time</h1>
        </div>
        <div class="modal-body">
            <div class="subscription-listing row">
              <div class="downgrade-freq-sub item grid__item medium-up--one-half col-sm-12" >
                <div class="individual-downgrade-option text-center ">

                </div> 
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
            <a href="#" class="btn btn--green swap-prd hiddenModal" data-downSubbtn onclick="updatefreq();">Update Subscription</a>
        </div>
    </div>
  
   <!-- Add discount to subscription -->
   <div class="modal-popup hiddenModal" data-discount-subscription data-step="142">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,null,142,14)">Go Back</a>
            <h1 class="d-block text-center w-100">Add discount to current Subscription Product</h1>
        </div>
        <div class="modal-body">
            <div class="subscription-listing row">
              <div class="discount-freq-sub item grid__item medium-up--one-half col-sm-12" >
                <div class="individual-discount-option text-center ">
				 <h1 class="d-block text-center w-100">Add discount to your future subscription charges</h1>
                  <h6>You will not be able to add any more discount in future</h6>
                  <a href="#" class="m-auto text-white discount-btn btn btn--green swap-prd text-center" data-discountbtn onclick="add_discount();">Yes, Add my 20% discount</a>
                </div> 
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
            
        </div>
    </div>
  
   <div class="modal-popup hiddenModal" data-feedback-subscription data-step="143">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,null,143,14)">Go Back</a>
            <h1 class="d-block text-center w-100">Call us to give feedback</h1>
        </div>
        <div class="modal-body">
            <div class="subscription-listing row">
              <div class="feedback-freq-sub item grid__item medium-up--one-half col-sm-12" >
                <div class="individual-feedback-option text-center ">
                  <h6>Please call us to discuss your options, we pride ourselves on quality control.</h6>
                  <a href="tel:800" class="m-auto text-white feedback-btn btn btn--green swap-prd text-center" data-feedbackbtn>Call Feedback</a>
                </div> 
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <p><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p> 
        </div>
    </div>
  
    <!-- Cancel subscription -->
    <div class="modal-popup hiddenModal" data-cancel1-subscription data-step="144">
        <div class="modal-header">
            <a href="#" class="back-btn" onclick="moveInPopup(event,'removeCancelData',144,14)">Go Back</a>
            <h1 class="d-block text-center w-100">cancel my Subscription</h1>
        </div>
        <div class="modal-body">
                <div class="cancel-form row">
                    <form class="col-sm-12">
                        <h5>Want to cancel?</h5>
                        <label>Please help us process your request by telling us why you're cancelling.</label>
                        <div class="row">
                            <div class="col-sm-12" >
                                <select data-cancellationValue onchange="disable_data(event)">
                                    <option value="Please Select" selected="selected">Please Select</option>
                                    <option value="I no longer use this product" >I no longer use this product</option>  
                                    <option value="Shipping issues">Shipping issues</option>
                                    <option value="Planning on re-subscribing later">Planning on re-subscribing later</option>
                                    <option value="Did not like the product">Did not like the product</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label>Have some feedback for us? We love hearing from you.</label>
                                <textarea placeholder="This is my comment." data-cancellationComment></textarea>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div class="modal-footer">
            <p class="help-details"><span>Need Help</span> Email us at <a href="mailto:support@dermaclara.com">support@dermaclara.com</a></p>
            <div>
                <a href="#" class="btn btn--green cancel_subs hiddenModal" data-cancelBtn onclick="cancelSubscription()">Confirm</a>
                <a href="#" class="btn--tertiary no_cancel" onclick="moveInPopup(event,'removeCancelData',144,14)">Nevermind</a>
            </div>
        </div>
    </div>
</div>


{% assign subcollection = collections[settings.subscription_collections] %}
{% for product in subcollection.products %}
<script type="application/json" data-{{product.id}}-json>
    {
        "product": {
        	"id": {{product.id}},
            "handle": "{{product.handle}}",
            "title": "{{product.title}}",
            "img":"{{ product.images[0].src | img_url: 'original'}}"
        },
        "variant": {{ product.variants[0] | json}},
        "metafields":{
        "subscription_id": {{ product.metafields.subscriptions.subscription_id }},
        "shipping_interval_unit_type": "{{ product.metafields.subscriptions.shipping_interval_unit_type }}",
        {% if product.variants[0].metafields.subscriptions.charge_internal_frequency%}
        "charge_internal_frequency": {{product.variants[0].metafields.subscriptions.charge_internal_frequency }},
        {% endif %}
        {% if product.metafields.subscriptions.shipping_interval_frequency%}
        "shipping_interval_frequency": "{{ product.metafields.subscriptions.shipping_interval_frequency }}",
        {% endif %}
        "discount_variant_id": {{ product.variants[0].metafields.subscriptions.discount_variant_id }}                        
         }
      }
</script>
{% endfor %}
