<footer class="site-footer sales_footer">
  <div class="container footer_container">
    <div class="row footer_row">
      <div class="footer_left">
        <div class="logo_copyright">
          <div class="footer_logo">
            <a href="#" class="footer_logo_link">
              <img src="{{ 'logo.png' | asset_url }}" alt="" />
            </a>
          </div>
          {% if section.settings.copyright != blank %}
          <div class="copyright_text">
            <p>{{ section.settings.copyright }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="footer_right">
        <ul class="footer_links">
          {% for block in section.blocks %}
          {% if block.settings.title != blank %}
          <li>
            <a href="{{ block.settings.title_url }}">{{ block.settings.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
			"type": "text",
			"id": "copyright",
			"label": "Copyright text"
		}
	],
	"blocks": [
		{
			"type": "fotter_links",
			"name": "Footer Link",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Add text"
				},
				{
					"type": "url",
					"id": "title_url",
					"label": "Add Link"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
