<div class="sales_topSection_container">
  <div class="salestopSection_wrapper">
    <div class="salestopSection_content">
      <div class="top_left_side">
        {% if section.settings.gift != blank %}
        <div class="offer_container">
          <div class="offer_content">
            <img class="lazyload" src="{{ 'gift.png' | asset_url }}" alt="" />
            <h5 class="title">BUY NOW AND GET FREE SHIPPING AND FREE GIFTS</h5>
            <small> FREE claralips lip serum <br>and a travel beauty bag</small>
          </div>
        </div>
        {% endif %}
        {% if section.settings.main_image != blank %}
        	<img class="lazyload" src="{{ section.settings.main_image | img_url: '560x890' }}" alt="" />
        {% endif %}
        {% if section.settings.guarantee_image != blank %}
        <div class="guarantee_img">
          <img class="lazyload" src="{{ section.settings.guarantee_image | img_url: "235x235" }}" alt="" />
        </div>
        {% endif %}
      </div>
      <div class="top_right_side">
        <div class="right_side_content">
          {% if section.settings.show_main_rating != blank %}
          <div class="star_rating">
            <p><img class="lazyload" src="{{ 'star.png' | asset_url }}" alt="" />{{ section.settings.rating_text }}</p>
          </div>
          {% endif %}
          {% if section.settings.main_title != blank %}
          	<h1 class="main_title">{{ section.settings.main_title }}</h1>
          {% endif %}
          {% if section.settings.sub_title != blank %}
          	<h5 class="sub_content">{{ section.settings.sub_title }}</h5>
          {% endif %}
          <div class="content_video">
            <div class="content_left">
              {% if section.settings.main_content != blank %}
              	<p>{{ section.settings.main_content }}</p>
              {% endif %}
              {% if section.settings.btn_label != blank %}
            	  <a href="{{ section.settings.btn_url }}" class="sales_btn">{{ section.settings.btn_label }} <span class="material-icons">arrow_forward</span></a>
              {% endif %}
            </div>
            {% if section.settings.video_link != blank %}
            <div class="video_right">
              <iframe src="{{ section.settings.video_link }}" height="235" width="415" frameBorder="0"></iframe>
            </div>
            {% endif %}
          </div>
          <div class="testimonial_content">
            <div class="test_data">
              {% if section.settings.test_img != blank %}
              <div class="test_img">
                <img class="lazyload" src="{{ section.settings.test_img | img_url: '115x115' }}" alt="" />
              </div>
              {% endif %}
              <div class="test_content">
                {% if section.settings.test_content != blank %}
                	<p>{{ section.settings.test_content }}</p>
                {% endif %}
                {% if section.settings.author != blank %}
                	<p class="name">{{ section.settings.author }} {% if section.settings.show_rating != blank %}<img class="lazyload" src="{{ 'star.png' | asset_url }}" alt="" />{% endif %}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Top Section",
    "settings": [
		{
			"type": "image_picker",
			"id": "main_image",
			"label": "Add image"
		},
		{
			"type": "checkbox",
			"id": "gift",
			"label": "Show gift conetnt",
			"default": true
		},
		{
			"type": "image_picker",
			"id": "guarantee_image",
			"label": "Guarantee image"
		},
		{
			"type": "checkbox",
			"id": "show_main_rating",
			"label": "Show rating",
			"default": true
		},	
		{
			"type": "text",
			"id": "rating_text",
			"label": "Add rating text"
		},
		{
			"type": "text",
			"id": "main_title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "sub_title",
			"label": "Sub Heading"
		},
		{
			"type": "textarea",
			"id": "main_content",
			"label": "Add content"
		},
		{
			"type": "text",
			"id": "btn_label",
			"label": "Add Button Text"
		},
		{
			"type": "url",
			"id": "btn_url",
			"label": "Add Button Link"
		},
		{
			"type": "text",
			"id": "video_link",
			"label": "Add Video iframe Link"
		},
		{
			"type": "header",
			"content": "Testimonial"
		},
		{
			"type": "image_picker",
			"id": "test_img",
			"label": "Author Image"
		},
		{
			"type": "textarea",
			"id": "test_content",
			"label": "Testimonial content"
		},
		{
			"type": "text",
			"id": "author",
			"label": "Author name"
		},
		{
			"type": "checkbox",
			"id": "show_rating",
			"label": "Show author rating",
			"default": true
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
