<div class="sales_video_container">
  <div class="sales_video_wrapper">
    <div class="sales_video_content">
      <div class="video_title">
        {% if section.settings.main_title != blank %}
        	<h2 class="main_title">{{ section.settings.main_title }}</h2>
        {% endif %}
        {% if section.settings.sub_title != blank %}
        	<h5 class="sub_title">{{ section.settings.sub_title }}</h5>
        {% endif %}
        {% if section.settings.show_main_rating != blank %}
            <div class="star_rating">
              <p><img class="lazyload" src="{{ 'star.png' | asset_url }}" alt="" />{{ section.settings.rating_text }}</p>
            </div>
        {% endif %}
      </div>
      <div class="video_content">
        <ul class="videos owl-carousel" id="video_item">
          {% for block in section.blocks %}
          {% if block.settings.video_link != blank %}
          <li>
            <div class="video_item">
              <iframe src="{{ block.settings.video_link }}" width="1230" height="690" frameborder="0"></iframe>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#video_item').owlCarousel({
      items: 1,
      margin: 0,
  	  dots: false,
      lazyload: true,
      navigation: true,
      navigationText: ["<span class='material-icons'>keyboard_arrow_left</span>","<span class='material-icons'>keyboard_arrow_right</span>"],
      pagination :false,
      autoPlay: false,
      autoPlaySpeed: 2000,
      autoPlayTimeout: 2000
    });
  });
</script>


{% schema %}
  {
    "name": "Video Section",
    "settings": [
		{
			"type": "textarea",
			"id": "main_title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "sub_title",
			"label": "Sub heading"
		},
		{
			"type": "checkbox",
			"id": "show_main_rating",
			"label": "Show rating",
			"default": true
		},	
		{
			"type": "text",
			"id": "rating_text",
			"label": "Add rating text"
		}
	],
	"blocks": [
		{
			"type": "videos",
			"name": "Video",
			"settings":[
				{
                    "type": "text",
                    "id": "video_link",
                    "label": "Add video link"
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
