<div class="sales_organize_container">
  <div class="sales_organize_wrapper">
    <div class="sales_organize_content">
      {% if section.settings.image != blank %}
      <div class="mother_count">
        <img class="lazyload" src="{{ section.settings.image | img_url: '558x98' }}" alt="" />
      </div>
      {% endif %}
      <div class="organization_content">
        {% if section.settings.title != blank %}
        <div class="organize_title">
          <h2 class="main_title">{{ section.settings.title }}</h2>
        </div>
        {% endif %}
        {% if section.settings.content != blank %}
        <div class="organize_content">
          <p>{{ section.settings.content }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Organizational Section",
    "settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Add Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "content",
			"label": "Add content"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
