<div class="sales_topBar" style="display: {{ section.settings.top_bar_display }}">
  <div id="banner-top" style="background: {{ section.settings.top_bar_bg_color }};">
    <div class="container topBar_container">
      <div class="row topBar_row">
        {% if section.settings.offer_img != blank %}
        <img src="{{ section.settings.offer_img | img_url: 'master' }}" alt="" />
        {% endif %}
        <p class="text-center" style="color: {{ section.settings.top_bar_text_color }};">{{ section.settings.top_bar_text }}</p>
        {% if section.settings.button_text != blank %}
        	<a href="{{ section.settings.button_url }}" class="topBar_btn" style="color: {{ section.settings.top_bar_text_color }};">{{ section.settings.button_text }} <span class="material-icons">arrow_forward</span></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
		{
          "type":      "radio",
          "id":        "top_bar_display",
          "label":     "Display Top Bar?",
          "options": [
            { "value": "unset", "label": "Yes" },
            { "value": "none", "label": "No" }
          ],
          "default":   "unset",
          "info":      "Display / hide top bar"
        },
        {
            "type": "color",
            "id": "top_bar_bg_color",
            "label": "Top Bar BG Color",
            "default": "#121212"
        },
        {
            "type": "color",
            "id": "top_bar_text_color",
            "label": "Top Bar Text Color",
            "default": "#ffffff"
        },
		{
            "type": "text",
            "id": "top_bar_text",
            "label": "Top Bar Text",
            "default": "LAUNCH SPECIAL! Free Shipping + Free Gifts with Purchase"
        },
        {
            "type": "image_picker",
            "id": "offer_img",
            "label": "Offer Image"
        },
		{
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "claim special offer"
        },
		{
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
