<div class="sales_before_after_container">
  <div class="sales_before_after_wrapper">
    <div class="sales_before_after_content">
      <ul class="befoer_after owl-carousel" id="before_after">
        {% for block in section.blocks %}
        <li>
          <div class="ba_content">
            <img class="main lazyload" src="{{ block.settings.ba_images | img_url: 'master' }}" alt="" />
            <p>{{ block.settings.content }}</p>
            <span>{{ block.settings.title }}</span>
            {% if block.settings.show_main_rating != blank %}
                <div class="star_rating">
                  <img class="lazyload star" src="{{ 'star.png' | asset_url }}" alt="" />
                </div>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#before_after").owlCarousel({
      items : 3,
      autoplay: true,
      lazyLoad: true,
      loop: true,
      margin: 0,
      responsiveClass: true,
      autoHeight: true,
      autoplayTimeout: 7000,
      smartSpeed: 800,
      nav: false,
      dots: true
    });
  });
</script>


{% schema %}
  {
    "name": "Before After Section",
    "settings": [],
	"blocks": [
		{
			"type": "before_after",
			"name": "Images",
			"settings": [
				{
					"type": "image_picker",
					"id": "ba_images",
					"label": "Add Image"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Add content"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Author Name"
				},
				{
                    "type": "checkbox",
                    "id": "show_main_rating",
                    "label": "Show rating",
                    "default": true
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
