{% assign productHandle = 'clarafuse-patches-for-pregnancy-stretch-marks' %}
{% assign product = all_products[productHandle] %}

<div class="sales_productSection_container">
  <div class="sales_productSection_wrapper">
    <div class="sales_productSection_content">
      <div class="left_productSection">
        <div class="product-img-container">
          <div class="product-img-car">
            {% for image in product.images %}
              <div><img class="car-img" src="{{ image.src | product_img_url: '600x' }}"></div>
            {% endfor %}
          </div>
          <div class="prouct-img-car-thumb">
            {% for image in product.images %}
              <div style="margin: 16px;"><img class="car-img" src="{{ image.src | product_img_url: '250x' }}"></div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right_productSection">
        <div class="product_detail_content">
          <div class="product-title-wrapp">
            <span class="product-title-eyebrow">
              {% if product.metafields.custom_fields["product_title_eyebrow"] != blank %}
              {{ product.metafields.custom_fields["product_title_eyebrow"] }}
              {% endif %}
            </span>
            <h1 class="prod-item-title" itemprop="name">{{ product.title }}</h1>
          </div>
          <script>
            $(document).ready(function () {
              $(".rc_option__one-time").click(function () {
                $("span.current-price").text('{{ product.price | money }}');
              });
              $(".rc_option__recurring").click(function () {
                $("span.current-price").text('${{ product.variants[0].metafields.subscriptions.discount_variant_price }}');
              });
            });
          </script>
          <div class="product-single__prices">
            <h4 class="price {{product.id}}">
              <span class="current-price">
              {% if product.metafields.subscriptions.subscription_id  %}
                ${{ product.variants[0].metafields.subscriptions.discount_variant_price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
              </span>
              <span class="current-price-value">
              {% if product.metafields.custom_fields["product_price_value"] != blank %}
                {{ product.metafields.custom_fields["product_price_value"] }}
              {% endif %}
              </span>
            </h4>
          </div>
          {% comment %}
          <form action="/cart/add" data-productid="{{product.id}}"  method="post" enctype="multipart/form-data" id="AddToCartForm">
            {% if product.available %}{% include 'subscription-product' %}{% endif %}
          </form>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.product-img-car').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      asNavFor: '.prouct-img-car-thumb',
      responsive: [
        {
          breakpoint: 1000,
          settings: {
            // stuff here
          }
        },
        {
          breakpoint: 480,
          settings: {
            // stuff here
          }
        }
      ]
    });
    $('.prouct-img-car-thumb').slick({
      slidesToShow: 9,
      slidesToScroll: 1,
      asNavFor: '.product-img-car',
      arrows: false,
      dots: false,
      centerMode: false,
      focusOnSelect: true
    });
  });
</script>


<!-- Image slider v2 -->
<style>
  .slick-next, .slick-prev {
    z-index: 1;
  }
  .slick-next {
    right: 12px;
  }
  .slick-prev {
    left: 12px;
  }
  .slick-prev:before {
    font-family: "FontAwesome" !important;
    font-size: 28px !important;
    content: "\f053" !important;
    background: #ffffff !important;
    padding: 12px !important;
    margin: -12px !important;
  }
  .slick-next:before {
    font-family: "FontAwesome" !important;
    font-size: 28px !important;
    content: "\f054" !important;
    background: #ffffff !important;
    padding: 12px !important;
    margin: -12px !important;
  }
  .slick-prev:before, .slick-next:before {
    color: #121212;
  }
  .product-img-container {
    width: 100%;
    margin-right: 36px;
  }

  .prouct-img-car-thumb {
    display: unset;
  }
  .car-img {
    width: 100%;
  }
  .slick-slide { height: auto;}
</style>

{% schema %}
  {
    "name": "Product Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
