<header id="header" class="site-header sales_header" role="banner">
  <div id="main-menu" class="container sales_header_container">
    <div class="row align-items-center">
      <div class="logo-wrapp">
        <div class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% if settings.logo_use_image %}
          <a href="/" class="logo-wrapper" itemprop="url">
            <img class="logo-normal lazyload" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
          {% endif %}
        </div>
      </div>
      <div class="mainmenu-wrapp">
        <ul class="privacy__links">
          {%- assign header_linklist = section.settings.header_linklist -%}
          {% if linklists[header_linklist].links.size > 0 %}
          	{% for link in linklists[header_linklist].links %}
          		<li><a href="{{ link.url }}">{{ link.title }}</a></li>
          	{% endfor %}
          {% endif %}

          {% if section.settings.button_text != blank %}
          <li class="header_btn">
            <a href="{{ section.settings.button_url }}" class="head_btn_link">{{ section.settings.button_text }} <span class="material-icons">arrow_forward</span></a>
          </li>
          {% endif %}

          {% comment %}
          <li id="head-search">
            <a href="/search">{% include 'icon-search' %}</a>
          </li>
          <li id="cart-target" class="site-nav--has-dropdown toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
            <a href="/cart" class="cart external" title="Shopping Cart">
              {% include 'icon-cart' %}
              {% if cart.item_count != 0 %}<span id="cart-count">({{ cart.item_count }})</span>{% endif %}
            </a>
            {% comment %}
            {% include 'dropdown-cart' %}
            {% endcomment %}
          </li>
          {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
		{
            "type": "link_list",
            "id": "header_linklist",
            "label": "Menu"
     	},
		{
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
        },
		{
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
