<div class="sales_brand_container">
  <div class="sales_brand_wrapper">
    <ul class="brand_items">
      {% if section.settings.title != blank %}
      	<li class="title">{{ section.settings.title }}</li>
      {% endif %}
      {% for block in section.blocks %}
      {% if block.settings.brand_img != blank %}
      <li>
        <a href="#">
          <img class="lazyload" src="{{ block.settings.brand_img | img_url: '275x90' }}" alt="" />
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


{% schema %}
  {
    "name": "Brand Section",
    "settings": [ 
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"type": "brands",
			"name": "Brand",
			"settings": [
				{
                    "type": "image_picker",
                    "id": "brand_img",
                    "label": "Brand Image"
                },
                {
                    "type": "url",
                    "id": "brand_url",
                    "label": "Brand Url"
                }
			]
		}
	]
	
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
