<div class="sales_choose_container">
  <div class="sales_choose_wrapper">
    <div class="sales_choose_content">
      <div class="left_choose">
        {% for block in section.blocks %}
        <div class="left_choose_content">
          {% if block.settings.title != blank %}
          	<h1 class="percentage">{{ block.settings.title }}</h1>
          {% endif %}
          {% if block.settings.content != blank %}
          	<p class="content">{{ block.settings.content }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="right_choose">
        <div class="right_choose_content">
          {% if section.settings.main_title != blank %}
        	<h2 class="main_title">{{ section.settings.main_title }}</h2>
          {% endif %}
          {% if section.settings.sub_title != blank %}
        	<h5 class="sub_title">{{ section.settings.sub_title }}</h5>
          {% endif %}
          <div class="right_content">
            {% if section.settings.content_1 != blank %}
            	{{ section.settings.content_1 }}
            {% endif %}
            {% if section.settings.content_2 != blank %}
            	{{ section.settings.content_2 }}
            {% endif %}
          </div>
          <div class="sales_btn_content">
            {% if section.settings.btn_label != blank %}
            	<a href="{{ section.settings.btn_url }}" class="sales_btn">{{ section.settings.btn_label }} <span class="material-icons">arrow_forward</span></a>
            {% endif %}
            {% if section.settings.show_main_rating != blank %}
                <div class="star_rating">
                  <p><img class="lazyload" src="{{ 'star.png' | asset_url }}" alt="" />{{ section.settings.rating_text }}</p>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Why Choose",
    "settings": [
		{
			"type": "textarea",
			"id": "main_title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "sub_title",
			"label": "Sub heading"
		},
		{
			"type": "textarea",
			"id": "content_1",
			"label": "Add content"
		},
		{
			"type": "textarea",
			"id": "content_2",
			"label": "Add content"
		},
		{
			"type": "text",
			"id": "btn_label",
			"label": "Add Button Text"
		},
		{
			"type": "url",
			"id": "btn_url",
			"label": "Add Button Link"
		},
		{
			"type": "checkbox",
			"id": "show_main_rating",
			"label": "Show rating",
			"default": true
		},	
		{
			"type": "text",
			"id": "rating_text",
			"label": "Add rating text"
		}
	],
	"blocks": [
		{
			"type": "left_side",
			"name": "Content",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Add percentage"
				},
				{
                  "type": "textarea",
                  "id": "content",
                  "label": "Add content"
              	}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
