<div class="faqSection_container" id="faq">
  <div class="faqSection_wrapper">
    <div class="faqSection_content">
      <div class="faq_title">
        {% if section.settings.main_title != blank %}
        <h1 class="main_title">{{ section.settings.main_title }}</h1>
        {% endif %}
        {% if section.settings.sub_title != blank %}
        <h5 class="sub_title">{{ section.settings.sub_title }}</h5>
        {% endif %}
      </div>
      <div class="faq_content">
        <div class="faq_items">
          {% for block in section.blocks %}
          <div class="faq_item">
            {% if block.settings.title != blank %}
            <div class="faq_question">
              <h3 class="question">{{ block.settings.title }}</h3>
            </div>
            {% endif %}
            {% if block.settings.title != blank %}
            <div class="faq_answer">
              <p>{{ block.settings.answer }}</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){ 
    $('.faq_items .faq_item:first-child').addClass("active");
    $('.faq_items .faq_item:first-child').find(".faq_answer").show();
    $('.faq_items .faq_item .faq_question').on('click touchstart',function(){
      $(this).next('.faq_answer').slideToggle();
      $(this).parent().toggleClass('active');
    });
  });
</script>


{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
		{
			"type": "text",
			"id": "main_title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "sub_title",
			"label": "Short content"
		}
	],
	"blocks": [
		{
			"type": "faq",
			"name": "FAQ",
			"settings": [
				{
					"type": "textarea",
					"id": "title",
					"label": "Add Question"
				},
				{
					"type": "textarea",
					"id": "answer",
					"label": "Add Answer"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
