<div class="sales_simpleSteps_container" id="simple_steps">
  <div class="sales_simpleSteps_wrapper">
    <div class="sales_simpleSteps_content">
      <div class="simpleSteps_title">
        {% if section.settings.main_title != blank %}
        	<h2 class="main_title">{{ section.settings.main_title }}</h2>
        {% endif %}
        {% if section.settings.sub_title != blank %}
        	<h5 class="sub_content">{{ section.settings.sub_title }}</h5>
        {% endif %}
      </div>
      <div class="simpleSteps_content">
        <div class="step_content">
          <ul class="steps">
            {% for block in section.blocks %}
            <li class="simple">
              <div class="simple_content">
                {% if block.settings.number != blank %}
                <div class="number">
                  <span>{{ block.settings.number }}</span>
                </div>
                {% endif %}
                <div class="ss_content">
                  {% if block.settings.title != blank %}
                  	<h3 class="ss_title">{{ block.settings.title }}</h3>
                  {% endif %}
                  {% if block.settings.content != blank %}
                  <div class="ss_details">
                    {{ block.settings.content }}
                  </div>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if($(window).width() > 620) {
      setTimeout(function () {
        $('.steps').each(function(){
          var highestBox = 0;
          $(this).find('.simple_content').each(function(){
            if($(this).height() > highestBox) {
              highestBox = $(this).height();
            }
          });
          $(this).find('.simple_content').height(highestBox);
        });
      },1000);
    }
  });
</script>


{% schema %}
  {
    "name": "Simple Steps",
    "settings": [
		{
			"type": "textarea",
			"id": "main_title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "sub_title",
			"label": "Sub heading"
		}
	],
	"blocks": [
		{
			"type": "steps",
			"name": "Simple Step",
			"settings": [
				{
					"type": "text",
					"id": "number",
					"label": "Number"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Add content"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
