<div class="sales_technonlogy_container">
  <div class="sales_technonlogy_wrapper">
    <div class="sales_technonlogy_content">
      {% if section.settings.image1 != blank %}
      <div class="technonlogy_left">
        <img class="lazyload" src="{{ section.settings.image1 | img_url: '735x906' }}" alt="" />
      </div>
      {% endif %}
      <div class="technonlogy_middle">
        <div class="middle_content">
          {% if section.settings.main_title != blank %}
          	<h2 class="main_title">{{ section.settings.main_title }}</h2>
          {% endif %}
          {% if section.settings.sub_title != blank %}
          	<h5 class="sub_title">{{ section.settings.sub_title }}</h5>
          {% endif %}
          <div class="content">
            {% if section.settings.content != blank %}
            	{{ section.settings.content }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="technonlogy_right">
        <div class="right_content">
          {% if section.settings.image2 != blank %}
          <div class="proven_logo">
            <img class="lazyload" src="{{ section.settings.image2 | img_url: '185x185' }}" alt="" />
          </div>
          {% endif %}
          {% if section.settings.image3 != blank %}
          <div class="silicon_image">
            <img class="lazyload" src="{{ section.settings.image3 | img_url: '575x542' }}" alt="" />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Technology Section",
    "settings": [
		{
			"type": "header",
			"content": "Left Side"
		},
		{
			"type": "image_picker",
			"id": "image1",
			"label": "Add image"
		},
		{
			"type": "header",
			"content": "Middle Content"
		},
		{
			"type": "textarea",
			"id": "main_title",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "sub_title",
			"label": "Sub heading"
		},
		{
			"type": "textarea",
			"id": "content",
			"label": "Add content"
		},
		{
			"type": "header",
			"content": "Right Side"
		},
		{
			"type": "image_picker",
			"id": "image2",
			"label": "Add image"
		},
		{
			"type": "image_picker",
			"id": "image3",
			"label": "Add image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
