{% include 'section-slide-derma' %}

{% schema %}
{
  "name": "Section Slide Derma",
  "blocks": [
    {
    "type": "section_slide_derma",
    "name": "Section Slide Derma",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section Slide Derma",
      "category": "Section Slide Derma",
      "blocks": [
        {
          "type": "section_slide_derma"
        }
      ]
    }
  ]
}
{% endschema %}