{% include 'section-product-list' %}

{% schema %}
{
  "name": "Section Product List",
  "blocks": [
    {
    "type": "section_product_list",
    "name": "Section Product List",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section Product List",
      "category": "Section Product List",
      "blocks": [
        {
          "type": "section_product_list"
        }
      ]
    }
  ]
}
{% endschema %}