{% include 'section-icon-block' %}

{% schema %}
{
  "name": "Section Icon Block",
  "blocks": [
    {
    "type": "section_icon_block",
    "name": "Section Icon Block",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section Icon Block",
      "category": "Section Icon Block",
      "blocks": [
        {
          "type": "section_icon_block"
        }
      ]
    }
  ]
}
{% endschema %}
