{% include 'section-as-seen-on' %}

{% schema %}
{
  "name": "Section As Seen On",
  "blocks": [
    {
    "type": "section_as_seen_on",
    "name": "Section As Seen On",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section As Seen On",
      "category": "Section As Seen On",
      "blocks": [
        {
          "type": "section_as_seen_on"
        }
      ]
    }
  ]
}
{% endschema %}
