{% include 'section-testimonial' %}

{% schema %}
{
  "name": "Slide Testimonial",
  "blocks": [
    {
    "type": "slide_testimonial",
    "name": "Slide Testimonial",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Slide Testimonial",
      "category": "Slide Testimonial",
      "blocks": [
        {
          "type": "slide_testimonial"
        }
      ]
    }
  ]
}
{% endschema %}