{% include 'section-icon-row' %}

{% schema %}
{
  "name": "Section Icon Row",
  "blocks": [
    {
    "type": "section_icon_row",
    "name": "Section Icon Row",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section Icon Row",
      "category": "Section Icon Row",
      "blocks": [
        {
          "type": "section_icon_row"
        }
      ]
    }
  ]
}
{% endschema %}
