{% include 'section-product-home' %}

{% schema %}
{
  "name": "Section Product Home",
  "blocks": [
    {
    "type": "section_product_home",
    "name": "Section Product Home",
    "settings": [

      ]
    }
  ],
  "presets": [
    {
      "name": "Section Product Home",
      "category": "Section Product Home",
      "blocks": [
        {
          "type": "section_product_home"
        }
      ]
    }
  ]
}
{% endschema %}