<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="foot-logo">
          {% if section.settings.logo %}
          	<a href="#"><img src="{{ section.settings.logo | img_url: 'medium' }}" alt="logo" class="img-fluid"></a>
          {% endif %}
        </div>
      </div>
    <div class="col-sm-4">
      <div class="copy">
        <span>{{ section.settings.cptxt }}</span>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="foot-link d-none d-sm-block">
        {%comment%}{% for block in section.blocks %}
          	{% if block.type == 'footerlinks' %}
          		<a href="#" data-toggle="modal" data-target="#{{ block.settings.modalid }}">{{ block.settings.linktxt }}</a>      
        	{% endif %}
          {% endfor %}{%endcomment%}
          <a href="https://www.iubenda.com/terms-and-conditions/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          <a href="https://www.iubenda.com/privacy-policy/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    
      </div>
    </div>
    </div>
  </div>

</footer>
<section class="f-bottom d-block d-sm-none">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="foot-link">
         {%comment%}{% for block in section.blocks %}
          	{% if block.type == 'footerlinks' %}
          		<a href="#" data-toggle="modal" data-target="#{{ block.settings.modalid }}">{{ block.settings.linktxt }}</a>      
        	{% endif %}
          {% endfor %}{%endcomment%}
          <a href="https://www.iubenda.com/terms-and-conditions/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
          <a href="https://www.iubenda.com/privacy-policy/18844471" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
      </div>
    </div>
    <div class="sticky-btn">
      <div class="btn-box">
        <a class="btn-get" href="{{ section.settings.footerbtnlink }} ">{{ section.settings.footerbtntxt }} <i class="material-icons">arrow_forward</i> </a>
      </div>
    </div>
  </div>
</section>

{% for block in section.blocks %}
  {% if block.type == 'popup' %}
    <div class="modal fade" id="{{ block.settings.id }}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ block.settings.title }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
			{{ block.settings.content }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}






        
{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
		{
          "type": "text",
          "id": "cptxt",
          "label": "Copyright Text"
        },
		{
          "type": "text",
          "id": "footerbtntxt",
          "label": "Footer btn Text"
        },
		{
          "type": "url",
          "id": "footerbtnlink",
          "label": "Footer btn URL"
        }
	],
	"blocks": [
      {
        "type": "footerlinks",
        "name": "Footer Links",
        "settings": [
          {
            "id": "linktxt",
            "type": "text",
            "label": "Link text"
          },
          {
            "id": "modalid",
            "type": "text",
            "label": "Add the id of the modal that you want to open"
          }

        ]
      },
	  {
        "type": "popup",
        "name": "Popup",
        "settings": [
          {
            "id": "id",
            "type": "text",
            "label": "Add modal id. it must be connected to the modal id of any footer link"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Popup Title"
          },
		  {
            "id": "content",
            "type": "html",
            "label": "Popup content"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
