<!-- Header start -->
<header class="">
  <div class="navigation-wrap start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            {% if section.settings.logo %}
              <a class="navbar-brand" href="/" ><img src="{{ section.settings.logo | img_url: 'medium' }}" alt="logo"></a>  
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                {% for block in section.blocks %}
                  <li class="nav-item ">
                    <a class="nav-link" href="{{ block.settings.linkurl }}" >{{ block.settings.link }}</a>
                  </li>
                {% endfor %}
				        {% if section.settings.addbtn %}
                  <li class="nav-item ">
                    <a class="nav-link btn-get" href="{{ section.settings.btnlink }}" data-toggle="modal" data-target="#contact">{{ section.settings.btntxt }} <i class="material-icons">arrow_forward</i> </a>
                  </li>
                {% endif %}
              </ul>
            </div>

          </nav>    
        </div>
      </div>
    </div>
  </div>
  
</header>

<!-- Header end -->


{% schema %}
  {
    "name": "Header",
    "settings": [
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
 		{
          "type": "checkbox",
          "id": "addbtn",
          "label": "Add Button",
		  "default": true
        },
		{
          "type": "text",
          "id": "btntxt",
          "label": "Button Text"
        },
		{
          "type": "url",
          "id": "btnlink",
          "label": "Button URL"
        }
	],
	"blocks": [
      {
        "type": "Header_Links",
        "name": "Header Links",
        "settings": [
          {
            "id": "link",
            "type": "text",
            "label": "Link text"
          },
          {
            "id": "linkurl",
            "type": "url",
            "label": "Link URL"
          }

        ]
      }
	]
	
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
