{%- assign product = all_products[section.settings.product] -%}
{% if section.settings.enable_section %}
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 ord2">
        <div class="hero-lady d-none d-sm-block">
          
          {% if section.settings.add_gift_badge %}
            <div class="gift-circle">
              <img src="{{ 'gift-icon.png' | asset_img_url }}" alt="gift-icon"/>
              <h5>{{ section.settings.gift_badge_heading }}</h5>
              <p>{{ section.settings.gift_badge_subheading }}</p>
            </div>
          {% endif %}
          {% if section.settings.hero_img %}
            <img src="{{ section.settings.hero_img | img_url: '445x'}}" alt="hero-lady" class="img-fluid d-none d-sm-block"/>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-7">
        <div class="hero-right">
          {% if section.settings.product %}
            <div class="star">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
          {% endif %}
          <h1>{{ section.settings.main_heading }}</h1>
            <h2 class="text-capitalize">{{ section.settings.main_subheading }}</h2>
            {% if section.settings.video_url %}
              <div class="hero-video d-block d-sm-none" >
                <iframe src="{{ section.settings.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            {% endif %}
            {% if section.settings.addbtn %}
              <div class="btn-box d-block d-sm-none mtb-15">
                <a class="btn-get" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }} <i class="material-icons">arrow_forward</i> </a>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-sm-6">
                <p>{{section.settings.main_content}}</p>
                {% if section.settings.addbtn %}
                  <div class="btn-box d-none d-sm-block">
                    <a class="btn-get" href="{{ section.settings.btn_url }}"> {{ section.settings.btn_text }} <i class="material-icons">arrow_forward</i> </a>
                  </div>
                {% endif %}
              </div>
              <div class="col-sm-6">
                {% if section.settings.video_url %}
                  <div class="hero-video d-none d-sm-block">
                    <iframe src="{{ section.settings.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                {% endif %}
              </div>
            </div>
            {% if section.settings.addtestimonial %}
              <div class="hero-testimonial d-none d-md-block" style="background-image:url({{section.settings.testimonial_img | img_url: 'small'}})">
                <div class="gift-circle d-block d-sm-none">
                  <img src="{{ 'gift-icon.png' | asset_img_url  }}" alt="gift-icon"/>
                  <h5>{{ section.settings.gift_badge_heading }}</h5>
                  <p>{{ section.settings.gift_badge_subheading }}</p>
                </div>
                <p>{{ section.settings.testimonial_text }}</p>
                <div class="star">
                  <b>{{ section.settings.testimonial_name }}</b>
                  <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
    
                </div>
              </div>
              <div class="hero-testimonial hero-testimonial-mobile d-block d-md-none" style="background-image:url({{section.settings.testimonial_img_mobile | img_url: 'master'}})">
                <div class="gift-circle d-block d-sm-none">
                  <img src="{{ 'gift-icon.png' | asset_img_url  }}" alt="gift-icon"/>
                  <h5>{{ section.settings.gift_badge_heading }}</h5>
                  <p>{{ section.settings.gift_badge_subheading }}</p>
                </div>
                <p>{{ section.settings.testimonial_text }}</p>
                <div class="star">
                  <b>{{ section.settings.testimonial_name }}</b>
                  <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
    
                </div>
              </div>
            {% endif %}
      </div>
    </div>
  </div>
</div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Patches Hero Section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable this section?",
        "default": true
      },
			{
              "type": "image_picker",
              "id": "hero_img",
              "label": "Hero Image"
            },
            {
              "type": "checkbox",
              "id": "add_gift_badge",
              "label": "Add Gift Badge?"
            },
			      {
              "type": "text",
              "id": "gift_badge_heading",
              "label": "Gift Badge Heading"
            },
			      {
              "type": "text",
              "id": "gift_badge_subheading",
              "label": "Gift Badge Subheading"
            },
            {
              "type": "checkbox",
              "id": "addbtn",
              "label": "Add Button",
              "default": true
            },
			      {
              "type": "text",
              "id": "btn_text",
              "label": "Button text"
            },
			      {
              "type": "url",
              "id": "btn_url",
              "label": "Button URL"
            },
            {
              "type": "html",
              "id": "main_heading",
              "label": "main heading",
              "default": "SAY GOODBYE<br/>TO STRETCH MARKS"
            },
			      {
              "type": "text",
              "id": "main_subheading",
              "label": "main sub heading",
              "default": "#1 Clinically Proven Product to Reduce Stretch Marks from Pregnancy"
            },
			      {
              "type": "html",
              "id": "main_content",
              "label": "main content",
              "default": "<span class='red-color'> Clarafuse</span>is proven to painlessly treat wrinkles, stretch marks, and damage on your body in the comfort of your own home — without injections, laser treatments, chemicals, or surgery."
            },
            {
              "type": "text",
              "id": "video_url",
              "label": "Video embed url",
              "default": "https://www.youtube.com/embed/lEmDWQzQCbU"
            },
            {
              "type": "checkbox",
              "id": "addtestimonial",
              "label": "Add Testimonial",
              "default": true
            },
			{
              "type": "textarea",
              "id": "testimonial_text",
              "label": "Testimonial Text",
              "default": "These really do work! I was skeptical at first but I can definitely see an improvement in my stretch marks after the first week of using the patches. Will keep using these, love the free travel baggy included as well! Thanks!"
            },
			{
              "type": "text",
              "id": "testimonial_name",
              "label": "Testimonial Name",
              "default": "Hathaichanok Sanchai"
            },
			{ "type": "image_picker",
              "id": "testimonial_img",
              "label": "testimonial Image"
			},
			{ "type": "image_picker",
              "id": "testimonial_img_mobile",
              "label": "testimonial Mobile Image"
			},
			{
              "type": "product",
              "id": "product",
              "label": "Select Product for reviews"
			}
			

		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
