{% if section.settings.enable_section %}
  <div class="top-header" style="background:{{section.settings.topbar_color}}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% if section.settings.offerimg  %}
            <img src="{{ section.settings.offerimg | img_url: 'small'}}" alt="top-icon"/>
          {% endif %}
          <span>{{ section.settings.topbartxt }}</span>
          {% if section.settings.addbtn %}
            <a href="{{ section.settings.btnurl }}" class="claim-btn">{{ section.settings.btntxt }}<i class="material-icons">arrow_forward</i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Top Bar",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
    {
      "type": "color",
      "id": "topbar_color",
      "label": "Topbar color",
      "default": "#e38065"
    },
		{
      "type": "image_picker",
      "id": "offerimg",
      "label": "Offer Tag image"
    },
    {
      "type": "text",
      "id": "topbartxt",
      "label": "Top Bar Text"
    },
    {
      "type": "checkbox",
      "id": "addbtn",
      "label": "Add button",
      "default": true
    },
    {
      "type": "text",
      "id": "btntxt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btnurl",
      "label": "Button URL"
    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
