<!-- nightfood faq start-->
{% if section.settings.enable_section %}
<section class="f-faq" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>{{ section.settings.heading_text }}</h3>
        <h4 class="text-initial">{{ section.settings.subheading_text }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="faq wow fadeInUp">
          <div id="accordion">
            {% for block in section.blocks %}
            	<div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" href="#collapse{{ forloop.index }}">
                  {{ block.settings.question }} <span class="plus"><i class="fa fa-plus"></i></span>
                </a>
              </div>
              <div id="collapse{{ forloop.index }}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p> {{ block.settings.answer }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.addbtn %}
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-box text-center mt-50">
            <a class="btn-get" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }} <i class="material-icons">arrow_forward</i> </a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% endif %}


<!--  faq end-->
{% schema %}
  {
    "name": "FAQs",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
		{
          "type": "text",
          "id": "heading_text",
          "label": "Heading text"
        },
		{
          "type": "text",
          "id": "subheading_text",
          "label": "subheading text"
        },
        {
          "type": "checkbox",
          "id": "addbtn",
          "label": "Add Button",
		  "default": true
        },
		{
          "type": "text",
          "id": "btn_txt",
          "label": "Button text"
        },
		{
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
	],
	"blocks": [
      {
        "type": "Faq",
        "name": "Faqs",
        "settings": [
          {
          "type": "text",
          "id": "question",
          "label": "Question"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
