{%- assign Product = all_products[section.settings.product] -%}
{%- assign ProductReview = all_products[section.settings.productrev] -%}
{% if section.settings.enable_section %}
<section class="clarafuse-product" id="clarafuse">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">
         <p class="c-f d-block d-sm-none text-center">{{ Product.vendor }}</p>
        <h3 class="d-block d-sm-none text-center">{{ Product.title }}</h3>
        <div class="owl-carousel owl-theme" id="owl-carousel2" data-slider-id="1">
          {% for i in (1..5) %}
            <div class="item">
              <img src="{{ Product.images[i].src | img_url: 'master' }}" alt="zoom" class="alignleft size-medium wp-image-7000" />
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cf-right">
          <form action="/cart/add" data-productid="{{Product.id}}" class="addtocartForm" method="post" enctype="multipart/form-data" id="AddToCartForm">
             <select name="id" data-productid="{{Product.id}}" id="productSelect" class="product-single__variants">
               {% for variant in Product.variants %}
               {% if variant.available %}

               <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

               {% else %}
               <option disabled="disabled">
                 {{ variant.title }} - {{ 'products.product.sold_out' | t }}
               </option>
               {% endif %}
               {% endfor %}
            </select>
            <p class="c-f d-none d-sm-block text-uppercase">{{ Product.vendor }}</p>
            <h3 class="d-none d-sm-block">{{ Product.title }}</h3>
            <h4 class="d-none d-sm-block">
              {% if Product.variants[0].compare_at_price %}<span class="was">Was {{ Product.variants[0].compare_at_price | money}}</span> {% endif %} 
              <span class="red-color"> {% if Product.variants[0].compare_at_price %}
                Now Only {% endif %} {{ Product.variants[0].price | money }}</span>
            </h4>
            <span class="star ">
			 	<span class="shopify-product-reviews-badge" data-id="{{ ProductReview.id }}"></span>
            </span>
            <div class="mt-3 p-package">
              {{ section.settings.description }}
              {% if section.settings.add_gift_badge %}
                <div class="gift-circle">
                  <img src="{{ 'gift-icon.png' | asset_img_url }}" alt="gift-icon"/>
                  <h5>{{ section.settings.gift_badge_heading }}</h5>
                  <p>{{ section.settings.gift_badge_subheading }}</p>
                </div>
              {% endif %}
            </div>
            <h4 class="d-block d-sm-none">
              {% if Product.variants[0].compare_at_price %}<span class="was">Was {{ Product.variants[0].compare_at_price | money}}</span> {% endif %} 
              <span class="red-color"> {% if Product.variants[0].compare_at_price %}
                Now Only {% endif %} {{ Product.variants[0].price | money }}</span>
            </h4>

            {% if Product.variants[0].inventory_quantity and Product.metafields.subscriptions.subscription_id %}
            {%- assign product = Product -%}
            {% include 'subscription-product' with product %}
            {% endif %}
            <div class="quantity-box">
              <span class="qt d-none d-sm-inline-block">Quantity</span>
              <div id="input_div">
                <input type="button" value="-" data-minus id="minus">
                <input name="quantity" readonly type="text" size="25" value="1" data-count id="count">
                <input type="button" value="+" data-plus id="plus">
              </div>
              <span class="btn-box">
                 {% if Product.variants[0].inventory_quantity %}
                    <button style="display:none;" type="button" id="AddToCart" class="btn-get" href="javascript:void(0)" onclick="addProdToCart($('#variant_id').val(),$('#quantity').val())">
                      Add to Cart
                    </button>
                    <a data-addtocart data-page="{{page.handle}}" id="AddToCart-Sub" class="btn-get" href="javascript:void(0)"  >
                      Get yours Now <i class="material-icons">arrow_forward</i>
                    </a>
                    {% else %}
                    <button type="" name="add" id="AddToCart" class="btn disabled" disabled>
                      sold out
                    </button>
                {% endif %}
              </span>
            </div>
            <div class="payment-strip">
              <img src="{{ 'payment-strip.png' | asset_img_url: 'master' }}" alt="payment-strip" class="img-fluid">
            </div>
          </form>
      </div>
    </div>
    </div>
  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Subscription Product",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable this section?",
        "default": true
      },
      {
        "type": "product",
        "id": "product",
        "label": "Select Subscription Product"
      },
      {
        "type": "product",
        "id": "productrev",
        "label": "Select Product for review"
      },
      {
        "type": "checkbox",
        "id": "add_gift_badge",
        "label": "Add Gift Badge?"
      },
      {
        "type": "text",
        "id": "gift_badge_heading",
        "label": "Gift Badge Heading"
      },
      {
        "type": "text",
        "id": "gift_badge_subheading",
        "label": "Gift Badge Subheading"
      },
      {
        "type": "html",
        "id": "description",
        "label": "Product Description"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
