<!--simple step-->
{% if section.settings.enable_section %}
<section class="simple-step" id="how-to-use">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>{{ section.settings.heading_text }}</h3>
        <h4 class="mb-50 text-initial">{{ section.settings.subheading_text }}</h4>
      </div>
    </div>
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-sm-3">
          <div class="step-box">
            <span class="step-no">{{ forloop.index }}</span>
            <h5>{{ block.settings.heading_text }}</h5>
            <p>{{ block.settings.content }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}



{% schema %}
  {
    "name": "Simple Steps",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
      {
         "type":      "html",
         "id":        "heading_text",
         "label":     "Heading Text",
         "default":   "reduce the appearance of <br/> stretch marks IN 5 SIMPLE STEPS"
      },
	  {
         "type":      "text",
         "id":        "subheading_text",
         "label":     "Subheading Text",
         "default":   "#1 Clinically Proven Product to Reduce Stretch Marks from Pregnancy"
      }
	
	],
	"blocks": [
      {
        "type": "Steps",
        "name": "Steps",
        "settings": [
          {
            "id": "heading_text",
            "type": "text",
            "label": "Heading Text",
			"default":   "WASH and DRY"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content Text",
			"default":   "Cleanse and dry the skin. For optimal results and longer adhesion of the patches, we recommend using claraprep cleanser, which features a unique ingredient complex that cleanses, tones, and preps the area for treatment."
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
