
<!--every mother count-->
{% if section.settings.enable_section %}
  <section class="every-mother" style="background:{{section.settings.bg_color}}">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1">
          {% if section.settings.mother_img %}
            <div class="every-m">
              <img src="{{ section.settings.mother_img | img_url: 'master' }}" alt="every" class="img-fluid">
            </div>
          {% endif %}
          <h3>{{ section.settings.mother_heading_text }}</h3>
          <p>{{ section.settings.mother_content_text }}</p>
        </div>
      </div>
    </div>
  </section>

<!--silicon-->

  <section class="silicon d-none d-md-block" id="the-science" style="background-image:url({{section.settings.silicon_bg | img_url: 'master' }})">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <h3 class="mt-50">{{ section.settings.silicon_heading_text }}</h3>
          <h4>{{ section.settings.silicon_subheading_text }}</h4>
          {{ section.settings.silicon_content_text }}
        </div>
      </div>
    </div>
  </section>
  <section class="silicon silicon-mobile d-block d-md-none" id="the-science" style="background-image:url({{section.settings.silicon_mobile_bg | img_url: 'master' }})">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <h3 class="mt-50">{{ section.settings.silicon_heading_text }}</h3>
          <h4>{{ section.settings.silicon_subheading_text }}</h4>
          {{ section.settings.silicon_content_text }}
          </div>
      </div>
    </div>
  </section>
{% endif %}


{% schema %}
  {
    "name": "Silicon technology",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable this section?",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#e38065"
      },
      {
        "type": "image_picker",
        "id": "mother_img",
        "label": "Mother Image"
      },
		  {
          "type": "text",
          "id": "mother_heading_text",
          "label": "Mother Heading text"
        },
		{
          "type": "textarea",
          "id": "mother_content_text",
          "label": "MotherContent text"
        },
        {
          "type": "image_picker",
          "id": "silicon_bg",
          "label": "Silicon technology image"
        },
		{
          "type": "image_picker",
          "id": "silicon_mobile_bg",
          "label": "Silicon technology Mobile image"
        },

		{
          "type": "text",
          "id": "silicon_heading_text",
          "label": "Silicon heading text"
        },
		{
          "type": "text",
          "id": "silicon_subheading_text",
          "label": "Silicon subheading text"
        },
        {
          "type": "html",
          "id": "silicon_content_text",
          "label": "Silicon content text"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
