 {%- assign product = all_products[section.settings.product] -%}

<!--Real people -->
{% if section.settings.enable_section %}
<section class="real-people" id="reviewsrealpeople">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>{{ section.settings.heading_text }}</h3>
        <h4>{{ section.settings.subheading_text }}</h4>
        {% if section.settings.product %}
          <span class="star">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </span>
        {% endif %}
        
      </div>
    </div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="owl-slider">
      <div id="carousel" class="owl-carousel">
         {% assign videoarr = section.settings.videos | newline_to_br | split: '<br />'%}
        {% for video in videoarr %}
              <div class="item">
                <div class="real-video">
                  <iframe  src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="owl-slider">
      <div id="carousel1" class="carousel1 owl-carousel">
        {% for block in section.blocks %}
          {% if block.type == 'Before_After' %}
            <div class="item">
              <div class="real-img">
                <a class="d-block position-relative"><img src="{{ block.settings.before_after_img | img_url: 'master'}}" alt="Before after" class="h-100 img-fluid position-absolute w-100"></a>
                  <p>{{ block.settings.review }}</p>
                <h6 class="red-color">
                  {{ block.settings.user_name }}
                </h6>
                <span class="star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
            </div>
          {% endif %}	
        {% endfor %}
      </div>
    </div>
  </div>
</div>

  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Real People",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
		{
          "type": "text",
          "id": "heading_text",
          "label": "Heading text"
        },
		{
          "type": "text",
          "id": "subheading_text",
          "label": "subheading text"
        },
		{
          "type": "product",
          "id": "product",
          "label": "Select Product for reviews"
        },
		{
          "type": "textarea",
          "id": "videos",
          "label": "Enter Youtube embed links each on newline"
        }
	],
	"blocks": [
      {
        "type": "Before_After",
        "name": "Before After",
        "settings": [
          {
            "type": "image_picker",
            "id": "before_after_img",
            "label": "Before After Image"
          },
          {
            "id": "review",
            "type": "textarea",
            "label": "Review"
          },
		  {
            "id": "user_name",
            "type": "text",
            "label": "User name"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
