<!--why choose -->
 {%- assign product = all_products[section.settings.product] -%}
 {% if section.settings.enable_section %}
 <section class="why-choose" id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ord2">
        {% for block in section.blocks %}
        	{% if block.type == 'reviews' %}
          		<div class="percentage-box">
            <div class="row">
              <div class="col-sm-5 col-5">
                <h5>{{ block.settings.percentage }}</h5>
              </div>
              <div class="col-sm-7 col-7">
                <p>{{ block.settings.user_review }}</p>
              </div>
            </div>
          </div>
       	 	{% endif %}	
        {% endfor %}
        <div class="btn-box d-block d-sm-none">
          {% if section.settings.addbtn %}
          	<a class="btn-get" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}<i class="material-icons">arrow_forward</i> </a>
          {% endif %}
          <span class="star">
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </span>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>{{ section.settings.heading_text }}</h3>
        <h4>{{ section.settings.subheading_text }} </h4>
        <p>{{ section.settings.content }}</p>
         {% assign reasonarr = section.settings.reasons | newline_to_br | split: '<br />'%}
        <ul class="ul-list">
          {% for reason in reasonarr %}
              <li>{{ reason }}</li>
          {% endfor %}
        </ul>
        <div class="btn-box d-none d-sm-block">
          {% if section.settings.addbtn %}
          	<a class="btn-get" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }} <i class="material-icons">arrow_forward</i> </a>
          {% endif %}
          <span class="star">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
 {% endif %}


{% schema %}
  {
    "name": "Why choose",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
		{
          "type": "text",
          "id": "heading_text",
          "label": "Heading text"
        },
		{
          "type": "text",
          "id": "subheading_text",
          "label": "Sub heading text"
        },
		{
          "type": "textarea",
          "id": "content",
          "label": "Content text"
        },
		{
          "type": "checkbox",
          "id": "addbtn",
          "label": "Add Button",
		  "default": true
        },
		{
          "type": "text",
          "id": "btn_txt",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
		{
          "type": "product",
          "id": "product",
          "label": "Select Product for reviews"
        },
		{
          "type": "textarea",
          "id": "reasons",
          "label": "Enter reason list each on a new line"
        }
	],
	"blocks": [
      {
        "type": "reviews",
        "name": "Reviews",
        "settings": [
          {
            "id": "percentage",
            "type": "text",
            "label": "percentage"
          },
          {
            "id": "user_review",
            "type": "textarea",
            "label": "User review"
          }
        ]
      }
    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
