<!--as seen-->
{% if section.settings.enable_section %}
  <section class="as-seen"> 
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span>{{ section.settings.main_heading }}</span>
          {% for block in section.blocks %}
          <img src="{{ block.settings.brand_logo | img_url: 'medium'}}" alt="{{ block.settings.brand_logo }}">
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}




{% schema %}
  {
    "name": "As seen",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
      {
        "type":      "text",
        "id":        "main_heading",
        "label":     "Main Heading",
        "default":   "As seen on"
      }
	],
    "blocks": [
      {
        "type": "img_url",
        "name": "Brand Logo",
        "settings": [
          {
          "id": "brand_logo",
          "type": "image_picker",
          "label": "Logo image"
          }
        ]
      }
    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
