{% if blog.handle == 'news' %}

{% else %}

<div style="display: {{ section.settings.top_bar_display }}">
    <div id="banner-top" style="background: {{ section.settings.top_bar_bg_color }};">
        <div class="container">
            <div class="row">
            <p class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: {{ section.settings.top_bar_text_color }};">{{ section.settings.top_bar_text }}</p>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% schema %}
{
  "name": "Top Bar Settings",
    "settings": [
        {
          "type":      "radio",
          "id":        "top_bar_display",
          "label":     "Display Top Bar?",
          "options": [
            { "value": "unset", "label": "Yes" },
            { "value": "none", "label": "No" }
          ],
          "default":   "unset",
          "info":      "Display / hide top bar"
        },
        {
            "type": "color",
            "id": "top_bar_bg_color",
            "label": "Top Bar BG Color",
            "default": "#121212"
        },
        {
            "type": "color",
            "id": "top_bar_text_color",
            "label": "Top Bar Text Color",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "top_bar_text",
            "label": "Top Bar Text",
            "default": "LAUNCH SPECIAL! Free Shipping + Free Gifts with Purchase"
        }
    ]
}
{% endschema %}

<style>
.template-index #header {
    border-bottom: 0px;
}
</style>