{% if section.settings.enable_guarantee %}
      <div class="section-content moneyback-section" style="background: {{section.settings.guarantee_bg}}">
        <div class="container text-center">
            <div class="border-heading-wrap">
            <h1 class="text-center text-dark text-uppercase  text-white">{{ section.settings.guarantee_heading }} </h1>
            <div class="hr white-hr"></div>
            </div>
            <div class="display-4 text-white"> {{ section.settings.guarantee_content }}</div>
        </div>
      </div>
	{% endif %}
  
    {% if section.settings.enable_reviews %}
    	<div class="section-content hear-section">
      <div class="container text-center">

        <h1 class="text-center text-golden text-uppercase ">{{ section.settings.review_heading }}</h1>

        <div class="display-4 text-dark">{{ section.settings.review_subheading }}</div>

        <div class="row">
          {% for block in section.blocks %}
          	<div class="col-md-4 video-wrapper1">
            <a id="video{{forloop.index}}" video-url="{{ block.settings.link }}">
              <img src="{{ block.settings.img | img_url: "250x" }}" />
            </a>  
          </div>
          <script>
            $(function(){
              $("#video{{forloop.index}}").videoPopup({
                    autoplay: 1,
                    controlsColor: 'white',
                    showVideoInformations: 0,
                    width: 1000,
                    customOptions: {
                        rel: 0,
                        end: 60
                    }
                });
            });
        </script>  
         {% endfor %}
          
        </div>

      </div>
    </div>
    {% endif %}	




{% schema %}
{
  "name": "video-reviews-guarantee",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_guarantee",
      "default": true,
      "label": "Enable guarantee section"
    },
    {
      "type": "checkbox",
      "id": "enable_reviews",
      "default": true,
      "label": "Enable reviews"
    },
    {
      "type": "color",
      "id": "guarantee_bg",
      "default": "#869dd2",
      "label": "Guarantee section background"
    },
    {
      "type": "text",
      "id": "guarantee_heading",
      "default": "60-DAY MONEY BACK <br/>AND EMPTY JAR GUARANTEE",
      "label": "guarantee heading"
    },
    {
      "type": "textarea",
      "id": "guarantee_content",
      "default": "Our goal is to make sure are customers are happy both with our products and their skin, which is why we have a 60-Day Money Back and Empty Jar Guarantee in place. In case our customers are not pleased with the Youth Lock System™, they can return it or even the fully empty jars within 60-days and we'll give them a full refund - no questions asked!",
      "label": "guarantee content"
    },
    {
      "type": "text",
      "id": "review_heading",
      "default": "HEAR WHY THESE WOMEN LOVE CLARAFUSE",
      "label": "Review heading"
    },
    {
      "type": "textarea",
      "id": "review_subheading",
      "default": "Hear what these Dermaclara Beauty fans have to say about their experiences with the Youth Lock System™ patches.",
      "label": "review subheading"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
		  "label": "Video Image"
        },
		{
          "type": "url",
          "id": "link",
		  "label": "Video link"
        }
      ]
    }
  ]
}
{% endschema %}