{% if section.settings.enable_promise %}
      <div class="section-content promise-section" style="background: {{section.settings.promise_bg}}">
        <div class="container text-center">

            <div class="border-heading-wrap">
            <h1 class="text-center text-gray text-uppercase">THE DERMACLARA PROMISE </h1>
            <div class="hr golden-hr"></div>
            </div>

            <div class="row">
              {% for block in section.blocks %}
                  <div class="col-sm-4 text-center">
                      <img src="{{ block.settings.guarantee_logo | img_url: 'original' }}" />
                  </div>
              {% endfor %}
            </div>
        </div>
      </div>
	{% endif %}

  	{% if section.settings.footermenu %}
      <div class="section-content product-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <img width="200" class="elIMG ximg" alt="" src="{{ section.settings.logo | img_url: '200x' }}" tabindex="0">
                  <p>{{ section.settings.footermsg }}</p>
                </div>
                <div class="col-md-2">
                  <h4 class="font-weight-bold">Links</h4>
                  <ul>
                    {% for link in linklists[section.settings.footermenu].links %}
                    
                    <li><a href="{{link.url}}" class="text-black">{{link.title}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
      </div>
	{% endif %}



{% schema %}
{
  "name": "Promise logos and Footer",
  "settings": [
	{
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
	{
	  "type": "color",
      "id": "promise_bg",
      "label": "Promise section background",
      "default": "#f6f9f8"
		
	},
	{
      "type": "checkbox",
      "id": "enable_promise",
      "label": "Enable promise Logos?",
      "default": true
    },
	{
      "type": "link_list",
      "id": "footermenu",
	  "label": "Footer menu"
    },
    {
      "type": "textarea",
      "id": "footermsg",
      "label": "Footer message",
      "default": "Dedicated to helping others attain their ideal skin health goals  through high quality skin care products"
    }
  ],
  "blocks": [
	{
      "type": "guarantee_logos",
      "name": "Guarantee Logos",
      "settings": [
        {
          "type": "image_picker",
          "id": "guarantee_logo",
		  "label": "Guarantee Logo"
        }
      ]
    }
  ]
}
{% endschema %}