  {% if section.settings.enable_bonussection %}
      <div class="section-content bonus-section">
       <div class="container text-center">
          <div class="fancy-heading"><span class="h1 text-golden text-uppercase font-weight-bold">BONUS FREE GIFTS</span></div>
			{% for block in section.blocks %}
             <div class="row">
               <div class="col-sm-6">
                 <img src="{{ block.settings.bonus_gift_img | img_url:"350x" }}" />
               </div>
               <div class="col-sm-6">
                 <div class="text-gray text-capitalize text-left font-weight-bold display-2">{{ block.settings.bonus_gift_product }}</div>
                 <div class="hr golden-hr hr-thin hr-left hr-exsm"></div>
                 <h3 class="text-sky-blue font-weight-bold text-capitalize display-3 text-left d-block">{{ block.settings.bonus_gift_pricing }}</h3>
                 <ul class="text-left">
                   {% assign benefits = block.settings.bonus_gift_benefits | split: '|'%}
                   {% for benefit in benefits %}
                   <li class="display-4"><i class="fa-fw fas fa-check-circle text-orange"></i>{{ benefit }}</li>
                   {% endfor %}
                 </ul>
               </div>
             </div>
		{% endfor %}
       </div>
      </div>
  {% endif %}

    {% if section.settings.enable_limited_section %}
      <div class="section-content offer-section">
      <div class="container">

        <div class="border-heading-wrap">
          <h1 class="text-center text-gray text-uppercase">{{section.settings.offer_heading}} </h1>
          <div class="hr golden-hr"></div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img src="{{ section.settings.offer_img | img_url:"original" }}">
          {% assign offers = section.settings.offer_list | split: '|' %}
            <ul class="offer-list">
              <li class="display-4 text-light-gray">
                <i class="fa-fw fas fa-dollar-sign" style="" contenteditable="false"></i><b>{{offers[0]}}</b>
              </li>
              <li class="display-4 text-light-gray">
                <i class="fa-fw fas fa-asterisk"></i><b>{{offers[1]}}</b>
              </li>
            </ul>
          </div>
          <div class="col-md-7 offer-content">
            <div class="text-left h1 font-weight-bold text-golden">{{section.settings.offer_product}}</div>
            {% if section.settings.offer_includes %}
            <h3 class="text-capitalize font-weight-bold"><u>System Includes:</u></h3>
            {% assign items = section.settings.offer_includes | split: '/' %}
            <ul>
              {% for item in items %}
              {% assign itemdata = item | split: '|' %}
              <li class="display-4 " >
                <i class="fa-fw fas fa-check-circle text-orange" aria-hidden="true"></i>{{itemdata[0]}}<span class="text-orange font-weight-bold"> {{itemdata[1]}}</span>
              </li>
              {% endfor %}
            </ul>
              {% endif %}
            {% if section.settings.offer_gifts %}
            <h3 class="text-capitalize font-weight-bold"><u>free gifts:</u></h3>
              {% assign items = section.settings.offer_gifts | split: '/' %}
            <ul>
              {% for item in items %}
              {% assign itemdata = item | split: '|' %}
              <li class="display-4 " >
                <i class="fa-fw fas fa-check-circle text-orange" aria-hidden="true"></i>{{itemdata[0]}}<span class="text-orange font-weight-bold"> {{itemdata[1]}}</span>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="h1 text-sky-blue font-weight-bold mb-0">{{ section.settings.offer_shipping}}</div>
            <p class="h4 text-blue"><i>{{ section.settings.offer_pricing_msg}}</i></p>
            <p class="font-weight-bold text-black">{{ section.settings.offer_subscription_msg}}</p>
            <a class="cta-btn btn btn-lg btn-blue" href="#atcForm">BUY NOW</a>

          </div>
        </div>
      </div>
    </div>
    {% endif %}


{% schema %}
{
  "name": "bonus-gifts-limited-offer",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bonussection",
      "default": true,
      "label": "Show bonus gifts"
    },
    {
      "type": "checkbox",
      "id": "enable_limited_section",
      "default": true,
      "label": "Show limited offer section"
    },
    {
      "type": "text",
      "id": "offer_heading",
      "default": "LIMITED TIME OFFER",
      "label": "Offer heading"
    },
    {
      "type": "image_picker",
      "id": "offer_img",
      "label": "Offer Image"
    },
    {
      "type": "textarea",
      "id": "offer_list",
      "default": "60 DAY MONEY-BACK GUARANTEE|FOR MAXIMUM RESULTS, 60 DAYS OF USE IF HIGHLY RECCOMENDED",
      "info": "Offer list. Use | for new line",
      "label": "Offer List"
    },
    {
      "type": "text",
      "id": "offer_product",
      "default": "YOUTH LOCK SYSTEM™",
      "label": "offer product title"
    },
    {
      "type": "textarea",
      "id": "offer_includes",
      "default": "Claratone - Youth Lock Wand | (Value $45) / Claraline - Youth Lock Serum | (Value $44)",
      "info": "Offer includes list. Use / to add new line and | for pricing",
      "label": "offer products title"
    },
    {
      "type": "textarea",
      "id": "offer_gifts",
      "default": "Waterproof Travel Bag | (Value $10) / Pore-Clearing Silicone Exfoliator | (Value $12)",
      "info": "Offer gifts list. Use / to add new line and | for pricing",
      "label": "offer gifts title"
    },
    {
      "type": "text",
      "id": "offer_shipping",
      "default": "FREE + $7.98 Shipping",
      "label": "Shipping message"
    },
    {
      "type": "text",
      "id": "offer_pricing_msg",
      "default": "Just Pay $7.98 Shipping. Then $19.99 a month for serum refill. See results or get your money back. Cancel anytime!",
      "label": "Pricing message"
    },
    {
      "type": "text",
      "id": "offer_subscription_msg",
      "default": "$7.98 TODAY | CANCEL ANYTIME SUBSCRIPTION, NO HIDDEN FEES",
      "label": "Subscription message"
    }
  ],
  "blocks": [
    {
      "type": "bonus_gifts",
      "name": "Bonus gift",
      "settings": [
        {
          "type": "image_picker",
          "id": "bonus_gift_img",
          "label": "Gift image"
        },
        {
          "type": "text",
          "id": "bonus_gift_product",
          "default": "WATERPROOF TRAVEL BAG",
          "label": "Gift title"
        },
        {
          "type": "textarea",
          "id": "bonus_gift_benefits",
          "default": "Water proof|Hyper Hygienic|Durable canvas construction|Easy to clean",
          "info": "Write benefits. add | to add new line",
          "label": "Gift benefits"
        },
        {
          "type": "text",
          "id": "bonus_gift_pricing",
          "default": "Valued at $10",
          "label": "Gift Pricing"
        }
      ]
    }
  ]
}
{% endschema %}