 {% if section.settings.enable_step1 %}
      <div class="section-content micro-system">
        <div class="container text-center">
          <h2 class="text-center text-gray">{{ section.settings.step1_heading }}</h2>

          <div class="row">
            {% if section.settings.step1_img %}
              <div class="col-sm-6">
                <img src="{{ section.settings.step1_img | img_url: "original" }}">
              </div>
            {% endif %}
              <div class="col-sm-6 heading-wrap">
                {% assign prdname = section.settings.step1_product | split: '|'%}
                <div class="text-left display-3 text-gray font-weight-bold">#1</div>
                 <div class="text-left h2 text-gray font-weight-bold">{{ prdname[0] }}</div>
                 <div class="text-left display-large  text-golden">{{ prdname[1] }}</div>
                 <h3 class="text-sky-blue font-weight-bold text-capitalize display-3 text-left d-block">{{section.settings.step1_prd_pricing}}</h3>
                 <ul class="text-left">
                   {% assign benefits = section.settings.step1_benefits | split: '|' %}
                   {% for benefit in benefits %}
                  	<li class="display-4"><i class="fa-fw fas fa-check-circle text-orange" ></i>{{ benefit }}</li>
                   {% endfor %}
                 </ul>
                {% assign science = section.settings.step1_science | split: '|'%}
                 <div class="display-4 text-left">{{ science[0] }}<span class="text-orange font-weight-bold"> {{science[1]}} </span></div>
              </div>
             
          </div>

        </div>
      </div>

       <div class="container">
         <div class="hr blue-hr hr-full hr-thin"></div>
      </div>
	{% endif %}
  
	{% if section.settings.enable_step2 %}
      <div class="section-content micro-system">
        <div class="container text-center">

          <div class="row">
              <div class="col-sm-6 heading-wrap">
                {% assign prdname = section.settings.step2_product | split: '|'%}
                <div class="text-right display-3 text-gray">#2</div>
                 <div class="text-right h2 text-gray font-weight-bold">{{ prdname[0] }}</div>
                 <div class="text-right display-large  text-golden">{{ prdname[1] }}</div>
                  <div class="hr black-hr hr-thin hr-right hr-sm"></div>
                 <h3 class="text-sky-blue font-weight-bold text-capitalize display-3 text-right">{{section.settings.step2_prd_pricing}}</h3>
                
                 <ul class="text-left">
                   {% assign benefits = section.settings.step2_benefits | split: '|' %}
                   {% for benefit in benefits %}
                  	<li class="display-4"><i class="fa-fw fas fa-check-circle text-orange" ></i>{{ benefit }}</li>
                   {% endfor %}
                 </ul>
                 <div class="display-4 text-right">{{ section.settings.step2_science }}</div>
              </div>

              {% if section.settings.step2_img %}
              <div class="col-sm-6">
                <img src="{{ section.settings.step2_img | img_url: "original" }}">
              </div>
            {% endif %}
             
          </div>

        </div>
      </div>

       <div class="container">
         <div class="hr blue-hr hr-full hr-thin"></div>
      </div>
	{% endif %}
  
	{% if section.settings.enable_step3 %}
      <div class="section-content  micro-system part-3">
          <div class="container text-center">
            {% assign prdname = section.settings.step3_product | split: '|'%}
           <div class=" display-3 text-golden font-weight-bold">#3</div>
            <h2 class="text-center font-weight-bold text-gray">{{ prdname[0] }}</h2>
           <div class="text-center display-1 font-weight-bold  text-golden">{{ prdname[1] }} <br/> {{ prdname[2] }}</div>
           <div class="hr black-hr  hr-thin "></div>
           <div class="display-4 text-center">{{ section.settings.step3_science }}</div>
            {% if section.settings.step3_img %}
            <img class="elIMG ximg" alt="" src="{{ section.settings.step3_img | img_url: "original"}}" tabindex="0">
            {% endif %}
          </div>
      </div>
	{% endif %}

  {% if section.settings.enable_trust_logos %}
    <div class="section-content promise-section">
      <div class="container text-center">

        <div class="row">
          {% for block in section.blocks %}
              <div class="col-sm-4 text-center">
                <img src="{{ block.settings.trust_logo | img_url: 'original' }}" />
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}



{% schema %}
{
  "name": "steps-trust-logos",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_step1",
      "default": true,
      "label": "Show Step 1"
    },
    {
      "type": "checkbox",
      "id": "enable_step2",
      "default": true,
      "label": "Show step 2"
    },
    {
      "type": "checkbox",
      "id": "enable_step3",
      "default": true,
      "label": "show step 3"
    },
	{
      "type": "checkbox",
      "id": "enable_trust_logos",
      "label": "Enable trust Logos?",
      "default": true
    },
    {
      "type": "text",
      "id": "step1_heading",
      "default": "REGENERATE VISIBALLY YOUNGER LOOKING SKIN WITH THE YOUTH LOCK SYSTEM",
      "label": "Step 1 heading"
    },
    {
      "type": "image_picker",
      "id": "step1_img",
      "label": "Step 1 image"
    },
    {
      "type": "text",
      "id": "step1_product",
      "default": "YOUTH|PROMOTING ABSORPTION WAND",
      "info": "Step 1 product title. Add \"|\" to highlight text",
      "label": "Step 1 product title"
    },
    {
      "type": "textarea",
      "id": "step1_benefits",
      "default": "Increased Circulation and skin Elasticity|Enhanced blood flow Boosting collagen production.|Advanced cryo technology, for reduced Inflammation|8000 taps per Minute - RPM|Increased Dermal absorption.",
      "info": "Step 1 benefits. Use | to add new line",
      "label": "Step 1 benefits"
    },
    {
      "type": "textarea",
      "id": "step1_science",
      "default": "Our state of the art skin cooling, Youth Lock Wand™, Claratone, is a powerful serum applicator designed to stimulate cell regeneration, enhance absorption rate, and |smooth out wrinkles and fine lines.",
      "info": "enter message separated by | to highlight text",
      "label": "Step 1 science"
    },
    {
      "type": "text",
      "id": "step1_prd_pricing",
      "default": "Valued at $49",
      "label": "Step 1 product pricing"
    },
    {
      "type": "image_picker",
      "id": "step2_img",
      "label": "Step 2 image"
    },
    {
      "type": "text",
      "id": "step2_product",
      "default": "YOUTH|PROMOTING FORMULA",
      "info": "Step 2 product title. Add \"|\" to highlight text",
      "label": "Step 2 product title"
    },
    {
      "type": "textarea",
      "id": "step2_benefits",
      "default": "Youth-promoting formula|Reduces dehydration, PH Balancing|Balances uneven skin|Anti Inflammatory, loaded with Antioxidants|Skin Smoothing, Increased Volume",
      "info": "Step 2 benefits. Use | to add new line",
      "label": "Step 2 benefits"
    },
    {
      "type": "textarea",
      "id": "step2_science",
      "default": "Our powerful Youth Lock Serum™, claraline infuses the skin with youth-promoting peptides, improving the appearance of aging, dehydrated, and uneven skin. ",
      "info": "enter message separated by | to highlight text",
      "label": "Step 2 science"
    },
    {
      "type": "text",
      "id": "step2_prd_pricing",
      "default": "Valued at $44",
      "label": "Step 2 product pricing"
    },
    {
      "type": "text",
      "id": "step3_product",
      "default": "CLINICALLY PROVEN TO SEE|RESULTS WITHIN ONE HOUR|AFTER ONE APPLICATION",
      "info": "Enter step 3 message. Add | for new line",
      "label": "Step 3 product"
    },
    {
      "type": "html",
      "id": "step3_science",
      "default": "Our new non-prescriptive Youth Lock System™ measurably reduces the appearance of stretch marks, lines and permanent blemishes on the body. And in an independent clinical study, over 90% of users report that after just a single one-hour use, they saw a major improvement in the reduction of lines, wrinkles and other permanent blemishes.<a class='text-golden' href='//cdn.shopify.com/s/files/1/1009/6506/files/BioScreen-Summary-Wrinkles.jpg?16095'>See study here.</a>",
      "label": "Step 3 science"
    },
    {
      "type": "image_picker",
      "id": "step3_img",
      "label": "Step 3 image"
    }
  ],
  "blocks": [
    {
      "type": "trust_logos",
      "name": "Trust Logos",
      "settings": [
        {
          "type": "image_picker",
          "id": "trust_logo",
		  "label": "Trust Logo"
        }
      ]
    }
   ]
}
{% endschema %}