{% if section.settings.enable_topbar %}
  <div class="product-header-bar" style="background: {{section.settings.topbar_bg}}">
      <p>{{section.settings.top_bar_msg}}</p>
  </div>
  {% endif %}
  {% if section.settings.enable_hero %}
  <div class="light-blue-bg-img" >
    {% if section.settings.logo %}
    	<div class="container">
      <div class="row align-items-center">
        <div class="logo-wrapp col-lg-3 col-md-8 col-sm-8 col-xs-8 col-8">
          <div class="site-header__logo" itemscope="" itemtype="http://schema.org/Organization">

            <a href="/" class="logo-wrapper" itemprop="url">
              <img class="logo-normal" src="//cdn.shopify.com/s/files/1/1009/6506/t/129/assets/logo.png?v=15150735219343549877" alt="Dermaclara" itemprop="logo">
<!--               <img class="logo-opt" src="//cdn.shopify.com/s/files/1/1009/6506/t/129/assets/logo-opt.png?v=10320652394885679133" alt="Dermaclara" itemprop="logo"> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="section-content product-detail-section">
      <div class="container">
        <div class="row">
          {% if section.settings.hero_img %}
          <div class="col-lg-6">
            <img src="{{section.settings.hero_img | img_url: "original"}}" />
          </div>
          {% endif %}

          <div class="col-lg-6">      
              <h1 class="text-uppercase text-blue">{{ section.settings.heading }}</h1>
              <p class="h4 text-blue"><i>{{ section.settings.pricing_msg }} </i></p>
            {% assign FDA_approved = section.settings.FDA_approved | split:'|' %}
            <h3 class="text-light-blue">{{ FDA_approved | first }} <span class="text-orange font-weight-bold">{{ FDA_approved | last}}</span>  </h3>
            <a id="" class="cta-btn btn btn-lg btn-blue" href="#atcForm">GET IT NOW</a>
            
			{% if section.settings.enable_review %}
            <div class="review-section">
              <div class="review-head">
                <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/stars-and-reviews.png?v=1597818786" /> <p class="text-black">Based on 121 Reviews</p>
              </div>
              <div class="review-wrap clearfix">
                <!--                 <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> -->
                <div class="image-wrap">
                  <img src="{{section.settings.review_img | img_url: "original"}}" width="80" />
                </div>
                <div class="content-wrap">
                  <h4 class="font-weight-bold text-blue  text-capitalize">{{ section.settings.review_username }}r</h4>
                  <div class=" text-capitalize text-light-blue display-4">{{ section.settings.review_msg }}</div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


{% schema %}
{
  "name": "Header and hero section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_topbar",
      "default": true,
      "label": "Show topbar"
    },
{
      "type": "color",
      "id": "topbar_bg",
      "default": "#eb9c80",
      "label": "topbar color"
    },
	{
      "type": "image_picker",
      "id": "logo",
	  "label": "Logo"
    },
    {
      "type": "text",
      "id": "top_bar_msg",
      "default": "Get FREE Limited One Time Offer While supplies Last! Stay Strong, Stay Beautiful",
      "label": "Topbar Message"
    },
    {
      "type": "checkbox",
      "id": "enable_hero",
      "default": true,
      "label": "Show hero section"
    },
    {
      "type": "image_picker",
      "id": "hero_img",
	  "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "FREE YOUTH LOCK SYSTEM",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "pricing_msg",
      "default": "Just Pay $7.98 Shipping. Then $19.99 a month for serum refill. See results or get your money back. Cancel anytime!",
      "label": "Pricing message"
    },
    {
      "type": "textarea",
      "id": "FDA_approved",
      "default": "The #1 Dermatologist & FDA Approved System to | Prevent and Reduce Fine Lines and Wrinkles.",
      "info": "enter message Highlighted text to seperated by |",
      "label": "FDA approved message"
    },
    {
      "type": "checkbox",
      "id": "enable_review",
      "default": true,
      "label": "Show reviews"
    },
    {
      "type": "image_picker",
      "id": "review_img",
	  "label": "Review Image"

    },
    {
      "type": "text",
      "id": "review_username",
      "default": "Chelsea Richterr",
      "label": "Review Username"
    },
    {
      "type": "textarea",
      "id": "review_msg",
      "default": "These Really Do Work! I Was Skeptical At First But I Can Definitely See An Improvement In My Skin After The First Hour Of Using The Patches!",
      "label": "Review Message"
    }
  ]
}
{% endschema %}