  {% if section.settings.enable_as_seen %}
  	<div class="section-content logo-section">
    <div class="container">
      <h3 class="text-center">{{section.settings.as_seen_heading}}:</h3>
      
      <div class="row align-items-center">
        {% for block in section.blocks %}
        	<div class="col-md-3 image-wrap">
          <img src="{{ block.settings.as_seen_img | img_url: "original" }}" />
        </div>
       	{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

{% if section.settings.enable_visible_results %}
  <div class="light-blue-bg section-content goodbye-section">
    <div class="container text-center">
      <div class="col-lg-9 mx-auto ">
        <h1 class="text-uppercase  text-blue">{{ section.settings.visible_results_heading }}</h1>
        <div class="hr black-hr large hr-thin"></div>
        {% assign msg = section.settings.visible_results_content | split: '|'%}
        <h3 class="text-uppercase  text-blue font-weight-bold">{{ msg[0] }}</h3>



        <div class="text-capitalize display-4">
          <span class="text-uppercase"> {{ msg[1] }} </span><span class="font-weight-bold text-orange">{{ msg[2] }}</span> {{ msg[3] }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if section.settings.enable_micro_system %}
      <div class="section-content micro-system">
        <div class="container text-center">
          <h2 class="text-center text-gray font-weight-bold">{{section.settings.micro_system_heading}}</h2>
		{% assign section4_sub_heading = section.settings.subtext | split: '|' %}
          <div class="row">
              <div class="col-sm-6 heading-wrap ">
                <div class="text-right display-3 text-gray font-weight-bold">{{section4_sub_heading[0]}}</div>
                 <div class="text-right h2 text-gray font-weight-bold">{{section4_sub_heading[1]}}</div>
                 <div class="text-right display-1  text-golden">{{section4_sub_heading[2]}}</div>
                 <div class="text-right display-1  text-golden">{{section4_sub_heading[3]}}</div>
                {% assign section4_desc = section.settings.desc | split: '|' %}

                <div class="hr black-hr hr-thin hr-right hr-sm"></div>
                 <div class="text-right display-4">
                  {{ section4_desc[0] }} <span class="text-orange font-weight-bold">{{ section4_desc[1] }}</span>{{section4_desc[2]}}
                 </div>
              </div>
            {% if section.settings.micro_sys_img %}
            <div class="col-sm-6">
              <img src="{{ section.settings.micro_sys_img | img_url: "original" }}">
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="container">
         <div class="hr blue-hr hr-full hr-thin"></div>
      </div>
{% endif %}


{% schema %}
{
  "name": "visible-micro-system",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_as_seen",
      "default": true,
      "label": "Show As seen section"
    },
    {
      "type": "text",
      "id": "as_seen_heading",
      "default": "As seen on",
      "label": "As seen Heading"
    },
    {
      "type": "checkbox",
      "id": "enable_visible_results",
      "default": true,
      "label": "Show visible results section"
    },
    {
      "type": "checkbox",
      "id": "enable_micro_system",
      "default": true,
      "label": "show micro system section"
    },
    {
      "type": "text",
      "id": "visible_results_heading",
      "default": "SAY GOODBYE TO WRINKLES,SAY HELLO TO SMOOTH SKIN",
      "label": "visible results heading"
    },
    {
      "type": "textarea",
      "id": "visible_results_content",
      "default": "VISIBLE RESULTS|YOUTH LOCK SYSTEM™| reduces, prevents, and removes| wrinkles and other permanent blemishes fast and in a painless way, from the comfort of complete privacy.",
      "info": "Visible results content. Add \"|\" to highlight text",
      "label": "Visible results content"
    },
    {
      "type": "text",
      "id": "micro_system_heading",
      "default": "THE YOUTH LOCK MICRO SYSTEM™",
      "label": "Micro system heading"
    },
    {
      "type": "text",
      "id": "subtext",
      "default": "IS|SAFE|AND|TESTED",
      "info": "enter message seperated by | for new line",
      "label": "Micro system subtext"
    },
    {
      "type": "textarea",
      "id": "desc",
      "default": "Our Youth Lock System helps repair damage, |softens fine lines and wrinkles,| reduces inflammation, minimizes the appearance of pore size, regulates oil, and erases redness from acne and other inflammatory skin conditions.",
      "info": "Enter message. Use | for highlighted text",
      "label": "Micro system description"
    },
    {
      "type": "image_picker",
      "id": "micro_sys_img",
      "label": "Micro system image"
    }
   
  ],
  "blocks": [
    {
      "type": "as_seen_imgs",
      "name": "As seen brand logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "as_seen_img",
      	  "label": "Logo"
        }
      ]
    }
  ]
}
{% endschema %}