 {% if section.settings.enable_products %}
  	<div class="section-content related-product-youth-wrap">
    <div class="container">
      <form id="atcForm" class="atcForm" action="/cart" method="post">
        <div class="border-heading-wrap">
          <h2 class="text-center text-uppercase">This system includes the following products</h2>
          <div class="hr golden-hr"></div>
        </div>

        <div  id="productCarousel" class="related-product-youth  owl-carousel owl-theme">
          {% for block in section.blocks %} 
          {% assign isSubscription = false %}
          {% assign bundleproduct = all_products[block.settings.product] %}
          <div class="{{bundleproduct.id}} col-item  text-center item">
            <div class="product-img-border">
              <div class="prod-img-wrap">
                <a href="/products/{{bundleproduct.handle}}">
                  <img class="fade-in lazyloaded" data-src="{{ bundleproduct.image.src }}" src="{{ bundleproduct.images[0].src  | img_url: 'medium'}}">
                </a>
              </div>
              <div class="product-detail">
                <a class="title-product" href="/products/{{bundleproduct.handle}}">{{ bundleproduct.title }}</a>
                <span class="price"> {{bundleproduct.price | money }}</span>
                {% if bundleproduct.metafields.subscriptions.subscription_id %}
                {% assign isSubscription = true %}
                {% assign varID = bundleproduct.variants[0].metafields.subscriptions.discount_variant_id %}
                {% else %}
                {% assign isSubscription = false %}
                {% assign varID = bundleproduct.variants[0].id %}
                {% endif %}
                {% if bundleproduct.metafields.subscriptions.shipping_interval_frequency.size > 0 %}
                {% assign shipping_interval_frequency = bundleproduct.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                {% if shipping_interval_frequency.size > 1 %}
                <div class=" button-wrap">
                  <span class="">Delivered every</span>
                  <select data-id={{ bundleproduct.id }} class="shippingFreq" >
                    {% for freq in shipping_interval_frequency %}
                    <option {% if freq == shipping_interval_frequency[0]%}selected{% endif %}>{{ freq }} {{ bundleproduct.metafields.subscriptions.shipping_interval_unit_type }}</option>
                    {% endfor %}
                  </select>  
                </div>
                {% endif %}
                {% endif %}
                <input type="hidden" name="id" value="{{ varID }}">
                {% if isSubscription %}
                <input type="hidden" data-shipping_interval_frequency={{ bundleproduct.id }}  value="{{shipping_interval_frequency[0]}}">
                <input type="hidden" data-shipping_interval_unit={{ bundleproduct.id }}  value="{{ bundleproduct.metafields.subscriptions.shipping_interval_unit_type }}">
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <p class="text-center buy-button"><a href="#" id="AddToCart" class="text-center btn btn-lg btn-blue" >BUY NOW</a></p>
      </form>
    </div>
  </div>
  {% endif %}



{% schema %}
{
  "name": "products",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_products",
      "default": true,
      "label": "Enable Products"
    }
  ],
  "blocks": [
    {
      "type": "Product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Products"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  $(document).ready(function(){
     var items = [];
     $('#AddToCart').click(function(e){
        e.preventDefault();
      {% for block in section.blocks %}
      var prop = {};
      {% assign prd = all_products[block.settings.product] %}
      {% if prd.metafields.subscriptions.subscription_id %}
        {% assign varID = prd.variants[0].metafields.subscriptions.discount_variant_id %}
         prop['shipping_interval_frequency'] = $('input[data-shipping_interval_frequency={{prd.id}}]').val();
         prop['shipping_interval_unit_type']= $('input[data-shipping_interval_unit={{prd.id}}]').val();
         prop['subscription_id'] = {{prd.metafields.subscriptions.subscription_id}}
      {% else %}
        {% assign varID = prd.variants[0].id %}
        prop = null;
      {% endif %}
         items.push({id:{{varID}},quantity:1,properties: prop});
    {% endfor %}
    $.ajax({
          'async': false,
          url: '/cart/clear.js',
          type: 'POST', 
          dataType: 'json',
  
          success: function (data) {
            $.post('/cart/add.js', {
              items: items,
              success:rechargeRedirect()
            });
          }
      });
  
      });
  });
   function rechargeRedirect() {
  
      /*construct url */
      function get_cookie(name) {
        return (document.cookie.match('(^|; )' + name + '=([^;]*)') || 0)[2]
      }
  
      var token = get_cookie('cart')
      var myshopify_domain = 'dermaclara.myshopify.com'
  
      try {
        var ga_linker = ga.getAll()[0].get('linkerParam')
      } catch (err) {
        var ga_linker = ''  
      }
  
      var customer_param = '{% if customer %}customer_id={{ customer.id }}&customer_email={{ customer.email }}{% endif %}';
  	  var  discount_code='10%SubscriptionDiscount';
  
      checkout_url = "https://checkout.rechargeapps.com/r/checkout?myshopify_domain=" + myshopify_domain + "&cart_token=" + token + "&" + ga_linker + "&" + customer_param + "&discount=" + discount_code ;
  
  
      window.location.href = checkout_url;
  
      }
    
      
</script>