{% if section.settings.enable_review_section %}
    <section class="result-section">
        <div class="container">
            <div class="border-bottom mt-5 mt-md-0 section-content">
                <div class="font-garamond text-center heading">{{section.settings.reviews_heading}}</div>
                <p class="font-weight-bold orange text-center text-uppercase">{{section.settings.reviews_subheading}}</p>
                <div class="col-10 mx-auto pt-lg-5 mt-3 px-0">
                    <div id="productreview-carousel" class="carousel1 owl-carousel">
                        {% for block in section.blocks %}
                            {% if block.type == 'reviews' %}
                                <div class="item">
                                    <div class="px-lg-3 px-md-1">
                                    <div class="font-size-20 font-garamond mb-3 review-content text-center">“{{block.settings.content}}”</div>
                                    <div class=" d-flex align-items-center justify-content-between flex-column ">

                                        <span class="font-size-15 text-uppercase mb-1"> {{block.settings.username}}</span>
                                        <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/Stars.png" class="mw-100 w-auto"/>
                                    </div>
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
  "name": "Reviews",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_review_section",
      "label": "show review section",
      "default": true
    },
    {
      "type": "text",
      "id": "reviews_heading",
      "default": "Real People. Real Results.",
      "label": "reviews heading"
    },
    {
      "type": "text",
      "id": "reviews_subheading",
      "default": "why our customers love our products",
      "label": "reviews subheading"
    }
  ],
  "blocks": [
    {
      "type": "reviews",
      "name": "reviews",
      "settings": [
        {
          "type": "text",
          "id": "username",
          "default": "STEPHANIE DAVIS-SMITHE",
          "label": "review user name"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "user review",
          "default": "My friends and family keep asking me if I’ve had work done because the improvements have been so dramatic! I’m thrilled with the results so far and can’t wait to see the long-term benefts if this is just from one week!"
        }
      ]
    }
  ]
}
{% endschema %}