<footer class="py-5 youth-footer" style="background: {{section.settings.footer_bg}} ">
    <div class="container">
      <div class="row">
          {% if section.settings.footer_logo %}
            <div class="col-md-4">
                <div class="foot-logo text-left text-md-center mb-3 mb-md-0">
                <a href="#" class="d-block text-md-left text-center"><img src="{{section.settings.footer_logo | img_url: 'original'}}" alt="logo" class="img-fluid"></a>
                </div>
            </div>
          {% endif %}
            {% if section.settings.enable_social_media %}
                <div class="col-md-4 mb-2 mb-md-0 d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled align-items-center d-flex justify-content-center mb-0">
                        {% if settings.social_instagram_link %}
                            <li class="px-2 px-lg-4"><a href="{{settings.social_instagram_link}}" ><i class="fa text-white h4 mb-0  fa-instagram"></i></a></li>
                        {% endif %}
                        {% if settings.social_facebook_link %}
                            <li class="px-2 px-lg-4 "><a href="{{settings.social_facebook_link}}"><i class="fa text-white h4 mb-0 fa-facebook"></i></a></li>
                        {% endif %}
                        {% if settings.social_twitter_link %}
                            <li class="px-2 px-lg-4"><a href="{{settings.social_twitter_link}}"><i class="fa  text-white h4 mb-0 fa-twitter"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% if section.settings.show_terms_conditions %}
            <div class="col-md-4">
                <div class="d-flex justify-content-md-between text-md-left text-center flex-column flex-md-row justify-content-center">
                    
                    <a href="https://www.iubenda.com/terms-and-conditions/18844471" class="font-size-13 text-white mb-md-0 mb-2 iubenda-nostyle no-brand iubenda-embed" title="Terms and Conditions ">terms and conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    <a href="https://www.iubenda.com/privacy-policy/18844471" class="iubenda-nostyle no-brand iubenda-embed font-size-13 text-white" title="Privacy Policy ">privacy policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            
                </div>
            </div>
        {% endif %}
        {% if section.settings.show_copyright %}
            <div class="col-12 text-center mt-md-4 mt-2">
                <span class="font-size-13 text-white ">{{section.settings.copyright_text}}</span>
            </div>
        {% endif %}
  
      </div>
    </div>
  
  </footer>
  
  {% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer logo"
    },
    {
        "type": "color",
        "id": "footer_bg",
        "label": "Footer Background color",
        "default": "#4A4A4A"
    },
    {
      "type": "checkbox",
      "id": "enable_social_media",
      "default": true,
      "label": "Show social media icons"
    },
    {
      "type": "checkbox",
      "id": "show_terms_conditions",
      "default": true,
      "label": "Show terms and condition links"
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "default": true,
      "label": "Show copyright"
    },
    {
        "type": "text",
        "id": "copyright_text",
        "default": "© 2020 Dermaclara All Rights Reserved",
        "label": "Copyright Text"
    }
  ]
}
{% endschema %}