


{% if section.settings.enable_faq_section %}
    <section id="faqs" class="section-content ">
        <div class="container">
            <div class="font-garamond heading mb-4 mb-lg-5 text-center">{{section.settings.faq_heading}}</div>

            <div id="accordion" class="accordion">
                {% for block in section.blocks %}
                    <div class="card mb-0 border-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse{{forloop.index}}">
                            <a class="card-title font-size-13 word-spacing-1 letter-spacing-2 gray text-uppercase font-weight-bold">{{block.settings.question}}</a>
                        </div>
                        <div id="collapse{{forloop.index}}" class="card-body collapse" data-parent="#accordion" >
                            <div class="font-size-14 gray font-weight-normal mb-0 word-spacing-1 letter-spacing-2 ">{{block.settings.content}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% schema %}
{
  "name": "Faqs",
  "settings": [
    {
        "type": "checkbox",
        "id": "enable_faq_section",
        "default": true,
        "label": "Enable FAQ section"
    },
    {
      "type": "text",
      "id": "faq_heading",
      "default": "Frequently Asked Questions",
      "label": "FAQ heading"
    }
  ],
  "blocks": [
    {
      "type": "FAQ",
      "name": "FAQs",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "default": "Are Dermaclara Beauty products a permanent solution to wrinkles and stretch marks?",
          "label": "FAQ question"
        },
        {
          "type": "html",
          "id": "content",
          "default": "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt                         aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat                         craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.",
          "label": "FAQ answer"
        }
      ]
    }
  ]
}
{% endschema %}