{% if section.settings.enable_benefits_section %}
    <section id="benefits" class="work-section position-relative">
        <div class="container">
        
            <div class="row">
                <div class="col-md-6 col-12 work-inner px-0">
                    <img src="{{section.settings.benefits_img | img_url: '700x'}}" />
                </div>
                <div class="col-md-6 col-12 py-5 pl-md-5  work-inner">
                    <div class="font-garamond text-left heading mb-3">{{section.settings.benefits_heading}}</div>
                    <p class="font-size-14 mb-4">{{section.settings.benefits_subheading}}</p>
                    <ul class="list-unstyled work-ul mb-md-5 mb-3">
                        {% assign reviews = section.settings.benefits_user_reviews | newline_to_br | split: '<br />' %}
                        {% for rev in reviews %}
                            {% assign per = rev | split: '|' %}
                            <li class="font-size-14 d-flex align-items-center mb-md-4 mb-2"><span class="font-garamond orange mr-4">{{per | first}}</span> {{per | last}}</li>
                        {% endfor %}
                    </ul>
                    {% if section.settings.enable_btn %}
                        <div class="text-md-left text-center">
                        <a href="{{section.settings.btn_url}}" class="btn btn-get btn-secondary text-white text-uppercase">{{section.settings.btn_text}}</a>
                        </div>
                    {% endif %}
                   
                </div>
            </div>
        </div>
    </section>

{% endif %}
{% if section.settings.enable_science_section %}
    <section id="science" class="work-section right-image position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 work-inner order-md-2 px-0">
                    <img src="{{section.settings.science_img | img_url: '600x'}}" />
                </div>
                <div class="col-md-6 col-12 py-md-5 pt-5 pb-md-0 pr-md-5 my-md-4  work-inner order-md-1">
                    <div class="font-garamond text-left heading mb-3">{{section.settings.science_heading}}</div>
                    <p class="text-uppercase font-weight-bold orange font-size-15 mb-4 text-md-left text-center">{{section.settings.science_subheading}}</p>
                    <p class="font-size-14 mb-0 ">{{section.settings.science_content}} </p>
                
                </div>
            </div>
        </div>
    </section>
{% endif %}


{% schema %}
{
  "name": "how it works",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_benefits_section",
      "label": "show benefits section?",
      "default": true
    },
    {
        "type": "checkbox",
        "id": "enable_science_section",
        "label": "show science section?",
        "default": true
      },
    {
      "type": "image_picker",
      "label": "benefits section Image",
      "id": "benefits_img"
    },
    {
      "type": "text",
      "id": "benefits_heading",
      "default": "Why it works",
      "label": "heading for the benefits section"
    },
    {
      "type": "html",
      "id": "benefits_subheading",
      "default": "The <b>Youth Lock System™</b> is clinically proven to boost your body’s ability to heal your own skin. The system helps soften fine lines and wrinkles within 1 hour, re-volumizes skin firmness, and smoothes uneven or blotchy skin. Visibly minimize inflammation, enlarged pores, oil, redness, and acne to reveal radiant and supple skin.",
      "label": "content for the benefits section"
    },
    {
      "type": "textarea",
      "id": "benefits_user_reviews",
      "label": "reviews",
      "info": "write the percentage and the user reviews, each review on new line, seperating the percentage with the reviews using a |",
      "default": "90% | of users said their skin felt smoother*"
    },
    {
      "type": "checkbox",
      "id": "enable_btn",
      "default": true,
      "label": "show button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "default": "shop now",
      "label": "button text"
    },
    {
        "type": "url",
        "id": "btn_url",
        "label": "button URL"
      },
    {
      "type": "image_picker",
      "id": "science_img",
      "label": "Science section Image"
    },
    {
      "type": "text",
      "id": "science_heading",
      "default": "Good vibrations",
      "label": "Heading for the science section"
    },
    {
      "type": "text",
      "id": "science_subheading",
      "default": "Boost your skincare with the Claratone applicator",
      "label": "subheading for the science section"
    },
    {
      "type": "html",
      "id": "science_content",
      "default": "Your skin has layers and topical products can’t penetrate these layers deeply enough for you to receive their full benefits. The Claratone applicator stimulates your skin through micropulsation that enhances product absorption. The lightweight handheld applicator vibrates at 8,000 vpm and uses Iontophoresis technology to optimize serum absorption. The pulsation increases blood circulation which elevates collagen production for fine line and wrinkle reduction. This tiny anti-aging powerhouse will take your skincare regimen to the next level.",
      "label": "content for the science section"
    }
  ]
}
{% endschema %}