
{% if section.settings.enable_logo_section %}
    <section class="{{template.name}} section-content made-in-section">
        <div class="container">
                <div class="col-10 mx-auto px-0">
                    <div class="row">
                        {% assign logos = section.settings.logo_imgs | newline_to_br | split: '<br />' %}
                        {% for logo in logos %}
                            <div class="col-md-3 col-6 text-center mb-md-0 mb-4">
                                <img src="{{logo}}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
  "name": "Guarantee Logos",
  "settings": [
    {
        "type": "checkbox",
        "id": "enable_logo_section",
        "label": "show logo section",
        "default": true
      },
    {
        "type": "textarea",
        "id": "logo_imgs",
        "label": "Guarantee logos list",
        "info": "Enter svg list of images each on new line"
      }
  ]
}
{% endschema %}