{% if section.settings.enable_section %}

<div class="sticky-addtocart">
 
  
  
  <div class="sticky-addtocart-content">
    <img src="//cdn.shopify.com/s/files/1/1009/6506/files/Image_2_1024x1024.png?v=1601028539" class="product-img">
    <div class="callout-text">
      <div class="gray smaller">Youth Lock System™ + 2 Free Gifts</div>
      <div class="primary"><span class="old-price gray">$105</span> $39.99</div>
    </div>
    <a href="#shopify-section-V2-template-product" id="AddToCart" class="btn btn-secondary text-uppercase addtocheckout">Add To Cart</a>
  </div>
  
  
        
</div> 
{% endif %}


{% schema %}
  {
    "name": "Section name",
    "settings": [
    {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Show this section?",
        "default": true
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
