{% if section.settings.enable_phila_section and template.name == 'page'%}
    <section class="section-content  phila-section" style="background-color: {{section.settings.phila_bg}} ">
        <div class="container">
            <div class="col-md-10 mx-auto px-0 text-center">
                <div class="font-garamond text-center heading">{{section.settings.phila_heading}}</div>
                <p class=" font-weight-bold gray letter-spacing-2 mb-4 text-center text-uppercase">{{section.settings.phila_subheading}}</p>
                <p class=" mb-0 text-md-center text-left">{{section.settings.phila_content}}</p>
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
  "name": "Philanthropy",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_phila_section",
      "default": true,
      "label": "Enable philanthropy section"
    },
    {
        "type": "color",
        "id": "phila_bg",
        "default": "#FFDFBF",
        "label": "Philanthropy section color"
    },
    {
      "type": "text",
      "id": "phila_heading",
      "default": "Organizational Philanthropy",
      "label": "Philanthropy section heading"
    },
    {
      "type": "text",
      "id": "phila_subheading",
      "default": "every mother counts",
      "label": "Philanthropy subheading"
    },
    {
      "type": "textarea",
      "id": "phila_content",
      "default": "Every two minutes one woman dies from complications during childbirth, making this the leading cause of preventable death for women in developing countries. This is why Dermaclara Beauty™ supports Every Mother Counts, a worldwide nonprofit that helps make pregnancy and childbirth safe for all women, everywhere. Through Every Mother Counts, women around the world are able to gain access to vital maternity care and essential pregnancy resources. Dermaclara Beauty™ is proud to work with this outstanding organization in its efforts to help women and children worldwide. ",
      "label": "philanthropy content"
    }
  ]
}
{% endschema %}