{% if section.settings.enable_section %}
<div class=" logo-section">
    <div class="container section-content py-0">
        <div class="py-5 border-bottom border-black">
            <div class="col-lg-10 px-lg-0">
                <div class="row align-items-center">
                    <div class="col-md-3 text-md-left text-center mb-3 mb-md-0">
                        <p class="mb-md-0 text-uppercase font-size-15 orange font-weight-bold">{{section.settings.main_heading}}</p>
                    </div>
                    <div class="text-center col-md-9 ">
                        <div class="row align-items-center mx-n2 d-none d-md-flex">
                            {% for block in section.blocks %}
                                <div class="col-3 align-items-center justify-content-center d-flex px-2">
                                    <img src="{{block.settings.brand_logo | img_url: 'original'}}" alt=""/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="slider-wrapper d-md-none">
                            <div id="logo-carousel" class="carousel1 owl-carousel">
                                {% for block in section.blocks %}
                                    <div class="col-8 mx-auto pb-3">
                                        <img src="{{block.settings.brand_logo | img_url: 'original'}}" alt=""/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> 
{% endif %}


{% schema %}
  {
    "name": "As seen",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable this section?",
      "default": true
    },
      {
        "type":      "text",
        "id":        "main_heading",
        "label":     "Main Heading",
        "default":   "As seen on"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "img_url",
        "name": "Brand Logo",
        "settings": [
          {
          "id": "brand_logo",
          "type": "image_picker",
          "label": "Logo image"
          }
        ]
      }
    ]

  }
{% endschema %}