{% if section.settings.enable_section %}
    <section id="product-section" class="section-content product-section" style="background: {{section.settings.prd_section_bg}}">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="slider-wrapper mb-4 mb-md-0">
                        <div id="product-carousel" class="carousel1 owl-carousel">
                            {% assign items = section.settings.prd_imgs | newline_to_br | split: '<br />' %}
                            {% for item in items %}
                                <div class="item">
                                    <img src="{{item}}" alt="prd_img_{{forloop.index}}" class="" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="font-garamond text-left heading">{{section.settings.product_title}}</div>
                    <div class="primary font-size-15 mb-4 font-weight-bold">{{section.settings.product_price}}</div>

                    <p>{{section.settings.product_details}}</p>

                    <p class="mb-0 font-weight-bold">Limited time offer - Free Gifts:</p>
                    <ul class="list-unstyled mb-4">
                        {% assign freegifts = section.settings.free_gifts_list | newline_to_br | split: '<br />' %}
                        {% for gift in freegifts %}
                            <li>• {{gift}}</li>
                        {% endfor %}
                    </ul>
                    {% assign totalmainprice = 0 %}
                    {% assign totalsubprice = 0 %}
                        {% assign prd = all_products[section.settings.product] %}
                        {% assign prdprice = prd.price | divided_by: 100 %}
                        {% assign totalmainprice =  totalmainprice | plus: prd.price %}
                        {% if prd.variants[0].metafields.subscriptions.discount_variant_id %}
                        {% assign subPrd = prd %}
                        {% assign disVar = prd.variants[0].metafields.subscriptions.discount_variant_price | plus: 0 %}
                            {% assign totalsubprice =  totalsubprice | plus:  disVar %}
                        {% else %}
                            {% assign totalsubprice =  totalsubprice | plus:  prdprice %}
                        {% endif %}
                    <div class="mb-5">
                        <div class="custom-control custom-radio  mb-2">
                            
                            <input type="radio" checked data-normal  onchange="getProducts('normal')" class="custom-control-input" id="customRadio" name="example1">
                            <div class="label-wrapper"></div>
                            <label class="custom-control-label d-flex align-items-center justify-content-between text-uppercase font-size-sm letter-spacing-2  word-spacing-2" for="customRadio">full kit one-time purchase <span>{{totalmainprice | money}}</span></label>
                            
                        </div>  
                        
                        <div class="custom-control custom-radio">
                            <input type="radio" data-subscription onchange="getProducts('subscription')" class="custom-control-input" id="customRadio1" name="example1">
                            <div class="label-wrapper"></div>
                            <label class="custom-control-label d-flex align-items-center justify-content-between text-uppercase font-size-sm letter-spacing-2 word-spacing-2" for="customRadio1">Replenishment Plan: Kit + Claraline <span>${{totalsubprice}}</span></label>
                            <div class="selector-box align-items-center pt-2">
                                <span class="font-size-sm mr-3 text-uppercase">Every </span>
                                <input data-subscription_id value="{{subPrd.metafields.subscriptions.subscription_id}}" type="hidden">
                                <input data-shipping_interval_unit_type value="{{subPrd.metafields.subscriptions.shipping_interval_unit_type}}" type="hidden">
                                <select onchange="getProducts('subscription')" data-shipping_interval_frequency class="font-size-sm">
                                    {% assign freq = subPrd.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
                                    {% for frq in freq %}
                                    <option>{{frq}} {{subPrd.metafields.subscriptions.shipping_interval_unit_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                            
                            </div>
                        </div>
                    </div>
                        <div class="d-flex align-items-center justify-content-between">
                            
                            <div class="d-flex align-items-center quality-wrapperr">
                                <h6 class="gray font-weight-bold h6 mb-0 mr-3">Qty</h6>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend"><a href="#" onclick="getProducts('null')" data-minus rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease="" class="input-group-text"><span class="btn-decrease"><i class="fa fa-minus"></i></span></a></div>
                                    <input type="input" name="quantity" data-count data-qty aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input="" readonly="readonly" class="quantity bg-white text-dark font-weight-bold form-control text-center"> 
                                    <div class="input-group-append"><a href="#" onclick="getProducts('null')" data-plus rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase="" class="input-group-text"><span class="btn-increase"><i class="fa fa-plus"></i></span></a></div>
                                </div>
                            </div>


                            <div>
                                <a data-orgprice="{{totalmainprice | money_without_currency}}" data-subprice="{{totalsubprice}}" onclick="dataLayer.push({'event':'add_to_cart', 'atc.revenue': {{ product.price | money_without_currency }},'atc.currency': '{{ shop.currency }}', 'atc.product_id':'{{ product.id }}', 'atc.product_category': [{% for collection in product.collections %}'{{ collection.title }}',{% endfor %}]})" id="AddToCart" class="btn btn-secondary addtocheckout text-uppercase" href="">check out</a>
                            </div>

                        </div>
                        
                    


                </div>
            </div>
        </div>
    </section>
    <div class="modal fade popup-design" id="UpsellModal" tabindex="-1" role="dialog" aria-labelledby="UpsellModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0">
            <div class="modal-body p-0">
              <div class="modal-body-upper px-md-4 px-3 py-md-5 py-4 text-center" style="background-color: #98D3A9;">
                  <div class="d-flex align-items-center justify-content-center">
                      <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/correct_b5213b96-de74-4b20-86d0-6ce50c21be3b.png?v=1601034188" />
                      <p class="mb-0 font-16 ml-2 font-weight-bold text-white text-uppercase">{{prd.title}} IS SUCCESSFULLY ADDED TO YOUR CART</p>
                  </div>
              </div>
              <div class="product-modal-body p-md-4 p-3">
                <h1 class="mb-0 font-garamond h3">One Time Limited Offer</h1>
                <p class="mb-3 font-size-sm">Boost your results with these products - everything you need to reverse the signs of aging at home</p>
                <div class="modal-product-list">
                  {% for block in section.blocks %}
                    {% if block.type == 'Upsell-kit-products' %}
                      {% assign main_prd = all_products[block.settings.main_prd] %}
                      {% if main_prd.id == prd.id %}
                        {% assign prd1 = all_products[block.settings.prd1] %}
                        <div class="modal-product border-top py-3">
                          <div class="row align-items-center">
                              <div class="col-md-8 col-sm-7 mb-sm-0 mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="product-wrapper d-flex align-items-center justify-content-center border">
                                        <img src="{{prd1.featured_image | img_url: '70x'}}" />
                                    </div>
                                    <div class="mt-1 ml-md-3 ml-2">
                                      <h6 class="mb-2 font-garamond">{{prd1.title}}</h6>
                                      <span class="h6 mb-0">{{prd1.price | money}}</span>
                                    </div>
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-5 text-sm-right text-left">
                                <a data-prdId="{{prd1.id}}" data-varid="{{prd1.variants[0].id}}" class="add-recent-prd btn btn-black text-white text-uppercase">Add to cart</a>
                              </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  <div class="text-right mx-md-4">
                    <a href="" data-upsellcheckout class="link-item">Skip and Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "product-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "default": true,
      "label": "Show product section"
    },
    {
        "type": "color",
        "id": "prd_section_bg",
        "default": "#F5F2E9",
        "label": "Product section background"
      },
    {
      "type": "textarea",
      "id": "prd_imgs",
      "default": "https://cdn.shopify.com/s/files/1/1009/6506/files/Product_Image.png?v=1599205373",
      "label": "List of product images, each on new line"
    },
    {
      "type": "text",
      "id": "product_title",
      "default": "Youth Lock System™",
      "label": "Product Title"
    },
    {
      "type": "text",
      "id": "product_price",
      "default": "$39.99 + FREE SHIPPING (Value $105)",
      "label": "Product price"
    },
    {
      "type": "textarea",
      "id": "product_details",
      "default": "Includes ​Claratone Youth Lock Wand (Value $45) and Claraline Youth Lock Serum (Value $44)",
      "label": "product details"
    },
    {
      "type": "textarea",
      "id": "free_gifts_list",
      "label": "free gifts list, each on new line"
    },
{
          "type": "product",
          "id": "product",
          "label": "Add Product",
          "info": "Add main bundle product to be shown on the page"
     }
  ],
  "blocks":[
  {
    "type": "Upsell-kit-products",
    "name": "Upsell kit products",
    "settings": [
      {
          "type": "product",
          "id":"main_prd",
          "label": "The main Product",
          "info": "Select the product on whose page the above upsell will appear"
      },
      {
          "type": "product",
          "id":"prd1",
          "label": "1st product"
      }
      
    ]
  }
  
  ]
}
{% endschema %}

{% assign prd = all_products[section.settings.product] %}

<script type="application/json" data-prod-json data-{{prd.id}}-json>
    {
        "variant_id": {{prd.variants[0].id}}
        {% if prd.metafields.subscriptions.size > 1%}
           , "discount_variant_id": {{ prd.variants[0].metafields.subscriptions.discount_variant_id }}   
        {% endif %}
    }
</script>