{% if section.settings.enable_section %}
<section class="main-banner">
    <div id="main-carousel" class="carousel1 owl-carousel">
        {% for block in section.blocks %}
            <div class="item text-center position-relative d-flex align-items-center">
                <img src="{{block.settings.banner_img | img_url: 'original'}}" alt="" class="mx-auto banner-image w-100 h-100"/>
                <div class="container banner-caption text-left ">
                
                    <div class="col-md-5 col-xs-5 col-5 px-0">
                        <div class="heading font-garamond mb-lg-4 mb-4">{{block.settings.heading}}</div>
                        <p class="font-size-15 gray text-uppercase font-weight-bold mb-lg-4 mb-4">{{block.settings.subheading}}</p>
                        {% if block.settings.enable_btn %} 
                            <div class="addtocheckout btn btn-get btn-secondary text-white text-uppercase mb-lg-4 mb-4">{{block.settings.btn_text}}</div>
                        {% endif %}
                        {% if block.settings.enable_reviews %}
                      		<a href="#shopify-section-V2-template-reviews">
                              <div class="font-weight-bold gray d-flex align-items-md-center align-items-start font-size-15 text-uppercase flex-md-row flex-column ">
                                <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/Stars.png?v=1599218047" class="mw-100 w-auto mr-3 mb-2 mb-md-0">121 reviews
                              </div>
                            </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
      
        
    </div>
</section> 
{% endif %}


{% schema %}
{
  "name": "Banner",
  "settings": [
    {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Show this section?",
        "default": true
      }
    ],
  "blocks": [
    {
      "type": "banner",
      "name": "banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Banner Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Unlock the secret to youthful, glowing skin",
          "label": "Banner Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Rediscover the smooth and supple skin of your youth at home!",
          "label": "Banner Subheading"
        },
        {
          "type": "checkbox",
          "id": "enable_btn",
          "default": true,
          "label": "Show CTA button"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "get glowing now",
          "label": "CTA button text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "CTA button URL"
          },
        {
          "type": "checkbox",
          "id": "enable_reviews",
          "default": true,
          "label": "Show reviews"
        }
      ]
    }
  ]
}
{% endschema %}