// SECURE CHECKOUT
var ur = window.location.href;
if(ur.includes('/cart') && window.innerWidth > 768){
  jQuery(document).ready(function(){
$('#checkout').html('SECURE CHECKOUT <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/dermaclara-lock.png?v=1591101403">');
  
  $('#checkout').after('<div class="dermaclara-express-label">Express Checkout also available with:</div><div class="dermaclara-express-checkout"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/paypal.png?v=1591101404"><img src="https://cdn.shopify.com/s/files/1/1009/6506/files/amazon.png?v=1591101404"></div>');
});
  
  window.onresize = function(){
    if(window.innerWidth > 768){
      $('#checkout').html('SECURE CHECKOUT <img src="https://cdn.shopify.com/s/files/1/1009/6506/files/dermaclara-lock.png?v=1591101403">');

    }
    
    else{
      $('#checkout').html('CHECKOUT');
    }
    
  }

}


// Adding Text Animation



if(window.location.href.includes('/product')){
  
  
  if(window.innerWidth > 768){
    jQuery(document).ready(function(){
var y = 0;
var timer22 = setInterval(function(){
  if(document.querySelectorAll('.rc_option__one-time').length || y > 200) {
    if(document.querySelectorAll('.rc_option__one-time').length ) {

    console.log(document.getElementsByClassName('rc_option__one-time').length);
	document.getElementsByClassName('rc_option__one-time')[0].click();
    $('.rc_option__one-time').eq(0).click();
    
     clearInterval(timer22);
    }
  }
y++;
}, 50);
    });

  }
 
  
  
var z = 0;
var timerr = setInterval(function(){
  if($('#AddToCart').length || x > 100) {
    if(window.innerWidth > 768){
    if(!$('#AddToCart').attr('disabled')){
	 jQuery('#AddToCart').text('');
    
    $('#AddToCart').click(function(){
    
      var xx = 0;
var timerrr = setInterval(function(){
  jQuery('#AddToCart').text('');
  if(xx > 40) {
    console.log('t');
	
     clearInterval(timerrr);
  }
xx++;
}, 50);
      
      
  $('#AddToCart').addClass('dc-adding');
   setTimeout(function(){ 
	$('#AddToCart').addClass('dc-success');
     jQuery('#AddToCart').text('');
}, 1000);
  setTimeout(function(){ 
	$('#AddToCart').addClass('dc-view');
    jQuery('#AddToCart').text('');
	}, 2000);
}); 
     clearInterval(timerr);
  }
  }
  }
z++;
}, 50);
  
  window.onresize = function(){
    if(window.innerWidth > 768){
      if(!$('#AddToCart').attr('disabled')){
        $('#AddToCart').text('');
      }
      
    }
    
    else{
      if(!$('#AddToCart').attr('disabled')){
        $('#AddToCart').text('Add to Cart');
      }
    }
    
  }
}



// VERBIAGE

if(window.location.href.includes('/product') ){
var x = 0;
var timer = setInterval(function(){
  if($('.rc_option__recurring').eq(0).length || x > 200) {
    $('head').append('<link rel="stylesheet" class="external-css-link" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600">');
	$('.rc_option__recurring').eq(0).after($('<div class="dermaclara-info-box"><div class="triangle-left"><div class="inner-triangle"></div></div><div class="dermaclara-info-title">SUBSCRIBE & SAVE</div><div class="dermaclara-line"></div><div class="dermaclara-information">Subscribe and get <b>FREE SHIPPING</b> + <b>FREE GIFTS</b> + <b>SAVE 10%</b> on your order! Two deliveries are required for this option, you may cancel anytime thereafter.</div></div>'));
$('.rc_option__recurring').eq(0).after($('<span class="dermaclara-info-btn">?</span>'));
     clearInterval(timer);
  }
x++;
}, 500);

}  



jQuery( document ).ready(function() {
Element.prototype.appendBefore = function(element) {
    element.parentNode.insertBefore(this, element);
};
for(var i = 0; i < jQuery('.rc_radio').length; i++){
  var radio = document.createElement('div');
radio.className = 'dermaclara-radio';
var y = document.getElementsByClassName('rc_radio');
radio.appendBefore(y[i]);   
}
jQuery('.rc_option').click(function(){
  jQuery('.rc_option').removeClass('active');
  jQuery(this).addClass('active');
  jQuery(this).find('input').click();
});
  
jQuery('.rc_option input').click(function(e){
  e.stopPropagation();
});
 
});


// STICKY FOOTER MOBILE
if(window.innerWidth < 769 && window.location.href.includes('/product')){

jQuery(document).ready(function() {

    var qty = jQuery('.quaty').eq(0).clone();

    jQuery('body').addClass('dermaclara-products');
    Element.prototype.appendAfterThis = function(element) {
        element.parentNode.insertBefore(this, element.nextSibling);
    };
    var sticky = document.createElement('div');
    sticky.innerHTML = '<div class="dermaclara-st-container" id="dermaclara-st-containerID"> <div class="dermaclara-st-container__outer"><div class="dermaclara-product-cont"><div class="dermaclara-product-name"></div><div class="dermaclara-product-price"></div></div> <div class="dermaclara-st-container__inner"> <div class="dermaclara-st-inner"><div class="dermaclara-qty-container"></div><div class="dermaclara-select-container"> <div class="dermaclara-st-select" id="st-select0"> <span>Color</span> <select> <option></option> </select> </div><div class="dermaclara-st-select" id="st-select1"> <span>Type</span> <select> <option></option> </select> </div><div class="dermaclara-st-select" id="st-select2"> <span>Type</span> <select> <option></option> </select> </div></div></div><div class="dermaclara-st-item_column__button"><a class="dermaclara-st-item__button" rel="nofollow">Add to Cart</a></div></div></div></div>';
    var y = document.getElementsByClassName('site-header');
    if (document.getElementsByClassName('dermaclara-st-container').length == 0) {
        sticky.appendAfterThis(y[0]);
        $('.dermaclara-product-name').html($('.prod-item-title').html());
        $('.dermaclara-product-price').html($('.current-price').text().trim());
        jQuery('.dermaclara-qty-container').append(qty);

        jQuery('.product-single__quantity .quaty select:eq(0)').change(function() {
            jQuery('.dermaclara-qty-container select').val(jQuery(this).val());
        });

        jQuery('.dermaclara-qty-container select').change(function() {

            jQuery('.product-single__quantity .quaty select').eq(0).val(jQuery(this).val());
        });

        function populateOptions(select, labels) {
            for (var i = 0; i < labels.length; i++) {
                var option = document.createElement('OPTION');

                var t = document.createTextNode(labels.eq(i).text());
                option.appendChild(t);
                option.id = i;
                select.appendChild(option);

                if (i == 0) {
                    select.removeChild(select.firstElementChild);
                }

            }
        }

        $('.dermaclara-st-item__button').click(function() {
            if (!$('.dermaclara-st-item__button').hasClass("dermaclara-st-disabled")) {

                $('#AddToCart').click();

                setTimeout(function() {

                    $('.dermaclara-st-item__button').text($('#AddToCart').text());
                }, 1000);
            }

        });
        if ($('.rc_container').length >= 1) {
            $('#st-select0').attr('style', 'display: flex');
            $('.dermaclara-st-select span').eq(0).text('OPTION');
            populateOptions(document.getElementById('st-select0').getElementsByTagName('select')[0], $('.rc_container .rc_label_text'));
        } else {
            jQuery('.dermaclara-st-container').addClass('no-variants');
        }

    };

    $('#st-select0 > select option').eq(1).attr('selected', 'selected');

    function updatePrice() {
        $('.dermaclara-product-price').html($('.current-price').text().trim());
    }
    $('.rc_container input').change(function() {
        $('#st-select0 > select').val($(this).siblings('.rc_label_text').text());
        updatePrice();
        checkIfDisabled();

    });
    $('#st-select0 > select').change(function() {
        var i = $(this).find(":selected").attr('id');
        updatePrice();
        $('.rc_container label').eq(i).click();
        checkIfDisabled();

    });

    checkIfDisabled();

    function isVisible(elem) {
        var elementTop = elem.offset().top;
        var elementBottom = elementTop + elem.outerHeight();
        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();
        return elementBottom > viewportTop && elementTop < viewportBottom;
    };

    var mc = window.matchMedia("(min-width: 767px)");
    mc.addListener(slideShow);

    var elem = document.getElementById("dermaclara-st-containerID");

    function slideShow() {
       
        if (mc.matches) {
            elem.style.bottom = "0px";

        } else {
            $('.dermaclara-products .site-header.fix .header_main').hide();
            elem.style.bottom = "0px";
           $('.zEWidget-launcher').addClass("dermaclara-bottom");
        }
    }

    function slideHide() {
        $('.dermaclara-products .site-header.fix .header_main').show();
        $('.zEWidget-launcher').removeClass("dermaclara-bottom");
        elem.style.bottom = "-120px";
    }

    $(document).scroll(function() {
        var y = $(this).scrollTop();
        if (window.innerWidth > 768) {
         
        } else {
            if (y > $('#AddToCart').offset().top && !isVisible($('#AddToCart')) ) {
                slideShow();

            } else {

                slideHide();

            }
        }

    });

    function checkIfDisabled() {
        setTimeout(function() {
            if ($('#AddToCart').hasClass('disabled')) {
                $('.dermaclara-st-item__button').text($('#AddToCart').text());
              $('.dermaclara-st-item__button').addClass('dermaclara-st-disabled');

            } else {
               // $('.dermaclara-st-container').show();
              $('.dermaclara-st-item__button').text($('#AddToCart').text());
              $('.dermaclara-st-item__button').removeClass('dermaclara-st-disabled');
            }
        }, 50);

    }
});
};