

@font-face {
font-family: 'Proxima Nova Condensed Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Regular Italic'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Condensed_Regular_Italic_TheFontsMaster.com.woff' | file_url }}) 
  format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Regular'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Regular_TheFontsMaster.com.woff' | file_url }}) 
  format('woff');
}



@font-face {
font-family: 'Proxima Nova Condensed Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Thin Italic'),
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Thin_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Thin';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Thin'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Thin_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Light Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Light Italic'),
  url({{ 'Mark_Simonson_Proxima_Nova_Condensed_Light_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Light';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Light'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Light_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Semibold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Semibold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Semibold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Semibold'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Semibold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Bold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Bold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Bold'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Bold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Extrabold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Extrabold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Extrabold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Extrabold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Extrabold'), 
  url({{'	Mark_Simonson_Proxima_Nova_Condensed_Extrabold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Black Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Black Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Black_Italic_TheFontsMaster.com.woff'| file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Black';
font-style: normal;
font-weight: normal;
src: url({{'Mark_Simonson_Proxima_Nova_Condensed_Black_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Regular Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Regular_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Regular';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Regular'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Extra_Condensed_Regular_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Thin Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Thin_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Thin';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Thin'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Thin_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Light Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Light Italic'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Extra_Condensed_Light_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Light';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Light'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Extra_Condensed_Light_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Semibold Italic'), 
  url('{{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Semibold_Italic_TheFontsMaster.com.woff' | file_url }}') format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Semibold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Semibold'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Semibold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Bold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Bold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}



@font-face {
font-family: 'Proxima Nova Extra Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Bold'),
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Bold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Extrabold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Extrabold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Extrabold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Extrabold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Extrabold'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Extrabold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Black Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Black Italic'), 
  url({{'	Mark_Simonson_Proxima_Nova_Extra_Condensed_Black_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Black';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Black'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Black_TheFontsMaster.com.woff' | file_url }}) format('woff');
}

