input,textarea,select,fieldset{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.zopim{bottom:10px!important;right:10px!important;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.btn{background:#c8a557 none repeat scroll 0 0;border-radius:0;display:block;font-size:20px;font-weight:400;height:50px;letter-spacing:4px;line-height:48px;max-width:226px;padding:0;text-transform:uppercase;width:100%;color:#fff}
.btn:hover,.btn:focus{background:#040f00;color:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
h2.section-title{font-size:50px;font-weight:400;line-height:60px;text-transform:uppercase;margin:0 0 40px}
p.sub-section-title{font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:36px;color:#1d1d25;font-style:italic}
h2.section-title span{display:block}
h1,h2,h3,h4,h5,h6{font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;color:#1e1e1e}
p{color:#666;font-size:18px;line-height:30px;letter-spacing:.5px;font-weight:400}
img{max-width:100%}
input.quantity[type="number"]{-moz-appearance:textfield}
.owl-theme .owl-controls{margin:0!important}
.mfp-bg{background-color:rgba(255,255,255,0.9)}
.popup-vimeo-wrapper{margin:0 auto;position:relative}
.popup-result-image-wrapp{background:#fff none repeat scroll 0 0;padding:10px}
.popup-result-image-wrapp img{display:block;width:100%}
.popup-result-image-wrapp a.play_result_video{background:#c8a557 none repeat scroll 0 0;color:#fff;display:block;font-size:28px;height:50px;line-height:50px;margin:10px auto 0;max-width:360px;padding:0 0 0 20px;position:relative;text-align:left;width:100%}
.popup-result-image-wrapp a.play_result_video:hover,.popup-result-image-wrapp a.play_result_video:focus{text-decoration:none}
.popup-result-image-wrapp a.play_result_video:hover .play-bt,.popup-result-image-wrapp a.play_result_video:focus .play-bt{text-decoration:none;background:#000 none repeat scroll 0 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.popup-result-image-wrapp a.play_result_video .play-bt{background:#c18f20 none repeat scroll 0 0;height:50px;line-height:50px;position:absolute;right:0;text-align:center;top:0;width:50px}
.popup-result-image-wrapp a.play_result_video .play-bt img{left:50%;max-width:16px;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.popup-vimeo-wrapper .mfp-close{background-image:url({{ 'button-close.png' | asset_url }});background-position:0 0;background-repeat:no-repeat;background-size:50px auto;height:50px!important;margin:0;text-indent:-99999px;width:50px!important;opacity:.6;right:14px!important;top:14px!important}
.popup-vimeo-wrapper .mfp-close:hover{opacity:1}
.logo-wrapp{text-align:left}
.site-header__logo{margin:0;text-align:left}
.site-header__logo img{height:auto;max-width:133px;margin:0;width:100%}
.mainmenu-wrapp ul{list-style:outside none none;margin:0;text-align:right}
.mainmenu-wrapp ul li{display:inline-block;margin:0 0 0 50px}
.mainmenu-wrapp ul li a{color:#4e4e53;font-size:14px;font-weight:300;letter-spacing:1.5px;line-height:18px;text-transform:uppercase}
.mainmenu-wrapp ul li a.active{color:#c8a557}
.mainmenu-wrapp ul li a:hover{color:#c8a557;text-decoration:underline}
#menu-icon a.cart{color:#4e4e53;font-size:14px;font-weight:300;letter-spacing:1.5px;line-height:18px;text-transform:uppercase;margin-right:15px}
#menu-icon a.cart:hover,.mainmenu-wrapp ul li a.cart:hover{color:#000;text-decoration:none}
#menu-icon a.cart,.mainmenu-wrapp ul li a.cart{display:inline-block;position:relative;width:26px}
#menu-icon a.cart i,.mainmenu-wrapp ul li a.cart i{font-size:20px}
#menu-icon a.cart span,.mainmenu-wrapp ul li a.cart span{background:#c8a557 none repeat scroll 0 0;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;color:#fff;font-size:10.5px;font-weight:400;height:18px;line-height:18px;position:absolute;right:-6px;text-align:center;text-indent:3px;top:-10px;width:18px}
#header{position:relative;padding:30px 0}
#header:after{width:100%;height:1px;content:"";background:#ededed;position:absolute;bottom:0;left:0;right:0;margin:0 auto}
.is-sticky #header:after{background:transparent none repeat scroll 0 0}
.template-index #header-sticky-wrapper{background:transparent none repeat scroll 0 0;left:0;position:absolute;right:0;top:0;z-index:1040}
.template-index #header-sticky-wrapper #header{background:transparent none repeat scroll 0 0}
.is-sticky #header,.lateral-menu-is-open #header{z-index:99999;width:100%;-webkit-box-shadow:1px 0 3px #555;-moz-box-shadow:1px 0 3px #555;box-shadow:1px 0 3px #555;background-color:rgba(255,255,255,1)!important}
.template-cart .is-sticky #header{position:relative!important;box-shadow:none}
.template-cart #footer-bottom a.shopperlink{display:none}
#promo-img{position:relative;background-image:url({{ 'bg-top.jpg' | asset_url }});background-repeat:no-repeat;background-size:cover;background-position:center center;height:700px;min-height:700px;margin-bottom:90px;z-index:2}
#promo-img .clinically-tested{left:60px;margin:0 auto;position:absolute;right:auto;top:100px;width:auto;z-index:99;max-width:123px}
#promo-img .clinically-tested img{margin:0!important;max-width:100%}
#promo-img .slider-image img{width:100%;margin-top:120px}
#promo-img .caption-promo{width:100%;left:50%;margin:0 auto;position:absolute;text-align:center;top:46%;-webkit-transform:translate(-50%,-46%);-moz-transform:translate(-50%,-46%);-o-transform:translate(-50%,-46%);-ms-transform:translate(-50%,-46%);transform:translate(-50%,-46%)}
#promo-img .caption-promo .caption-text h4{font-size:30px;font-weight:300;line-height:38px;margin:0 0 10px}
#promo-img .caption-promo .caption-text h1{font-size:50px;font-weight:300;letter-spacing:0;line-height:60px;margin:0 0 9%;text-transform:uppercase}
#promo-img .caption-promo .caption-text h1 span{display:block}
#promo-img .caption-promo .caption-text a.play-button{background:rgba(0,0,0,0.6) none repeat scroll 0 0;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;display:block;height:82px;line-height:82px;margin:0 auto;text-align:center;width:82px;cursor:pointer}
#promo-img .caption-promo .caption-text a.play-button:hover{background:rgba(0,0,0,1) none repeat scroll 0 0}
#promo-img .caption-promo .caption-text a.play-button img{display:inline-block;margin:0 0 0 7px;max-width:30px}
#promo-img .caption-promo .caption-text p{margin:0 0 20px}
.slide-video-popup-in-tablet{display:none}
.slide-video-popup{border:2px solid #9b7420;display:inline-block;position:relative}
.slide-video-popup .slide-video-play{background:rgba(0,0,0,0.4) none repeat scroll 0 0;height:100%;left:50%;position:absolute;text-align:center;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%}
.slide-video-popup .slide-video-play:hover{background:rgba(0,0,0,0.5) none repeat scroll 0 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.slide-video-popup .slide-video-play a{display:block;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.slide-video-popup .slide-video-play a img{max-width:54px}
.slide-video-popup .slide-video-play p{bottom:10px;color:#fff;font-size:20px;font-weight:400;left:0;letter-spacing:4px;line-height:26px;margin:0 auto!important;position:absolute;right:0;text-transform:uppercase}
.slide-video-popup .slide-video-play p span{display:block}
#promo-img .top-video-player{z-index:2}
#promo-img .learn-more-button{bottom:-66px;display:inline-block;left:0;margin:0 auto;position:absolute;right:0;text-align:center;width:252px;z-index:0}
#promo-img .learn-more-button a.shop-now-top{display:block;font-size:24px;line-height:50px;max-width:252px;width:252px}
#promo-img .learn-more-button a.arrow-btn{display:block;margin-top:15px}
#promo-img .learn-more-button a.arrow-btn:hover{text-decoration:none}
#promo-img .learn-more-button a.arrow-btn span{color:#010101;display:none;font-size:14px;font-weight:600;letter-spacing:3px;line-height:18px}
#promo-img .learn-more-button a.arrow-btn i{color:#c8a557;display:block;font-size:36px;line-height:24px}
#home-results{padding:0}
#home-results .results-title-top{text-align:center}
#home-results .results-title-top h3{font-size:36px;font-style:italic;font-weight:400;letter-spacing:0;line-height:40px;margin:0 0 10px}
#home-results .results-title-top p{font-size:14px;font-weight:300;letter-spacing:0;line-height:18px}
#home-results h2.section-title.a{border-top:1px solid #ededed;margin:40px 0;padding-top:40px}
#results-video-slide{margin:0}
#results-video-slide #sync1{margin-bottom:0}
#results-video-slide #sync1 .item{text-align:center;position:relative;border:1px solid #ececec;cursor:pointer}
#results-video-slide #sync1 .item:hover{border:1px solid #c8a557}
#results-video-slide #sync1 .item .overlay-bg{background:rgba(0,0,0,0) none repeat scroll 0 0;content:"";height:100%;left:0;position:absolute;top:0;width:100%}
#results-video-slide #sync1 .item:hover .overlay-bg{background:rgba(0,0,0,0.2) none repeat scroll 0 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
#results-video-slide #sync1 .item:hover a{background:rgba(255,255,255,1) none repeat scroll 0 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
#results-video-slide #sync1 .item img{display:block}
#results-video-slide #sync1 .item:hover a.open_result_video_btn{background:rgba(255,255,255,1) none repeat scroll 0 0}
#results-video-slide #sync1 .item a.open_result_video_btn{background:rgba(255,255,255,0.9) none repeat scroll 0 0;bottom:0;color:#c18f20;display:inline-block;font-size:16px;font-weight:600;left:0;line-height:50px;margin:0;position:absolute;right:0;text-decoration:none;text-transform:uppercase;cursor:pointer}
#results-video-slide #sync1 .item a.open_result_video_btn:hover span{text-decoration:none}
#results-video-slide #sync1 .owl-item{padding:0 15px}
#results-video-slide #sync1.owl-theme .owl-controls{margin-top:25px!important}
#results-video-slide #sync1.owl-theme .owl-controls .owl-page{border:1px solid #a1a1a1;padding:2px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin:0 7.5px}
#results-video-slide #sync1.owl-theme .owl-controls .owl-page span{background:#fff none repeat scroll 0 0;height:9px;margin:0;width:9px}
#results-video-slide #sync1.owl-theme .owl-controls .owl-page.active span{background:#c8a557 none repeat scroll 0 0}
#results-video-slide #sync1 .owl-next,#results-video-slide #sync1 .owl-prev{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:transparent;background-repeat:no-repeat;background-position:0 0;background-size:60px auto;height:60px;margin:0;padding:0;position:absolute;text-indent:-9999px;top:38%;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%);width:60px;opacity:1;-webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);-moz-box-shadow:0 0 4px rgba(0,0,0,0.3);box-shadow:0 0 4px rgba(0,0,0,0.3)}
#results-video-slide #sync1 .owl-next:hover,#results-video-slide #sync1 .owl-prev:hover{background-position:0 -60px}
#results-video-slide #sync1 .owl-prev{background-image:url({{ 'button-left.png' | asset_url }});left:-15px;right:auto}
#results-video-slide #sync1 .owl-next{right:-15px;left:auto;background-image:url({{ 'button-right.png' | asset_url }})}
#results-video-slide #sync2{padding:0 25px;position:relative}
#results-video-slide #sync2 .owl-item .item{padding:0 1px}
#results-video-slide #sync2 .owl-item.synced .item img{border:1px solid #1d1d25;opacity:1}
#results-video-slide #sync2 .item img{opacity:.6}
#results-video-slide #sync2 .owl-next,#results-video-slide #sync2 .owl-prev{background-color:transparent;background-repeat:no-repeat;background-size:20px auto;height:42px;margin:0;padding:0;position:absolute;text-indent:-9999px;width:20px;opacity:1}
#results-video-slide #sync2 .owl-prev{background-image:url({{ 'arrow-left-thumb.png' | asset_url }});left:0;top:50%;-webkit-transform:translate(0px,-50%);-moz-transform:translate(0px,-50%);-o-transform:translate(0px,-50%);-ms-transform:translate(0px,-50%);transform:translate(0px,-50%)}
#results-video-slide #sync2 .owl-next{right:0;top:50%;-webkit-transform:translate(0px,-50%);-moz-transform:translate(0px,-50%);-o-transform:translate(0px,-50%);-ms-transform:translate(0px,-50%);transform:translate(0px,-50%);background-image:url({{ 'arrow-right-thumb.png' | asset_url }})}
#results-text-wrapp{padding:60px 0 20px}
#results-text-wrapp .results-text-group{border-top:1px solid #ececec;display:table;padding:50px 0 20px;width:100%}
#results-text-wrapp p.small-text{font-size:14px;font-weight:300;letter-spacing:0;line-height:18px;display:block;border-bottom:1px solid #ececec;padding-bottom:10px}
#results-text-wrapp .results-text{display:table-cell;text-align:center;vertical-align:top}
#results-text-wrapp .results-text h1{display:inline-block;font-size:77px;line-height:70px;font-weight:700;margin:0}
#results-text-wrapp .results-text h1 sup{font-size:30px;font-weight:700;top:-30px}
#results-text-wrapp .results-text h3{font-size:30px;font-weight:400;letter-spacing:0;line-height:26px;margin:0;text-align:left;text-transform:uppercase}
#results-text-wrapp .results-text h3 span{display:block}
#results-text-wrapp .results-text p{color:#000;display:inline-block;font-family:"Crimson Text",serif;font-size:30px;font-style:italic;font-weight:400;line-height:26px;margin:0;text-align:left}
#results-text-wrapp .results-text p span{display:block}
.results-app-content{margin-top:90px}
.results-app-content p{margin-bottom:30px}
.results-app-content .results-app-title-h2{margin:0 0 20px}
.results-app-content h3.results-app-title{font-size:30px;letter-spacing:.25px;line-height:30px;margin:30px 0 5px;text-transform:uppercase}
.results-video-popup{position:relative}
#product-sync1 .results-video-popup a.results-play-btn{background-image:url({{ 'seehow-btn.png' | asset_url }});background-repeat:no-repeat;background-size:179px auto;background-position:0 0;display:block;height:38px;text-indent:-99999px;width:179px}
#product-sync1 .results-video-popup a.results-play-btn:hover{background-position:0 -38px;-webkit-transition:all 0 ease;-moz-transition:all 0 ease;-o-transition:all 0 ease;transition:all 0 ease}
#results-app .results-video-popup{position:relative}
#results-app .results-video-popup a.results-play-btn{background:#c8a557 none repeat scroll 0 0;bottom:1px;height:65px;left:1px;position:absolute;width:65px;cursor:pointer}
#results-app .results-video-popup a.results-play-btn:hover,#results-app .results-video-popup a.results-play-btn:focus{background:#000 none repeat scroll 0 0}
#results-app .results-video-popup a.results-play-btn img{display:inline-block;left:50%;margin:0 auto;max-width:22px;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%}
.app-play{display:inline-block;margin-top:0;width:100%}
.app-play a{background-position:0 0;background-repeat:no-repeat;display:inline-block;text-indent:-99999px}
.app-play a.app-store-btn{background-image:url({{ 'app-store-btn.png' | asset_url }});background-size:262px auto;height:81px;width:262px;-webkit-transition:all 0 ease;-moz-transition:all 0 ease;-o-transition:all 0 ease;transition:all 0 ease}
.app-play a.app-store-btn:hover{background-position:0 -81px;-webkit-transition:all 0 ease;-moz-transition:all 0 ease;-o-transition:all 0 ease;transition:all 0 ease}
.app-play a.google-play-btn{background-image:url({{ 'google-play-btn.png' | asset_url }});background-size:262px auto;height:81px;width:262px;background-position:0 0;margin-left:25px;-webkit-transition:all 0 ease;-moz-transition:all 0 ease;-o-transition:all 0 ease;transition:all 0 ease}
.app-play a.google-play-btn:hover{background-position:0 -81px;-webkit-transition:all 0 ease;-moz-transition:all 0 ease;-o-transition:all 0 ease;transition:all 0 ease}
.results-app-img{text-align:left}
.results-app-img img{max-width:416px;width:100%}
.results-app-img .app-play{display:none}
#home-medical{background-image:url({{ 'bg-medical.jpg' | asset_url }});background-repeat:no-repeat;background-position:center center;background-size:cover;padding:110px 0 70px}
#home-medical h2{margin-bottom:40px}
#home-medical h4{font-size:30px;line-height:36px;margin:50px 0 20px;text-transform:uppercase}
#home-clinically-tested{padding:80px 0}
#home-clinically-tested h2.section-title{margin-bottom:70px}
#home-clinically-tested p{margin-bottom:20px;letter-spacing:.25px}
#home-clinically-tested .clinically-tested-text ul{list-style:none;padding-left:50px}
#home-clinically-tested .clinically-tested-text ul li{list-style:none;color:#666;font-size:18px;line-height:30px;margin:0 0 15px;position:relative}
#home-clinically-tested .clinically-tested-text ul li:before{background:#666 none repeat scroll 0 0;content:"";height:6px;left:-15px;position:absolute;top:12px;width:6px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#home-clinically-tested h4{color:#666}
#home-clinically-tested p.clinically-italic{color:#040f00;font-family:"Crimson Text",serif;font-size:20px;font-style:italic;letter-spacing:0;line-height:30px;margin:0}
#home-clinically-tested p.clinically-yellow{color:#666;font-size:14px;font-weight:400;letter-spacing:0;margin:0}
#home-clinically-tested p.clinically-yellow span{color:#c8a557;text-decoration:underline;text-transform:uppercase}
.clinically-tested-img{padding-top:8.5%;float:right;text-align:right}
.clinically-tested-img img{max-width:323px}
#hassle-free-video{background-image:url({{ 'bg-video-hassle.jpg' | asset_url }});background-position:center center;background-repeat:no-repeat;background-size:cover;height:700px;min-height:700px;overflow:hidden;position:relative}
#hassle-free-video.playing{background:transparent none repeat scroll 0 0;height:100%;min-height:100%}
#hassle-free-video h2.section-title{letter-spacing:.1px;margin-top:70px;text-align:center;margin-bottom:20px}
#hassle-free-video .hassle-title p{letter-spacing:0;text-align:center}
#hassle-free-video .hassle-play-wrapp{z-index:999;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#hassle-free-video a.hassle-play-btn{background:rgba(0,0,0,0.6) none repeat scroll 0 0;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;display:block;height:82px;line-height:82px;margin:0 auto;text-align:center;width:82px;cursor:pointer}
#hassle-free-video a.hassle-play-btn:hover,#hassle-free-video a.hassle-play-btn:focus{background:rgba(0,0,0,1) none repeat scroll 0 0}
#hassle-free-video a.hassle-play-btn img{display:inline-block;margin:0 0 0 7px;max-width:30px}
#hassle-free-video .hassle-text{display:block;left:0;margin:0 auto;position:absolute;right:0;top:0}
.desktop-img img{display:block}
.mobile-img,.mobile-img img{display:none!important}
#guatantees{padding:60px 0}
.guatantees-img{display:table-cell;float:none;vertical-align:middle;text-align:center}
.guatantees-text{display:table-cell;float:none;text-align:left;vertical-align:middle}
.guatantees-img img{max-width:240px;width:100%}
#guatantees .learnmore-link p{color:#221e1f;font-size:16px;font-weight:400;line-height:30px;margin:0}
#guatantees .learnmore-link p a{text-decoration:underline}
.guatantees-text p{font-family:"Crimson Text",serif;color:#221e1f;font-size:20px;line-height:30px;padding-right:26px}
.three-day-money-back{margin-bottom:50px}
#home-products{background:#eaeaea;padding:90px 0 45px}
#home-products h2.section-title{margin:0 0 20px}
#product-sync1{margin-top:100px}
#product-sync1 .prod-details h1{color:#dfdddd;display:block;font-size:88px;font-weight:600;left:15px;line-height:80px;margin:0;opacity:.4;position:absolute;right:auto;text-transform:uppercase;top:0;z-index:-1}
#product-sync1 .prod-details.show-bag h3{margin:32px 0 20px}
#product-sync1 .prod-details h3{display:inline-block;font-size:40px;font-weight:600;line-height:42px;margin:32px 0 70px;text-transform:lowercase;width:100%;z-index:4}
#product-sync1 .prod-details h3 span{color:#c8992f;display:block;font-size:22px;font-style:italic;font-weight:300;line-height:22px;margin:10px 0 0}
#product-sync1 .prod-details.show-bag p{margin:0 0 40px}
#product-sync1 .prod-details p{color:#353535;font-family:"Crimson Text",serif;font-size:18px;letter-spacing:.5px;line-height:28px;margin:0 0 50px;display:inline-block;width:100%}
.prod-details .video-buy .prod-video{padding-left:0;position:relative;margin:0 0 45px}
.prod-details .video-buy .prod-buy{padding-right:0;padding-left:0}
#product-sync1 .prod-details .video-buy .prod-buy .price-prod{color:#666;font-size:26px;line-height:22px;margin:0 0 35px}
.prod-details .video-buy .prod-buy .quan-up-down{display:inline-block;float:left;position:relative;width:100%}
.prod-details .video-buy .prod-buy .quan-up-down:before{color:#666;content:"Quantity";font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:14px;left:0;position:absolute;right:auto;top:-22px}
.prod-details .video-buy .prod-buy .quan-up-down a.down,.prod-details .video-buy .prod-buy .quan-up-down a.up{background:#ededed none repeat scroll 0 0;border:1px solid #666;color:#000;display:inline-block;height:30px;line-height:28px;text-align:center;width:30px;float:left;vertical-align:middle;cursor:pointer;position:relative;text-indent:-99999px}
.prod-details .video-buy .prod-buy .quan-up-down a.down:hover,.prod-details .video-buy .prod-buy .quan-up-down a.up:hover{background:#dfdfdf none repeat scroll 0 0}
.prod-details .video-buy .prod-buy .quan-up-down a.down:before{content:"";width:13px;height:1px;background:#000;position:absolute;top:13px;left:0;right:0;margin:0 auto}
.prod-details .video-buy .prod-buy .quan-up-down a.up:before{content:"";width:13px;height:1px;background:#000;position:absolute;top:13px;left:0;right:0;margin:0 auto}
.prod-details .video-buy .prod-buy .quan-up-down a.up:after{content:"";height:13px;width:1px;background:#000;position:absolute;top:6.5px;left:0;right:0;margin:0 auto}
.prod-details .video-buy .prod-buy .quan-up-down input.quantity{background:#fff none repeat scroll 0 0;border:1px solid #666;border-radius:0;display:inline-block;float:left;vertical-align:middle;height:30px;line-height:28px;margin:0 -1px;padding:0;text-align:center;width:32px;font-size:20px;font-weight:600;font-family:"Crimson Text",serif}
.prod-details .video-buy .prod-buy .addtobad,.price-addtobag a.btn{display:inline-block;float:left;font-size:18px;font-weight:600;height:40px;letter-spacing:2px;line-height:40px;max-width:180px;width:100%;margin:30px 0 0;background:#221e1f;border:medium none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.prod-details .video-buy .prod-buy .addtobad:hover,.prod-details .video-buy .prod-buy .addtobad:focus,.price-addtobag a.btn:hover,.price-addtobag a.btn:focus{background:#c8a557;background:-moz-linear-gradient(top,#c8a557 0%,#ab8d4a 100%);background:-webkit-linear-gradient(top,#c8a557 0%,#ab8d4a 100%);background:linear-gradient(to bottom,#c8a557 0%,#ab8d4a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8a557',endColorstr='#ab8d4a',GradientType=0);border:medium none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
#product-sync2-wrapp{margin-top:45px}
#product-sync2{padding:0 25px;position:relative;margin-top:0}
#product-sync2 .owl-item{text-align:center}
#product-sync2 .owl-item.synced .item img{border:1px solid #000}
#product-sync2 .owl-item .item{cursor:pointer}
#product-sync2 .owl-item .item img{background:#f3f2f2 none repeat scroll 0 0;border:1px solid #d0d0d0}
#product-sync2-wrapp .next-product,#product-sync2-wrapp .prev-product{background-color:transparent;background-repeat:no-repeat;background-size:20px auto;height:40px;margin:0;padding:0;position:absolute;text-indent:-9999px;top:50%;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%);width:20px;opacity:1}
#product-sync2-wrapp .prev-product{background-image:url({{ 'arrow-left-thumb.png' | asset_url }});left:0;right:auto}
#product-sync2-wrapp .next-product{right:0;left:auto;background-image:url({{ 'arrow-right-thumb.png' | asset_url }})}
#shop{padding-top:70px}
#packages{padding:90px 0 20px}
p.packages-sub-text{color:#666;font-size:16px;font-weight:400;line-height:26px;margin:0 0 30px}
h4.packages-sub-title{color:#c8992f;font-size:30px;font-style:italic;font-weight:400;margin:0 0 50px}
#packages{background:#f6f6f6}
.packages-complete h3.title{font-size:50px;font-style:italic;font-family:"Crimson Text",serif}
#packages-complete-slider{height:436px;min-height:436px;overflow:hidden;border-bottom:1px solid #d6d6d6}
#packages-complete-slider .item-first{position:relative}
#packages-complete-slider .item-first img{width:100%}
#packages-advance-slider .owl-item:first-child img,#packages-starter-slider .owl-item:first-child img{width:100%}
#packages-complete-slider .best-seller{background-image:url({{ 'best-seller-icon.png' | asset_url }});background-repeat:no-repeat;background-size:94px auto;height:94px;left:auto;margin:0;position:absolute;right:10px;text-indent:-99999px;top:10px;width:94px}
#packages-complete-slider .owl-wrapper-outer{background:#fbfbfb none repeat scroll 0 0;border-bottom:1px solid #d6d6d6}
#packages-complete-slider .prod-image a img{max-width:95%}
#packages-complete-slider .prod-image a{display:block;margin:0 auto;text-align:center}
#packages-complete-slider .packages-prod-details{text-align:left;padding-right:60px;padding-top:25px}
#packages-complete-slider .packages-prod-details h3{font-family:"Crimson Text",serif;font-size:40px;font-weight:600;letter-spacing:0;line-height:40px;text-transform:lowercase}
#packages-complete-slider .packages-prod-details h3 span{color:#666;display:block;font-family:"Crimson Text",serif;font-size:22px;font-style:italic;font-weight:100;letter-spacing:.25px;line-height:22px;margin:5px 0 0}
#packages-complete-slider .packages-prod-details p{font-family:"Crimson Text",serif;font-size:18px;line-height:28px;font-weight:400;color:#353535;padding-right:60px}
#packages-complete-slider .packages-prod-details .price-prod{font-family:"Crimson Text",serif;font-size:26px;line-height:26px;color:#666;margin:0 0 60px}
#packages-complete-slider.owl-carousel .owl-item{text-align:center}
.packages-inside{border:1px solid #d3d3d3;padding:20px}
.packages-inside-wr{border:1px solid #d3d3d3;display:inline-block;margin:0;width:100%}
#packages-complete-slider .owl-next,#packages-complete-slider .owl-prev{background-color:transparent;background-repeat:no-repeat;background-size:50px auto;height:140px;margin:0;opacity:1;padding:0;position:absolute;text-indent:-9999px;top:50%;width:50px;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%)}
#packages-complete-slider .owl-prev{background-image:url(//cdn.shopify.com/s/files/1/1009/6506/t/1/assets/arrow-left.png?11055933377772703302);left:10px;right:auto}
#packages-complete-slider .owl-next{background-image:url(//cdn.shopify.com/s/files/1/1009/6506/t/1/assets/arrow-right.png?11055933377772703302);left:auto;right:10px}
#packages-complete-details,#packages-advance-details{background:#eee none repeat scroll 0 0;display:inline-block;float:left;margin-bottom:0;margin-top:0;padding:20px 0 10px 70px;width:100%;z-index:9999999}
#packages-complete-details label{font-family:'Open Sans',sans-serif;font-weight:500;font-size:18px;color:#1d1d25;text-transform:uppercase}
#packages-complete-details ul.includes-details{margin:0;display:inline-block}
.packages-inside ul li{display:inline;float:left;width:50%;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;list-style-type:none;position:relative;padding-left:10px}
.packages-inside ul li:before{background:#000 none repeat scroll 0 0;content:"";height:4px;left:0;position:absolute;top:10px;width:4px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#packages-complete-details ul.free-gifts-details li{font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;display:block;width:100%}
#packages-advance-details .price-addtobag,#packages-starter-slider .price-addtobag{display:inline-block;margin:0;text-align:center;width:100%}
#packages-advance-details .price-addtobag p,#packages-starter-slider .price-addtobag p{display:inline-block;width:100%}
#packages-advance-details .price-addtobag a.btn,#packages-starter-slider .price-addtobag a.btn{display:inline-block;float:none}
.price-addtobag{text-align:center;padding-right:0;margin-top:15px}
.price-addtobag a.btn{display:block;margin:0 auto}
.inc-det-l{color:#1d1d25;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:26px}
.inc-det-r{font-size:18px;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px}
.inc-det-pre{color:#666}
.regime-timer{font-family:"Open Sans",sans-serif;font-size:12.5px;letter-spacing:.5px;text-align:center;margin:10px 0 0}
.regime-timer .text-bold{font-weight:600;text-transform:uppercase}
.regime-timer #dynamic-timer{color:#c4962e;font-weight:600;text-transform:uppercase}
#packages-advance-slider,#packages-starter-slider{background:#fbfbfb;border-bottom:1px solid #d6d6d6}
.advance-item img,.starter-item img{padding-top:20px;max-width:115%}
#packages-advance-slider.owl-carousel .owl-item,#packages-starter-slider.owl-carousel .owl-item{text-align:center}
#packages-advance-slider .owl-next,#packages-advance-slider .owl-prev,#packages-starter-slider .owl-next,#packages-starter-slider .owl-prev{background-color:transparent;background-repeat:no-repeat;background-size:30px auto;height:90px;margin:0;opacity:1;padding:0;position:absolute;text-indent:-9999px;top:50%;width:30px;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%)}
#packages-advance-slider .owl-prev,#packages-starter-slider .owl-prev{background-image:url(//cdn.shopify.com/s/files/1/1009/6506/t/1/assets/arrow-left.png?11055933377772703302);left:5px;right:auto}
#packages-advance-slider .owl-next,#packages-starter-slider .owl-next{background-image:url(//cdn.shopify.com/s/files/1/1009/6506/t/1/assets/arrow-right.png?11055933377772703302);left:auto;right:5px}
#packages-advance-slider .packages-prod-details,#packages-starter-slider .packages-prod-details{padding-top:20%}
#packages-advance-slider .packages-prod-details h3,#packages-starter-slider .packages-prod-details h3{font-family:"Crimson Text",serif;font-size:26px;font-weight:600;letter-spacing:-.25px;line-height:26px;text-transform:lowercase}
#packages-advance-slider .packages-prod-details h3 span,#packages-starter-slider .packages-prod-details h3 span{color:#666;display:block;font-family:"Crimson Text",serif;font-size:16px;font-style:italic;font-weight:100;letter-spacing:.25px;line-height:20px;margin:8px 0 0;padding-right:29%;width:100%}
#packages-advance-slider .packages-prod-details .price-prod,#packages-starter-slider .packages-prod-details .price-prod{color:#666;font-family:"Crimson Text",serif;font-size:22px}
#packages-advance-slider .description p,#packages-starter-slider .description p{color:#353535;font-family:"Crimson Text",serif;font-size:14px;line-height:20px;font-weight:400;padding:20px;text-align:left}
#packages-advance-slider .packages-prod-details,#packages-starter-slider .packages-prod-details{text-align:left}
.packages-advance h3.title,.packages-starter h3.title{font-family:"Crimson Text",serif;font-size:30px;font-style:italic}
#packages-advance-details{display:inline-block;margin-bottom:0;margin-top:0;padding:20px 40px;z-index:9999999}
#packages-advance-details label{color:#1d1d25;font-family:"Open Sans",sans-serif;font-size:18px;font-weight:500;text-transform:uppercase}
#packages-advance-details ul.includes-details,#packages-advance-details ul.free-gifts-details{display:inline-block;margin:0;min-height:100px}
#packages-advance-details ul.includes-details li,#packages-advance-details ul.free-gifts-details li{display:inline;float:left;font-family:"Crimson Text",serif;list-style-type:disc;width:100%}
.packages-complete{margin-bottom:50px}
.packages-subbox{position:relative;margin-top:50px}
.packages-subbox h3.title{background:#f6f6f6 none repeat scroll 0 0;display:inline-block;left:0;margin:0 auto;position:absolute;right:0;top:-35px;width:360px}
.packages-advance.packages-subbox h3.title,.packages-starter.packages-subbox h3.title{top:-21px;width:194px}
.shopfor-title{color:#c8a557;font-family:"Open Sans",sans-serif;font-size:16px;font-weight:500;letter-spacing:3px;line-height:22px;margin:0;padding:50px 0 20px;text-align:center;text-transform:uppercase}
.shopfor-title #click-show-bag:hover{color:#000}
.shopfor-title span{text-decoration:underline}
#testimonials{padding-bottom:80px}
#testimonials h2.section-title{margin:40px 0 20px}
#testimonials p{text-align:center;font-family:"Open Sans",sans-serif;font-size:16px;padding:0 30px 30px}
#video-testimonials .tes-img-wrapp{position:relative;padding:25px}
#video-testimonials .tes-img-wrapp img{width:100%}
#video-testimonials .tes-img-wrapp:before{background-image:url(//cdn.shopify.com/s/files/1/1009/6506/t/1/assets/border-left-top.png?11780884220737222319);background-size:30px auto;content:"";height:30px;width:30px;position:absolute;top:0;left:0;right:auto}
#video-testimonials .tes-img-wrapp:after{background-image:url(//cdn.shopify.com/s/files/1/1009/6506/t/1/assets/border-right-bottom.png?12978404362574419599);background-size:30px auto;content:"";display:inline-block;height:30px;width:30px;position:absolute;bottom:0;right:0;left:auto}
#video-testimonials .item{position:relative}
#text-testimonials .item h5{font-size:30px;font-style:italic;line-height:30px;margin:50px 0 0;text-align:center}
#text-testimonials .item h5 span{color:#666;display:block;font-family:open sans,sans-serif;font-size:16px;font-style:normal;letter-spacing:0;line-height:26px}
#testimonials p.dot-hana{display:block;width:100%;color:#c8a557;font-family:"Crimson Text",serif;font-size:30px;letter-spacing:10px;line-height:30px;margin:50px 0 10px;text-align:center}
#video-testimonials .item .play-button{cursor:pointer;opacity:.85;background:#c8a557 none repeat scroll 0 0;bottom:1px;display:block;height:100px;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center;width:100px}
#video-testimonials .item .play-button:hover{background:#000 none repeat scroll 0 0}
#video-testimonials .item .play-button img{display:inline-block;left:50%;top:50%;margin:0 auto;max-width:30px;position:absolute;width:100%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#video-testimonials.owl-theme .owl-controls{margin-top:0!important}
#video-testimonials.owl-theme .owl-controls .owl-page{border:1px solid #a1a1a1;padding:2px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin:0 7.5px}
#video-testimonials.owl-theme .owl-controls .owl-page span{background:#fff none repeat scroll 0 0;height:9px;margin:0;width:9px}
#video-testimonials.owl-theme .owl-controls .owl-page.active span{background:#c8a557 none repeat scroll 0 0}
#rumor-has-it{background:#eee none repeat scroll 0 0;padding-bottom:35px}
#rumor-has-it h2.section-title{margin:60px 0 30px}
#rumor-has-it p{font-family:"Open Sans",sans-serif;font-size:16px;margin:0 0 50px;padding:0;text-align:center;display:none}
#rumor-has-it .logo-br{display:inline-block;float:none;line-height:140px;min-height:140px;text-align:center;vertical-align:middle;margin:0}
#rumor-has-it .logo-br:nth-child(1){width:29%}
#rumor-has-it .logo-br:nth-child(2){width:38%}
#rumor-has-it .logo-br:nth-child(3){width:31%}
#rumor-has-it .logo-br:nth-child(4){width:22%}
#rumor-has-it .logo-br:nth-child(5){width:33%}
#rumor-has-it .logo-br:nth-child(6){width:18%}
#rumor-has-it .logo-br:nth-child(7){width:24%}
#rumor-has-it .logo-br:nth-child(4) img,#rumor-has-it .logo-br:nth-child(5) img,#rumor-has-it .logo-br:nth-child(6) img,#rumor-has-it .logo-br:nth-child(7) img{max-height:47px}
#rumor-has-it .logo-br img{max-height:67px}
.logo-row1,.logo-row2{text-align:center}
#rumor-has-it .logo-br.allure img{max-width:140px;width:100%}
#rumor-has-it .logo-br.maria-claire img{max-width:240px;width:100%}
#rumor-has-it .logo-br.the-beauti-look-book img{max-width:353px;width:100%}
#rumor-has-it .logo-br.healthy-aging img{max-width:160px;width:100%}
#rumor-has-it .logo-br.elle img{max-width:120px;width:100%}
#rumor-has-it .logo-br.rae-viewer img{width:100%;max-width:378px}
#rumor-has-it .logo-br.estee-lalonde img{max-width:260px;width:100%}
#rumor-has-it .logo-br.maskcara img{max-width:160px;width:100%}
.site-footer{padding-top:10px;border:none}
#footer-top h4{border-bottom:medium none;font-family:"Crimson Text",serif;font-size:30px;margin:0 0 20px;padding:0;text-transform:uppercase}
#footer-top .site-footer__links,#footer-top .info{list-style:none;margin:20px 0 0}
#footer-top .site-footer__links li,#footer-top .info li{display:inline;font-size:14px;padding:0 30px 0 0;color:#4e4e53}
#footer-top .info li a{color:#4e4e53;text-decoration:underline}
#footer-top .info li a:hover{color:#c8a557}
#footer-top .info li a:focus,#footer-top .info li a:active{text-decoration:none;color:#c8a557}
#footer-top .info li{padding:0 20px}
#footer-top .site-footer__links{padding-bottom:20px}
#footer-top .site-footer__links li{text-transform:uppercase;padding:0 25px}
#footer-bottom .approved-logo{text-align:right;margin-top:20px}
#footer-bottom .foot-logo{margin-top:0;width:140px}
#footer-bottom a.shopperlink{margin:0 30px 0 0}
#footer-bottom a.shopperlink img{max-width:80px}
#footer-bottom .copyright-wrapp{margin-top:20px}
#footer-bottom p.copyright{color:#4e4e53;font-size:11px;margin-top:0;margin-bottom:0;text-transform:uppercase}
#footer-bottom p.copyright a{color:#4e4e53;font-size:11px}
#footer-bottom .border{border-top:1px solid #d3d3d3}
.site-footer__links a{color:#4e4e53}
.site-footer__links a:hover{color:#c8a557;text-decoration:none}
ul.social-icons{margin-bottom:50px}
.social-icons li{background:#000 none repeat scroll 0 0;border-radius:50px;color:#fff;font-size:20px;height:36px;line-height:36px;padding:0;width:36px;margin:0 13px}
.social-icons li:hover{background:#666 none repeat scroll 0 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.social-icons li a{display:block;line-height:36px;text-decoration:none}
.social-icons li a span{color:#fff;display:block;font-size:20px;line-height:36px}
.social-icons li a span.blog-icon{display:block;font-size:11px;font-weight:700;line-height:36px}
.template-cart .mainmenu-wrapp{display:none}
.template-cart #header::after{background:#ededed none repeat scroll 0 0}
#cart .cart-table{padding-right:0;margin-top:50px}
#cart .button-group{text-align:right;margin-top:0}
#cart .button-group .bottom-buttons{display:inline-block;max-width:292px;width:100%}
#cart .button-group .bottom-buttons p.promotional{color:#1b1d1e;font-size:14px;line-height:20px;letter-spacing:.25px;margin:0 0 20px;text-align:center;text-transform:uppercase}
#cart .section-header__title{font-family:"Crimson Text",serif;font-size:20px;margin:15px 0 0;color:#666;text-transform:uppercase}
#cart-checkout p{font-size:16px;font-weight:600;letter-spacing:1px;line-height:50px;margin:0;text-transform:uppercase}
#cart .section-header{margin-bottom:0}
.cart-headline{float:left;width:100%;font-family:"Crimson Text",serif;font-size:14px;font-weight:400;color:#7a7a7a;height:35px;line-height:35px;border-bottom:1px solid #e2e2e2}
.cart-headline .item,.cart-body .item-wrap{width:50%;font-size:14px;padding:0;font-family:"Crimson Text",serif}
.cart-headline .price,.cart-body .price,.cart-headline .qty,.cart-body .qty,.cart-headline .remove,.cart-body .color,.cart-headline .color,.cart-headline .price_total,.cart-body .price_total{font-size:14px;letter-spacing:0;padding:0 10px;text-align:center;width:12.5%}
.cart-body .qty input{border:1px solid #6e6e6e;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;float:none;font-size:16px;height:30px;line-height:28px;margin:0 auto;text-align:center;vertical-align:middle;width:40px;padding:2px;font-family:'crimson text',sans-serif}
.cart-body .remove a{float:left;margin:0 auto;text-align:center;vertical-align:middle}
.cart-body .remove i{background-image:url({{ 'x-icon.png' | asset_url }});background-position:0 0;background-repeat:no-repeat;background-size:30px auto;display:block;height:30px;margin:0 auto 0 20px;opacity:1;text-align:center;width:30px}
.cart-body .remove a:hover i{background-position:0 -30px}
.cart-body .remove i:hover{color:#666}
.cart-body .remove i:active{background:#9a9a9a;color:#ededed}
.cart-body .price,.cart-body .color{text-align:center;color:#000;font-size:16px;font-weight:400;word-spacing:-3px;padding:0;line-height:30px;font-family:'crimson text',sans-serif}
.cart-body .price span{display:inline-block}
.cart-headline .price_total,.cart-body .price_total{text-align:right}
.cart-body .price .compare-price,.cart-body .price .real-price{color:#999;display:block;line-height:24px}
.cart-body .price_total{color:#000;font-size:16px;font-weight:400;letter-spacing:0;padding:0;text-align:right;word-spacing:-3px;font-family:'crimson text',sans-serif}
.cart-body{float:left;width:100%}
.cart-item{border-bottom:1px solid #e2e2e2;display:table;padding:15px 0;height:60px;line-height:60px;float:left;width:100%}
.cart-item div{display:table-cell;vertical-align:middle;float:none}
.cart-item .item{display:table}
.cart-item .item img{display:table-cell;margin-right:10px;margin-top:0;max-width:100px;padding:0;vertical-align:top}
.cart-item .item .tile-descrip{display:table-cell;vertical-align:top}
.cart-item .item .tile-descrip ul{margin:0}
.cart-item .item .tile-descrip ul li{color:#666;display:block;font-size:14px;font-weight:400;letter-spacing:.25px;line-height:14px;margin:0;text-transform:lowercase;position:relative;padding-left:10px}
.cart-item .item .tile-descrip ul li:before{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#666 none repeat scroll 0 0;border-radius:10px;content:"";height:3px;left:0;position:absolute;top:60%;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%);width:3px}
.cart-item .image{padding-right:15px}
.cart-item .image img{border:1px solid #b5b5b5;max-width:70px}
.tile-descrip .title{color:#000;display:block;font-size:16px;font-weight:600;letter-spacing:0;line-height:20px;margin:0}
.tile-descrip ul label{display:block;font-size:14px;line-height:20px;font-weight:600;margin:5px 0 0}
.cart-item .title span{display:inline-block}
#cart .summary{color:#3e3e3e;display:inline-block;float:left;padding:5px 0 0;text-align:right}
#cart .summary.no-border{border:none}
#cart .summary .text-small{bottom:-10px;color:#7a7a7a;font-family:"Crimson Text",serif;font-size:12px;font-weight:600;left:0;line-height:14px;position:absolute;text-align:left}
#cart .summary .update-btn{background:#c8a557 none repeat scroll 0 0;border:medium none;border-radius:0!important;color:#fff;font-size:14px;font-weight:400;height:40px;letter-spacing:2px;line-height:40px;max-width:157px;padding:0;text-align:center;text-transform:uppercase;vertical-align:middle;width:100%}
#cart .summary .update-btn:hover,#cart .summary .update-btn:active{background:#000 none repeat scroll 0 0}
#cart .summary .update,#cart .summary .promo-text,#cart .summary .subtotal,#cart .summary .subtotaloff,#cart .summary .subtotalgift{display:table-cell;vertical-align:middle}
#cart .summary .update{padding-left:0;display:inline-block;float:left;text-align:right;width:100%;margin-top:15px}
#cart .summary .promo-text,#cart .summary .subtotal,#cart .summary .subtotaloff,#cart .summary .subtotalgift{font-size:16px;line-height:30px}
#cart .summary .subtotal,#cart .summary .subtotaloff,#cart .summary .subtotalgift{color:#666;font-family:"Crimson Text",serif;font-size:16px;font-weight:400;text-align:right;line-height:30px;float:right}
#cart .summary .total-sale,#cart .summary .total-gift,#cart .summary .total-all{color:#000;font-family:"Crimson Text",serif;font-size:16px;font-weight:400;text-align:right;line-height:30px;padding-left:10px;word-spacing:-3px}
#cart .regime-timer{background:none;margin:0 0 5px;text-align:right;padding:5px 0;font-size:14px;font-weight:300;display:inline-block;width:100%}
#cart .summary span.slabel{float:right;font-size:14px;font-weight:400;min-width:275px;position:relative;text-align:right;padding-right:0;font-family:"Crimson Text",serif}
.estimated-total .text-small{bottom:-5px;left:15px;position:absolute;font-weight:300}
.estimated-total span.slabel{border-top:1px solid #ddd;padding-top:10px;margin-bottom:20px}
.estimated-total span.slabel .pull-left{font-weight:600}
#cart .estimated-total span.slabel .total-all{font-weight:600}
#cart .summary .subtotal{display:inline-block;margin-top:15px;padding-bottom:5px;padding-right:0;width:100%}
#cart .summary .estimated-discount{display:inline-block;width:100%}
#cart .summary .total-saving{display:inline-block;width:100%}
#cart .summary .total-saving .your-saving,#cart .summary .total-saving .total_saving_money,#cart .summary .estimated-discount .your-discount,#cart .summary .estimated-discount .total_discount_money{font-family:"Crimson Text",serif;font-size:16px;font-weight:600;letter-spacing:0;line-height:24px;color:#666}
#cart .summary .subtotal .shipping{font-size:16px;font-weight:600;letter-spacing:0;line-height:24px}
#cart .summary .estimated{border-top:2px solid #ededed;display:inline-block;padding-top:15px;width:100%;position:relative;margin-bottom:20px}
#cart .summary .estimated .estimated-total{color:#3e3e3e;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:14px;font-weight:600;letter-spacing:0;line-height:24px}
#cart .summary .estimated .total-all{font-size:16px;font-weight:700;letter-spacing:1px;line-height:24px}
#cart .summary .whatthis{display:inline-block;width:100%;position:relative}
#cart .summary .whatthis h4{color:#666;font-size:12px;font-weight:400;letter-spacing:0;line-height:24px;margin:0;text-align:left}
#cart .summary .whatthis h4 a{color:#666;text-decoration:underline}
#cart .summary .whatthis h4 a:hover,#cart .summary .whatthis h4 a:focus{color:#c8a557}
#cart .summary .subtotal .shipping-free{font-size:16px;font-weight:700;letter-spacing:1px;line-height:24px}
#cart .summary .subtotal span{color:#666}
.time-cart p{color:#666;font-size:14px;margin:0;padding:5px 0;font-family:"Crimson Text",serif;text-align:center}
.time-cart img{display:inline-block;margin:-5px 5px 0}
.time-cart span{font-size:14px}
.time-cart span.timer{background:#c8a557 none repeat scroll 0 0;color:#fff;margin:0 3px;padding:0 7px}
.time-cart span.timer span{color:#fff;font-size:16px;font-weight:600}
#checkout{color:#fff;cursor:pointer;display:inline-block;font-size:16px;font-weight:400;height:50px;line-height:50px;letter-spacing:1.25px;text-align:center;text-transform:none;vertical-align:middle;white-space:nowrap;width:100%;max-width:100%;text-transform:uppercase;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
#cart .other_seal{border-top:1px solid #cfcfcf;display:inline-block;float:none;margin-top:35px;max-width:292px;padding-top:50px;text-align:center;vertical-align:middle;width:100%}
#cart .other_seal img{display:inline-block;float:none;margin:0 9px;max-width:80px;text-align:center;vertical-align:middle}
#cart .other_seal img:first-child{margin-left:0}
#cart .other_seal img:last-child{margin-right:0}
.extra-checkout-buttons.amazon-btn,.extra-checkout-buttons{background-repeat:no-repeat;background-position:0 0;background-size:292px auto;clear:both;display:block;height:50px;margin:0 auto 30px;outline:medium none!important;position:relative;width:100%;max-width:292px;cursor:pointer}
.extra-checkout-buttons.amazon-btn{-pie-background-image:url({{ 'chekout-amazon-btn.png' | asset_url }});background-image:url({{ 'chekout-amazon-btn.png' | asset_url }})}
.extra-checkout-buttons{-pie-background-image:url({{ 'paypal-checkout.png' | asset_url }});background-image:url({{ 'paypal-checkout.png' | asset_url }})}
.extra-checkout-buttons:hover,.extra-checkout-buttons:focus{background-position:0 -50px}
.checkout-group{margin-bottom:30px}
#cart-guarantees{border-top:1px solid #cfcfcf;display:inline-block;margin-top:0;width:100%}
#cart-guarantees .three-day-money-back{margin-bottom:10px;margin-top:35px}
#cart-guarantees .three-day-money-back .guatantees-img,#cart-guarantees .lifetime-satisfaction .guatantees-img{padding:0}
#cart-guarantees .guatantees-img img{max-width:113px}
#cart-guarantees .guatantees-text{padding-right:0;margin-left:10px}
#cart-guarantees .guatantees-text p{color:#666;font-size:12px;letter-spacing:.3px;line-height:15px;padding-right:0}
.discount-code-field{display:block;float:left;margin:35px 0 30px;position:relative;text-align:left;width:100%}
.discount-code-field input{border:1px solid #888;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;color:#000;display:inline-block;font-size:16px;font-weight:500;height:35px;line-height:35px;margin:0;max-width:175px;padding:0 15px;text-align:center;width:100%}
.discount-code-field input:focus{border:1px solid #000}
.discount-code-field .error-messager{bottom:-28px;color:#fe3d2e;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:12px;left:0;letter-spacing:0;line-height:12px;height:27px;max-width:95%;position:absolute;right:auto}
.discount-code-field label{color:#666;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:15px;font-weight:500;left:0;line-height:16px;position:absolute;right:auto;top:-20px}
.discount-code-field label span{color:#000;font-weight:600}
.discount-code-field button{background:#d8d8d8 none repeat scroll 0 0;border:medium none;color:#fff;float:right;font-size:15px;font-weight:400;height:35px;letter-spacing:2px;margin-left:10px;max-width:125px;text-transform:uppercase;width:100%}
.discount-code-field button.active{background:#c8a557 none repeat scroll 0 0}
.discount-code-field button:hover,.discount-code-field button:focus{background:#c8a557 none repeat scroll 0 0}
.tooltip-whatthis{background:#fff none repeat scroll 0 0;border:1px solid #d6d6d6;padding:5px 10px;position:absolute;text-align:left;z-index:100043;box-shadow:0 0 10px rgba(0,0,0,0.33);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.33);-moz-box-shadow:0 0 10px rgba(0,0,0,0.33)}
.tooltip-whatthis .close-btn{position:absolute;right:3px;top:3px;background-image:url({{ 'button-close.png' | asset_url }});width:30px;height:30px;background-size:30px auto;background-position:0 0;background-repeat:no-repeat;opacity:.6;cursor:pointer}
.tooltip-whatthis .close-btn:hover,.tooltip-whatthis .close-btn:focus{opacity:1}
.tooltip-whatthis .close-btn i{content:"";display:none}
.tooltip-whatthis h5{font-size:16px;font-weight:400;line-height:24px;margin:15px 0}
.tooltip-whatthis p{color:#000;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:14px;font-weight:400;line-height:20px;margin:0 0 15px}
.tooltip-bg{top:0;left:0;width:100%;height:100%;z-index:100042;overflow:hidden;position:fixed;background:#b8b8b8;opacity:.8;filter:alpha(opacity=80)}
.blog-article #header{padding:0}
.blog-article .main-content{margin-top:0}
#header .blog-menu.mainmenu-wrapp ul{text-align:left}
.blog-menu.mainmenu-wrapp ul li{line-height:50px;margin:0 50px 0 0}
.blog-menu.mainmenu-wrapp ul li a{line-height:50px}
#header .blog-social{text-align:right}
.blog-social ul.social-icons{margin-bottom:0;text-align:right}
.blog-social ul.social-icons li{background:transparent none repeat scroll 0 0;color:#4e4e53;height:50px;line-height:50px;margin:0;text-align:center;width:40px}
.blog-social ul.social-icons li a{line-height:50px}
.blog-social ul.social-icons li a:hover span{color:#c8a557}
.blog-social ul.social-icons li a span{color:#4e4e53;font-size:16px;line-height:50px}
.sidebar ul.social-icons li{background:transparent none repeat scroll 0 0;color:#4e4e53;height:50px;line-height:50px;margin:0;text-align:center;width:40px}
.sidebar ul.social-icons li a{line-height:50px}
.sidebar ul.social-icons li a:hover span{color:#c8a557}
.sidebar ul.social-icons li a span{color:#4e4e53;font-size:16px;line-height:50px}
body.blog-article{background:#fefefe}
.blog-article #header-sticky-wrapper{-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);-moz-box-shadow:0 0 4px rgba(0,0,0,0.5);box-shadow:0 0 4px rgba(0,0,0,0.5);left:0;position:absolute;right:0;top:0;z-index:999999}
.blog-article #header-sticky-wrapper #header{background:rgba(255,255,255,0.9) none repeat scroll 0 0!important}
.blog-article .is-sticky #header
.blog-article .lateral-menu-is-open #header{background-color:rgba(255,255,255,0.9)!important}
body.blogs-wrapp{background:#f6f6f6 none repeat scroll 0 0}
.blogs-wrapp #footer{background:#fff none repeat scroll 0 0}
.blogs-wrapp #wrapper{margin-bottom:0;margin-top:0}
.blogs-wrapp #main_nav{display:none!important}
.blogs-wrapp .footer-blog{display:block!important}
.blogs-wrapp .order-button{float:right;line-height:90px;text-align:right}
.blogs-wrapp .order-button .order{border:1px solid #0b97a4;color:#89d3dd;cursor:pointer;font-size:14px;font-weight:600;letter-spacing:.5px;padding:7px 20px}
.blogs-wrapp .order-button .order:hover{color:#0b97a4;background:#ebf2f3}
.blogs-wrapp .order-button .order:active,.blogs-wrapp .order-button .order:focus{color:#c0e2e9;background:#00aaba}
.blogs-wrapp .navbar-header .logo{line-height:90px}
.blogs-wrapp #top{background:#fff none repeat scroll 0 0}
#article-content p img{height:auto;margin:0 0 20px;width:100%}
#blog,#article{background:#fff none repeat scroll 0 0}
.template-blog #blog-head{background-image:url({{ 'header-bg-1170.jpg' | asset_url }});background-repeat:no-repeat;background-size:cover;text-align:center;background-position:center center;min-height:300px;height:300px;position:relative;margin:0 0 30px}
.template-article #blog-head{text-align:center;min-height:300px;height:300px;position:relative}
#blog-head img{height:auto;left:50%;max-width:686px;position:absolute;top:63%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%}
#blog-head a{display:block;padding:25px 0 60px}
#blog-head h1{color:#fff;font-family:"Bitter",serif!important;font-size:46px;font-style:italic;line-height:50px}
#blog-head h3{color:#fff;font-size:20px;font-weight:500;letter-spacing:2px;line-height:24px;text-transform:uppercase}
#blog-nav{padding:50px 0 40px;text-align:center}
#blog-nav ul{display:inline-block;list-style:outside none none;margin:0}
#blog-nav ul li{border-right:2px solid #666;display:inline;font-size:30px;line-height:30px;margin:0;padding:0 40px}
#blog-nav ul li:last-child{border-right:0 solid #666}
#blog-nav ul li a{color:#666;font-size:30px;line-height:30px;text-transform:uppercase;font-weight:500}
.blogs-wrapp .blog-content{padding-top:40px}
.blogs-wrapp .blog_title{border-bottom:2px solid #d3d3d3;color:#333;font-size:36px;font-weight:400;line-height:36px;margin-bottom:60px;padding-bottom:30px;text-transform:uppercase}
.line{border-top:1px solid #c2c2c2}
.article-top.article-wrapp{margin-bottom:30px}
.article-wrapp .article-img{position:relative}
.article-wrapp .article-img img{width:100%}
.article-wrapp .article-img .art-overlay{background:rgba(0,0,0,0.4) none repeat scroll 0 0;content:"";height:100%;left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%}
.article-wrapp .article-img .post_title{color:#fff;width:95%;font-family:"Montserrat",sans-serif;font-weight:400;font-size:40px;left:50%;letter-spacing:1px;line-height:50px;margin:0;position:absolute;text-align:center;text-transform:uppercase;top:35%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.article-sub.article-wrapp .article-img .post_title{font-size:26px;line-height:36px}
.article-wrapp .article-img .date-read{left:50%;position:absolute;top:72%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);margin:0;text-align:center}
.article-wrapp .article-img .date-read a.read_more{color:#fff;font-family:"Montserrat",sans-serif;font-size:26px;font-weight:400;letter-spacing:.5px;line-height:26px;text-decoration:underline;text-transform:uppercase}
.article-sub.article-wrapp .article-img .date-read a.read_more{font-size:22px}
.article-wrapp .article-img .date-read a.read_more:hover{color:#c8a557}
.template-article .article-body h1.post_title{color:#1d1d25;font-family:"Montserrat",sans-serif;font-size:50px;line-height:60px;margin:10px 0 50px;text-align:center;text-transform:uppercase;letter-spacing:1px}
.template-article .article-body span.date{color:#666;font-family:"Montserrat",sans-serif;font-size:16px;font-weight:300;letter-spacing:.5px;line-height:20px;margin:0 0 50px;text-align:center}
.article-wrapp .post_content{display:block;font-family:'crimson text',sans-serif;font-size:20px;line-height:30px;margin:25px auto 40px;max-width:90%;text-align:left;width:100%}
.article-sub.article-wrapp .post_content{font-size:14px;line-height:24px;margin:25px auto 40px;max-width:100%;width:100%}
.template-article .article-wrapp .comt-share{margin:20px 0 30px}
.article-bt-wrapp .blog_title{font-size:22px;font-weight:400;letter-spacing:.5px;margin:0 0 30px;text-align:center;text-transform:uppercase}
.article-bt-wrapp .most-popular{margin:0 -15px 40px}
.article-bt-wrapp .most-popular .article{padding:0 15px}
.article-bt-wrapp .most-popular .article h3{font-size:14px;letter-spacing:0;line-height:20px}
.article-bt-wrapp .most-popular .article h3 a{color:#1d1d25;font-family:"Montserrat",sans-serif;font-size:14px;letter-spacing:0;line-height:20px;display:block;margin:0 0 10px;text-transform:uppercase}
.article-bt-wrapp .most-popular .article h3 a:hover{color:#c8a557}
.article-bt-wrapp .most-popular .article h3 span.date{color:#666;font-family:"Montserrat",sans-serif;font-size:12px;letter-spacing:0;line-height:20px}
.article-wrapp .comt-share{border-bottom:1px solid #d3d3d3;display:inline-block;margin-bottom:60px;padding-bottom:5px;width:100%}
.article-wrapp .comt-share a.comment_link{color:#666;display:inline-block;float:left;font-family:'open sans',sans-serif;font-size:12px;line-height:24px;text-decoration:none}
#article .blog-content .article-wrapp .blog-bg{padding:0;margin-bottom:30px}
.article-wrapp .article-img .date-read .date{color:#fff;font-size:16px;font-weight:400;letter-spacing:.25px;line-height:20px;margin-bottom:30px;font-family:"Montserrat",sans-serif}
.article-sub.article-wrapp .article-img .date-read .date{font-size:12px;margin-bottom:20px}
.articles .article a.post_thumbnail{display:block;text-align:center}
#blog .articles .article img{margin-bottom:25px;width:100%;height:auto}
.template-article #blog .articles .article .post_content,.template-article #article-content p,.template-article #article-content ul li,.template-article #article-content ol li{color:#221e1f;font-size:20px;letter-spacing:.25px;line-height:30px;font-weight:400;margin:0 0 30px;display:inline-block;font-family:"crimson text",sans-serif}
#blog .articles .article .read_more{color:#00aaba;display:inline-block;font-size:16px;font-weight:500;letter-spacing:.25px;line-height:26px;margin-bottom:10px}
.blog-article .sidebar h3.blog_title{font-size:22px;font-weight:400;letter-spacing:.5px;margin:0 0 30px;text-align:center;text-transform:uppercase}
.sidebar ul,.sidebar .email-newsletter{padding:0;margin:0 0 40px;list-style:none}
.sidebar .face-feed{padding:40px 0;border-bottom:2px solid #d3d3d3}
.sidebar .most-popular .article{display:inline-block;margin:0 0 30px;padding:0 0 30px}
.sidebar .most-popular .article:last-child{margin:0;border-bottom:2px solid #d3d3d3}
.sidebar .most-popular .article .image-thumb{display:inline-block;height:115px;overflow:hidden;vertical-align:middle;width:40%}
.sidebar .most-popular .article .image-thumb img{height:100%;max-width:300%;min-width:auto!important;width:auto}
.sidebar .most-popular .article h3{display:inline-block;font-size:20px;letter-spacing:0;line-height:26px;margin:0 0 0 15px;text-transform:none;vertical-align:middle;width:53%}
.sidebar .most-popular .article h3 a{color:#333;font-size:16px;line-height:22px;text-decoration:none;text-transform:uppercase;font-family:"Montserrat",sans-serif}
.sidebar .most-popular .article h3 a:hover{color:#c8a557;text-decoration:underline}
.sidebar .most-popular .article h3 span.date{font-size:12px;margin:5px 0 0;font-weight:400;font-family:"Montserrat",sans-serif;color:#666}
.sidebar .sidebar-title{color:#1d1d25;font-size:22px;font-weight:400;letter-spacing:1px;line-height:30px;margin:0 0 20px;text-align:center;text-transform:uppercase}
.sidebar .recent-articles{padding:20px 10px!important}
.sidebar .recent-articles li{margin-bottom:30px}
.sidebar .recent-articles li:last-child{margin-bottom:0}
.sidebar .recent-articles li h4{font-family:"Bitter",serif!important;font-size:20px;line-height:26px;margin:0}
.sidebar .recent-articles li h4 a:hover{text-decoration:underline}
.sidebar .recent-articles li span{color:#666;font-family:"Open Sans",sans-serif;font-size:14px;font-weight:100;letter-spacing:.5px;line-height:20px}
.follow-social{border-bottom:2px solid #d3d3d3;padding:0 0 30px;text-align:center}
.follow-social h3.sidebar-title{display:block;font-size:22px;font-weight:400;letter-spacing:.5px;line-height:26px;margin:0 0 10px;text-align:center;vertical-align:middle}
.follow-social ul{display:inline-block;margin:0;text-align:center;vertical-align:middle;width:100%}
.follow-social li{display:inline-block;margin:0 40px;text-align:center}
.follow-social li:last-child{margin:0}
.follow-social li a{color:#999;display:inline-block;font-size:26px;line-height:26px;vertical-align:middle}
.follow-social li.rss-icon a{font-size:20px;font-style:normal;font-weight:700}
.follow-social li.face-icon a:hover{color:#4da7af}
.follow-social li.twitter-icon a:hover{color:#01818d}
.follow-social li.google-plus-icon a:hover{color:#dd4b39}
.follow-social li.rss-icon a:hover{color:#f26522}
.newsletter-subscribe{padding-bottom:40px;padding-top:40px;text-align:center}
.newsletter-subscribe h3.sidebar-title{color:#1d1d25;font-size:22px;font-weight:400;line-height:30px;margin:0 0 20px;text-align:center}
.newsletter-subscribe form{display:inline-block;width:100%}
.newsletter-subscribe form input#mail{border:1px solid #7f7f7f;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;color:#666;font-size:15px;height:40px;letter-spacing:.25px;line-height:40px;max-width:100%;opacity:1;padding:0 0 0 25px;width:100%;margin:0 0 20px}
.newsletter-subscribe form input#subscribe{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:#c8a557 none repeat scroll 0 0;border-radius:0;float:left;font-family:open sans,sans-serif;font-size:14px;font-weight:500;height:40px;letter-spacing:.5px;line-height:40px;max-width:100%;padding:0;width:100%}
.newsletter-subscribe form input#subscribe:hover,.newsletter-subscribe form input#subscribe:focus{background:#000 none repeat scroll 0 0}
.template-article .pagination{border-bottom:1px solid #d3d3d3;margin:15px 0 50px}
.pagination{border-radius:0;display:inline-block;margin:15px 0 50px;padding-left:0;width:100%;text-align:center}
.pagination > li{display:inline-block;float:left;margin:0;vertical-align:middle}
.pagination li.previous-blog span,.pagination li.previous-blog a{width:auto!important}
.pagination li.next-blog a,.pagination li.next-blog span{width:auto!important}
.pagination li.previous-blog a:hover,.pagination li.next-blog a:hover{text-decoration:underline;color:#c8a557}
.previous-blog{float:left!important}
.next-blog{float:right!important}
.pagination > li:first-child > a,.pagination > li:first-child > span{border-bottom-left-radius:0;border-top-left-radius:0;margin-left:0}
.pagination > li > a,.pagination > li > span{background-color:transparent;border:medium none;color:#c8a557;float:left;font-size:20px;height:40px;letter-spacing:1px;line-height:40px;margin-left:0;padding:0;position:relative;text-decoration:none;text-transform:uppercase;width:40px}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus{background-color:transparent;border-color:transparent;text-decoration:none}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus{background-color:#00a9b9;border:medium none;color:#fff;cursor:default;height:40px;line-height:40px;margin:0;text-align:center;vertical-align:middle;width:40px;z-index:2}
.pagination .paginate-post{float:none;font-size:24px;font-weight:500;line-height:40px;margin:0 auto}
.pagination > li.hidden-not-link span{color:#c2c2c2;cursor:default}
.pagination > li.hidden-not-link span:hover{text-decoration:none}
.blogs-wrapp .footer-desktop,.blogs-wrapp .footer-mobile{display:none!important}
.blogs-wrapp .copyright{text-transform:none}
.blogs-wrapp .link-foot ul{margin:0;padding-top:38px}
.blogs-wrapp .link-foot ul li{display:inline-block;list-style:outside none none;margin:0 40px 0 0}
.blogs-wrapp .link-foot ul li a{color:#666;font-size:14px;letter-spacing:.25px}
.blogs-wrapp .link-foot ul li a:hover{color:#00aaba;text-decoration:underline}
.blogs-wrapp #footer .footer-copyright{border:none}
.blogs-wrapp .mobile-order{display:none}
.blogs-wrapp #nav_mobile .navbar-toggle.collapsed{display:none}
.article_share p{display:inline-block;float:left;font-family:'open sans',sans-serif;font-size:12px;font-weight:100;letter-spacing:.5px;line-height:24px;margin:0;vertical-align:middle}
.article_share a{color:#c8a557;display:inline-block;float:left;line-height:24px;margin:0 0 0 20px;text-align:center;vertical-align:middle}
.article_share a i{display:inline-block;font-size:16px;line-height:24px;vertical-align:middle}
.article_share a:hover{color:#000}
#article .comment-form label{color:#333;display:block;font-size:13px;font-weight:400;line-height:18px;text-transform:uppercase}
#article .comment-form label sup{font-size:13px;top:0}
#article .comment-form input[type="text"],#article .comment-form input[type="email"]{border:1px solid #c8c8c8;font-size:13px;height:40px;line-height:20px;max-width:100%;padding:5px 10px;width:100%}
#article .comment-form textarea{border:1px solid #c8c8c8;font-size:13px;height:165px;line-height:23px;margin-bottom:40px;padding:10px;width:100%}
.article_share{display:inline-block;float:right;margin-bottom:0;padding-bottom:0}
#comments .comment{border-top:1px solid #d4d4d4}
#comments .comment_form{border-top:1px solid #d4d4d4;padding-bottom:50px;padding-top:35px}
#comments .comment-title{font-size:22px;font-weight:400;letter-spacing:0;line-height:30px;margin:0 0 50px;text-align:center;text-transform:uppercase}
#comments .comment_form .comment-title{font-size:22px;font-weight:400;letter-spacing:0;line-height:30px;margin:0;text-align:left;text-transform:uppercase}
#comments .comment-title-second{color:#c8a557;cursor:pointer;font-family:"Montserrat",sans-serif;font-size:16px;font-weight:400;line-height:26px;margin:0;text-align:right}
#comments .comment-sub-title{color:#999;font-family:'open sans',sans-serif;font-size:13px;letter-spacing:0;line-height:20px;margin:0 0 10px}
#comments .comment-title span{font-weight:400;color:#666;float:right;font-size:20px;letter-spacing:0;text-transform:none;font-family:"Bitter",serif!important}
#comments .subtext{color:#999;font-size:13px;font-weight:600;line-height:18px;margin-bottom:10px}
#comments .label-wrapp{margin-bottom:20px;margin-right:0}
#comments .label-wrapp.first{padding-left:0}
#comments .label-wrapp.last{margin-right:0;padding-right:0}
#comments #comment-submit{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:#c8a557 none repeat scroll 0 0;font-size:14px;font-weight:400;height:40px;letter-spacing:1px;line-height:40px;padding:0;text-transform:uppercase}
#comments #comment-submit:hover,#comments #comment-submit:focus{background:#000 none repeat scroll 0 0}
#comments .notice{color:#999;display:inline;font-size:16px;font-weight:400;letter-spacing:.25px;line-height:25px;margin-left:20px;text-transform:capitalize}
.comment{padding-top:35px}
#comments .author{font-family:'open sans',sans-serif;border-top:1px solid #f2f2f2;color:#000;display:inline-block;float:left!important;font-size:16px;font-weight:600;margin:0 0 20px;padding-top:20px;text-align:left;text-transform:capitalize;width:100%!important}
#comments .author .date{color:#666;font-family:'open sans',sans-serif;font-size:16px;font-weight:400;letter-spacing:0}
#comments .comment-content p{font-family:'open sans',sans-serif;font-size:16px;line-height:26px;font-weight:400}
.blog-article #footer-bottom .foot-logo{display:block;float:none;margin:20px auto 0;max-width:80px}
.blog-article #footer-bottom .blog-copyright{display:inline-block;width:100%;text-align:center}
.blog-article #footer-bottom .blog-copyright p.copyright{color:#848484;font-size:10.5px;letter-spacing:.5px;margin:0;text-transform:none;display:inline}
.blog-article #footer-bottom .blog-copyright p.copyright a{color:#848484;text-decoration:none;display:inline}
.blog-article #footer-bottom .blog-copyright a{color:#848484;font-size:10.5px;letter-spacing:.5px;margin:0;text-transform:none;display:inline;text-decoration:underline}
.blog-article #footer-bottom .blog-copyright a:hover{color:#c8992f}
.blog-article #footer-bottom a.shopperlink{display:block;margin:0 auto;text-align:center}
.contact-page h1.section-header__title{font-size:45px;line-height:50px;margin:70px 0 15px;text-align:center}
.contact-page .section-text{text-align:center}
.contact-page .section-text p{font-size:20px;font-weight:300;letter-spacing:0;line-height:36px}
.contact-page .section-text p span{display:block}
.contact-page .section-text p.email-top{color:#1d1d25;font-family:"crimson text",serif;font-size:30px;font-weight:300;line-height:40px;margin:40px 0 30px}
.contact-page .section-text p.email-top a{text-decoration:underline}
.contact-page .section-text p.email-top a:hover,.contact-page .section-text p.email-top a:focus{text-decoration:underline}
.contact-page .section-text p.phone-top{color:#1d1d25;font-family:"crimson text",serif;font-size:30px;font-weight:300;line-height:40px}
.contact-page .line-c{background:#c8a557 none repeat scroll 0 0;content:"";height:4px;margin-bottom:50px;margin-top:50px}
.contact-page p.text-form{font-size:20px;font-weight:300;line-height:24px;margin:10px 0 70px;text-align:center}
.contact-page #contact_form{display:inline-block;width:100%}
.contact-page .input-wrapp{position:relative}
.contact-page label.error-text{color:#c8a557;font-family:"crimson text",serif;font-size:26px;font-weight:400;left:0;letter-spacing:-.25px;margin:0;position:absolute;right:auto;top:32px;cursor:text}
.contact-page label.error-text span{color:#999}
.contact-page #contact_form input{outline:none;border-color:-moz-use-text-color -moz-use-text-color #666;border-style:none none solid;border-width:medium 0 1px;color:#999;font-family:proxima-nova-condensed, sans-serif;letter-spacing: 1px;font-size:26px;font-weight:300;height:60px;line-height:30px;padding:0;-webkit-box-shadow:0 0 0 #000;-moz-box-shadow:0 0 0 #000;box-shadow:0 0 0 #000}
.contact-page #contact_form input#submitButton{border:medium none;color:#fff;font-family:'open sans',sans-serif;font-size:20px;font-weight:600;height:50px;letter-spacing:4px;line-height:50px;max-width:200px;background:#000;margin:10px 0 0}
.contact-page #contact_form input#submitButton:hover,.contact-page #contact_form input#submitButton:focus{background:#c8a557;background:-moz-linear-gradient(top,#c8a557 0%,#ab8d4a 100%);background:-webkit-linear-gradient(top,#c8a557 0%,#ab8d4a 100%);background:linear-gradient(to bottom,#c8a557 0%,#ab8d4a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8a557',endColorstr='#ab8d4a',GradientType=0)}
.contact-page #contact_form #ContactFormMessage{outline:none;border-color:-moz-use-text-color -moz-use-text-color #666;border-style:none none solid;border-width:medium 0 1px;color:#666;font-family:"crimson text",serif;font-size:26px;height:60px;line-height:60px;padding:0;min-height:60px}
.contact-page #contact_form #ContactFormMessage:focus,.contact-page #contact_form #ContactFormMessage:active{height:200px;min-height:200px}
.link-faq p{font-size:20px;font-weight:300;line-height:24px;margin:10px 0 70px;text-align:center}
.link-faq p a{text-decoration:underline;font-weight:600}
#page-faq .section-header h1{font-size:45px;line-height:50px;margin:60px 0 40px;text-align:center}
#tab-page-title{margin-bottom:30px}
#tab-page-title ul.nav-faq li{border-right:1px solid #000;display:inline-block;padding:0 20px}
#tab-page-title ul.nav-faq li:first-child{padding-left:0}
#tab-page-title ul.nav-faq li:last-child{border-right:0 solid #000}
#tab-page-title ul.nav-faq li label{margin:0;color:#1d1d25}
#tab-page-title ul.nav-faq li label:hover{color:#c8a557;text-decoration:underline}
.content-tab .page-item ul li{border-bottom:1px solid #e0e0e0;line-height:80px;padding-bottom:25px;padding-left:8.33333%;padding-top:20px}
.content-tab .page-item ul li h3{font-size:30px;font-weight:300;letter-spacing:0;line-height:36px;margin:0;position:relative;padding-right:8%}
.content-tab .page-item ul li h3.open i:before{content:"\f077"}
.content-tab .page-item ul li h3 i{font-size:12px;position:absolute;right:3%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.content-tab .page-item ul li .content-p,.content-tab .page-item ul li .content-p p{color:#666;font-size:16px;font-weight:400;letter-spacing:0;line-height:26px;margin:15px 0 10px;padding-right:8.33333%}
.content-tab .page-item ul li .content-p span.red-color,.content-tab .page-item ul li .content-p p span.red-color{color:#c32f23}
.content-tab .page-item ul li .content-p ul li{border:medium none;line-height:26px;margin:0 0 10px;padding-top:0;padding-bottom:0}
.content-tab .page-item ul li .content-p a{text-decoration:underline}
#about-the-products ul li:last-child .content-p{padding-left:9%}
#about-the-products ul li:last-child .content-p h4{color:#1d1d25;font-size:20px;letter-spacing:0;line-height:26px;margin:40px 0 5px}
#about-the-products ul li:last-child .content-p p{margin:0 0 50px}
#nll_orderLookUp_formWrapper{padding:20px 0!important}
#nll_submitButton{padding:0!important}
#nll_orderLookUp_formWrapper input[type="text"]{outline:none!important}
.hassle-video{position:relative;padding-bottom:56.25%;height:0;overflow:hidden}
.hassle-video iframe{position:absolute;top:0;left:0;width:100%;height:100%}
#testimonials .video-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden}
#testimonials .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.popup-vimeo-wrapper{background:none repeat scroll 0 0 #fff;max-width:900px;width:100%;padding:0;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);-moz-box-shadow:0 0 8px rgba(0,0,0,0.6);box-shadow:0 0 8px rgba(0,0,0,0.6)}
.popup-vimeo-wrapper .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.popup-vimeo-wrapper .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.popup-vimeo-wrapper .mfp-close{height:15px;line-height:15px;right:0;top:-25px;width:15px}
.overlay-player{cursor:pointer;width:100%;height:100%;position:absolute;z-index:9}
.overlay-player-black{background:#000;width:100%;height:100%;position:absolute;z-index:9}
#header-sticky-wrapper.on-top{position:initial!important}
iframe#top-player-tablet{position:absolute;top:0;left:0;width:100%;height:100%}