@media screen and (min-width: 1260px) {
#promo-img{height:745px;min-height:745px}
.slider-image .container .row{padding:0;margin:0 -56px}
}
@media screen and (min-width: 1200px) {
.scr-970{display:none}
.advanced-kit-scr-970{display:none}
#header:after{max-width:1140px}
.fb-page,.fb-page span,.fb-page span iframe[style]{max-width:360px;min-width:360px;width:100%!important}
#packages-complete-slider .prod-image img{max-width:82%}
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
.contact-page label.error-text{font-size:24px}
#shop{padding-top:40px}
#packages-complete-slider .prod-image img{max-width:80%}
.fb-page,.fb-page span,.fb-page span iframe[style]{max-width:290px;width:100%!important}
.content-tab .page-item ul li{padding-left:0}
#header::after{max-width:970px}
.time-cart span.time-top{display:block;line-height:16px}
.time-cart span.time-bottom{display:block;line-height:16px}
.time-cart span.time-grounp{display:inline-block;vertical-align:middle}
.time-cart .wanit{display:inline-block;vertical-align:middle}
.time-cart img{margin:0 30px}
}
@media screen and (max-width: 1199px) {
#footer-top .site-footer__links li{padding:0 20px}
.contact-page .section-text p span{display:inline}
.discount-code-field input{max-width:145px}
.discount-code-field button{max-width:95px}
#cart .cart-table{padding-right:15px}
.advanced-kit-scr-1170{display:none}
#packages-complete-slider,#packages-advance-slider,#packages-starter-slider{border-bottom:1px solid #d3d3d3;height:356px;min-height:356px;overflow:hidden}
#packages-advance-slider .packages-prod-details,#packages-starter-slider .packages-prod-details{padding-top:15px}
.packages-complete{margin-bottom:0}
.packages-subbox{margin-top:80px}
.mainmenu-wrapp ul li{margin:0 0 0 30px}
#promo-img{height:620px;margin-bottom:90px;min-height:620px}
#promo-img .caption-promo{top:38%;-webkit-transform:translate(-50%,-38%);-moz-transform:translate(-50%,-38%);-o-transform:translate(-50%,-38%);-ms-transform:translate(-50%,-38%);transform:translate(-50%,-38%)}
#promo-img .caption-promo .caption-text h1{font-size:46px;line-height:56px;margin:0 0 8%}
#promo-img .caption-promo .caption-text h4{font-size:28px;line-height:32px}
#promo-img .caption-promo .caption-text p{font-size:14px;line-height:24px}
.slide-video-popup{width:300px}
.slide-video-popup .slide-video-play a img{max-width:36px}
.slide-video-popup .slide-video-play p{bottom:2px;letter-spacing:3px}
#promo-img .clinically-tested{left:40px}
#promo-img .learn-more-button a.arrow-btn{margin-top:20px}
#promo-img .learn-more-button .btn{font-size:18px}
#results-video-slide #sync1 .item a{font-size:14px}
h2.section-title{font-size:46px;line-height:54px}
#results-video-slide #sync2 .owl-next,#results-video-slide #sync2 .owl-prev{background-size:15px auto;height:30px;width:15px}
#results-video-slide #sync1 .owl-item{padding:0 10px}
#results-app h2.section-title{font-size:46px;line-height:54px;margin:0 0 20px}
#home-results{padding:30px 0 0}
#results-text-wrapp{padding:30px 0 20px}
#results-text-wrapp .results-text h3{font-size:26px;line-height:26px}
#results-text-wrapp .results-text h1{font-size:64px;line-height:64px}
#results-text-wrapp .results-text h1 sup{font-size:30px;top:-20px}
#results-text-wrapp .results-text p{font-size:24px;line-height:24px}
#results-text-wrapp .results-text-group{padding:30px 0 25px}
.results-app-content p{font-size:14px;line-height:24px;margin-bottom:30px}
.results-app-img img{max-width:360px}
.app-play a.google-play-btn{background-image:url({{ 'google-play-btn-480.png' | asset_url }});background-size:210px auto;height:70px;background-position:0 0;width:210px;margin-left:3px}
.app-play a.google-play-btn:hover{background-position:0 -70px;transition:all 0 ease 0}
.app-play a.app-store-btn{background-image:url({{ 'app-store-btn-480.png' | asset_url }});background-size:210px auto;height:70px;width:210px;background-position:0 0}
.app-play a.app-store-btn:hover{background-position:0 -70px;transition:all 0 ease 0}
#home-medical{background-image:url({{ 'bg-medical-970.jpg' | asset_url }});padding:60px 0 10px}
#home-medical h2{font-size:36px;line-height:36px;margin-bottom:30px}
#home-medical h4{font-size:24px;line-height:24px;margin:40px 0 20px}
#home-medical p{font-size:14px;line-height:24px}
#home-clinically-tested{padding:40px 0}
#home-clinically-tested h2.section-title{margin-bottom:50px}
.clinically-tested-img{padding-top:15.5%}
.clinically-tested-img img{max-width:100%}
#home-clinically-tested p,#home-clinically-tested .clinically-tested-text ul li{font-size:16px}
#home-clinically-tested p.clinically-italic,#home-clinically-tested p.clinically-yellow{font-size:18px}
#hassle-free-video{height:664px;min-height:664px}
#hassle-free-video h2.section-title{font-size:46px;line-height:50px;margin:40px 0 15px}
#hassle-free-video .hassle-title p{font-size:16px;line-height:26px}
#hassle-free-video a.hassle-play-btn{height:75px;line-height:75px;width:75px}
#hassle-free-video a.hassle-play-btn img{max-width:25px}
#guatantees{padding:60px 0}
.guatantees-text p{font-size:16px;line-height:24px;padding-right:18px}
.guatantees-img img{max-width:200px}
#product-sync1 .prod-details h1{font-size:60px}
#product-sync1 .prod-details h3{font-size:32px;margin:30px 0 50px}
#product-sync1 .prod-details h3 span{font-size:20px;margin:0}
#product-sync1 .prod-details.show-bag p{margin:0 0 30px}
#product-sync1 .prod-details p{font-size:18px;line-height:24px;margin:0 0 50px}
.results-video-popup a.results-play-btn{height:60px;width:60px}
.results-video-popup a.results-play-btn img{max-width:20px}
.prod-details a.results-play-btn{height:44px;width:44px}
.prod-details a.results-play-btn img{max-width:14px}
#product-sync2-wrapp{margin-top:30px}
#product-sync1{margin-top:50px}
#packages{padding:90px 0 20px}
p.packages-sub-text{font-size:14px}
h4.packages-sub-title{font-size:28px;margin:0 0 30px}
.packages-advance h3.title,.packages-starter h3.title,.packages-complete h3.title{font-size:42px}
.packages-advance.packages-subbox h3.title,.packages-starter.packages-subbox h3.title{top:-34px;width:289px}
#packages-complete-slider .prod-image a,#packages-advance-slider .prod-image a{width:100%}
#packages-complete-slider .prod-image{padding-left:0;padding-top:0}
#packages-complete-slider .packages-prod-details{padding-right:0;padding-top:30px}
#packages-complete-slider .packages-prod-details p{padding-right:20px;padding-bottom:30px;font-size:16px;line-height:26px}
#packages-complete-slider .owl-next,#packages-complete-slider .owl-prev{background-size:30px auto;height:90px;width:30px}
#packages-advance-details{padding:30px 15px 0}
#packages-complete-details{padding:30px 15px}
#packages-complete-details label,#packages-advance-details label{font-size:16px;font-weight:500}
.price-addtobag a.btn{font-size:16px;font-weight:600}
.timer-message{display:block;margin-top:10px}
#packages-advance-slider .packages-prod-details h3,#packages-starter-slider .packages-prod-details h3{font-size:40px;line-height:32px}
#packages-advance-slider .packages-prod-details h3 span,#packages-starter-slider .packages-prod-details h3 span{font-size:22px;line-height:22px;padding-right:0}
#packages-advance-slider .description p,#packages-starter-slider .description p{padding-left:0;padding-right:20px;padding-top:0;font-size:18px;line-height:28px}
#packages-advance-slider .packages-prod-details .price-prod,#packages-starter-slider .packages-prod-details .price-prod{font-size:26px;padding-bottom:30px}
#packages-advance-details ul.includes-details li{width:50%}
#packages-complete-slider .packages-prod-details .price-prod{padding:0;margin:0 0 40px}
.advance-item img,.starter-item img{max-width:100%;padding-top:0}
#rumor-has-it .logo-br{line-height:100px;margin:0;min-height:100px}
#rumor-has-it .logo-br img{max-height:47px}
#rumor-has-it .logo-br:nth-child(1){width:17%}
#rumor-has-it .logo-br:nth-child(2){width:29%}
#rumor-has-it .logo-br:nth-child(3){width:28%}
#rumor-has-it .logo-br:nth-child(4){width:22%}
#rumor-has-it .logo-br:nth-child(5),#rumor-has-it .logo-br:nth-child(6),#rumor-has-it .logo-br:nth-child(7){width:33%}
}
@media screen and (min-width: 992px) {
.time-cart{border:1px solid #999;display:inline-block;width:100%;margin:20px 0 10px}
.scr-1170{display:none}
#cart-guarantees .mb-tablet-show{display:none!important}
.blog-loadmore{display:none}
.sidebar-tablet{display:none!important}
.template-blog .sidebar .most-popular .article{width:100%}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
.app-play a.app-store-btn{display:block;margin:0 0 15px}
.app-play a.google-play-btn{display:block;margin:0 0 30px}
.blog-article #blog-head{height:140px;min-height:140px}
.article-top.article-wrapp{margin-bottom:0}
.article-wrapp .article-img .post_title{font-size:26px;line-height:36px}
.article-wrapp .article-img .date-read .date{font-size:12px;margin-bottom:20px}
.article-wrapp .article-img .date-read a.read_more{font-size:22px}
.article-wrapp .post_content{font-size:14px;line-height:24px;max-width:100%;width:100%}
#blog-head img{max-width:300px;top:70%}
#header::after{max-width:750px}
#rumor-has-it .logo-br:nth-child(1),#rumor-has-it .logo-br:nth-child(2),#rumor-has-it .logo-br:nth-child(3){width:30%}
#rumor-has-it .logo-br:nth-child(4),#rumor-has-it .logo-br:nth-child(5){width:47%}
#rumor-has-it .logo-br:nth-child(6),#rumor-has-it .logo-br:nth-child(7){width:44%}
#rumor-has-it .logo-br{line-height:120px;min-height:120px}
#results-app h2.section-title{font-size:36px}
#results-app{padding-top:60px}
h2.section-title{font-size:36px;line-height:52px}
#packages-advance-slider .description p,#packages-starter-slider .description p{font-size:18px;line-height:22px}
.slide-video-popup{width:240px}
.slide-video-popup .slide-video-play p{letter-spacing:2.5px!important}
#promo-img{height:714px;min-height:714px}
#promo-img .slider-image img{margin-top:320px}
#promo-img .clinically-tested img{max-width:90px}
#promo-img .caption-promo .caption-text h4{font-size:32px;line-height:32px}
#promo-img .caption-promo .caption-text h1{font-size:50px!important;line-height:60px!important;margin:0 0 13%!important}
#promo-img .clinically-tested{top:273px}
#results-text-wrapp .results-text h3{font-size:18px;line-height:22px}
#results-text-wrapp .results-text h1 sup{font-size:24px;top:-14px}
#results-text-wrapp .results-text p{font-size:16px;line-height:16px}
#home-medical{background-image:url({{ 'bg-medical-750.jpg' | asset_url }});height:895px;min-height:895px;padding:30px 0 5px;background-position:center top}
#home-medical h2{margin-top:0;margin-bottom:20px}
#home-medical h4.desktop-show{display:none}
#home-medical p.desktop-show{display:none}
#home-medical .tablet-mb-show h4{margin-top:25px;font-size:20px;line-height:20px;text-align:center}
#home-medical .tablet-mb-show p{text-align:center}
#home-medical .tablet-mb-show{display:block!important}
#home-medical .tablet-mb-show img{display:none}
#home-clinically-tested p,#home-clinically-tested .clinically-tested-text ul li{font-size:14px;line-height:24px;margin-bottom:20px}
#hassle-free-video{height:510px;min-height:510px}
#hassle-free-video h2.section-title{font-size:40px;line-height:50px;margin:40px 0 15px}
#hassle-free-video h2.section-title span{display:inline!important}
.hassle-text p{font-size:13px;letter-spacing:0;line-height:22px}
.guatantees-text p{font-size:14px;line-height:24px}
.prod-details.show-bag .video-buy .prod-video{margin:0 0 20px}
#product-sync2-wrapp{margin-top:20px}
#product-sync1 .prod-details h3{margin:30px 0 20px}
#product-sync1 .prod-details p{font-size:14px;line-height:24px;margin:0 0 20px}
.prod-details .video-buy .prod-buy .addtobad,.price-addtobag a.btn{font-size:14px;height:34px;line-height:34px;margin-top:12px}
#product-sync2 .owl-item .item img{max-width:84px}
#packages-complete-slider .item-first img.dk-show,#packages-advance-slider .item-first img.dk-show,#packages-starter-slider .item-first img.dk-show{display:none!important}
#packages-complete-slider .item-first img.tb-show,#packages-advance-slider .item-first img.tb-show,#packages-starter-slider .item-first img.tb-show{display:block!important}
#packages-advance-slider .item-first img.advanced-kit-scr-970,#packages-starter-slider .item-first img.advanced-kit-scr-970{display:none!important}
#packages-complete-slider,#packages-advance-slider,#packages-starter-slider{height:376px;min-height:269px}
#packages-complete-slider .best-seller{background-size:75px auto;width:75px}
#packages-complete-slider .prod-image,#packages-advance-slider .prod-image,#packages-starter-slider .prod-image{padding-top:24px}
#packages-complete-details label,#packages-advance-details label{font-size:13px;letter-spacing:0}
.packages-inside ul li{font-size:13px;letter-spacing:0}
.inc-det-l{font-size:22px}
.inc-det-r{font-size:14px}
.price-addtobag a.btn{margin-top:0}
.price-addtobag{margin-top:0}
#packages-complete-slider .packages-prod-details h3,#packages-advance-slider .packages-prod-details h3,#packages-starter-slider .packages-prod-details h3{font-size:30px;line-height:30px}
#packages-complete-slider .packages-prod-details h3 span,#packages-advance-slider .packages-prod-details h3 span,#packages-starter-slider .packages-prod-details h3 span{font-size:18px;line-height:18px}
#packages-complete-slider .packages-prod-details p.price-prod,#packages-advance-slider .packages-prod-details .price-prod,#packages-starter-slider .packages-prod-details .price-prod{padding:0;margin-bottom:15px;font-size:22px}
#packages-complete-slider .packages-prod-details p,#packages-advance-slider .packages-prod-details p,#packages-starter-slider .packages-prod-details p{font-size:18px;line-height:22px;padding:0 50px 0 0}
#packages-complete-slider .packages-prod-details,#packages-advance-slider .packages-prod-details,#packages-starter-slider .packages-prod-details{padding-top:30px}
#rumor-has-it h2.section-title{margin:60px 0 20px}
#rumor-has-it p{margin:0 0 50px}
#footer-top .site-footer__links li{padding:0 7px}
.site-footer__links a{font-size:12px}
#footer-top .info li{font-size:12.5px}
.results-app-content{margin-top:20px}
.results-app-content p{margin-bottom:30px}
.app-play{margin-top:0}
.time-cart span.wanit{display:inline-block;vertical-align:middle}
.time-cart img{display:inline-block;vertical-align:middle;margin:0 10px}
.time-cart span.time-grounp{display:inline-block;vertical-align:middle}
.time-cart span.time-grounp span.time-top,.time-cart span.time-grounp span.time-bottom{display:block;line-height:18px}
#cart .summary{padding:5px}
#cart .button-group{margin-top:30px;text-align:center;padding:0}
#cart .button-group .bottom-buttons p.promotional{margin:0 0 15px}
#cart .button-group .bottom-buttons p.promotional span{display:inline!important}
#cart .button-group .bottom-buttons{display:block;margin:0 auto;max-width:100%;width:100%}
.checkout-group{margin:0 auto 30px;max-width:470px}
.extra-checkout-buttons.amazon-btn,.extra-checkout-buttons{background-size:470px auto;margin:0 auto 30px;max-width:470px;width:100%}
.extra-checkout-buttons{-pie-background-image:url({{ 'paypal-checkout-750.png' | asset_url }});background-image:url({{ 'paypal-checkout-750.png' | asset_url }})}
.extra-checkout-buttons.amazon-btn{-pie-background-image:url({{ 'chekout-amazon-btn-750.png' | asset_url }});background-image:url({{ 'chekout-amazon-btn-750.png' | asset_url }})}
#cart-guarantees{margin-top:20px;padding:35px 0;border-bottom:1px solid #cfcfcf}
#cart-guarantees .three-day-money-back,#cart-guarantees .lifetime-satisfaction{display:inline-block;float:left;text-align:left;width:50%;margin:0}
#cart-guarantees .guatantees-text p{padding-right:40px}
#cart .other_seal{border-top:medium none;display:inline-block;float:none;margin-top:0;max-width:292px;padding-bottom:10px;padding-top:30px}
#cart form.cart{margin-bottom:0}
.template-cart .main-content{padding-bottom:15px}
}
@media screen and (max-width: 991px) {
#guatantees .learnmore-link p{font-size:14px}
#text-testimonials .item h5{font-size:26px;line-height:26px;margin:15px 0 0}
#home-results .results-title-top h3{font-size:30px;line-height:40px}
#shop{padding-top:40px}
#page-faq .section-header h1 span{display:block}
.content-tab .page-item ul li{padding-left:0}
#tab-page-title ul.nav-faq li:first-child{padding-left:15px}
.content-tab .page-item ul li .content-p,.content-tab .page-item ul li .content-p p{padding-left:8.33333%}
.contact-page h1.section-header__title{font-size:36px}
.contact-page p.text-form{margin:10px 0 30px}
.contact-page .section-text p,.contact-page p.text-form,.link-faq p{font-size:16px;font-weight:300;letter-spacing:.2px;line-height:26px}
.contact-page #contact_form input{margin-bottom:0}
.contact-page #contact_form input#submitButton{margin-top:40px}
.contact-page .section-text p.email-top,.contact-page .section-text p.phone-top{font-size:26px;line-height:36px}
.sidebar-dk{display:none!important}
.template-article .article-body h1.post_title{font-size:30px;line-height:40px}
.template-article #blog .articles .article .post_content,.template-article #article-content p,.template-article #article-content ul li,.template-article #article-content ol li{font-size:14px;line-height:24px}
#comments .comment-title-second,#comments .author,#comments .author .date,#comments .comment-content p{font-size:14px;line-height:24px}
.newsletter-subscribe form{display:inline-block;text-align:center;width:100%;margin:0 0 10px}
.newsletter-subscribe form input#mail{margin:0 30px 0 0;max-width:345px;vertical-align:middle;display:inline-block;float:none}
.newsletter-subscribe form input#subscribe{display:inline-block;float:none;max-width:220px;vertical-align:middle}
.blog-loadmore{margin:0;text-align:center}
.blog-article .sidebar{margin-top:60px}
.blog-loadmore a{font-size:20px;line-height:26px;text-align:center;text-transform:uppercase}
.follow-social{border-bottom:2px solid #d3d3d3;border-top:2px solid #d3d3d3;padding:30px 0 0}
.template-blog .pagination-wrapp{display:none}
.sidebar-tablet ul.most-popular{margin:0 -15px}
.sidebar .most-popular .article{margin:0;padding:0 15px}
.sidebar .most-popular .article .image-thumb{display:inline-block;height:auto;width:100%}
.sidebar .most-popular .article .image-thumb img{height:auto;max-width:100%;width:100%}
.sidebar .most-popular .article h3{font-size:14px;letter-spacing:.5px;line-height:20px;margin:15px 0 0;width:100%;min-height:90px}
.sidebar .most-popular .article h3 a{display:inline-block;font-size:14px;letter-spacing:.5px;line-height:20px;width:100%}
.sidebar .most-popular .article:last-child{border-bottom:medium none}
#cart-guarantees .desktop-show{display:none!important}
.time-cart{border:1px solid #999;padding:15px 5px;margin-top:20px}
#cart .section-header{margin-bottom:0}
#cart .summary .text-small{margin-left:7px;position:initial}
#cart .summary .estimated{margin-bottom:0;float:left}
#cart .summary .whatthis h4{line-height:14px}
#cart .summary .whatthis{float:left}
#cart .summary .update{margin-top:5px}
#cart .summary.update-wrapp{padding:5px 0}
.discount-code-field button{max-width:114px}
#cart .summary .update-btn{max-width:157px}
.discount-code-field{margin:55px 0 40px}
.discount-code-field input{max-width:320px}
ul.social-icons{margin-bottom:20px}
.newsletter-subscribe{border-bottom:2px solid #d3d3d3;margin:0 0 30px;padding-bottom:30px;padding-top:30px;text-align:center}
.sidebar .face-feed{border-bottom:0 solid #d3d3d3;border-top:2px solid #d3d3d3;margin-top:40px}
.sidebar .sidebar-title span{display:inline!important}
.site-footer .grid__item{margin-bottom:5px}
#footer-top .site-footer__links,#footer-top .info{margin:10px 0 0}
.advanced-kit-scr-1170{display:none}
.scr-970{display:none}
p.sub-section-title{font-size:26px}
.mainmenu-wrapp ul li{margin:0 0 0 15px}
.mainmenu-wrapp ul li a{font-size:12px}
#promo-img .caption-promo .caption-text h1{font-size:40px;line-height:50px;margin:0 0 40px}
#promo-img .caption-promo .caption-text p{font-size:12px;letter-spacing:-.5px;line-height:20px;margin:0 0 10px}
}
@media screen and (min-width: 768px) {
.desktop-hidden{display:none!important}
#packages .mb-show{display:none}
.approved-logo.foot-mb{display:none}
.cart-item .toogle-button{display:none}
#menu-icon{display:none}
.tablet-mb-show{display:none!important}
.scr-750{display:none}
.advanced-kit-scr-750{display:none}
.prm-750,.prm-480{display:none}
#product-sync1.owl-theme .owl-controls{display:none!important}
.tb-show{display:none!important}
.post-mobile{display:none}
}
@media screen and (max-width: 767px) and (min-width: 640px) {
.contact-page label.error-text{top:35px}
#hassle-free-video h2.section-title{font-size:36px;line-height:40px;margin:25px 0 10px}
.prm-480{display:none}
#packages-complete-slider .prod-image{padding-top:20px}
#packages-complete-slider .packages-prod-details{padding-top:20px}
#packages-complete-slider .packages-prod-details h3,#packages-advance-slider .packages-prod-details h3,#packages-starter-slider .packages-prod-details h3{font-size:30px!important;letter-spacing:0;line-height:34px!important}
#packages-complete-details label,#packages-advance-details label{font-size:18px;font-weight:400;letter-spacing:0}
#packages-complete-details .a-col,#packages-complete-details .b-col,#packages-advance-details .a-col,#packages-advance-details .b-col{padding:0 10px}
.regime-timer{display:inline-block;width:100%;margin:0}
.price-addtobag a.btn{margin:0 auto 5px!important}
.packages-inside ul li{font-size:16px!important}
#packages-complete-slider .packages-prod-details p,#packages-advance-slider .description p,#packages-starter-slider .description p{font-size:18px!important;line-height:24px!important}
}
@media screen and (max-width: 767px) {
#testimonials{padding-bottom:40px}
#packages .tb-show{display:none}
#packages-complete-slider .best-seller{display:none}
.clinically-tested-img img{max-width:260px}
#page-faq .section-header h1{font-size:30px;line-height:30px;margin:10px 0 20px}
#tab-page-title ul.nav-faq li label{font-size:12px;letter-spacing:0}
#tab-page-title ul.nav-faq li{padding:0 10px}
#tab-page-title ul.nav-faq li:first-child{padding-left:0}
.content-tab .page-item ul li h3{font-size:24px;line-height:30px}
.content-tab .page-item ul li .content-p,.content-tab .page-item ul li .content-p p{padding-left:0;padding-right:0}
#about-the-products ul li:last-child .content-p p{margin:0 0 20px}
.contact-page h1.section-header__title{margin-top:10px;font-size:30px}
.contact-page .section-text p.email-top,.contact-page .section-text p.phone-top{font-size:22px;line-height:32px;margin:20px 0 10px}
.contact-page .line-c{margin-bottom:20px;margin-top:20px}
.contact-page label.error-text{top:38px}
.contact-page #contact_form input,.contact-page #contact_form #ContactFormMessage,.contact-page label.error-text{font-size:16px}
.post-tablet{display:none}
.dk-show{display:none!important}
.article-bt-wrapp .most-popular .article h3{min-height:90px}
#comments .label-wrapp{padding:0}
.article-wrapp .article-img .post_title,.article-sub.article-wrapp .article-img .post_title{font-size:20px;line-height:30px}
.article-wrapp .article-img .date-read .date,.article-sub.article-wrapp .article-img .date-read .date{font-size:10px}
.article-wrapp .article-img .date-read a.read_more,.article-sub.article-wrapp .article-img .date-read a.read_more{font-size:16px;line-height:20px}
.article-wrapp .post_content,.article-sub.article-wrapp .post_content{font-size:14px;line-height:24px;max-width:100%;margin:25px 0}
.blog-loadmore{margin:0;text-align:center}
.blog-article .sidebar{margin-top:60px}
.newsletter-subscribe form input#mail{margin:0 15px 0 0;max-width:280px}
.newsletter-subscribe form input#subscribe{max-width:140px}
.article-wrapp .comt-share{margin-bottom:35px}
.article-top.article-wrapp{margin-bottom:0}
.blog-article #cd-menu-trigger-mobile{height:50px;line-height:50px}
.blog-article #cd-lateral-nav-mobile{top:49px}
.blog-article #menu-icon a.cart{display:none}
.blog-article #menu-icon{float:left;text-align:left}
.blog-article #header .blog-social{float:right;text-align:right}
.blog-article #blog-head{height:190px;min-height:190px}
.template-blog #blog-head{background-image:url({{ 'header-bg-480.jpg' | asset_url }});height:190px;min-height:190px}
#blog-head img{max-width:280px;top:65%}
#footer-bottom .approved-logo.foot-dk .shopperlink{display:none}
#footer-bottom .approved-logo.foot-mb{text-align:center}
#footer-bottom a.shopperlink img{max-width:100px}
#cart .section-header__title{border-bottom:1px solid #cfcfcf;margin:5px 0 0;padding-bottom:20px;text-align:left}
#cart .cart-table{margin-top:15px}
.cart-body .item-wrap{display:inline-block;width:100%;float:left}
.cart-body .list-item{display:inline-block;width:100%;float:left}
.cart-item{display:inline-block;height:auto;line-height:100%;padding:5px 0 20px;width:100%;text-align:right;position:relative}
.cart-item .item .tile-descrip{display:block;left:0;position:absolute;right:auto;top:0;width:100%;text-align:left}
.tile-descrip .title{display:block;font-size:26px;font-weight:600;letter-spacing:0;line-height:30px;margin:0}
.cart-item .toogle-button{background-image:url({{ 'arrow-bottom.png' | asset_url }});background-position:0 0;background-repeat:no-repeat;background-size:30px auto;height:16px;left:auto;position:absolute;right:0;text-indent:99999px;top:10px;width:30px;cursor:pointer}
.cart-item .toogle-button.open{background-image:url({{ 'arrow-top.png' | asset_url }})}
.cart-body .price,.cart-body .qty,.cart-body .remove,.cart-body .price_total{display:inline-block;margin-top:80px;padding:0;text-align:center;width:21%;position:relative}
.cart-body .remove a{display:inline-block;float:none;margin:0 auto;text-align:center}
.cart-body .qty input{font-size:20px;height:40px;line-height:38px;padding:0;width:40px}
.cart-body .price{font-size:20px;line-height:40px}
.cart-body .price_total{font-size:20px;line-height:40px;font-weight:600}
.cart-body .remove i{margin:0;height:40px;width:40px;background-size:40px auto}
.cart-body .remove a:hover i{background-position:0 -40px}
.cart-body .price:before{content:"Price";color:#7a7a7a;font-family:proxima-nova-condensed, sans-serif;font-size:20px;font-weight:400;left:0;letter-spacing:1;line-height:30px;position:absolute;right:0;top:-35px}
.cart-body .qty:before{color:#7a7a7a;content:"Quantity";font-family:proxima-nova-condensed, sans-serif;font-size:20px;font-weight:400;left:0;letter-spacing:1;line-height:30px;position:absolute;right:0;top:-48px}
.cart-body .remove:before{content:"Remove";color:#7a7a7a;font-family:proxima-nova-condensed, sans-serif;font-size:20px;font-weight:400;left:0;letter-spacing:1;line-height:30px;position:absolute;right:0;top:-48px}
.cart-body .price_total:before{content:"Total";color:#7a7a7a;font-family:proxima-nova-condensed, sans-serif;font-size:20px;font-weight:400;left:0;letter-spacing:1;line-height:30px;position:absolute;right:0;top:-48px}
.cart-item .item img,.cart-item .item .tile-descrip ul{display:none}
.cart-item.padding-toggle .item img,.cart-item.padding-toggle .item .tile-descrip ul{display:block}
.cart-item .item img{left:0;position:absolute;right:auto;top:140px}
.cart-item .item .tile-descrip ul{left:120px;margin:0;position:absolute;top:140px;width:auto}
.cart-item .item .tile-descrip ul.ul-free-gift{left:308px}
.cart-item.padding-toggle{padding-bottom:200px}
.cart-item .item .tile-descrip ul li{font-size:20px;line-height:24px}
.tile-descrip ul label{font-size:20px;line-height:24px}
#cart .summary .subtotal{margin-top:5px}
#cart .summary .subtotal .shipping,#cart .summary .subtotal .shipping-free,#cart .summary .total-saving .your-saving,#cart .summary .total-saving .total_saving_money,#cart .summary .estimated-discount .your-discount,#cart .summary .estimated-discount .total_discount_money{font-size:20px}
#cart .summary .estimated .estimated-total{font-size:20px;text-align:left}
#cart .summary .estimated .total-all{font-size:20px}
#cart .summary .text-small{display:block;font-size:15px;margin-left:0}
#cart .summary .whatthis h4{font-size:16px}
#cart .summary .whatthis{margin-top:17px}
.tooltip-whatthis h5{font-size:20px}
.tooltip-whatthis p{font-size:18px}
.tooltip-whatthis{left:0;margin:0 auto;max-width:350px;position:absolute;padding:5px 27px;right:0;top:25px}
.discount-code-field label{display:inline-block;font-size:18px;font-weight:500;line-height:20px;margin:0;position:initial;vertical-align:middle}
.discount-code-field .error-messager{font-size:13px;line-height:16px;padding-left:156px;max-width:100%}
.cart-body{text-align:center}
.time-cart{float:none;margin:20px auto 0;max-width:450px;padding:0;width:100%}
.time-cart p{padding:10px 0}
.time-cart span.wanit{display:inline-block;font-size:16px;letter-spacing:.25px;line-height:18px;max-width:80px;vertical-align:middle}
.time-cart img{display:inline-block;vertical-align:middle;margin:0 8px}
.time-cart span.time-grounp{display:inline-block;vertical-align:middle;text-align:left;line-height:30px}
.time-cart span.time-grounp span.time-top,.time-cart span.time-grounp span.time-bottom{display:block;line-height:18px;letter-spacing:.25px}
#cart-guarantees{margin-top:10px}
#cart .button-group .bottom-buttons{max-width:450px}
.extra-checkout-buttons.amazon-btn,.extra-checkout-buttons{background-size:450px auto;margin:0 auto 30px;max-width:450px;width:100%}
.extra-checkout-buttons{-pie-background-image:url({{ 'paypal-checkout-480.png' | asset_url }});background-image:url({{ 'paypal-checkout-480.png' | asset_url }})}
.extra-checkout-buttons.amazon-btn{-pie-background-image:url({{ 'chekout-amazon-btn-480.png' | asset_url }});background-image:url({{ 'chekout-amazon-btn-480.png' | asset_url }})}
#cart-guarantees{border-bottom:1px solid #ddd;margin-bottom:30px;margin-top:20px;padding:35px 0 25px}
#cart-guarantees .three-day-money-back,#cart-guarantees .lifetime-satisfaction{display:inline-block;float:left;text-align:left;width:50%;margin:0}
#cart-guarantees .three-day-money-back .guatantees-img,#cart-guarantees .lifetime-satisfaction .guatantees-img{display:block;padding:0;text-align:center;width:100%;margin:0 0 20px}
#cart-guarantees .guatantees-text{margin:0;padding:0;text-align:center}
#cart-guarantees .guatantees-text p{font-size:16px;line-height:20px;padding:0 7px}
#cart .other_seal{border-top:medium none;display:inline-block;float:none;margin-top:0;max-width:450px;padding-top:0}
#cart .button-group{margin-top:0;text-align:center}
#cart .button-group .bottom-buttons p.promotional span{display:inline!important}
#cart .button-group .bottom-buttons p.promotional{font-size:16px;letter-spacing:-.3px;line-height:26px;margin:20px 0 10px}
#cart .other_seal img{max-width:115px;margin:0 20px}
#cart .summary{text-align:center;float:none;width:100%}
.discount-code-field{display:inline-block;float:none;margin:40px auto;max-width:450px;width:100%}
.discount-code-field label span{display:block}
.discount-code-field input{display:inline-block;height:40px;line-height:40px;margin:0 10px;max-width:160px;vertical-align:middle}
.discount-code-field button,#cart .summary .update-btn{height:40px;line-height:38px;margin-left:5px}
.cart-headline{display:none}
.template-cart #menu-icon{display:none}
#results-video-slide #sync2 .owl-next,#results-video-slide #sync2 .owl-prev{background-size:10px auto;height:20px;width:10px}
#results-text-wrapp .results-text-group{display:block;text-align:center;width:100%}
#results-text-wrapp .results-text{display:inline-block;float:none;margin:20px 0;text-align:center;vertical-align:initial;width:100%}
#results-text-wrapp .results-text h3{text-align:center}
#results-text-wrapp .results-text h3 span,#results-text-wrapp .results-text p span{display:inline}
#results-text-wrapp .results-text h1,#results-text-wrapp .results-text p{display:block;text-align:center}
.desktop-show{display:none!important}
.prm-dk{display:none}
.image-slide-gp{position:relative}
#promo-img .caption-promo .caption-text h4{font-size:26px;line-height:30px}
#promo-img .caption-text{text-align:center}
#promo-img .caption-text h1 span{display:block}
#promo-img .slider-image img{margin-top:30%;margin-bottom:45px}
#promo-img .learn-more-button a.arrow-btn{display:none}
#header{padding:25px 0}
#menu-icon a.cart{margin-right:30px}
#menu-icon{text-align:right}
.mainmenu-wrapp{display:none}
.advanced-kit-scr-970{display:none}
h2.section-title{font-size:32px}
#promo-img{height:100%;min-height:100%;margin-bottom:20px}
#promo-img .learn-more-button{bottom:-28px;width:280px}
#promo-img .learn-more-button .btn{background:rgba(200,165,87,0.9) none repeat scroll 0 0;font-size:26px;height:60px;line-height:60px;max-width:100%;width:100%}
#promo-img .learn-more-button .btn:hover,#promo-img .learn-more-button .btn:focus{background:rgba(4,15,0,1) none repeat scroll 0 0}
#promo-img .caption-promo .caption-text p{padding:0 20px;font-size:15px;line-height:23px}
#promo-img .clinically-tested{left:15px;top:32%}
#promo-img .clinically-tested img{max-width:100px}
#results-app h2.section-title{font-size:32px;line-height:40px;margin:0 0 15px}
.slide-video-popup{border:medium none;width:100%}
.slide-video-popup .slide-video-play a{background:#c8a557 none repeat scroll 0 0;display:block;height:50px;left:50%;line-height:48px;position:absolute;text-align:center;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:50px}
.slide-video-popup .slide-video-play a:hover,.slide-video-popup .slide-video-play a:focus{background:#000 none repeat scroll 0 0}
.slide-video-popup .slide-video-play a img{max-width:16px}
#results-video-slide #sync2 .owl-prev{left:5px}
#results-video-slide #sync2 .owl-next{right:5px}
#results-text-wrapp .results-text h3{font-size:30px}
.results-app-content{margin-top:40px;text-align:left}
.results-app-content h3.results-app-title{font-size:22px;letter-spacing:.25px;line-height:30px;margin:20px 0 5px;text-transform:uppercase}
#text-testimonials .item h5{font-size:24px;line-height:26px;margin:0}
#text-testimonials .item h5 span{font-size:14px}
#testimonials p.dot-hana{font-size:28px;line-height:28px;margin:30px 0 0}
#video-testimonials .tes-img-wrapp{padding:10px}
#video-testimonials .item .play-button{width:80px;height:80px}
#video-testimonials .item .play-button img{max-width:24px}
#home-results .results-title-top h3{font-size:26px;line-height:34px}
.results-app-content p{font-size:14px;line-height:22px;margin-bottom:20px}
.results-app-img{margin-top:0;text-align:center}
.app-play a.app-store-btn{margin:0 0 15px;display:block}
.app-play a.google-play-btn{margin:0 0 15px;display:block}
.app-play{margin-top:0}
#results-app{padding-bottom:50px;padding-top:50px}
#home-medical p.scr-750{line-height:24px;margin-bottom:0;padding:0 15px}
#home-medical{background:#efe9e8 none repeat scroll 0 0;height:100%;padding:0;overflow:hidden}
#home-medical .home-medical-wp{width:100%;margin:0}
#home-medical h2{font-size:40px;line-height:40px;margin-bottom:60px;margin-top:60px;position:relative;text-align:center;z-index:1}
#home-medical p{font-size:16px;letter-spacing:.3px;line-height:26px;text-align:center;margin:0}
#home-medical h4{font-size:26px;line-height:26px;margin:40px 0 20px}
#home-medical .medical-text-bt{position:initial}
.clinically-tested-img{float:none;margin:0 0 20px;padding-top:0;text-align:center}
.medical-text-bt{position:absolute;bottom:0;left:0;right:0;text-align:center}
.medical-text-bt h4{font-size:24px;line-height:30px;margin:0 0 20px;text-align:center}
.medical-text-bt p{text-align:center!important;margin:0 0 15px!important}
#home-clinically-tested h2.section-title{padding:0 15px;margin:0 0 30px}
#home-clinically-tested .clinically-tested-text ul{padding:0 30px;text-align:left}
#home-clinically-tested p,#home-clinically-tested .clinically-tested-text ul li{font-size:15px;line-height:30px;margin-bottom:20px}
.clinically-tested-text{text-align:center}
#hassle-free-video{height:500px;min-height:500px}
#guatantees{text-align:center}
.guatantees-img{margin-bottom:30px}
.guatantees-img img{max-width:280px}
.guatantees-text p{font-size:17px;line-height:23px;padding:0}
.desktop-img img{display:none}
.mobile-img,.mobile-img img{display:inline-block!important}
p.sub-section-title{font-size:24px}
#product-sync1 .prod-image{text-align:center}
#product-sync1{margin-top:20px}
#product-sync1.owl-theme .owl-controls .owl-pagination{display:none!important;left:50%;position:absolute;top:-30px;-webkit-transform:translate(-50%,0px);-moz-transform:translate(-50%,0px);-o-transform:translate(-50%,0px);-ms-transform:translate(-50%,0px);transform:translate(-50%,0px)}
#product-sync1 .owl-next,#product-sync1 .owl-prev{background-color:transparent;background-repeat:no-repeat;background-size:20px auto;height:40px;margin:0;padding:0;position:absolute;text-indent:-9999px;top:40%;-webkit-transform:translate(0,-40%);-moz-transform:translate(0,-40%);-o-transform:translate(0,-40%);-ms-transform:translate(0,-40%);transform:translate(0,-40%);width:20px;opacity:1}
#product-sync1 .owl-prev{background-image:url({{ 'arrow-left-thumb.png' | asset_url }});left:15px;right:auto}
#product-sync1 .owl-next{right:15px;left:auto;background-image:url({{ 'arrow-right-thumb.png' | asset_url }})}
#product-sync1.owl-theme .owl-controls .owl-page.active span{background:#c8a557 none repeat scroll 0 0}
#product-sync1.owl-theme .owl-controls .owl-page span{background:#fff none repeat scroll 0 0;border:1px solid #a1a1a1}
#product-sync1 .prod-details-bt{margin-top:40px}
#product-sync1 .prod-details p{font-size:18px;line-height:28px;margin-top:20px;padding-right:20px;width:66%}
#product-sync1 .results-video-popup a.results-play-btn{background-image:url({{ 'seehow-btn-480.png' | asset_url }});background-size:250px auto;height:40px;width:250px}
#product-sync1 .results-video-popup a.results-play-btn:hover{background-position:0 -40px}
.prod-details .video-buy .prod-video{display:inline-block;width:100%}
.prod-details .video-buy .prod-video img{width:100%}
#product-sync1 .prod-details .video-buy{float:left;width:100%}
.prod-details .video-buy .prod-video a{bottom:1px;left:1px;right:auto;top:auto;-webkit-transform:translate(0px,0px);-moz-transform:translate(0px,0px);-o-transform:translate(0px,0px);-ms-transform:translate(0px,0px);transform:translate(0px,0px)}
.prod-details .video-buy .prod-video img{display:block;width:100%}
.prod-details .video-buy .prod-buy{display:block}
.prod-details .video-buy .prod-buy .quan-up-down::before{font-size:20px;line-height:20px;top:-28px}
#product-sync1 .prod-details .video-buy .prod-buy .price-prod{font-size:36px;line-height:36px;margin:0 0 40px;width:100%}
.prod-details .video-buy .prod-buy .quan-up-down{margin-right:40px;width:auto}
.prod-details .video-buy .prod-buy .addtobad{display:inline;font-size:24px;height:50px;letter-spacing:3px;line-height:48px;margin:0;max-width:278px;width:100%}
.prod-details .video-buy .prod-buy .quan-up-down input.quantity,.prod-details .video-buy .prod-buy .quan-up-down a.down,.prod-details .video-buy .prod-buy .quan-up-down a.up{height:50px;width:50px;line-height:50px}
.prod-details .video-buy .prod-buy .quan-up-down input.quantity{font-size:30px}
.prod-details .video-buy .prod-buy .quan-up-down a.up::before,.prod-details .video-buy .prod-buy .quan-up-down a.down::before{top:23px;width:13px}
.prod-details .video-buy .prod-buy .quan-up-down a.up::after{height:13px;top:16.5px}
p.packages-sub-text{margin-bottom:70px}
#testimonials .item img{width:100%}
#product-sync1 .prod-details h3{font-size:40px;margin:36px 0 30px}
#product-sync1 .prod-details h1{font-size:105px;line-height:95px}
#product-sync1 .prod-details h3 span{font-size:22px}
#product-sync1 .prod-image img{max-width:60%}
#packages-complete-slider .packages-prod-details .price-prod,#packages-advance-slider .packages-prod-details .price-prod,#packages-starter-slider .packages-prod-details .price-prod{font-size:22px;line-height:22px;margin:0 0 25px;padding:0}
#packages-complete-slider .prod-image a img{max-width:100%}
.packages-inside ul li{font-size:16px}
.packages-inside .price-addtobag{border-top:1px solid #d6d6d6;padding-top:20px;display:inline-block;width:100%}
.packages-inside .price-addtobag p{display:inline-block;width:100%}
.inc-det-l{font-size:30px}
.inc-det-r{font-size:23px}
.price-addtobag a.btn{display:inline-block;font-size:26px;font-weight:600;height:60px;letter-spacing:3px;line-height:60px;margin:0 auto 20px;float:none;max-width:360px}
#packages-complete-details,#packages-advance-details{padding:30px 15px 10px}
#packages-complete-slider .packages-prod-details h3,#packages-advance-slider .packages-prod-details h3,#packages-starter-slider .packages-prod-details h3{font-size:26px;line-height:26px;margin:0 0 15px}
#packages-complete-slider .packages-prod-details h3 span,#packages-advance-slider .packages-prod-details h3 span,#packages-starter-slider .packages-prod-details h3 span{font-size:18px;line-height:18px;padding:0}
#packages-complete-slider .packages-prod-details,#packages-advance-slider .packages-prod-details,#packages-starter-slider .packages-prod-details{padding-top:50px}
#packages-complete-slider .packages-prod-details p,#packages-advance-slider .description p,#packages-starter-slider .description p{font-size:16px;line-height:22px;margin:0;padding:0 40px 0 0}
#packages-complete-slider .prod-image a img,.advance-item img,.starter-item img{padding-top:10%}
#packages-complete-slider,#packages-advance-slider,#packages-starter-slider{height:100%;min-height:100%}
#packages-complete-slider .owl-wrapper-outer{border:none}
#footer-top .site-footer__links li{padding:0 15px;font-size:12.5px}
#footer-top .info li{font-size:12.5px;padding:0 15px}
#rumor-has-it .logo-row1{float:none;margin:0 auto;max-width:450px;text-align:center}
#rumor-has-it .logo-br:nth-child(1){width:37%}
#rumor-has-it .logo-br:nth-child(2){width:60%}
#rumor-has-it .logo-br:nth-child(3){text-align:left;width:50%}
#rumor-has-it .logo-br:nth-child(4){width:42%}
#rumor-has-it .logo-br:nth-child(5){width:47%}
#rumor-has-it .logo-br:nth-child(6){width:47%}
#rumor-has-it .logo-br:nth-child(7){width:100%}
}
@media screen and (max-width: 749px) and (min-width: 640px) {
#packages-complete-slider .packages-prod-details,#packages-advance-slider .packages-prod-details,#packages-starter-slider .packages-prod-details{padding-top:5%}
#packages-complete-slider .packages-prod-details h3,#packages-advance-slider .packages-prod-details h3,#packages-starter-slider .packages-prod-details h3{font-size:24px;line-height:24px;margin:0 0 10px}
#packages-complete-slider .packages-prod-details .price-prod,#packages-advance-slider .packages-prod-details .price-prod,#packages-starter-slider .packages-prod-details .price-prod{font-size:22px;padding:0 0 15px;margin:0}
#packages-complete-slider .packages-prod-details p,#packages-advance-slider .description p,#packages-starter-slider .description p{font-size:14px;line-height:20px;padding-bottom:0;padding-right:38px}
ul.free-gifts-details{padding:0}
.packages-inside ul li{font-size:13px}
#product-sync1 .prod-details p{display:inline-block;float:left;font-size:16px;line-height:26px;margin:0 0 30px;padding-right:0;width:100%}
#product-sync1 .prod-details h1{font-size:80px;line-height:105px}
#rumor-has-it .logo-br.allure img{max-width:150px}
#rumor-has-it .logo-br.maria-claire img{max-width:240px}
#rumor-has-it .logo-br.the-beauti-look-book img{max-width:314px}
#rumor-has-it .logo-br.healthy-aging img{max-width:154px}
#rumor-has-it .logo-br.elle img{max-width:153px}
#rumor-has-it .logo-br.rae-viewer img{max-width:268px}
#rumor-has-it .logo-br.estee-lalonde img{max-width:260px}
#rumor-has-it .logo-br.maskcara img{max-width:160px}
#footer-top .site-footer__links li{font-size:11px;padding:0 10px}
#footer-top .info li{font-size:11.5px;padding:0 10px}
}
@media screen and (min-width: 640px) {
.bg-top-video-mb{display:none}
.video-app-mb{display:none}
#packages-complete-mobile,#packages-advance-mobile,#packages-starter-mobile{display:none!important}
.results-app-img h3.results-app-title.show-mobile,.results-app-img p.show-mobile{display:none}
}
@media screen and (max-width: 639px) {
.full-mobile{padding:0}
#results-text-wrapp p.small-text{text-align:center}
#guatantees .learnmore-link p{font-size:12px;margin:20px 0 0}
.results-app-content h3.results-app-title.show-dektop,.results-app-content p.show-dektop{display:none}
.results-app-img h3.results-app-title.show-mobile{font-size:26px;letter-spacing:.25px;line-height:30px;margin:20px 0 5px;text-transform:uppercase}
.results-app-img p.show-mobile{font-size:16px;line-height:30px;margin-bottom:20px}
#promo-img .slider-image img{margin-top:50%}
#packages-advance-mobile .item-first img,#packages-starter-wrapp .item-first img{width:100%}
#results-video-slide #sync1{margin:0 auto;max-width:450px}
#results-video-slide #sync1 .item img{width:100%}
#results-app h2.section-title{font-size:40px;line-height:50px;padding:0 15px}
.results-app-content p{padding:0 15px}
#results-app .results-video-popup{padding:0 5px}
#results-app .results-video-popup .bg-hover-results{padding:0 5px;position:relative}
#results-app .results-video-popup .bg-hover-results:after{background:rgba(0,0,0,0.2) none repeat scroll 0 0;content:"";height:100%;left:0;position:absolute;right:0;top:0;width:100%}
#results-app .results-video-popup .bg-hover-results img{width:100%}
.popup-result-image-wrapp a.play_result_video{font-size:24px;max-width:320px}
#packages-complete-desktop,#packages-advance-desktop,#packages-starter-desktop{display:none!important}
#packages .tb-show{display:none}
.prm-750{display:none}
.video-app-dk{display:none}
.bg-top-video-tablet{display:none!important}
.caption-text p{font-size:16px;line-height:26px}
#promo-img .clinically-tested{max-width:100px;top:40%}
#promo-img .caption-promo .caption-text a.play-button{height:70px;line-height:70px;width:70px}
#promo-img .caption-promo .caption-text a.play-button img{max-width:27px}
#home-results{padding:50px 0 0}
#results-video-slide #sync1 .item a{font-size:20px}
#results-text-wrapp{padding:50px 0 20px}
.results-app-content{margin-top:40px;text-align:center;width:100%;padding:0}
#results-app .results-video-popup a.results-play-btn{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:.85;z-index:999}
.results-app-img{margin-top:10px;width:100%}
.results-app-content .app-play{display:none}
.results-app-img .app-play{display:inline-block;width:100%}
.results-app-img .app-play a:first-child{margin-left:0}
.results-app-img .app-play a:last-child{margin-right:0}
.results-app-img .app-play a{margin:0 10px;display:inline-block}
.results-app-img img{max-width:320px}
#home-medical{background:#efe9e8 none repeat scroll 0 0;height:100%;padding:0;overflow:hidden}
#home-medical .home-medical-wp{width:100%;margin:0}
#home-medical h2{font-size:40px;line-height:40px;margin-bottom:60px;margin-top:60px;position:relative;text-align:center;z-index:1}
#home-medical p{font-size:16px;letter-spacing:.3px;line-height:26px;text-align:center;margin:0}
#home-medical h4{font-size:26px;line-height:26px;margin:40px 0 20px}
.medical-text-bt{position:initial}
.medical-text-bt img{margin:-50px 0 -20px;width:100%}
#home-clinically-tested p,#home-clinically-tested .clinically-tested-text ul li{font-size:16px;line-height:30px}
#home-clinically-tested p.clinically-italic,#home-clinically-tested p.clinically-yellow{font-size:20px;line-height:30px}
#hassle-free-video h2.section-title{font-size:40px;line-height:50px;margin:40px 0 15px}
#hassle-free-video .hassle-title p{font-size:16px;line-height:26px;max-width:100%;padding:0}
#hassle-free-video .hassle-title p span{display:inline!important}
.guatantees-img{display:inline-block;margin-bottom:30px;width:100%;max-width:240px}
.guatantees-text{display:inline-block;float:none;text-align:center;vertical-align:middle;width:100%}
.guatantees-text p{font-size:16px;line-height:26px}
h2.section-title{font-size:32px;line-height:36px}
#product-sync1 .prod-details h1{font-size:72px;line-height:110px}
#footer-top .site-footer__links,#footer-top .info{margin:0;text-align:left;padding-bottom:0}
#footer-top .info li{display:block;font-size:16px;line-height:70px;margin:0;padding:0}
#footer-top .site-footer__links li{display:block;font-size:12.5px;line-height:70px;padding:0}
#footer-bottom p.copyright{text-align:left}
#hassle-free-video{background-image:url({{ 'bg-video-hassle-480.jpg' | asset_url }});height:500px;min-height:500px}
#video-testimonials::before{margin-bottom:-25px;margin-left:-10px}
#video-testimonials::after{margin-right:-10px;margin-top:-55px}
#product-sync1{margin-top:10px}
#product-sync1.owl-theme .owl-controls .owl-pagination{display:none!important;top:-37px;width:100%}
#product-sync1.owl-theme .owl-controls .owl-page{border:1px solid #bbb;border-radius:20px;margin:0 7.5px;padding:2px}
#product-sync1.owl-theme .owl-controls .owl-page span{background:transparent none repeat scroll 0 0;border:medium none;height:9px;margin:0;width:9px}
#product-sync1.owl-theme .owl-controls .owl-page.active span{background:#c8a557 none repeat scroll 0 0}
#product-sync1 .prod-image img{max-width:85%}
#product-sync1 .prod-details-bt{margin-top:20px;position:relative}
#product-sync1 .prod-details .video-buy{display:block;float:none;left:15px;position:initial;top:0;width:100%}
.prod-details .video-buy .prod-video{display:block;left:0;margin:0 auto;padding:0;position:absolute;right:0;text-align:center;top:-66px;width:auto}
#product-sync1 .prod-details p{font-size:16px;line-height:26px;margin-top:0;margin-bottom:20px;padding-right:0;width:100%}
#product-sync1 .prod-details .video-buy .prod-buy{padding:0}
#product-sync1 .prod-details .video-buy .prod-buy .price-prod{font-size:30px;line-height:30px}
.prod-details .video-buy .prod-buy .quan-up-down::before{font-size:16px;line-height:20px;top:-24px}
.prod-details .video-buy .prod-buy .quan-up-down a.up::before,.prod-details .video-buy .prod-buy .quan-up-down a.down::before{height:2px;top:23px;width:22px}
.prod-details .video-buy .prod-buy .quan-up-down a.up::after{height:22px;top:12.5px;width:2px}
.prod-details .video-buy .prod-buy .quan-up-down{margin-right:20px}
#product-sync1 .results-video-popup a.results-play-btn{display:block;float:none;margin:0 auto}
#product-sync2-wrapp{margin-top:20px}
#packages-complete-wrapp .item-first img{width:100%}
#packages{position:relative;padding:0 0 20px}
#packages h4.packages-sub-title{background:#c8992f none repeat scroll 0 0;color:#fff;font-size:20px;left:0;line-height:30px;margin:0;position:absolute;top:0;width:100%}
#packages h2.section-title{font-size:40px;line-height:40px;padding-top:90px}
p.packages-sub-text{font-size:16px;line-height:26px;margin-bottom:0}
.packages-inside{border:medium none;padding:0}
.packages-advance h3.title,.packages-starter h3.title,.packages-complete h3.title{background:transparent none repeat scroll 0 0;display:inline-block;font-size:40px;margin:0 0 10px;position:initial;width:100%}
.packages-inside-wr{border:medium none}
.packages-subbox{margin-top:30px}
.price-addtobag a.btn{margin:0 auto}
.regime-timer{margin:20px 0 0}
.packages-inside .price-addtobag{border-top:1px solid #d6d6d6;display:inline-block;margin:0;padding-top:30px;width:100%}
.details-collapsed{background:#eee;border-bottom:1px solid #d6d6d6;padding-bottom:0}
.see-details-wrapp{display:inline-block;margin-bottom:20px;width:100%}
span.see-details{background-image:url({{ 'arrow-bottom.png' | asset_url }});background-position:right center;background-repeat:no-repeat;background-size:24px auto;display:block;float:none;font-size:14px;letter-spacing:1px;line-height:24px;margin:25px auto 0;max-width:130px;text-align:left;text-decoration:underline;text-transform:uppercase;width:100%;color:#c4962e;cursor:pointer}
span.see-details.active{background-image:url({{ 'arrow-top.png' | asset_url }})}
.regime-timer{font-family:"Open Sans",sans-serif;font-size:14px;letter-spacing:.75px;margin:0;text-align:center}
.details-open{margin-top:0}
.includes-group.you-free-gifts{margin-top:40px}
.includes-group label{display:inline-block;font-size:20px;font-weight:600;letter-spacing:.5px;line-height:24px;width:100%;margin:0 0 20px;text-transform:uppercase}
.detail-item-wrapp{border-top:1px solid #d6d6d6;padding:5px 0}
.detail-item-wrapp .detail-item{display:inline-block;position:relative;width:100%}
.detail-item-wrapp .detail-item .more{position:absolute;right:0;top:50%;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%)}
.detail-item-wrapp .detail-item .more a:hover span{background:#c8a557;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.detail-item-wrapp .detail-item .more a.active span{background:#c8a557}
.detail-item-wrapp .detail-item .more span{border:1px solid #c8a557;border-radius:20px;content:"";display:inline-block;height:12px;margin:0 0 0 8px;width:12px}
.detail-item-wrapp .detail-item .detail-item-img{display:inline-block;vertical-align:middle}
.detail-item-wrapp .detail-item .detail-item-img img{max-width:90px}
.detail-item-wrapp .detail-item .detail-item-title{display:inline-block;vertical-align:middle}
.detail-item-wrapp .detail-item .detail-item-title h3{cursor:pointer;font-size:20px;line-height:30px;margin:0 0 7px;text-transform:lowercase}
.detail-item-wrapp .detail-item .detail-item-title h3 .price-prod{color:#666;display:inline-block;font-size:20px;margin:0}
.detail-item-wrapp .detail-item .detail-item-title .metafields{color:#666;font-family:'crimson text',sans-serif;font-size:16px;font-style:italic;letter-spacing:.5px;line-height:26px}
.detail-item-wrapp .detail-des-open{margin:30px 0 15px}
.detail-item-wrapp .detail-des-open p{color:#000;font-family:#dc143c text,sans-serif;font-size:16px;line-height:26px}
.packages-advance.packages-subbox h3.title,.packages-starter.packages-subbox h3.title{margin-top:90px;position:relative;top:0;width:100%}
.packages-advance.packages-subbox h3.title:before,.packages-starter.packages-subbox h3.title:before{background:#d3b268 none repeat scroll 0 0;content:"";height:2px;left:0;margin:0 auto;position:absolute;right:0;top:-50px;width:130px}
}
@media screen and (max-width: 479px) {
img.shopperapproved{float:left}
#cart .button-group .bottom-buttons p.promotional{font-size:14px;letter-spacing:.5px;line-height:20px}
.tile-descrip .title{font-size:20px}
.cart-body .remove i{background-size:30px auto;height:30px;margin:0;width:30px}
.cart-body .remove a:hover i{background-position:0 -30px}
.cart-body .qty input{font-size:18px;height:30px;line-height:28px;padding:0;width:30px}
.cart-body .price{font-size:18px;line-height:30px}
.cart-body .price_total{font-size:18px;line-height:30px}
.cart-body .price,.cart-body .qty,.cart-body .remove,.cart-body .price_total{margin-top:60px;width:23%}
.cart-body .price:before{top:-23px;font-size:16px;font-weight:400}
.cart-body .qty:before,.cart-body .remove:before,.cart-body .price_total:before{font-size:16px;font-weight:400;top:-35px}
.tooltip-whatthis p{font-size:16px}
.cart-item .item img{max-width:80px;top:110px}
.cart-item .item .tile-descrip ul li{font-size:14px;line-height:18px}
.tile-descrip ul label{font-size:14px;line-height:18px;margin:0}
.cart-item .item .tile-descrip ul{left:100px;top:110px}
.cart-item .item .tile-descrip ul.ul-free-gift{left:230px}
.cart-item.padding-toggle{padding-bottom:155px}
#cart .summary .subtotal .shipping,#cart .summary .subtotal .shipping-free,#cart .summary .estimated .estimated-total,#cart .summary .estimated .total-all,#cart .summary .total-saving .your-saving,#cart .summary .total-saving .total_saving_money,#cart .summary .estimated-discount .your-discount,#cart .summary .estimated-discount .total_discount_money{font-size:18px}
#cart .summary .whatthis h4{font-size:14px}
.discount-code-field{max-width:290px}
.discount-code-field label{font-size:14px;line-height:16px;margin:0;position:absolute}
.discount-code-field label span{display:inline}
.discount-code-field input{margin:0 10px 0 0}
.time-cart{max-width:290px;text-align:center}
.time-cart img{display:none}
.time-cart span.wanit{line-height:14px;max-width:100%}
.time-cart span.time-grounp{text-align:center}
.time-cart span{font-size:13px}
.time-cart span.time-grounp span.time-top,.time-cart span.time-grounp span.time-bottom{line-height:14px}
#cart .button-group .bottom-buttons{max-width:292px}
.extra-checkout-buttons.amazon-btn,.extra-checkout-buttons{background-size:292px auto;margin:0 auto 30px;max-width:292px;width:100%}
.extra-checkout-buttons{-pie-background-image:url({{ 'paypal-checkout.png' | asset_url }});background-image:url({{ 'paypal-checkout.png' | asset_url }})}
.extra-checkout-buttons.amazon-btn{-pie-background-image:url({{ 'chekout-amazon-btn.png' | asset_url }});background-image:url({{ 'chekout-amazon-btn.png' | asset_url }})}
.discount-code-field .error-messager{padding-left:0}
#cart .other_seal{max-width:290px}
#cart .other_seal img{margin:0 10px;max-width:78px}
#cart .button-group{padding:0 10px}
#cart-guarantees .guatantees-text p{font-size:14px;line-height:18px;padding:0 5px}
.prm-750{display:none}
.regime-timer{font-size:12px}
#promo-img .caption-promo .caption-text h1{font-size:26px;line-height:30px;margin:0 0 35px}
#promo-img .caption-promo .caption-text h4{font-size:20px;line-height:20px;margin:0 0 5px}
#promo-img .clinically-tested img{max-width:80px}
#promo-img .caption-promo .caption-text a.play-button{height:60px;line-height:60px;width:60px}
#promo-img .caption-promo .caption-text a.play-button img{margin:0 0 0 5px;max-width:20px}
#promo-img .slider-image img{margin-top:70%}
#hassle-free-video .hassle-play-wrapp{top:60%;-webkit-transform:translate(-50%,-60%);-moz-transform:translate(-50%,-60%);-o-transform:translate(-50%,-60%);-ms-transform:translate(-50%,-60%);transform:translate(-50%,-60%)}
#hassle-free-video a.hassle-play-btn img{max-width:16px;margin:0 0 0 5px}
#hassle-free-video a.hassle-play-btn{height:50px;line-height:50px;width:50px}
#results-app .results-video-popup a.results-play-btn{width:50px;height:50px}
#results-app .results-video-popup a.results-play-btn img{max-width:16px}
#results-video-slide #sync1 .owl-next,#results-video-slide #sync1 .owl-prev{width:50px;height:50px;background-size:50px auto;top:29%;-webkit-transform:translate(0%,-29%);-moz-transform:translate(0%,-29%);-o-transform:translate(0%,-29%);-ms-transform:translate(0%,-29%);transform:translate(0%,-29%)}
#results-video-slide #sync1 .owl-next:hover,#results-video-slide #sync1 .owl-prev:hover{background-position:0 -50px}
.popup-result-image-wrapp a.play_result_video{font-size:22px;max-width:288px}
.caption-text h1{font-size:24px;line-height:30px}
.caption-text p{font-size:14px;line-height:24px;letter-spacing:.25px}
#promo-img .clinically-tested{top:43%}
#promo-img .learn-more-button{bottom:-18px;width:230px}
#home-results .results-title-top h3{font-size:20px;line-height:26px}
#results-app h2.section-title{font-size:28px;line-height:32px}
.results-app-img p.show-mobile{font-size:14px;line-height:20px;margin-bottom:20px}
#promo-img .learn-more-button .btn{font-size:20px;height:42px;line-height:40px}
#results-app{padding-bottom:25px}
#testimonials p.dot-hana{font-size:24px;line-height:24px;margin:10px 0 0;padding-bottom:10px}
#text-testimonials .item h5{font-size:18px;line-height:20px;margin:0}
#text-testimonials .item h5 span{font-size:12px}
.slide-video-popup .slide-video-play p{font-size:16px;line-height:22px}
h2.section-title{font-size:24px;line-height:30px}
#results-video-slide #sync1{margin-bottom:0}
#results-text-wrapp .results-text h3{font-size:24px;line-height:30px}
#results-text-wrapp .results-text h1{font-size:52px;line-height:52px}
#results-text-wrapp .results-text h1 sup{top:-12px}
#results-text-wrapp .results-text p{font-size:18px;line-height:18px}
.app-play a.app-store-btn{display:block;margin:0 auto 15px!important}
.app-play a.google-play-btn{display:block;margin:0 auto 15px!important}
.results-app-img .app-play{bottom:-60px}
#home-medical p{font-size:14px;letter-spacing:.25px;line-height:24px}
.clinically-tested-img img{max-width:200px}
#home-clinically-tested p,#home-clinically-tested .clinically-tested-text ul li{font-size:14px;line-height:24px}
#home-clinically-tested p.clinically-italic,#home-clinically-tested p.clinically-yellow{font-size:16px;line-height:26px}
#hassle-free-video{height:340px;min-height:340px;background-position:center 85%}
#hassle-free-video h2.section-title{font-size:24px;line-height:30px;margin:20px 0 10px}
.hassle-title p{font-size:14px;line-height:24px}
.guatantees-img img{max-width:180px}
#home-products h2.section-title{margin:0 0 10px}
p.sub-section-title{font-size:16px;line-height:26px}
#product-sync1.owl-theme .owl-controls .owl-page{border-radius:20px;margin:0 4px;padding:1px}
#product-sync1 .prod-details h1{font-size:48px;line-height:96px}
#product-sync1 .prod-details h3{font-size:30px}
#product-sync1 .prod-details h3 span{font-size:16px;line-height:16px}
#product-sync2 .owl-item .item img{max-width:70px}
p.packages-sub-text{font-size:14px;line-height:24px}
.packages-advance h3.title,.packages-starter h3.title,.packages-complete h3.title{font-size:32px}
.price-addtobag a.btn{max-width:290px;font-size:22px;height:50px;line-height:50px}
.detail-item-wrapp .detail-item .detail-item-img img{max-width:65px}
.detail-item-wrapp .detail-item .detail-item-title h3,.detail-item-wrapp .detail-item .detail-item-title h3 .price-prod{font-size:14px;line-height:20px}
.detail-item-wrapp .detail-item .more span{margin:0 0 0 5px}
.includes-group label{font-size:18px;margin:0 0 10px}
.detail-item-wrapp .detail-item .detail-item-title .metafields{font-size:12px}
.detail-item-wrapp .detail-des-open p{font-size:14px;line-height:24px}
.packages-advance.packages-subbox h3.title,.packages-starter.packages-subbox h3.title{margin-top:60px}
.packages-advance.packages-subbox h3.title::before,.packages-starter.packages-subbox h3.title::before{top:-40px}
.prod-details .video-buy .prod-buy .quan-up-down{display:inline-block;float:left;margin-right:0;width:100%}
.prod-details .video-buy .prod-buy .addtobad{display:inline-block;float:left;margin:15px 0 0;max-width:100%;width:100%}
#product-sync1.owl-theme .owl-controls .owl-pagination{top:-25px}
#product-sync1 .owl-next,#product-sync1 .owl-prev{top:30%;-webkit-transform:translate(0,-30%);-moz-transform:translate(0,-30%);-o-transform:translate(0,-30%);-ms-transform:translate(0,-30%);transform:translate(0,-30%)}
#testimonials p{font-size:14px;line-height:24px;padding:0 0 20px}
#video-testimonials .item .play-button{height:45px;width:45px}
#video-testimonials .item .play-button img{max-width:16px}
#rumor-has-it p{font-size:14px;line-height:24px;margin:0 0 30px}
#rumor-has-it .logo-br{line-height:60px;min-height:60px;width:100%}
#footer-top h4{font-size:24px}
.social-icons li{font-size:16px;height:32px;line-height:32px;margin:0 5px;width:32px}
.social-icons li a{line-height:32px}
.social-icons li a span{font-size:16px;line-height:32px}
.social-icons li a span.blog-icon{font-size:10px;line-height:32px}
#footer-top .info li{font-size:14px;line-height:52px}
#footer-top .site-footer__links li{font-size:12.5px;line-height:50px}
#footer-bottom .foot-logo{display:inline-block;float:left;margin-top:20px;max-width:130px;width:100%}
#footer-bottom p.copyright{display:inline-block;font-size:11px;line-height:14px;margin-bottom:10px;margin-top:10px;width:100%}
#rumor-has-it .logo-row1{max-width:290px;padding:0}
#rumor-has-it .logo-br img{max-height:22px!important}
#footer-bottom .copyright-wrapp{width:100%}
#footer-bottom .approved-logo{margin-top:10px;text-align:center;width:100%}
#footer-bottom .foot-logo{display:inline-block;float:none;margin-top:0;max-width:130px;width:100%}
#footer-bottom p.copyright{text-align:center;margin:0}
#footer-bottom a.shopperlink{display:inline-block;margin:0}
#footer-bottom a.shopperlink img{float:none;max-width:100px}
.blog-article #footer-bottom .blog-copyright{margin:10px 0}
.blog-article #footer-bottom .blog-copyright a{display:inline-block}
.blog-social ul.social-icons li{width:35px}
.blog-article #blog-head{height:140px;min-height:140px}
#blog-head img{max-width:208px;top:70%}
.article-wrapp .article-img .post_title,.article-sub.article-wrapp .article-img .post_title{font-size:18px;line-height:24px}
.sidebar .most-popular .article h3{min-height:110px}
.newsletter-subscribe form input#mail{display:block;margin:0 auto 15px;max-width:280px;width:100%}
.newsletter-subscribe form input#subscribe{display:block;margin:0 auto;max-width:280px;width:100%}
.template-article .pagination a{font-size:16px}
.template-article .article-body h1.post_title{font-size:24px;line-height:30px}
#tab-page-title{padding:0 10px;margin-bottom:0}
#tab-page-title ul.nav-faq{display:inline-block;width:100%}
#tab-page-title ul.nav-faq li:first-child{padding-left:10px}
#tab-page-title ul.nav-faq li{display:inline-block;float:none;padding:0 10px}
#tab-page-title ul.nav-faq li label{font-size:12px}
.content-tab .page-item ul li{padding-bottom:15px;padding-top:12px;padding-left:0}
.content-tab .page-item ul li h3{font-size:18px;line-height:24px}
.content-tab .page-item ul li .content-p,.content-tab .page-item ul li .content-p p{font-size:13px;line-height:21px}
#about-the-products ul li:last-child .content-p{padding-left:15px}
#about-the-products ul li:last-child .content-p h4{font-size:16px;line-height:20px;margin:20px 0 5px}
}