   <!-- Image slider v2 -->
  .slick-next, .slick-prev {
    z-index: 1;
  }
  .slick-next {
    right: 12px;
  }
  .slick-prev {
    left: 12px;
  }
  .slick-prev:before {
    font-family: "FontAwesome" !important;
    font-size: 28px !important;
    content: "\f053" !important;
/*     background: #ffffff !important; */
    padding: 12px !important;
    margin: -12px !important;
  }
  .slick-next:before {
    font-family: "FontAwesome" !important;
    font-size: 28px !important;
    content: "\f054" !important;
/*     background: #ffffff !important; */
    padding: 12px !important;
    margin: -12px !important;
  }
  .slick-prev:before, .slick-next:before {
    color: #eb9c80;
  }
  .product-img-container {
    width: 100%;
    margin-right: 36px;
  }

  .prouct-img-car-thumb {
    display: none;
  }

  @media screen and (min-width: 968px) {
    .product-img-container {
      max-width: 450px;
    }
    .prouct-img-car-thumb {
      display: unset;
    }
  }
  @media screen and (min-width: 1200px) {
    .product-img-container {
      max-width: 600px;
    }
  }
  .product-img-car {
    margin-bottom: 12px;
  }
  .car-img {
    width: 100%;
  }
/* Global template */
.main-content {
    margin-top: 0px;
}

.section-header--breadcrumb, .section-header {
    margin-bottom: 0px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 12px 0;
  text-transform: uppercase;
}

h3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.product-faq h3 {
  margin-bottom: 12px;
}

p {
  font-size: 13px !important;
}

.product-description-tab, .product-description-tab li span, .product-description-tab p, .product-description-tab ul li, .product-description.rte, .product-description.rte p, .product-single.template-item .product-description.rte, .product-single.template-item .product-description.rte h4, .product-single.template-item .product-description.rte p {
  font-size: 13px;
}

.related-product-wrapp .col-item .product-detail p.colle-description {
  min-height: unset;
}

#footer-top .info li {
  text-align: center;
}

#footer-top .info li i {
  display: inline-block;
  font-size: 13px;
}

#footer-top .site-footer__links li {
  font-size: 13px;
}

#footer-top .site-footer__links li a {
  font-size: 13px;
}

@media screen and (min-width: 768px) {

  #footer-top .site-footer__links li a {
    font-size: 15px;
  }

  #footer-top .info li {
    text-align: unset;
  }

  h1 {
    text-align: unset;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .product-faq h3 {
    margin-bottom: 48px;
  }

  p {
    font-size: 14px !important;
  }

  .product-description-tab, .product-description-tab li span, .product-description-tab p, .product-description-tab ul li, .product-description.rte, .product-description.rte p, .product-single.template-item .product-description.rte, .product-single.template-item .product-description.rte h4, .product-single.template-item .product-description.rte p {
    font-size: 14px;
  }
}

/* PDP banner */

#pdpBanner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 12px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #F0FAFA, #9EFFF7);
}

.pdp-banner-image {
  display: grid;
  order: 2;
}

.pdp-banner-img {
  max-width: 375px;
  width: 100%;
}

.pdp-banner-content {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  order: 1;
  text-align: center;
}

.pdp-banner-content h1 {
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  #pdpBanner {
    display: grid;
    grid-template-columns: 375px 1fr;
  }
  .pdp-banner-image {
    order: 1;
  }

  .pdp-banner-content {
    order: 2;
    justify-items: start;
    align-items: start;
    text-align: unset;
  }
}

/* PDP value prop */

#pdpValueProps {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 90%;
  max-width: 1200px;
  margin: 24px  auto;
  text-transform: uppercase;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pdp-value-prop {
  display: grid;
  padding: 6px 0;
  justify-items: center;
  align-items: center;
  border-top: 0px solid black;
  border-bottom: 1px solid lightgrey;
  color: #5FC8C8;
  font-size: 21px;
}

.pdp-vp-top {
  border-top: 1px solid lightgrey;
}

@media screen and (min-width: 768px) {
   #pdpValueProps {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 24px auto 48px auto;
  }
  .pdp-vp-top {
    border-top: unset;
  }
}

/* Product photos */

#ProductPhoto img {
  height: 343px;
}

.product-single__hero .prod-image #ProductPhoto {
  border: 1px solid #FBEDD1;
}

#ProductThumbs .item {
  border: 1px solid #FBEDD1;
}

#ProductThumbs .active .item {
  border: 1px solid #FBEDD1;
}

#ProductThumbs .item:hover {
  border: 1px solid #FBEDD1;
}

@media screen and (min-width: 768px) {
  #ProductPhoto img {
    height: 545px;
  }
}

@media screen and (min-width: 990px) {
  #ProductPhoto img {
    height: 450px;
  }
}

@media screen and (min-width: 1200px) {
  #ProductPhoto img {
    height: 545px;
  }
}

/* PDP thumbnails */
#ProductThumbs {
  padding: unset;
}

#ProductThumbs .owl-wrapper .owl-item > div, #ProductThumbs .owl-item {
  width: 73px !important;
  height: 73px !important;
  max-width: 73px !important;
  margin-right: 12px;
}

/* Product title & description */

.prod-item-title {
  text-align: unset;
  text-transform: unset;
}

.product-title-eyebrow {
  font-size: 13px;
  font-weight: 700;
  color: #5FC8C8;
  text-transform: uppercase;
}

.current-price-value {
  font-weight: 100;
  font-size: 21px;
  color: grey;
}

/* Product description overides */

.shop-now {
  display: none;
}

.product-title-wrapp {
  padding-right: unset;
}

.product-single__hero .prod-detail {
  margin-top: 3px;
}

.template-item .prod-detail h1 {
  font-size: 21px;
  line-height: 21px;
}

.review-count-mobile {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 13px;
}

.review-count-desktop {
  display: none;
}

#productValueProps p {
  font-size: 11px;
  color: #E38065;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#accordion-product .card {
  border: 1px solid #B6D9D6;
}

#accordion-product .card-header {
  border-bottom: 1px solid #B6D9D6;
}

#accordion-product .card-header h5 button i {
  color: #5FC8C8;
}

#accordion-product .card-header h5 button:hover {
    color: #5FC8C8;
}

@media screen and (min-width: 768px) {
  .product-content {
    margin-bottom: 48px;
  }

  #features-tabs {
    margin-bottom: 48px;
    border: 1px solid #B6D9D6;
  }

  div.tab {
    border-bottom: 1px solid #B6D9D6;
  }

  div.tab button.active {
    border-bottom: 3px solid #5FC8C8;
    color: #5FC8C8;
  }

  div.tab button:hover {
    border-bottom: 3px solid #5FC8C8;
    color: #5FC8C8;
  }

  .review-count-mobile {
    display: none;
  }

  .review-count-desktop {
    display: unset;
  }
}

/* FAQ section styles */
  #page-faq section {
    display: none;
    padding: 0;
    border-top: none;
  }

  #page-faq section#content0{
    display: block;
  }

  #page-faq input {
    display: none;
  }

  #page-faq li label {
    font-size: 16px;
  }

  #page-faq input:checked + label {
    color:#e38065 !important;
  }

  #page-faq .content-tab .content-p {
    display: none;
  }

  #page-faq .content-tab .content-p-two {
    display: none;
    font-size: 14px;
  }

  #page-faq .content-tab .pointer-open,
  #page-faq .content-tab .pointer-open-two {
    cursor:pointer;
  }

  #page-faq .content-tab .pointer-open-two {
    font-size: 26px;
    font-style: italic;
    text-decoration: underline;
  }

/* New FAQ styles */
.product-faq {
  background: #F0FAFA;
  padding: 12px 15px 0px 15px;
  margin: 0 -15px;
}

@media screen and (min-width: 768px) {
  .product-faq {
    margin: unset;
    margin-left: -33.33%;
    margin-right: -33.33%;
    width: unset;
    margin-bottom: 48px;
  }
  .content-tab .page-item ul li h3 {
    font-size: 24px;
  }
  .content-tab .page-item ul li .content-p, .content-tab .page-item ul li .content-p p {
    font-size: 14px;
  }
}

/* subscription widget styles*/

section.rc_container {
  border: 1px solid #E3E3E3;
  margin: 20px 0 25px !important;
  padding: 18px 20px 10px 20px !important;
}

@media screen and (max-width: 369px) {
  #AddToCart {
    width: 177px;
  }

}
@media screen and (max-width: 480px) {

.product-img-container {
  margin-right: unset !important;
  padding: 0 15px;
}
  .slick-prev{
  	left:0!important;
  }
  .slick-next{
  	right:0!important;
  }
  .slick-slide img{
      padding: 0 15px;
  
  }
  .slick-prev:before{
  	padding-left: 0 !important;
  
  } .slick-next:before{
  	padding-right: 0 !important;
  }

}
@media screen and (min-width: 768px) {
  section.rc_container {
      width: 104% !important;
  }
  #AddToCart {
    width: 575px !important;
  }
}

@media screen and (min-width: 990px) {
  #AddToCart {
    width: 258px !important;
  }
}

input[type="radio" i]:checked:after {
    background-color: #ffa500 !important;
    border: 2px solid white !important;
}

@media screen and (min-width: 1200px) {
    #AddToCart {
      width: 335px !important;
    }
}

.rc_discount_percentage {
  display: none;
}

.rc_option__recurring .rc_select {
  display: none;
}
  .rc_option__recurring.active .rc_select {
  display: block;
}


div.rc_popup {
  display: none;
}

span.rc_label_text, span.rc_one_time_price, span.rc_discount_price {
  font-weight: normal;
  font-size: 14px;
  font-family: 'Poppins',sans-serif !important;
}

label.rc_label {
  display: flex;
  margin: 12px 0 21px 0;
}

input.rc_radio {
  order: 1;
  margin-top: 1px;
  margin-right: 6px;
}

span.rc_label_text {
  order: 3;
}

span.rc_one_time_price, span.rc_discount_price {
  order: 2;
  padding-right: 3px;
}

@media screen and (min-width: 768px) {
  span.rc_label_text, span.rc_one_time_price, span.rc_discount_price {
    font-size: 16px;
  }
  input.rc_radio {
    margin-top: 3px;
  }
}

/* Product What's Included */

.product-what-include p {
  text-transform: unset;
}

.product-what-include strong {
  font-weight: bold;
  text-transform: uppercase;
}