

@font-face {
font-family: 'Proxima Nova Condensed Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Regular Italic'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Condensed_Regular_Italic_TheFontsMaster.com.woff' | file_url }}) 
  format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Regular';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Regular'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Regular_TheFontsMaster.com.woff' | file_url }}) 
  format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Thin Italic'),
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Thin_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Thin';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Thin'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Thin_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Light Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Light Italic'),
  url({{ 'Mark_Simonson_Proxima_Nova_Condensed_Light_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Light';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Light'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Light_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Semibold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Semibold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Semibold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Semibold'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Semibold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Bold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Bold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Bold'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Bold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Extrabold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Extrabold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Extrabold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Extrabold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Extrabold'), 
  url({{'	Mark_Simonson_Proxima_Nova_Condensed_Extrabold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Black Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Condensed Black Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Condensed_Black_Italic_TheFontsMaster.com.woff'| file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Condensed Black';
font-style: normal;
font-weight: normal;
src: url({{'Mark_Simonson_Proxima_Nova_Condensed_Black_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Regular Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Regular_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Regular';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Regular'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Extra_Condensed_Regular_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Thin Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Thin_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Thin';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Thin'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Thin_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Light Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Light Italic'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Extra_Condensed_Light_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Light';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Light'), 
  url({{ 'Mark_Simonson_Proxima_Nova_Extra_Condensed_Light_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Semibold Italic'), 
  url('{{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Semibold_Italic_TheFontsMaster.com.woff' | file_url }}') format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Semibold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Semibold'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Semibold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Bold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Bold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Bold'),
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Bold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Extrabold Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Extrabold Italic'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Extrabold_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Extrabold';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Extrabold'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Extrabold_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Black Italic';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Black Italic'), 
  url({{'	Mark_Simonson_Proxima_Nova_Extra_Condensed_Black_Italic_TheFontsMaster.com.woff' | file_url }}) format('woff');
}


@font-face {
font-family: 'Proxima Nova Extra Condensed Black';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Extra Condensed Black'), 
  url({{'Mark_Simonson_Proxima_Nova_Extra_Condensed_Black_TheFontsMaster.com.woff' | file_url }}) format('woff');
}

@font-face {
    font-family: 'Maax Bold';
    src: url('fonts/Maax Bold.eot');
    src: local('Maax Bold'), local('Maax-Bold'),
        url('fonts/Maax Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Maax Bold.woff') format('woff'),
        url('fonts/Maax Bold.ttf') format('truetype');
        font-weight: bold;  
}

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/CeraPro-Regular.woff') format('woff'),
        url('fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html{
	padding-bottom: 0!important;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#757575;
	}


header{
  background:#fff;
  padding:15px 0;
  color: #596ca6;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Condensed Regular', sans-serif;
  border-bottom: 1px solid #e8e8e8;

}

.top-header{
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 7px 0;
}
.top-header img {
    max-width: 50px;
    display: inline-block;
    margin: 0 15px;
}
.claim-btn {
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    transform: all .5s;
}
.claim-btn:hover,.claim-btn:focus{
  color: #f5f5f5;
   text-decoration: none;
   border-color: #f5f5f5;
}

.claim-btn .fa{
  display: inline-block;
  margin-left: 10px;
}
 .navbar-brand img{
  max-width: 250px;
 }
.material-icons {
    font-size: 16px;
    vertical-align: text-top;
    margin-left: 5px;
}
.nav-link{
  letter-spacing: 1px;
  color: #4b8cca !important;
}



.btn-get {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-flex;
   	align-items:center;
  justify-content:center;
    text-decoration: none;
    transform: all .5s;
    background: #4b8cca;

}
.btn-get:hover,.btn-get:focus{
  color: #f5f5f5;
   text-decoration: none;
}
.nav-link.btn-get{
  color: #fff !important;
    padding: 10px 20px !important;
     margin: 0 15px;
}
.hero-lady {
    position: relative;
}
.gift-circle {
    width: 200px;
    height: 200px;
    color: #fff;
    background: #213264;
    text-align: center;
    border-radius: 100%;
    padding: 20px;
    font-size: 11px;
    position: absolute;
    top: 50px;
    left: -50px;
}

.gift-circle img {
    max-width: 36px;
}
.gift-circle h5 {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
  	color: white;
}
.gift-circle p {
    color: #b9c8f8;
      font-size: 10px;
    line-height: 16px;
}

section{
  padding: 50px 0;
}


h1{
  color: #213264;
  font-family: 'Proxima Nova Condensed Black'!important;
  font-size: 74px;
  margin: 15px 0;
  text-transform: uppercase;
  line-height: 70px;
}
h2{
  color: #596ca6;
  font-size: 20px;
  margin-bottom: 30px;
}

.star .fa{
  color: #e38065;
}
.star span{
  display: inline-block;
  margin-right: 10px;
}

.red-color{
  color: #e38065;
}
.star b{
  color: #e38065;
  font-weight: 500;
  margin-right: 10px;
}
.hero{
  position: relative;
  padding-bottom: 0px;
}
.hero:after{
  content: "";
   background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(242,250,250,1) 90%); 
  position: absolute;
  width: 100%;
  height: 300px;
  left:0;
  bottom: 34px;
  z-index: -1;
}
.hero-testimonial {
    padding-left: 150px;
    margin-top: 50px;
    background: url(../images/sanchai.png) no-repeat left center;
    background-size: 120px;
}

.hero-testimonial  p {
  color: #596ca6!important;
}
.hero-video iframe {
    width: 100%;
    height: 185px;
}
.as-seen {
    text-align: center;
}


.as-seen span {
    color: #a09e9f;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 30px;
}
.as-seen img {
    max-width: 120px;
    margin: 0 40px;
}

.simple-step {
    text-align: center;
    background: #f2fafa;
}

h3{
  color: #213264;
  font-family: 'Proxima Nova Condensed black', sans-serif!important;
  font-size: 44px;
  margin: 10px 0;
  text-transform: uppercase;
  line-height: 44px;
}
h4{
  color: #596ca6;
  font-size: 20px;
  margin-bottom: 20px;
}
.mb-50{
  margin-bottom: 50px;
}
.simple-step  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.step-box {
    background: #fff;
    padding: 50px 10px 15px 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    border-radius: 4px;
    position: relative;
    min-height: 370px;
}
.step-no {
    position: absolute;
    width: 45px;
    height: 45px;
    font-size: 18px;
    left: 41%;
    top: -22px;
    background: #e38065;
    color: #fff;
    border: 5px solid #fff;
    line-height: 35px;
    border-radius: 100%;
    font-weight: bold;
}


.step-box h5{
  font-family: 'Proxima Nova Condensed bold', sans-serif!important;
  font-size: 20px;
  color: #213264;
  margin-bottom: 15px;
}

.step-box p {
    font-size: 14px;
}

.percentage-box{
  max-width: 75%;
  padding: 20px;
  border-bottom: 1px solid #e5ecec;
  
}

.percentage-box h5{
  font-size: 70px;
  font-family: 'Proxima Nova Condensed bold', sans-serif!important;
  color:#e38065;
}
.percentage-box p{
  color: #596ca6;
  margin-top: 15px;
}
.ul-list{
  list-style: none;
  padding: 0px;
  margin: 30px 0;
}

.ul-list li{
  padding-left: 30px;
  background: url("{{'check.png' | asset_url }}") no-repeat left center;
  background-size: 15px;
  color: #e38065;
  margin-bottom: 10px;
  font-weight: 500;
}

.btn-box .star {
    display: inline-block;
    margin-left: 30px;
}

.every-mother{
  text-align: center;
  color: #fff;  
  padding: 70px 0;
}

.every-m img {
    max-width: 450px;
}
.every-mother h3{
  color: #fff;
}
.every-mother p{
  font-size: 20px;
  line-height: 34px;
  width: 90%;
  margin: 10px auto;
  color: white;
}
.every-m {
    margin-bottom: 30px;
}

.silicon{
  background: url(../images/silicon-bg.jpg) no-repeat center top;
  background-size: cover;
  min-height: 500px;
  padding: 100px 0;
}
.real-people{
  text-align: center;
}
.real-video{
  margin-top: 50px;
  margin-bottom: 50px;
}
.real-video iframe {
    width: 100%;
    height: 650px;
}
.real-people .owl-dot span {
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.real-people .owl-dot.active span {
   
    border: 1px solid #5fc8c8;
   background: #5fc8c8
}
.real-people .owl-dots {
    margin-top: 30px;
}
.owl-prev {
    position: absolute;
    left: -100px;
    top: 43%;   
}

.owl-prev span {
    width: 50px;
    height: 50px;
    background: #e38065;
    color: #fff;
    line-height: 44px;
    display: inline-block;
    font-size: 24px;
    border-radius: 50%;
}

.owl-next {
    position: absolute;
    right: -100px;
    top: 43%;   
}

.owl-next span {
    width: 50px;
    height: 50px;
    background: #e38065;
    color: #fff;
    line-height: 44px;
    display: inline-block;
    font-size: 24px;
    border-radius: 50%;
}
.real-img {
    margin-top: 30px;
}
.real-img a {
    padding-top:47%;
}
.real-img a img{
    top:0;
    left:0;
    object-fit:cover;
}
.real-img p {
    color: #596ca6;
    margin-top: 30px;
}



.clarafuse-product .owl-thumbs .owl-thumb-item {
  height: 100px;
  width: 100%;
  max-width: 100px;
  background: transparent;
  border: none;
  overflow: hidden;
}
.clarafuse-product .owl-thumbs {
  margin-top: 30px;
  text-align: center;
}
.clarafuse-product .owl-thumbs .owl-thumb-item img {
  max-width: 100%;
  height: auto;
}
.clarafuse-product .owl-dots {
  position: absolute;
  bottom: 170px;
  left: 0;
  right: 0;
}


.clarafuse-product{
  background: #f2fafa;
}
.clarafuse-product .rc_container{
  padding:unset!important;

}

.clarafuse-product label.rc_label {
  	margin-top: 6px;
    display: block;
    padding: 15px 15px 15px 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
  	color: #94adad!important;
    font-weight: 400;
    display:flex;
    align-items:center;
  	font-weight: 500;
 }
  @media only screen and (max-width: 992px){
  .clarafuse-product label.rc_label{
    padding: 15px 15px 15px 50px;
  }
}
.clarafuse-product .rc_option.active label.rc_label {
	border-color: #e38065;
    color: #e38065!important;
    background: #fff;

}

.clarafuse-product .rc_option{
 font-family: unset!important;

}

.clarafuse-product .rc_option.active label.rc_label .dermaclara-radio{
  	background-image: none;
    background: #e38065;
  	border: 4px solid #e38065 !important;
 }
.clarafuse-product label.rc_label .dermaclara-radio{
    width: 1rem;
    height: 1rem;
    top: 26px;
    left: 21px;
    border-radius: 50%;

  }
.rc_discount_price{
    flex: 1;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
}
.clarafuse-product .rc_one_time_price, .clarafuse-product .rc_discount_price{
  font-weight: 500;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  font-size: 20px;
  color: #596ca6!important;

}
.clarafuse-product .rc_option.active .rc_one_time_price , .clarafuse-product .rc_option.active .rc_discount_price{
	color: #e38065!important;	
}

.clarafuse-product input.rc_radio, .clarafuse-product .rc_discount_percentage{
 display:none;

}

.clarafuse-product label.rc_label::before {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: 1px solid #ddd;
  top: 15px;
  left: 15px;
  content: '';
  border-radius: 50%;
}
.clarafuse-product label.rc_label::after {
  position: absolute;
  width: .75rem;
  height: .75rem;
  top: 21px;
  left: 21px;
  border-radius: 50%;
  content: '';
}

.clarafuse-product .rc_option.active label.rc_label::before {
  background-color: transparent;
  border-color: #e38065;
}
.clarafuse-product .rc_option.active label.rc_label::after {
  background-image: none;
  background: #e38065;
}



.clarafuse-product .owl-prev {
  position: absolute;
  left: 15px;
  top: 33%;
}
 
.clarafuse-product .owl-next {
    position: absolute;
    right: 15px;
    top: 33%;
}

 .clarafuse-product .owl-prev span {	
    color: #e38065;	
    display: inline-block;	
    font-size: 30px;	
    background: none;	
  }
 .clarafuse-product .owl-next span {	
    color: #e38065;	
    display: inline-block;	
    font-size: 30px;	
    background: none;

  }
.was{
  color: #a4acc4;
  text-decoration: line-through;
}
.c-f {
    font-size: 20px;
    font-weight: bold;
    color: #4b8cca;
    margin-bottom: 10px;
}

.p-package {
    position: relative;
}

.p-package .gift-circle {
    top: -90px;
    right: -11px;
    left:auto;
}


.p-package h6 {
    color: #213264;
    font-size: 18px;
}
.p-package ul {
    padding-left: 17px;
  	list-style: unset;
}
.p-package ul li{
  margin-bottom: 7px;
}

.custom-control-label::before{
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: 1px solid #ddd;
  top: 15px;
  left: 15px;
}
.custom-control-label::after{
  width: .75rem;
  height: .75rem;
  top: 21px;
  left: 21px;
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
  background-image: none;
  background: #e38065;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
    border-color: #e38065;
}
.custom-control-label {
    margin-top: 6px;
    display: block;
padding: 15px 15px 15px 50px;
border: 1px solid #ddd;
border-radius: 4px;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 2rem;
    padding-left: 0rem;
    margin-bottom: 15px;
}
.price {
    float: right;
    font-size: 20px;
    margin-top: -5px;
    font-weight: 500;
    color: #596ca6;
}
label{
  color: #94adad;
  font-weight: 500;

}

input[type="radio"]:checked+label{ 
  border-color: #e38065;
  color: #e38065;
  background: #fff;
} 

input[type="radio"]:checked+label .price{ 
  color: #e38065;
} 
#input_div {
    width: 120px;
    padding:11px;
    display: inline-block;
    background: #fff;
    border: 1px solid #94adad;
    border-radius: 4px;
    margin: 0 30px;
  display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#input_div input {
    display: inline-flex;
    max-width: 30px;
    background: transparent;
    border: none;
    text-align: center;
    color: #94adad;
    font-size: 18px;
  	padding:unset;
  padding:0 4px;
}
#input_div input#count{
  color: #e38065;
  margin-bottom:0;
}
.qt{
  color: #94adad;
  font-weight: 500;
}

.payment-strip {
    max-width: 50%;
    margin-top: 15px;
}

.faq{
  width: 80%;
  margin: 30px auto 0;
} 
.faq .card{
  background-color:transparent;
  border: none;
  text-align: left;
}
.faq .card-header {
    background-color: transparent;
    border-bottom: 1px solid #d9e2e2;
    padding:0;
}
.faq .card-header a{
  color: #596ca6;
  display: block;
  position: relative;
   padding: 15px 15px 15px 40px;
   font-size: 16px;
   font-weight: normal;
}

.faq .card-header .plus{
  position: absolute;
  left: 10px;
  top: 12px;
  color: #596ca6;
}
.mt-50{
  margin-top: 50px;
}

footer{
  background: #f2fafa;
  padding: 50px 0;
}

.copy,.foot-link {
    margin-top: 10px;
}
.foot-link{
  text-align: right;
}

.foot-link a{
  color: #596ca6;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px;
}

.modal-content {
    max-height: 550px;
    overflow: auto;
}
.sticky-btn {
    display: none;
}


		/**********media for mobile***********/


		
		
		
@media only screen and (min-width: 1920px) 
{
	
  .container{
    max-width: 1500px;
  }
  body{
    font-size: 18px;
  }
  section{
    padding: 90px 0;
  }
.top-header {
    font-size: 16px;
    padding: 12px 0;
    letter-spacing: 1px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-link.btn-get {
    margin: 0 0 0 20px;
}

header{
  font-size: 20px;
  padding: 25px 0;
}
.navbar-brand img {
    max-width: 350px;
}
.hero-right {
    margin-top: 0px;
    margin-left: 30px;
}
.hero-lady {
    padding-right: 50px;
}
h1 {
    font-size: 88px;
    margin: 20px 0 20px;
    line-height: 85px;
}
h2 {
    font-size: 21px;
    margin-bottom: 30px;
  }

.hero-video iframe {
    height: 214px;
}

.hero::after {
    height: 500px;
    bottom: 40px;
  }
.hero-testimonial {
    padding-left: 170px;
  }
.as-seen img {
    max-width: 150px;
}
.as-seen {
    padding-top: 35px;
}

h3{
  font-size: 50px;
  line-height: 50px;
  margin: 20px 0;
  letter-spacing: 1px;
}
h4 {
    font-size: 22px;
  }
.step-box {
    min-height: 330px;
    margin-top: 60px;
    box-shadow: 0px 0px 30px rgba(0,0,0,.05);
}

.step-box h5{
  font-size: 22px;
}
.step-no {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -22px;
    line-height: 41px;
}
.percentage-box h5 {
    font-size: 88px;
  }
.percentage-box p {
    margin-top: 20px;
    font-size: 20px;
}
.percentage-box {
    max-width: 80%;
  }
.material-icons{
  font-size: 26px;
}
.btn-get {
    padding: 22px 50px;
    font-size: 20px;
    font-weight: 500;
}
.ul-list{
  margin: 40px 0;
}
.ul-list li{
  margin-bottom: 15px;
}
.why-choose p {
    line-height: 30px;
}

.every-m img {
    max-width: 550px;
}
.every-mother{
  padding: 100px 0;
}

.every-m{
  margin-bottom: 60px;
}

.silicon{
  min-height: 854px;
}
.silicon {
    background: url(../images/silicon-bg.jpg) no-repeat center top -50px;
        background-size: auto;
    background-size: cover;
    padding: 50px 0;
    }
.mt-100 {
    margin-top: 100px;
}
.silicon p {
    margin: 30px 0;
}
.real-people {
    padding-top: 30px;
}
.real-video {
    margin-top: 85px;
    margin-bottom: 85px;
}
  
.real-people .owl-prev span {	
    width: 70px;	
    height: 70px;	
    line-height: 69px;	
    font-size: 33px;	
}	
.real-people .owl-next span {	
    width: 70px;	
    height: 70px;	
    line-height: 69px;	
    font-size: 33px;	
}	
  


 
.cf-right {
    margin-left: 60px;
}
.c-f {
    font-size: 28px;
  }

.cf-right  h4 {
    font-size: 28px;
    font-weight: 600;
}

.cf-right .star {
    margin-right: 15px;
}
.p-package h6 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#input_div {
    width: 132px;
    padding: 21px 15px;
  }
.cf-right .btn-box {
    float: right;
}

.custom-control-label{
  padding: 25px 25px 25px 60px;
}

.custom-control-label::before{
  top: 28px;
  left: 23px;
}

.custom-control-label::after {
    top: 34px;
    left: 29px;
}
.price {
    font-size: 22px;
    margin-top: -1px;
    font-weight: 600;

}

.faq .card-header a{
  font-size: 22px;
}

.faq .card-header a {
    padding: 20px 15px 20px 50px;
    font-size: 22px;
}

.faq .card-header .plus{
  top: 21px;
}

.faq {
    width: 70%;
    margin: 50px auto 0;
}
#input_div{
  margin: 0 60px;
}
.hero {
    padding-top: 50px;
}

.real-img {
    margin: 30px auto 0;
    width: 93%;
}
.p-package {
    position: relative;
    margin-bottom: 25px;
}
.payment-strip {
    max-width: 65%;
    margin-top: 25px;
}

.silicon p {
    margin: 40px 0;
    font-size: 20px;
    line-height: 38px;
}
.silicon h3 {
    font-size: 60px;
    line-height: 60px;
}
.silicon h4 {
    font-size: 26px;
}
.custom-control{
  margin-bottom: 30px;
}
.modal-lg {
    max-width: 1000px;
}

.modal-content {
    max-height: 750px;
    overflow: auto;
}

.copy, .foot-link {
    margin-top: 20px;
}

}


@media only screen and (min-width: 1440px) {
	



	
}
@media only screen and (max-width: 1919px) 
{



}
@media only screen and (min-width: 1024px) and (max-width: 1200px) 
{
   h1 {
    font-size: 46px;
    line-height: 44px;
}
body {
    font-size: 14px;
    }
header {
    font-size: 13px;
  }
.navbar-brand img {
    max-width: 200px;
}

.btn-get {
    padding: 15px 20px;
  }
.hero-lady {
     padding-top: 75px;
}
.hero {
    position: relative;
    padding-bottom: 0px;
}
.as-seen img {
    max-width: 100px;
    margin: 0 20px;
}
h3{
  font-size: 32px;
  line-height: 32px;
}
h4{
  font-size: 18px;
}

.simple-step .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}
.step-box {
    min-height: 310px;
    margin-bottom: 30px;
}
.percentage-box {
    max-width: 90%;
  }
  .percentage-box h5 {
    font-size: 55px;
  }
.btn-box .star {
    display: inline-block;
    margin-left: 5px;
    margin-top: 15px;
}
.real-video iframe {
    width: 100%;
    height: 450px;
}
.clarafuse-product .owl-thumbs .owl-thumb-item {
    height: 60px;
    max-width: 60px;
  }
  .gift-circle {
    width: 150px;
    height: 150px;
    left: -15px;
  }
  .gift-circle p {
    color: #b9c8f8;
    font-size: 8px;
}
.gift-circle h5 {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.gift-circle img {
    max-width: 28px;
}
.p-package ul {
    padding-left: 17px;
    width: 70%;
}
.p-package .gift-circle {
    top: -58px;
    right: -30px;
    left: auto;
}
.p-package h6 {
    color: #213264;
    font-size: 14px;
}

.foot-link a {
    font-size: 12px;
}
.hero-video iframe {
    width: 100%;
    height: 150px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px){

h1 {
    font-size: 46px;
    line-height: 44px;
}
body {
    font-size: 14px;
    }
header {
    font-size: 12px;
  }
.navbar-brand img {
    max-width: 150px;
}

.btn-get {
    padding: 10px 10px;
    font-size: 12px;
}
#input_div input {
    max-width: 22px;
    }
.hero-lady {
     padding-top: 200px;
}

.as-seen img {
    max-width: 100px;
    margin: 0 20px;
}
h3{
  font-size: 32px;
  line-height: 32px;
}
h4{
  font-size: 18px;
}

.simple-step .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}
.step-box {
    min-height: 430px;
    margin-bottom: 30px;
}
.percentage-box {
    max-width: 100%;
  }
  .percentage-box h5 {
    font-size: 55px;
  }
.btn-box .star {
    display: inline-block;
    margin-left: 0px;
    margin-top: 15px;
}
.real-video iframe {
    width: 100%;
    height: 350px;
}
.clarafuse-product .owl-thumbs .owl-thumb-item {
    height: 60px;
    max-width: 60px;
  }
  .gift-circle {
    width: 150px;
    height: 150px;
    left: -15px;
  }
  .gift-circle p {
    color: #b9c8f8;
    font-size: 8px;
}
.gift-circle h5 {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.gift-circle img {
    max-width: 28px;
}
.p-package ul {
    padding-left: 17px;
    width: 70%;
}
.p-package .gift-circle {
    top: 5px;
    right: -30px;
    left: auto;
}
.p-package h6 {
    color: #213264;
    font-size: 14px;
}

.foot-link a {
    font-size: 12px;
}

.nav-link.btn-get {
    color: #fff !important;
    padding: 10px 10px !important;
    margin: 0 5px;
}
h2 {
    color: #596ca6;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-testimonial {
    padding-left: 96px;
    margin-top: 30px;
    background: url(../images/sanchai.png) no-repeat left top;
    background-size: 77px;
}
.hero-testimonial p {
    color: #596ca6;
    font-size: 12px;
}
.hero-video iframe {
    width: 100%;
    height: 110px;
}
.hero-right p{
  font-size: 12px;
}
.hero:after{
      bottom: 21px;
}
#input_div {
    width: 90px;
    padding: 5px;
    display: inline-flex;
    background: #fff;
    border: 1px solid #94adad;
    border-radius: 4px;
    margin: 0 10px;
}

}




@media only screen and (max-width: 767px) 
{	
  .navbar-light .navbar-toggler{
    border: none;
  }
.navbar-brand img {
    max-width: 200px;
}

.top-header {
    text-align: left;
    padding: 10px 0;
}
.top-header img {
    max-width: 50px;
    display: inline-block;
    margin: 0;
}
.top-header span {
    float: right;
    width: 79%;
    font-size: 12px;
    text-align: left;
}
.claim-btn{
  display: none;
}

.ord2{
 order: 2
}

h1 {
    font-size: 38px;
    line-height: 40px;
}

h2 {
    font-size: 16px;
    margin-bottom: 30px;
}
.btn-get{
  width: 100%;
  text-align: center;
}

.material-icons {
    font-size: 24px;
  }

.hero-right {
    text-align: center;
}
.mtb-15{
  margin-bottom: 15px;
  margin-top: 15px;
}
.hero-testimonial {
    padding-left: 120px;
    margin-top: 90px;
  background:  no-repeat left top 10px;
        background-size: auto;
    background-size: 120px;
    margin-left: -15px;
    position: relative;
    min-height: 380px;
    margin-bottom: -35px;
}
.hero-testimonial > p{
    font-size: 13px;
    color: #596ca6;
    padding-top: 110px;
}
.hero-testimonial .gift-circle p{
  padding-top: 0px;
  font-size: 10px;
}

.gift-circle {
    width: 150px;
    height: 150px;
    color: #fff;
    background: #213264;
    text-align: center;
    border-radius: 100%;
    padding: 20px;
    font-size: 12px;
    position: absolute;
    top: -78px;
  left: auto;
  right: 25px;
}
.gift-circle img {
    max-width: 24px;
}
.gift-circle h5 {
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.hero {
    background: #f2fafa;
}

.as-seen img {
    max-width: 102px;
    margin: 20px 20px;
    display: inline-block;
}
.as-seen span {
    color: #a09e9f;
    text-transform: uppercase;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
}

h3{
  font-size: 28px;
  line-height: 32px;
}
h3 br{
  display: none;
}
h4 {
    font-size: 18px;
  }

.simple-step .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.step-box {
    min-height: 170px;
    margin-bottom: 50px;
}

.step-box.last{
  margin-bottom: 0px;
}
.why-choose h3{
  text-align: center;
}
.why-choose h4{
  text-align: center;
}
.percentage-box {
    max-width: 100%;
    border-top: 1px solid #e5ecec;
    border-bottom: none;
}
.percentage-box h5 {
    font-size: 60px;
  }
.star{
  margin-top: 10px;
}
.every-m img {
    max-width: 100%;
}
.every-mother p {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    margin: 10px auto;
}
.silicon {
    background: #f7f9f8  no-repeat top 30px right;
        background-size: auto;
    background-size: contain;
    min-height: 500px;
    padding: 83% 0 50px;
    text-align: center;
}
.owl-prev {
    position: absolute;
    left: -14px;
    top: 38%;
}

.owl-next {
    position: absolute;
    right: -14px;
    top: 38%;
}

.owl-prev span{
  line-height: 50px;
}
.owl-next span{
  line-height: 50px;
}

.clarafuse-product .owl-thumbs .owl-thumb-item {
    height: 82px;
    width: 100%;
    max-width: 66px;
}

.clarafuse-product .owl-prev {
    position: absolute;
    left: 15px;
    top: 33%;
}
 
.clarafuse-product .owl-next {
    position: absolute;
    right: 15px;
    top: 33%;
}
 
.p-package {
    position: relative;
/*     padding-right: 40%; */
  margin-top:15px;
}
.p-package h6 {
    color: #213264;
    font-size: 14px;
}
.p-package ul li {
    margin-bottom: 7px;
    font-size: 13px;
}
.gift-circle p {
    color: #b9c8f8;
    font-size: 10px;
}
.p-package .gift-circle {
    top: 10px;
    right: -10px;
    left: auto;
}
#input_div {
    max-width: 125px;
    margin: 0 10px 0 0;
    padding: 12px 12px;
}
.quantity-box .btn-get {
    margin-top:10px;
    text-align: center;
    padding: 15px 10px;
}
.faq {
    width: 100%;
    margin: 30px auto 0;
}
.mt-50 {
    margin-top: 30px;
}
footer {
    text-align: center;
}

footer .img-fluid {
    max-width: 70%;
    height: auto;
    margin-bottom: 15px;
}
.payment-strip {
    max-width: 100%;
    margin-top: 15px;
}
section {
    padding: 40px 0;
}

.sticky-btn {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 5px 30px;
    z-index: 9;
}

.real-video iframe {
    width: 100%;
    height: 200px;
}
#input_div input{
  max-width: 40px;
  padding: 0 5px;
}
.f-bottom {
    padding: 30px 0;
    margin-bottom: 50px;
}
.foot-link a{
  font-size: 14px;

}
.foot-link {
    text-align: center;
}

.star b {
    margin-right: 0;
    margin-bottom: 10px;
    display: inline-block;
}


}

@media only screen and (max-width: 320px){




}
.rc_popup {
    display: none!important;
}
.rc_select {
	display: none;
}
div.rc_select {
    margin-top: 15px;
}

.rc_select__dropdown{
    padding: .5rem 1.5rem;
    white-space: nowrap;
  	border-color: #e38065;
    font-weight: 500;
    color: #e38065!important;
    outline: none;
}

.rc_option__recurring.active .rc_select {
    display: block;
}

.text-initial{
text-transform:initial !important;
}
section.rc_container{
	box-shadow:none !important;
}
.thumb-item.slick-slide{
	width:100px;
  height:100px;
  margin:0 5px;
  display:flex;
  align-items:center;
  justify-content:center;
}
@media only screen and (max-width: 992px){
  .thumb-item.slick-slide{
  height:60px;
  }
}
.slick-slide img{
	width:100%;
  height:100%;
  object-fit:contain;
}
.thumbs.slick-slider{
	margin-top:10px;
}
#carousel1 .slick-dots button {
    display: block !important;
    width: 1rem !important;
    height: 1rem !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 100% !important;
    background-color: transparent !important;
    border: 1px solid #121212 !important;
    text-indent: -9999px !important;
}
#carousel1 .slick-dots li.slick-active button {
    border: 1px solid #5fc8c8!important;
    background: #5fc8c8!important;
}
#carousel1 .slick-dots{
    bottom: -45px;
}
label.rc_label:active, .rc_option.active label.rc_label{
	box-shadow:none;
}
@media only screen and (max-width: 767px){
.row .col-sm-3:last-child .step-box {
    margin-bottom: 0px;
}
  .carousel .slick-next{
    right: 10px;
}
.carousel .slick-prev{
    left: 10px;
}
}
.slick-prev, .slick-next{
z-index:9;
}
  @media only screen and (max-width: 992px){
    .clarafuse-product label.rc_label .dermaclara-radio{
   	top:19px;
    }
    #AddToCartForm{
    margin-bottom:0;	
    }
}

#productSelect{
	display:none;

}
