.related-product-youth .col-item .product-detail a.btn {
  margin: 0 auto 0;
  font-size: 16px !important;
  width: auto;
  height: auto;
  line-height: 33px;
  background: #1e1e1e;
  font-weight: 600 !important;
  padding: 2px 10px;
}
#productCarousel {
  margin-left: 0;
  margin-right: 0;
}
#productCarousel .owl-nav{
  position: absolute;
  top: 28%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  left: 0;
  width: 100%;
}
#productCarousel .owl-nav > button {
  background-position: center center !important;
  background: transparent;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 16px auto;
  width: 18px;
  height: 37px;
  opacity: 1;
  top: -18px;
  cursor: pointer;
}
#productCarousel .owl-nav .owl-prev{
  background-image: url({{ 'arrow-icon-left.png' | asset_url }});
  left: -15px;
}
#productCarousel .owl-nav .owl-next {
  background-image: url({{ 'arrow-icon-right.png' | asset_url }});
  right: -15px;
}
select{
  background-image: url("https://cdn.shopify.com/s/files/1/1009/6506/files/aero1.svg?v=1597925909");
  background-size: 18px auto;
    background-position: center right 6px;
}
.related-product-youth-wrap{
  .buy-button{
    margin-top: 20px;
  }
}
.related-product-youth {
  .product-img-border{
  padding: 0 10px;
  }
  .button-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    p{
      margin: 0;
    }
    select{
      width: auto;
    }
  }
  a{
    display: block;
  }
  .prod-img-wrap{
    height: 200px;
    a{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto !important;
      }
    }
  }
}
.youth-lock-system-product{
  *{
    font-family: Oxygen, Helvetica, sans-serif !important;
    word-break: break-word;
  }
  
  .product-detail-section.section-content{
    padding-top: 130px;
    p{
      margin-bottom: 18px;
    }
    h3{
      margin-bottom: 20px;
    }
  }
  .fa, .fas {
    font-family: 'Font Awesome 5 Free' !important ;
    font-weight: 900;
  }

  .light-blue-bg-img{
    background-image: url(https://cdn.shopify.com/s/files/1/1009/6506/files/F-S-BG2.png?v=1597413111);
    background-size: auto 100%;
    background-position: bottom center;
  }

  .section-content{
    padding: 70px 0;
  }
  
  .product-header-bar{
    padding: 21px 0;
    
    p{
      text-align: center;
      color: white;
      margin: 0;
      font-weight: 600;
    }
  }
  .logo-wrapp{
    min-height: 80px;
    display: flex;
    align-items: center;
  }
  h1{
    font-size: 50px; 
    font-weight: 600 !important;
  }

  h2{
    font-size: 40px;
  }

  .display-1{
    font-size: 56px;
  }
  .display-2{
    font-size: 38px;
    line-height: 1.2;
  }
  .display-3{
    font-size: 28px;
  }
  .display-4{
    font-size: 19px;
  }

  .display-large{
    font-size: 72px;
  }

  h3{
    font-size: 24px;
    text-transform: inherit !important;
  }
  .text-capitalize{
    text-transform: capitalize !important;
  }
  .text-light-gray{
    color: rgb(179, 179, 179);
  }
  .text-blue{
    color: rgb(29, 49, 103);
  }
  .text-light-blue{
    color: rgb(85, 107, 171);
  }
  .text-sky-blue{
    color: rgb(95, 200, 200);
  }
  .text-orange{
    color:rgb(227, 128, 101);
  }
  .text-golden{
    color: rgb(194, 161, 107);
  }
  .text-gray{
    color: rgb(71, 71, 71);
  }
  .text-white{
    color: white;
  }
  .text-black{
    color: black;
  }
  .btn-blue{
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: #5fc8c8;
    border-radius: 5px;
    width: auto;
    height: auto;
    max-width: none;
    display: inline-block;
    line-height: 1;
    padding: 15px 25px;
    }

    .heading-wrap{
      div{
        line-height: 1;
      }
    }

    .logo-section{
      h3{
        margin-bottom: 30px;
      }
    }
    
  
  .btn-lg{
    font-size: 34px !important;
  }
  p{
    font-size: 1rem;
  }
  .product-footer{
    img{
      margin-bottom: 13px;
    }
    h4{
      text-transform: capitalize !important;
    }
    p , li{
      font-size: 17px;
    }
  }
  .hr{
    border-top-width: 0;
    width: 40%;
    display: block;
    height: 2px;
    border-style: solid;
    left: 0;
    right: 0;
    margin: 12px auto;
    
  }
  .hr-sm{
    width: 30%;
  }
  .hr-exsm{
    width: 20%;
  }
  .golden-hr{
    border-color:rgb(194, 161, 107); 
  }
  .blue-hr{
    border-color: rgb(95, 200, 200);
  }
  .hr-full{
 width: 100%;
  }
  .hr-thin{
    height: 1px;
    border-width: 1px;
  }
  .hr-right{
    left: auto;
    margin-right: 0;
  }
  .hr-left{
    right: auto;
    margin-left: 0;
  }
  .black-hr{
    border-color: #000; 
  }
  .hr.large{
    width: 70%;
  }
  .white-hr{
    border-color: white; 
  }
  .goodbye-section{
    .hr{
      margin: 32px auto;
    }
  }
  .micro-system{
    &.part-3{
      .display-1{
        margin-bottom: 20px;
      }
      .display-4{
        margin-bottom: 30px;
      }
    }
    .display-3{
      margin-bottom: 4px;
      display: block !important;
    width: 100%;
    }
      ul{
        margin-top: 10px;
    display: block;
    float: left;
    width: 100%;
    li{
      margin-bottom: 7px;
   
        .fa-fw{
          margin-right: 5px;
        }
      }
      }
    
    h2{
      margin-bottom: 30px;
    }
    .display-4{
      line-height: 1.4;
      margin-top: 22px;
    }
    .display-1{
      line-height: 1;
    }
  }
  .border-heading-wrap{
    margin-bottom: 50px;
  }
  .promise-section{
    img{
      max-width: 205px;
    }
  }
  .moneyback-section{
    .border-heading-wrap{
      margin-bottom: 30px;
    }
    .hr{
      margin: 25px auto;
    }
  }
  .offer-list{
    li{
      margin-bottom: 20px;
      display: flex;
      i{
        margin-right: 7px;
      }
     
    }
  }
  .offer-section{
    .h1{
      margin-bottom: 30px;
    }
    h3{
      margin-bottom: 20px;
    }
    .offer-content{
      ul{
        margin-bottom: 30px;
        padding-left: 11px;
        i{
          margin-right: 7px;
        }
      }
      .h4{
        margin: 10px 0px 15px;
      }
    }

  }

  .bonus-section{
    .h1{
      font-family: Oswald, Helvetica, sans-serif !important;
      padding: 7px 0;
      border-top: 2px solid rgb(194, 161, 107);
      border-bottom: 2px solid rgb(194, 161, 107);
      display: inline-block;
    }
    .fancy-heading{
      margin-bottom: 35px;
    }
    img{
      max-width: 350px;
    }
    ul{
      padding-left: 11px;
      margin-bottom: 40px;
      i{
        margin-right: 7px;
      }
    }
    .display-3{
      margin-bottom: 25px;
    }
  }
  .review-section{
    margin-top: 30px;
    .review-head{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      p{
        font-size: 1.25rem;
        margin-bottom: 0;
      }
      img{
        max-width: 125px;
      }
    }
    
    .image-wrap{
      float: left;
      width: 100px;
    }
    .content-wrap{
      float: left;
      width: calc(100% - 100px);
    }
  }
  .hear-section{
    .display-4{
      margin-bottom: 30px;
    }
  }
  .video-wrapper1{
    margin-bottom: 35px;
    a{
      display: block;
    }
  }
  /* img {
    max-width: 100% !important;
  } */
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .youth-lock-system-product{
    .product-detail-section.section-content{
      padding-top: 70px;
    }
    h1 , .h1{
      font-size: 35px;
    }
    h2 {
      font-size: 33px;
    }
    .display-large {
      font-size: 40px;
    }
    .display-1 {
      font-size: 46px;
    }
    .bonus-section{
      .display-3{
        margin-bottom: 15px;
      }
  
    }
  }
}
@media only screen and (max-width: 768px) {
  .youth-lock-system-product{
    h1 , .h1{
      font-size: 30px;
    }
    .product-detail-section.section-content{
      padding-top: 70px;
    }

    h2{
      font-size: 26px;
    }

    h4{
      font-size: 1.3rem;
    }

    .display-1{
    font-size: 43px;
    }

    .display-4{
      font-size: 17px;
    }

    .display-large{
      font-size: 42px;
    }

    .promise-section img {
      max-width: 150px;
      margin-bottom: 20px;
    }
    .bonus-section{
      img{
        max-width: 100%;
      }
    }

    .logo-section{
      .image-wrap{
        margin-bottom: 20px;
        text-align: center;
        img{
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }
  }
}