<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <h1>{{ 'general.404.title' | t }}</h1>
    </div>
  </div>
</div>

{% include 'SEOManager-404' %}