{% paginate article.comments by 100 %}
<div id="article" class="blog-plus-sidebar">
  <div class="blog-content container">
    {% comment %}
    <div class="row">
      <div class="pagination-wrapp offset-lg-1 col-lg-10 offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12">
        <ul class="pagination clearfix">
          {% for art in blogs.news.articles %}
          {% if article.id == art.id %}
          {% assign index_blog = forloop.index | minus:1 %}
          {% endif %}
          {% endfor %}
          {% assign prev_blog = index_blog | plus:1 %}
          {% assign next_blog = index_blog | minus:1 %}
          <li class="previous-blog"><a title="{{ blogs.news.articles[prev_blog].title | escape }}" href="{{ blogs.news.articles[prev_blog].url }}" class="prev">&lt; previous post</a></li>
          <li class="next-blog"><a title="{{ blogs.news.articles[next_blog].url | escape}}"  href="{{ blogs.news.articles[next_blog].url }}" class="next">next post &gt;</a></li>
        </ul>
      </div> 
    </div>
    {% endcomment %}

    <div class="row">
      <div class="offset-lg-1 col-lg-10 offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12 article article-wrapp">
        <div class="blog-bg">
          <!-- Begin article -->
          <div class="article-body clearfix">
            <div class="article-img">
              {% if article.image %}
              <img class="fade-in lazyload" data-src="{{ article.image | img_url: '766x' }}" />
              {% else %}
              {% if article.content contains '</iframe>' %}
              {% assign my_video_url = article.content | escape %}
              {% if my_video_url contains 'iframe' %}
              {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
              {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
              {% assign my_video_url = my_video_url[0] %}
              <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
              {% endif %} 
              {% else %}
              {% assign my_image_url=article.content | escape %}
              {% if my_image_url contains '&lt;img' %}
              {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
              {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
              {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
              {% assign my_image_url = my_image_url | remove: 'http:' %}
              {% assign my_image_url = my_image_url | remove: 'https:' %}
              <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
              {% else %}
              <img class="fade-in lazyload" data-src="{{ 'no-image.png' |asset_url }}" />
              {% endif %}
              {% endif %}
              {% endif %}
            </div>
            <h1 class="post_title">
              {{ article.title }}
            </h1>
            <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
            <div id="article-content">
              {{ article.content | replace:"<iframe","<div class='iframe-video-container'><iframe" | replace: "</iframe>","</iframe></div>" }}
            </div>
          </div>
          <!-- End article -->

          <!-- Ad block, blog footer -->
          {% section 'article-footer-ad' %}

          <!-- Share article -->
          <div class="comt-share row">
            {%comment%}
            {% if article.comments_enabled? %}
            <a class="comment_link" href="{{ article.url }}"><span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span></a>
            {% endif %}
            <div class="left-avatar col-md-3">
              <img alt="" src="{{ 'hererit.png' | asset_url }}" />
            </div>
            {%endcomment%}
            <div class="right-content col-md-9">
              {%comment%}
              <h3>Hererit</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              {%endcomment%}
              {% include 'like-blog' %}
            </div>

          </div>
        </div>
      </div>

      <!-- Begin popular posts -->
      <div class="article-bt-wrapp offset-lg-1 col-lg-10 offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12">
        <h3 class="blog_title">Popular Posts</h3>
        <ul class="most-popular row">
          {% for article in blogs[blog.handle].articles limit:3 %}
          <li class="article col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="image-thumb">
              {% if article.content contains '</iframe>' %}
              {% assign my_video_url = article.content | escape %}
              {% if my_video_url contains 'iframe' %}
              {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
              {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
              {% assign my_video_url = my_video_url[0] %}
              <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
              {% endif %} 
              {% else %}
              <a class="post_thumbnail" href="{{ article.url }}">
                {% assign my_image_url=article.content | escape %}
                {% if my_image_url contains '&lt;img' %}
                {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
                {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
                {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
                {% assign my_image_url = my_image_url | remove: 'http:' %}
                {% assign my_image_url = my_image_url | remove: 'https:' %}
                <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
                {% else %}
                <img class="fade-in lazyload" data-src="{{ 'no-image.png' |asset_url }}" />
                {% endif %}
              </a>
              {% endif %}
            </div>
            <h3>
              <a href="{{ article.url }}">{{ article.title }}</a>
              <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
            </h3>
            <div class="post_content">
              {% if article.excerpt == blank %}
              {{ article.content | strip_html | truncatewords: 20 }}
              {% else %}
              {{ article.excerpt }}
              {% endif %}
            </div>
            <a class="read_more" href="{{ article.url }}">Read more</a> 
          </li>
          {% endfor %}
        </ul>

      </div>

      <!-- Begin comments -->
      {% if blog.comments_enabled? %}
      <div id="comments" class="comments offset-lg-1 col-lg-10 offset-md-1 col-md-10 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12">

        {% if article.comments.size > 0 or comment.created_at %}


        {% if comment and comment.created_at %}
        <div id="comment-{{ comment.id }}" class="comment border-bottom clearfix">
          <h2 class="comment-title">Comments</h2>
          <h4 class="comment-title-second">Leave a Comment</h4>
          <h3 class="author"><strong>{{ comment.author }}</strong><span class="date"> on {{ comment.created_at | date: "%b %d, %Y at %I:%M" }}</span></h3>
          <div class="comment-content">{{ comment.content }}</div>
        </div> <!-- /.comment -->
        {% endif %}

        {% for comment in article.comments %}
        <div id="comment-{{ comment.id }}" class="comment border-bottom clearfix">
          <h3 class="author"><strong>{{ comment.author }}</strong><span class="date"> on {{ comment.created_at | date: "%b %d, %Y at %I:%M" }}</span></h3>
          <div class="comment-content">{{ comment.content }}</div>
        </div> <!-- /.comment -->
        {% endfor %}

        {% include 'pagination' %}

        {% endif %}
        <div class="comment_form">
          {% form article %}
          <h3 class="blog_title">Leave a comment</h3>
          <p class="">Your email address will not be published. Required fields are marked *</p>

          {% if form.posted_successfully? %}
          {% if blog.moderated? %}
          <p class="subtext success">Successfully posted your comment. It will have to be approved by the blog owner first before showing up.</p>
          {% else %}
          <p class="subtext success">Successfully posted your comment.</p>
          {% endif %}
          {% endif %}

          {% if form.errors %}
          <p class="subtext error">Not all the fields have been filled out correctly</p>
          {% endif %}


          <div class="label-wrapp col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
            <label for="comment_author">Your name<sup>*</sup></label>
            <input type="text" id="comment_author" name="comment[author]" size="40" class="text" />
          </div>
          <div class="label-wrapp col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
            <label for="comment_email">Your email<sup>*</sup></label>
            <input type="text" id="comment_email" name="comment[email]" size="40" class="text" />
          </div>
          <label for="comment_body">Comment</label>
          <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text">{{form.body}}</textarea>

          <input type="submit" value="Post comment" class="btn" id="comment-submit" />
          {% if blog.moderated? %}
          {%comment%} <div class="notice">Cancel Comment</div>{%endcomment%}
          {% endif %}

          {% endform %}
        </div>
      </div> 
      {% endif %}

    </div>
  </div>

  <div class="blog-sidebar">
    <!-- Ad block, blog side -->
    {% section 'article-side-ad' %}
  </div>

</div>
{% endpaginate %}

<style>
.blog-plus-sidebar {
  display: grid;
  grid-template-columns: 1fr;
}

.blog-sidebar {
  display: none;
}

@media screen and (min-width: 1000px) {
  .blog-plus-sidebar {
    display: grid;
    grid-template-columns: 77% 23%;
  }
  .blog-sidebar {
    display: grid;
  }
}
</style>