<div id="blog-head">
  <img class="" src="{{ 'blog-logo-1.png' | asset_url }}" alt="" />
</div>

<div id="blog">
  <div class="blog-content container">
    <div class="row">
      {% paginate blog.articles by 1 %}
      <div class="article-top article-wrapp col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% for article in blog.articles limit:1 %}
        <div class="article-img">

          {% if article.image %}
          <img class="fade-in lazyload" data-src="{{ article.image | img_url: 'master' }}" />
          {% else %}

          {% if article.content contains '</iframe>' %}

          {% assign my_video_url = article.content | escape %}
          {% if my_video_url contains 'iframe' %}
          {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
          {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
          {% assign my_video_url = my_video_url[0] %}
          <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
          {% endif %} 

          {% else %}

          {% assign my_image_url=article.content | escape %}
          {% if my_image_url contains '&lt;img' %}
          {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
          {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
          {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
          {% assign my_image_url = my_image_url | remove: 'http:' %}
          {% assign my_image_url = my_image_url | remove: 'https:' %}
          <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
          {% else %}
          <img class="fade-in lazyload" data-src="{{ 'no-image.png' |asset_url }}" />
          {% endif %}
          {% endif %}
          {% endif %} 
          <div class="art-overlay"></div>
          <h1 class="post_title">{{ article.title }}</h1>

          <div class="date-read">
            <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
            <a class="read_more" href="{{ article.url }}">Read the post</a> 
          </div>
        </div>

        <div class="post_content">
          {% if article.excerpt == blank %}
          {{ article.content | strip_html | truncatewords: 54 }}
          {% else %}
          {{ article.excerpt }}
          {% endif %}
        </div>

        <div class="comt-share">
          {% if article.comments_enabled? %}
          <a class="comment_link" href="{{ article.url }}"><span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span></a>
          {% endif %}
          {% include 'like-article' %}
        </div>

        {% unless forloop.last %}

        {% endunless %}
        {% endfor %}
      </div>
      {% endpaginate %}
    </div>

    <div class="row">

      <!-- Begin content -->


      {% paginate blog.articles by 2 %}

      <div class="article-sub article-wrapp col-lg-7 col-md-7 col-sm-12 col-xs-12">

        {% for article in blog.articles %}

        <div class="article-img">

          {% if article.image %}
          <img class="fade-in lazyload" data-src="{{ article.image | img_url: 'master' }}" />
          {% else %}

          {% if article.content contains '</iframe>' %}

          {% assign my_video_url = article.content | escape %}
          {% if my_video_url contains 'iframe' %}
          {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
          {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
          {% assign my_video_url = my_video_url[0] %}
          <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
          {% endif %} 

          {% else %}

          {% assign my_image_url=article.content | escape %}
          {% if my_image_url contains '&lt;img' %}
          {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
          {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
          {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
          {% assign my_image_url = my_image_url | remove: 'http:' %}
          {% assign my_image_url = my_image_url | remove: 'https:' %}
          <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
          {% else %}
          <img class="fade-in lazyload" data-src="{{ 'no-image.png' |asset_url }}" />
          {% endif %}
          {% endif %}
          {% endif %}
          <div class="art-overlay"></div>

          <h1 class="post_title">{{ article.title }}</h1>

          <div class="date-read">
            <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
            <a class="read_more" href="{{ article.url }}">Read the post</a> 
          </div>
        </div>

        <div class="post_content">
          {% if article.excerpt == blank %}
          {{ article.content | strip_html | truncatewords: 44 }}
          {% else %}
          {{ article.excerpt }}
          {% endif %}
        </div>

        <div class="comt-share">
          {% if article.comments_enabled? %}
          <a class="comment_link" href="{{ article.url }}"><span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span></a>
          {% endif %}
          {% include 'like-article' %}
        </div>

        {% unless forloop.last %}

        {% endunless %}
        {% endfor %}

        {% include 'pagination' %}

        {% if paginate.current_page < paginate.pages %}
        <div class="blog-loadmore">
          <a href="{{ paginate.next.url }}">load more posts</a>
        </div>
        {% endif %}

      </div>

      {% endpaginate %}

      <!-- Begin sidebar -->
      {% include 'blog_sidebar' %}
      <!-- End sidebar -->

      <!-- End content -->

    </div>
  </div>
</div>
<script>
  var pInfScrLoading = false;
  $('.blog-loadmore').click(function(event) {
    event.preventDefault();    
    loading_more();
  });
  function loading_more(){
    pInfScrNode = $('.blog-loadmore a').last();	
    pInfScrURL = pInfScrNode.attr("href");
    if(!pInfScrLoading) {
      $.ajax({
        type: 'GET',
        url: pInfScrURL,
        beforeSend: function() {
          pInfScrLoading = true;
          pInfScrNode.html(''); 
        },
        success: function(data) {
          var filteredData = $(data).find(".article-sub").children();
          filteredData.appendTo($(".article-sub"));
          pInfScrLoading = false;
          $('.blog-loadmore').click(function(event) {
            event.preventDefault();    
            loading_more();
          });
        },
        dataType: "html"
      });
    }
  }
</script>