<style>
  @media (min-width: 992px){
    .infinite-scroll-article{
      display:none!important;
    }
  }
</style>
{% paginate blog.articles by 6 %}
<div id="blog-head" class="blue-bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1>Blog</h1>
        <p>Taking care of yourself is at the core of always doing your best. We love sharing the latest buzz about skincare and beauty to keep you in-the-know.</p>
      </div>
    </div>
  </div>
</div>
<div id="blog">
  <div class="blog-content container">
    <div class="row">
      <div class="article-sub article-wrapp col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12">
            <div id="owl-head-blog" class="owl-carousel owl-theme">
              {% for i in (1..2) %}
              {% capture image %}post_slide_img_{{ i }}.jpg{% endcapture %}
              {% capture post_title %}post_title_{{ i }}{% endcapture %}
              {% capture post_link %}post_link_{{ i }}{% endcapture %}
              {% capture post_date %}post_date_{{ i }}{% endcapture %}
              <div class="item">
                <div class="article-img">
                  <a class="" href="{{ settings[post_link] }}">
                    <img class="" src="{{ image | asset_url }}" alt="" />
                  </a>
                </div>
                <div class="blog-cap">
                  <a class="post-title" href="{{ settings[post_link] }}">{{ settings[post_title] }}</a>
                  <div class="date-read">
                    <span class="date" style="display: block;">{{ settings[post_date] }}</span>
                  </div>      
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          {% for article in blog.articles %}
          <div class="col-md-6 list-post-wrapp">
            <div class="article-img">
              <a class="" href="{{ article.url }}">
                {% if article.image %}
                <img class="fade-in lazyload" data-src="{{ article.image | img_url: 'master' }}" />
                {% else %}
                {% if article.content contains '</iframe>' %}
                {% assign my_video_url = article.content | escape %}
                {% if my_video_url contains 'iframe' %}
                {% assign my_video_url = my_video_url | split: '&quot; src=&quot;' %}
                {% assign my_video_url = my_video_url[1] | split: '&quot;' %}
                {% assign my_video_url = my_video_url[0] %}
                <div class='iframe-video-container' style=" margin-bottom: 15px;"><iframe width="560" height="315" src="{{ my_video_url }}" frameborder="0" allowfullscreen=""></iframe></div>
                {% endif %} 
                {% else %}
                {% assign my_image_url=article.content | escape %}
                {% if my_image_url contains '&lt;img' %}
                {% assign my_image_url = my_image_url | split: 'src=&quot;' %}
                {% assign my_image_url = my_image_url[1] | split: '&quot;' %}
                {% assign my_image_url = my_image_url[0] | remove: '//cdn' %}
                {% assign my_image_url = my_image_url | remove: 'http:' %}
                {% assign my_image_url = my_image_url | remove: 'https:' %}
                <img class="fade-in lazyload" data-src="{{ my_image_url | prepend: 'https://cdn' }}" />
                {% else %}
                <img class="fade-in lazyload" data-src="{{ 'no-image.png' |asset_url }}" />
                {% endif %}
                {% endif %}
                {% endif %} 
              </a>
            </div>
            <h3 class="post_title"><a class="" href="{{ article.url }}">{{ article.title }}</a></h3>
            <div class="date-read">
              <span class="date" style="display: block;">{{ article.published_at | date: "%b %d, %Y" }}</span>
            </div>
            <div class="post_content">
              {% if article.excerpt == blank %}
              {{ article.content | strip_html | truncatewords: 24 }}
              {% else %}
              {{ article.excerpt }}
              {% endif %}
            </div>
            <a class="read_more" href="{{ article.url }}">Read more</a> 
          </div>
          {% endfor %}
        </div>
      </div>
      {% include 'blog_sidebar' %}
    </div>
  </div>
  <div class="pagination-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {% include 'pagination-custom' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
<script>
  var pInfScrLoading = false;
  $('.blog-loadmore').click(function(event) {
    event.preventDefault();    
    loading_more();
  });
  function loading_more(){
    pInfScrNode = $('.blog-loadmore a').last();	
    pInfScrURL = pInfScrNode.attr("href");
    if(!pInfScrLoading) {
      $.ajax({
        type: 'GET',
        url: pInfScrURL,
        beforeSend: function() {
          pInfScrLoading = true;
          pInfScrNode.html(''); 
        },
        success: function(data) {
          var filteredData = $(data).find(".article-sub").children();
          filteredData.appendTo($(".article-sub"));
          pInfScrLoading = false;
          $('.blog-loadmore').click(function(event) {
            event.preventDefault();    
            loading_more();
          });
        },
        dataType: "html"
      });
    }
  }

</script>