{%  include 'subscription-cart-footer' %}


{% assign orginal_product_handle = 'clarafuse-for-body' %}
{% assign saleoff_product_handle = 'extra-clarafuse-body' %}
{% assign orginal_product_handle_2 = 'claraprep' %}
{% assign saleoff_product_handle_2 = 'extra-claraprep' %}
{% assign orginal_product_handle_3 = 'clarasome' %}
{% assign saleoff_product_handle_3 = 'extra-clarasome' %}
{% assign orginal_product_handle_4 = 'clarafuse-for-face' %}
{% assign saleoff_product_handle_4 = 'extra-clarafuse-face' %}
{% assign orginal_product_handle_5 = 'claratone' %}
{% assign saleoff_product_handle_5 = 'extra-claratone' %}
{% assign orginal_product_handle_6 = 'clarapulse' %}
{% assign saleoff_product_handle_6 = 'extra-clarapulse' %}

{% assign has_main_prod = false %}
{% for item in cart.items %}
{% for prod in collections['all-package-for-upsell'].products %}
{% if item.product.handle == prod.handle %}
{% assign has_main_prod = true %}
{% endif %}
{% endfor %}
{% endfor %}

<script>
  function _getCookie(name) {
    const value = '; '+document.cookie;
    const parts = value.split('; '+name+'=');

    if (parts.length === 2) {
      name = parts.pop().split(';').shift();
    }
    return name;
  };
                 
        
                 
$(document).on('click','[name="checkout"]',function(event){
 event.preventDefault();  
//   console.log('hello')
  setTimeout(function(){
  var customersID= {% if customer %}{{ customer.id }}{% else %}null{% endif %};
  var  customerEmail= {% if customer %}'{{ customer.email }}'{% else %}null{% endif %};
  var  discount_code='10%SubscriptionDiscount';
  var isRechargeProduct = false; 
  var isdiscount = false;
  $.ajax({
    url: '/cart.js',
    dataType: "json",
    cache: false,
    success: function(cart) {
      for (var i = 0; i < cart.items.length; i++) {
        if( cart.items[i]['properties'] != null){
        if ( cart.items[i]['properties']['subscription_id'] != undefined) {
          isRechargeProduct= true;
          isdiscount = true;
            
        }
        }
      };           
//     console.log(isdiscount,discount_code);
      const getCartCookie = _getCookie('cart');  
      if (isRechargeProduct) {        
        try {
          var ga_linker = ga.getAll()[0].get('linkerParam');
        } catch (e) {
          var ga_linker = '';
        }

        // let form_action = $('[data-cart-form]').attr('action');
        if (customersID) { 'customer_id='+customersID+'&customer_email='+customerEmail }
        let customer_param = '';
        var checkout_url = 'https://checkout.rechargeapps.com/r/checkout?myshopify_domain=dermaclara.myshopify.com&cart_token='+getCartCookie+'&'+ga_linker+'&'+customer_param
        if (discount_code != null && isdiscount === true) { checkout_url += '&discount='+discount_code }               
        window.location.href = checkout_url;
      } else { window.location.href = '/checkout?'; }     
    }
  });
},1000);
});
          
</script>
<div id="cart" class="page">
  <div class="container">

    {% if cart.item_count > 0 %}

    
{% render 'zoorix-cart-top' %}
<form action="/cart" method="post" novalidate class="cart">
      {% if cart.announcements.size > 0 %}
      <ul class="note">
        {% for announcement in cart.announcements %}
        <li>{{ announcement }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if cart.errors.size > 0 %}
      <ul class="note errors">
        {% for error in cart.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="row">
        <div class="cart-table col-lg-9 col-md-8 col-sm-12 col-xs-12">
          <div class="shopping-basket">
            {% if has_main_prod_espanol %}
            <h3>resumen de orden</h3>
            {%else%}
            <h3>order summary</h3>
            {% endif %}
          </div>
          {%comment%}
          <div class="cart-headline">
            {% if has_main_prod_espanol %}
            <div class="item col-lg-2 col-md-2 col-sm-2 col-sx-12 no-gutter-left no-gutter-right">Artículos</div>
            <div class="qty col-lg-2 col-md-2 col-sm-2 col-sx-12">Cantidad</div>
            <div class="price col-lg-2 col-md-2 col-sm-2 col-sx-12">Precio</div>
            <div class="remove col-lg-2 col-md-2 col-sm-2 col-sx-12">Retirar</div>
            <div class="price_total col-lg-2 col-md-2 col-sm-2 col-sx-12 no-gutter-right">Total</div>
            {%else%}
            <div class="item col-lg-2 col-md-2 col-sm-2 col-sx-12 no-gutter-left no-gutter-right">Items</div>
            <div class="qty col-lg-2 col-md-2 col-sm-2 col-sx-12">Quantity</div>
            <div class="price col-lg-2 col-md-2 col-sm-2 col-sx-12">Price</div>
            <div class="remove col-lg-2 col-md-2 col-sm-2 col-sx-12">Remove</div>
            <div class="price_total col-lg-2 col-md-2 col-sm-2 col-sx-12 no-gutter-right">Total</div>
            {% endif %}
          </div>
          {%endcomment%}
          <div class="cart-body">
            <div class="list-item">
              
              {% for item in cart.items %}
              {% assign item_title = item.url %}
              <div class=" cart-item {% if item.product.handle contains 'system' %} cart-free-gift{%endif%}">
                <div class="col-lg-4 col-md-2 col-sm-2 col-sx-12 item-wrap no-gutter-left">
                  <div class="item">
                    <a href="{{item.url }}">
                      <img class="item-img" src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}">
                    </a>
                    <div class="tile-descrip">
                      {% if item.price == 0 %}
                      <h3>SPECIAL GIFT</h3>
                      {% endif %}
                      <h4 class="font-garamond title">
                          {% if item.product.handle contains '-kit' %}
                          {{ item.product.title | prepend:'Dermaclara ' }}
						<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                          {% elsif item.product.handle == orginal_product_handle_4 %}
                          {{ item.product.title | replace :'for Face','' }}
                          {% else %}
                          {{ item.product.title }}
                          {% endif %}
                      </h4>
					{% unless item.product.tags contains 'v2-kit-product' %}
                        {% if item.product.metafields.featured.elements  %}
                        <ul>
                          <li>{{item.product.metafields.featured.elements}}</li>
                        </ul>
                        {% endif %}
                      {% endunless %}
                      

                      {% assign is_subscription = false %}

                      {% for p in item.properties %}  
                      {% if p.first contains 'subscription_id' %}
                      {% assign is_subscription = true %}
                      {% endif %}
                      {% if p.first contains 'shipping_interval_frequency' %}{% assign shipping_interval_frequency = p.last %}{% endif %}
                      {% if p.first contains 'shipping_interval_unit_type' %}{% assign shipping_interval_unit_type = p.last %}{% endif %}
                      {% endfor %}

                       {% unless item.product.tags contains 'v2-kit-product' %}
                      {% if is_subscription %}
                      <ul>
                        <li>Ships Every <strong>{{shipping_interval_frequency}} {% if shipping_interval_frequency == '1' %}{{shipping_interval_unit_type | replace: 's', ''}}{% else %}{{shipping_interval_unit_type}}{% endif %}</strong></li>
                      </ul>
                      {% endif %}
                      {% endunless %}
                      
                      {% if item.product.tags contains 'v2-kit-product' %}
                     <p style="font-size: 12px;">
                        {% for p in item.properties %} 
                        {% if p.first contains '1' or p.first contains '2' or p.first contains '3' or p.first contains '4' %}
                        {{p.last}}{% unless forloop.last  %},{% endunless %}
                        {% endif %}
                       	{% endfor %}
                      </p>
                      {% endif %}

                    </div>


                  </div>

                </div>              
                <div class="price tb-show col-lg-2 col-md-2 col-sm-2 col-sx-12">
                  <span class="compare-price">
                    <del>{{ item.product.compare_at_price | money }}</del>                      
                  </span>
                  {{ item.price | money  }}
                </div>

                <div class="qty col-lg-2 col-md-2 col-sm-2 col-sx-12">

                  <input type="text" size="4" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="tc item-quantity"/>

                </div>

            {% comment %}       <div class="price dk-show col-lg-2 col-md-2 col-sm-2 col-sx-12">
                  <span class="compare-price">
                    <del>{{ item.product.compare_at_price | money  }}</del>                      
                  </span>
                  {{ item.price | money  }}
                </div>{% endcomment %}

                <div class="price_total col-lg-2 col-md-2 col-sm-2 col-sx-12 no-gutter-right"><span class='booster-cart-item-line-price' data-key='{{item.key}}'>{{ item.line_price | money }}</span></div>


                <div class="col-lg-1 col-md-2 col-sm-2 col-sx-12 pr-0 remove">
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                    <i class="close"></i>
                  </a>
                </div>
                <div class="toogle-button"></div>



              </div>
				
              {% if item.product.tags contains 'v2-kit-product' %}
              <div class="cart-item free-gift-product" >
                <label class="text-left">SPECIAL GIFTS:</label>
                <div class="d-flex align-items-center justify-content-between row">
                  <img class="d-flex col-2 fade-in lazyload" data-src="https://cdn.shopify.com/s/files/1/1009/6506/files/travel-bag-3_800px_100x.jpg?v=1597424778"> 
                  <span class="col-6 gift-title">Luxury Travel Beauty Bag</span>
                  <div class="col-md-3 col-4 d-flex flex-nowrap justify-content-between">
                    <span class="price-strikethrough"><del>$12.00</del></span>  
                    <span class="font-weight-bold ml-3 price-free">FREE</span></div>
                </div>
                <div class="d-flex align-items-center justify-content-between row">
                  <img class="d-flex col-2 fade-in lazyload" data- src="{{all_products['exfoliator'].featured_image.src | img_url: '100x100'}}"> 
                  <span class="col-6 gift-title">Pore-Clearing Silicone Exfoliator</span>
                  <div class="col-md-3 col-4 d-flex flex-nowrap justify-content-between">
                    <span class="price-strikethrough"><del>{{all_products['exfoliator'].price | money}}</del></span>  
                    <span class="font-weight-bold ml-3 price-free">FREE</span></div>
                </div>
                </div>
              {% endif %}
          {% comment %}    {% if item.product.handle contains 'system' %}
              <div class="cart-item free-gift-product">
                <label>FREE gifts with your System:</label>
                <div class="d-flex align-items-center justify-content-between">
                  <img class="fade-in lazyload" data-src="{{all_products['travel-bag'].featured_image.src | img_url: '100x100' }}"> 
                  <span class="gift-title">Luxury Travel Beauty Bag</span>
                  <div class="d-flex flex-nowrap">
                    <span class="price-strikethrough"><del>{{all_products['travel-bag'].price | money}}</del></span>  
                    <span class="price-free">FREE</span></div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <img class="fade-in lazyload" data- src="{{all_products['claralips'].featured_image.src | img_url: '100x100'}}"> 
                  <span class="gift-title"><i>claralips</i> collagen-infused lip serum</span>
                  <div class="d-flex flex-nowrap">
                    <span class="price-strikethrough"><del>{{all_products['claralips'].price | money}}</del></span>  
                    <span class="price-free">FREE</span></div>
                </div>
              </div>
              {% endif %} {% endcomment %}
              {% endfor %}
            </div>

            {% assign total_saving_money = 0 %}
            {% for item in cart.items %}
            {% assign a_item_saving_money = item.quantity | times:item.product.compare_at_price | minus:item.line_price %}
            {% assign total_saving_money = total_saving_money | plus:a_item_saving_money %}
            {% endfor %}

            <div class="summary update-wrapp col-lg-offset-7 col-lg-5 col-md-offset-7 col-md-5 col-sm-offset-2 col-sm-10 col-sx-12">
              <div class="update">
                <input type="submit" id="update-cart" class="update-btn" name="update" value="{% if has_main_prod_espanol %}actualizar{%else%}update{%endif%}" />
              </div>
            </div>

            {% if has_main_prod_espanol %}
            <div class="time-cart espanol control-clock col-lg-12 col-md-12 col-sm-12 col-sx-12">
              <p>
                <span class="wanit" style="font-weight:600;color:#000;text-transform:uppercase;">¿LO QUIERE ANTES?</span> 
                <img class="fade-in lazyload" data-src="{{ 'line.png' | asset_url }}" alt="{{ shop.name }}">
                <span class="time-grounp">
                  <span class="time-top">Ordene dentro de los próximos <span class="timer"><span class="dynamic-minus"></span> Minutos <span class="dynamic-seconds"></span> Segundos</span></span>
                  <span class="time-bottom">y reciba el <span style="font-weight:600;color:#000;">ENVÍO GRATUITO</span> al momento de la compra.</span>
                </span>
              </p>
            </div>
            {% else %}

            {% section 'cart-Upsell' %}
            <div class="time-cart control-clock col-lg-12 col-md-12 col-sm-12 col-sx-12">
              <p>
                <span class="wanit" style="font-weight:600;color:#000;text-transform:uppercase;">Want it sooner?</span> 
                <img class="fade-in lazyload" data-src="{{ 'line.png' | asset_url }}" alt="{{ shop.name }}">
                <span class="time-grounp">
                  <span class="time-top">Order within the next <span class="timer"><span class="dynamic-minus"></span> MINS <span class="dynamic-seconds"></span> SECS</span></span>
                  <span class="time-bottom">and choose <span style="font-weight:600;color:#000;">Free Standard Shipping</span> at checkout.</span>
                </span>
              </p>
            </div>
            {% endif %}

          </div>

        </div>
        <div class="button-group col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div class="bottom-buttons">
            {% if has_main_prod_espanol %}
            <h3>resumen de orden</h3>
            {%else%}
            <h3>order summary</h3>
            {% endif %}
            <div class="summary">
              {% if has_main_prod_espanol %}
              <div class="subtotal">
                <span class="pull-left shipping">Envío:</span> 
                <span class="pull-right shipping-free">Gratis</span>
              </div>
              {%else%}
              <div class="subtotal">
                <span class="pull-left shipping">Shipping:</span> 
                <span class="pull-right shipping-free">FREE</span>
              </div>
              {% endif %}
              <div class="slabel estimated-discount" style="display:none;">
                <span class="pull-left your-discount">Discount:</span> 
                <span class="pull-right total_discount_money">$0.00</span>
              </div>
              {% if total_saving_money > 0 %}
              <div class="slabel total-saving">
                {% if has_main_prod_espanol %}
                <span class="pull-left your-saving">Tus Ahorros:</span> 
                {%else%}
                <span class="pull-left your-saving">Your Savings:</span> 
                {% endif %}
                <span style="color:#999;" class="pull-right total_saving_money">{{ total_saving_money | money }}</span>
              </div>
              {% endif %}
              <div class="slabel estimated">
                {% if has_main_prod_espanol %}
                <span class="pull-left estimated-total">Total Estimado:</span> 
                {%else%}
                <span class="pull-left estimated-total">ESTIMATED TOTAL:</span> 
                {%endif%}
                <span class="pull-right total-all"><span class="wh-original-cart-total"><span class='wh-original-price'><span class="zrx-cart-total">{{ cart.total_price | money }}</span></span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></span>
              <p style="display: block;clear: both;"><span class="cart-price" style="display:none">{{ cart.total_price | money }}</span></p>
              </div>

              <div class="whatthis">

                <div class="tooltip-whatthis" style="display:none;">
                  <span class="close-btn" onclick="$('.tooltip-whatthis').hide();$('.tooltip-bg').hide();"><i class="fa fa-close"></i></span>
                  <h5>ONE TIME PURCHASE</h5>
                  <p>We do not and will not automatically ship any product. Your purchase is a one time purchase.</p>
                </div>
                <div class="tooltip-bg" style="display:none;" onclick="$('.tooltip-whatthis').hide();$(this).hide();"></div>
              </div>
              {% include 'plus_cart_discount_code' with settings.plus_display_discount_code %}
            </div>
            {% if has_main_prod_espanol %}
            <p class="promotional"><span style="font-weight: 700;">Los Códigos Promocionales</span> se pueden aplicar en la <span style="font-weight: 700;">página siguiente</span></p>
            {%else%}
            <p class="promotional"><span style="font-weight: 700;">Promotional codes</span> can be applied on the <span style="font-weight: 700;">next page</span></p>
            {%endif%}
            <div class="submit-cart checkout-group">
              <button type="submit" id="checkout" class="btn" name="checkout">{% if has_main_prod_espanol %}comprar{%else%}Checkout{%endif%}</button>
            </div>


            {% comment %}
            <div style="display:none" class="wrap-payment-btn">
              <span class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons | replace: 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif', '' | replace: 'type="image"', 'type="submit"' }}</span>
            </div>
            {% endcomment %}

            <div class="wrap-image-loading">
              <img style="display:block;max-width: 100%;margin: 20px auto;" class="loading_image" src="{{ 'AjaxLoader.gif' | asset_url }}" alt="Loading">
            </div>

            {% comment %}
            <div class="extra-checkout-buttons amazon-btn checkout-group" onClick="$('.amazon-payments-pay-button img').trigger('click')">

            </div>


            <div class="extra-checkout-buttons paypal-btn checkout-group" onClick="$('.paypal-express-button').trigger('click')">

            </div>
            {% endcomment %}

            {%comment%}
            <div id="cart-guarantees">
              {% include 'include-cart-guarantees' %}
            </div>
            {%endcomment%}
          </div>

          {%comment%}
          {% if settings.cart_enable_coupon_message %}
          <!-- Coupon -->
          <div class="limited-timer ipad-screen full-screen col-lg-12 col-md-12 col-sm-6 col-xs-12 pay-multi no-gutter-left no-gutter-right">
            {% include 'include-limited-cart' %}
          </div>
          {% endif %}
          {%endcomment%}


        </div>
      </div>
      <div class="row">
        <div class="other_seal col-md-12 col-xs-12">
          <img class="fade-in lazyload" data-src="{{ "norton-logo.png" | asset_url }}"/>
          <img class="fade-in lazyload" data-src="{{ "bbb-logo.png" | asset_url }}"/>
          {% comment %}
          <a class="link-bbb" target="_blank" data-fancybox-type="iframe" href="https://www.bbb.org/sdoc/business-reviews/skin-care/dermaclara-llc-in-san-diego-ca-172016315"><img src="{{ "bbb-logo.png" | asset_url }}"/></a>


          <a class="link-shopperapproved" target="_blank" data-fancybox-type="iframe" href="http://www.shopperapproved.com/reviews/Dermaclara.com/"><img class="shopperapproved" src="//www.shopperapproved.com/seals/16399-r.gif" style="border: 0" alt="Customer Reviews" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by Shopper Approved \251 '+d.getFullYear()+'.'); return false;" /></a>
          {% endcomment %}
        </div>
      </div>
      
    </form>
   
{% render 'zoorix-cart-bottom' %}


    {% else %}
    {% comment %}
    The cart is empty
    {% endcomment %}
    <h2>{{ 'cart.general.title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    {% endif %}

  </div>
</div>


<a href="#signup-signin" class="hidden btn-popup-form-signup-sign-in popup_form_signup_signin">Edit</a>
{% include 'popup-signup-signin' %}

{% comment %}
<script>
  $(document).ready(function(){
    $('.cart-item .toogle-button').click(function(){
      $(this).toggleClass('open');
      $(this).parent('.cart-item').toggleClass('padding-toggle');
    });
  });
</script>
{% endcomment %}


{% assign qty_orginal_prod = 0 %}
{% assign qty_extra_prod = 0 %}
{% assign qty_orginal_prod_2 = 0 %}
{% assign qty_extra_prod_2 = 0 %}
{% assign qty_orginal_prod_3 = 0 %}
{% assign qty_extra_prod_3 = 0 %}
{% assign qty_orginal_prod_4 = 0 %}
{% assign qty_extra_prod_4 = 0 %}
{% assign qty_orginal_prod_5 = 0 %}
{% assign qty_extra_prod_5 = 0 %}
{% assign qty_orginal_prod_6 = 0 %}
{% assign qty_extra_prod_6 = 0 %}

{% for item in cart.items %}
{% if item.product.handle == orginal_product_handle %}
{% assign qty_orginal_prod = item.quantity %}
{% endif %}
{% if item.product.handle == saleoff_product_handle %}
{% assign qty_extra_prod = item.quantity %}
{% endif %}
{% if item.product.handle == orginal_product_handle_2 %}
{% assign qty_orginal_prod_2 = item.quantity %}
{% endif %}
{% if item.product.handle == saleoff_product_handle_2 %}
{% assign qty_extra_prod_2 = item.quantity %}
{% endif %}
{% if item.product.handle == orginal_product_handle_3 %}
{% assign qty_orginal_prod_3 = item.quantity %}
{% endif %}
{% if item.product.handle == saleoff_product_handle_3 %}
{% assign qty_extra_prod_3 = item.quantity %}
{% endif %}
{% if item.product.handle == orginal_product_handle_4 %}
{% assign qty_orginal_prod_4 = item.quantity %}
{% endif %}
{% if item.product.handle == saleoff_product_handle_4 %}
{% assign qty_extra_prod_4 = item.quantity %}
{% endif %}
{% if item.product.handle == orginal_product_handle_5 %}
{% assign qty_orginal_prod_5 = item.quantity %}
{% endif %}
{% if item.product.handle == saleoff_product_handle_5 %}
{% assign qty_extra_prod_5 = item.quantity %}
{% endif %}
{% if item.product.handle == orginal_product_handle_6 %}
{% assign qty_orginal_prod_6 = item.quantity %}
{% endif %}
{% if item.product.handle == saleoff_product_handle_6 %}
{% assign qty_extra_prod_6 = item.quantity %}
{% endif %}
{% endfor %}

{% assign total_extra_prod = qty_orginal_prod | plus:qty_extra_prod %}
{% assign total_extra_prod_2 = qty_orginal_prod_2 | plus:qty_extra_prod_2 %}
{% assign total_extra_prod_3 = qty_orginal_prod_3 | plus:qty_extra_prod_3 %}
{% assign total_extra_prod_4 = qty_orginal_prod_4 | plus:qty_extra_prod_4 %}
{% assign total_extra_prod_5 = qty_orginal_prod_5 | plus:qty_extra_prod_5 %}
{% assign total_extra_prod_6 = qty_orginal_prod_6 | plus:qty_extra_prod_6 %}

{% if has_main_prod %}

<script>
  $(document).ready(function(){
    var values = {      
      {{all_products[orginal_product_handle].variants.first.id}}: 0,
      {{all_products[saleoff_product_handle].variants.first.id}}: {{total_extra_prod}},
      {{all_products[orginal_product_handle_2].variants.first.id}}: 0,
      {{all_products[saleoff_product_handle_2].variants.first.id}}: {{total_extra_prod_2}},
      {{all_products[orginal_product_handle_3].variants.first.id}}: 0,
      {{all_products[saleoff_product_handle_3].variants.first.id}}: {{total_extra_prod_3}},
      {{all_products[orginal_product_handle_4].variants.first.id}}: 0,
      {{all_products[saleoff_product_handle_4].variants.first.id}}: {{total_extra_prod_4}},
      {{all_products[orginal_product_handle_5].variants.first.id}}: 0,
      {{all_products[saleoff_product_handle_5].variants.first.id}}: {{total_extra_prod_5}},
      {{all_products[orginal_product_handle_6].variants.first.id}}: 0,
      {{all_products[saleoff_product_handle_6].variants.first.id}}: {{total_extra_prod_6}}
    };
    $.ajax({
      type: "POST",
      url: '/cart/update.js',
      data: {updates: values},
      dataType: 'json'
    });
//     $.post('/cart/update.js', {updates: values});
    $('<div style="position: absolute;width: 100%;height: 100%;background: rgba(255, 255, 255, 0.9);text-align: center;vertical-align: middle; padding-top: 50px;top: 0;"><img src="{{ 'AjaxLoader.gif' | asset_url }}"></div>').appendTo($(".cart-body"));
      setTimeout(function(){
      cart_reload();
    }, 1000);

  });
</script>

{% else %}


{% if qty_extra_prod > 0 or qty_extra_prod_2 > 0 or qty_extra_prod_3 > 0 or qty_extra_prod_4 > 0 or qty_extra_prod_5 > 0%}
<!-- bad script -->
<script>
  $(document).ready(function(){
    var values = {
      {{all_products[orginal_product_handle].variants.first.id}}: {{total_extra_prod}},
      {{all_products[saleoff_product_handle].variants.first.id}}: 0,
      {{all_products[orginal_product_handle_2].variants.first.id}}: {{total_extra_prod_2}},
      {{all_products[saleoff_product_handle_2].variants.first.id}}: 0,
      {{all_products[orginal_product_handle_3].variants.first.id}}: {{total_extra_prod_3}},
      {{all_products[saleoff_product_handle_3].variants.first.id}}: 0,
      {{all_products[orginal_product_handle_4].variants.first.id}}: {{total_extra_prod_4}},
      {{all_products[saleoff_product_handle_4].variants.first.id}}: 0,
      {{all_products[orginal_product_handle_5].variants.first.id}}: {{total_extra_prod_5}},
      {{all_products[saleoff_product_handle_5].variants.first.id}}: 0,
      {{all_products[orginal_product_handle_6].variants.first.id}}: {{total_extra_prod_6}},
      {{all_products[saleoff_product_handle_6].variants.first.id}}: 0
    };

    $.post('/cart/update.js', {updates: values});
    $('<div style="position: absolute;width: 100%;height: 100%;background: rgba(255, 255, 255, 0.9);text-align: center;vertical-align: middle; padding-top: 50px;top: 0;"><img src="{{ 'AjaxLoader.gif' | asset_url }}"></div>').appendTo($(".cart-body"));
      setTimeout(function(){
      cart_reload();
    }, 1000);
    	

  });
</script>
{% endif %}

{% endif %}




<script>

  setTimeout(function(){ 
    $('.wrap-image-loading').hide();
    $('.wrap-payment-btn').show();
  }, 1000);
  
</script>


<script type="text/javascript"> new Image().src='//wl-clickserv.index.digital/conv/4b0ceade2f396fc3'; </script>

<style>
  .shopify-cleanslate ._3TUeZPsTWjDxakSmeDcA4D {
    height: 54px !important;
    margin-bottom: 8px !important;
  }
  .shopify-cleanslate ._1mqqPYZtCQtz5_i0b-po4l {
    display: block !important;
  }
  .shopify-cleanslate .kEwctmM5pguv6XkPR8mx6, .shopify-cleanslate ._2PfRg7DFvcstLFRNRf5W1e {
    margin-top: 0px !important;
    margin-bottom: 8px !important;
  }
</style>


<!-- Commission Junction cjeventid Capture via Cart Attribute -->
<!-- CJ event id capture -->
<input id="cjeventid" type="text" name="attributes[cjeventid]" value="{{ cart.attributes["cjeventid"] }}" style="display:none">

<script>
$(document).ready(function(){
  var cjeventid = localStorage.getItem('cjevent');
  $('#cjeventid').attr('value', cjeventid)
});
</script>

<style>
.template-cart .cart-body .cart-item .tile-descrip .title, .cart-item .item .tile-descrip ul li {
  text-transform: capitalize;
}

.shopping-basket h3, #cart .button-group .bottom-buttons h3 {
  font-family: proxima-nova-condensed, sans-serif;
  font-size: 21px;
  font-weight: 700;
}

#checkout {
  font-family: proxima-nova-condensed, sans-serif !important;
  font-weight: 900;
}

.btn {
  background: #121212;
}
</style>