{% if collection.handle == 'all' %}
<script>
  window.location.href = "/collections/shopping-page";
</script>
{% elsif collection.handle == 'dermaclara-set' %}
<script>
  window.location.href = "/products/ultimate-body-face-system";
</script>
{% endif%}



{% section 'collection-template' %}