{% assign products_per_row = settings.collections_products_per_row %}
{% assign rows = settings.collections_rows %}
{% assign total_products = products_per_row | times: rows %}

{% paginate collection.products by total_products %}

<!-- Hero Banner OLD -->
{% comment %} {% if collection.image %}
<div class="head-collection blue-bg" style="background-image: url({{ collection.image | img_url: 'master' }});">
  {% if collection.metafields.custom_fields["hero_title_holiday"] != blank %}
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="captitle-colection">
          <h1>{{ collection.metafields.custom_fields["hero_title_holiday"] }}</h1>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %} {% endcomment %}

<!-- Hero Banner New -->
{% include 'universal-collection-header' %}

<!-- Featured Product -->
{% if collection.metafields.custom_fields["featured_product_holiday"] != blank %}
<div class="featured-section">
  <div class="container">
    <div class="row">
      <div class="col-item col-item-featured col-md-12">
        {% assign product_ref = all_products[collection.metafields.custom_fields["featured_product_holiday"]]  %}

        <div class="row">
          <div class="col-md-6">
            <div class="product-img-border">
              <a href="{{ product_ref.url }}">
                <img class="fade-in lazyload" data-src="{{ product_ref.featured_image | img_url: 'master' }}"
                  alt="{{ product_ref.featured_image.alt | escape }}">
              </a>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-center">
            <div class="product-detail ">
              <a class="title-product" href="{{ product_ref.url }}">{{ product_ref.title }}</a>
              <p class="colle-description">{{ product_ref.metafields.custom_fields["product_title_eyebrow"] }}</p>
              <span class="price">{{ product_ref.price | money }} {% if product_ref.metafields.custom_fields["gift_set_value"] != blank %}<span class="price-value">{{ product_ref.metafields.custom_fields["gift_set_value"] }}</span>{% endif %}</span>
              <div class="reviews_count">
                <span class="shopify-product-reviews-badge" data-id="{{ product_ref.variant.id }}"></span>
              </div>
              <div class="product__desc">{{ product_ref.description }}</div>
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {% assign variant = product_ref.selected_or_first_available_variant %}
              
                <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">
                <link itemprop="availability"
                  href="http://schema.org/{% if product_ref.available %}InStock{% else %}OutOfStock{% endif %}">
                
                <a href="{{ product_ref.url }}" style="text-decoration: none;">
                  <button class="btn btn-ot" style="background: #121212;">
                    Shop Now
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Collection Grid -->
<div id="packages" class="collection container">

  <!-- Collection Heading/Description -->
  <div class="row">
    <div class="col-xl-12 collection-heading">
      {% if collection.metafields.custom_fields["collection_heading_holiday"] != blank %}
      <h2>{{ collection.metafields.custom_fields["collection_heading_holiday"] }}</h2>
      {% endif %}
      {% if collection.metafields.custom_fields["collection_subheading_holiday"] != blank %}
      <h3>{{ collection.metafields.custom_fields["collection_subheading_holiday"] }}</h3>
      {% endif %}
      {% if collection.metafields.custom_fields["collection_description_holiday"] != blank %}
      <p>{{ collection.metafields.custom_fields["collection_description_holiday"] }}</p>
      {% endif %}
    </div>
  </div>

  <!-- Products -->
  <div class="row">
    <div class="col-item col-md-12 holiday-products">
      <div class="row">
        {% for product in collection.products %}
        <div class="col-item col-item-inner col-md-4 text-center">
          <div class="product-img-border">
            <a href="{{ product.url | within: collection }}">
              {% if product.metafields.custom_fields["alt_featured_image"] != blank %}
                  {{ product.metafields.custom_fields["alt_featured_image"] }}
              {% else %}
                <img src="{{ product.featured_image | img_url: 'grande' }}"
                  alt="{{ product.featured_image.alt | escape }}">
              {% endif %}
            </a>
          </div>
          <div class="product-detail">
            <a class="title-product" href="{{ product.url | within: collection }}">{{ product.title }}</a>
            <p class="colle-description" style="padding-bottom: unset;">{{ product.metafields.custom_fields["product_title_eyebrow"] }}</p>
            <span class="price"> {{ product.price | money }} {% if product.metafields.custom_fields["gift_set_value"] != blank %}<span class="price-value">{{ product.metafields.custom_fields["gift_set_value"] }}{% endif %}</span></span>
            {% if product.metafields.custom_fields["gift_set_includes_holiday"] != blank %}
            <h4>Gift Set Includes:</h4>
            {{ product.metafields.custom_fields["gift_set_includes_holiday"] }}
            {% endif %}
            <!-- removing for now
            <div class="reviews_count">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
            -->
            {% include 'product-form-slim' %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endpaginate %}

{% comment %} @media screena and (min-width: 768px) {
  .head-collection h1 {
      bottom: 90px;
      left: auto;
      width: 50% !important;
      align-content: left;
  }
}

.head-collection {
    background-position: 85%;
}

.head-collection h1 {
    color: #ffffff;
    bottom: 70px;
    left: auto;
    width: 100%;
} {% endcomment %}



<style>
  h2 {
    font-family: proxima-nova-condensed, sans-serif !important;
    font-size: 28px !important;
    font-weight: 700 !important;
  }

  #AddToCart {
    margin-top: 12px;
  }

  main > div.featured-section > div > div > div > div > div:nth-child(1) > div {
    max-height: unset;
  }

  .featured-section {
    margin-bottom: 50px;
  }

  .price-value {
    color: #666666;
    font-size: 13px;
  }

  @font-face {
    font-family: Freeland;
    src: url({{ 'freeland.otf' | asset_url }});
  }

  .featured-section {
    background: #fcfcfc;
    padding: 50px 0 40px 0;
  }
  .col-item-featured .product__desc {
    margin: 15px 0 30px 0;
  }

  .col-item-featured .title-product {
    font-family: proxima-nova-condensed, sans-serif !important;
    font-size: 28px !important;
    font-weight: 700 !important;
  }

  .col-item-featured .price {
    font-size: 18px !important;
  }

  .addto-btn-wrapp .continue-shopping {
    display: none;
  }
  
  .site-footer {
    padding-top: 0 !important;
  }

  .holiday-products .title-product {
    font-family: proxima-nova-condensed, sans-serif !important;
    text-decoration: none !important;
    font-size: 21px !important;
    font-weight: 700 !important;
    margin: 18px 0 0 !important;
  }

  @media screen and (min-width: 575px) {
    .holiday-products .title-product {
      margin: 36px 0 0 !important;
    }
  }

  .holiday-products .colle-description {
    text-transform: uppercase;
    margin: 5px 0 !important;
  }

  .holiday-products ul {
    list-style: disc;
    min-height: 168px;
  }

  .holiday-products ul li {
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
  }

  .holiday-products h4 {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .holiday-products #AddToCart {
    min-width: 100%;
    background: #000;
  }

  .col-item-featured #AddToCart {
    background: #000;
  }

  .collection-heading {
    margin-bottom: 50px;
  }

  .collection-heading p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
  }

  .main-content {
    margin-top: 0;
    padding-bottom: 0 !important;
  }

  .head-collection {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 420px;
  }

  .head-collection h1 {
    font-size: 76px;
    color: #ffffff;
    position: absolute;
    bottom: 90px;
    left: auto;
    width: 50%;
  }

  .head-collection h1 small {
    font-size: 70%;
  }

  .head-collection .captitle-colection {
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    min-height: 400px;
  }

  .template-collection #packages .row {
    margin-right: -44px;
    margin-left: -44px;
  }

  .template-collection #packages .col-item {
    padding: 0 44px;
  }

  .col-item.col-large .product-img-border {
    padding: 0;
  }

  .product-img-border {
    max-height: 294px;
  }

  .collection-heading {
    text-align: center;

  }

  @media screen and (max-width: 1199px) {

    .template-collection #packages .row {
      margin-right: -35px;
      margin-left: -35px;
    }

    .template-collection #packages .col-item {
      padding: 0 35px;
    }

  }

  @media screen and (max-width: 991px) {
    .template-collection #packages .row {
      margin-right: -25px;
      margin-left: -25px;
    }

    .template-collection #packages .col-item {
      padding: 0 25px;
    }
    .holiday-products ul {
      min-height: unset;
    }
  }

  @media screen and (max-width: 767px) {

    .head-collection {
      min-height: 320px;
      background-position: 85%;
    }

    .head-collection h1 {
      font-size: 55px;
      width: 100%;
      bottom: 70px;
    }

    .head-collection .captitle-colection {
      min-height: 300px;
    }

    .template-collection #packages .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    .template-collection #packages .col-item {
      padding: 0 60px;
      margin-bottom: 30px !important;
    }

    .template-collection #packages .col-item.col-large {
      padding: 0 15px;
    }

    .col-item.col-large .product-img-border {
      padding: 0;
    }

    .template-collection #packages .col-item.col-item-inner {
      padding: 0 15px;
    }

  }


</style> 