{{ 'professionals-landing.css' | asset_url | stylesheet_tag }}
<div id="professionals-landing" class="page-professionals-landing">
  <section id="product-professionals-new">
    <div class="container">
      <div class="row">
        <div class="section-product col-md-12 col-sm-12 col-xs-12">

          <h3>{{settings.title_partner}}</h3>
          <div class="product-img col-md-7 col-sm-7 col-xs-12 ">
            <img class="fade-in lazyload" data-src="{{ 'claratone-pic.png' | asset_url }}">
          </div>

          <div class="product-text col-md-5 col-sm-5 col-xs-12">
            <p>{{settings.content_top_partner}}</p>
             <p>{{settings.content2_top_partner}}</p>
          </div>

        </div>

        <div class="ct-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12">
          <a href="#form-new">JOIN THE DERMACLARA NETWORK </a>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works-new">
    <div class="container">
      <div class="row">
        <div class="section-how-it-works col-md-12 col-sm-12 col-xs-12">
          <h1>{{settings.network_works}}</h1>
          <div class="column col-md-4 col-sm-4 col-xs-12">
            <div class="col">
              <h3>{{settings.col1}}</h3>
              <p>{{settings.cont_col1}}</p>
            </div>
            <img class="row-img" src="{{ 'row.png' | asset_url }}" alt/>
          </div>
          <div class="column col-md-4 col-sm-4 col-xs-12">
            <div class="col">
              <h3>{{settings.col2}}</h3>
              <p>{{settings.cont_col3}}</p>
            </div>
            <img class="row-img" src="{{ 'row.png' | asset_url }}" alt/>
          </div>
          <div class="column col-md-4 col-sm-4 col-xs-12">
            <div class="col">
              <h3>{{settings.col3}}</h3>
              <p>{{settings.cont_col3}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="benefits-new">
    <div class="conainer">
      <div class="row">
        <div class="benefits-text col-md-12 col-sm-12 col-xs-12">
          <h3>Benefits</h3>
          <ul>
            {{settings.benefit_text}}
          </ul>
        </div>
        <div class="conainer">
          <div class="row">
            <div class="col-md-12 hightest-content align-center">
              <div class="hightest-video">
                <a href="#popup-video-vimeo" class="popup-vimeo open-popup-vimeo">
                  <img class="hero-img" alt="" src="{{ 'video.png' | asset_url }}">
                </a>
                <div class="play-button">
                  <a href="#popup-video-vimeo" class="icon-play open-popup-vimeo" ><i class="fa fa-play" aria-hidden="true"></i><span>Watch video</span>   
                  </a>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="hidden">

          <div class="popup-vimeo-wrapper" id="popup-video-vimeo">
            <div class="video-container">
              <iframe id="vimeo-player" link-src="{{ settings.video-benefit | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="home-results" class="home-results-new">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="section-title1 text-center">{{settings.people_title}}</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="section-title a text-center">results you can see</h2>
        </div>
      </div>
    </div>

    {% include 'partner-results-you-can-see' %}

     <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="bottom-slide text-center">{{settings.bottom_slide}}</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <p class="bottom-slide a text-center">{{settings.content_bottom_slide}}</p>
        </div>
      </div>
    </div>

  </section>


  <section id="home-clinically-tested" class="one-bg one-bg-new">
    {% include 'include-clinically-tested-new' %}
  </section>

  <section id="form-new" class="">
    {% include 'form-network' %}
   
  </section>

</div>

<script>
  $(document).ready(function(){

    $("#vimeo-player").on("finish", function(){
      $("#popup-video-vimeo} .mfp-close").trigger("click");
    });
    $('.open-popup-vimeo').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          $("#vimeo-player").attr('src',$("#vimeo-player").attr('link-src'));
          setTimeout(function(){$("#vimeo-player").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#vimeo-player").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }}
    });

  });
</script>