{% include 'espanol-include-slider' %}
{% include 'espanol-include-results' %}
{% include 'espanol-new-silicone-fusion' %}
{% include 'espanol-include-features-tabs' %}
{% include 'espanol-include-clinically-tested' %}
{% include 'espanol-include-guarantees' %}
{% include 'espanol-include-packages' %}
{% include 'espanol-include-as-seen-on' %}
{% include 'espanol-include-philantropy' %}
<style>
  .main-content {
    margin: 0;
  }

  #popup-extra-product .product-detail .cart-wrapp, 
  #popup-extra-product-2 .product-detail .cart-wrapp {
    width: 250px;
  }
  #popup-extra-product .product-detail .cart-wrapp input.btn, 
  #popup-extra-product-2 .product-detail .cart-wrapp input.btn {
    max-width: 250px;
    letter-spacing: 2px;
  }
  #promo-img .caption-promo .slide-video-popup .slide-video-inside h3 {
    display: block;
    color: #000;
    bottom: 0;
    line-height: 60px;
    background: #ddd;
  }
  #promo-img .learn-more-button {
    max-width: 168px;
  }
  #promo-img .caption-promo h3 {
    margin: 30px 0 5px;
  }
  #promo-img .caption-promo .hero-text {
    padding: 0 10px 0 0;
  }
  #espanol .spr-header-title {
    width: 35%;
  }
  #packages .regime-timer {
    font-size: 16px;
  }
  #packages .regime-timer #dynamic-timer > span {
    font-size: 24px;
    letter-spacing: 3px;
  }
  #packages .addtocart.btn {
    letter-spacing: 3px;
    max-width: 230px;
  }
  #packages .set-include p {
    font-size: 13px;
    letter-spacing: 0px;
    padding: 0 10px;
  }
  #packages .seal-bestbang {
    display: none;
    background: #ff4365;
    width: 84px;
    height: 84px;
    overflow: hidden;
    text-indent: 0;
    color: #fff;
    line-height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 20px 6px;
    font-size: 12px;
    letter-spacing: 0.2px;
  }
  #packages .arrow-cir {
  display: none;
  }

  @media screen and (max-width: 1199px) {
    #packages .set-include {
      min-height: 88px;
    }

  }
  @media screen and (max-width: 991px) {
    #packages .set-include {
      min-height: 100%;
    }
    #packages .set-include p {
      font-size: 20px;
      letter-spacing: 0.25px;
      padding: 0 30px;
      line-height: 34px;
    }
    #packages .addtocart.btn {
      letter-spacing: 3px;
      max-width: 340px;
    }
    #promo-img .learn-more-button {
      max-width: 168px;
      width: 168px;
    }
    #promo-img .caption-promo .slide-video-popup .slide-video-inside h3 {
      line-height: 84px;
    }
    #espanol .spr-header-title {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    #packages .addtocart.btn {
      letter-spacing: 3px;
      max-width: 409px;
      font-size: 32px;
    }
    #promo-img .caption-promo h1 {
      font-size: 42px;
      line-height: 52px;
    }
    #promo-img .caption-promo .slide-video-popup .slide-video-inside h3 {
      line-height: 64px;
      font-size: 24px;
    }
    #home-results p span {
      white-space: initial;
    }
    #home-clinically-tested h2.testimonials-title {
      font-size: 25px;
    }

  }
  @media screen and (max-width: 639px) {
    #promo-img .learn-more-button {
      max-width: 200px;
      width: 200px;
    }
    #packages .set-include p {
      font-size: 14px;
      letter-spacing: 0.25px;
      padding: 0 20px;
      line-height: 24px;
    }
    #packages .addtocart.btn {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 479px) {
    #packages .seal-bestbang {
      top: -32px;
    }
    #packages .set-include p {
      font-size: 12px;
      letter-spacing: 0;
      padding: 0;
      line-height: 19px;
    }
    #promo-img .caption-promo h1 {
      font-size: 24px;
      line-height: 30px;
    }

    #promo-img .caption-promo h3 {
      margin: 7px 0 5px;
      font-size: 13px;
      line-height: 20px;
    }
    #promo-img .caption-promo .promo-top-mb {
      padding-bottom: 185px;
      background-size: 378px auto;
    }
    #promo-img .caption-promo .hero-seal {
      top: 29%;
    }
    #promo-img .caption-promo .slide-video-popup .slide-video-inside h3 {
      line-height: 40px;
      font-size: 18px;
    }
    #rumor-has-it h2.section-title {
      margin: 20px 0 10px;
      font-size: 36px;
    }
    #packages .regime-timer #dynamic-timer {
      max-width: 236px;
      font-size: 16px;
      letter-spacing: 0px;
    }
    #popup-extra-product .product-detail .cart-wrapp {
      margin: 0!important;
      width: 230px!important;
    }
  }


</style>