

{% include 'espanol-include-slider-wrinkles' %}

{% include 'espanol-include-results-wrinkles' %}

{% include 'espanol-include-silicone-fusion-wrinkles' %}

{% include 'espanol-include-guarantees-wrinkles' %}

{% include 'espanol-include-howitwork-wrinkles' %}
{% include 'espanol-include-clinically-tested-wrinkles' %}
{% comment %}{% include 'include-apps' %}{% endcomment %}


{% include 'espanol-include-packages-wrinkles' %}
{% include 'espanol-include-as-seen-on-wrinkles' %}

{% if settings.home_section_1 != blank %}
{% include settings.home_section_1 %}
{% endif %}

{% if settings.home_section_2 != blank %}
<hr class="hr--small hr--clear">
{% include settings.home_section_2 %}
{% endif %}

{% if settings.home_section_3 != blank %}
<hr class="hr--small hr--clear">
{% include settings.home_section_3 %}
{% endif %}

{% if settings.home_section_4 != blank %}
<hr class="hr--small hr--clear">
{% include settings.home_section_4 %}
{% endif %}

<style>
  
  #promo-img .learn-more-button {
    max-width: 168px;
  }

  #promo-img.wrinkle {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#efefef), to(#ffffff));
    background: -webkit-linear-gradient(top, #efefef, #ffffff);
    background: -moz-linear-gradient(top, #efefef, #ffffff);
    background: -o-linear-gradient(top, #efefef, #ffffff);
    background: -ms-linear-gradient(top, #efefef, #ffffff);
    background: linear-gradient(top, #efefef, #ffffff);
  }

  #promo-img.wrinkle .caption-promo h1 {
    display: inline-block;
    width: 100%;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 60px;
    margin: 45px 0 15px;
    text-transform: capitalize;
    position: relative;
  }

  #promo-img.wrinkle .caption-promo .hero-text {
    margin: 0 auto 20px;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: #1d1d25;
    padding: 0 17%;
  }

  #promo-img.wrinkle .caption-promo .slide-video-popup {
    position: relative;
    margin-top: 30px;
  }

  .wrinkle .slide-video-popup .slide-video-play a img {
    left: 50%;
    margin-left: 4px;
    max-width: 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none
  }

  #results-video-slide .onehour-text {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  #home-silicone-fusion h2.section-title {
    font-size: 40px;
  }

  #home-clinically-tested .clinically-tested-text p,
  #home-clinically-tested .clinically-tested-text a {
    color: #666;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }

  #results-text-wrapp {
    margin: 60px 0 0;
    padding: 45px 0 25px;
    background: #222222 none repeat scroll 0 0;
  }

  #results-text-wrapp .results-text p,
  #results-text-wrapp .results-text h3 {
    color: #fafafa !important;
  }

  #packages h3.title {
    font-size: 23px;
    line-height: 30px;
    color: #000;
  }

  #guatantees {
    background: #f9f9f9 none repeat scroll 0 0;
  }

  #rumor-has-it {
    background: #222 none repeat scroll 0 0;
    padding-bottom: 60px;
    text-align: center;
  }

  #rumor-has-it h2.section-title {
    color: #fff;
  }

  #video-seenon a.play-button {
    opacity: 0.5;
    border: none;
  }

  #video-seenon a.play-button i {
    color: #fff;
    font-size: 54px;
  }

  .wrinkles-page .main-content {
    padding-bottom: 0;
  }

  .wrinkles-page .site-footer {
    padding-top: 0;
  }

  #packages-advance-details .include-kit ul li a {
    font-weight: 600;
  }

  @media screen and (max-width: 1199px) and (min-width: 992px) {

    #promo-img .caption-promo h1 {
      font-size: 32px!important;
      line-height: 54px!important;
    }

    #promo-img .caption-promo .hero-text {
      font-size: 18px!important;
      line-height: 28px!important;
    }

    #home-clinically-tested .clinically-tested-text p {
      padding-right: 35px!important;
    }

    #packages h3.title {
      font-size: 15px!important;
      line-height: 27px!important;
    }
    
    .notification p {
      font-size: 10px!important;
      line-height: 18px!important;
    }
    
    #packages-advance-details .price-addtobag a.btn{
      font-size: 15px;
    }

  }

  @media screen and (max-width: 991px) and (min-width: 768px) {

    #promo-img .caption-promo h1 {
      font-size: 40px!important;
      line-height: 50px!important;
      margin: 20px 0 10px!important;
    }

  }

  @media screen and (max-width: 991px) {
    #promo-img .caption-promo .hero-text {
      margin: 0 auto 15px!important;
      font-size: 18px!important;
      line-height: 28px!important;
      padding: 0 40px!important;
    }

    #promo-img.wrinkle .caption-promo .slide-video-popup {
      max-width: 420px !important;
      margin-top: 0 !important;
    }

    #promo-img .learn-more-button {
      bottom: -32px!important;
      width: 180px;
    }

    #rumor-has-it .logo-br img {
      max-height: 30px!important;
      margin: 0 15px!important;
    }

    #rumor-has-it .logo-br {
      line-height: 70px!important;
      min-height: 100%!important;
    }
    
    #packages-advance-details .price-addtobag a.btn{
      font-size: 18px;
      max-width: 275px;
    }

  }

  @media screen and (max-width: 767px) {

    #promo-img .caption-promo h1 {
      font-size: 38px!important;
      line-height: 46px!important;
      margin: 50px 0 15px!important;
    }

    #promo-img .caption-promo h1 img.top-clinically {
      top: 232px!important;
      left: 10px!important;
    }

  }

  @media screen and (max-width: 639px) {
    #promo-img .caption-promo h1 {
      font-size: 34px!important;
      line-height: 44px!important;
      margin: 20px 0 10px!important;
    }

    #promo-img .caption-promo .hero-text {
      font-size: 16px !important;
      line-height: 24px !important;
      padding: 0 !important;
    }

    #promo-img.wrinkle .caption-promo .slide-video-popup {
      margin-bottom: 0!important;
    }

    #home-silicone-fusion h2.section-title {
      font-size: 38px!important;
      line-height: 48px!important;
    }

  }


  @media screen and (max-width: 479px) {

    #promo-img .caption-promo h1 {
      font-size: 22px!important;
      line-height: 26px!important;
      margin: 15px 0 5px!important;
    }

    #promo-img .caption-promo .hero-text {
      margin: 0 auto 5px!important;
      font-size: 16px!important;
      line-height: 22px!important;
      max-width: 320px!important;
      padding: 0!important;
    }

    #promo-img.wrinkle .caption-promo .slide-video-popup {
      max-width: 240px !important;
      margin-top: 9px !important;
    }

    #promo-img {
      padding-bottom: 0!important;
    }

    #promo-img .learn-more-button {
      bottom: -9px !important;
    }

    #promo-img .caption-promo h1 img.top-clinically {
      top: 194px !important;
      left: 40px !important;
    }

    #home-silicone-fusion h2.section-title {
      font-size: 26px !important;
      line-height: 30px !important;
    }

    #packages h3.title {
      font-size: 18px!important;
      line-height: 28px!important;
    }

    #rumor-has-it .logo-br img {
      max-height: 30px !important;
      margin: 20px auto !important;
      display: block !important;
    }

    #results-video-slide .onehour-text {
      font-size: 10px!important;
    }

    #results-text-wrapp {
      margin: 20px 0 0!important;
    }

    #home-clinically-tested .clinically-tested-text p, #home-clinically-tested .clinically-tested-text a {
      font-size: 16px!important;
      line-height: 26px!important;
    }

  }

  @media screen and (max-width: 359px) {

    #promo-img .caption-promo h1 {
      font-size: 16px!important;
      line-height: 16px!important;
    }

    #promo-img .caption-promo .hero-text {
      margin: 0 auto!important;
      font-size: 12.5px!important;
      line-height: 14px!important;
      padding: 0!important;
      max-width: 290px!important;
    }

    #promo-img .caption-promo h1 img.top-clinically {
      top: 89px !important;
      left: 26px !important;
    }

  }


</style>
