
<div class="container contact-page contact-page-new contact-new">
  <div class="row">
    <div class="do-you-need col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class"title">
        <h1>Do you need help with orders, returns, exchanges, questions about the products?</h1>
      </div>
      <p>Give us a ring, send us an email, chat with us or fill out the form below. We’ll be happy to help. For questions about orders, 
        please have your order number on hand, the name and postal code of the billing address.
      <div class="text2"> Please also refer to our <a href="https://www.dermaclara.com/pages/faq" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" >FAQ page</a> for immediate answers to commonly asked questions. </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="phone col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>PHONE:</h2>
    <p>1 (800) 397-1288</p>
  </div>
</div>
<div class="row">
  <div class="email col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>EMAIL:</h2>
    <a href="mailto:support@dermaclara.com"> support@dermaclara.com </a>
  </div>
</div>
<div class="row">
  <div class="live-chat col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>LIVE CHAT:</h2>
    <a href="javascript:$zopim.livechat.window.show();"> chat with us </a>
    <p>we’re available every day, from 8 am to 8 pm ET</p>
  </div>
</div>
<div class="row" style="border-bottom: 1px solid #fffff;border-bottom: 1px solid #66656233;margin: 0 auto;max-width: 350px !important;width: 100%;border: 1px solid rgba(102, 101, 98, 0.55);border-left: 0px;border-right:0px;border-top:0px;"><div class"line"=""></div></div>
<div class="row">
  <div class="order-status col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>ORDER STATUS:</h2>
    <p>Want to check the status of your order? <a href="/pages/order-lookup">CLICK HERE</a> </p>
  </div>
</div>
<div class="row" style="border-bottom: 1px solid #fffff;border-bottom: 1px solid #66656233;margin: 0 auto;max-width: 350px !important;width: 100%;border: 1px solid rgba(102, 101, 98, 0.55);border-left: 0px;border-right:0px;border-top:0px;"><div class"line"=""></div></div>
<div class="row">
  <div class="section-header ct-center">
    <h1 class="section-header__title page-title-default col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ page.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="section-text ct-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{ page.content }}
  </div>
</div>

<div class="row">
  <div class="text-form col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="top-form">
      <h2 >Want us to get back to you? </h2>
      <p>Fill out the form below and we’ll respond as soon as possible. For questions about orders,
        please include your order number, the name and postal code of the billing address.</p>
    </div>
  </div>
  {% form 'contact' %}

  {% if form.posted_successfully? %}
  <p class="note form-success col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{ 'contact.form.post_success' | t }}
  </p>
  {% endif %}

  {{ form.errors | default_errors }}

  <div class="wrap-input-left col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="input-wrapp">
      {% assign name_attr = 'contact.form.name' | t | handle %}
      <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
      <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Full Name</span> - Please fill in the required field</label>
      <input class="required" type="text" id="ContactFormName" name="contact[first-name]" textplaceholder="Full Name" placeholder="Full Name" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
    </div>
    <div class="input-wrapp">
      <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
      <label class="error-text" style="display:none;" onClick="alert(123)"><span>Email</span> - Please fill in the required field</label>
      <input class="required" type="email" id="ContactFormEmail" name="contact[email]" textplaceholder="Email" placeholder="Email" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
    </div>
  </div>

  <div class="wrap-input-right col-lg-offset-0 col-lg-6 col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="input-wrapp">
      <label for="ContactFormSubject" class="label--hidden">Order Number</label>
      <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Order Number</span> - Please fill in the required field</label>
      <input class="required" type="text" id="ContactFormLastName" name="contact[last-name]" textplaceholder="Order Number" placeholder="Order Number" autocapitalize="words" value="" required>
    </div>
    <div class="input-wrapp">
      {% assign name_attr = 'contact.form.phone' | t | handle %}
      <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
      <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Phone Number</span> - Please fill in the required field</label>
      <input class="required" type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" textplaceholder="Phone Number" placeholder="Phone Number" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}" required>
    </div>
  </div>

  <div class="wrap-message col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="input-wrapp">
      <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
      <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Your Message</span> - Please fill in the required field</label>
      <textarea class="required" rows="10" id="ContactFormMessage" name="contact[body]" textplaceholder="Your Message" placeholder="Your Message" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>
  </div>

  <div class="ct-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12 captcha-wrapper-contact">
    <label>Are you a robot?</label>
    <input type="text" disabled="disabled" id="question-captcha-contact">
    <span>=</span>
    <input type="text" id="answer-captcha-contact">
    <span class="respond-captcha-contact"></span>
  </div>

  <div class="ct-center ct-center-new col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10 col-xs-12">
    <input type="submit" id="submitButton" class="btn btn-submit" value="SEND">
  </div>
  {% endform %}

</div>


<style>
  .contact-new .wrap-input-left ,
  .contact-new .wrap-input-right ,
  .contact-new .wrap-message {
    margin-left: 0px;
  }
  .contact-new .top-form {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
  }
  .text2  {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #666562;
  }
  .contact-new a {
    text-decoration: underline;
  }
  .contact-new #contact_form input {
    outline: none;
    border-color: -moz-use-text-color -moz-use-text-color #666666;
    border-width: medium 0 1px;
    color: #ff4365;
    font-size: 18px;
    font-weight: 400;
    height: 60px;
    padding: 0;
    -webkit-box-shadow: 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
    font-family: 'Open Sans', sans-serif;

  }
  .contact-new #contact_form input#submitButton {
    height: 50px;
    background-color: #c8a557;
  }
  .contact-new #contact_form input#submitButton:hover{
    background: #000 none repeat scroll 0 0;
  }
  .contact-new #contact_form #ContactFormMessage {
    outline: none;
    border-color: -moz-use-text-color -moz-use-text-color #666666;
    border-width: medium 0 1px;
    color: #444037;
    font-size: 18px;
    font-weight: 400;
    height: 60px;
    padding: 0;
    -webkit-box-shadow: 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
    font-family: 'Open Sans', sans-serif;

  }
  .contact-page-new .order-status {
    padding: 30px 0px 40px 0px;
  }
  .contact-new .ct-center-new input#submitButton {
    max-width: 250px !important ;
    font-size: 22px !important ;
    font-weight: 400 !important;
    height: 60px;
  }
  .ct-center-new {
    text-align: center;
  }

  .contact-page-new .do-you-need {
    padding-top: 10px;
  }
  .contact-page-new .phone {
    padding-top: 30px;
  }
  .contact-page-new .phone p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #666562;
  }
  .contact-page-new .live-chat a{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #c8a557;
  }
  .contact-page-new .live-chat p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #666562;
  }
  .contact-page-new .email,
  .contact-page-new .live-chat {
    padding-top: 30px;
  }
  .contact-page-new .email a {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    color: #c8a557;
  }
  .contact-new .line {
    border-bottom: 1px solid #666562 !important;
    max-width: 350px !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .contact-page-new .order-status p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #666562;
  }
  .contact-page-new .text-form h2 {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #444037;
  }
  .contact-page-new .text-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #666562;
  }
  .contact-page-new .live-chat {
    padding-bottom: 40px;

  }

  .contact-page-new .text-form {
    padding-bottom: 15px;
    padding-top: 30px;

  }
  .contact-page-new .do-you-need,
  .contact-page-new .phone ,
  .contact-page-new .email,
  .contact-page-new .live-chat,
  .contact-page-new .order-status,
  .contact-page-new .text-form {
    text-align: center;
  }
  .contact-page-new .do-you-need h1 {
    font-size: 26px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 400;
    color: #444037;
  }
  .contact-page-new .do-you-need p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #666562;
  }
  .contact-page-new .phone h1 ,
  .contact-page-new .email h1 ,
  .contact-page-new .live-chat h1 ,
  .contact-page-new .order-status h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #444037;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .contact-page-new .section-header {
    display: none;
  }
  input#question-captcha-contact {
    display: inline-block;
    margin: 0 auto 20px;
    text-align: center;
    background: transparent;
  }

  .respond-captcha-contact {
    color: #ff0000;
    display: block!important;
    font-size: 12px;
    margin: 0!important;
  }

  .captcha-wrapper-contact {
    display: block;
    text-align: center;
    padding-top: 25px;
  }

  .captcha-wrapper-contact label {
    color: #1d1d25;
    display: block;
    font-family: "crimson text",serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
  }

  .captcha-wrapper-contact input {
    display: inline-block;
    float: none;
    max-width: 100px;
    text-align: center;
  }

  .captcha-wrapper-contact span {
    display: inline-block;
    float: none;
    margin: 0 10px;
    text-align: center;
  }
  label.error{
    display:block;
    text-align: left;
    color: red;
    font-weight: normal;
    font-size: 12px;
  }
  @media only screen and (max-width: 1199px) {
    .contact-page-new .do-you-need {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media only screen and (max-width: 640px) {
    .contact-page-new .do-you-need h1 {
      font-weight: 600;
    }
    .contact-page-new .do-you-need {
      padding-top: 10px;
    }
    .contact-page-new .do-you-need p {
      padding-top: 20px;
    }
    .contact-new .order-status a {
      display: block ;
      padding-top: 5px;
    }
    .contact-new #contact_form input#submitButton {
      max-width: 510px !important;
      width: 100%;
    }
  }
  @media only screen and (max-width: 479px) {
    .contact-new {
      padding-right: 30px;
      padding-left: 30px;
    }
    .contact-page-new .phone ,
    .contact-page-new .email, 
    .contact-page-new .live-chat{
      padding-top: 10px;
    }
    .contact-page-new .order-status {
      padding: 10px 0px 25px 0px;
    }
    .contact-page-new .live-chat {
      padding-bottom: 30px;
    }
    .contact-page-new .text-form {
      padding-bottom: 30px;
      padding-top: 10px;
    }
  }

</style>
<script>
  $(document).ready(function() {
    var n1 = Math.round(Math.random() * 10 + 1);
    var n2 = Math.round(Math.random() * 10 + 1);
    $("#question-captcha-contact").val(n1 + " + " + n2);
    $("#submitButton").click(function() {
      if (eval($("#question-captcha-contact").val()) != $("#answer-captcha-contact").val()) {
        $('.respond-captcha-contact').text('That CAPTCHA was incorrect.');
      }
      else{
        $('.respond-captcha-contact').text('');
        var error = false;
        $('.required').each(function(){
          if($(this).val() === ''){
            error = true;
            $(this).attr('placeholder','');
            $(this).prev().show();
          }
          else{
            $(this).attr('placeholder',$(this).attr('textplaceholder'));
            $(this).prev().hide();
          }
        });
        if(error){

        }else{          
          $('form.contact-form').submit();
        }
      }
    });

    $(".required").focus(function(){
      $(this).prev().hide();
      $(this).attr('placeholder',$(this).attr('textplaceholder'));
    });
  });
</script>