<div id="page" class="page affiliates">
  <div class="affiliates-banner">
    <div id="promo-img-affiliates" class="promo-images">
      <img class="fade-in lazyload" data-src="{{ 'hero-affiliates.jpg' | asset_url }}" alt="Hero Affiliates">
    </div>
    <div class="definition">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>The #1, Clinically Tested, Safe, and Effective Solution for<br>
              <b>Stretch Marks, Scars, Fine Lines and Wrinkles </b></h3>
          </div>
        </div>
        <div class="row">
          <div class="text-center col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
            <h2>MILLION DOLLAR AFFILIATE PROGRAM</h2>
            <p>Dermaclara has partnered with Impact Radius to provide you with a market leading performance marketing campaign. Performance marketing is simple; you receive large earnings for promoting Dermaclara products to your audience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="howitworls">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
          <h1>How It Works</h1>
          <p>Join the dermaclara.com Affiliate Program and make uncapped 20% commission on initial sale with NET 15 payouts.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="stat">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h1 class="section-title text-center">Key Affiliate Program Stats</h1>
        </div>
      </div>
      <div class="row">
        <div class="stat-item stat-item-1 col-md-offset-0 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
          <h1><sup>$</sup>103</h1>
          <span>average order <br>value</span>
        </div>
        <div class="stat-item stat-item-2 col-md-offset-0 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
          <h1>4.26<sup>%</sup></h1>
          <span>average onsite <br>conversion rate</span>
        </div>
        <div class="stat-item stat-item-3 col-md-offset-0 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
          <h1>20<sup>%</sup></h1>
          <span>uncapped 20% <br>commission net sale</span>
        </div>
      </div>

      <div class="row">
        <div class="text-center col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
          <p class="text-marketing">Our marketing infrastructure is backed by an omni-channel retargeting campaign and full email marketing automation. Drive qualified traffic into our funnel and make a generous compensation! </p>
        </div>
      </div>

    </div>
  </div>
  <div id="chart">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h2>How much money can you make?</h2>
        </div>
      </div>
      <div class="row">
        <div class="text-center col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
          <div style="width:100%">

            <div class="item-column col-md-4 col-sm-4 col-xs-4 text-center">
              <p class="head">DAILY SALES</p>
              <p>1</p>
              <p>5</p>
              <p>10</p>
              <p>50</p>
              <p>100</p>
            </div>

            <div class="item-column even col-md-4 col-sm-4 col-xs-4 text-center">
              <p class="head">AVERAGE COMMISSION</p>
              <p>$20.60</p>
              <p>$103.00</p>
              <p>$206.00</p>
              <p>$1,030.00</p>
              <p>$2,060.00</p>
            </div>

            <div class="item-column col-md-4 col-sm-4 col-xs-4 text-center">
              <p class="head">POTENTIAL MONTHLY INCOME</p>
              <p>$618.00</p>
              <p>$3,090.00</p>
              <p>$6,180.00</p>
              <p>$51,500.00</p>
              <p>$206,000.00</p>
            </div>

          </div> 
        </div>
      </div>
    </div>
  </div>
  <div id="target-audience">
    <div class="container">
      <div class="row">
        <div class="target-text text-center col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
          <h1>Dermaclara Target Audience</h1>
          <h3>19-65 year old women who live in the USA</h3>
          <img class="fade-in lazyload" data-src="{{ 'hero-target.jpg' | asset_url }}" alt="Dermaclara Target Audience">
        </div>
      </div>
    </div>
  </div>
  <div id="join-the-man">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h3>Join the dermaclara.com</h3>
          <h1>Million Dollar<span>Affiliate Program</span></h1>
          <a href="{{settings.join-now-link}}" target="_blank" class="btn">Join Now</a>
        </div>
      </div>
    </div>
  </div>


</div>
<style>

  #promo-img-affiliates{
    text-align:center;
  }
  .main-content {
    margin: 0;
    padding: 0;
  }
  #undefined-sticky-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999999;
    background: transparent;
  }
  .site-header {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
  }
  #promo-img .hero-inside h2 {
    font-size: 66px;
    line-height: 80px;
    text-shadow: 2px 4px 5px #333;
  }
  #promo-img .hero-inside {
    padding-left: 30%;
  }
  .definition {
    padding: 0;
  }
  .definition h3 {
    color: #1d1d25;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 45px;
    margin: 0px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1d1d25;
  }
  .definition h2{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size:70px;
    color:#91908c;
    margin: 40px 0;
  } 
  .definition p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    letter-spacing: 0;
    margin: 80px 0 40px;
    color: #91908c;
  }

  .definition p:before{
    content: "";
    height: 3px;
    width: 100%;
    max-width: 160px;
    background: #ff4365;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .definition p:before {
    top: -30px;
  }

  .howitworls {
    background: #eee;
    padding: 35px 0 30px;
  }

  .howitworls h1 {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    position: relative;
    color: #1d1d25;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.4px;
    display: inline-block;
    margin: 20px 0;
  }

  .howitworls p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: #91908c;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.3px;
    margin: 0;
  }
  #stat h1.section-title {
    margin: 40px 0;
    font-size: 50px;
    line-height: 60px;
  }

  #stat .stat-item{
    position:relative;
  }

  #stat .stat-item h1{  
    color: #ff4365;
    display: inline-block;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
  }

  #stat .stat-item h1 sup{
    top: -.6em;
    font-size: 35px;
  }

  #stat .stat-item span{
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 27px;
    line-height: 100%;
    vertical-align: top;
    position: absolute;
    padding-left: 10px;
  }

  #stat p.text-marketing {
    color: #91908c;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin: 35px 0;
    border-top: 1px solid #91908c;
    font-weight: 600;
    padding-top: 5px;
  }
  #chart {
    background: #1d1d25;
    padding: 70px 0 70px;
  }
  #chart h2 {
    color: #fff;
    font-size: 57px;
    line-height: 60px;
    margin: 0 0 70px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  #chart .item-column p{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 20px 0;
  }

  #chart .item-column p.head{
    margin-bottom:40px;
  }

  #chart .item-column.even::before,
  #chart .item-column.even::after{
    content:'';
    background: rgba(0, 0, 0, 0) url({{ 'shape-affiliates.png' | asset_url }}) no-repeat scroll ;
    width: 1px;
    height: 200px;
    background-position: center;
    background-size: contain;
  }

  #chart .item-column.even::before{
    left: 0;
    position: absolute;
    bottom: 20px;
  }

  #chart .item-column.even::after{
    right: 0;
    position: absolute;
    bottom: 20px;
  }

  #target-audience {
    background: #f4f4f4;
    padding: 20px 0 0;
  }

  #target-audience .target-text h1 {
    color: #1d1d25;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.8px;
    margin: 40px 0 20px;
  }
  #target-audience .target-text h3 {
    color: #91908c;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 600;
    padding: 0 30px;
    margin: 20px 0 40px;
  }
  #join-the-man {
    padding: 45px 0 50px;
    background: #fff;
  }
  #join-the-man h3 {
    font-size: 42px;
    line-height: 64px;
    margin: 0 0 30px;
    color:#1d1d25 ;
  }
  #join-the-man h1 {
    text-transform: uppercase;
    font-size: 64px;
    line-height: 78px;
    margin: 0 0 65px;
    position: relative;
    color:#91908c;
  }

  #join-the-man h1 span {
    display: block;
  }
  #join-the-man a.btn {
    height: 50px;
    max-width: 320px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    margin: 0 auto;
  }
  #join-the-man a.btn:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
  }
  @media only screen and (max-width: 1199px) {
    .definition h3 {
      font-size: 26px;
      line-height: 38px;
    }



  }
  @media only screen and (max-width: 991px) {

    .definition h3 {
      font-size: 20px;
      line-height: 32px;
    }

    .definition h2 {
      font-size: 50px;
    }

    #stat .stat-item{
      text-align:center;
      margin-bottom: 30px;
    }

    #stat .stat-item span{
      position: initial;
      padding-left: 0px;
      display: block;
    }

    #chart .item-column p {
      font-size: 16px;
    }

    #chart .item-column p.head {
      min-height: 48px;
    }

    #promo-img {
      background-position: 40% 0;
    }
    #promo-img .hero-inside h2 {
      font-size: 52px;
      line-height: 62px;
    }
    #promo-img .hero-inside {
      padding-left: 40%;
    }

    #join-the-man h1 {
      font-size: 54px;
      line-height: 68px;
      margin: 0 0 55px;
    }

  }
  @media only screen and (max-width: 767px) {

    #promo-img .hero-inside h2 {
      font-size: 42px;
      line-height: 52px;
    }
    .definition h2 {
      font-size: 36px;
    }
    .definition p {
      font-size: 24px;
      line-height: 38px;
    }
    .howitworls h1::before {
      left: -130px;
      right: auto;
      width: 100px;
    }
    .howitworls h1::after {
      right: -130px;
      left: auto;
      width: 100px;
    }
    #chart table tr th {
      font-size: 16px;
      line-height: 22px;
    }
    #chart table tr td {
      font-size: 16px;
    }
    #chart h2 {
      font-size: 45px;
      line-height: 55px;
      margin: 0 0 40px;
    }

    #chart .item-column p {
      font-size: 14px;
    }
    #join-the-man h1::before {
      background-size: 400px auto;
      width: 400px;
      height: 66px;
    }


    #target-audience .target-text h1 {
      font-size: 32px;
      margin: 20px 0 20px;
    }
    #target-audience .target-text h3 {
      font-size: 18px;
      margin: 0px 0 20px;
    }

    #join-the-man h1 {
      font-size: 38px;
      line-height: 48px;
      margin: 0 0 46px;
    }


    #join-the-man h3 {
      font-size: 32px;
      line-height: 48px;
      margin: 0 0 20px;
    }

  }

  @media only screen and (max-width: 639px) {
    #promo-img .hero-inside {
      padding-left: 26%;
    }
    #promo-img .hero-inside h2 {
      font-size: 40px;
      line-height: 50px;
    }

    .howitworls h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .howitworls h1::before {
      left: -94px;
      right: auto;
      width: 80px;
    }
    .howitworls h1::after {
      right: -94px;
      left: auto;
      width: 80px;
    }
    #stat h1.section-title::before {
      left: -5%;
      width: 80px;
    }
    #stat h1.section-title::after {
      right: -5%;
      width: 80px;
    }
    #stat .stat-item h1 {
      font-size: 86px;
    }

    #chart .item-column{
      padding:0 5px;
    }

    #chart .item-column p.head {
      margin-bottom: 30px;
    }

    #chart .item-column p {
      font-size: 11px;
    }

  }
  @media only screen and (max-width: 479px) {
    #promo-img{
      height: calc(100vh - (40px + 50px));
      min-height: calc(100vh - (40px + 50px));
      background-position: 27% 0;
    }

    .definition h2 {
      font-size: 28px;
    }
    .definition h3 {
      font-size: 16px;
      line-height: 26px;
    }
    .howitworls h1::before,
    .howitworls h1::after,
    #stat h1.section-title::before,
    #stat h1.section-title::after {
      display: none;
    }

    #join-the-man h1::before {
      background-size: 290px auto;
      width: 290px;
      height: 45px;
    }
    #promo-img .hero-inside {
      padding-left: 15px;
    }
    #promo-img .hero-inside h2 {
      font-size: 34px;
      line-height: 44px;
    }
    .definition p {
      font-size: 18px;
      line-height: 28px;
      margin: 20px 0;
    }
    .definition p::before {
      top: -20px;
    }
    .definition p::after {
      bottom: -20px;
    }
    .howitworls img {
      max-width: 100px;
      margin: 0 auto 5px;
    }
    .howitworls p {
      font-size: 18px;
      line-height: 28px;
    }
    #stat .stat-item h1 {
      font-size: 60px;
    }
    #stat p.text-italic {
      font-size: 14px;
      line-height: 24px;
      margin: 20px 0 0;
    }
    #chart h2 {
      font-size: 36px;
      line-height: 40px;
      margin: 0 0 30px;
    }
    #chart table tr th {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.25px;
      padding-bottom: 10px;
    }
    #chart table tr td {
      font-size: 13px;
    }
    #chart {
      padding: 40px 0;
    }

    #join-the-man {
      padding: 50px 0;
    }
    #join-the-man h1 {
      font-size: 25px;
      line-height: 34px;
      margin: 0 0 30px;
    }

    #join-the-man h3 {
      font-size: 28px;
      line-height: 40px;
    }

    #target-audience .target-text h1 {
      font-size: 30px;
      line-height: 36px;
    }

    #target-audience .target-text h3{
      line-height: 24px;
    }

  }

  @media only screen and (max-width: 360px) {
    #chart .item-column {
      padding: 0;
    }

    #chart .item-column p {
      font-size: 10px;
    }
  }
</style>


















