
<div id="find-professional">
  <div class="container"> 
    <div class="row top-section">
      <h2>Find a professional</h2>
      <p>Dermaclara professional line is available at fine spas and salons nationwide. The corresponding icons will appear in your search results where the customized professional line is available.</p>
    </div>
    <div class="row row-search">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <input id="city-zip" type="text" name="search" placeholder="City or zipcode">
      </div>
      <div class="col-xs-6 col-md-4">
        <button id="btn-find-professional" type="button">Search</button> 
      </div>
      
    </div>
    
    <div style="display:none;" class="row loading-result">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      </div>
    </div>
    <div style="display:none;" class="row no-result top-section">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p>We were not able to find any professionals within 50 miles of <span id="val-zip-city">San Diego</span>. But we are constantly partnering with professionals all over the US, so please check back soon. </p>
        <p>In the meantine, you can buy our personal line products online: <a href="/#packages">SHOP NOW</a>.</p>
      </div>
    </div>

    {%comment%}
    <div class="professional_content_section"> 
      <div class="row item_professional">
        <p class="title_item">The nearest professional is 8.5 miles away</p>
        <div class="professional-content row">
          <div class="col-xs-6 col-md-4">
            <img class="img-768" src="{{ 'map1.jpg' | asset_url }}" alt/>
            <img class="img-640" src="{{ 'map_moblie1.jpg' | asset_url }}" alt/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 content_item_pro">
            <p><span class="bold">Facility Name,</span> 8.5 miles away</p>
            <div class="row center">
              <div class="col-xs-6 left_add">
                <p>Street address goes here,<br>City, State, zip</p>
                <p class="phone">Phone: <u><span class="bold">123-456-7890</span></u></p>
              </div>
              <div class="col-xs-6 right_add">
                <p><span class="bold">Hours of operation:</span></p>
                <p>Sun - Mon:<span class="time"> 11AM - 6PM</span></p>
                <p>Sat: <span class="time">8AM - 8PM</span></p>
              </div>
            </div>
            <a href="www.spaname.com"><p><u>www.spaname.com</u></p></a>
          </div>

        </div>
      </div>
      <div class="row item_professional">
        <div class="professional-content row">
          <div class="col-xs-6 col-md-4">
           <img class="img-768" src="{{ 'map1.jpg' | asset_url }}" alt/>
            <img class="img-640" src="{{ 'map_moblie1.jpg' | asset_url }}" alt/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 content_item_pro">
            <p><span class="bold">Facility Name,</span> 12.5 miles away</p>
            <div class="row center">
              <div class="col-xs-6 left_add">
                <p>Street address goes here,<br>City, State, zip</p>
                <p class="phone">Phone:<u><span class="bold"> 123-456-7890</span></u></p>
              </div>
              <div class="col-xs-6 right_add">
                <p><span class="bold">Hours of operation:</span></p>
                <p>Sun - Mon:<span class="time"> 11AM - 6PM</span></p>
                <p>Sat: <span class="time">8AM - 8PM</span></p>
              </div>
            </div>
            <a href="www.spaname.com"><p><u>www.spaname.com</u></p></a>
          </div>

        </div>
      </div>
    </div>
    {%endcomment%}
  </div>
</div>

<script>
  $("#btn-find-professional").click(function(){

    var city_zip = $("#city-zip").val();
    if (city_zip == ""){
      $("#city-zip").addClass('placeholder');
      $("#city-zip").attr("placeholder", "Please enter a city or zipcode");
      $(".loading-result").css('display','none');
      $(".no-result").css('display','none');
    }else{
      $("#city-zip").removeClass('placeholder');
      $("#city-zip").attr("placeholder", "City or zipcode");
      $(".loading-result").css('display','block');
      $(".no-result").css('display','none');
      $("#val-zip-city").text(city_zip);
      setTimeout(function(){ 
        $(".loading-result").css('display','none'); 
        $(".no-result").css('display','block');
      }, 1000);
    }

  });
  </script>

<style>
  
  #find-professional input.placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ee3e49;
  }
  #find-professional input.placeholder::-moz-placeholder { /* Firefox 19+ */
    color: #ee3e49;
  }
  #find-professional input.placeholder:-ms-input-placeholder { /* IE 10+ */
    color: #ee3e49;
  }
  #find-professional input.placeholder:-moz-placeholder { /* Firefox 18- */
    color: #ee3e49;
  }
  
  #find-professional .top-section{
    text-align:center;
  }
  #find-professional .top-section h2{
    color: #444037;
    font-family: "Crimson Text",serif;
    font-size: 50px;
    font-weight: 200;
    line-height: 65px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  #find-professional .top-section p{
    font-family: "Crimson Text",serif;
    font-size: 24px;
    padding: 0 8% 40px;
    line-height: 36px;
    color:#666562;
  }
  #find-professional .row-search{
    margin-bottom: 40px;
  }
  #find-professional .row-search input{
    line-height: 35px;
    border-color: currentcolor currentcolor #000;
    border-style: none none solid;
    border-width: medium medium 1px;
    float: right;
    max-width: 635px;
    color: #000;
    width: 100%
  }
  #find-professional .row-search button{
    background-color: #c8a557;
    border: medium none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 15px 88px;
    text-transform: uppercase;
  }
  #find-professional .row-search button:hover{
    background-color: #000;
    color: #fff;
  }
  #find-professional .item_professional{
    margin: 0 0 40px;
  }
  #find-professional .item_professional p.title_item{
    font-size: 20px;
    margin-bottom: 20px;
    color: #444037;
  }

  #find-professional .professional_content_section{
    padding: 0 8%;
  }
  #find-professional .item_professional .professional-content{
    margin: 0;
    padding: 15px 0;
    border: 1px solid #ccc;
  }

  #find-professional .item_professional .professional-content .content_item_pro{
    padding-left: 0;
  }
  #find-professional .item_professional .professional-content .content_item_pro p{
    color: #444037;
    line-height: 26px;
    margin: 0;
  }
  #find-professional .item_professional .professional-content .content_item_pro p.phone{
    margin-top: 18px;
  }
  #find-professional .item_professional .professional-content .content_item_pro p span.bold{
    font-weight: 600;
  }
  #find-professional .item_professional .professional-content .content_item_pro p span.time{
    float: right;
    margin-right: 65px;
  }
  #find-professional .item_professional .professional-content .row.center{
    margin-bottom: 65px;
    margin-top: 17px;
  }
#find-professional .item_professional .professional-content .col-xs-6.col-md-4 img.img-640{
      display:none;
    }
  
  .loading-result {
    text-align:center;
  }
  
  .loading-result i{
    font-size: 40px;
  }
  
  .no-result {
    text-align: left !important;
  }
  
  .no-result p{
    padding-bottom: 10px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
  }
  
  .no-result a{
    text-decoration:underline;
  }
  
  @media only screen and (max-width: 1199px){
    #find-professional .top-section p {
    padding: 0 0 40px;
    }
    #find-professional .professional_content_section {
    padding: 0;
	}
  }
  @media only screen and (max-width: 991px){
    #find-professional .row-search .col-xs-12.col-sm-6.col-md-8{
      width:70%;
  	}
      #find-professional .row-search .col-xs-6.col-md-4{       
        width:30%;
  	}
    #find-professional .row-search button {
    padding: 15px 30%;
    }
    #find-professional .row-search {
    margin-bottom: 70px;
	}
    #find-professional .item_professional .professional-content .content_item_pro {
    margin-left: -45px;
  }
    #find-professional .item_professional .professional-content .row.center .col-xs-6.left_add{ 
      padding-bottom: 15px;
      width:100%;
    }
    #find-professional .item_professional .professional-content .row.center .col-xs-6.right_add{
      width:100%;
      margin-bottom: 30px;
    }
    #find-professional .item_professional .professional-content .row.center {
    margin-bottom: 0;
    }
    #find-professional .item_professional .professional-content .content_item_pro p {
    font-size: 16px;
    line-height: 20px;
    }
  @media only screen and (max-width: 767px){
    #find-professional .row-search .col-xs-12.col-sm-6.col-md-8 {
    width: 100%;
	}
    #find-professional .row-search .col-xs-6.col-md-4 {
    width: 100%;
	}
    #find-professional .row-search button {
    width: 100%;
         margin-top: 10px;
      padding: 20px 30%;
          font-size: 22px;
	}
    #find-professional .row-search {
    margin-bottom: 40px;
	}
    #find-professional .item_professional p.title_item {
    text-align: center;
      font-weight: 600;
    }
    #find-professional .item_professional .professional-content .col-xs-6.col-md-4{
      width: 100%;
    }
    #find-professional .item_professional .professional-content .col-xs-6.col-md-4 img{
      width: 100%;
    }
    #find-professional .item_professional .professional-content .col-xs-12.col-sm-6.col-md-8.content_item_pro{
      width: 100%;
      padding: 15px;
      margin-left:0;
    }
    #find-professional .item_professional .professional-content .content_item_pro p span.time {
    margin-right: 55%;
	}
    #find-professional .item_professional .professional-content .col-xs-6.col-md-4 img.img-640{
      display:block;
    }
    #find-professional .item_professional .professional-content .col-xs-6.col-md-4 img.img-768{
      display:none;
    }
 }
    @media only screen and (max-width: 639px){
      #find-professional .item_professional .professional-content .content_item_pro p span.time {
    margin-right: 37%;
	}
      #find-professional .item_professional p.title_item {
    font-size: 19px;
      }
  }
  @media only screen and (max-width: 479px){
    #find-professional .top-section h2 {
    font-size: 36px;
    line-height: 36px;
    }
    #find-professional .top-section p {
    font-size: 20px;
    line-height: 30px;
  }
    #find-professional .top-section {
    padding: 0 10px;
	}
    #find-professional .item_professional p.title_item {
    font-size: 14px;
    }
    #find-professional .item_professional .professional-content .content_item_pro p {
    font-size: 15px;
    line-height: 20px;
	}
    #find-professional .item_professional .professional-content .content_item_pro p span.time {
    margin-right: 22%;
	}
  }

</style>