{% comment %}
<div id="page" class="page">
  <div class="container"> 
    <div class="row">
      <header class="section-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      {% comment %}
      Regular page content goes here.
      {% endcomment %}
      <div class="rte col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% endcomment %}

{% layout none %}

<html>
  <head>

    <meta name="p:domain_verify" content="b30a989a45513f2a7b1d300ee6d7791d"/>
    <!-- Basic page needs ================================================== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="content-disposition" content="inline; filename=filename.pdf">
    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <title>
      {{ page_title }}
    </title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    {{content_for_header}}
    

    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{ 'sales_style.scss.css' | asset_url | stylesheet_tag }} 
    
    {{ '//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' | script_tag }}
    
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" type="text/css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" type="text/css" rel="stylesheet"/>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
    
    <script src="{{ 'slick.min.js' | asset_url }}" defer></script>
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
    
    <script>
      // Store cjevent locally to be retrieved in ReCharge checkout
      var field = 'cjevent';
      var url = window.location.href;
      if(url.indexOf('?' + field + '=') != -1) {
        var cjEvent = new URL(url).searchParams.get(field);
        localStorage.setItem('cjevent', cjEvent);
      }
    </script>

  </head>

  <body>
    {% section 'sales_top_bar' %}
    {% section 'sales_header' %}
    
    <div class="salespage_mian_content">
      {% section 'sales_top_section' %}
      {% section 'sales_brand_section' %}
      {% section 'sales_simple_steps' %}
      {% section 'sales_why_choose' %}
      {% section 'sales_organizational' %}
      {% section 'sales_technology' %}
      {% section 'sales_video_section' %}
      {% section 'sales_before_after' %}
      {% section 'sales_product_section' %}
      {% section 'sales_faq' %}
    </div>
    
    {% section 'sales_footer' %}
  </body>
</html>