
{% layout 'theme.new-HA-theme' %}
{% section 'how-to-videos' %}

  

<script>
    // Run on first slider load
    $('.carousel-nav').on('init', function(event, slick) {
        changeSlider(event, slick, 0);
    });

    $('.carousel-main').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        asNavFor: '.carousel-nav'
    });

    $('.carousel-nav').slick({
        slidesToShow: 5,
        slidesToScroll: 2,
        dots: false,
        asNavFor: '.carousel-main',
        focusOnSelect: true,
        arrows: true,
        responsive: [
            {
            breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
   
  
    // Run when slides change
    $('.carousel-nav').on('afterChange', function(event, slick, currentSlide) {
        changeSlider(event, slick, currentSlide);
    });

    function changeSlider(event, slick, currentSlide){
        var thisSlide = slick.$slides[currentSlide];
        var videoUrl = $(thisSlide).data('video-url');
        var handle = $(thisSlide).data('handle')

        $.ajax({
            type: "GET",
            url: "/products/"+handle+"?view=how-to-video",
            success: function (response, status, xhr) {
                $('[data-iframe]').attr('src',videoUrl)
                $('[data-howtovideo-prd-page]').empty();
                $('[data-howtovideo-prd-page]').append(response)
            }
        })
    }
</script>