{% layout 'theme.new-HA-theme' %}
{% section 'pregnancy-patches-V2-banner' %}
{% section 'V2-template-asseenlogo' %}
{% section 'pregnancy-patches-V2-steps' %}
<section class="text-center" style="background: #EEDDC5;">
    <img data-src="https://cdn.shopify.com/s/files/1/1009/6506/files/rsz_pregnancy_patches_illustration_v2-03_1240x.jpg?v=1601371950"   class="lazyload mx-auto mw-100" >
  </section>
  
{% section 'new-ha-pdp-benefits' %}
{% section 'V2-template-guarantee-logos' %}
{% section 'pregnancy-patches-V2-page-pdp' %}
{% section 'V2-template-phila' %}
{% section 'V2-template-faqs' %}
{% render 'V2-template-scripts' %}