<div id="order-status" class="order-status-new">
  <div class="container">
    <div class="row">
      <div class="container-order col-xl-12 col-sm-12 col-xs-12">
        <div class="order">
          <h2> Order Status </h2>
          <p>Want to check the status of your order? Just enter your email and order number below.</p>
          <div id="ola_orderLookUp_formWrapper"> 
            <form id="ola_lookupForm" onsubmit="event.preventDefault();" inspfaactive="true">

              <input name="ignore" id="ola_ignore" value="" type="hidden"> 

              <span id="ola_orderEmailField"> 
                <input name="email" id="ola_email" value="" textplaceholder="Email" placeholder="Email" type="text"> </span> <span id="ola_orderNumberField"> 
              <input name="orderNumber" id="ola_orderNumber" value="" textplaceholder="OrderNumber" placeholder="OrderNumber" type="text"> </span> 

              <div id="ola_error" style="display:none;"></div> 
              <div class="submit">
                <input value="SUBMIT" id="ola_submitButton" class="btn button" type="button"> 
              </div>

            </form> <div id="ola_searching" style="display:none;">Please wait, searching...</div> 

          </div>


          <div class="form-order">
            <div class="input-wrapp">
              <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
              <label class="error-text" style="display:none;" onClick="alert(123)"><span></span></label>
              <input class="required" type="email" id="ContactFormEmail" name="contact[email]" textplaceholder="Email" placeholder="Email" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
            </div>
            <div class="input-wrapp">
              {% assign name_attr = 'contact.form.phone' | t | handle %}
              <label for="OrderNumber" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
              <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span></span></label>
              <input class="required" type="tel" id="OrderNumber" name="contact[{{ name_attr }}]" textplaceholder="Order Number" placeholder="Order Number" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
            </div>
            <div class="ct-center ct-center-new submit">
              <input type="button" id="submitButton" class="btn button btn-normal" value="SUBMIT">
            </div>
          </div>

          <div class="result-order">
            <h1>ORDER NUMBER # 1234</h1>
            <div class="text-order">
              <div class="step-1">
                <p>Order status: shipped</p>
                <p>Tracking #: 123456789</p>
                <p>Order date: 05/01/2017</p>
              </div>
              <p>Shipping Address: Rosie Smith | 123 Street Name. City, State, 12345</p>
            </div>
            <table class="compat-table">  
              <tr>
                <th>ITEM</th>
                <th>QTY</th>
                <th>PRICE</th>
              </tr>
              <tr>
                <td><h3>ADVANCED</h3> <p>SILICONE FUSION TREATMENT</p></td>
                <td>1</td>
                <td>$139</td>
              </tr>
              <tr>
                <td><h3>CLARAPREP</h3> <p>HYDRATING CREAM CLEANSER</p></td>
                <td>1</td>
                <td>$39</td>
              </tr>
              <tr>
                <td><h5>PRODUCT SUBTOTAL</h5></td>
                <td></td>
                <td>$178</td>
              </tr>
              <tr>
                <td><h5>SHIPPING</h5></td>
                <td></td>
                <td>$0</td>
              </tr>
              <tr>
                <td><h4>TOTAL PRICE</h4></td>
                <td></td>
                <td>$178</td>
              </tr>

            </table>
          </div>

          <p>Register with dermaclara.com and you can track your package with USPS for most orders.
            <a href="#">Click here</a> to register. Already registered? <a href="https://www.dermaclara.com/account/login">Click here</a> to sign in.</p>
        </div>
      </div>
      <div class="line-still col-xl-12 col-sm-12 col-xs-12" >
        <div class="line"></div>
      </div>
      <div class="still col-xl-12 col-sm-12 col-xs-12">
        <h3>Still have questions?</h3>
        <p>Below you have multiple options to get in contact with us.</p>
      </div>
      <div class="phone col-xl-12 col-sm-12 col-xs-12">
        <h1>PHONE:</h1>
        <p>1 (800) 397-1288</p>
      </div>
      <div class="email col-xl-12 col-sm-12 col-xs-12">
        <h1>EMAIL:</h1>
        <a href="mailto:support@dermaclara.com">support@dermaclara.com</a>
      </div>
      <div class="chat col-xl-12 col-sm-12 col-xs-12">
        <h1>lIVE CHAT:</h1>
        <a href="#">chat with us</a>
        <p>we’re available every day, from 8 am to 8 pm ET</p>
      </div>
    </div>
  </div>

  <style>
    #order-status .form-order {
      display: none;
    }
    #order-status .submit {
      padding-top: 30px;
    }
    #order-status #ola_submitButton {
      margin: 0 auto;
    }
    #order-status #ola_email ,
    #order-status #ola_orderNumber {
      border: 0;
      outline: 0;
      background: transparent;
      padding-left: 0;
      border-radius: 0;
      border-bottom: 1px solid #ddd;
      color: #333;
      font-size: 18px;
      max-width: 542px;
      width: 100%;
      margin: 0 auto;
      font-family: 'Open Sans', sans-serif;
      color: #444037 !important;
    }
    #order-status .result-order h1 {
      font-family: 'Open Sans', sans-serif ;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
      font-weight: 600;
      color: #444037;
    }
    #order-status .result-order .text-order p {
      font-family: 'Open Sans', sans-serif !important ;
      font-size: 14px !important ;
      line-height: 20px !important ;
      letter-spacing: 1.5px !important ;
      color: #666562 !important ;
    }
    #order-status .result-order .step-1 {
      padding-bottom : 10px;
    }
    #order-status .table-wrapper {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    #order-status table tr:first-child {
      border-bottom: 2px solid #ddd;
    }

    #order-status table tr {
      border-bottom: 1px solid #ddd;
    }
    #order-status table tr:nth-child(4) ,
    #order-status table tr:nth-child(5) ,
    #order-status table tr:nth-child(6) {
      border: none ;
    }
    #order-status table th:last-child {
      text-align: right;
    }
    #order-status table td:last-child {
      text-align: right;
    }
    #order-status.result-order {
      max-width: 540px;
      width: 100%;
      margin: 0 auto;
    }
    #order-status .order a {
      color: #666562;
    }
    #order-status table.compat-table td {
      padding: 5px;
      border-width: 1px;
      border : none ;
      font-size: 12px;
      background: #fff;
      vertical-align: top;
      word-wrap: break-word;
    }
    #order-status table.compat-table th {
      border: none;
      background: 0 0;
      padding: 2px 4px 8px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 100%;
      color: #444037;
    }
    #order-status table.compat-table h5 {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 16px;
      margin: 0px;
    }
    #order-status table.compat-table h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 16px;
      margin: 0px;
    }
    #order-status table.compat-table p {
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 16px;
    }
    #order-status table.compat-table h4 {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2.5px;
      line-height: 20px;
      margin: 0px;
    }
    #order-status table {
      border-collapse: collapse;
    }
    #order-status {
      text-align: center;
    }
    #order-status .line-still .line {
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid #66656266;
    }
    #order-status .line-still {
      padding: 20px 0px 35px 0px;
    }
    #order-status .order {
      max-width: 826px;
      width: 100%;
      margin: 0 auto;
    }
    #order-status .container-order h2 {
      font-family: proxima-nova-condensed, sans-serif;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 40px;
      line-height: 30px;
      padding: 20px 0px 30px 0px;
      color: #444037;
    }
    #order-status .container-order p ,
    #order-status .still p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 30px;
      color: #666562;
    }
    #order-status .input-wrapp {
      padding: 10px 0;
    }
    #order-status .still h3 {
      font-family: proxima-nova-condensed, sans-serif;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 26px;
      line-height: 30px;
    }
    #order-status .input-wrapp #ContactFormEmail ,
    #order-status .input-wrapp #OrderNumber {
      border: 0;
      outline: 0;
      background: transparent;
      padding-left: 0;
      border-radius: 0;
      border-bottom: 1px solid #ddd;
      color: #333;
      font-size: 18px;
      max-width: 542px;
      width: 100%;
      margin: 0 auto;
      font-family: 'Open Sans', sans-serif;
      color: #444037 !important;
    }
    #order-status #submitButton {
      margin: 0 auto;
    }
    #order-status .ct-center-new {
      padding-top: 50px;
      padding-bottom: 60px;
    }
    #order-status .phone h1 ,
    #order-status .email h1 ,
    #order-status .chat h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 2px;
      color: #444037;
      font-weight: 600;
    }
    #order-status .phone p {
      font-family: proxima-nova-condensed, sans-serif;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 26px;
      line-height: 30px;
      color: #666562;
    }
    #order-status .email a {
      font-family: proxima-nova-condensed, sans-serif;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 26px;
      line-height: 40px;
    }
    #order-status .chat a {
      font-family: proxima-nova-condensed, sans-serif;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 26px;
      line-height: 30px;

    }
    #order-status .chat p {
      font-family: proxima-nova-condensed, sans-serif;
      font-style: normal;
      letter-spacing: 1px;
      font-size: 20px;
      line-height: 30px;
      color: #666562;
      padding-top: 10px;
    }
    #order-status .phone ,
    #order-status .email ,
    #order-status .chat {
      padding: 20px 0;
    }
    .result-order p {
      padding-bottom: 0px !important;
    }
    .result-order {
      text-align: left;
    }
    @media only screen and (max-width: 640px) {
      #order-status .phone ,
      #order-status .email ,
      #order-status .chat {
        padding: 10px ;
      }
      #order-status .chat {
        padding-bottom: 20px;
      }
      #order-status .container-order h2 {
        padding: 10px 0px 25px 0px;
      }
      #order-status .container-order p, #order-status .still p {
        padding-bottom: 10px;
      }
      #order-status .line-still {
        padding: 20px 0px 20px 0px;
      }
      #order-status #submitButton {
        max-width: 509px;
        width: 100%;
      }
      @media only screen and (max-width: 479px) {
        #order-status {

        }
      }
  </style>