
<div id="page" class="page">
  <div class="container"> 
    <div class="row">
      <header class="section-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      {% comment %}
      Regular page content goes here.
      {% endcomment %}
      <div class="rte col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>