<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include 'breadcrumb' %}
    </div>
  </div>
</div>

{% include 'include-video-section' %}
<div id="tab_results" class="">
  {% include 'before-after-results' %}   
</div>
<div class="container">
  {% include 'related-products' %}
</div>
<div id="clinical-test-data">
  <div class="container"> 
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Clinical Tests Data</h1>
        <p>Dermaclara Beauty has been extensively tested for stretch marks and wrinkles on women of all ages and skin tones. The result? Overwhelming satisfaction with the ease, cost, and results provided by Dermaclara Beauty. Interested in learning more? Here are a few of our studies:</p>
        <ul>
          <li>{% include 'arrow-right' %}<a href="https://cdn.shopify.com/s/files/1/1009/6506/files/BioScreen-Summary-Stretch-Marks.jpg?16086">Stretch Mark Study</a></li>
          <li>{% include 'arrow-right' %}<a href="https://cdn.shopify.com/s/files/1/1009/6506/files/BioScreen-Summary-Wrinkles.jpg?16095">Wrinkles Study</a></li>
          <li>{% include 'arrow-right' %}<a href="https://cdn.shopify.com/s/files/1/1009/6506/files/General-Study.jpg?16095">General Study</a></li>

          <div class="modal fade modal-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Stretch Mark Study</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-content">
                <img alt="" class="lazyload fade-in" data-src="https://cdn.shopify.com/s/files/1/1009/6506/files/BioScreen-Summary-Stretch-Marks.jpg?16086" />
              </div>
            </div>
          </div>

          <div class="modal fade modal-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Wrinkles Study</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-content">
                <img alt="" class="lazyload fade-in" data-src="https://cdn.shopify.com/s/files/1/1009/6506/files/BioScreen-Summary-Wrinkles.jpg?16095" />
              </div>
            </div>
          </div>

          <div class="modal fade modal-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">General Study</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-content">
                <img alt="" class="lazyload fade-in" data-src="https://cdn.shopify.com/s/files/1/1009/6506/files/General-Study.jpg?16095" />
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="fade-in lazyload" data-src="{{ 'clinical-img-new.jpg' | asset_url }}" alt="dermaclara"/>
      </div>
    </div>
  </div>
</div>
{% include 'include-as-seen-on' %}


<style>
  .line-fans{
    display:none;
  }
  .main-content {
    padding-bottom: 0;
  }
  .site-footer {
    padding-top: 0;
  }
  .modal-open .modal {
    background-color: rgba(0,0,0,0.7);
  }
  #rumor-has-it {
    margin: 120px 0 0;
    padding: 100px 0;
  }
  #rumor-has-it .container {
    max-width: 1300px;
  }
  #clinical-test-data {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  #clinical-science-results {
    padding: 100px 0;
  }
  #clinical-science-results a.btn {
    max-width: 176px;
  }
  #clinical-science-results .be-after-item h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 30px 0 30px;
    font-weight: 600;
  }

  #clinical-test-data li {
    padding-left: 18px;
    position: relative;
    margin: 0 0 10px;
  }
  #clinical-test-data li svg {
    position: absolute;
    left: 0;
    top: 6px;
  }
  #clinical-test-data li a {
    font-size: 14px;
    line-height: 25px;
    color: #E38065;
    text-decoration: underline;
    font-weight: 300;
  }
  #clinical-test-data li a:hover {
    color: #eb9c80;
  }
  #owl-our-fans .small-text p {
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
  }
  #before-after-results {
    margin-bottom; 0;
  }
  #results-new #before-after-results .item-before p {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0;
  }
  #results-new {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 20px;
    margin-bottom: 120px;
  }
  #results-new .line_red{
    border:2px solid #ff4365;
    margin: 75px auto 0;
    width:40px;
  }
  #results-new .slide-video-inside {
    position: relative;
    float: right;
  }
  #results-new .clinical {
    width: 100% ;
    background-color: #f6f6f6;
  }
  #results-new #results-text-wrapp {
    margin: 40px 0 0;
    padding: 20px 0;
  }
  #results-new .tab-review {
    padding-top: 60px; 
  }
  #results-new .from-video .col-md-6.col-sm-6.col-xs-12{
    padding-left: 1px;
    padding-right: 1px;
  }
  #results-new .from-video .video2 .slide-video-inside{
    float: left;
  }
  #results-new .the-clinical h2 ,
  #results-new .hear-from h2,
  #results-new .our-fans h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #444037;
    padding-top: 20px;
  }
  #results-new .hear-from h2{
    margin-bottom: 53px;
    margin-top: 60px;
  }
  #results-new .our-fans h2{
    margin-bottom: 60px;
    margin-top: 60px;
    padding-top: 0;
  }
  #results-new .real-results .Real {
    max-width: 1000px;
    margin: 0 auto;
  }
  #results-new .real-results h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: 50px;
    margin: 40px 0 25px;
  }
  #results-new .real-results p {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 50px;
  }
  #results-new .results-video-titles ul li {
    width: 33.3333333333%;
  }
  #results-new .results-video-titles ul li a.active {
    border-bottom: 4px solid #ff4365;
  }
  #results-new .results-video-titles ul li a {
    border-top: 1px solid #bdbdbd;
    padding: 20px 0;
    color: #444037 ;
    font-family: proxima-nova-condensed, sans-serif;
    font-size: 35px;
    text-transform: none;
  }
  #results-new .hear-from a.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
  }
  #results-new .hear-from a.play-button i {
    color: #fff;
    font-size: 26px;
    display: block;
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-53%, -51%);
    -moz-transform: translate(-53%, -51%);
    -o-transform: translate(-53%, -51%);
    -ms-transform: translate(-53%, -51%);
    transform: translate(-53%, -51%);
  }
  #results-new #owl-our-fans .owl-buttons div{
    background-color: transparent;
    background-image: url({{ 'arrow-small.png' | asset_url }});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    height: 30px;
    margin: 0;
    opacity: 0.55;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 36.5%;
    width: 25px;
  }
  #results-new #owl-our-fans .owl-buttons div.owl-prev{
    left: 0;
    transform: rotate(180deg);
  }
  #results-new #owl-our-fans .owl-buttons div.owl-next{
    right: 0;
  }
  #results-new #owl-our-fans .owl-pagination .owl-page{
    border: 1px solid #bebebe;
    border-radius: 20px;
    margin: 0 8px;
    padding: 2px;
  }
  #results-new #owl-our-fans .owl-pagination .owl-page.active span{
    background: #ff4365 none repeat scroll 0 0;
  }
  #results-new #owl-our-fans .owl-pagination .owl-page span{
    background: transparent none repeat scroll 0 0;
    height: 9px;
    margin: 0;
    padding: 0;
    width: 9px;
  }
  #results-new #owl-our-fans .owl-controls{
    margin-bottom: 30px !important; 
    margin-top: 20px !important;
  }
  #results-new #owl-our-fans .item-fans .img{
    padding: 0 10px;
    text-align: right;
  }
  #results-new #owl-our-fans .item-fans .img a {
    position: relative;
  }

  #results-new #owl-our-fans .item-fans .img .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
  }

  #results-new #owl-our-fans .item-fans .img .play-btn i {
    color: #fff;
    font-size: 26px;
    display: block;
    position: absolute;
    top: 51%;
    left: 55%;
    -webkit-transform: translate(-53%, -51%);
    -moz-transform: translate(-53%, -51%);
    -o-transform: translate(-53%, -51%);
    -ms-transform: translate(-53%, -51%);
    transform: translate(-53%, -51%);
  }
  #results-new #owl-our-fans .item-fans .content{
    padding-left: 3%;
    padding-right: 9%;
    padding-top: 2%;
  }
  #results-new #owl-our-fans .item-fans .content .fans_content{
    color: #000;
    font-family: 'Crimson Text',sans-serif;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 35px;
    line-height: 40px;
  }
  #results-new #owl-our-fans .item-fans .content .fans_author{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    line-height: 30px;
  }
  #before-after-results h1 {
    margin-top: 80px;
  }

  /*--responsive----*/

  @media only screen and (min-width: 992px){
    #results-new #before-after-results .item-before img.show-480{
      display:none;
    }
  }

  @media only screen and (max-width: 1200px) {
    #results-new #owl-our-fans .owl-buttons div.owl-prev,
    #results-new #before-after-results .owl-buttons div.owl-prev{
      left: -33px;
    }
    #results-new #owl-our-fans .owl-buttons div.owl-next,
    #results-new #before-after-results .owl-buttons div.owl-next{
      right: -33px;
    }
  }

  @media only screen and (max-width: 991px){

    #results-new #before-after-results .owl-buttons div.owl-prev{
      left: 33px;
      top: 43%;
    }

    #results-new #before-after-results .owl-buttons div.owl-next{
      right: 33px;
      top: 43%;
    }

    #results-new #before-after-results .item-before img.show-750-up{
      display:none;
    }
    #results-new #before-after-results .item-before img.show-480{
      display:inline-block;
    }
    #results-new .from-video .col-md-6.col-sm-6.col-xs-12{
      width:100%;
      text-align:center;
    }
    #results-new .slide-video-inside,
    #results-new .from-video .video2 .slide-video-inside{
      text-align: center;
      float: none;
    }
    #results-new .from-video .video2 .slide-video-inside{
      margin-top:20px;
    }
    #results-new #owl-our-fans .item-fans .content {
      padding-right: 7%;
      padding-top: 0;
    }
    #results-new #owl-our-fans .item-fans .content .fans_content {
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 767px){
    #results-new #owl-our-fans .item-fans .content .fans_author span{
      display:none;
    }
    .line-fans{
      display:block;
      font-size: 50px;
      line-height: 50px;
    }

    #results-new #owl-our-fans .owl-buttons div.owl-next,
    #results-new #owl-our-fans .owl-buttons div.owl-prev{
      top: 18%;
    }
    #results-new #owl-our-fans .item-fans .img img{
      padding: 0 15%;
    }
    #results-new .the-clinical h2{
      padding-top: 40px;
    }
    #results-new #results-text-wrapp {
      margin: 20px 0 0;
    }
    #results-new .from-video .video2 .slide-video-inside {
      margin-top: 35px;
    }
    #results-new #before-after-results .owl-buttons div,
    #results-new #owl-our-fans .owl-buttons div{
      background-size: 30px auto;
      height: 40px;
      width: 30px;
    }
    #results-new #before-after-results h2 {
      margin-bottom: 60px;
      margin-top: 20px;
    }
    #results-new #before-after-results .owl-buttons div.owl-prev{
      left: -50px;
      top: 42%;
    }
    #results-new #before-after-results .owl-buttons div.owl-next{
      right: -50px;
      top: 42%;
    }

    #results-new #owl-our-fans .item-fans .content {
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 10%;
      text-align: center;
    }

    #results-new .the-clinical h2, #results-new .hear-from h2, #results-new .our-fans h2,
    #results-new .real-results p{
      font-size: 30px;
    }
    #results-new .hear-from h2 {
      font-size: 30px;
      letter-spacing: 2px;
    }
    #results-new #owl-our-fans .item-fans .content .fans_content {
      color: #444037;
      font-size: 36px;
      font-weight: 600;
      line-height: 46px;
    }
    #results-new #owl-our-fans .item-fans .content .fans_author {
      font-size: 26px;
      line-height: 40px;
    }
    #results-new #owl-our-fans .owl-controls {
      margin-top: 10px !important;
      margin-bottom:0 !important;
    }
  }
  @media only screen and (max-width: 639px){
    #results-new #before-after-results .owl-buttons div.owl-prev{
      left: -33px;
      top: 40.5%;
    }

    #results-new #before-after-results .owl-buttons div.owl-next{
      right: -33px;
      top: 40.5%;
    }
    #results-new .hear-from h2 {
      font-size: 24px;
      letter-spacing: 2px;
    }
    #results-new .real-results p {
      font-size: 24px;
    }
    #results-new .the-clinical h2, #results-new .hear-from h2, #results-new .our-fans h2 {
      font-size: 24px;
    }
    #results-new #owl-our-fans .item-fans .content .fans_content {
      font-size: 30px;
      line-height: 40px;
    }
    #results-new #owl-our-fans .item-fans .content .fans_author {
      font-size: 20px;
      line-height: 30px;
    }
    #results-new .real-results h1 {
      font-size: 45px;
    }
    @media only screen and (max-width: 479px){

      #results-new #owl-our-fans .owl-buttons div.owl-prev{
        left: 0;
      }
      #results-new #before-after-results .owl-buttons div.owl-prev {
        left: -30px;
      }
      #results-new #owl-our-fans .owl-buttons div.owl-next{
        right: 0;
      }
      #results-new #before-after-results .owl-buttons div.owl-next {
        right: -30px;
      }
      #results-new #owl-our-fans .owl-buttons div{
        background-size: 20px auto;
        height: 25px;
        top: 36.5%;
        width: 20px;
      }
      #results-new #before-after-results .owl-buttons div{
        background-size: 10px auto;
        height: 25px;
        top: 36.5%;
        width: 20px;
      }
      #results-new .real-results h1 {
        font-size: 40px;
      }
      #results-new .real-results p {
        font-size: 20px;
        line-height: 30px;
      }
      #results-new .the-clinical h2, #results-new .our-fans h2 {
        font-size: 17px;
        letter-spacing: 3px;
      }
      #results-new .hear-from h2 {
        font-size: 17px;
        letter-spacing: 2px;
        margin-top:40px;
      }
      #results-new #owl-our-fans .item-fans .content .fans_content {
        font-size: 22px;
        margin-bottom: 0;
        line-height: 30px;
      }
      #results-new #owl-our-fans .item-fans .content .fans_author {
        font-size: 16px;
        line-height: 20px;
      }
      @media only screen and (max-width: 360px){
        #results-new #before-after-results .owl-buttons div.owl-prev {
          left: -19px;
          display:none;
        }
        #results-new #before-after-results .owl-buttons div.owl-next {
          display:none;
          right: -19px;
        }
        #results-new .from-video .video2 .slide-video-inside {
          margin-top: 10px;
        }
        #results-new .line_red {
          margin: 40px auto 0;
        }
        #results-new .the-clinical h2, #results-new .our-fans h2 {
          margin-top: 30px;
          margin-bottom: 35px;
        }
      }

</style>

