{% include 'include-slider' %}
{% include 'include-results' %}
{% include 'include-new-silicone-fusion' %}
{% include 'include-features-tabs' %}
{% include 'include-clinically-tested-siliconefusion' %}
{% include 'include-packages-siliconefusion' %}
{% include 'include-as-seen-on' %}

<style>
  #siliconefusion .main-content {
    margin-top: 0;
  }

  #siliconefusion #results-text-wrapp {
    padding: 70px 0 60px;
  }

  #siliconefusion #results-text-wrapp .results-text.one {
    position: absolute;
    left: 15px;
    top: -55px;
    width: auto;
    text-align: left;
    right: auto;
  }

  #siliconefusion #results-text-wrapp .results-text-group {
    margin: 0 0 30px;
  }

  #siliconefusion #results-text-wrapp .results-text p span {
    display: inline;
  }

  #siliconefusion #results-text-wrapp .results-text {
    width: 33%;
  }

  #siliconefusion #results-text-wrapp .results-text.one p {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #siliconefusion #results-text-wrapp .results-text.one p span {
    display: inline;
    margin-right: 7px;
    border-bottom: 4px solid #ff4365;
    padding-bottom: 3px;
  }

  #siliconefusion #results-text-wrapp .results-text p {
    font-size: 26px;
    position: relative;
  }

  #siliconefusion #results-text-wrapp .results-text p:before {
    content: "";
    width: 7px;
    height: 7px;
    background: #ff4365;
    position: absolute;
    left: -14px;
    top: 11px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
  }

  #siliconefusion #results-text-wrapp .results-text.one p:before {
    display: none;
  }

  #packages .set-include {
    min-height: 55px;
  }

  #packages .clarafuse a.product-title {
    font-size: 30px;
    line-height: 40px;
  }

  #packages .product-item .product-image.clarafuse p.meta-text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    color: #444037;
    letter-spacing: 2px;
    font-weight: 600;
  }

  #packages a.product-title {
    font-size: 24px;
    line-height: 32px;
    display: block;
  }

  #packages a img {
    max-width: 230px;
    height: auto;
    margin: 5px auto;
  }

  #packages .set-include p {
    color: #444037;
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
  }

  #packages .set-include ul {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;
    text-align: left;
  }

  #packages .product-item .product-image {
    padding: 20px 15px;
  }

  #packages .set-include ul li {
    font-size: 14px;
    line-height: 22px;
    color: #444037;
  }

  #packages h4.price {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 20px;
  }

  #packages .addtocart.btn {
    font-size: 26px;
    letter-spacing: 5px;
    height: 60px;
    line-height: 60px;
    max-width: 400px;
  }

  .second-prod-title {
    margin-top: 60px;
  }

  #packages .second-prod-title a.product-title {
    font-size: 23px;
    line-height: 36px;
  }

  #packages .second-prod .product-item .product-image {
    padding: 25px 15px 25px;
  }

  #packages .second-prod .product-item a img {
    max-width: 342px;
  }

  #packages .second-prod .set-include p,
  #packages .second-prod .set-include ul li {
    font-size: 10px;
    line-height: 13px;
  }

  #packages .second-prod h4.price {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px;
  }

  #packages .second-prod .addtocart.btn {
    font-size: 22px;
    height: 52px;
    line-height: 52px;
    max-width: 330px;
  }

  .notification {
    text-align: center;
  }

  .price-addtobag a.btn {
    display: block;
    margin: 0 auto;
    float: none;
    text-decoration: none;
  }

  .price-addtobag a.btn:hover {
    background: #000;
    color: #fff;
  }

  .notification p {
    margin: 0 auto 12px;
    font-size: 11px;
    line-height: 16px;
  }

  @media screen and (min-width: 1200px) {

    #siliconefusion #results-text-wrapp p.small-text {
      padding: 0 9%;
      letter-spacing: 0.3px;
    }

    .second-prod .product-item.one {
      padding-left: 100px;
    }

    .second-prod .product-item.two {
      padding-right: 100px;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 992px) {
    #siliconefusion #results-text-wrapp .results-text p {
      font-size: 23px;
    }

  }

  @media screen and (max-width: 991px) {
    #siliconefusion #results-text-wrapp .results-text {
      width: 100%;
    }
    #siliconefusion #results-text-wrapp .results-text.one {
      position: initial;
      width: 100%;
      text-align: center;
    }

    #siliconefusion #results-text-wrapp .results-text p:before {

    }

    #siliconefusion #results-text-wrapp .results-text p {
      font-size: 26px !important;
      display: inline-block;
      width: auto;
    }

    #siliconefusion #results-text-wrapp {
      padding: 40px 0 60px;
    }

    #packages #mobile-products-slider .product-item .product-image {
      max-width: 600px;
      margin: 0 auto;
    }

    #packages #mobile-products-slider a img {
      max-width: 100%;
      margin: 20px auto 10px;
      max-height: 240px;
      height: 240px;
      width: auto;
      object-fit: cover;
    }

    #packages #mobile-products-slider .set-include {
      min-height: 100%;
    }

    #packages #mobile-products-slider .set-include p,
    #packages #mobile-products-slider .set-include ul li {
      font-size: 14px;
      line-height: 18px;
    }

    #mobile-products-slider.owl-theme .owl-controls {
      margin-top: 20px !important;
    }

    #mobile-products-slider.owl-theme .owl-controls .owl-page span {
      width: 16px;
      height: 16px;
      background: transparent;
      opacity: 1;
      border: 1px solid #999999;
    }

    #mobile-products-slider.owl-theme .owl-controls .owl-page.active span, 
    #mobile-products-slider.owl-theme .owl-controls.clickable .owl-page:hover span {
      filter: Alpha(Opacity=100);
      opacity: 1;
      background: #c8a557;
    }

    h2.swipe-title {
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      line-height: 36px;
      letter-spacing: 2px;
      font-weight: 600;
    }

  }

  @media screen and (max-width: 767px) {
    #siliconefusion #results-text-wrapp .results-text.one p {
      letter-spacing: 1px;
      font-size: 20px !important;
    }

    #packages #mobile-products-slider a.product-title {
      font-size: 20px;
      line-height: 32px;
    }

    #packages #mobile-products-slider .clarafuse p.meta-text {
      font-size: 18px;
      line-height: 28px;
    }

    #packages a.product-title span {
      font-size: 26px;
      line-height: 40px;
    }

    #packages #mobile-products-slider a img {
      margin: 15px auto 10px;
      max-height: 200px;
      height: 200px;
    }

    #packages #mobile-products-slider .set-include p, 
    #packages #mobile-products-slider .set-include ul li {
      font-size: 12px;
      line-height: 14px;
    }

    #packages #mobile-products-slider h4.price {
      font-size: 28px;
      line-height: 30px;
    }

    #packages #mobile-products-slider .addtocart.btn {
      font-size: 20px;
      letter-spacing: 4px;
      height: 52px;
      line-height: 52px;
      max-width: 280px;
    }

    h2.swipe-title {
      font-size: 18px;
      letter-spacing: 1px;
    }

  }

  @media screen and (max-width: 479px) {

    #packages #mobile-products-slider .clarafuse p.meta-text {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    #siliconefusion #results-text-wrapp .results-text {
      margin-top: 10px;
    }

    #siliconefusion #results-text-wrapp .results-text-group {
      margin: 0 0 15px;
    }

    #siliconefusion #results-text-wrapp {
      padding: 20px 0 40px;
    }

    #siliconefusion #results-text-wrapp .results-text.one p {
      font-size: 18px !important;
      line-height: 28px;
    }

    #siliconefusion #results-text-wrapp .results-text.one {
      margin-bottom: 10px;
    }

    #siliconefusion #results-text-wrapp .results-text p {
      font-size: 21px !important;
      line-height: 32px;
      margin: 0 0 10px;
    }
    #siliconefusion #results-text-wrapp .results-text p::before {
      width: 5px;
      height: 5px;
      top: 13px;
    }
    #mobile-products-slider {
      padding: 0 15px;
    }

    h2.swipe-title {
      font-size: 14px;
      line-height: 24px;
    }

    #packages #mobile-products-slider a.product-title {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }

    #packages #mobile-products-slider .product-item .product-image {
      padding: 15px;
    }

    #packages h2.section-title {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 20px;
      padding-top: 30px;
    }

    #packages #mobile-products-slider a img {
      margin: 5px auto;
      max-height: 120px;
      height: 120px;
      width: auto;
    }

    #packages #mobile-products-slider .set-include p,
    #packages #mobile-products-slider .set-include ul li {
      font-size: 10px;
      line-height: 11px;
    }

    #packages #mobile-products-slider .addtocart.btn {
      font-size: 16px;
      height: 36px;
      line-height: 36px;
      max-width: 240px;
    }
    #packages #mobile-products-slider a.product-title span {
      font-size: 20px;
      line-height: 24px;
    }

    #packages #mobile-products-slider h4.price {
      font-size: 22px;
      line-height: 20px;
    }

    #packages .set-include {
      margin: 5px 0;
    }

    #mobile-products-slider.owl-theme .owl-controls {
      margin-top: 5px !important;
    }
  }

</style>