{% layout 'theme.silicon-patches' %}
{% section 'silicon_patches_topbar' %}
{% section 'silicon_patches_header' %}
{% section 'silicon_patches_hero' %}
{% section 'silicon_patches_asseen' %}
{% section 'silicon_patches_simplesteps' %}
{% section 'silicon_patches_whychoose' %}
{% section 'silicon_patches_technology' %}
{% section 'silicon_patches_realpeople' %} 
{% section 'silicon_patches_product' %} 
{% section 'silicon_patches_faqs' %} 
{% section 'silicon_patches_footer' %}



