{% layout 'theme.silicon-patches' %}

{% section 'V2-template-header' %}
{% section 'V2-template-banner' %}
{% section 'V2-template-asseenlogo' %}
{% section 'V2-template-steps' %}
{% section 'V2-template-why-it-works' %}
{% section 'V2-template-reviews' %}
{% section 'V2-template-guarantee-logos' %}
{% section 'V2-template-product' %}
{% section 'V2-template-phila' %}
{% section 'V2-template-faqs' %}
{% section 'V2-template-footer' %}
{% section 'V2-template-stickyaddtocart' %}

{% render 'V2-template-scripts' %}
