{% include 'include-slider' %}
{% comment %}{% include 'include-products-new' %}{% endcomment %}
{% include 'include-results' %}
{% comment %}{% include 'include-hassle-free-video' %}{% endcomment %}
{% include 'include-silicone-fusion' %}
{% include 'include-features-tabs' %}
{% include 'include-clinically-tested' %}
{% comment %}{% include 'include-howitwork' %}{% endcomment %}
{% comment %}{% include 'include-apps' %}{% endcomment %}
{% include 'include-guarantees' %}
{% include 'include-packages' %}
{% include 'include-as-seen-on' %}
{% if settings.home_section_1 != blank %}{% include settings.home_section_1 %}{% endif %}
{% if settings.home_section_2 != blank %}<hr class="hr--small hr--clear">{% include settings.home_section_2 %}{% endif %}
{% if settings.home_section_3 != blank %}<hr class="hr--small hr--clear">{% include settings.home_section_3 %}{% endif %}
{% if settings.home_section_4 != blank %}<hr class="hr--small hr--clear">{% include settings.home_section_4 %}{% endif %}

<style>
  .main-content {
    margin: 0;
  }
</style>
