{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.12/css/main-style.css?t=20200921120955"><link rel="stylesheet" href="{{ 'pagefly.911d1b9a.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-6a85a4c7"><div data-pf-type="Layout" class="pf-c7fa6a85"><div data-container="true" class="sc-pZopv bjKdkd pf-3bb55f9e" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-303c070f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg: 15px; --pf-s-md: 15px; --pf-s-sm: 15px; --pf-s-xs: 15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-44e7303c" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-784244e7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cd137842">Testing Page Speed</span></h3></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.12","shopDomain":"dermaclara.myshopify.com","elementData":{},"pageTitle":"Template Test","pageType":"page","pageId":"911d1b9a-ae44-44b0-81cf-8aa5cb8c5fdb","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.12/core/helper.js?t=20200921120955" defer></script>