<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include 'breadcrumb' %}
    </div>
  </div>
</div>
<section id="science-video" class="">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-md-6">
        <div class="slide-video-popup">
          <a class="no-scroll open-slide-video-popup" href="#slide-video-popup">
            {% assign img_url = image_object | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="lazyload fade-in"
                 src="{{ image_object | img_url: '300x' }}"
                 data-src="{{ 'sciences-video-1.jpg' | asset_url }}"
                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                 data-aspectratio="{{ image_object.aspect_ratio }}"
                 data-sizes="auto"
                 data-parent-fit="contain"
                 alt="{{ image_object.alt | escape }}">
          </a>
          <div class="slide-video-play">
            <a class="play-button no-scroll open-slide-video-popup" href="#slide-video-popup">
              {% include 'icon-play' %}
            </a>
          </div>
        </div>
      </div>
      <div class="pl-50 col-md-6">
        <h1>The Science of Silicone Fusion<sup>™</sup></h1>
        <p>Listen to one of Dermaclara Beauty’s youth scientists explain how the use of medical grade silicone on skin creates a microclimate (called occlusion) that works to help reduce the appearance of fine lines, wrinkles, and stretch marks.</p>
        <p>Not only that, they discovered that using <i class="font-cri">clarafuse</i> silicone patches, users could delay or even prevent getting wrinkles in the first place! Gentle on the skin, <i class="font-cri">clarafuse</i> encourages hydration and the skin’s natural healing mechanism to effectively smooth, plump, and rejuvenate itself. The process also stimulates natural collagen production, which helps maintain results over time.</p>
      </div>
    </div>
  </div>
  <div class="hidden">
    <div class="popup-vimeo-wrapper" id="slide-video-popup">
      <div class="video-container">
        <iframe id="slide-player-popup" link-src="{{settings.promo_slide_video_link}}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup" width="" height="" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>  
</section>
{%comment%}
<section id="section-science-2" class="">
  <div class="container">
    <div class="row">
      <div class="head-sci col-md-12 text-center">
        <h2>The Problem</h2>
        <p>Vivamus vestibulum auctor arcu, sit amet hendrerit ante sollicitudin sed. Ut finibus eros nec eros aliquet, ut dapibus dui sodales nunc ips mattis id erat eget laoreet. Duis quis condimentum metus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="science-box">
          <h3>Massa Tincidunt</h3>
          <p>Mauris eget nulla a nunc lorem ultrices malesuada. Nulla eu arcu tellus vivamus placerat dolor et urna bibendum our sed ultrices lacus faucibus lorem Suspendisse ullamcorper tincidunt</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="science-box">
          <h3>Suspendisse</h3>
          <p>Mauris eget nulla a nunc lorem ultrices malesuada. Nulla eu arcu tellus vivamus placerat dolor et urna bibendum our sed ultrices lacus faucibus lorem Suspendisse ullamcorper tincidunt</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="science-box">
          <h3>Rhoncus Eros</h3>
          <p>Mauris eget nulla a nunc lorem ultrices malesuada. Nulla eu arcu tellus vivamus placerat dolor et urna bibendum our sed ultrices lacus faucibus lorem Suspendisse ullamcorper tincidunt</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="science-box">
          <h3>Fermentum</h3>
          <p>Mauris eget nulla a nunc lorem ultrices malesuada. Nulla eu arcu tellus vivamus placerat dolor et urna bibendum our sed ultrices lacus faucibus lorem Suspendisse ullamcorper tincidunt</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="science-box">
          <h3>Quisque</h3>
          <p>Mauris eget nulla a nunc lorem ultrices malesuada. Nulla eu arcu tellus vivamus placerat dolor et urna bibendum our sed ultrices lacus faucibus lorem Suspendisse ullamcorper tincidunt</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="science-box">
          <h3>Sollicitudin</h3>
          <p>Mauris eget nulla a nunc lorem ultrices malesuada. Nulla eu arcu tellus vivamus placerat dolor et urna bibendum our sed ultrices lacus faucibus lorem Suspendisse ullamcorper tincidunt</p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="how-it-works" class="box-circle">
  <div class="container">
    <div class="row">
      <div class="head-sci col-md-12 text-center">
        <h2>How It Works</h2>
        <p>Vivamus vestibulum auctor arcu, sit amet hendrerit ante sollicitudin sed. Ut finibus eros nec eros aliquet, ut dapibus dui sodales nunc ips mattis id erat eget laoreet. Duis quis condimentum metus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
        <span class="circle">1</span>
        <h3>Donec Faucibus</h3>
        <p>Lorem ipsum dolor our volti amet constetur adipiscing elewrit proin tincidunt fringilla  lorem ipsum wilmoria distowric.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
        <span class="circle">2</span>
        <h3>Donec Faucibus</h3>
        <p>Lorem ipsum dolor our volti amet constetur adipiscing elewrit proin tincidunt fringilla  lorem ipsum wilmoria distowric.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
        <span class="circle">3</span>
        <h3>Donec Faucibus</h3>
        <p>Lorem ipsum dolor our volti amet constetur adipiscing elewrit proin tincidunt fringilla  lorem ipsum wilmoria distowric.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
        <span class="circle">4</span>
        <h3>Donec Faucibus</h3>
        <p>Lorem ipsum dolor our volti amet constetur adipiscing elewrit proin tincidunt fringilla  lorem ipsum wilmoria distowric.</p>
      </div>
    </div>
  </div>
</div>
{%endcomment%}
<div id="how-silicone-fusion" class="">
  <div class="container">
    <div class="row">
      <div class="head-sci col-md-12 text-center">
        <h2>How Silicone Fusion Technology Works</h2>
      </div>
    </div>
  </div>
  <div class="background-blue-map">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img class="lazyload fade-in" data-src="{{ 'How-Silicone-Fusion-map.jpg' | asset_url }}" alt="{{ image_object.alt | escape }}">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p><i class="font-cri">Clarafuse</i> creates a closed, breathable microclimate when placed on the skin. It allows oxygen to pass through, letting skin breathe while locking in moisture. Moisture is drawn up from lower skin layers to the outside layers and collagen production is encouraged, activated, and normalized. This unique environment helps the skin heal itself, repairing fine lines, wrinkles, stretch marks, and more with each application. After only one application, the skin shows a marked increase in hydration and photodamage repair, and a reduction in roughness and wrinkle depth. In addition to <i class="font-cri">clarafuse’s</i> hydrating effects, it also helps to keep the skin flat while you are wearing it, which keeps new lines from forming.</p>
      </div>
    </div>
  </div>
</div>
<section id="science-proven" class="">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>Clinically Proven</h2>
        <p>During extensive scar treatment research, Dermaclara Beauty youth scientists discovered that the closed, breathable microclimate (occlusion) that our medical grade silicone patches create when placed on the skin do more than just help the reduction of scars. It also worked to reduce the appearance of fine lines, wrinkles, and stretch marks with each use—the trifecta of skin issues that today’s young women have. Gentle on the skin, <i class="font-cri">clarafuse</i> encourages hydration and the skin’s natural healing mechanism to effectively smooth, plump, and rejuvenate itself. The process also stimulates natural collagen production, which helps maintain results over time.</p>
        <p>In our independently verified clinical studies, <i class="font-cri">clarafuse</i> silicone patches showed improvement to skin in just one hour. Check out our dramatic photos below!</p>
        <p><strong>The Skincare</strong><br />
          Dermaclara skincare scientists chose ingredients with a proven track record of anti-aging.
          Standout ingredients like collagen, hyaluronic acid, niacinamide, and peptides combine to
          help repair and rejuvenate the appearance of skin. We combined these ingredients to support and enhance results from <i class="font-cri">clarafuse</i> patches.</p>
      </div>
      <div class="col-md-6">
        {% assign img_url = image_object | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <img class="lazyload fade-in"
             src="{{ image_object | img_url: '300x' }}"
             data-src="{{ 'science-img-2.jpg' | asset_url }}"
             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
             data-aspectratio="{{ image_object.aspect_ratio }}"
             data-sizes="auto"
             data-parent-fit="contain"
             alt="{{ image_object.alt | escape }}">
      </div>
    </div>
  </div>
</section>
{% include 'include-faqs' %}

<section class="title-blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Skincare Industry Buzz</h3>
      </div>
    </div>
  </div>
</section>
{% include 'section-blog' %}

<script>
  $(document).ready(function(){
    $("#slide-player-popup").on("finish", function(){
      $("#slide-video-popup .mfp-close").trigger("click");
    });
    $("#slide-player-popup").on("pause", function(){
      //$("#slide-video-popup .mfp-close").trigger("click");
    });
    $('.open-slide-video-popup').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#slide-player-popup").attr('src',$("#slide-player-popup").attr('link-src'));
          setTimeout(function(){$("#slide-player-popup").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#slide-player-popup").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });

</script>

<style>
  #how-silicone-fusion {
    padding: 80px 0 0;
  }
  #page-faq .section-header h1 {
    margin: 0 0 40px;
  }
  #how-silicone-fusion p {
    font-size: 16px;
    line-height: 25px;
  }
  @media screen and (min-width: 1200px) {
    #how-silicone-fusion p {
      padding: 0 5%;
    }
  }
</style>
