{% layout 'theme.silicon-patches' %}
{% section 'silicon_patches_face_topbar' %}
{% section 'silicon_patches_header' %}
{% section 'silicon_patches_face_hero' %}
{% section 'silicon_patches_face_asseen' %}
{% section 'silicon_patches_face_simplesteps' %}
{% section 'silicon_patches_face_whychoose' %}
{% section 'silicon_patches_face_technology' %}
{% section 'silicon_patches_face_realpeople' %} 
{% section 'silicon_patches_face_product' %} 
{% section 'silicon_patches_faqs' %}
{% section 'silicon_patches_face_footer' %}