{% layout 'theme.silicon-patches' %}
{% section 'silicon_patches_body_topbar' %}
{% section 'silicon_patches_header' %}
{% section 'silicon_patches_body_hero' %}
{% section 'silicon_patches_body_asseen' %}
{% section 'silicon_patches_body_simplesteps' %}
{% section 'silicon_patches_body_whychoose' %}
{% section 'silicon_patches_body_technology' %}
{% section 'silicon_patches_body_realpeople' %} 
{% section 'silicon_patches_body_product' %} 
{% section 'silicon_patches_faqs' %} 
{% section 'silicon_patches_body_footer' %}