<div id="about-us-wrapp" class="page">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% include 'breadcrumb' %}
      </div> 
    </div>
    <div id="about-1" class="row align-items-center">
      <div class="ab-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="fade-in lazyload" data-src="{{ 'about-img-1.jpg' | asset_url }}" alt="dermaclara"/>
      </div>
      <div class="ab-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3>Who We Are</h3>
        <h5 class="sub-title-blue">Friends and beauty mavens, Thao Tran and Elizabeth Sanders were frustrated with what they saw as a void in the beauty marketplace for skincare that addressed the “preservation of youthful skin.” They found nothing more than fancy messaging and marketing, nothing clinically proven to work. Until now, that is!</h5>
        <p>Thao, a young working mother of two, was inspired by the lack of products to help reduce stretch marks, while Elizabeth’s 30th birthday—and the beginning of laughter lines—motivated her to co-create skincare to help her keep her youth.</p>
        <p>Together, they are proud to bring you Dermaclara Beauty™, a line of Silicone Fusion™ technology skincare inspired by silicone pad scar therapy, but refreshed for today’s active generation.</p>
        <p>Our Silicone Fusion products are both clinically and customer proven to work!</p>
        <p>We hope you enjoy your experience and the results of using Dermaclara Beauty™</p>
        <a class="btn" href="/blogs/news/the-dermaclara-s-story-the-well-loved-brand-s-founders-tell-it-like-it-is">Read more</a>
      </div>
    </div>
  </div>
  <div id="about-2" class="light-blue-bg">
    <div class="container"> 
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <h3>Organizational Philanthropy</h3>
          <p>One woman dies every two minutes from complications during childbirth, which is the leading cause of preventable death in women in the developing world. This is why Dermaclara Beauty™ supports <i><strong>Every Mother Counts</strong></i> a globally recognized 501(c)(3) nonprofit devoted to making pregnancy and childbirth safe for all women, everywhere. <i><strong>Every Mother Counts</strong></i> helps women access essential maternity care, and Dermaclara Beauty™ is proud to help women and children worldwide.</p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
          <img class="" src="{{ 'logo-cares.png' | asset_url }}" alt="dermaclara"/>
        </div>
      </div>
    </div>
  </div>
  <div id="about-3">
    <div class="container"> 
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h3>Our Discovery</h3>
          <h5 class="sub-title-blue">Dermaclara Beauty youth scientists discovered that the use of medical grade silicone on skin created a microclimate between the silicone patch and the skin. This microclimate, called occlusion, works to help reduce the appearance of fine lines, wrinkles, and stretch marks. Not only that, they discovered that using clarafuse silicone patches, users could delay or even prevent getting wrinkles in the first place!</h5>
          <p>After conducting clinical studies on all skin tones, we are proud to present <i class="font-cri">clarafuse</i>, featuring Silicone Fusion technology that helps minimize stretch marks and reduces the appearance of wrinkles, without having to resort to surgery or injections. Keep your youth with Dermaclara Beauty.</p>
          <a class="btn btn-secondary" href="/pages/science">Read more</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img class="fade-in lazyload" data-src="{{ 'about-img-2.jpg' | asset_url }}" alt="dermaclara"/>
        </div>
      </div>
    </div>
  </div>
  <div id="about-4" class="light-blue-bg">
    <div class="container"> 
      <div class="row align-items-start">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 left">
          <img class="fade-in lazyload" data-src="{{ 'about-img-3.jpg' | asset_url }}" alt="dermaclara"/>
          <h3>Numbers Don't Lie</h3>
          <p>Check out what our clinical studies and our customers say! In our independently verified clinical studies, <i class="font-cri">clarafuse</i> silicone patches showed improvement to skin in just one hour.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 right">
          <h4 class="sub-title-orange">Participants noted the following:</h4>
          <p>84% noticed fine lines and wrinkles around the eyes visibly improved.</p>
          <p>77% noticed fine lines and wrinkles around the mouth visibly improved.</p>
          <p>85% noticed fine lines and wrinkles around the forehead visibly improved.</p>
          <p>92% noticed fine lines and wrinkles around the chest visibly improved.</p>
          <p>Over 90% of clinical trial participants prefer to use Dermaclara over injectables or surgery.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="about-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="fade-in lazyload" data-src="{{ 'sciences-video-1.jpg' | asset_url }}" alt=""/>
          <h3>Science</h3>
          <p>Dermaclara Beauty is based on the science of occlusion to treat wrinkles and stretch marks.</p>
          <a class="btn btn-secondary" href="/pages/sciences">Read more</a>
        </div>
        <div class="col-md-4 text-center">
          <img class="fade-in lazyload" data-src="{{ 'about-box-img-2-new.jpg' | asset_url }}" alt=""/>
          <h3>Results</h3>
          <p>Say adios to stretch marks and wrinkles! Check out results from real customers.</p>
          <a class="btn btn-secondary" href="/pages/results">Read more</a>
        </div>
        <div class="col-md-4 text-center">
          <img class="fade-in lazyload" data-src="{{ 'about-box-img-3.jpg' | asset_url }}" alt=""/>
          <h3>Shop</h3>
          <p>Stay young with our clinically-proven skincare line of face and body patches and other beauty products.</p>
          <a class="btn btn-secondary" href="/collections/shopping-page">Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #about-us-wrapp h3 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.025em;
    font-weight: 600;
  }
  #about-us-wrapp .sub-title-blue {
    color: #556BAB;
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    margin: 15px 0 25px;
  }
  #about-us-wrapp .sub-title-orange {
    color: #E38065;
    font-size: 30px;
    line-height: 38px;
  }
  #about-us-wrapp p {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 20px;
  }
  #about-us-wrapp .btn {
    font-size: 16px;
    margin: 40px 0 0;
  }
  #about-2 {
    padding: 120px 0;
    margin: 100px 0;
  }
  #about-2 img {
    max-width: 440px;
    width: 100%;
    height: auto;
  }
  #about-2 h3 {
    margin: 0 0 25px;
  }
  #about-2 p {
    font-size: 17px;
    line-height: 34px;
  }
  #about-4 {
    padding: 80px 0;
    margin: 80px 0;
  }
  #about-4 h3 {
    margin: 40px 0 10px;
  }
  #about-4 .left p {
    font-size: 17px;
    line-height: 34px;
  }
  #about-4 .right p {
    font-size: 16px;
    line-height: 28px;
  }
  #about-us-wrapp #about-5 {
    padding: 40px 0 55px;
  }
  #about-us-wrapp #about-5 h3 {
    font-size: 30px;
    line-height: 38px;
    margin: 30px 0 20px;
  }
  #about-us-wrapp #about-5 p {
    font-size: 16px;
    line-height: 28px;
    min-height: 85px;
  }
  #about-us-wrapp #about-5 .btn {
    margin: 30px auto 0;
  }

  @media only screen and (min-width: 992px) {
    .ab-left {
      padding-right: 40px;
    }
    .ab-right {
      padding-left: 40px;
    }

  }

  @media only screen and (max-width: 1199px) {
    #about-1,
    #about-3 .row {
      -ms-flex-align: start !important;
      align-items: start !important;
    }

  }

  @media only screen and (max-width: 991px) {
    .main-content {
      margin-top: 40px;
    }
    #about-us-wrapp h3 {
      font-size: 34px;
      line-height: 44px;
    }
    #about-us-wrapp #about-5 p {
      min-height: 114px;
    }

  }

  @media only screen and (max-width: 767px) {
    #about-1 img {
      margin-bottom: 30px;
    }
    #about-3 img {
      margin-top: 30px;
    }
    #about-2 {
      padding: 80px 0;
      margin: 80px 0;
    }
    #about-4 {
      padding: 80px 0 40px;
      margin: 80px 0 40px;
    }
    #about-5 img {
      width: 100%;
      height: auto;
    }
    #about-us-wrapp #about-5 .btn {
      margin: 30px auto 50px;
    }
    #about-us-wrapp #about-5 p {
      min-height: auto;
    }
  }

  @media only screen and (max-width: 639px) {
    #about-2 img {
      max-width: 400px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
    }
    #about-us-wrapp #about-5 {
      padding: 40px 0 20px;
    }

  }

  @media only screen and (max-width: 479px) {
    .main-content {
      margin-top: 30px;
    }
    #about-us-wrapp #about-5 {
      padding: 40px 0 0;
    }
  }

</style>
