{% include 'include-slider-acne' %}
{% include 'include-results-acne' %}
<section id="home-silicone-fusion" class="one-h">
  <div class="container">
    <div class="row m90">
      <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="section-title">Introducing Clarafuse</h2>
        <p class="fusion-text">Clarafuse is an advanced silicone treatment that effectively reduces the appearance of acne scars on the forehead, around the eyes, cheeks, and around the mouth. This flexible 1.5mm Silicone Fusion Technology adheres to the skin, and is designed with versatile shapes that can be used as desired on the face.</p>
        <img class="hmak-lazy" hmak-src="{{ 'illustrations-all.png' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
</section>

{% include 'include-features-tabs' %}
{% include 'include-clinically-tested-acne' %}
{% include 'include-guarantees-acne' %}
{% include 'include-packages-acne' %}
{% include 'include-as-seen-on' %}
<style>
  #promo-img {
    position: relative;
    background: rgba(0,0,0,0.25);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.25) 69%, rgba(0,0,0,0.25) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.25)), color-stop(30%, rgba(255,255,255,0.25)), color-stop(69%, rgba(255,255,255,0.25)), color-stop(100%, rgba(0,0,0,0.25)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.25) 69%, rgba(0,0,0,0.25) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.25) 69%, rgba(0,0,0,0.25) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.25) 69%, rgba(0,0,0,0.25) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0.25) 30%, rgba(255,255,255,0.25) 69%, rgba(0,0,0,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
    padding-bottom: 0;
    min-height: 660px;
    height: 660px;
    /*overflow: hidden;*/
  }
  .main-content {
    margin: 0;
  }
  #acne #promo-img .mobile-img-acne{
    display:none;
  }
  #acne #home-clinically-tested.one-bg {
    padding: 5px 0 0;
  }
  #acne #features-tabs #Science.tabcontent .science-bg{
    background-image: url({{ 'acne-bg2.jpg' | asset_url }});
  }
  #acne #features-tabs div.tab{
    display:none;
  }
  #acne #promo-img {
    height: 660px;
    min-height: 660px;
    background-image: url({{ 'acne-banner.jpg' | asset_url }});
    background-size: cover;
    background-position: 56% top;
    background-repeat: no-repeat;
  }
  #acne #promo-img .caption-promo h3 {
    margin: 100px 0 10px;
  }
  #acne #promo-img:before {
    /* background-image: url({{ 'acne-banner-mob.jpg' | asset_url }});
    content: "";
    background-repeat: no-repeat;
    height: 824px;
    width: 1526px;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    right: 0;
    bottom: -50px;*/
  }
  #home-silicone-fusion .text-center img.hmak-lazy{
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
  }
  #home-silicone-fusion p.fusion-text {
    padding: 0;
    margin: 0 0 40px;
  }
  #acne  #promo-img .caption-promo h1 {
    margin: 0 0 55px;
    text-transform: lowercase;
    line-height: 45px;
  }
  #promo-img .caption-promo h1 span {
    display: block;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #91908c;
    line-height: 100px;
  }
  #promo-img .caption-promo p {
    font-size: 16px;
    color: #1d1d25;
    line-height: 30px;
    padding-right: 42%;
    margin: 0 0 25px;
  }
  #features-tabs {
    padding-top: 0;
  }
  #home-silicone-fusion.two-h {
    display: none;
  }
  #packages h2.section-title {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
    margin: 0px 0 50px;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    padding-top: 30px;
  }
  #packages{
    padding: 15px 0 50px;
  }
  #packages .product-item .product-image {
    background: transparent;
    padding: 15px;
    position: relative;
  }
  #packages .product-item .product-image:hover {
    -webkit-box-shadow: 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
  }
  #packages .product-item .product-image img {
    mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
    -moz-mix-blend-mode: multiply;
  }
  #home-results .results-video-titles {
    display: none;
  }
  #acne #packages h3.title {
    font-size: 23px;
    letter-spacing: 2.25px;
  }
#packages-advance-details .price-addtobag p{
    margin: 0 0 37px;
}
  @media screen and (max-width: 1539px) and (min-width: 1200px){
    #acne #promo-img .caption-promo h3 {
      margin: 65px 0 10px;
    }
    #acne #promo-img::before {
      right: -22%;
    }
    #promo-img {
      height: 600px;
      min-height: 600px;
    }
    #promo-img .caption-promo {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 1199px){
#acne #promo-img .caption-promo h3 {
    margin: 60px 0 10px;
}
    #acne #packages h3.title {
      font-size: 20px;
      letter-spacing: 1px;
    }
    #acne #packages-advance-details .price-addtobag p{
      margin: 0 0 20px;
    }
    #acne #promo-img::before {
      right: -40%;
    }
    #promo-img .caption-promo {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 991px){
    #packages-advance-details ul.includes-details.wrinkles-includes-details {
    margin: 10px auto 20px;
}
    #acne #promo-img .caption-promo h3 {
      margin: 60px 0 10px;
    }
    #acne #promo-img .caption-promo .promo-top-mb{
      background: transparent;
      padding-top: 0;
      padding-bottom: 20px;

    }
    #promo-img .caption-promo {
      background: rgba(255,255,255,0.45);
      height: 100%;
    }
    #acne #promo-img {
      background-position: 74% top;
    }
    #acne #promo-img .mobile-img-acne{
      /*display:block;
      height: 355px;
      object-fit: cover;
      object-position: top;
      width: 100%;*/
    }
    #acne #promo-img {
      /* background: transparent;
      height: auto;
      min-height: auto;
      padding: 0;*/
    }
    #promo-img .caption-promo {
      padding-top: 0;
    }
    #acne .promo-top-mb a.btn.shop-now{
      margin: 0 auto;
    }
    #acne #promo-img::before {
      right: 0;
    }
    #promo-img .caption-promo {
      background: rgba(255,255,255,0.45);
    }
    #promo-img .caption-promo p {
      padding-right: 0;
    }
  }
  @media screen and (max-width: 767px){
    #acne #promo-img .caption-promo h3 {
      margin: 40px 0 10px;
    }
    #acne #promo-img .mobile-img-acne {
      height: 320px;
    }
  }
  @media screen and (max-width: 639px){
    #acne #promo-img {
      background-position: 67% top;
      height: 620px;
      min-height: 620px;
    }
    #packages h2.section-title {
      font-size: 44px;
    }
  }
  @media screen and (max-width: 479px){
    #acne #promo-img {
    height: 462px;
    min-height: 462px;
}
    #promo-img .caption-promo h1 span {
      font-size: 80px;
      line-height: 72px;
    }
    #acne #promo-img .caption-promo h3 {
    margin: 0 0 10px;
}
    #acne #promo-img .caption-promo h1 {
      margin: 0 0 5px;
    }
    #promo-img {
      min-height: calc(100vh - 135px);
      height: calc(100vh - 135px);
    }
    #promo-img .caption-promo {
      padding-top: 0;
      height: 100%;
    }
    #promo-img .caption-promo p {
      font-size: 13px;
      line-height: 20px;
      margin: 0 0 20px;
    }
    #promo-img .caption-promo .promo-top-mb {
      padding-bottom: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    #promo-img .caption-promo h3 {
      margin: 0 0 5px;
    }

  }
  @media screen and (max-width: 369px){
    #packages h2.section-title {
      font-size: 34px;
      margin: 10px 0 10px;
    }

  }

</style>


