<div id="page" class="page">
  <div class="container"> 
    <div class="row">

      {% comment %}
      Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
