{{ 'professionals-landing.css' | asset_url | stylesheet_tag }}
<div id="resellers-wrapp" class="page resellers-page">
  <section id="promo-img" class="promo-images">
    <div class="caption-promo">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
            <h1>Become an exclusive reseller<span>of Silicone Fusion Technology</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="resellers-hand">
              <img class="fade-in lazyload" data-src="{{ 'resellers-hand.png' | asset_url }}" alt="Dermaclara" />
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="re-hero-seal">
              <h3>Stretch Marks
                <span>Scars</span>
                <span>Fine Lines</span>
                <span>Wrinkles</span>
                Keloids</h3>
              <img class="fade-in lazyload" data-src="{{ 'dermatologist_approved.png' | asset_url }}" alt="seal" />
            </div>
            <a href="#popup-form" class="btn open-popup-form">Learn More</a>
          </div> 
        </div>
      </div>
    </div>
  </section>

  <section id="reseller-video">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Learn how <strong>Silicone Fusion Technology</strong> <span>is disrupting the skincare industry</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 hightest-content align-center">
          <div class="hightest-video">
            <a href="#popup-video-vimeo" class="popup-vimeo open-popup-vimeo">
              <img class="hero-img" alt="" src="{{ 'video.png' | asset_url }}">
            </a>
            <div class="play-button">
              <a href="#popup-video-vimeo" class="icon-play open-popup-vimeo" ><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="#popup-form" class="learn-more open-popup-form">learn more and get a free sample</a>
        </div>
      </div>
    </div>
  </section>

  <section id="experience">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Dermaclara Resellers Experience</h2>
        </div>
      </div>
      <div class="row">
        <div class="text-center experience-item col-md-4 col-sm-4 col-xs-12">
          <img class="" src="{{ 'dollor-icon.png' | asset_url }}">
          <p>more money, <span style="display: block;">less chair time</span></p>
        </div>
        <div class="text-center experience-item col-md-4 col-sm-4 col-xs-12">
          <img class="" src="{{ 'enhanced-icon.png' | asset_url }}">
          <p>enhanced treatment<span style="display: block;">experiences</span></p>
        </div>
        <div class="text-center experience-item col-md-4 col-sm-4 col-xs-12">
          <img class="" src="{{ 'perfect-icon.png' | asset_url }}">
          <p>perfect add-ons for any<span style="display: block;">skincare regimen</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-4 col-xs-4">
          <div class="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="text-center perfect-for col-md-offset-3 col-md-6">
          <h3>perfect for:</h3>
          <p>doctors, dermatologists, cosmetologists, estheticians, skincare specialists</p>
          <a href="#form-new" class="btn">contact us to get started</a>
        </div>
      </div>
    </div>
  </section>

  <section id="clinically-proven">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Clinically Proven Technology</h2>
      </div>
      <div class="row">
        <div class="clinically-tested-img col-lg-push-9 col-lg-2 col-md-push-9 col-md-2 col-sm-push-0 col-md-12 col-xs-push-0 col-xs-12">
          <img class="" src="{{ 'clinically-proven.png' | asset_url }}" alt="">
        </div>
        <div class="clinically-tested-text col-lg-pull-1 col-lg-8 col-md-pull-1 col-md-8 col-sm-pull-0 col-sm-pull-0 col-md-12 col-xs-pull-0 col-xs-12">
          <p>Our revolutionary Silicone Fusion Technology was developed to offer advanced technology and a breakthrough solution for the treatment of stretch marks, scars, fine lines, and wrinkles – with dramatic, scientifically proven results.</p> 
        </div>
      </div>
    </div>
    <div id="results-text-wrapp">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="results-text-group">
              <div class="results-text">
                <h2>85<sup>%</sup></h2>
                <p>stretch marks <span>visibly improved</span></p>
              </div>
              <div class="results-text">
                <h2>87<sup>%</sup></h2>
                <p>smoother <span>skin</span></p>
              </div>
              <div class="results-text">
                <h2>90<sup>%</sup></h2>
                <p>prefer to use over surgery <span>or laser treatments</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-4 col-xs-4">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
            <p class="small-text text-center">*Above statistics are extracts from an <a href="https://cdn.shopify.com/s/files/1/1009/6506/files/Dermaclara_Clinical_Summary.pdf?8230256516384632150" class="document-popup" target="_blank" data-fancybox-type="iframe">Independent Clinical Study</a> conducted in accordance with the International Conference of Harmonization Tripartite Guideline on Good Clinical Practice.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="home-results" class="home-results-new">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="section-title1 text-center">Science-Backed, Client-Approved</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="section-title a text-center">results you can see</h2>
        </div>
      </div>
    </div>
    {% include 'partner-results-you-can-see' %}
    <div class="container">
      <div class="row">
        <div class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-4 col-xs-4">
          <div class="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <h2 class="bottom-slide text-center">Adds value with built-in customer retention</h2>
        </div>
        <div class="text-center col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <ul>
            <li>97% customer satisfaction</li>
            <li>86% customer retention rate</li>
            <li>44% increase in average revenue per transaction</li>
            <li>reusable technology</li>
            <li>monthly replacement regimen</li>
            <li>maintenace routine between scheduled treatments</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="form-new" class="">
    {% include 'form-resellers' %}
  </section>

  <div class="hidden">
    <div class="popup-vimeo-wrapper" id="popup-video-vimeo">
      <div class="video-container">
        <iframe id="vimeo-player" link-src="{{ settings.video-benefit | escape }}?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="hidden">
    <div class="popup-vimeo-wrapper" id="popup-form">
      {% include 'form-resellers' %}
    </div>
  </div>

</div>
{% include 'popup-pdf' %}

<style>
  #popup-form .contact-page {
    width: 100%;
  }
  #popup-form {
    padding: 15px 20px 20px;
  }
  .main-content {
    padding: 0;
    margin: 0;
  }
  #promo-img {
    background-image: url({{ 'hero-bg.jpg' | asset_url }});
    height: 567px;
    min-height: 567px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  #promo-img:before {
    display: none;
  }
  #bottom-part {
    display: none;
  }
  #promo-img .caption-promo {
    padding-top: 0;
  }
  #promo-img .caption-promo h1 {
    color: #fff;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 57px;
    line-height: 60px;
    font-weight: 600;
    margin: 42px 0 23px;
  }
  #promo-img .caption-promo h1 span {
    display: block;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 62px;
    text-transform: initial;
    color: #fff;
    font-style: italic;
    font-weight: 500;
  }
  .re-hero-seal {
    margin-top: 55px;
  }
  #promo-img .caption-promo h3 {
    margin: 0;
    margin-right: 0px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
    text-align: left;
  }
  #promo-img .caption-promo h3 span {
    display: block;
  }
  .re-hero-seal img {
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    max-width: 146px;
    display: inline-block;
    vertical-align: bottom;
  }
  #promo-img a.btn {
    width: 100%;
    max-width: 350px;
    margin-top: 50px;
  }
  #reseller-video {
    padding: 30px 0 55px;
  }
  #reseller-video h1 {
    text-align: center;
    margin: 10px 0 30px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0;
    color: #1d1d25;
  }
  #reseller-video h1 strong {
    font-weight: 600;
  }
  #reseller-video h1 span {
    display: block;
  }
  #reseller-video  .hightest-video {
    position: relative;
  }
  #reseller-video .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #reseller-video .play-button a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #ff3366;
    border-radius: 100%;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 32px;
    text-indent: 2px;
  }
  #reseller-video .play-button a:hover {
    background: #1d1d25;
  }
  #reseller-video .play-button a i {

  }
  #reseller-video a.learn-more {
    display: inline-block;
    margin: 30px auto 0;
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 1.5px;
    line-height: 28px;
  }
  #reseller-video a.learn-more:hover {
    color: #1d1d25;
  }
  #experience {
    background: #f7f7f7;
    padding: 25px 0 50px;
  }
  #experience h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0;
    color: #1d1d25;
    margin: 15px 0 45px;
  }
  #experience .experience-item {

  }
  #experience .experience-item img {
    max-width: 50px;
    margin: 0 0 25px;
  }
  #experience .experience-item p {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    color: #666562;
    font-weight: 400;
  }
  .perfect-for {

  }
  .perfect-for h3 {
    color: #1d1d25;
    font-size: 36px;
    line-height: 36px;
    margin: 10px 0 15px;
    font-weight: 500;
    font-style: italic;
  }
  .perfect-for p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0 0 35px;
    font-weight: 300;
  }
  .perfect-for a.btn {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  #resellers .line {
    border-top: 1px solid #cccccc;
    margin: 25px 0 20px;
  }
  #clinically-proven {
    padding: 30px 0 40px;
  }
  #clinically-proven h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0;
    color: #1d1d25;
    margin: 15px 0 -20px;
  }
  .clinically-tested-img img {
    max-width: 216px;
    width: 100%;
    height: auto;
  }
  .clinically-tested-text {
    margin-top: 60px;
  }
  .clinically-tested-text p {
    font-size: 16px;
    line-height: 30px;
  }
  #results-text-wrapp .results-text {
    width: 33%;
  }
  #results-text-wrapp .results-text-group {
    margin: 20px 0 10px;
  }
  #results-text-wrapp p.small-text {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 14px;
  }
  #resellers #home-results h2.section-title.a,
  #resellers h2.bottom-slide {
    color: #666562 !important;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 30px;
    position: relative;
    font-weight: 600;
    margin-bottom: 55px;
  }
  #resellers #home-results h2.section-title.a:after,
  #resellers h2.bottom-slide:after {
    content: "";
    height: 4px;
    width: 40px;
    background: #ff3366;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #resellers #partner-results .owl-buttons div {
    background-image: url({{ 'arrow-small.png' | asset_url }});
    background-size: 11px auto;
    height: 22px;
    opacity: 0.85;
    width: 22px;
    top: 40%;
  }
  #partner-results .owl-controls {
    margin-bottom: 20px !important;
  }
  #home-results.home-results-new p {

  }
  #home-results.home-results-new p span {
    display: block;
    font-weight: 400;
    font-style: normal;
    color: #91908c;
  }
  #resellers #home-results ul li {
    color: #373634;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
  }
  #resellers #form-new h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 45px 0 0px;
  }
  #resellers .contact-page #contact_form input {
    color: #444037 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 55px;
    letter-spacing: -0.25px;
    line-height: 55px;
    margin: 0 0 10px;
  }
  #resellers .contact-page #contact_form input.btn {
    max-width: 350px;
    color: #fff !important;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px auto 0;
    font-weight: 500;
  }
  #resellers .contact-page #contact_form {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1199px) {
    #promo-img {
      height: 538px;
      min-height: 538px;
    }
    #promo-img .caption-promo h1 {
      font-size: 46px;
      margin: 50px 0 50px;
    }
    #promo-img .caption-promo h1 span {
      font-size: 42px;
    }
    .re-hero-seal {
      margin-top: 20px;
    }
    #clinically-proven h1 {
      margin: 15px 0 20px;
    }
    .clinically-tested-text {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    #promo-img .caption-promo h1 {
      font-size: 40px;
      margin: 30px 0;
    }
    #promo-img .caption-promo h1 span {
      font-size: 36px;
      line-height: 50px;
    }
    #promo-img .caption-promo h3 {
      font-size: 20px;
      line-height: 24px;
      margin-right: 10px;
    }
    .re-hero-seal {
      margin-top: 10px;
    }
    .re-hero-seal img {
      max-width: 105px;
    }
    #promo-img a.btn {
      margin-top: 25px;
    }
    #promo-img {
      height: 400px;
      min-height: 400px;
    }
    #reseller-video h1 {
      font-size: 40px;
      line-height: 44px;
    }
    #experience .experience-item p {
      font-size: 15px;
      line-height: 25px;
    }
    .perfect-for a.btn {
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
    #results-text-wrapp .results-text-group {
      text-align: center;
    }
    #results-text-wrapp .results-text {
      width: 32%;
    }
    #results-text-wrapp .results-text p {
      font-size: 22px;
      line-height: 26px;
      margin: 0;
    }
    #results-text-wrapp .results-text h1 {
      font-size: 56px;
      line-height: 60px;
    }
    #results-text-wrapp .results-text h1 sup {
      font-size: 30px;
      top: -16px;
    }
    #partner-results .owl-buttons div.owl-prev {
      left: -30px;
    }
    #partner-results .owl-buttons div.owl-next {
      right: -30px;
    }
    #resellers .contact-page #contact_form input.btn {
      margin: 0 auto 0;
    }

  }

  @media screen and (max-width: 767px) {
    #promo-img .caption-promo h1 {
      font-size: 28px;
      margin: 20px 0 15px;
      text-align: center;
      line-height: 40px;
    }
    #promo-img .caption-promo h1 span {
      font-size: 30px;
      line-height: 42px;
    }
    #promo-img .caption-promo h3 {
      margin-right: 0;
      text-align: center;
    }
    .re-hero-seal {
      text-align: center;
      margin-top: -65px;
    }
    #promo-img {
      height: 600px;
      min-height: 600px;
      background-position: 40% 0;
    }
    #promo-img a.btn {
      margin: 25px auto;
      max-width: 245px;
    }
    #promo-img {
      height: 600px;
      min-height: 600px;
    }
    .resellers-hand img {
      max-width: 700px;
      margin-left: -61%;
    }
    .re-hero-seal img {
      max-width: 105px;
      position: absolute;
      top: -205px;
      right: 70px;
      left: auto;
      background: rgba(255,255,255,0.85);
    }
    #promo-img .caption-promo h3 span {
      display: inline;
    }
    #reseller-video h1 {
      font-size: 34px;
      line-height: 34px;
    }
    #reseller-video .play-button a {
      width: 64px;
      height: 64px;
      line-height: 64px;
    }
    #results-text-wrapp .results-text {
      width: 100%;
      margin: 0 0 20px;
    }
    #clinically-proven h1,
    #experience h1 {
      font-size: 45px;
    }
    #results-text-wrapp .results-text-group {
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }

  @media screen and (max-width: 639px) {
    .resellers-hand img {
      max-width: 600px;
      margin-left: -67%;
    }
    .perfect-for a.btn {
      font-size: 18px;
      letter-spacing: 2px;
    }
    #clinically-proven h1, #experience h1 {
      font-size: 40px;
      line-height: 42px;
    }
    .contact-page h1.section-header__title {
      margin-top: 40px;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 0;
      padding: 0 30px;
    }

  }

  @media screen and (max-width: 479px) {

    #promo-img .caption-promo h1 {
      font-size: 22px;
      margin: 5vh 0 0;
      line-height: 32px;
    }
    #promo-img .caption-promo h1 span {
      font-size: 20px;
      line-height: 30px;
    }
    .resellers-hand img {
      max-width: 445px;
      margin-left: -55%;
    }
    .resellers-hand {
      height: 42vh;
      width: 320px;
      margin: 8vh auto;
      display: block;
    }
    .re-hero-seal img {
      max-width: 90px;
      top: -35vh;
    }
    #promo-img {
      height: calc(100vh - 93px);
      min-height: calc(100vh - 93px);
      background-position: 43% 0;
    }
    #reseller-video h1 {
      font-size: 22px;
      line-height: 22px;
    }
    #reseller-video .play-button a {
      width: 46px;
      height: 46px;
      line-height: 46px;
      font-size: 23px;
    }
    #reseller-video a.learn-more {
      margin: 20px auto 0;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 22px;
    }
    #reseller-video {
      padding: 20px 0 30px;
    }
    #clinically-proven h1,
    #experience h1,
    #home-results.home-results-new h1,
    #resellers #form-new h1 {
      font-size: 32px!important;
      line-height: 34px!important;
    }
    #experience .experience-item img {
      max-width: 38px;
      margin: 0 0 20px;
    }
    .perfect-for a.btn {
      font-size: 15px;
      letter-spacing: 1.5px;
    }
    .clinically-tested-img img {
      max-width: 140px;
    }
    #resellers #form-new h1 {
      margin: 15px 0 0px;
    }
    #resellers .contact-page #contact_form input {
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      margin: 0;
    }
    #resellers #home-results h2.section-title.a, #resellers h2.bottom-slide {
      font-size: 16px;
      line-height: 26px;
    }

  }

  @media screen and (max-width: 390px) {
    #promo-img {
      height: calc(100vh - 90px);
      min-height: calc(100vh - 90px);
      background-position: 43% 0;
    }
    #promo-img .caption-promo h1 {
      font-size: 18px;
      margin: 4vh 0 0;
      line-height: 30px;
    }
    .re-hero-seal img {
      max-width: 80px;
      top: -30vh;
      right: 30px;
    }
    #promo-img a.btn {
      margin: 15px auto;
    }

  }

</style>


<script>
  $(document).ready(function(){

    $('.open-popup-form').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'

    });


    $("#vimeo-player").on("finish", function(){
      $("#popup-video-vimeo} .mfp-close").trigger("click");
    });
    $('.open-popup-vimeo').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          $("#vimeo-player").attr('src',$("#vimeo-player").attr('link-src'));
          setTimeout(function(){$("#vimeo-player").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#vimeo-player").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }}
    });

  });
</script>