<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include 'breadcrumb' %}
    </div>
  </div>
</div>
<div id="results-new">
  <div id="top_results" class="container">
    <div class="row">
      <div class="real-results col-md-12 col-sm-12 col-xs-12">
        <div class="Real text-center">
          <h1>Clinically Proven</h1>
          <p>During extensive scar treatment research, Dermaclara youth scientists discovered that the closed, breathable microclimate (occlusion) that our medical grade silicone patches create when placed on the skin do more than just help the reduction of scars. It also worked to reduce the appearance of fine lines, wrinkles, and stretch marks with each use—the trifecta of skin issues that today’s young women have. Gentle on the skin, clarafuse encourages hydration and the skin’s natural healing mechanism to effectively smooth, plump, and rejuvenate itself. The process also stimulates natural collagen production, which helps maintain results over time.</p>
          <p>In our independently verified clinical studies, clarafuse silicone patches showed improvement to skin in just one hour. Check out our dramatic photos below!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img alt="" src="{{ 'clinical-img-1.jpg'| asset_url }}" />
      </div>
      <div class="col-md-6">
        <img alt="" src="{{ 'clinical-img-2.jpg'| asset_url }}" />
      </div>
    </div>
  </div>
</div>

{% include 'include-as-seen-on' %}


<div id="clinical-science-results" class="light-blue-bg">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="be-after-item col-md-6">
            <img class="" src="{{ 'clinical-before-after-1.jpg' | asset_url }}" alt="" />
            <h3 class="text-center">Fermentum</h3>
          </div>
          <div class="be-after-item col-md-6">
            <img class="" src="{{ 'clinical-before-after-2.jpg' | asset_url }}" alt="" />
            <h3 class="text-center">Tincidunt</h3>
          </div>
          <div class="be-after-item col-md-6">
            <img class="" src="{{ 'clinical-before-after-3.jpg' | asset_url }}" alt="" />
            <h3 class="text-center">Ipsum</h3>
          </div>
          <div class="be-after-item col-md-6">
            <img class="" src="{{ 'clinical-before-after-4.jpg' | asset_url }}" alt="" />
            <h3 class="text-center">Amet</h3>
          </div>
          <div class="be-after-item col-md-6">
            <img class="" src="{{ 'clinical-before-after-5.jpg' | asset_url }}" alt="" />
            <h3 class="text-center">Ullamco</h3>
          </div>
          <div class="be-after-item col-md-6">
            <img class="" src="{{ 'clinical-before-after-6.jpg' | asset_url }}" alt="" />
            <h3 class="text-center">Veniam</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h2>Science and Results</h2>
        <p>Nulla a cursus orci, at venenatis augue mauris et ipsum enim aliquam ac luctus lorem. Sed luctus, tortor quis vulputate pretium, nisi nunc maximus magna, sit amet vehicula purus metus eu turpis loem nam faucibus metus feugiat massa.</p>
        <p>Nulla a cursus orci, at venenatis augue mauris et ipsum enim aliquam ac luctus lorem. Sed luctus, tortor quis vulputate pretium, nisi nunc maximus magna, sit amet vehicula purus metus eu turpis loem nam faucibus metus feugiat massa.</p>
        <a class="btn" href="/pages/results">View All Results</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% include 'related-products' %}
</div>
<style>
  #results-new .real-results {
    margin-bottom: 35px;
  }
  #clinical-results .main-content h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin: 0 0 20px;
  }
  #clinical-results .main-content p {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 20px;
  }
  #rumor-has-it {
    margin: 120px 0;
    padding: 100px 0;
  }
  #rumor-has-it .container {
    max-width: 1300px;
  }
  #clinical-test-data {
    padding-bottom: 100px;
  }
  #clinical-science-results {
    padding: 100px 0;
  }
  #clinical-science-results a.btn {
    max-width: 176px;
  }
  #clinical-science-results .be-after-item h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 30px 0 30px;
    font-weight: 600;
  }
  #clinical-test-data ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  #clinical-test-data li {
    padding-left: 18px;
    position: relative;
    margin: 0 0 10px;
  }
  #clinical-test-data li svg {
    position: absolute;
    left: 0;
    top: 6px;
  }
  #clinical-test-data li a {
    font-size: 14px;
    line-height: 25px;
    color: #E38065;
    text-decoration: underline;
    font-weight: 300;
  }
  #clinical-test-data li a:hover {
    color: #eb9c80;
  }
</style>