{% layout 'theme.new-HA-theme' %}
<div id="page" class="page">
  <div class="container"> 
    <div class="row section-content">
      <header class="mb-3 text-center section-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="section-header__title">Apply To Be An Ambassador Today</h1>
      </header>
      <p class="text-center mb-4">If you're passionate about skincare and want to be a part of our community that celebrates enhancing and preserving youth naturally. Producing science-backed, proven products that give back, fill out the form below</p>
      <div class="col-md-6 col-xs-12 mb-4 mb-md-0 p-0 pr-md-3"><img class="ambassador-img w-100 h-100" src="https://cdn.shopify.com/s/files/1/1009/6506/files/woman_singing_500x.jpg?v=1573061795"></div>

      {% form 'contact', class: 'ambassador-form border col-md-6 col-xs-12 p-4' %}
      <div class="row">
        {% if form.posted_successfully? %}
        <p class="font-weight-bold form-success note text-center text-success text-uppercase">
          {{ 'contact.form.post_success' | t }}
        </p>
        {% endif %}

        {{ form.errors | default_errors }}

        <div class="col-12 form-group">
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
          <label class="error-text" style="display:none;" onClick="$(this).next().focus();"><span>Full Name</span> - Please fill in the required field</label>
          <input style="background-image:none!important" class="required form-control" type="text" id="ContactFormName" name="contact[first-name]" textplaceholder="Full Name" placeholder="Full Name" autocapitalize="words" value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}" required>
        </div>
        <div class="col-12 form-group">
          <label for="ContactFormLastName" class="label--hidden">{{ 'contact.form.last_name' | t }}</label>
          <label class="error-text" style="display:none;" ><span>Email</span> - Please fill in the required field</label>
          <input class="required form-control" type="text" id="ContactFormLastName" name="contact[last-name]" textplaceholder="Last name" placeholder="Last Name" autocorrect="off" autocapitalize="off" value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}" required>

        </div>

        <div class="col-12 form-group">
          <label for="ContactFormInstagram" class="label--hidden">Instagram Handle</label>
          <label class="error-text" style="display:none;" ><span>Email</span> - Please fill in the required field</label>
          <input class="required form-control" type="text" id="ContactFormInstagram" name="contact[instagram]" textplaceholder="Instagram" placeholder="Instagram Handle" autocorrect="off" autocapitalize="off" value="" required>
        </div>
        <div class="col-12 form-group">
          <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
          <label class="error-text" style="display:none;" ><span>Email</span> - Please fill in the required field</label>
          <input class="required form-control" type="email" id="ContactFormEmail" name="contact[email]" textplaceholder="Email" placeholder="Email" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>

        </div>


        <div class="col-12 mt-4 text-center">
          <input type="submit" id="submitButton" class="btn btn btn-secondary btn-submit" value="SEND">
        </div>
      </div>
      {% endform %}
    </div>
  </div>
</div>
