<div id="bg-video-clarafuse" class="">
  <img class="img_top desk_banner" src="{{ 'bg-video-clarafuse.jpg' | asset_url }}" alt/>
  <img class="img_top mob_banner" src="{{ 'mob.png' | asset_url }}" alt/>

  <div class="col-md-offset-1 col-md-4 wrap_top">
    <div class="clarafuse-title">
      <h1>Breakthrough<span>Silicone Fusion Technology</span></h1>        
    </div>
    <div class="clarafuse-sub-title">
      for stretch marks,<br> lines and scars
    </div>
    <ul class="clarafuse-list desk_show">
      <li><span>safe and effective on all skin tones</span></li>         
      <li><span>versatile heart shape</span></li>
      <li><span>comfortable to wear overnight</span></li>
      <li><span>washable & reusable up to 30 days</span></li>
    </ul>
  </div>

  <a class="clarafuse-video-play">
    <span class="play-button no-scroll open-slide-video-popup" href="#clarafuse-video-popup"></span>                
  </a>
</div>
<div class="hidden">
  <div class="popup-vimeo-wrapper" id="clarafuse-video-popup">
    <div class="video-container">
      <iframe id="slide-player-popup" link-src="//player.vimeo.com/video/235295118?autoplay=0&amp;loop=0&amp;background=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff&amp;api=1&amp;player_id=slide-player-popup" width="" height="" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="promo-clarafuse" class="">
  <ul class="clarafuse-list mob_show">
    <li><span>safe and effective on all skin tones</span></li>         
    <li><span>versatile heart shape</span></li>
    <li><span>comfortable to wear overnight</span></li>
    <li><span>washable & reusable up to 30 days</span></li>
  </ul>
  <div class="promo-position">
    <div class="wrap-promo">
      <div class="item-promo">
        <hr>
        <h5>stomach</h5>
        <img class="fade-in lazyload" data-src="{{ 'stomach.jpg' | asset_url }}" alt="stomach">
      </div>
      <div class="item-promo">
        <hr>
        <h5>arms</h5>
        <img class="fade-in lazyload" data-src="{{ 'arms.jpg' | asset_url }}" alt="arms">
      </div>
      <div class="item-promo">
        <hr>
        <h5>thighs</h5>
        <img class="fade-in lazyload" data-src="{{ 'thighs.jpg' | asset_url }}" alt="thighs">
      </div>
      <div class="item-promo">
        <hr>
        <h5>chest</h5>
        <img class="fade-in lazyload" data-src="{{ 'chest.jpg' | asset_url }}" alt="chest">
      </div>
    </div>
  </div>
</div>
<div id="packages-clarafuse" class="prod_clarafuse container">

  {% assign product =  all_products.clarafuse %}
  {% include 'include-product-clarafuse' %}

</div>
<script>
  $(document).ready(function(){
    $("#slide-player-popup").on("finish", function(){
      $("#clarafuse-video-popup .mfp-close").trigger("click");
    });
    $("#slide-player-popup").on("pause", function(){
      //$("#slide-video-popup .mfp-close").trigger("click");
    });
    $('.open-slide-video-popup').magnificPopup({
      fixedContentPos: true,
      fixedBgPos: true,
      disableOn: 0,
      //overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom',
      callbacks: {
        open: function() {
          StopAllOtherVideos();
          $("#slide-player-popup").attr('src',$("#slide-player-popup").attr('link-src'));
          setTimeout(function(){$("#slide-player-popup").vimeo("play");}, 700);
          $.magnificPopup.instance.close = function () {
            $("#slide-player-popup").vimeo("stop");
            $.magnificPopup.proto.close.call(this);
          };
        }
      }
    });
  });
</script>
<style>
  #packages-clarafuse #packages a img {
    max-width: 370px;
    width: 100%;
    height: auto;
  }
  #packages-clarafuse #packages .product-item .product-image:hover{
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  #packages-clarafuse #packages .product-item .product-image {
    background: #fff;
    border: none;
    padding: 0;
  }
  #packages-clarafuse #packages {
    background: transparent;
    padding: 0;
  }
  #packages-clarafuse a.addtocart.btn{
    margin-top:15px !important;
    max-width: 350px;
  }
  #clarafuse{
    overflow-x: hidden;
  }
  #clarafuse .btn:hover, 
  #clarafuse .btn--secondary:hover, 
  #clarafuse .btn--tertiary:hover, 
  #clarafuse input[type="submit"]:hover{
    background-color:#000 !important;
    color:#fff;
  }
  #clarafuse .main-content {
    margin-top: 0;
  }
  #clarafuse #header-sticky-wrapper.is-sticky #main-menu{
    display:none !important;
  }
  #clarafuse .continue-shopping{
    display:none;
  }
  .clarafuse-list.mob_show{
    display:none;
  }
  #bg-video-clarafuse .mob_banner{
    display:none;
  }
  #packages-clarafuse #packages a.addtocart{
    max-width: 370px;
    margin-top: 12px !important;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 54px;
    line-height: 54px;
  }
  #clarafuse #AddToCartForm #AddToCart:active,
  #clarafuse #AddToCartForm #AddToCart:link{
    background-color:#000;
    color:#fff;
  }
  #clarafuse #AddToCartForm #AddToCart span{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  #clarafuse .img_top{
    position: relative;
    width:100%;
    min-height: 480px;
  }
  #bg-video-clarafuse .wrap_top{
    position: absolute;
    margin-left: 14%;
    top: 5%;
  }
  #ProductPhoto-clarafuse{
    text-align:center;
  }
  #ProductPhoto-clarafuse img#ProductPhotoImg{
    width: 100%;
    max-width: 320px;
  }
  #clarafuse .promo-position{
    z-index:2;
    text-align:center;
  }
  @media screen and (min-width: 1200px) {
    #clarafuse .promo-position {
      top: -60px;
    }
  }
  @media screen and (max-width: 1199px) {
    #bg-video-clarafuse .wrap_top{
    }
    .clarafuse-title h1 span {
      font-size: 15px;
    }
    .clarafuse-title h1 {
      font-size: 30px;
    }
    .clarafuse-sub-title {
      font-size: 42px;
      line-height: 44px;
    }
    .clarafuse-title {
      margin-top: 40px;
    }
    #clarafuse .img_top {
      min-height: 440px;
    }
    .promo-position {
    }
  }
  @media screen and (max-width: 1199px) and (min-width: 992px){
    .promo-position {
      top: -60px;
    }
    .clarafuse-title {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 1060px) {
    #bg-video-clarafuse .wrap_top {
      margin-left: 8%;
    }
  }
  @media screen and (max-width: 991px) {
    #bg-video-clarafuse .wrap_top {
      margin-left: 40px;
      width: 100%;
      max-width: 320px;
    }
    .clarafuse-title h1 {
      font-size: 26px;
    }
    .clarafuse-title h1 span {
      font-size: 13px;
    }
    .clarafuse-sub-title {
      font-size: 34px;
      line-height: 38px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .clarafuse-list {
      margin-top: 20px;
    }
    .clarafuse-list li {
      font-size: 14px;
    }
    #clarafuse .img_top {
      min-height: 400px;
    }
    .promo-position {
      top: -40px;
    }
    .prod_clarafuse {
      position: relative;
    }
    .clarafuse-title {
      margin-top: 20px;
    }
    #clarafuse .main-content{
    }
    .clarafuse-video-play {
      left: 50%;
      top: 50%;
      padding: 33px;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px){
    #promo-clarafuse .item-promo img {
      max-width: 140px;
    }
  }
  @media screen and (max-width: 900px) {
    #clarafuse .img_top {
      min-height: 380px;
    }

    .promo-position {
      top: -30px;
    }
  }
  @media screen and (max-width: 850px) {
    #clarafuse .img_top {
      min-height: 360px;
    }
    .clarafuse-title {
      margin-top: 24px;
    }
    .promo-position {
    }
  }
  @media screen and (max-width: 767px) {
    #popup-extra-product-2 p.des {
      margin: 0 5%;
    }
    #packages-clarafuse #packages a img {
      max-width: 320px;
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
    #packages-clarafuse #packages .container{
      width: 510px;
    }
    .clarafuse-list li {
      font-size: 16px;
    }
    #clarafuse .img_top {
      min-height: 270px;
    }
    .clarafuse-list li span {
      color: #666562;
    }
    .clarafuse-list {
      margin-top: 100px;
    }
    .clarafuse-list.mob_show{
      display:block;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: left;
      padding-left: 20px;
    }
    .clarafuse-list.desk_show{
      display:none;
    }
    #clarafuse .promo-position {
      top: 0;
    }
    #promo-clarafuse .wrap-promo {
      width: 100%;
    }
    .clarafuse-title h1 span {
      font-size: 20px;
      letter-spacing: 5px;
      font-weight: 500;
    }
    .clarafuse-title h1 {
      font-size: 50px;
      letter-spacing: 4px;
    }
    #bg-video-clarafuse .wrap_top {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      padding: 0 50px;
    }

    .clarafuse-sub-title {
      font-size: 43px;
      line-height: 46px;
      letter-spacing: 3px;
      padding-right: 34%;
      margin: 20px 0;

    }
    #bg-video-clarafuse .mob_banner{
      display:block;
    }
    #bg-video-clarafuse .desk_banner{
      display:none;
    }
    .item-promo {
      display: inline-block;
      float: none;
      margin: 0;
      background: #fff;
      width: 23%;
      padding: 0 1%;
    }
    .clarafuse-video-play {
      left: 54%;
      top: 74%;
      padding: 45px;
    }
    #promo-clarafuse {
      padding: 0 15px;
    }
    #ProductPhoto-clarafuse img#ProductPhotoImg {
      max-width: 280px;
    }
    #clarafuse .main-content{
      padding-bottom: 10px;
    }
  }

  @media screen and (max-width: 639px) {
    #popup-extra-product-2 p.des {
      font-size: 22px;
      line-height: 30px;
    }
    #packages-clarafuse #packages a img {
      max-width: 300px;
    }
    #packages-clarafuse #packages .container {
      width: 420px;
    }
    .clarafuse-title h1 {
      font-size: 36px;
    }
    .clarafuse-title h1 span {
      font-size: 15px;
      letter-spacing: 4px;
    }
    .clarafuse-video-play {
      left: 50%;
      top: 78%;
      padding: 34px;
    }
    .clarafuse-sub-title {
      font-size: 34px;
      line-height: 46px;
      letter-spacing: 2px;
      padding-right: 12%;
      margin: 20px 0;
      margin-top: 10px;
    }
    .item-promo h5 {
      font-size: 12px;
    }
    #ProductPhoto-clarafuse img#ProductPhotoImg {
      max-width: 220px;
    }
    #clarafuse #AddToCartForm #AddToCart span {
      font-size: 18px;
    }
    #clarafuse #AddToCartForm #AddToCart {
      max-width: 280px;
    }
  }

  @media screen and (max-width: 479px) {
    #packages-clarafuse #packages a img {
      max-width: 170px;
      margin-top: 20px;
    }
    #packages-clarafuse #packages .container {
      width: 100%;
    }
    #packages-clarafuse #packages a.addtocart {
      font-size: 16px;
      height: 48px;
      max-width: 270px;
      line-height: 48px;
    }
    #bg-video-clarafuse .wrap_top {
      padding: 0 30px;
    }
    .clarafuse-title h1 {
      font-size: 26px;
    }
    .clarafuse-title h1 span {
      font-size: 11px;
    }
    .clarafuse-sub-title {
      font-size: 27px;
      line-height: 32px;
      letter-spacing: 2px;
      padding-right: 6%;
    }
    .clarafuse-video-play {
      left: 50%;
      top: 81%;
      padding: 30px;
    }
    .clarafuse-list.mob_show {
      padding-left: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    #packages-clarafuse a.addtocart.btn{
      font-size: 16px;
    }
  }

  @media screen and (max-width: 380px) {
    #clarafuse #AddToCartForm #AddToCart{
      max-width: 250px;
    }
    #clarafuse #AddToCartForm #AddToCart span {
      font-size: 13px;
      letter-spacing: 3px;
    }
    .clarafuse-title h1 {
      font-size: 24px;
    }
    .clarafuse-title h1 span {
      font-size: 10px;
      letter-spacing: 3px;
    }
  }
  @media screen and (max-width: 359px) {
    #promo-clarafuse {
      padding: 0;
    }
  }
</style>
