{% include 'redirect-product-not-use' %}



{% assign description_second = product.description | split:'[description-second]' | last | split:'[/description-second]' | first %}
{% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
{% assign free_gift = product.description | split:'[free-gift]' | last | split:'[/free-gift]' | first %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="section-header section-header--breadcrumb">
    <div class="container"> 
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          {% include 'breadcrumb' %}
        </div>
      </div>
    </div>
  </div>

  <div class="product-single template-item {{ product.handle }}">
    <div class="container product-single__hero">
      <div class="row">
        <div class="prod-image col-lg-7 col-md-12 col-sm-12 col-xs-12">

          {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}

          <div class="product-single__photos {% if product.images.size > 1 %}hidden-mb{% endif %}" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img class="fade-in lazyload" data-src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            {% if product.handle contains 'advanced' %}
            <div class="best-value">best-value</div>
            {% endif %}
          </div>

          {% if product.images.size > 1 %}

          <div id="ProductThumbs" class="product-single__thumbnails owl-carousel owl-theme">
            {% for image in product.images %}    
            <div class="item">
              <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                <img class="fade-in lazyload" data-src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
              </a>
            </div>
            {% endfor %}
          </div>

          {% endif %}

          {% else %}

          <div class="grid">

            <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
              <img class="fade-in lazyload" data-src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            </div>

            <div class="grid__item one-fifth">
              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {% for image in product.images %}
                <li class="grid__item">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: 'grande' }}" class="product-single__thumbnail">
                    <img class="fade-in lazyload" data-src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>

          {% endif %}

          {% if settings.product_image_zoom_type == 'lightbox' %}
          <ul class="gallery" class="hidden">
            {% for image in product.images %}
            <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
        <div data-prdid="{{product.id}}" class="prod-detail col-lg-5 col-md-12 col-sm-12 col-xs-12">
          {% comment %}
          <h3>{{ product.vendor }}</h3>
          {% endcomment %}
          <p class="meta-text">{{product.metafields.featured.text}}</p>
          <h1 class="prod-item-title" itemprop="name">{{ product.title }}</h1>
          <div class="product-single__prices">
            <h4 class="price {{product.id}}">
              {{ product.price | money }}
              {% if product.compare_at_price > product.price %}
              <span class="cost-price">({{ product.compare_at_price_max | money | remove: '.00' }} value)</span>
              {% endif %}
            </h4>
            <p class="meta-size">{{product.metafields.featured.mililit}}</p>
          </div>
          <div class="reviews_count">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          {%comment%}
          <div class="delivered">
            <span>Delivered in 1-3 business days {% include 'icon-ques' %}</span>
          </div>
          {%endcomment%}
          {% include 'product-form-sets' %}
        </div>
      </div>

      {% include 'product-how-to-use' %}

      {% include 'product-tab' %}

      {% if settings.product_related_enable %}
      {% include 'related-products' %}
      {% endif %}

    </div>
  </div>

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}


<script>

 

    var selectCallback = function(variant, selector) {
      timber.productPage({
        money_format: "{{ shop.money_format }}",
        variant: variant,
        selector: selector,
        translations: {
        add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
        sold_out : "{{ 'products.product.sold_out' | t }}",
        unavailable : "{{ 'products.product.unavailable' | t }}"
      }
                         });
    };

    jQuery(function($) {
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });

      // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
      {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                           {% endif %}

                                           // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                           {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                           $('.selector-wrapper').hide();
      {% endif %}
   
    });
</script>

