{% include 'redirect-product-not-use' %}
{% assign description_second = product.description | split:'[description-second]' | last | split:'[/description-second]' | first %}
{% assign include_content = product.description | split:'[include-content]' | last | split:'[/include-content]' | first %}
{% assign free_gift = product.description | split:'[free-gift]' | last | split:'[/free-gift]' | first %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="section-header section-header--breadcrumb">

  <!-- PDP banner -->
  {% if product.metafields.custom_fields["product_banner_image"] != blank %}
    {% include 'product-banner' %}
  {% endif %}

  </div>

  <!-- value props -->
  {% include 'product-value-props' %}


  <!-- Reviews badge for mobile -->
  {% unless product.handle == 'travel-bag' %}
  <div class="reviews_count review-count-mobile">
  {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
    <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
  {% elsif product.handle == 'silicone-patches-for-face-kit' %}
  <span class="shopify-product-reviews-badge" data-id="7735099465"></span>
  {% elsif product.handle == 'silicone-patches-for-body-kit' %}
  <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
  {% elsif product.handle == 'ultimate-mothers-day-body-face-system' %}
  <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
  {% elsif product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
  <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
  {% elsif product.handle == 'ultimate-body-face-system' %}
  <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
  {% else %}
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  {% endif %}
  </div>
  {% endunless %}

  <div class="product-single template-item {{ product.handle }}">
    <div class="container product-single__hero">

      <div class="product-content row">

      
        <div class="product-img-container">
          <div class="product-img-car">
            {% for image in product.images %}
              <div><img class="car-img" src="{{ image.src | product_img_url: '600x' }}"></div>
            {% endfor %}
          </div>
          <div class="prouct-img-car-thumb">
            {% for image in product.images %}
              <div style="margin: 16px;"><img class="car-img" src="{{ image.src | product_img_url: '88x' }}"></div>
            {% endfor %}
          </div>
        </div>

        <div data-prdid="{{product.id}}" class="prod-detail col-lg-5 col-md-12 col-sm-6 col-xs-12">
          <div class="product-title-wrapp">
            <span class="product-title-eyebrow">
              {% if product.metafields.custom_fields["product_title_eyebrow"] != blank %}
                {{ product.metafields.custom_fields["product_title_eyebrow"] }}
              {% endif %}
            </span>
            <h1 class="prod-item-title" itemprop="name">{{ product.title }}</h1>
          </div>

        
          <div class="product-single__prices">
            <h4 class="price {{product.id}}">
              <span class="current-price">
              {% if product.metafields.subscriptions.subscription_id  %}
                ${{ product.variants[0].metafields.subscriptions.discount_variant_price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
              </span>
              <span class="current-price-value">
              {% if product.metafields.custom_fields["product_price_value"] != blank %}
                {{ product.metafields.custom_fields["product_price_value"] }}
              {% endif %}
              </span>
            </h4>
          </div>
          {% unless product.handle == 'travel-bag' %}
            <div class="reviews_count review-count-desktop">
              {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
                <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
              {% elsif product.handle == 'silicone-patches-for-face-kit' %}
              <span class="shopify-product-reviews-badge" data-id="7735099465"></span>
              {% elsif product.handle == 'silicone-patches-for-body-kit' %}
              <span class="shopify-product-reviews-badge" data-id="7735099273"></span>
              {% elsif product.handle == 'ultimate-mothers-day-body-face-system' %}
              <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
              {% elsif product.handle == 'ultimate-mothers-day-special-pregnancy-patches-face-system-free-gift' %}
              <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>
              {% elsif product.handle == 'ultimate-body-face-system' %}
              <span class="shopify-product-reviews-badge" data-id="3640089608269"></span>

              {% else %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              {% endif %}
            </div>
          {% endunless %}

          {% include 'product-form-v2' %}

          <section id="productValueProps">
            {% assign hide_free_shipping_text_handles = 'forehead-patch, eye-mouth-patches, claraprep, clarasome, claralips, claraline, clarapulse, claratone, exfoliator, travel-bag, simply-floral-50ml' %}
            {% if hide_free_shipping_text_handles contains product.handle %}
			<p>Free Shipping • 30 Day $ Back Guarantee</p>
            {% else %}
            <p>Free Shipping • 30 Day $ Back Guarantee • Free Gift</p>
			{% endif %}
          </section>
          
        </div>
      </div>
      <!-- Zoorix Code -->
      <!-- {% render 'zoorix-product-main' %} -->
      {% render 'zoorix-product-bottom' %}
      <!-- Zoorix End -->

      {% unless product.handle == 'travel-bag' %}
      {% include 'product-tab-v2' %}
      {% endunless %}

      <!-- Reviews -->
      <h3 class="center-text">Reviews</h3>
      {% include 'product-reviews' %}

      <!-- FAQ Section - turn into a section -->
      {% if product.handle == 'clarafuse-patches-for-pregnancy-stretch-marks' %}
      {% include 'product-faq' %}
      {% endif %}

      <!-- New related products snippet -->
      {% include 'related-products-v2' %}

      <!-- New blog snippet -->
      {% include 'product-section-blog' %}

    </div>
  </div>

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<!-- Product image slide -->
<script>
$(document).ready(function(){
  $('.product-img-car').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    fade: true,
    asNavFor: '.prouct-img-car-thumb',
    responsive: [
        {
          breakpoint: 1000,
            settings: {
                // stuff here
            }
        },
        {
          breakpoint: 480,
            settings: {
                // stuff here
            }
        }
      ]
  });
  $('.prouct-img-car-thumb').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    asNavFor: '.product-img-car',
    arrows: false,
    dots: false,
    centerMode: false,
    focusOnSelect: true
  });
});
</script>

<script>
	$(document).ready(function () {
		$("#slide-player-popup").on("finish", function () {
			$("#slide-video-popup .mfp-close").trigger("click");
		});
		$("#slide-player-popup").on("pause", function () {
			//$("#slide-video-popup .mfp-close").trigger("click");
		});
		$('.open-slide-video-popup').magnificPopup({
			fixedContentPos: true,
			fixedBgPos: true,
			disableOn: 0,
			//overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom',
			callbacks: {
				open: function () {
					{% if settings.faq_video_link == blank %}
					StopAllOtherVideos();
					$("#slide-player-popup").attr('src', $("#slide-player-popup").attr('link-src'));
					setTimeout(function () {
						$("#slide-player-popup").vimeo("play");
					}, 700);
					$.magnificPopup.instance.close = function () {
						$("#slide-player-popup").vimeo("stop");
						$.magnificPopup.proto.close.call(this);
					};
					{% endif %}
				}
			}
		});
	});
</script>

<script>
  function openTab(tab){
    $('section.content-tab').hide();
    $('section#'+tab).show();
    $('section#'+tab+' li:first .pointer-open').click();
  }
  $(document).ready(function(){
    $('#tab0').prop("checked", true);
    $(document).on("click touchstart", ".nav-faq label", function () {
      openTab($(this).attr('tab'));
    });
    $(".pointer-open").click(function(){
      $('.pointer-open').removeClass('open'); 
      if(false==$(this).next().is(':visible')){
        $('.content-p').slideUp(300);
        $(this).toggleClass('open');
      }
      $(this).next().slideToggle(300);    
    });
    $(".pointer-open-two").click(function(){
      $('.pointer-open-two').removeClass('open'); 
      if(false==$(this).next().is(':visible')){
        $('.content-p-two').slideUp(300);
        $(this).toggleClass('open');
      }
      $(this).next().slideToggle(300);    
    });
  });
</script>

<script>
$('button#AddToCart').click(function(){
    pintrk('track', 'addtocart', {
      value: {{ product.price | money_without_currency }},
        order_quantity: 1,
        currency: 'USD'
      });
    })

var selectCallback = function(variant, selector) {
    timber.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector,
            translations: {
                add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
                sold_out : "{{ 'products.product.sold_out' | t }}",
                unavailable : "{{ 'products.product.unavailable' | t }}"
            }
    });
};

jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
    {% endif %}
});
  
</script>
<script>
  $(document).ready(function () {
    $(".rc_option__one-time").click(function () {
      $("span.current-price").text('{{ product.price | money }}');
                                   if($('.affirm-as-low-as').length){
        $('.affirm-as-low-as').attr('data-amount',{{ product.price }});
                                    affirm.ui.refresh();
      }
    });
    $(".rc_option__recurring").click(function () {
       {% if product.variants[0].metafields.subscriptions.discount_variant_price %}
       $("span.current-price").text('${{ product.variants[0].metafields.subscriptions.discount_variant_price }}');
                                    if($('.affirm-as-low-as').length){
         $('.affirm-as-low-as').attr('data-amount',({{ product.variants[0].metafields.subscriptions.discount_variant_price }} *100));
         affirm.ui.refresh();
       }
       {% endif %}
    });
  });
</script>



<style>
   <!-- Image slider v2 -->
  .slick-next, .slick-prev {
    z-index: 1;
  }
  .slick-next {
    right: 12px;
  }
  .slick-prev {
    left: 12px;
  }
  .slick-prev:before {
    font-family: "FontAwesome" !important;
    font-size: 28px !important;
    content: "\f053" !important;
    background: #ffffff !important;
    padding: 12px !important;
    margin: -12px !important;
  }
  .slick-next:before {
    font-family: "FontAwesome" !important;
    font-size: 28px !important;
    content: "\f054" !important;
    background: #ffffff !important;
    padding: 12px !important;
    margin: -12px !important;
  }
  .slick-prev:before, .slick-next:before {
    color: #121212;
  }
  .product-img-container {
    width: 100%;
    margin-right: 36px;
  }

  .prouct-img-car-thumb {
    display: none;
  }

  @media screen and (min-width: 968px) {
    .product-img-container {
      max-width: 450px;
    }
    .prouct-img-car-thumb {
      display: unset;
    }
  }
  @media screen and (min-width: 1200px) {
    .product-img-container {
      max-width: 600px;
    }
  }
  .product-img-car {
    margin-bottom: 12px;
  }
  .car-img {
    width: 100%;
  }
/* Global template */
.main-content {
    margin-top: 0px;
}

.section-header--breadcrumb, .section-header {
    margin-bottom: 0px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 12px 0;
  text-transform: uppercase;
}

h3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.product-faq h3 {
  margin-bottom: 12px;
}

p {
  font-size: 13px !important;
}

.product-description-tab, .product-description-tab li span, .product-description-tab p, .product-description-tab ul li, .product-description.rte, .product-description.rte p, .product-single.template-item .product-description.rte, .product-single.template-item .product-description.rte h4, .product-single.template-item .product-description.rte p {
  font-size: 13px;
}

.related-product-wrapp .col-item .product-detail p.colle-description {
  min-height: unset;
}

#footer-top .info li {
  text-align: center;
}

#footer-top .info li i {
  display: inline-block;
  font-size: 13px;
}

#footer-top .site-footer__links li {
  font-size: 13px;
}

#footer-top .site-footer__links li a {
  font-size: 13px;
}

@media screen and (min-width: 768px) {

  #footer-top .site-footer__links li a {
    font-size: 15px;
  }

  #footer-top .info li {
    text-align: unset;
  }

  h1 {
    text-align: unset;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .product-faq h3 {
    margin-bottom: 48px;
  }

  p {
    font-size: 14px !important;
  }

  .product-description-tab, .product-description-tab li span, .product-description-tab p, .product-description-tab ul li, .product-description.rte, .product-description.rte p, .product-single.template-item .product-description.rte, .product-single.template-item .product-description.rte h4, .product-single.template-item .product-description.rte p {
    font-size: 14px;
  }
}

/* PDP banner */

#pdpBanner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 12px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #F0FAFA, #9EFFF7);
}

.pdp-banner-image {
  display: grid;
  order: 2;
}

.pdp-banner-img {
  max-width: 375px;
  width: 100%;
}

.pdp-banner-content {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  order: 1;
  text-align: center;
}

.pdp-banner-content h1 {
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  #pdpBanner {
    display: grid;
    grid-template-columns: 375px 1fr;
  }
  .pdp-banner-image {
    order: 1;
  }

  .pdp-banner-content {
    order: 2;
    justify-items: start;
    align-items: start;
    text-align: unset;
  }
}

/* PDP value prop */

#pdpValueProps {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 90%;
  max-width: 1200px;
  margin: 24px  auto;
  text-transform: uppercase;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pdp-value-prop {
  display: grid;
  padding: 6px 0;
  justify-items: center;
  align-items: center;
  border-top: 0px solid black;
  border-bottom: 1px solid lightgrey;
  color: #5FC8C8;
  font-size: 21px;
}

.pdp-vp-top {
  border-top: 1px solid lightgrey;
}

@media screen and (min-width: 768px) {
   #pdpValueProps {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 24px auto 48px auto;
  }
  .pdp-vp-top {
    border-top: unset;
  }
}

/* Product photos */

#ProductPhoto img {
  height: 343px;
}

.product-single__hero .prod-image #ProductPhoto {
  border: 1px solid #FBEDD1;
}

#ProductThumbs .item {
  border: 1px solid #FBEDD1;
}

#ProductThumbs .active .item {
  border: 1px solid #FBEDD1;
}

#ProductThumbs .item:hover {
  border: 1px solid #FBEDD1;
}

@media screen and (min-width: 768px) {
  #ProductPhoto img {
    height: 545px;
  }
}

@media screen and (min-width: 990px) {
  #ProductPhoto img {
    height: 450px;
  }
}

@media screen and (min-width: 1200px) {
  #ProductPhoto img {
    height: 545px;
  }
}

/* PDP thumbnails */
#ProductThumbs {
  padding: unset;
}

#ProductThumbs .owl-wrapper .owl-item > div, #ProductThumbs .owl-item {
  width: 73px !important;
  height: 73px !important;
  max-width: 73px !important;
  margin-right: 12px;
}

/* Product title & description */

.prod-item-title {
  text-align: unset;
  text-transform: unset;
}

.product-title-eyebrow {
  font-size: 13px;
  font-weight: 700;
  color: #5FC8C8;
  text-transform: uppercase;
}

.current-price-value {
  font-weight: 100;
  font-size: 21px;
  color: grey;
}

/* Product description overides */

.shop-now {
  display: none;
}

.product-title-wrapp {
  padding-right: unset;
}

.product-single__hero .prod-detail {
  margin-top: 3px;
}

.template-item .prod-detail h1 {
  font-size: 21px;
  line-height: 21px;
}

.review-count-mobile {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 13px;
}

.review-count-desktop {
  display: none;
}

#productValueProps p {
  font-size: 11px;
  color: #E38065;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#accordion-product .card {
  border: 1px solid #B6D9D6;
}

#accordion-product .card-header {
  border-bottom: 1px solid #B6D9D6;
}

#accordion-product .card-header h5 button i {
  color: #5FC8C8;
}

#accordion-product .card-header h5 button:hover {
    color: #5FC8C8;
}

@media screen and (min-width: 768px) {
  .product-content {
    margin-bottom: 48px;
  }

  #features-tabs {
    margin-bottom: 48px;
    border: 1px solid #B6D9D6;
  }

  div.tab {
    border-bottom: 1px solid #B6D9D6;
  }

  div.tab button.active {
    border-bottom: 3px solid #5FC8C8;
    color: #5FC8C8;
  }

  div.tab button:hover {
    border-bottom: 3px solid #5FC8C8;
    color: #5FC8C8;
  }

  .review-count-mobile {
    display: none;
  }

  .review-count-desktop {
    display: unset;
  }
}

/* FAQ section styles */
  #page-faq section {
    display: none;
    padding: 0;
    border-top: none;
  }

  #page-faq section#content0{
    display: block;
  }

  #page-faq input {
    display: none;
  }

  #page-faq li label {
    font-size: 16px;
  }

  #page-faq input:checked + label {
    color: #e38065 !important;
  }

  #page-faq .content-tab .content-p {
    display: none;
  }

  #page-faq .content-tab .content-p-two {
    display: none;
    font-size: 14px;
  }

  #page-faq .content-tab .pointer-open,
  #page-faq .content-tab .pointer-open-two {
    cursor:pointer;
  }

  #page-faq .content-tab .pointer-open-two {
    font-size: 26px;
    font-style: italic;
    text-decoration: underline;
  }

/* New FAQ styles */
.product-faq {
  background: #F0FAFA;
  padding: 12px 15px 0px 15px;
  margin: 0 -15px;
}

@media screen and (min-width: 768px) {
  .product-faq {
    margin: unset;
    margin-left: -33.33%;
    margin-right: -33.33%;
    width: unset;
    margin-bottom: 48px;
  }
  .content-tab .page-item ul li h3 {
    font-size: 24px;
  }
  .content-tab .page-item ul li .content-p, .content-tab .page-item ul li .content-p p {
    font-size: 14px;
  }
}

/* subscription widget styles*/

section.rc_container {
  border: 1px solid #E3E3E3;
  margin: 20px 0 25px !important;
  padding: 18px 20px 10px 20px !important;
}

@media screen and (max-width: 369px) {
  #AddToCart {
    width: 177px;
  }
}

@media screen and (min-width: 768px) {
  section.rc_container {
      width: 104% !important;
  }
  #AddToCart {
    width: 575px !important;
  }
}

@media screen and (min-width: 990px) {
  #AddToCart {
    width: 258px !important;
  }
}

input[type="radio" i]:checked:after {
    background-color: #ffa500 !important;
    border: 2px solid white !important;
}

@media screen and (min-width: 1200px) {
    #AddToCart {
      width: 335px !important;
    }
}

.rc_discount_percentage {
  display: none;
}

.rc_option__recurring .rc_select {
  display: none;
}
  .rc_option__recurring.active .rc_select {
  display: block;
}


div.rc_popup {
  display: none;
}

span.rc_label_text, span.rc_one_time_price, span.rc_discount_price {
  font-weight: normal;
  font-size: 14px;
  font-family: 'Poppins',sans-serif !important;
}

label.rc_label {
  display: flex;
  margin: 12px 0 21px 0;
}

input.rc_radio {
  order: 1;
  margin-top: 1px;
  margin-right: 6px;
}

span.rc_label_text {
  order: 3;
}

span.rc_one_time_price, span.rc_discount_price {
  order: 2;
  padding-right: 3px;
}

@media screen and (min-width: 768px) {
  span.rc_label_text, span.rc_one_time_price, span.rc_discount_price {
    font-size: 16px;
  }
  input.rc_radio {
    margin-top: 3px;
  }
}

/* Product What's Included */

.product-what-include p {
  text-transform: unset;
}

.product-what-include strong {
  font-weight: bold;
  text-transform: uppercase;
}
</style>