<!-- Klaviyo Tracking Code -->
{% layout 'theme.new-HA-theme' %}

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<!-- Klaviyo AddToCart Code -->
<script type="text/javascript">
  $(document).ready(function(){
    var _learnq = _learnq || [];
    console.log(document.getElementById("AddToCart"))
    document.getElementById("AddToCart").addEventListener('click',function (){
      _learnq.push(['track', 'Added to Cart', item]);
    });


  })
</script>
<!-- Klaviyo END -->

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_image.width | append: 'x' -%}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {%- endif -%}
  "description": "{{ product.description | strip_html | escape }}",
  {%- if current_variant.sku != blank -%}
    "sku": "{{ current_variant.sku }}",
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": "{{ variant.sku }}",
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : "{{ variant.price | divided_by: 100.00 }}",
        "priceCurrency" : "{{ cart.currency.iso_code }}",
        "url" : "{{ shop.url }}{{ variant.url }}"
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}

  ]
}
</script>


{% section 'new-ha-pdp-section' %}
<div>
{% section 'V2-template-guarantee-logos' %}


{% section 'new-HA-template-steps' %}
{% section 'new-ha-pdp-benefits' %}
{% section 'product-infographic' %}
{% section 'V2-template-reviews' %}
{% section 'new-ha-pdp-related-prds' %}
{% section 'V2-template-faqs' %}

  <a 
     data-currentPrice="{% if product.variants[0].metafields.subscriptions.discount_variant_price %}{{product.variants[0].metafields.subscriptions.discount_variant_price}}{% else %}product.price | money_without_currency{% endif %}" 
     data-orgprice="{{product.price | money_without_currency}}" 
     data-subprice="{{product.variants[0].metafields.subscriptions.discount_variant_price}}" 
     id="AddToCart" 
     data-sticky-checkout class="btn btn-secondary checkout-sticky d-md-none addtocheckout text-uppercase w-100 text-center d-flex justify-content-center" href="" style="position:sticky;bottom: 0; z-index: 999;border-radius: 0;">check out</a>

</div>

{% render 'V2-template-scripts' %}
{% section 'PDP_Upsell_Popup' %}