{% comment %} 
The {{ content_for_header }} in theme.liquid will output the following stylesheet just for this page:
- <link rel="stylesheet" href="/global/search.css" type="text/css">

It has a few helpers in there, but this theme writes its own styles so there
are no dependencies or conflicts. You can ignore that file.

Return only products or pages in results:
- http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
- Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
If you're only showing products with the method above, why not show them off in a grid instead?
Set grid_results to true and see your updated results page for the new layout.
{% endcomment %}
{% assign grid_results = false %}

{% comment %}
Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% if search.performed %}

{% comment %}
Avoid accessing search.results before the opening paginate tag.
If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 10 %}

{% comment %}
We don't have any results to show. Feel free to show off featured products
or suggested searches here.
{% endcomment %}
{% if search.results_count == 0 %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="section-header section-header--large">
        <h1 class="section-header__title h2">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      {% include 'search-bar' %}
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="section-header section-header--large">
        <h2 class="section-header__title h2">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h2>
      </div>
      {% include 'search-bar' %}
    </div>
  </div>
</div>
{% comment %}
Each result template, based on the grid_layout variable above
{% endcomment %}
{% if grid_results == false %}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      {% for item in search.results %}
      {% include 'search-result' %}
      {% endfor %}
    </div>
  </div>
</div>

{% else %}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      {% for item in search.results %}
      {% include 'search-result-grid' %}
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}

{% endif %}

{% if paginate.pages > 1 %}
<div class="text-center">
  {% include 'pagination-custom' %}
</div>
{% endif %}

{% endpaginate %}

{% else %}

{% comment %}
If search.performed is false, someone either accessed the page without
the q parameter, or it was blank.
Be sure to show a search form here, along with anything else you want to showcase.
{% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="section-header section-header--large">
        <h2 class="section-header__title h2">{{ 'general.search.title' | t }}</h2>
      </div>
      {% include 'search-bar' %}
    </div>
  </div>
</div>

{% endif %}

{% else %}
{% include 'respond' %}
{% layout none %}
{% endunless %}
<style>

  h1, h2, h3, h4, h5, h6 {
    font-family: proxima-nova-condensed, sans-serif !important;
    font-style: normal;
    letter-spacing: 1px;
  }
  .main-content {
    margin-top: 30px;
  }
  .input-group.search-bar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .input-group.search-bar .input-group-btn {
    width: 140px;
  }
  .input-group.search-bar .input-group-btn button {
    height: 37px;
    line-height: 37px;
    padding: 0px 10px;
    background: #000;
  }
  .input-group.search-bar .input-group-btn button:hover {
    background: #e38065;
  }


  @media only screen and (max-width: 479px) {
    .input-group.search-bar .input-group-field {
      max-width: 64%;
    }
    .input-group.search-bar .input-group-btn button {
      width: 100px !important;
    }
  }

</style>
